/* stylelint-disable */
.etisalat-enquiry-service-update-wrapper {
  h4.no-results {
    @include font-family-Neotech-roboto();
    font-size: 20px;
    text-align: center;
    line-height: 1.4;
    color: #353738;
    display: none;
  }
  .etisalat-enquiry-service-update {
    padding: 4.5rem 0 3rem 0;
    background: linear-gradient(
      180deg,
      rgba(113, 158, 25, 90%),
      rgba(53, 55, 56, 90%)
    );

    .search-button {
      margin-top: 36px;
    }
    .enquiry-content {
      h2,
      p {
        margin: 0;
        color: $white;
        text-align: center;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 14px;
        text-transform: uppercase;
        margin: 0 0 4px 0;
        letter-spacing: 2px;
        font-weight: bold;
      }
      h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 36px;
      }
    }
    .business-or-people {
      text-align: center;
      margin-bottom: 1rem;
      .radio-wrap {
        display: inline-block;
        margin: 0 2rem;
        label {
          margin: 0 0.25rem;
          display: block;
          border: 0;
          color: #fff;
          font-size: 1.25rem;
          min-height: 32px;
          line-height: 32px;
          &:before {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            width: 32px;
            height: 32px;
            display: block;
            background-size: 32px;
          }
        }
      }
    }
    .search-wrapper {
      .input-group {
        .search-icon {
          width: 15px;
          height: 15px;
          right: initial;
          left: 16px;
          min-height: 15px;
          z-index: 99;
          top: 16px;
        }
        input {
          height: 48px;
          margin-bottom: 26px;
          border-radius: 4px;
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
          background-color: #fff;
          padding-left: 48px;
        }
        .close-icon {
          width: 16px;
          height: 16px;
          position: absolute;
          top: 16px;
          right: 16px;
          z-index: 9;
          transition: all ease 0.3s;
          opacity: 0;
          visibility: visible;
          svg {
            width: 20px;
            height: 20px;
            cursor: pointer;
          }
        }
        &.hasInput {
          .close-icon {
            opacity: 1;
            visibility: visible;
          }
          .search-icon {
            opacity: 0;
            visibility: hidden;
          }
          input {
            padding-left: 16px;
          }
        }
      }
      .input-group {
        display: inherit;
        .input-group-prepend {
          position: absolute;
          left: 10px;
          z-index: 9;
          top: 16px;
        }
      }
      .form-control {
        color: #353738;
        height: 48px;
        padding-left: 16px;
        border-right: none;
        border: 0;
        &:focus {
          border-color: transparent;
          outline: 0;
          box-shadow: none;
        }
      }
    }
    .captcha {
      margin-bottom: 2rem;
      background: $white;
      min-height: 72px;
      border-radius: 4px;
    }
  }

  .etisalat-enquiry-results-block {
    padding: 36px 0 24px;
  }
  .etisalat-enquiry-results-block .etisalat-enquiry-results-wrapper {
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    background: $white;
    margin: 0 0 24px 0;
    border-radius: 7px;
    margin: 0 0 24px 0;
    padding: 24px;
    h4 {
      font-size: 20px;
      margin: 0;
      margin-bottom: 12px;
      color: $almost-black;
    }
    p {
      color: #848484;
      margin: 0;
      font-size: 12px;
    }
  }

  .emergency-numbers-wrapper {
    padding: 3rem 0;

    p,
    h1 {
      text-align: left;
    }
    a {
      text-transform: uppercase;
    }
  }
  .web-story-pagination {
    display: none;

    h3 {
    @include font-family-Neotech-roboto();
      margin-bottom: 48px;
      font-size: 20px;
      text-align: center;
      line-height: 1.4;
      color: #353738;
      display: none;
    }
    @media (max-width: 767px) {
      .pages {
        display: none;
      }
      h3 {
        margin-bottom: 24px;
      }
    }
    .pages-list {
      padding: 0;
      @media (max-width: 767px) {
        svg {
          &.pag_prev,
          &.pag_next {
            display: none;
          }
        }
        float: none !important;
        text-align: center !important;
      }
      svg {
        max-height: 15px;
        max-width: 15px;
        transition: all ease 0.3s;
        &.pag_prev {
          margin-right: 18px;
        }
        &.pag_next {
          margin-left: 18px;
        }

        &.disable {
          display: none;
        }
      }
    }
    .pagination-list {
      margin-bottom: 0;
      li {
        font-size: 16px;
        line-height: 18px;
      }
    }
  }
}
*[lang="ar"] *[dir="rtl"] {
  .etisalat-enquiry-service-update-wrapper {
    .web-story-pagination .pages-list {
      direction: ltr;
      text-align: left;
    }
    .etisalat-enquiry-service-update {
      .search-wrapper .input-group {
        .form-control {
          padding-right: 48px;
          padding-left: 16px;
          &.hasInput {
            input {
              padding-right: 16px !important;
            }
          }
        }
        .search-icon {
          left: initial;
          right: 16px;
        }
        .close-icon {
          right: initial;
          left: 16px;
        }
      }
    }
  }
}
