/* stylelint-disable*/
.billexplainer .non-action-boxes-section {
  @media (max-width: 992px) {
    .media-cta-section {
      .cta-heading {
        font-size: toRem(26);
        text-align: left;
      }
    }
  }
  .heading-mini {
    padding: 0;
    margin: toRem(12) 0;
    font-size: toRem(12) !important;
    letter-spacing: toRem(4);
  }
  .media-cta-container,
  .media-cta-section .media-cta-wrapper.col-reverse
  .media-cta-photo{
    border-radius: 0;
  }
  .media-cta-section {
    padding: toRem(26.4) 0;
    .media-cta-container {
      box-shadow: none;
      background: transparent;
    }
    .media-cta-wrapper {
      .media-cta-photo {
        border-radius: 0;
      }
    }
  }
  .media-cta-wrapper {
    .media-cta-photo {
      @media (max-width: 992px) {
        max-height: toRem(136) !important;
        min-height: toRem(136) !important;
        height: toRem(136) !important;
      }
      height: toRem(302);
    }
    .media-cta-caption,
    > div {
      max-height: toRem(302);
      min-height: toRem(302);
      height: toRem(302);
    }
  }
  .expained-bill-body {
    padding: toRem(60) 0px toRem(60) toRem(60);
    @media (max-width: 992px) {
      padding: toRem(60) 0px toRem(60) toRem(0);
    }
  }
  .mw240 {
    max-width: toRem(240) !important;
    @media (max-width: 992px) {
       max-width: 100%!important;
    }
  }
  .text-left {
      @include rtlBlock() {
          text-align: right;
      }
  }
  .main-text-wst3 {
    margin-top: toRem(32);
  }
}