.billexplainer {
  background-color: hsl(0deg 0% 95% / 33%);

  .row {
    margin: 0 !important;
  }

  .col-xs-12,
  .col-xs-10 {
    padding: 0 !important;
  }

  .non-action-boxes-section {
    background-color: hsl(0deg 0% 95% / 33%);

    .media-cta-section.faq-billing-explainer {
      padding: toRem(40) 0;

      @include respond-to-min($desktop) {
        padding: toRem(64) 0 toRem(48);
      }

      .cmp-image__image {
        max-width: 100%;
        width: auto;
      }

      .heading-mini {
        color: $gray1;
        font-family: Lato, Roboto, Arial, sans-serif;
        font-size: toRem(12) !important;
        font-weight: bold;
        letter-spacing: toRem(4);
        line-height: 19px;
        margin: toRem(12) 0 toRem(6);
        padding: 0;
        text-transform: uppercase;
      }

      .explainer-bill-body {
        padding: 0 0 toRem(60);

        @include respond-to-min($tablet + 1) {
          padding: 0 0 toRem(60) toRem(60);
        }

        @include respond-to-min(1025px) {
          padding: toRem(60) 0 toRem(60) toRem(60);
        }

        .spacer {
          height: 3rem;
        }

        h3 {
          font-size: toRem(26);
          font-weight: 400;
          letter-spacing: 0;
          line-height: toRem(33);
          margin-bottom: 0.5rem;
          margin-top: 0;

          @include respond-to-min($tablet + 1) {
            font-size: 2rem;
            line-height: 1.3;
          }
        }

        p {
          color: $steel-grey;
          font-size: 0.875rem;
          line-height: toRem(24);

          @include respond-to-min-max($desktop-min, $tablet) {
            font-size: 1rem;
          }
        }

        .mw240 {
          width: 100%;

          @include respond-to-min($desktop + 1) {
            max-width: toRem(240);
          }
        }
      }
    }

    .text-left {
      @include rtlBlock() {
        text-align: right;
      }
    }

    .main-text-wst3 {
      margin-top: toRem(32);
    }
  }
}
