<template data-sly-template.threeTileBox="${ @ container,properties}">
   <sly data-sly-set.oneTile="${container.items.size == 1 ? 'col-md-12' : ''}"></sly>
   <sly data-sly-test.twoTile="${container.items.size == 2 ? 'col-md-6' : ''}"></sly>
   <sly data-sly-test.threeTile="${container.items.size >= 3 ? 'col-md-4' : ''}"></sly>
   
	<div class="container">
	   <div class="row">
	      <div class="tile-boxes-section ${container.items.size == 1 ? 'horizontal-tile single-tile' : ''}">
	         <h4 data-sly-test="${properties.tileTitle}">${properties.tileTitle}</h4>
	         <div class="tileBoxMobCarWrap">
	            <div class="tileboxCarousal">
	               <div class="swiper-wrapper">	                  
                     <!-- Slides Start-->
	                  <div class="swiper-slide col-xs-12 ${oneTile}${twoTile}${threeTile}" data-sly-repeat="${container.items}" data-sly-resource="${item.name  @ decorationTagName='div'}"></div>
	                  <!-- Slides End-->	                
	               </div>
	               <div class="table-swiper-scrollbar swiper-scrollbar"></div>
	            </div>
	         </div>
	      </div>
	   </div>
	</div>          
</template>