<template data-sly-template.contextNavCard="${ @ container,properties}">
    <sly data-sly-set.oneCard="${container.items.size == 1 ? 'one-col-static' : ''}"></sly>
    <sly data-sly-set.twoCard="${container.items.size == 2 ? 'two-col-static' : ''}"></sly>
    <sly data-sly-set.threeCard="${container.items.size == 3 ? 'three-col-static' : ''}"></sly>
    <div data-component="cmp-context-navigation-cards">
        <section class="context-navigation more-value ${oneCard} ${twoCard} ${threeCard}">
            <div data-sly-test="${properties.tileTitle || properties.contextNavCardDescription}" class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="content-detail">
                            <h3 data-sly-test="${properties.tileTitle}" class="text-center">${properties.tileTitle}</h3>
                            <div data-sly-test="${properties.contextNavCardDescription}" class="text-center">${properties.contextNavCardDescription @ context='html'}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-cards context-navigation-cards context-navigation-swiper">
                <div class="container">
                    <div class="row row-tiles-table">
                        <div data-sly-unwrap="${oneCard || twoCard || threeCard}" class="${!wcmmode.edit ? 'swiper-container' : '' }">
                            <div data-sly-unwrap="${oneCard || twoCard || threeCard}" class="${!wcmmode.edit ? 'swiper-wrapper' : '' }">
                                <div data-sly-repeat="${container.items}"
                                     data-sly-resource="${item.name  @ decorationTagName=wcmmode.edit ? 'div' : ''}"
                                     class="${!wcmmode.edit ? 'swiper-slide' : ''} col-xs-12 col-sm-6 col-md-4 col-lg-4 bring-value-card-wrapper swiper-slide-active">
								</div>
                            </div>
                            <div data-sly-test="${!wcmmode.edit && container.items.size > 3}" class="table-swiper-scrollbar"></div>
                        </div>
                        <div data-sly-test="${!wcmmode.edit && container.items.size > 3}" class="table-swiper-button-prev">
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <symbol id="hero-image-arrow-left" viewBox="0 0 45 88.83">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                fill: none;

                                                opacity: 1;

                                                stroke-linecap: round;

                                                stroke-linejoin: round;
                                            }
                                        </style>
                                    </defs>
                                    <g id="_03---Hero-image" data-name="03---Hero-image" stroke-width="10">
                                        <g id="_03---Hero-image---Desktop_Bv2" data-name="03---Hero-image---Desktop_Bv2">
                                            <g id="_03---Hero-image-2" data-name="03---Hero-image">
                                                <g id="Arrows">
                                                    <polyline id="Page-1" class="cls-1" points="44.5 88.33 0.5 44.5 44.33 0.5" />
                                                </g>
                                            </g>
                                        </g>
                                    </g>
                                </symbol>
								<use xlink:href="#hero-image-arrow-left"></use>
                            </svg>
                        </div>
                        <div data-sly-test="${!wcmmode.edit && container.items.size > 3}" class="table-swiper-button-next">
                            <svg xmlns="http://www.w3.org/2000/svg">
                                <symbol id="hero-image-arrow" viewBox="0 0 46 89">
                                    <path d="M1.004 1.004l43.996 43.83-43.83 43.996" fill="none" stroke-width="10" />
                                </symbol>
                                <use xlink:href="#hero-image-arrow"></use>
                            </svg>
                        </div>
                    </div>
                </div>
                <div data-sly-test="${properties.contextNavCardLoadMore && container.items.size > 3}" class="view-accessories hidden-md hidden-lg">
                    <a href="#" class="btn btn-default">${properties.contextNavCardLoadMore}</a>
                </div>
            </div>
        </section>
    </div>
</template>
