<template data-sly-template.contextNav="${ @ container,properties}">
<div class="context-navigation-4-0 with-slider">
   <div class="container">
        <div class="swiper-container">
            <div class="swiper-wrapper all-tiles align-middle"> 
         <div class="context-tile swiper-slide" data-sly-repeat="${container.items}" data-sly-resource="${item.name  @ decorationTagName='div'}"></div>
      </div>
	</div>


        <div class="prev">
            <img src="/content/dam/etisalat/header/arrow.svg" />
        </div>
        <div class="next">
            <img src="/content/dam/etisalat/header/arrow.svg" />
        </div>
        <div class="scrollbar swiper-scrollbar"></div>

        <div class="hidden-md hidden-lg hidden-sm">
            <div class="load-more">
                <div class="action">
                    <a href="${properties.contextNavLoadMoreLink}" class="btn btn-default ripple-effect">${properties.contextNavLoadMore}</a>
                </div>
            </div>
        </div>

   </div>
</div>

</template>
