<template data-sly-template.rightArrow="${ @ properties}">
   <!-- Control Arrows for context nav-->
   <div class="next right9 swiper-button-disabled">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
         <g fill="none" fill-rule="evenodd">
            <rect width="48" height="48" fill="#000" fill-rule="nonzero" opacity=".2" rx="24"></rect>
            <g>
               <path d="M0 0H24V24H0z" transform="matrix(-1 0 0 1 36 12)"></path>
               <g stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M.511 5.28L17.462 5.28M5.281 10.369L.5 5.281 5.588.5"
                        transform="matrix(-1 0 0 1 36 12) translate(3 7)"></path>
               </g>
            </g>
         </g>
      </svg>
   </div>
</template>
<template data-sly-template.leftArrow="${ @ properties}">
   <!-- Control Arrows for context nav-->
   <div class="prev left9 swiper-button-disabled">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
         <g fill="none" fill-rule="evenodd">
            <rect width="48" height="48" fill="#000" fill-rule="nonzero" opacity=".2" rx="24"></rect>
            <g>
               <path d="M0 0H24V24H0z" transform="translate(12 12)"></path>
               <g stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M.511 5.28L17.462 5.28M5.281 10.369L.5 5.281 5.588.5"
                        transform="translate(12 12) translate(3 7)"></path>
               </g>
            </g>
         </g>
      </svg>
   </div>
</template>
<template data-sly-template.leftAngle="${ @ properties}">
   <!-- Control Arrows for context nav-->
   <div class="next  r0">
      <svg viewBox="0 0 46 89" width="20.8" height="20.8" fill="none" stroke="#242424" stroke-width="2" class="chevron" stroke-linecap="round"
           stroke-linejoin="round">
           <path d="M1.004 1.004l43.996 43.83-43.83 43.996" fill="none" stroke-width="5"></path>
      </svg>
   </div>
</template>
<template data-sly-template.rightAngle="${ @ properties}">
   <!-- Control Arrows for context nav-->
   <div class="prev  swiper-button-disabled l0 test">
      <svg viewBox="0 0 45 88.83" width="20.8" height="20.8" fill="none" stroke="#242424" stroke-width="2" class="chevron" stroke-linecap="round"
           stroke-linejoin="round">
         <defs>
            <style>.cls-1{fill:none;opacity:1;stroke-linecap:round;stroke-linejoin:round}</style>
         </defs>
         <title>Page 1</title>
         <g id="_03---Hero-image" data-name="03---Hero-image" stroke-width="5">
            <g id="_03---Hero-image---Desktop_Bv2" data-name="03---Hero-image---Desktop_Bv2">
               <g id="_03---Hero-image-2" data-name="03---Hero-image">
               <g id="Arrows">
                  <polyline id="Page-1" class="cls-1" points="44.5 88.33 0.5 44.5 44.33 0.5"></polyline>
               </g>
               </g>
            </g>
         </g>
      </svg>
   </div>
</template>

<template data-sly-template.leftAngleBG="${ @ properties}">
   <!-- Control Arrows for context nav-->
  <div class="prev left0 swiper-button-disabled">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                <g fill="none" fill-rule="evenodd">
                    <g>
                        <g>
                            <g transform="translate(-48 -3043) translate(0 2955) translate(48 88)">
                                <rect width="48" height="48" fill="#E6E6E6" fill-rule="nonzero" opacity=".398" rx="24"></rect>
                                <g stroke="#242424" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                    <path d="M13.125 3.938L7 10.063 0.875 3.938" transform="translate(16 17) rotate(90 7 7)"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
</template>
<template data-sly-template.rightAngleBG="${ @ properties}">
   <!-- Control Arrows for context nav-->
   <div class="next right0">
            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                <g fill="none" fill-rule="evenodd">
                    <g>
                        <g>
                            <g>
                                <g transform="translate(-1344 -3043) translate(0 2955) translate(48 88) rotate(-180 672 24)">
                                    <rect width="48" height="48" fill="#E6E6E6" fill-rule="nonzero" opacity=".398" rx="24"></rect>
                                    <g stroke="#242424" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                        <path d="M13.125 3.938L7 10.063 0.875 3.938" transform="translate(16 17) rotate(90 7 7)"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
</template>