<sly data-sly-use.container="com.adobe.cq.wcm.core.components.models.LayoutContainer">   
   <div class="cmp-tilecontainer"
       data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
       data-placeholder-text="${wcmmode.edit && 'Drag Tile components here' @ i18n}"       
       id="${container.id}">  
      <h4 data-sly-test="${properties.tileBoxLayout == 'mainTextGrid' && properties.tileTitle}">${properties.tileTitle}</h4>   
      <sly data-sly-test="${properties.tileBoxLayout == 'threeTileBox'}"
           data-sly-use.threeTileBoxTemplate="3-tile-boxes.html"
           data-sly-call="${threeTileBoxTemplate.threeTileBox @ container=container,properties=properties}">      
      </sly>
      <sly data-sly-test="${properties.tileBoxLayout == 'fourTileBox'}" 
           data-sly-use.fourTileBoxTemplate="4-tile-boxes.html"
           data-sly-call="${fourTileBoxTemplate.fourTileBox @ container=container,properties=properties}">      
      </sly>
      <sly data-sly-test="${properties.tileBoxLayout == 'mainTextGrid'}" 
           data-sly-use.mainTextGridTemplate="main-text-grid.html"
           data-sly-call="${mainTextGridTemplate.mainTextGrid @ container=container,properties=properties}">      
      </sly>
      <sly data-sly-test="${properties.tileBoxLayout == 'blogpost'}" 
           data-sly-use.blogPostTemplate="blogpost.html"
           data-sly-call="${blogPostTemplate.blogTile @ container=container,properties=properties}">      
      </sly>
	  <sly data-sly-test="${properties.tileBoxLayout == 'context-navigation'}" 
           data-sly-use.contextNavTemplate="context-navigation.html"
           data-sly-call="${contextNavTemplate.contextNav @ container=container,properties=properties}">      
      </sly>
      <sly data-sly-test="${properties.tileBoxLayout == 'non-action-box'}"
           data-sly-use.contextNavTemplate="nonactionboxcontainer.html"
           data-sly-call="${contextNavTemplate.contextNav @ container=container,properties=properties}">
      </sly>
      <sly data-sly-test="${wcmmode.edit}" data-sly-resource="${resource.path @ resourceType='core/wcm/components/container/v1/container/new', appendPath='/*', decorationTagName='div', cssClassName='new section'}" />
   </div>
</sly>