@font-face {
  font-family: Neotech;
  font-weight: 300;
  src: url('../resources/fonts/neotech-light.woff') format('woff');
}

@font-face {
  font-family: Neotech;
  font-weight: 400;
  src: url('../resources/fonts/neotech-regular.woff') format('woff');
}

@font-face {
  font-family: Neotech-medium;
  font-weight: 400;
  src: url('../resources/fonts/neotech-regular.woff') format('woff');
}

@font-face {
  font-family: Neotech;
  font-weight: 900;
  src: url('../resources/fonts/neotech-medium.woff') format('woff');
}
@font-face {
    font-family: 'GE SS Two';
    font-weight: 400;
    font-style: normal;
    src: url('../resources/fonts/ge_ss_two_medium.ttf') format('truetype');
}
@font-face {
  font-family: 'GE SS Two';
    font-weight: 700;
    font-style: normal;
    src: url('../resources/fonts/ge_ss_two_bold.ttf') format('truetype');
}
@font-face {
  font-family: 'GE SS Two';
    font-style: normal;
    font-weight: 300;
    src: url('../resources/fonts/ge_ss_two_light.ttf') format('truetype')
}

