@font-face {
  font-family: 'Neotech';
  font-weight: 300;
  src: url('../resources/fonts/neotech-light.woff') format('woff');
}

@font-face {
  font-family: 'Neotech';
  font-weight: 400;
  src: url('../resources/fonts/neotech-regular.woff') format('woff');
}

@font-face {
  font-family: 'Neotech-medium';
  font-weight: 400;
  src: url('../resources/fonts/neotech-regular.woff') format('woff');
}

@font-face {
  font-family: 'Neotech';
  font-weight: 900;
  src: url('../resources/fonts/neotech-medium.woff') format('woff');
}
@font-face {
    font-family: 'GE SS Two';
    font-weight: 400;
    font-style: normal;
    src: url('../resources/fonts/ge_ss_two_medium.ttf') format('truetype');
}
@font-face {
  font-family: 'GE SS Two';
    font-weight: 700;
    font-style: normal;
    src: url('../resources/fonts/ge_ss_two_bold.ttf') format('truetype');
}
@font-face {
  font-family: 'GE SS Two';
    font-style: normal;
    font-weight: 300;
    src: url('../resources/fonts/ge_ss_two_light.ttf') format('truetype');
}

@font-face {
  font-family: 'GE SS Two';
    font-style: normal;
    font-weight: 300;
    src: url('../resources/fonts/ge_ss_two_light.ttf') format('truetype');
}

@font-face {
  font-family: 'lato-latin-regular';
    font-style: normal;
    font-weight: 300;
    src: url('../resources/fonts/lato-v19-latin-regular.ttf') format('truetype');
}


@font-face {
  font-family: 'lato-latin-regular';
    font-style: normal;
    font-weight: 300;
    src: url('../resources/fonts/lato-v19-latin-regular.eot') format('eot');
}

@font-face {
  font-family: 'lato-latin-regular';
    font-style: normal;
    font-weight: 300;
    src: url('../resources/fonts/lato-v19-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'lato-latin-regular';
    font-style: normal;
    font-weight: 300;
    src: url('../resources/fonts/lato-v19-latin-regular.woff2') format('woff2');
}

// LATO FONT START


@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style: normal;
  src: url('../resources/fonts/Lato-Hairline.ttf') format("truetype");
}

@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style: italic;
  src: url('../resources/fonts/Lato-HairlineItalic.ttf') format("truetype");
}

@font-face {
  font-family: 'Lato';
  font-weight: 200;
  font-style: normal;
  src: url('../resources/fonts/Lato-Thin.ttf') format("truetype");
}

@font-face {
  font-family: 'Lato';
  font-weight: 200;
  font-style: italic;
  src: url('../resources/fonts/Lato-ThinItalic.ttf') format("truetype");
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;
  src: url('../resources/fonts/Lato-Light.ttf') format("truetype");
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: italic;
  src: url('../resources/fonts/Lato-LightItalic.ttf') format("truetype");
}

@font-face {
  font-family: 'Lato';
  font-weight: 500;
  font-style: normal;
  src: url('../resources/fonts/Lato-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Lato';
  font-weight: 600;
  font-style: normal;
  src: url('../resources/fonts/Lato-Semibold.ttf') format("truetype");
}

@font-face {
  font-family: 'Lato';
  font-weight: 600;
  font-style: italic;
  src: url('../resources/fonts/Lato-SemiboldItalic.ttf') format("truetype");
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: normal;
  src: url('../resources/fonts/Lato-Bold.ttf') format("truetype");
}

@font-face {
  font-family: 'Lato';
  font-weight: 700;
  font-style: italic;
  src: url('../resources/fonts/Lato-BoldItalic.ttf') format("truetype");
}

@font-face {
  font-family: 'Lato';
  font-weight: 800;
  font-style: normal;
  src: url('../resources/fonts/Lato-Heavy.ttf') format("truetype");
}

@font-face {
  font-family: 'Lato';
  font-weight: 800;
  font-style: italic;
  src: url('../resources/fonts/Lato-HeavyItalic.ttf') format("truetype");
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: italic;
  src: url('../resources/fonts/Lato-BlackItalic.woff') format("woff");
}
@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: italic;
  src: url('../resources/fonts/Lato-BlackItalic.woff2') format("woff2");
}

*{
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */


	 .container-center{
		 margin: 0 auto!important;   
		 max-width: 100%!important;  
		 width: 1224px!important;    
		 float: none!important;
		 padding: 0 12px!important;
     clear: both!important;
		 @media (min-width: 320px) and (max-width:769px) {
		 padding:0;
		 }
     @media (min-width: 768px) {
       width: 756px!important;
     }
     @media (min-width: 992px) {
        width: 976px!important;
     }
     @media (min-width: 1248px) {
        width: 1224px!important;
     }
 }


 .container-fix__fluid{
  left: 50%!important;
  margin-left: -50vw!important;
  position: relative!important;
  width: 100vw!important;
}

.container-fix__fluid{
  .cmp-container{
  margin: 0 auto;
  width:1224px;
  max-width:100%;
  }
}

.container-fix__width{
max-width: inherit!important;
width: 100vw!important;
position: relative!important;
margin-left: -50vw!important;
left: 50%!important;
}

.background-gray{
  background-color:#F7F8F4;
}

a:focus {
	outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -ms-touch-action: manipulation;
	touch-action: manipulation;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important;
  }
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #719e19;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #618816;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 0px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.6;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0;
  -webkit-transition: all all 0.2s ease-in-out ease-in-out;
  -o-transition: all all 0.2s ease-in-out ease-in-out;
  transition: all all 0.2s ease-in-out ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0;
  border-top: 1px solid #ffffff;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}

.buy-n-get-headings h1, 
.buy-n-get-headings h2,
.buy-n-get-headings h3,
.buy-n-get-headings h4, 
.buy-n-get-headings h5,
.buy-n-get-headings h6,
.wst-main-headings h1,
.wst-main-headings h2,
.wst-main-headings h3,
.wst-main-headings h4, 
.wst-main-headings h5,
.wst-main-headings h6 {
    color: #353738;
    margin: 0;
    font-family: Neotech-medium,GE SS Two,Roboto,Arial,sans-serif;
}



// below code is only to remove crome autofil background color from all input elements
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}