// Etisalat Primary Colors
// --------------------------------

// -- Consumer palette
$dark-green:          #616b1e;
$main-green:          #719e19;
$light-green:         #bee70d;

// -- Business palette
$dark-gray:           #242424;
$dark-sand-brown:     #393c3a;
$moonlight-sand:      #2b2e2c;
$darkest-night:       #151515;
$premium-gray:        #454844;
$dark-green:          #616b1e;
$dark-sage:           #505B4D;

// -- Sand
$sand-white:          #f1f1eb;
$white:               #ffffff;
$sand-white-50:       #f7f8f4;
$light-sand-brown:    #e2e1da;
$yellow1:               #d4af37;

// -- Text Colors
$gray:                #919192;
$almost-black:        #353738;
$cold-gray:           #D1D2D1;
$cold-gray-2:        #d1d1d1;
$grey1:              #6f7273;
$grey2:              #7e7f7f;
$grey3:              #b5b5b5;
$grey4:              #b2b2b2;
$grey5:              #d8d8d8;
$grey6:              #666;
$grey-radio:         #5a5a5a;
$grey-checked:       #949494;
$switch-green:       #84c7c1;
$switch-grey:        #F1F1F1;
$dropdown-grey:      #9e9e9e;

// Etisalat Extended Colors
// --------------------------------
// TODO: define or replace "used but not declared" variables
$sand-brown:          #c1b792;
$sandy-green:         #567a6a;
$yellow:               #ffce00;
$orange:               #ff8100;

$grey-dark-grass:     #2a332f;
$black:               #000000;

$red:                  #b3170c;
$error-red:            #BE1218;
$alert-red:            #fdeeef;
$gray:                 #909192;

// sand brown
$sandy-brown:          #8c7767;
$sandy-green2:         #9fa171;
$sandy-purple:         #9986a1;
$sandy-white:          #dbdad0;
$sand-grey:            #8d8e80;
// grey dark grass
$premium:              #353733;


// End official Etisalt color palette
// --------------------------------


// Used but not declared
// --------------------------------
$texts-gray:           #575757;
$custom-gray:          #333333;
$steel-grey:           #848789;
$light-sand-brown:     #e2e1da;
$white-2:              #e5e5e5;
$warm-gray:            #7a7a7a; //footer nav & less button
$warm-background:      #e4e4df; //breadcrumb
$pink:				   #fb193f; //store-locator
$dark-orange:          #ff8000; //store-locator

$sandy-blue:           #2e3936; //used for brand-info bootstrap's var
$cement:               #9e9f94; // used for buttons
$bland:                #aeaf89; // used for buttons
$gray-close-dropdown:  #9e9d9d; //used in page navi dropdown
$lighty-gray:          #bcbcbc;
$gray-fill:            #6b6b6b;
$silver-top:           #c0c0c0;
$gold-top:             #ffcc00;
$valid-green:          #E3ECD1;
$ligther-gray:         #B2B2B1;
$dark-accordion-gray:  #575956;
$disabled-gray:        #474948;
$business-table-head:  #3a3c3b;
$business-table-ticked:#2c2e2d;
$blue1:                #595783;
$blue2:                #353738;
$blue3:                 #630e92;
$orange1:              #9e5419;
$green1:               #3a4035;

// main-menu and top-nav
$sub-menu-gray:         #ebebeb;
$cart-count-black:      #353738;
$slight-gray:           #edeee6;
$white-gray:            #fbfbfb;
$list-gray:             #9fa0a1;
$light-water-gray:      #e3e5f1;
$nav-black:             #1c1d1e; 
$nav-item-black:        #979797;
$dark-gray2:            #606060;
$white-gray1:           #fafaf4;
$dark-gray:             #6f6c70;
$cust-select:           #ccc;
$select-focus:          #c9f3ef;
$btn-focus:            #2ab7a9;

$gray-primary:          #5A637C;
$green-primary:         #7da830;
$grey-secondary:        #ccd3e6;
$black-secondary:       #2d2f31;
$blue-secondary:        #007aff;
$grey-brass:            #9CA1B0;
$grey-warning:          #ffebd9;
$grey-select:           #aaa;
$green-btn:             #5f8515;
$brown-stroke:          #787878;
$cream-brown:           #e2e2e2;

$padding-base-vertical: 6px;
$padding-base-horizontal: 32px; // 12px

$padding-large-vertical: 12px;
$padding-large-horizontal: 32px;

$padding-small-vertical: 6px;
$padding-small-horizontal: 16px;

$padding-xs-vertical: 1px;
$padding-xs-horizontal: 5px;

$line-height-large: 1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small: 1.5;

$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;

//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding: 8px;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding: 5px;

//** Default background color used for all tables.
$table-bg: transparent;
//** Background color used for `.table-striped`.
$table-bg-accent: #f9f9f9;
//** Background color used for `.table-hover`.
$table-bg-hover: #f5f5f5;
$table-bg-active: $table-bg-hover;

//** Border color for table and cell borders.
$table-border-color: #ddd;
$btn-font-weight: normal;

$btn-default-color: $black;
$btn-default-bg: transparent;
$btn-default-border: $black;

//**Font size
$font11:0.6875rem;
$font12: 0.75rem;
$font14: 0.875rem;
$font16: 1rem;
$font18: 1.125rem;
$font26: 1.625rem;
$font32: 2rem;
$font40: 2.5rem;
$font24: 1.5rem;
$font21: 1.3125rem;
$font20: 1.25rem;
$font28: 1.75rem;
$font10: 0.625rem;
$font30: 1.875rem;
$font64:4rem;

//*Flots
$floatL: left;
$floatR: right;

//*Link Arrow border
$arrow-border : #b2b2b2;

//font color
$paracolor: #767676;

@mixin box-shadow {
    background: $white;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    border-radius: 4px;
  }
@mixin  arrow-after-link{
    border: solid $arrow-border;
    border-width: 0 1px 1px 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    position: absolute;
    right: 0;
    top: 1em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
}


@mixin font-family-lato{
    font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
}

@mixin font-family-lato-withoutge{
    font-family: Lato, Roboto, Arial, sans-serif;
}
@mixin font-family-Neotech{
    font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif;
}

@mixin font-family-Neotech-ge{
    font-family: Neotech-medium, "GE SS Two", Arial, sans-serif;
}

@mixin font-family-Neotech-roboto{
    font-family: Neotech, Roboto, Arial, sans-serif;
}

@mixin font-family-Bariol{
    font-family: Bariol,GE SS Two,Arial,sans-serif;
}

//*Break Points

// 320px — 480px: Mobile devices
@media (max-width: 480px) {}
$screen-sm-max: 480px;

// 481px — 768px: iPads, Tablets
@media (max-width: 768) {}
$screen-md-max: 768px;

// 769px — 1024px: Small screens, laptops
@media (max-width: 1024px) {}
$screen-lg-max: 992px;

// 1025px — 1200px: Desktops, large screens
@media (max-width: 1200px) {}
$screen-xl-max: 1200px;

// 1201px and more —  Extra large screens, TV
@media (max-width: 1201px) {}
$screen-xxl-max: 1201px;

// 320px — 480px: Mobile devices
@mixin sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
 }
 
 // 481px — 768px: iPads, Tablets
 @mixin md {
    @media (max-width: #{$screen-md-max}) {
        @content;
    }
 }
 
 // 769px — 1024px: Small screens, laptops
 @mixin lg {
    @media (max-width: #{$screen-lg-max}) {
        @content;
    }
 }
 
// 1201px and more —  Extra large screens, TV
 @mixin xl {
    @media (max-width: #{$screen-xl-max}) {
        @content;
    }
 }

 @mixin xxl {
    @media (max-width: #{$screen-xxl-max}) {
        @content;
    }
 }

//common property for image
 @mixin context-nav-img{
    background-repeat: no-repeat;
    height: 4rem;
    width: 4rem;
    display: block;
    margin: auto;
    margin-top: 15px;
 }

@mixin box-shadow {
    background: $white;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    border-radius: 4px;
  }

@mixin  link-arrow{
    border: solid $arrow-border;
    border-width: 0 1px 1px 0;
    content: '';
    display: inline-block;
    height: 0.45em;
    left: 9rem;
    position: relative;
    top: 0.6em;
    transform: rotate(-45deg);
    vertical-align: top;
    width: 0.45em;
}


@mixin font-family-lato{
    font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
}

@mixin font-family-Neotech{
    font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif;
}

@mixin font-family-Neotech-ge{
    font-family: Neotech-medium, "GE SS Two", Arial, sans-serif;
}

@mixin font-family-Neotech-roboto{
    font-family: Neotech, Roboto, Arial, sans-serif;
}

@mixin font-family-Bariol{
    font-family: Bariol,GE SS Two,Arial,sans-serif;
}


//common property for image
 @mixin context-nav-img{
    background-repeat: no-repeat;
    height: 4rem;
    width: 4rem;
    display: block;
    margin: auto;
    margin-top: 15px;
 }


//common css for btn
@mixin primary-btn{
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    color: #353738;
    background-color: #fff;
    text-align: center;
    padding: 0 .5rem;
    border-radius: 4px;
    border-width: 1px;
    width: 100%;
    border-color: #151515;
    outline: 0;
    font-weight: 700;
}
 @mixin secondary-button{
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    text-align:center;
    padding: 0 .5rem;
    border-radius: 4px;
    border-width: 1px;
    width: 100%;
    outline: 0;
    font-weight: 700;
    line-height: 3rem;
    letter-spacing: .14285714em;
	display:inline-block;
	width:25%;
}

.gutter{
  padding-right:0.75rem;
}

.gutter{margin-bottom:0.25rem;}
.error--serious {
  @extend .error;
  border-width: 3px;
}

