/* stylelint-disable*/
/* custom overrides for comparison - css starts */
a,
a:hover {
  text-decoration: none;
}

*,
:after,
:before {
  box-sizing: border-box;
}
.search-4-0 .form .search-field .search-input {
  font-family: inherit;
}
.footer {
  margin-top: 0;
}
.container .column {
  float: inherit;
}

.container {
    padding: 0
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}

body,html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.open-accessibility-popup {
	display:none !important;
}


.form input:not([type]),
.form input[type="email"]:not(.browser-default),
.form input[type="password"]:not(.browser-default),
.form input[type="tel"]:not(.browser-default),
.form input[type="text"]:not(.browser-default) {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #b2b2b2;
  border-radius: 0;
  box-shadow: none;
  box-sizing: content-box;
  color: #353738;
  font-size: 1.25rem;
  height: 2.5rem;
  margin: 0;
  outline: none;
  padding: 0;
  position: relative;
  transition: border 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 0.3s;
  width: 100%;
  z-index: 1;
}

.form input:not([type]):focus:not([readonly]),
.form input[type="email"]:not(.browser-default):focus:not([readonly]),
.form input[type="tel"]:not(.browser-default):focus:not([readonly]),
.form input[type="text"]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid #719e19;
  box-shadow: 0 0 0 0 #719e19;
  transform-origin: 0 0;
  z-index: 0;
}


/* custom overrides for comparison - css ends */