/* stylelint-disable*/
/* custom overrides for comparison - css starts */
a,
a:hover {
  text-decoration: none;
}

*,
:after,
:before {
  box-sizing: border-box;
}
.search-4-0 .form .search-field .search-input {
  font-family: inherit;
}
.footer {
  margin-top: 0;
}
.container .column {
  float: inherit;
}
/* custom overrides for comparison - css ends */