<template data-sly-template.hero="${ @ carousel,properties}">
  <div data-component="cmp-hero-images" id="${carousel.id}" 
       data-sly-use.model="com.etisalat.core.models.HeroLinkSection"        
       class="hero-links-add testimonials ${!wcmmode.edit ? 'swiper-container hero-image-section hero-images-variation hero-image' : ''} 
       ${properties.heroImageInnerPageView ? '' : 'hr-landing-section'} 
       ${model.heroLinkSectionList.size > 0 ? '' : 'medium'} 
       ${carousel.items.size > 1 ? '' : 'destryeMe'}
       ${!properties.heroImageInnerPageView && model.heroLinkSectionList.isEmpty  ? 'hero-video' : ''}">
    <div class="${!wcmmode.edit ? 'swiper-wrapper' : ''} hero-links-menu">
      <div role="tabpanel" data-sly-repeat.item="${carousel.items}" 
           data-sly-resource="${item.name @ decorationTagName=''}" 
           id="${item.id}-tabpanel" 
           aria-labelledby="${item.id}-tab" 
           aria-roledescription="slide" 
           aria-label="${'Slide {0} of {1}' @ format=[itemList.count, carousel.items.size], i18n}" 
           class="swiper-slide bg-dark"></div>
    </div>
    
    <div data-sly-test.mylist="${model.heroLinkSectionList}" class="container links-wrapper">
      <div class="row">
        <div class="col-xs-12">
          <!--hero quick links start -->
          <div class="hero-links-secton show-hide show-span">
            <div class="container-fluid">
              <div class="row">
                <div class="col-xs-12">
                  <ul data-sly-list.child="${mylist}">
                    <li>
                      <a href="${child.iconLink}" target="${child.linkTarget}">
                        <img data-sly-test="${child.iconImage}" alt="${child.iconText}" src="${child.iconImage}">
                        <span data-sly-test="${child.iconText}">${child.iconText}</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!--hero quick links ends -->
        </div>
      </div>
    </div>
    
     <!--hero quick links start -->
      <div data-sly-use.model="com.etisalat.core.models.HeroLinkSection" 
           data-sly-test.mylist="${model.heroLinkSectionList}" class="hero-links-secton show-hide show-span">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-12">
              <ul data-sly-list.child="${mylist}">
                <li>
                  <a href="${child.iconLink}" target="${child.linkTarget}">
                    <img alt="${child.iconText}" src="${child.iconImage}">
                    <span>${child.iconText}</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!--hero quick links ends -->
    
    <!-- Add Pagination -->
    <div class="swiper-pagination hidden-md hidden-lg"></div>
    <!-- End - swiper-pagination-custom -->
    <!-- Start - hero-swiper-buttons -->
    <div class="hero-swiper-button hero-swiper-button-prev">
      <svg id="hero-image-arrow-img-prev" viewBox="0 0 45 88.83">
        <defs>
          <style>
            .cls-1 {
              fill: none;
              opacity: 1;
              stroke-linecap: round;
              stroke-linejoin: round
            }
          </style>
        </defs>
        <title>Page 1</title>
        <g id="_03---Hero-image" data-name="03---Hero-image" stroke-width="10">
          <g id="_03---Hero-image---Desktop_Bv2" data-name="03---Hero-image---Desktop_Bv2">
            <g id="_03---Hero-image-2" data-name="03---Hero-image">
              <g id="Arrows">
                <polyline id="Page-1" class="cls-1" points="44.5 88.33 0.5 44.5 44.33 0.5"></polyline>
              </g>
            </g>
          </g>
        </g>
      </svg>
    </div>
    <div class="hero-swiper-button hero-swiper-button-next">
      <svg id="hero-image-arrow-img-next" viewBox="0 0 46 89">
        <path d="M1.004 1.004l43.996 43.83-43.83 43.996" fill="none" stroke-width="10"></path>
      </svg>
    </div>
    <!-- End - hero-swiper-buttons -->
  </div>
</template>