<template  data-sly-template.gridtile="${ @ tileModel,properties,imageViewportModel}">
    <sly data-sly-test="${properties.tileLinkBehavior != 'openmodalwindow' && properties.tileLinkBehavior != 'youtubemodalwindow'}">
        <a href="${tileModel.tileCTALinkSameWindow}"
           class="link-cover"
           target="${properties.tileLinkBehavior == 'opennewwindow'?'_blank':'_self'}"></a>
    </sly>
    <sly data-sly-test="${properties.tileLinkBehavior == 'youtubemodalwindow'}">
        <!-- Modal start -->
        <a href="#" class="youtube-video-link tileBoxVideoLink"></a>
        <div class="youtube-popup-container modal fade tileBoxVideoModal" id="mediaCtaVideo_1" role="dialog"
             style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <iframe width="560" height="315"
                            src="${properties.tileyoutubelink}" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen="">
                    </iframe>
                </div>
            </div>
        </div>
        <!-- Modal end -->
    </sly>
    <div class="box-img" data-sly-test="${imageViewportModel.sixViewportContent || imageViewportModel.fourViewportContent || imageViewportModel.threeViewportContent || properties.fileReference}">
        <div class="cover" data-sly-test="${properties.viewPortLayout != '1-viewport'}">
            <sly data-sly-resource="${resource @ resourceType='etisalat/components/imageetisalatviewport'}"></sly>
        </div>
        <sly data-sly-test="${properties.viewPortLayout == '1-viewport'}" data-sly-resource="${resource @ resourceType='etisalat/components/imageetisalatviewport'}"></sly>
    </div>
    <div class="box-content">
        <div data-sly-test="${tileModel.tiletitle}"class="wst-main-headings">
            <h5 data-sly-element="${properties.titleType}">${tileModel.tiletitle}</h5>
        </div>
        <div data-sly-test="${tileModel.text}" class="paragraph-styling">
            <div class="p2">${tileModel.text @ context='html'}</div>
        </div>
        <sly data-sly-test="${properties.tileLinkBehavior != 'openmodalwindow' && properties.tileLinkBehavior != 'youtubemodalwindow'}">
            <div data-sly-test="${tileModel.ctatext}" class="third-action-wrapper action-link">
                <a href="${tileModel.tileCTALinkSameWindow}"
                   class="link"
                   target="${properties.tileLinkBehavior == 'opennewwindow'?'_blank':'_self'}"
                   title="${tileModel.ctatext}">${tileModel.ctatext}</a>
            </div>
        </sly>
        <sly data-sly-test="${properties.tileLinkBehavior == 'youtubemodalwindow'}">
            <div data-sly-test="${tileModel.ctatext}" class="third-action-wrapper action-link">
                <a href="#" class="link" title="${tileModel.ctatext}">${tileModel.ctatext}</a>
            </div>
        </sly>
        <sly data-sly-test="${properties.tileLinkBehavior == 'openmodalwindow'}"
             data-sly-use.tileModalTemplate="tilemodal.html"
             data-sly-call="${tileModalTemplate.modal @ tileModel=tileModel,properties=properties,resource=resource,wcmmode=wcmmode}">
        </sly>
    </div>
</template>
