/* stylelint-disable*/
.icon-with-description-2-0 {
  @media (min-width: $screen-md-min) {
    padding: 64px 0;
  }

  overflow: hidden;
  padding: 48px 0;
  position: relative;
  z-index: 0;

  .container {
    @media (max-width: $screen-md-min) {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  .ed-headings-2-0 {
    text-align: start;
  }

  .ed-subheadings-2-0 {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 16px;
    }
  }

  .icons-wrapper {
    @media (min-width: $screen-md-min) {
      margin: 0 -12px;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

    .content-wrapper {
      @media (min-width: $screen-md-min) {
        padding: 48px 12px 0;
      }

      display: flex;
      flex-direction: column;
      padding: 24px 0;

      .icons {
        align-items: center;
        display: flex;
        height: 48px;
        margin-bottom: 8px;
        overflow: hidden;
        width: 48px;

        .cover {
          position: static;
        }

        svg,
        img {
          height: 100%;
          width: 100%;
        }
      }

      .more-btn {
        background-color: $incRed;
        border-radius: 3px;
        color: $white;
        height: 32px;
        line-height: 32px;
        margin-top: 16px;
        max-width: 60px;
        padding: 0 10px;
        text-align: center;
      }
    }

    &.bg-dark,
    &.bg-maroon {
      .content-wrapper {
        .icons {
          svg {
            g,
            path,
            line,
            polygon,
            polyline,
            circle,
            ellipse,
            rect {
              stroke: $white;
            }
          }
        }
      }
    }

    &.icons-3columns {
      .content-wrapper {
        @media (min-width: $screen-md-min) {
          width: 50%;
        }

        @media (min-width: $screen-lg-min) {
          width: 33.3333%;
        }

        width: 100%;
      }
    }

    &.icons-4columns {
      .content-wrapper {
        .ed-subheadings-2-0 {
          h1,
          h2,
          h3,
          h4,
          h5,
          h6 {
            @media (min-width: $screen-md-min) {
              height: 60px;
              overflow: hidden;
            }
          }
        }

        @media (min-width: $screen-md-min) {
          width: 50%;
        }

        @media (min-width: $screen-lg-min) {
          width: 25%;
        }

        width: 100%;
      }
    }
  }

  &.c-center {
    text-align: center;

    .content-wrapper {
      .icons {
        margin: 0 auto 8px;
      }

      .ed-subheadings-2-0,
      .ed-paragraph-2-0 {
        display: block;
        text-align: center;
      }

      .more-btn {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
