<template data-sly-template.verticalcardicon="${ @ properties,imageViewportModel,tileModel}">
    <div class="tile-box-tile">
        <div class="img-cover" data-sly-test="${imageViewportModel.sixViewportContent || imageViewportModel.fourViewportContent || imageViewportModel.threeViewportContent || properties.fileReference}">
            <div class="cover" data-sly-test="${properties.viewPortLayout != '1-viewport'}">
                <sly data-sly-resource="${resource @ resourceType='etisalat/components/imageetisalatviewport'}"></sly>
            </div>
            <sly data-sly-test="${properties.viewPortLayout == '1-viewport'}" data-sly-resource="${resource @ resourceType='etisalat/components/imageetisalatviewport'}"></sly>
        </div>

        <div class="tile-box-body">
            <div data-sly-test="${properties['qrimage/fileReference']}" class="${!wcmmode.edit ? 'collapse-icon' : 'editor-svg-class'}">
                <div data-sly-resource="${tileModel.qrImageResource @ resourceType='core/wcm/components/image/v2/image', wcmmode='disabled'}"></div>
            </div>
            <div class="ed-subheadings-2-0">
                <h6 data-sly-test="${properties.tiletitle}" data-sly-element="${properties.titleType}">${properties.tiletitle}</h6>
            </div>
            <div class="ed-paragraph-2-0">
                <div data-sly-set.textStyle="${!properties.textStyle || properties.textStyle == '' ? 'p3' : properties.textStyle}" class="${textStyle}">
                    ${properties.text @ context='html'}
                </div>
            </div>
            <div data-sly-set.ctaLearnMoreClass="${!wcmmode.edit ? 'ed-learnmore-wrapper' : ''}"
                 data-sly-set.ctaButtonClass="${!wcmmode.edit ? 'ed-buttons-wrapper' : ''}" 
                 data-sly-test="${properties.ctalabel}" 
                 class="${properties.ctaStyle == 'learn-more-btn' ?  ctaLearnMoreClass : ctaButtonClass}">
                <sly data-sly-test.customLink="${properties.ctalink}" data-sly-use.commonlinkmodel="${'com.etisalat.core.models.CommonLinkModel' @link=customLink}"/>
                <a class="${properties.ctaStyle}"
                   href="${commonlinkmodel.link}"
                   target="${properties.linkBehavior == 'opennewwindow' ? '_blank' : '_self'}">
                    ${properties.ctalabel}
                </a>
            </div>
        </div>
    </div>
</template>