//== Font
$font-family: "Cabin", sans-serif;
$font-size: 16px;
$font-height: 1.2;
// Normal mode
$color-link: #452769;
$font-color: #726a84;
$title-color: #fb397d;
$white-color: #fff;
$blue-color: #5b32b4;
$purple: #452769;
$grey-color: #f5f9fc;
$pink-color: #db4f74;
$black: #000;
$shade-pink: #eb6ca3;
$off-white: #ced4da;
$shade-white: #eff2f6;
$shade-grey: #47425d;
$shade-gray: #495057;
$shade-blue: #80bdff;
$shade-purple2: #5e9ed6;
$dark-gray: #242424;
$dark-sand-brown: #393c3a;
$moonlight-sand: #2b2e2c;
$darkest-night: #151515;
$premium-gray: #454844;
$dark-green: #616b1e;
$dark-sage: #505b4d;
$white: #ffffff;
// -- Text Colors
$gray: #919192;
$almost-black: #353738;
$cold-gray: #d1d2d1;
$cold-gray-2: #d1d1d1;
$grey1: #6f7273;
$grey2: #7e7f7f;
$grey3: #b5b5b5;
$grey4: #b2b2b2;
$grey5: #d8d8d8;
$grey6: #666;
$grey-radio: #5a5a5a;
$grey-checked: #949494;
$switch-green: #84c7c1;
$switch-grey: #f1f1f1;
$dropdown-grey: #9e9e9e;
$sand-brown: #c1b792;
$sandy-green: #567a6a;
$yellow: #ffce00;
$orange: #ff8100;
$grey-dark-grass: #2a332f;
$black: #000000;
$red: #b3170c;
$error-red: #be1218;
$alert-red: #fdeeef;
$gray: #909192;
$texts-gray: #575757;
$custom-gray: #333333;
$steel-grey: #848789;
$light-sand-brown: #e2e1da;
$white-2: #e5e5e5;
$warm-gray: #7a7a7a; //footer nav & less button
$warm-background: #e4e4df; //breadcrumb
$pink: #fb193f; //store-locator
$dark-orange: #ff8000; //store-locator
$sandy-blue: #2e3936; //used for brand-info bootstrap's var
$cement: #9e9f94; // used for buttons
$bland: #aeaf89; // used for buttons
$gray-close-dropdown: #9e9d9d; //used in page navi dropdown
$lighty-gray: #bcbcbc;
$gray-fill: #6b6b6b;
$silver-top: #c0c0c0;
$gold-top: #ffcc00;
$valid-green: #e3ecd1;
$ligther-gray: #b2b2b1;
$dark-accordion-gray: #575956;
$disabled-gray: #474948;
$business-table-head: #3a3c3b;
$business-table-ticked: #2c2e2d;
$blue1: #595783;
$blue2: #353738;
$blue3: #630e92;
$orange1: #9e5419;
$green1: #3a4035;
$shade-off-white2: #f4f4f4;
// main-menu and top-nav
$sub-menu-gray: #ebebeb;
$cart-count-black: #353738;
$slight-gray: #edeee6;
$white-gray: #fbfbfb;
$list-gray: #9fa0a1;
$light-water-gray: #e3e5f1;
$nav-black: #1c1d1e;
$nav-item-black: #979797;
$dark-gray2: #606060;
$white-gray1: #fafaf4;
$dark-gray: #6f6c70;
$cust-select: #ccc;
$select-focus: #c9f3ef;
$btn-focus: #2ab7a9;
$gray-primary: #5a637c;
$green-primary: #7da830;
$grey-secondary: #ccd3e6;
$black-secondary: #2d2f31;
$blue-secondary: #007aff;
$grey-brass: #9ca1b0;
$grey-warning: #ffebd9;
$grey-select: #aaa;
$green-btn: #5f8515;
$brown-stroke: #787878;
$cream-brown: #e2e2e2;
//paddings
$padding-base-vertical: 6px;
$padding-base-horizontal: 32px;
$padding-large-vertical: 12px;
$padding-large-horizontal: 32px;
$padding-small-vertical: 6px;
$padding-small-horizontal: 16px;
$padding-small: 15px;
$padding-xs-vertical: 1px;
$padding-xs-horizontal: 5px;
//Line heights
$line-height-large: 1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small: 1.5;
//Border raduis
$border-radius-base: 0px;
$border-radius-large: 0px;
$border-radius-small: 0px;
$sixty-padding: 60px;
$twenty-two-padding: 22px;

//== Tables
//## Customizes the `.table` component with basic values, each used across all table variations.
//** Padding for `<th>`s and `<td>`s.
$table-cell-padding: 8px;
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding: 5px;
//** Default background color used for all tables.
$table-bg: transparent;
//** Background color used for `.table-striped`.
$table-bg-accent: #f9f9f9;
//** Background color used for `.table-hover`.
$table-bg-hover: #f5f5f5;
$table-bg-active: $table-bg-hover;

//** Border color for table and cell borders.
$table-border-color: #ddd;
$btn-font-weight: normal;
//Button styles
$btn-default-color: $black;
$btn-default-bg: transparent;
$btn-default-border: $black;

//**Font size
$font1: 0.06rem;
$font2: 0.13rem;
$font4: 0.3rem;
$font6: 0.375rem;
$font10: 0.65rem;
$font11: 0.6875rem;
$font12: 0.75rem;
$font13: 0.8125rem;
$font14: 0.875rem;
$font15: 0.9375rem;
$font16: 1rem;
$font17: 1.0625rem;
$font18: 1.125rem;
$font19: 1.1875rem;
$font23: 1.4375rem;
$font26: 1.625rem;
$font32: 2rem;
$font36: 2.25rem;
$font40: 2.5rem;
$font45: 2.8125rem;
$font24: 1.5rem;
$font25: 1.5625rem;
$font21: 1.3125rem;
$font20: 1.25rem;
$font28: 1.75rem;
$font10: 0.625rem;
$font30: 1.875rem;
$font64: 4rem;
$font50: 3.125rem;
$font80: 5rem;
$font160: 10rem;
$font100: 6.25rem;
$font800: 50rem;
$font1140: 71.25rem;

//*Floats
$floatL: left;
$floatR: right;
//Font weights
$font-weight3: 300;
$font-weight5: 500;

@mixin respond-to-max($width) {
    @media screen and (max-width: $width) {
        @content;
    }
}
@mixin respond-to-min($width) {
    @media screen and (min-width: $width) {
        @content;
    }
}

//sm
$phone:             576px;
//md
$tablet:            768px;
//lg
$desktop:           992px;
//xl
$desktop-wide:      1200px;
