.billing-report-section{
  padding-bottom: 5rem;
  @media (max-width: 768px) {
    padding: 1.6rem;
  }
  p{
    @include font-family-lato;
    &.paragraph{
      letter-spacing: .2px;
      font-size: 16px;
      color: inherit;
    }
  }
  a{
    &.link{
      letter-spacing: 3px;
      padding: 0px !important;
      margin: 0px !important;
      border:none !important;
      &::before{
        display: none !important;
        border:none !important;
      }
      &::after{
        display: none !important;
      }
    }
  }

  .billing-report-card{
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    border: 2px solid #ddd;
    height: 1315px;
    width: 100%;
    display: block;
    overflow: hidden;
    z-index:9;
    background: #FFF;
    margin-bottom: 40px;
    padding-left:15px;
    padding-right: 15px;
    @media screen and (min-width: 768px) {
       padding:0;
    }
    @media screen and (min-width: 992px) {
      padding:0;
    }
    &.billing-report-card-usage{
      // height: 1100px;
      @media (max-width: 1024px) {
        height: 875px;
      }
      @media (max-width: 768px) {
        height: 1250px;
      }
      @media (max-width: 767px) {
        height: 775px;
      }
    }
    // @media (max-width: 1440px) {
    //   height:1180px;
    // }

    // @media (max-width: 768px) {
    //     height:1115px;
    // }

    // @media (max-width: 767px) {
    //     height:775px;
    // }

    // @media (max-width: 420px) {
    //     height:490px;
    // }

    // @media (max-width: 375px) {
    //     height:430px;
    // }
  }
}
@media (max-width: 1440px) {
    .section-exp-1 .billing-report-section .billing-report-card {
        height:1180px
    }
}

@media (max-width: 768px) {
    .section-exp-1 .billing-report-section .billing-report-card {
        height:1115px
    }
}

@media (max-width: 767px) {
    .section-exp-1 .billing-report-section .billing-report-card {
        height:775px
    }
}

@media (max-width: 420px) {
    .section-exp-1 .billing-report-section .billing-report-card {
        height:490px
    }
}

@media (max-width: 375px) {
    .section-exp-1 .billing-report-section .billing-report-card {
        height:430px
    }
}

@media (max-width: 1440px) {
    .section-exp-1 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:1300px;
    }
}

@media (max-width: 768px) {
    .section-exp-1 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:1115px;
    }
}

@media (max-width: 767px) {
    .section-exp-1 .billing-report-section .billing-report-card.billing-report-card-usage {
        // height:775px;
        height: 1150px;
    }
}

@media (max-width: 420px) {
    .section-exp-1 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:490px
    }
}

@media (max-width: 375px) {
    .section-exp-1 .billing-report-section .billing-report-card.billing-report-card-usage {
        // height:430px;
        height:500px;
    }
}

@media (max-width: 1440px) {
    .section-exp-2 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:1150px;
    }
}

@media (max-width: 768px) {
    .section-exp-2 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:890px
    }
}

@media (max-width: 767px) {
    .section-exp-2 .billing-report-section .billing-report-card.billing-report-card-usage {
        // height:775px;
        height:890px;
    }
}

@media (max-width: 420px) {
    .section-exp-2 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:467px
    }
}

@media (max-width: 375px) {
    .section-exp-2 .billing-report-section .billing-report-card.billing-report-card-usage {
        // height:420px;
         height:500px;
    }
}

@media (max-width: 1440px) {
    .section-exp-3 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:1150px
    }
}

@media (max-width: 768px) {
    .section-exp-3 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:890px;
    }
}

@media (max-width: 767px) {
    .section-exp-3 .billing-report-section .billing-report-card.billing-report-card-usage {
        // height:775px;
        height: 880px;
    }
}

@media (max-width: 420px) {
    .section-exp-3 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:467px;
    }
}

@media (max-width: 375px) {
    .section-exp-3 .billing-report-section .billing-report-card.billing-report-card-usage {
        // height:420px;
         height:500px;
    }
}

@media (max-width: 1440px) {
    .section-exp-4 .billing-report-section .billing-report-card {
        // height:1100px
    }
}

@media (max-width: 768px) {
    .section-exp-4 .billing-report-section .billing-report-card {
        height:890px
    }
}

@media (max-width: 767px) {
    .section-exp-4 .billing-report-section .billing-report-card {
        height:775px
    }
}

@media (max-width: 420px) {
    .section-exp-4 .billing-report-section .billing-report-card {
        height:467px
    }
}

@media (max-width: 375px) {
    .section-exp-4 .billing-report-section .billing-report-card {
        height:410px
    }
}

@media (max-width: 1440px) {
    .section-exp-4 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:1100px
    }
}

@media (max-width: 768px) {
    .section-exp-4 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:890px
    }
}

@media (max-width: 767px) {
    .section-exp-4 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:775px
    }
}

@media (max-width: 420px) {
    .section-exp-4 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:467px
    }
}

@media (max-width: 375px) {
    .section-exp-4 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:410px
    }
}

@media (max-width: 1440px) {
    .section-exp-5 .billing-report-section .billing-report-card {
        height:1040px
    }
}

@media (max-width: 768px) {
    .section-exp-5 .billing-report-section .billing-report-card {
        height:990px
    }
}

@media (max-width: 767px) {
    .section-exp-5 .billing-report-section .billing-report-card {
        height:775px
    }
}

@media (max-width: 420px) {
    .section-exp-5 .billing-report-section .billing-report-card {
        height:467px
    }
}

@media (max-width: 375px) {
    .section-exp-5 .billing-report-section .billing-report-card {
        height:420px
    }
}

@media (max-width: 1440px) {
    .section-exp-5 .billing-report-section .billing-report-card.billing-report-card-usage {
        // height:1040px
    }
}

@media (max-width: 768px) {
    .section-exp-5 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:990px
    }
}

@media (max-width: 767px) {
    .section-exp-5 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:775px
    }
}

@media (max-width: 420px) {
    .section-exp-5 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:467px
    }
}

@media (max-width: 375px) {
    .section-exp-5 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:420px
    }
}

@media (max-width: 420px) {
    .billing-report-section .billing-report-card.billing-report-card-usage {
        height:475px
    }

    .tab-boxes-section .body-desktop.billing-report-wrapper .collapse {
        margin-bottom: 0
    }

    .tab-boxes-section .body-desktop {
        margin-bottom: 20px
    }

    .tab-boxes-section .billing-report-section .row-tiles-table .table-swiper-button-next {
        right: 0!important;
        font-size: .7rem!important
    }

    .tab-boxes-section .billing-report-section .row-tiles-table .table-swiper-button-prev {
        left: 0!important;
        font-size: .7rem!important
    }
}

@media (max-width: 350px) {
    .billing-report-section .billing-report-card.billing-report-card-usage {
        height:350px
    }
}
@media (max-width: 1024px) {
    .billing-report-section .billing-report-card.billing-report-card-usage {
        height:875px
    }
}

@media (max-width: 768px) {
    .billing-report-section .billing-report-card.billing-report-card-usage {
        height:1250px
    }
}

@media (max-width: 767px) {
    .billing-report-section .billing-report-card.billing-report-card-usage {
        height:775px
    }
}

@media (min-width: 1441px) {
    .section-exp-2 .billing-report-card,.section-exp-3 .billing-report-card,.section-exp-4 .billing-report-card {
        height:1125px
    }
}

@media (min-width: 1441px) {
    .section-exp-5 .billing-report-card {
        height:1147px
    }
}
@media (max-width: 425px){
.section-exp-4 .bill-breakdown {
    height: 500px;
}
}


@media (max-width: 420px)
{
  .bill-breakdown {
    height: 450px;
}
}
@media (max-width: 768px)
{
  .bill-breakdown {
    // height: 990px;
}
}
@media (max-width: 320px) {
    .section-exp-4 .bill-breakdown {
        height:450px
    }

    .section-exp-4 .billing-report-section .billing-report-card {
        height: 380px
    }
}

@media (max-width: 1440px) {
    [lang=ar] [dir=rtl] .section-exp-1 .billing-report-section .billing-report-card {
        height:1210px
    }
}

@media (max-width: 768px) {
    [lang=ar] [dir=rtl] .section-exp-1 .billing-report-section .billing-report-card {
        height:1175px
    }
}

@media (max-width: 767px) {
    [lang=ar] [dir=rtl] .section-exp-1 .billing-report-section .billing-report-card {
        height:775px
    }
}

@media (max-width: 420px) {
    [lang=ar] [dir=rtl] .section-exp-1 .billing-report-section .billing-report-card {
        height:490px
    }
}

@media (max-width: 375px) {
    [lang=ar] [dir=rtl] .section-exp-1 .billing-report-section .billing-report-card {
        height:430px
    }
}

@media (max-width: 1440px) {
    [lang=ar] [dir=rtl] .section-exp-1 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:1210px
    }
}

@media (max-width: 768px) {
    [lang=ar] [dir=rtl] .section-exp-1 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:1175px
    }
}

@media (max-width: 767px) {
    [lang=ar] [dir=rtl] .section-exp-1 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:775px
    }
}

@media (max-width: 420px) {
    [lang=ar] [dir=rtl] .section-exp-1 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:490px
    }
}

@media (max-width: 375px) {
    [lang=ar] [dir=rtl] .section-exp-1 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:430px
    }
}

@media (max-width: 1440px) {
    [lang=ar] [dir=rtl] .section-exp-2 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:1115px
    }
}

@media (max-width: 768px) {
    [lang=ar] [dir=rtl] .section-exp-2 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:880px
    }
}

@media (max-width: 767px) {
    [lang=ar] [dir=rtl] .section-exp-2 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:775px
    }
}

@media (max-width: 420px) {
    [lang=ar] [dir=rtl] .section-exp-2 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:467px
    }
}

@media (max-width: 375px) {
    [lang=ar] [dir=rtl] .section-exp-2 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:420px
    }
}

@media (max-width: 1440px) {
    [lang=ar] [dir=rtl] .section-exp-3 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:1115px
    }
}

@media (max-width: 768px) {
    [lang=ar] [dir=rtl] .section-exp-3 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:880px
    }
}

@media (max-width: 767px) {
    [lang=ar] [dir=rtl] .section-exp-3 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:775px
    }
}

@media (max-width: 420px) {
    [lang=ar] [dir=rtl] .section-exp-3 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:467px
    }
}

@media (max-width: 375px) {
    [lang=ar] [dir=rtl] .section-exp-3 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:420px
    }
}

@media (max-width: 1440px) {
    [lang=ar] [dir=rtl] .section-exp-4 .billing-report-section .billing-report-card {
        height:1100px
    }
}

@media (max-width: 768px) {
    [lang=ar] [dir=rtl] .section-exp-4 .billing-report-section .billing-report-card {
        height:890px
    }
}

@media (max-width: 767px) {
    [lang=ar] [dir=rtl] .section-exp-4 .billing-report-section .billing-report-card {
        height:775px
    }
}

@media (max-width: 420px) {
    [lang=ar] [dir=rtl] .section-exp-4 .billing-report-section .billing-report-card {
        height:467px
    }
}

@media (max-width: 375px) {
    [lang=ar] [dir=rtl] .section-exp-4 .billing-report-section .billing-report-card {
        height:410px
    }
}

@media (max-width: 1440px) {
    [lang=ar] [dir=rtl] .section-exp-4 .billing-report-section .billing-report-card.billing-report-card-usage {
        // height:1100px
    }
}

@media (max-width: 768px) {
    [lang=ar] [dir=rtl] .section-exp-4 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:890px
    }
}

@media (max-width: 767px) {
    [lang=ar] [dir=rtl] .section-exp-4 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:775px
    }
}

@media (max-width: 420px) {
    [lang=ar] [dir=rtl] .section-exp-4 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:467px
    }
}

@media (max-width: 375px) {
    [lang=ar] [dir=rtl] .section-exp-4 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:410px
    }
}

@media (max-width: 1440px) {
    [lang=ar] [dir=rtl] .section-exp-5 .billing-report-section .billing-report-card {
        height:1040px
    }
}

@media (max-width: 768px) {
    [lang=ar] [dir=rtl] .section-exp-5 .billing-report-section .billing-report-card {
        height:990px
    }
}

@media (max-width: 767px) {
    [lang=ar] [dir=rtl] .section-exp-5 .billing-report-section .billing-report-card {
        height:775px
    }
}

@media (max-width: 420px) {
    [lang=ar] [dir=rtl] .section-exp-5 .billing-report-section .billing-report-card {
        height:467px
    }
}

@media (max-width: 375px) {
    [lang=ar] [dir=rtl] .section-exp-5 .billing-report-section .billing-report-card {
        height:420px
    }
}

@media (max-width: 1440px) {
    [lang=ar] [dir=rtl] .section-exp-5 .billing-report-section .billing-report-card.billing-report-card-usage {
        // height:1040px
    }
}

@media (max-width: 768px) {
    [lang=ar] [dir=rtl] .section-exp-5 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:990px
    }
}

@media (max-width: 767px) {
    [lang=ar] [dir=rtl] .section-exp-5 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:775px
    }
}

@media (max-width: 420px) {
    [lang=ar] [dir=rtl] .section-exp-5 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:467px
    }
}

@media (max-width: 375px) {
    [lang=ar] [dir=rtl] .section-exp-5 .billing-report-section .billing-report-card.billing-report-card-usage {
        height:420px
    }
}

/*
.billing-report-card-preview{
  p{
    margin-bottom: 0px;
  }
  .exp-report-wrapper{
    width: 761px;
    margin: auto;
    position: relative;
    table{
      tr {
        td{
          position: relative;
          img{
            width: 100%;
          }
        }
      }
    }
    &.exp-bill-summary{
      width: 761px;
      height: 1284px;
      margin: auto;
      position: relative;
      .exp-focus-step{
        left: -32px!important;
      }
    }
    .exp-logo-report{
      position: absolute;
      top: 0px;
      left: 5%;
      width: 79px;
      height: 79px;
      img{
        width: 100%;
      }
    }
    .exp-report-header{
      h2{
        @include font-family-Neotech-roboto;
        font-size: 28px;
        margin-bottom: 2rem;
      }
      p{
        font-size: 14px;
        color: $steel-grey;
        line-height: 24px;
        span{
          margin-left: 10px;
          color: $almost-black;
          font-weight: 600;
        }
      }
    }
    .exp-report-invoice{
      position: relative;
      margin-top: 1rem;
      float: none;
      background: linear-gradient(-31.66deg,#070707 -42%,#709d19 75%);
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background: url("../resources/images/bg-cards/plan-cards-illustration.svg") right 0 no-repeat;
        background-size: contain;
        opacity: .7;
        z-index: 0;
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: url("../resources/images/bg-cards/plan-cards-illustration.svg") left 0 no-repeat;
        background-size: contain;
        opacity: .7;
        z-index: 0;
      }
      .content-section{
        padding: 1.5rem 5rem 1rem 5rem;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        letter-spacing: 3px;
        border-radius: 0px;

        span{
          &.lbl{
            font-size: 16px;
            color: $white;
            margin-bottom: 0.5rem;
            @include font-family-lato;

          }
        }
        .detail-info-wrap-pricetag{
          justify-content: flex-start;
          color: $white;
          .detail-price-new{
            .main-part{
              margin-top: 5px;
              margin-bottom: 1rem;
              .price{
                font-size: 54px;
                color: $white;
              }
              small{
                width: 85px;
                color: $white;
                font-size: 14px;
                i{
                  display: block;
                  font-size: 11px;
                  font-style: normal;
                  letter-spacing: 0;
                  margin-top: 5px;
                }
              }
            }

          }
        }
        h5{
          font-size: 14px;
          letter-spacing: 5px;
          font-weight: 300;
          @include font-family-lato;
          color: $white;
        }
        .exp-autopay-info{
          display: flex;
          align-items:center;
          justify-content: flex-start;
          @include font-family-lato;
          .exp-autopay-icon{
            margin-right: 1rem;
            span{
              width: 32px;
              height: 32px;
              display: block;
              svg{
                width: 100%;
                height: 100%;
                stroke: $white;
                *{
                  stroke: $white;
                }
              }
            }

          }
          .exp-autopay-text{
            color: $white;
            p{
              font-size: 14px;
              letter-spacing: 1px;
              font-weight: 300;
              span{
                display: block;
              }
            }
          }
        }

        .tour-tour-element{
          background-color: $white;
          z-index: 5600;
          span{
            &.lbl{
              color: $almost-black !important;
            }
          }
          .detail-info-wrap-pricetag {
            .detail-price-new{
              .main-part {
                .price{
                  color: $almost-black !important;
                }
              }
            }
          }
          h5{
            color: $almost-black !important;
          }
          .exp-autopay-info{
            .exp-autopay-icon{
              span{
                svg{
                  stroke: $almost-black !important;
                  *{
                    stroke: $almost-black !important;
                  }
                }
              }

            }
            .exp-autopay-text{
              color: $almost-black !important;
            }
          }
          .exp-current-month-summary{
            border: none;
          }
        }
      }
      .exp-pay-online{
        position: absolute;
        right: 5%;
        bottom:-25px;
        width: 225px;
        height: 62px;
        border-radius: 8px;
        background-color: $main-green;
        text-align: center;
        color: $white;
        padding: 1.3rem 1rem;
        z-index: 2;
        h4{
          font-size: 16px;
          letter-spacing: 2px;
          margin-bottom:0;
          margin-top: 0px;
        }
        a{
          font-size: 13px;
          color: $white;
        }
        &.tour-tour-element{
          z-index: 1200 !important;
        }
      }
      .no-gutter{
        margin-left: 0px !important;
        margin-right: 0px !important;
      }

    }
    .exp-premium-postpaid{
      padding: 2rem 4.5rem;
      position: relative;
      h2{
        font-size: 28px;
        @include font-family-Neotech-roboto;
        font-weight: 700;
        color: $almost-black;
      }
      h5{
        color: $steel-grey;
      }
      .exp-premium-postpaid-summary{
        padding:0 4rem;
        .list{
          padding:10px 0.5rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin: 0px;
          position: relative;
        }
        h3{
          font-size: 18px;
          @include font-family-Neotech-roboto;
          font-weight: 700;
          color: $almost-black;
        }
        p{
          color: $main-green;
          font-size: 16px;
          margin: 0;
        }
        span{
          color: $almost-black;
          font-size: 16px;
          small{
            margin-left: 10px;
            color: $steel-grey;
          }
        }
        .exp-current-month-summary{
          border: solid 1px $light-sand-brown;
          padding: 1rem 0px;
          border-right: none;
          border-left: none;
          h4{
            font-size: 14px;
            @include font-family-Neotech-roboto;
            font-weight: 700;
            color: $almost-black;
          }
          span{
            font-size: 18px;
          }
        }
        .exp-grand-month-summary{
          padding: 1rem 0px;
          padding-bottom: 0px;
          border-right: none;
          border-left: none;
          h3{
            font-size: 28px;
            @include font-family-Neotech-roboto;
            font-weight: 700;
            color: $almost-black;
            margin: 0px;
          }
          span{
            font-size: 40px;
            font-weight: 700;
          }
          .detail-info-wrap-pricetag{
            justify-content: flex-start;
            color: $almost-black;
            width: auto;
            .detail-price-new{
              .main-part{
                margin-top: 5px;
                margin-bottom: 1rem;
                .price{
                  font-size: 40px;
                  color: $almost-black;
                }
                small{
                  width: 85px;
                  color: $almost-black;
                  font-size: 14px;
                  i{
                    display: block;
                    font-size: 11px;
                    font-style: normal;
                    letter-spacing: 0;
                    margin-top: 5px;
                  }
                }
              }

            }
          }
        }
      }
    }
    .exp-footer{
      img{
        width: 100%;
      }
    }
    &.exp-bill-usage{
      @media (max-width: 725px) {
        width: 690px;
      }
      @media (max-width: 644px) {
        width: 100%;
      }
    }
  }

}

.row{
  position: relative;
}
.relative{
  position: relative;
}
.static{
  position: static !important;
}

.exp-focus-step{
  width: 32px;
  height: 32px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  background-color: #ff6631;
  position: absolute;
  left: 0px !important;
  top: 5px;
  @include font-family-lato;
  z-index: 9;
  span{
    color: $white !important;
    font-size: 14px !important;
    font-family: lato !important;
    cursor: pointer;
  }
}
.exp-bill-breakdown{
  .exp-focus-step{
    left: -5px !important;
    top: -2px;
  }
}
.exp-focus-step-breakdown{
  .exp-focus-step{
    left: auto !important;
    right: 20% !important;
    top: 7px;
  }
}
.exp-focus-step1-breakdown{
  .exp-focus-step{
    left: -20px !important;
    top: 0px;
  }
}
.exp-focus-step-ways{
  .exp-focus-step{
    left: 0px!important;
    top: 20px;
  }
}

.exp-popover{
  padding: 2rem 1rem !important;
  border-radius: 4px;
  left: 15% !important;
  .arrow{
    display: none;
  }

  max-width: 500px !important;
  min-width: 280px !important;
  .popover-title{
    border: none;
    background-color: transparent;
    border-radius: 0;
    font-family: inherit;
    // margin-top: 2rem;
    font-size: 22px;
    span{
      &::before{
        bottom: 100%;
        left: 10%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-left: 0.925rem solid transparent;
        border-right: 0.925rem solid transparent;
        border-bottom: 0.925rem solid  $white;
    }
    &.right-arrow{
      &::before{
        left: auto;
        right: 10%;
      }

    }
    &.center-arrow{
      &::before{
        left: 40%;
        right: auto;
      }

    }
    }
  }
  .popover-content{
    font-size: 14px;
    line-height: 24px;
    color: $steel-grey;
    @include font-family-lato;
    img{
      max-width: 100%;
    }
    a{
      &.exp-read-more{
        color: $main-green;
        display: block;
        width: 108px;
        position: relative;
        letter-spacing: 1px;
        text-transform: uppercase;
        margin-top: 10px;
        &:before {
          right: 0%;
          border: solid $main-green;
          border-width: 0 1px 1px 0;
          padding: 4px;
          content: "";
          position: absolute;
          line-height: 1;
          -webkit-transform: translateY(-20%) rotate(-135deg);
          top: 40%;
          transform: translateY(-20%) rotate(-46deg);
          transition: all .3s ease-in-out;
        }
      }
    }
    ol{
      padding-left: 20px;
      margin-top: 20px;
      margin-bottom: 40px;
      li{
        color: $steel-grey;
        font-size: 14px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        list-style: decimal;
      }
    }
    .tour-pager{
      position: absolute;
      bottom: 25px;
      right: 62px;
      font-size: 16px;
      z-index:1;
    }
  }
  .popover-navigation{
    float: right;
    margin-right: -16px;
    margin-bottom: -16px;
    .btn-group{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .btn-default{
        margin-left: 50px;
        width: auto;
        border: none;
        border-radius: 0px;
        padding: 0px;
        height: auto;
        width: 32px;
        height: 32px;
        &:focus{
          background-color: transparent;
        }
        &:before {
          right: 40%;
          border: solid $almost-black;
          border-width: 0 1px 1px 0;
          padding: 5px;
          content: "";
          position: absolute;
          line-height: 1;
          -webkit-transform: translateY(-20%) rotate(-135deg);
          top: 40%;
          transform: translateY(-20%) rotate(-135deg);
          transition: all .3s ease-in-out;
        }
        &.prev{
          &:before {
            transform: translateY(-20%) rotate(-230deg);
          }
        }
        &.next{
          &:before {
            transform: translateY(-20%) rotate(-43deg);
          }
        }

      }
    }
    .btn-end{
      position: absolute;
      top:10px;
      right: 6px;
      width: auto;
      border: none;
      border-radius: 0px;
      font-size: 18px;
      background-color: transparent;
      height: auto;
      padding:0;
      :focus {
        background-color: transparent;
      }
      svg{
        width: 16px;
        height: 16px;
      }
    }
  }
  #startTourBtn {
    margin-top: 20px;
  }
}
.tour-backdrop{
  opacity: .4 !important;
}
.tour-step-backdrop{
  background-color: $white;
  box-shadow: 0px 0px 30px 1px #fff;
  border-radius: 4px;
}
.tour-step-background{
  box-shadow: 0px 0px 30px 1px #fff;
  border-radius: 4px;
  @media (max-width: 768px) {
    display: none;
  }
}

.zooming-contorls{
  display: none !important;

  @media (max-width: 768px) {
    display: none;
    align-items: center;
    justify-content: space-between;
    background-color: $white;
    box-shadow: 0 2px 10px 0 hsla(0,0%,67%,.2);
    position: absolute;
    right:10px;
    top:-48px;
    display: block;
    z-index: 1210;
    border-radius: 4px;
    width: 80px;
    height: 37px;
  button{
    background-color: transparent;
    border: none;
    font-size: 18px;
    padding: 5px;
    color: $main-green;
    width: 40px;
    height: 37px;
    outline: none;
    &:first-child{
      border-right: solid 1px $light-sand-brown;
    }
    svg{
      width: 16px;
      height: 16px;
      margin-top: 6px;
    }
  }

}
}
.tab-boxes-section{
  .body-desktop{
    &.billing-report-wrapper{
      .collapse{
        height: 0 !important;
        width: 0;
        display: inline-block;
        overflow: hidden;
        &.in{
          height: 100% !important;
          width: 100%;
        }
        .swiper-container{
          margin-bottom: 2rem;  
        }
      }
    }
  }
  .close {
    position: absolute;
    background-image: url(clientlib-etisalat/resources/images/icon-close-dualtone.svg)!important;
    background-repeat: no-repeat;
    background-position: 100%!important;
    background-size: 1.5rem 1.5rem!important;
    width: 1.5rem;
    height: 1.5rem;
    top: 0.5rem;
    right: 0.625rem;
    z-index: 2;
    cursor: pointer;
}
*/
.md-p-lr {
  @media screen and (min-width: 768px) {
       padding-left:15px;
       padding-right:15px;
    }
}

.billexplainertab {
  .btn-text.btn-green {
    width: 100%;
    @include font-family-lato;
    font-size: 14px;
  }
  .panel {
   border:none;
  }
}
// arabic language
*[lang="ar"] {
  *[dir="rtl"] {
    .billexplainertab {
      .btn-text.btn-green{
        float: right;
        &:before {
            transform: translateY(-50%) rotate(316deg);
        }
      }
    }
    .billing-report-section p { 
      @include font-family-Neotech-ge;
    }
  }
}