<nav id="${properties.id}">
   <input class="menu__checkbox" type="checkbox" role="Menu" aria-label="Menu" aria-controls="navigation" aria-haspopup="true" id="menu">
   <label class="menu__icon" for="menu"><span class="hamburger"></span></label>
   <ul data-sly-use.navModel="com.etisalat.core.models.FixedNavigationModel"
       data-sly-use.template="core/wcm/components/commons/v1/templates.html"
       data-sly-list.navItem="${navModel.fixedNav}" class="menu" role="menuitem">
      <li><a href="${navItem.navigationLink}">${navItem.navigationTitle}</a></li>
   </ul>
   
   <sly data-sly-test="${properties.actionsEnabled}"
          data-sly-use.ctaObj="${resource.path}"
          data-sly-list.actionItem="${ctaObj.listChildren}">
       <ul data-sly-test="${actionItem.name == 'actions'}" data-sly-list.ctaitem="${actionItem.listChildren}" class="menu">
      <li class="${currentPage.path == ctaitem.link ? 'active' : ''}"><a href="${ctaitem.link @ extension = 'html'}" class="account-type">${ctaitem.text}</a></li>    
   </ul>                       
  </sly>
   
</nav>
 
<sly data-sly-call="${template.placeholder @ isEmpty=navModel.fixedNav.size == 0, classAppend='cmp-languagenavigation'}"></sly>

