<nav id="${properties.id}">
   <input class="menu__checkbox" type="checkbox" role="Menu" aria-label="Menu" aria-controls="navigation" aria-haspopup="true" id="menu">
   <label class="menu__icon" for="menu"><span class="hamburger"></span></label>
   <ul data-sly-use.navModel="com.etisalat.core.models.FixedNavigationModel"
       data-sly-use.template="core/wcm/components/commons/v1/templates.html"
       data-sly-list.navItem="${navModel.fixedNav}" class="menu" role="menuitem">
      <li><a href="${navItem.navigationLink}">${navItem.navigationTitle}</a></li>
   </ul>
</nav>
 
<sly data-sly-call="${template.placeholder @ isEmpty=navModel.fixedNav.size == 0, classAppend='cmp-languagenavigation'}"></sly>
