<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
  <sly data-sly-set.coverClass="${properties.viewPortLayout != '1-viewport' ? 'cover' : ''}"/>
  <sly data-sly-test="${properties.viewPortLayout == '3-viewport'}">
     <sly data-sly-set.viewports = "${properties['image414px/fileReference'] || properties['image768px/fileReference'] || properties['image992px/fileReference']}" />
  </sly>
  <sly data-sly-test="${properties.viewPortLayout == '4-viewport'}">
     <sly data-sly-set.viewports = "${properties['image414px/fileReference'] || properties['image540px/fileReference'] || properties['image768px/fileReference'] || properties['image1440px/fileReference']}" />
  </sly>
  <sly data-sly-test="${properties.viewPortLayout == '6-viewport'}">
     <sly data-sly-set.viewports = "${properties['image414px/fileReference'] || properties['image768px/fileReference'] || properties['image1024px/fileReference'] || properties['image1366px/fileReference'] || properties['image1440px/fileReference'] || properties['image1920px/fileReference']}" />
  </sly>

 <div class="cross-promo-bg-tile" data-sly-test="${viewports}">
    <div class="${!wcmmode.edit ? coverClass : ''}">
        <sly data-sly-resource="${resource @ resourceType='etisalat/components/imageetisalatviewport'}"></sly>        
        <div class="cta-content-wrap">
            <div class="cont">
                <h4 data-sly-test="${properties.tiletitle}" data-sly-element="${properties.titleType}">${properties.tiletitle}</h4>                
                <a class="btn-text btn-green learn-more">
                    <span class=""> Learn more </span>
                </a>
            </div>
        </div>
    </div>
 </div>
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = !viewports}"></sly>
