<sly data-sly-use.imageViewportModel="com.etisalat.core.models.ImageViewportModel"  
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
  <sly data-sly-test.customLink="${properties.cardLink}" data-sly-use.commonlinkmodel="${'com.etisalat.core.models.CommonLinkModel' @link=customLink}"/>
  <sly data-sly-set.viewports = "${imageViewportModel.sixViewportContent || imageViewportModel.fourViewportContent || imageViewportModel.threeViewportContent}" />
   <div class="caremal-card-wrapper ${properties.caremalPromoTilevariation}">
   <div class="caremal-card-image">
      <div class="cover">
         <sly data-sly-test="${viewports}"
            data-sly-resource="${resource @ resourceType='etisalat/components/imageetisalatviewport'}"></sly>
      </div>
   </div>
   <div class="caremal-card-details">
   <div data-sly-test="${properties.caremalpromopretitle}" class="sub-title">
      <p>${properties.caremalpromopretitle}</p>
   </div>
   <div data-sly-test="${properties.caremalpromotitle}" class="title">
      <h3 data-sly-element="${properties.titleType}">${properties.caremalpromotitle}</h3>
   </div>
   <div data-sly-test="${properties.jcr:description}" class="description">
     ${properties.jcr:description @context='html'}
   </div>
   <div data-sly-test="${properties.cardLink}" class="learn-more-wrap">
         <a href="${commonlinkmodel.link}" target="${properties.linkBehavior == 'opennewwindow'?'_blank':'_self'}" class="btn-text btn-green learn-more">
         ${properties.promoCTATitle}
         </a>
    </div>
   </div>
 </div>
</sly>
<sly data-sly-test=${wcmmode.edit} data-sly-call="${templates.placeholder @ isEmpty = !properties.caremalPromoTilevariation}"></sly>