span.strikethrough {
      text-decoration:line-through;
  }
  #CQrte span.strikethrough {
      text-decoration:line-through;
  }

span.deviderline{


    border: 0;
    height: 1px;

    background: url(https://www.etisalat.ae/b2c/eshopApp/assets/img/nv-etisalat/SVG/divider.png) 0 0 repeat;
}

.iconimage{
    width: 20px;
    height: 20px;
    min-height: auto;
    vertical-align: sub;
    margin-right: .325rem;
}