.cmp-embed {
  height: 300px;
  padding: 0 5px;

  @include respond-to-max($tablet) {
    height: 400px;
    padding: 0 0.4rem;
  }

  @include respond-to-min($desktop) {
    float: none;
    height: 450px;
    margin: 0 auto;
    padding: 0 1.5rem;
    width: 75%;
  }

  @include respond-to-min($desktop-wide) {
    padding: 0;
  }

  iframe {
    height: 100%;
    padding: 0 10px;
    width: 100%;

    @include respond-to-min($tablet) {
      padding: 0 10px;
    }
  }
}
