/* stylelint-disable*/
.features-tabs-cta-2-0 {
  background: $black;
  padding: 64px 0 96px 0;
  position: relative;
  height: 780px;
  @media (max-width: 991px) {
    padding: 48px 0;
    background-image: none;
    height: auto;
  }
  &.bg-white {
    background-color: $white;
  }
  &.bg-beige {
    background-color: $incBeige40;
  }
  &.bg-beige-light {
    background-color: $incBeige40;
  }
  &.bg-maroon {
    background-color: $incMaroon;

    .ed-paragraph-2-0,
    .ed-subheadings-2-0 {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        color: $incMaroon;
      }
    }
  }
  &.bg-maroon-light {
    background-color: $incMahroon10;
  }

  .features-cover {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    @media (max-width: 991px) {
      display: none;
    }
  }

  .features-content {
    position: relative;
    z-index: 1;
  }

  .title-top {
    color: $white;
    font-family: $font-SuisseIntl-Bold;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 48px;
    text-align: center;
    margin: 0 0 48px 0;

    @media (max-width: 991px) {
      font-size: 24px;
      line-height: 32px;
      margin: 0 0 24px 0;
    }
  }
  .ed-headings-2-0 {
    h2 {
      margin: 0 0 48px 0;
      text-align: start;
      @media (max-width: 991px) {
        margin: 0 0 24px 0;
      }
    }
  }

  .nav-wrap {
    background-color: $white;
    display: flex;
    margin: 0;
    box-shadow: none;
    border: 0;
    border-radius: 0;

    &.desktop-head {
      padding-bottom: 14px;
      position: relative;
      &:after {
        position: absolute;
        left: 0;
        bottom: -4px;
        height: 1px;
        background: #d8d8d8;
        content: '';
        width: 100%;
      }
    }
    @media (max-width: 991px) {
      flex-direction: column;
      background: transparent;
    }

    .tab-wrap {
      background: $white;
      border: 0;
      border-radius: 0;
      margin-top: 0;

      .panel-collapse.animate-content {
        .desktop-body {
          @media (min-width: 992px) {
            opacity: 1;
            transform: translateY(0px);
          }
        }
      }

      @media (max-width: 991px) {
        margin-bottom: 16px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .desktop-body {
        display: flex;
        flex-direction: column;
        padding: 40px 0 48px 30px;
        min-height: 386px;
        transition: all ease 0.5s;
        @media (min-width: 992px) {
          opacity: 0;
          transform: translateY(10px);
        }

        @media (max-width: 991px) {
          padding: 24px 16px 32px 16px;
          min-height: auto;
        }

        .get-more-details {
          .features-tabs-title-small {
            h3 {
              font-size: 28px;
              font-weight: bold;
              letter-spacing: 0;
              line-height: 36px;
              font-family: $font-SuisseIntl-Bold;
              color: $almost-black;
              margin: 0 0 16px 0;
              @media (max-width: 991px) {
                display: none;
              }
            }
          }
          .features-tabs-paragraph {
            font-family: $font-SuisseIntl-Regular;
            font-size: 16px;
            max-width: 658px;
            letter-spacing: 0;
            line-height: 24px;
            color: #626366;
            p {
              margin: 0 0 24px 0;
            }
          }
          .ed-paragraph-2-0 {
            max-width: 658px;
            margin: 0 0 24px 0;
            @media (max-width: 991px) {
              max-width: 100%;
            }

            p + p {
              margin: 24px 0 0 0;
            }
          }
          .ed-subheadings-2-0 {
            h4 {
              margin: 0 0 16px 0;
              font-weight: 500;
              @media (max-width: 991px) {
                display: none;
              }
            }
          }
          .learn-more-wrap {
            .btn-more {
              background-color: #000000;
              color: #ffffff;
              font-family: $font-SuisseIntl-Regular;
              padding: 0 33px;
              text-decoration: none;
              transition: all ease 0.3s;
              font-size: 14px;
              letter-spacing: 2px;
              line-height: 54px;
              text-align: center;
              display: inline-block;
              text-transform: uppercase;
              height: 54px;

              @media (max-width: 991px) {
                display: block;
              }
            }
          }
        }
      }
    }
    a.tab-head {
      padding: 32px 0 0 0;
      background: none;
      width: 25%;
      display: flex;
      flex-direction: column;
      margin-right: 24px;
      align-items: center;
      text-decoration: none;
      position: relative;

      &.collapsed {
        &:hover {
          .title-tab {
            color: #777777;
          }
        }
      }

      &:not(.collapsed) {
        .shape {
          &:before {
            display: none;
          }
        }
      }

      &:not(.collapsed) {
        .icon-wrap {
          &.icon-active {
            display: block;
          }
          &:not(.icon-active) {
            display: none;
          }
        }
      }

      &:not(.collapsed) {
        &::before {
          width: 100%;
        }
      }

      &::after {
        display: none;
      }

      &::before {
        content: '';
        position: absolute;
        bottom: -18px;
        left: 0;
        width: 0;
        transition: all ease 0.4s;
        height: 4px;
        background: $incRed;
        transition: all ease 0.4s;
        @media (max-width: 991px) {
          bottom: 0;
          height: 2px;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      span.title-tab {
        color: $almost-black;
        font-family: $font-SuisseIntl-Bold;
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0;
        line-height: 28px;
        text-align: center;
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: all ease 0.3s;

        @media (max-width: 767px) {
          width: 'calc(100% - 88px)';
          text-align: left;
        }
      }
      .shape {
        background: #f0f5e8;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
        &:after,
        &:before {
          position: absolute;
          content: '';
          background: $incRed;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        &:after {
          width: 18px;
          height: 2px;
        }
        &:before {
          width: 2px;
          height: 18px;
        }
      }
      .icon-wrap {
        width: 48px;
        height: 48px;
        margin: 0 0 8px 0;
        &.icon-active {
          display: none;
        }
        svg,
        img {
          width: 100%;
          height: 100%;
          g {
            transition: all ease 0.3s;
          }
        }
      }

      @media (max-width: 991px) {
        width: 100%;
        padding: 0 8px 0 16px;
        height: 80px;
        flex-direction: row;
        .icon-wrap {
          margin: 0 8px 0 0;
        }

        span.title-tab {
          min-height: initial;
        }
      }
    }
  }
}

// *************************************
// arabic overides
// *************************************

*[lang='ar'] {
  *[dir='rtl'] {
    .features-tabs-cta-2-0 {
      .nav-wrap {
        a.tab-head {
          margin: 0 0 0 24px;
          @media (max-width: 991px) {
            padding: 0 16px 0 8px;
            margin: 0;
            .icon-wrap {
              margin: 0 0 0 8px;
            }
          }
          .title-tab {
            text-align: right;
          }
          .shape {
            left: 8px;
            right: auto;
          }
        }
        .tab-wrap {
          .desktop-body {
            padding: 40px 32px 48px 0;

            @media (max-width: 991px) {
              padding: 24px 16px 32px;
            }
          }
        }
      }
    }
  }
}
