.cws-form,
.wst-form {

  // @include font-family-lato;

  // .country-select {
  //   width: 100%;
  // }

  // .select-hear-about-us {
  //   width: 100%;
  //   @include respond-to-min($tablet) {
  //     width: 20.5rem;
  //   }
  //   @include respond-to-min($desktop) {
  //     width: 32rem;
  //   }
  // }
  // .select-hear-about-us {
  //   .selecteddiv {
  //     &:hover {
  //       color: $main-green;
  //     }
  //   }
  // }

  // #select-hear-about-us {
  //   .select-items {
  //     div {
  //       &:hover {
  //         color: $main-green;
  //       }
  //     }
  //   }
  // }

  // .select-block-unblock {
  //   .selecteddiv {
  //     &:hover {
  //       color: $main-green;
  //     }
  //   }
  // }

  // #select-block-unblock {
  //   .select-items {
  //     border-top: 1px solid $main-green;
  //     div {
  //       &:hover {
  //         color: $main-green;
  //       }
  //     }
  //   }
  // }
  // .select-block-unblock {
  //   .cmp-form-options--drop-down {
  //     width: calc(100% - 20px);
  //     .selecteddiv {
  //       &:hover {
  //         color: $main-green;
  //       }
  //     }
  //   }
  // }
  // .select-service {
  //   .selecteddiv {
  //     &:hover {
  //       color: $main-green;
  //     }
  //   }
  // }

  // #select2-selection__rendered {
  //   .select-items {
  //     div {
  //       &:hover {
  //         color: $main-green;
  //       }
  //     }
  //   }
  // }
  // .select-items {
  //   overflow-y: auto !important;
  //   div {
  //     width: 100% !important;
  //     margin: 0 !important;
  //     padding: 3px 8px !important;
  //   }
  // }
  // .account-number {
  //   @media (min-width: $screen-lg-max) {
  //     margin-bottom: 1rem;
  //     margin-top: 3rem;
  //     width: 100%;
  //   }

  //   position: relative;
  // }
  .cmp-form-options__legend {
    font-weight: 400;
    font-size: $font16;
    position: relative;
    margin-bottom: toRem(36);
    border: 0;
    color: $dropdown-grey;
  }
  .account-radio {
    & > label {
      transform: translateY(toRem(-10)) scale(0.8);
      transform-origin: 0 0;
      font-size: $font16;
      z-index: 2;
    }
  }

  .desc-text {
    margin-top: 2rem;
    position: relative;
    .alert-icon {
      svg {
        top: 0.5rem !important;

        @include rtlProp(right, left, 0.5rem);
      }
    }
    .alert-label {
      top: 10.5rem;
    }
  }

  .iti {
    width: 100%;
    position: relative;
    border-color: $error-red;
    .icon-error,
    .alert-icon {
      display: block;
      float: right !important;
      svg {
        fill: $pink;
        width: 1.5rem;
        height: 1.5rem;
        //top: 2.5rem;
        position: relative;
        right: 1.2rem;
        top: 0;
        width: 1.5rem;
        z-index: 2;
      }
    }

    input[type="tel"]:not(.browser-default) {
      width: 100%;

      & ~ label {
        left: 0;
      }
    }
    input[type="tel"]:focus {
      & ~ label {
        color: $main-green;
        font-size: $font16;
        transform: translateY(-10px) scale(0.8);
        transform-origin: 0 0;
        font-size: $font16;
      }
    }
  }

  .new {
    margin: 0;
  }

  .iti .cmp-form-text__textput {
    width: 100%;
  }

  input#firstName,
  input#designation {
    width: 100%;
  }

  select {
    width: 100% !important; //To use Important Form default AEM Control css overrides
    max-height: toRem(200);
    overflow-y: auto;
    option {
      text-decoration: none;
      border-bottom: 1px solid $sand-white;
      background-position: 100%;
      padding: 0;
      letter-spacing: 0;
      line-height: 2.8rem;
      padding: 0 1rem;
    }
  }

  .contactNumber {
    display: inline-flex;
    position: relative;
    width: 85%;
    bottom: toRem(15);
    margin-top: 1rem;
    input {
      display: inline-flex;
      width: 100%;

      & ~ label {
        @include font-family-lato;
        left: 0;
        font-size: $font20;
      }
    }
  }
  // .country-select,
  // .select-service {
  //   @media (max-width: $screen-md-max) {
  //     margin-bottom: 4rem;
  //   }
  // }
  form {
    div.cmp-container {
      position: relative;
    }
  }

  .outside-icon {
    right: 0;
    top: 2.3rem;
  }

  &.has-error-fields {
    input {
      border-color: $error-red;
      box-shadow: 0 1px 0 0 $error-red;
    }

    .select2.select2-container {
      .select2-selection__arrow {
        right: 3rem;
      }
    }

    .select2-selection--single {
      background: transparent !important; //To use Important Form default AEM Control css overrides

      .select2-selection__rendered {
        color: $error-red !important; //To use Important Form default AEM Control css overrides
      }
    }
  }
  [type="radio"]:checked + span:after,
  [type="radio"]:not(:checked) + span:after {
    background-image: url(../resources/images/icon-checkbox-selected.png);
    background-repeat: no-repeat;
    border: toRem(2) solid transparent;
    content: "";
    width: toRem(24);
    height: toRem(24);
    display: block;
    background-size: toRem(21);
    margin-right: toRem(1);
    position: absolute;
    left: toRem(-3);
    top: toRem(-3);
    transition: all 0.25s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    z-index: 2;
  }
  [type="radio"]:not(:checked) + span:after,
  [type="radio"]:not(:checked) + span:before {
    background-image: url(../resources/images/icon-unselected.png);
    border: 2px solid transparent;
    background-repeat: no-repeat;
    content: "";
    width: toRem(24);
    height: toRem(24);
    display: block;
    background-size: 21px;
    margin-right: toRem(1);
    position: absolute;
    left: toRem(-3);
    top: toRem(-3);
    transition: all 0.25s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    z-index: 2;
  }

  input:focus ~ label {
    color: $main-green;
    @include font-family-lato;
    font-size: $font16;
    transform: translateY(-10px) scale(0.8);
    transform-origin: 0 0;
  }

  .has-error-fields {
    textarea.cmp-form-text__textarea {
      border-bottom: 1px solid $error-red;
    }
  }

  textarea.cmp-form-text__textarea:focus:not([readonly]) {
    border-bottom: 1px solid $main-green;
    box-shadow: none;
    z-index: 0;
  }

  textarea {
    &.cmp-form-text__textarea {
      border: 1px solid $grey4;
    }
  }
  input:not([type]):disabled,
  input:not([type])[readonly="readonly"],
  input[type="email"]:not(.browser-default):disabled,
  input[type="email"]:not(.browser-default)[readonly="readonly"],
  input[type="number"]:not(.browser-default):disabled,
  input[type="number"]:not(.browser-default)[readonly="readonly"],
  input[type="tel"]:not(.browser-default):disabled,
  input[type="tel"]:not(.browser-default)[readonly="readonly"],
  input[type="text"]:not(.browser-default):disabled,
  input[type="text"]:not(.browser-default)[readonly="readonly"],
  input[type="text"]:not(.browser-default)[readonly],
  input[type="url"]:not(.browser-default):disabled,
  input[type="url"]:not(.browser-default)[readonly="readonly"] {
    border-bottom: 1px dashed $grey4 !important; //To use Important Form default AEM Control css overrides
    box-shadow: none !important;
    color: $steel-grey;
  }

  textarea.cmp-form-text__textarea:disabled,
  textarea.cmp-form-text__textarea[readonly="readonly"] {
    border: 1px solid $grey4 !important; //To use Important Form default AEM Control css overrides
    box-shadow: none !important;
  }
  input:not([type]):disabled ~ label,
  input:not([type])[readonly="readonly"] ~ label,
  input[type="email"]:not(.browser-default):disabled ~ label,
  input[type="email"]:not(.browser-default)[readonly="readonly"] ~ label,
  input[type="number"]:not(.browser-default):disabled ~ label,
  input[type="number"]:not(.browser-default)[readonly="readonly"] ~ label,
  input[type="tel"]:not(.browser-default):disabled ~ label,
  input[type="tel"]:not(.browser-default)[readonly="readonly"] ~ label,
  input[type="text"]:not(.browser-default):disabled ~ label,
  input[type="text"]:not(.browser-default)[readonly="readonly"] ~ label,
  input[type="url"]:not(.browser-default):disabled ~ label,
  input[type="url"]:not(.browser-default)[readonly="readonly"] ~ label {
    color: $steel-grey;
    @include font-family-lato;
  }

  textarea.cmp-form-text__textarea:disabled ~ label,
  textarea.cmp-form-text__textarea[readonly="readonly"] ~ label {
    color: $steel-grey;
  }

  textarea.cmp-form-text__textarea:focus:not([readonly]) .parent ~ label {
    color: $main-green;
    @include font-family-lato;
    font-size: $font16;
    transform: translateY(10px) scale(0.8);
    transform-origin: 0 0;
  }

  .select {
    label {
      position: absolute;
      top: 10px;
      font-size: 1.2rem;
    }
  }

  // intlTelInput ends //
  .textarea.input-field > label {
    left: toRem(24);
  }

  textarea.cmp-form-text__textarea {
    width: 100%;
    height: 10rem;
    padding: 2rem 1rem 1rem;
    background-color: transparent;
    line-height: normal;
    overflow-y: hidden;
    resize: none;
    min-height: 3rem;
    box-sizing: border-box;
    margin-bottom: 0;
  }

  .hiddendiv {
    visibility: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-top: 1.2rem;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  [type="radio"]:checked + span:after,
  [type="radio"]:checked + span:before,
  [type="radio"]:not(:checked) + span:after,
  [type="radio"]:not(:checked) + span:before {
    border-radius: 50%;
  }

  [type="radio"]:not(:checked) + span:after {
    transform: scale(0);
  }

  [type="radio"]:checked + span:after {
    border: toRem(2) solid $main-green;
  }

  [type="radio"]:checked + span:after {
    background-color: $main-green;
  }

  [type="radio"]:checked + span:after {
    transform: scale(1.02);
  }

  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked) {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  .cmp-form-text__textspan svg {
    height: 16px;
    width: 16px;
    fill: $main-green;
  }

  .textarea.input-field > label {
    left: toRem(24) !important; //To use Important Form default AEM Control css overrides
  }

  // intl input for country name dropdown
  .intl-input-wrapper {
    input {
      padding: 0 !important; //To use Important Form default AEM Control css overrides
    }
    .cmp-form-options--drop-down {
      .flag-container {
        width: 100%;
        z-index: 99;

        .selected-flag {
          width: 100%;
          &:focus,
          &:active {
            outline: none;
          }
          .iti-flag {
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none;
            background: transparent;
            margin: 0;
            height: toRem(38);
            box-shadow: none;
          }
        }
      }
      .country-list {
        width: 100%;
        padding: 0 1rem;
        top: toRem(40);
        .country {
          text-decoration: none;
          border-bottom: 1px solid $sand-white;
          background-position: 100%;
          padding: 0;
          letter-spacing: 0;
          line-height: 2.8rem;
          * {
            color: $almost-black;
          }
          &.highlight {
            background: transparent;
            color: $main-green;
            * {
              color: $main-green;
            }
          }
          .flag-box,
          .dial-code {
            display: none;
          }
        }
      }
    }

    // select contact number
    &.select-contact-number {
      .cmp-form-options--drop-down {
        justify-content: flex-end;
        .has-error.alert-label {
          left: 25%;
        }
        & + label {
          left: 25%;
        }

        .flag-container {
          width: 20%;
          padding: 0;
          border-bottom: 1px solid $grey4;
          z-index: 9;
          .iti-flag {
            color: $almost-black;
            font-size: $font20;
          }
        }
        input {
          width: 75%;
        }
        .country-list {
          .country {
            .dial-code {
              display: block;
            }
            .flag-box,
            .country-name {
              display: none;
            }
          }
        }
      }
    }
    &.select-country-name {
      .cmp-form-options--drop-down {
        .selected-flag .iti-flag {
          display: none;
        }
      }
    }
  }

  *[lang="ar"] {
    *[dir="rtl"] {
      .intl-input-wrapper.select-contact-number .cmp-form-options--drop-down + label,
      .intl-input-wrapper.select-contact-number .cmp-form-options--drop-down .has-error.alert-label {
        left: 0;
        right: 25%;
      }
    }
  }

  .icon-error,
  .alert-icon {
    display: none;
  }
  .cmp-form-text {
    display: flex;
    position: relative;
  }

  .hideBusiness {
    visibility: hidden;
  }
  .showBusiness {
    visibility: visible;
  }

  select:focus {
    outline: 1px solid $select-focus;
  }

  // ::-moz-placeholder {
  //   color: $cold-gray-2;
  // }

  // ::-ms-input-placeholder {
  //   color: $cold-gray-2;
  // }

  // ::placeholder {
  //   color: $cold-gray-2;
  // }
}

.new_form {
  .hideBusiness {
    visibility: hidden;
  }
  .showBusiness {
    visibility: visible;
  }
  padding: 0 toRem(12) !important; //Form default container responsive grid padding overrides;
  .cmp-teaser__content {
    text-align: center;
    h2 {
      font-size: $font40;
      line-height: toRem(52);
      @media (max-width: $screen-md-max) {
        font-size: $font28;
        line-height: 34px;
      }
    }
  }

  .cmp-teaser__description {
    text-align: center;
    width: 100%;
    & p {
      font-size: $font16 !important; //To use Important Form default AEM Control css overrides
      line-height: 1.5rem !important;
      color: $gray !important;
      @include font-family-lato;
      padding-bottom: 6rem;
    }
  }
}
.has-error-fields {
  input {
    border-bottom: 1px solid $error-red !important;
  }
}

.needHelpForm_Teaser {
  padding-top: 3rem;
  padding-bottom: 1rem;

  .cmp-teaser__description {
    margin-top: 0 !important;
    width: 100% !important; //Some body added width 70%important for teaser causing issue here
  }
  h3,
  h2 {
    @include respond-to-max($tablet) {
      font-size: $font30 !important;
    }
  }

  .cmp-teaser__content {
    margin-bottom: 0;
  }
}
.teaser-form {
  .cmp-teaser__description {
    text-align: center;
    margin-top: 3rem;
    width: 100% !important; //Some body added width 70%important for teaser causing issue here
    & > p {
      font-size: $font16;
      line-height: 1.5rem;
      color: $gray;
      @include font-family-lato;
      padding-bottom: 1.5rem;
    }
  }

  .cmp-teaser__content {
    @include font-family-lato;
    text-align: center;
    margin-bottom: 3.5rem;
    h3 {
      font-size: $font32;
      line-height: toRem(52);
      margin-bottom: 1.5rem;
    }
    h2 {
      font-size: $font40;
      line-height: toRem(52);
      margin-bottom: 1.5rem;
    }
  }
}

.grecaptcha-badge {
  z-index: 1;
}
