.cmp-accordion__title {
  @include rtlBlock() {
    float: right;
    text-align: right;
  }
}

.cmp-accordion--faqsection {
  .container {
    @include clearFix();

    padding: 0 !important;
    width: 100% !important;
  }

  h3 {
    vertical-align: middle;
    padding: 0;
  }

  .cmp-accordion__item {
    background-color: $sand-white-50;
    border: 0;
    box-shadow: none;
    padding: 1rem 1.5rem;

    &:nth-child(2n) {
      background-color: $white;
      margin-top: toRem(5);
    }
  }

  .cmp-accordion__title {
    @include font-family-lato;

    font-size: $font16;
    font-weight: get-font-weight("bold");
    line-height: 1.5;
    color: $almost-black;

    @include rtlBlock() {
      font-weight: get-font-weight("light");
    }

    &::after {
      content: " + ";
      display: table-cell;
      padding: toRem(5);
      position: relative;
      vertical-align: top;
      font-size: $font30;
      text-align: center;
      line-height: toRem(12);
      font-weight: get-font-weight("light");
      color: $almost-black;
      float: right;

      @include rtlBlock() {
        @include respond-to-max($tablet) {
          float: left;
        }

        @include respond-to-min($desktop) {
          margin-left: 0.5rem;
        }
      }
    }
  }

  .cmp-rte-text {
    padding-left: toRem(0);
  }

  .cmp-text {
    color: $steel-grey;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;

    @include rtlBlock() {
      margin-bottom: 0;
    }
    font-size: $font14;
    line-height: toRem(20);

    @include font-family-lato;
  }

  button:focus {
    background-color: transparent;
  }

  .cmp-accordion__button--expanded .cmp-accordion__title {
    &::after {
      content: " - ";
      color: $almost-black;
      display: table-cell;
      padding: toRem(5);
      position: relative;
      vertical-align: top;
      font-size: $font64;
      text-align: center;
      line-height: toRem(12);
      font-weight: get-font-weight("normal");
      float: right;
    }
  }

  .cmp-accordion__button {
    display: grid;
  }
}

// Simple line accordion

.cmp-accordion--text {
  .container {
    @include clearFix();

    padding: 0 !important;
    width: 100% !important;
  }

  .cmp-accordion__item {
    display: block;
    border-bottom: 0;
  }
  .cmp-accordion__title {
    line-height: 1.5;
    font-size: $font16;
    display: inline-block;
    color: $black;
    @include font-family-lato;
    padding-right: 5.5rem;
    font-weight: get-font-weight("bold");
    @include respond-to-min($desktop) {
      line-height: 1.4;
      font-size: $font20;
      padding: toRem(15) 1.5rem;
    }
    @include rtlBlock() {
      width: 100%;
      padding-left: 5.5rem;
      padding-right: 0;
    }
  }

  .cmp-accordion__itemdesc {
    line-height: 1.5;
    font-size: $font16;
    color: $dark-gray;
    @include font-family-lato;
    padding-right: 6.5rem;
    font-weight: normal;
    @include respond-to-min($desktop) {
      font-size: $font20;
      padding: toRem(5) 1.5rem;
    }
    @include rtlBlock() {
      float: right;
      text-align: right;
      font-weight: get-font-weight("light");
      padding-left: 6.5rem;
      padding-right: 0;
    }
  }
  button:focus {
    background-color: transparent;
  }
  .cmp-accordion__icon {
    content: "";
    display: block;
    width: toRem(11);
    right: toRem(3);
    border: solid $almost-black;
    border-width: 0 toRem(2) toRem(2) 0;
    padding: toRem(5);
    position: absolute;
    line-height: 1;
    transform: translateY(-80%) rotate(45deg);
    top: 50%;
    transition: all 0.3s ease-in-out;
    margin-right: toRem(2);

    @include respond-to-min($desktop) {
      margin-right: toRem(36);
    }

    @include rtlBlock() {
      left: 0;
      right: auto;

      @include respond-to-max($tablet) {
        margin-left: 0;
      }

      margin-left: toRem(36);
      margin-right: 0;
    }
  }

  .cmp-accordion {
    &__button {
      border-bottom: toRem(1) solid $light-sand-brown;

      &--expanded {
        border-bottom: toRem(1) solid $sand-white-50;
      }
    }
  }

  .cmp-accordion__button--expanded .cmp-accordion__icon {
    transform: translateY(-20%) rotate(-135deg);
  }

  .cmp-accordion__panel--expanded {
    left: 50%;
    margin-left: -50vw;
    position: relative;
    width: 100vw;
    background-color: $sand-white-50;

    @include rtlBlock() {
      right: 50%;
      margin-right: -50vw;
      left: 0;
      margin-left: 0;
    }
  }

  .cmp-rte-text {
    padding-left: 0;
  }

  .cmp-text {
    display: block;
    padding: 1.5rem 1.375rem 1rem;
    font-size: $font16;
    line-height: toRem(28);
    color: $dark-gray;
    @include font-family-lato;
    margin-bottom: toRem(0);
    margin-left: auto;
    margin-right: auto;
    max-width: toRem(1224);

    @include respond-to-min($desktop) {
      padding: 1.5rem 6.5rem;
      font-size: $font20;
    }

    ol {
      li {
        padding-left: 0.75rem;
      }
    }
  }
}

// tab with accordion
.cmp-accordion--tab {
  @include font-family-Neotech-roboto;

  .container {
    @include clearFix();

    padding: 0 !important;
    width: 100% !important;
  }

  .cmp-title {
    padding: 1.5rem 1rem;

    @include respond-to-min($desktop) {
      padding: 0;
      margin-top: toRem(45);
    }
  }

  .cmp-accordion__item {
    display: block;
    border-bottom: toRem(1) solid $light-sand-brown;
  }

  .cmp-accordion__button {
    padding: 0;
  }

  .cmp-accordion__title {
    line-height: 1.5;
    font-size: $font12;
    display: inline-block;
    color: $almost-black;

    @include font-family-lato;
    padding: 1.25rem toRem(25);

    @include respond-to-min($desktop) {
      line-height: 1.4;
      font-size: $font16;
      padding: 1.5rem toRem(25);
    }
  }

  button:focus {
    background-color: transparent;
  }
  .cmp-accordion__icon {
    content: "";
    display: block;
    width: toRem(11);
    right: toRem(3);
    border: solid $almost-black;
    border-width: 0 toRem(1) toRem(1) 0;
    padding: toRem(5);
    position: absolute;
    line-height: 1;
    transform: translateY(-80%) rotate(45deg);
    top: 50%;
    transition: all 0.3s ease-in-out;
    margin-right: toRem(3);

    @include respond-to-min($desktop) {
      border-width: 0 toRem(2) toRem(2) 0;
    }

    @include rtlBlock() {
      left: 0;
      right: auto;

      @include respond-to-max($tablet) {
        margin-left: 0;
      }
      margin-left: toRem(36);
      margin-right: 0;
    }
  }

  .cmp-accordion__button--expanded .cmp-accordion__icon {
    transform: translateY(-20%) rotate(-135deg);
  }

  .cmp-rte-text {
    padding-left: toRem(0);
  }

  .cmp-text {
    background-color: $sand-white-50;
    border-top-color: transparent;
    padding: 1rem;
    font-size: $font12;

    @include font-family-lato;

    line-height: toRem(20);
    color: $steel-grey;
    margin-bottom: 0px;

    @include respond-to-min($desktop) {
      padding: 1.3rem 1.5rem;
    }
  }

  @include respond-to-max($tablet) {
    .nav-view-wrapp.panel > a,
    .nav-view-wrapp.panel > a.collapsed {
      line-height: 1.5;
      letter-spacing: normal;
      padding: 1.5rem;
      display: flex;
      align-items: center;
      position: relative;
      flex-direction: row-reverse;
      justify-content: flex-end;
      border-bottom: toRem(1) solid $light-sand-brown;
    }

    .nav-view-wrapp.panel > a.collapsed {
      color: $almost-black;
    }

    .nav-view-wrapp.panel > a:before {
      content: "";
      border-left: toRem(4) solid $main-green;
      display: block;
      position: absolute;
      height: 100%;
      left: toRem(-12);
      top: 0;
      font-size: $font16;

      @include font-family-Neotech-roboto;
      color: $main-green;
    }

    .nav-view-wrapp.panel > a.collapsed:before {
      display: none;
    }

    .nav-view-wrapp.panel > a:after {
      border: solid $main-green;
      border-width: 0 toRem(1) toRem(1) 0;
      padding: toRem(5);
      content: "";
      position: absolute;
      line-height: 1;
      transform: translateY(-30%) rotate(-135deg);
      transition: all 0.3s ease-in-out;
      right: toRem(3);
      z-index: 1;
      top: 50%;
    }

    .nav-view-wrapp.panel > a.collapsed:after {
      transform: translateY(-70%) rotate(45deg);
      border: solid $almost-black;
      border-width: 0 toRem(1) toRem(1) 0;
    }

    .nav-view-wrapp.panel > a {
      font-size: $font16;
    }

    .panel {
      background-color: $white;
      margin: toRem(28);
    }

    .nav-view-wrapp.panel > a::before {
      padding: toRem(5);
    }

    .nav-view-wrapp.panel .cmp-title__text {
      font-size: $font20;
    }
  }

  @include respond-to-min($desktop) {
    h3 {
      margin: toRem(0);
    }

    .cmp-tabs {
      display: flex;

      .cmp-tabs__tab {
        flex-direction: row-reverse;
        justify-content: flex-end;
        font-size: $font20;
        @include font-family-Neotech-roboto;
        box-sizing: border-box;
        cursor: pointer;
        color: $almost-black;
        line-height: toRem(90);
        border-bottom: 0;
        padding: 0 0 0 toRem(30);

        @include rtlBlock() {
          padding: 0 toRem(30) 0 0;

          @include font-family-Neotech-ge;
        }

        &--active {
          border-left: toRem(4) solid $main-green;

          @include rtlBlock() {
            border-right: toRem(4) solid $main-green;
            border-left: 0;
            padding: 0 toRem(26) 0 0;
          }
          color: $main-green;
          display: block;
          line-height: toRem(90);
          padding: 0 0 0 toRem(26);
        }
      }
    }

    .cmp-tabs__tablist {
      margin-left: 9%;

      @include rtlBlock() {
        margin-left: 0;
      }
      display: block;
      flex-wrap: wrap;
      list-style: none;
      padding-left: 0;
      width: 30%;
    }

    .cmp-tabs__tabpanel--active {
      margin-right: 8%;
      width: 60%;
    }
  }
}

// accordion with child accordion as list

.cmp-accordion--list {
  width: 100%;

  @include respond-to-min($desktop) {
    margin-left: auto;
    margin-right: auto;
    width: toRem(860);
  }

  .cmp-list {
    margin-top: toRem(65);
  }
  article {
    display: flex;
    flex-direction: row;
    border-top: toRem(1) solid $light-sand-brown;
  }
  a {
    display: block;
    width: 100%;
    position: relative;
  }
  .cmp-list__item-title {
    cursor: pointer;
    display: block;
    color: $main-green;

    @include font-family-lato;
    font-size: $font16;
    line-height: toRem(22);
    margin: 0;
    padding: toRem(15) 0;
    &:after {
      border-right: toRem(1.5) solid $main-green;
      border-top: toRem(1.5) solid $main-green;
      color: $almost-black;
      content: "";
      display: inline;
      right: inherit;
      height: toRem(12);
      margin-left: toRem(10);
      margin-top: toRem(10);
      position: absolute;
      top: inherit;
      transform: translateY(-50%) rotate(45deg);
      width: toRem(12);

      @include rtlBlock() {
        margin-right: toRem(10);
        transform: translateY(-50%) rotate(-135deg);
      }
    }
  }

  span.more,
  span.less {
    color: $almost-black;
    @include font-family-lato;
    font-size: $font14;
    letter-spacing: toRem(2);
    line-height: toRem(18);
    text-decoration: none;
    text-transform: uppercase;
    margin-top: toRem(10);
    width: 100%;
    text-align: right;
    float: right;

    @include rtlBlock() {
      float: left;
      text-align: left;
    }
  }
}
