.cmp-accordion--nested {
  .cmp-accordion__item {
    border-bottom: torem(1) solid;
    border-color: $white;
  }

  .cmp-viewall {
    border-bottom: toRem(1) solid $light-sand-brown;
  }

  .cmp-accordion__button {
    box-shadow: 0 0 toRem(6) 0 rgb(0 0 0 / 25%);
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    padding: 3rem 0;
    font-size: $font18;
    background-color: $sand-white;
    border-color: transparent;

    @include rtlBlock() {
      text-align: right;
    }

    @include respond-to-min($tablet) {
      font-size: $font24;
      padding: 2.8125rem 5rem;
    }

    @include respond-to-min($desktop) {
      padding: 1.8125rem 7.2rem;
      justify-content: space-between;
      font-size: $font26;
    }
  }

  .cmp-accordion__icon {
    content: "";
    position: relative;
    transform: rotate(225deg);
    color: $almost-black;
    display: block;
    width: toRem(15);
    height: toRem(15);
    border-top: toRem(2) solid $cold-gray;
    border-left: toRem(2) solid $cold-gray;

    @include respond-to-max($tablet) {
      left: toRem(30);
    }
  }

  .cmp-accordion__button--expanded {
    background-color: $white;
  }

  .cmp-accordion__button--expanded .cmp-accordion__icon {
    content: "";
    transform: rotate(45deg);
    display: block;
    width: toRem(18);
    height: toRem(18);
    top: toRem(10);
    border-top: toRem(2) solid $almost-black;
    border-left: toRem(2) solid $almost-black;

    @include respond-to-max($phone) {
      top: toRem(10);
      right: toRem(5);
    }
  }
  .cmp-accordion__title {
    color: $almost-black;
    font-size: $font18;
    padding-top: 0;

    @include font-family-Neotech;

    @include respond-to-min($tablet) {
      font-size: $font24;
    }

    @include respond-to-min($desktop) {
      font-size: $font26;
    }
    @include rtlBlock() {
      margin-left: 2rem;
    }
  }

  .font--small {
    font-size: $font16;

    // color: #848789;
    color: $steel-grey;
    line-height: toRem(25.6);
  }

  .signifierNoIcon {
    margin-top: toRem(30);

    @include respond-to-min($desktop) {
      width: toRem(860);
    }
    .cmp-accordion__icon {
      display: none;
    }

    @include respond-to-min($desktop) {
      margin-left: auto;
      margin-right: auto;
    }
    .cmp-accordion__title {
      font-size: $font16;

      @include font-family-lato;
      letter-spacing: 0.1rem;
    }

    .cmp-accordion__button {
      box-shadow: none;
      display: block;
      background-color: $white;
      border-color: transparent;
      margin: toRem(0);
      padding: toRem(10) 0 toRem(10) toRem(4);

      @include rtlBlock() {
        padding-right: 4%;
        text-align: right;
      }

      @include respond-to-min($desktop) {
        box-shadow: none;
        padding-left: toRem(2);
        line-height: toRem(22);

        @include rtlBlock() {
          padding-right: 1%;
          text-align: right;
        }
      }
    }

    .cmp-accordion__header {
      border-top: toRem(1) solid $light-sand-brown;
      display: block;
      font-size: $font16;
      padding-bottom: toRem(5);
    }

    .cmp-accordion__button--expanded {
      .cmp-accordion__title::before {
        color: $almost-black;
        content: " - ";
        display: table-cell;
        padding: toRem(5);

        @include rtl(right, toRem(9), toRem(-9));

        position: relative;
        vertical-align: top;
        font-size: toRem(61);

        @include font-family-lato;
        text-align: center;
        line-height: toRem(12);
        font-weight: get-font-weight("normal");
      }
    }

    .cmp-accordion__title::before {
      color: $almost-black;
      content: " + ";
      display: table-cell;
      padding: toRem(5);

      @include rtl(right, toRem(9), toRem(-9));
      position: relative;
      vertical-align: top;
      font-size: $font28;
      text-align: center;
      line-height: toRem(12);
      font-weight: get-font-weight("light");

      @include font-family-lato();
    }

    .cmp-text {
      padding: toRem(25) toRem(5) toRem(15) toRem(43);
      @include font-family-Neotech;
      color: $steel-grey;

      ul li {
        list-style-type: none;
        padding-left: 0;

        .space-bottom {
          margin-bottom: 0;
        }
      }
    }
    @include respond-to-min($desktop) {
      padding: toRem(10) toRem(30) toRem(80) toRem(8);
    }

    table {
      height: toRem(112);
      width: toRem(729);
      border: toRem(2) solid $gray;
    }

    th {
      background-color: $main-green;
      color: $white;
      vertical-align: middle;
      text-align: center;
      padding: toRem(12);
      border-right: toRem(1) solid $steel-grey;
    }

    td {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      color: $steel-grey;
      padding: toRem(12);
      border-top: toRem(1) solid $steel-grey;
      border-right: toRem(1) solid $steel-grey;
    }

    span.more,
    span.less {
      color: $almost-black;

      @include font-family-lato;
      font-size: $font14;
      letter-spacing: toRem(2);
      line-height: toRem(18);
      text-decoration: none;
      text-transform: uppercase;
      margin-top: toRem(10);
      width: 100%;
      text-align: right;
      float: right;
      cursor: pointer;
    }
  }
}
