.beigebg-container {
  //padding-left: 2rem!important;
  //padding-right: 2rem !important;
  padding: 2rem 0 !important;

  @include md {
    padding: 1rem !important;
  }

  @include sm {
    padding: 0.6rem !important;
  }

  @include md {
    h3 {
      font-size: $font16;
      margin-top: 0.25rem;

      @include font-family-lato();
    }

    h2 {
      font-size: $font20;

      @include font-family-lato();
    }
  }

  p {
    color: $dark-gray;

    @include font-family-lato();

    @include sm {
      color: $dark-gray;
      font-size: $font16;
      margin-bottom: 3rem;
    }
  }

  h3 {
    color: $almost-black;
    //margin-top: 1rem;
    @include font-family-Neotech;
  }

  .cmp-text {
    h3 {
      font-size: $font20;

      @include sm {
        line-height: 27px;
      }

      @include md {
        font-size: $font16;
      }
    }

    p {
      font-size: $font14;
      margin: 0 0 12.5px;
      margin-bottom: 1.5rem;
    }
  }

  .cmp-teaser__content {
    .cmp-teaser__title {
      float: left;
      width: 51%;

      @include md {
        float: none;
        width: 100%;
      }
    }

    .cmp-teaser__description {
      float: left;
      margin-top: 0.5rem;
      width: 50%;

      @include md {
        float: none;
        margin-top: 1.8rem;
        width: 100%;
      }
    }
  }

  .cmp-beigebg_teaser {
    background: $sand-white-50;
    border-radius: 4px;
    margin-bottom: 1.5rem;
    min-height: 140px;
    overflow: hidden;
    position: relative;

    @include md {
      min-height: 117px;
    }
  }

  .cmp-teaser__action-container {
    float: right;
    margin-top: -3rem;
  }

  .cmp-teaser {
    padding-left: 36px;
    padding-right: 36px;

    @include md {
      padding-left: 17px;
      padding-right: 17px;
    }

    .cmp-teaser__title {
      color: $almost-black;
      font-size: $font28;
      letter-spacing: .5px;

      @include sm {
        font-size: $font20;
        margin: 1rem 0;
      }

      @include md {
        font-size: $font28;
        margin: 1rem 0;
      }

      //margin: 1.2rem 0.5rem;

      a {
        color: $almost-black;
      }

      h3 {
        @include sm {
          font-size: $font20;
          font-weight: 400;
          line-height: 1.3;

          @include font-family-Neotech;
        }
      }
    }
  }

  ul li {
    color: $dark-gray;
    line-height: 24px;
    list-style-type: disc;
    margin-bottom: 4px;
    margin-left: 2rem;
    padding-left: 0.5rem;
    position: relative;

    @include font-family-lato();
  }

  .beigebg-wrapper {
    background: $sand-white-50;
    padding-bottom: 2rem;
    padding-top: .4rem;

    .rte-bullets {
      ol {
        padding: 2rem 2rem 0;
      }
    }
  }

  .cmp-beigebg_teaser {
    margin-bottom: -1.7rem;
  }

  .aem-GridColumn.aem-GridColumn--default--6 {
    padding-left: 0;
    padding-right: 2rem;

    @include sm {
      padding-left: 0;
      padding-right: 1rem;
    }

    @include md {
      padding-left: 0;
      padding-right: 1rem;
    }
  }

  .beige-table {
    margin-top: -1rem;
    padding-left: 1rem;

    @include sm {
      padding-left: 1rem;
      padding-right: 2rem;
    }

    @include md {
      padding-left: 0;
      padding-right: 0;
    }

    .cmp-text {
      margin-bottom: 0;
    }


    td {
      border-bottom: 1px solid $white-2;
      border-collapse: separate !important;
      border-spacing: 2rem 0;

      //margin: 0 -2rem;
      color: $steel-grey;
      font-size: $font20 !important;
      font-weight: 400;
      line-height: 56px;
      vertical-align: bottom;
      width: 50%;

      @include font-family-lato();

      @include sm {
        border-bottom: none;
        font-size: $font14 !important;
      }

      @include md {
        padding: 0 1rem !important;
      }

      p {
        font-size: $font20;
        line-height: 56px;
        margin: 0;

        @include font-family-lato();

        @include md {

        }

        @include sm {
          color: $almost-black;
          font-size: $font14;
          line-height: 28px;
          width: 13rem;
        }
      }
    }


    table {
      border-collapse: separate;
      border-spacing: 2rem 0;
      margin: 0 -2rem 2rem 0;

      @include md {
        border-collapse: separate;
        border-spacing: 2rem 0;
        margin: 0 -2rem;
      }

      @include sm {
        border-spacing: 0;
        margin: 0;
      }

      tbody td {
        color: $steel-grey;
        line-height: 56px;
        padding: 0 1rem !important;

        @include sm {
          color: $steel-grey;
          font-size: $font14 !important;
          line-height: 2rem;
          padding: 0 !important;
          padding: .75rem 2rem 0.65rem 0 !important;
        }
      }
    }

    table th {
      border-bottom: 1px solid $white-2;
      color: $almost-black;
      font-size: $font20;
      font-weight: 400;
      line-height: 56px;
      padding: 0;
      vertical-align: bottom;

      @include font-family-lato();

      @include sm {
        border-bottom: none;
        font-size: $font14;
      }
    }
  }

  .rte-bullets {
    ol,
    ul {
      font-size: $font14;
      line-height: 24px;
      list-style: decimal;
      margin: 0;
      margin-bottom: 12.5px;
      margin-top: 0;
      padding: 0;

      @include font-family-lato();
    }

    ol {
      padding: 2rem 2rem 0;
    }
  }

  table tbody td:last-child {
    color: $almost-black;

    @include sm {
      color: $almost-black !important;
      font-weight: 700;
    }

    @include md {
      color: $steel-grey;
    }
  }

  .teaser-viewall {
    color: $almost-black;
    cursor: pointer;
    float: right;
    font-size: $font14;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.25rem;
    margin-top: -3rem;
    position: relative;
    text-transform: uppercase;
    z-index: 3;

    @include font-family-lato();

    @include md {
      float: right;
      margin-top: -6rem;
    }

    @include sm {
      float: right;
      margin-top: -8.4rem;
    }
  }


  >.cmp-container {
    background: $sand-white-50;
    border-radius: 4px;
    margin-bottom: 1.5rem;
    min-height: 140px;
    overflow: hidden;
    position: relative;

    @include sm {
      margin-bottom: 0;
    }

    @include md {
      margin-bottom: 0;
    }
  }

  >.cmp-container::before {
    background: url("../resources/images/sectionbackground.svg");
    background-size: contain;
    height: 280px;
    opacity: .1;
    position: absolute;
    right: 0;
    top: 0;
    width: 260px;
    z-index: 0;

    @include sm {
      display: block;
    }

    @include md {
      display: block;
    }
  }

  >.cmp-container::after {
    background: url("../resources/images/sectionbackground.svg");
    background-size: contain;
    content: "";
    height: 280px;
    left: -2px;
    opacity: .1;
    position: absolute;
    top: 0;
    transform: rotate(180deg);
    width: 260px;
    z-index: 0;

    @include md {
      height: 145px;
      width: 140px;
    }

    @include sm {
      height: 145px;
      width: 140px;
    }
  }

  .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--6 {
    @include sm {
      width: 100%;
    }

    @include md {
      width: 100%;
    }
  }

  .accordion {
    padding-left: 25px;
    padding-right: 25px;

    @include sm {
      padding-left: 12px;
      padding-right: 12px;

      .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--5 {
        width: 100%;
      }
    }

    @include md {
      padding-left: 12px;
      padding-right: 12px;

      .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--5 {
        width: 100%;
      }
    }
  }

  button:focus {
    background-color: transparent;
    outline: none;
  }

  .cmp-accordion {
    background-color: transparent;
  }

  .accordion-top-view {
    color: $almost-black !important;
    cursor: pointer;
    float: right;
    font-size: .875rem;
    letter-spacing: 2px;
    line-height: 1.25rem;
    margin-right: 1rem;
    margin-top: 0;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    z-index: 1;

    @include font-family-lato();

    @include md {
      display: none;
    }

    @include sm {
      display: none;
    }

    :hover {
      text-decoration: underline;
    }
  }

  .cmp-accordion__item {
    border-bottom: none;

    .cmp-accordion__header {
      padding-top: 6px;
    }
  }

  // .cmp-accordion__button {
  //     width: auto;
  // }

  .cmp-accordion__title {
    color: $almost-black;
    font-size: 28px;
    letter-spacing: .5px;
    margin: 2.2rem 0 1.5rem;

    @include font-family-Neotech;

    @include sm {
      font-size: 20px;
    }

    @include md {
      font-size: 20px;
    }
  }

  .cmp-accordion__icon {
    border-left: 1px solid $almost-black;
    border-top: 1px solid $almost-black;
    color: $nav-item-black;
    content: "";
    display: block;
    float: right;

    //width: 10px;
    //height: 10px;
    padding: 3.7px;
    position: relative;
    right: 5px;
    top: 3px;
    transform: rotate(225deg);
    z-index: 10;

    //margin-top: 1rem;
    @include sm {
      margin-right: 0.5rem !important;
      margin-top: 0.5rem;
      z-index: 10;
    }

    @include md {
      height: 10px;
      margin-right: 0.5rem;
      margin-top: .5rem;
      width: 10px;
    }
  }

  .cmp-accordion__button--expanded {
    background-color: transparent !important;
    z-index: 10;
  }

  .cmp-accordion__button--expanded .cmp-accordion__icon {
    border-left: 1px solid $almost-black;
    border-top: 1px solid $almost-black;
    content: "";
    display: block;
    float: right;
    padding: 3.7px;
    right: 5px;

    //width: 10px;
    //height: 10px;
    top: 5px;
    transform: rotate(45deg);
  }

  .cmp-accordion__button {
    margin-left: 10px;
    margin-top: 5px;
    padding: 0;
    z-index: 10;
  }

  .visiblityhidden {
    visibility: hidden;
    width: min-content;
  }

  .displaynone {
    display: none;
  }

  .cmp-accordion__itemdesc {
    font-size: 18px;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

    @include sm {
      font-size: 16px;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }

    @include md {
      font-size: 16px;
      margin-bottom: 2rem;
      margin-top: 1rem;
    }
  }

  .cmp-accordion__panel--expanded {
    margin-top: 1.25rem;

    @include sm {
      margin-top: -3rem;
    }

    @include md {
      margin-top: -2rem;
    }
  }
}

.sort_asc {
  background-image: url("../resources/images/sort_asc.png");
  background-position: right 1px;
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 13px;
  width: 138px;
}

.sort_desc {
  background-image: url("../resources/images/sort_desc.png");
  background-position: right -3px;
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 13px;
  width: 138px;
}
