.contact-form {
  .cmp-form-text {
    margin-bottom: 1rem;
  }
  .cmp-form-text {
    input {
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      display: block;
      width: 85%;
      //@include fontSize(18);
      font-size: toRem(18);
      padding: $padding-small $padding-small;
      border-radius: toRem(6);
      line-height: 1.5;
      color: $off-white;
      background-color: $white;
      background-image: none;
      background-clip: padding-box;
      border: 1px solid $off-white;
    }
    textarea {
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      display: block;
      width: 85%;
      font-size: toRem(18);
      //@include fontSize(18);
      padding: $padding-small;
      border-radius: toRem(6);
      line-height: 1.5;
      color: $off-white;
      background-color: $white;
      background-image: none;
      background-clip: padding-box;
      border: 1px solid $off-white;
    }
  }
}
#contact input::placeholder,
#contact textarea::placeholder {
  color: #ced4da !important;
}
