<<<<<<< Updated upstream
.hst-welcome-heading{
	h2 {
		font-size: $sixty-padding;
		color: $white;
		font-weight: 700;
		line-height: 1.2;
	  }
} 
.square-block{
	h4 {	
		font-size: calculateRem(22);
		margin-bottom: $padding-small;
	  }
} 
=======
 
>>>>>>> Stashed changes
.hiuapp_pink-rotate-bg {
  background-image: -webkit-linear-gradient(
    -70deg,
    $pink-color 60%,
    $white 40%
  );
<<<<<<< Updated upstream
 // @include px-to-rem(800);
  height: 800px;
=======
  height: toRem(800);
>>>>>>> Stashed changes
  position: relative;
  z-index: 1;
  background-position: bottom center;
  background-size: cover;
<<<<<<< Updated upstream
  padding-top: 260px !important;
  @media (min-width: 991px) {
=======
  padding-top: toRem(260) !important;
  @media (min-width: $desktop) {
>>>>>>> Stashed changes
    .hidden {
      display: block !important;
    }
  }
}
.hiuapp_pink-rotate-bg {
  .cmp_container_block {
<<<<<<< Updated upstream
    max-width: 1140px !important;
=======
    max-width: toRem(1140) !important;
>>>>>>> Stashed changes
    width: 100%;
    padding-right: $padding-small;
    padding-left: $padding-small;
    margin-right: auto !important;
    margin-left: auto !important;
    float: none !important;
  }
  .cmp-container{
	p {
		color: $white-color;
	  }
  } 
}
.hiuapp_lightblue-rotate-bg {
<<<<<<< Updated upstream
  padding-top: 100px !important;
=======
  padding-top: toRem(100) !important;
>>>>>>> Stashed changes
  background: $grey-color;
  background-image: -webkit-linear-gradient(75deg, $grey-color 49%, $white 45%);
  position: relative;
  z-index: 1;
  background-position: bottom center;
  background-size: cover;
<<<<<<< Updated upstream
  margin-top: 150px;
  padding-top: 100px !important;
=======
  margin-top: toRem(150);
  padding-top: toRem(100) !important;
>>>>>>> Stashed changes
}
.hiuapp_lightblue_bg {
  background: $grey-color;
  padding-top: 0 !important;
<<<<<<< Updated upstream
  padding-bottom: 50px !important;
}
.section-heading {
  margin-top: 20px;
  > h2 {
    font-weight: normal;
    font-family: $font-family;
    color: $title-color;
    font-size: $font45;
    margin: 0;
    line-height: 1.1em;
  }
}
.line-shape {
  width: 80px;
  height: 4px;
  background-color: $blue-color;
  margin-top: $padding-small;
  margin-bottom: $sixty-padding;
}
.email-text{
	p {
		font-size: $font18;
		margin-bottom: 10px;
	  }
} 
//scroll up
.scrollUp {
  bottom: 0;
  font-size: $font24;
  right: 30px;
  width: 50px;
  background-color: $title-color;
  color: $white;
  text-align: center;
  height: 50px;
  line-height: 50px;
=======
  padding-bottom: toRem(50) !important;
}
#about{
  margin-top: toRem(100);
}
.scrollUp {
  bottom: 0;
  font-size:toRem(24);
  right: toRem(30);
  width: toRem(50);
  background-color: $title-color;
  color: $white;
  text-align: center;
  height: toRem(50);
  line-height: toRem(50);
  position: fixed;
  z-index: 1;
>>>>>>> Stashed changes
  :hover {
    color: $white;
  }
}
.fa-angle-up:before {
  content: "\f106";
}
.fa {
  display: inline-block;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-android:before {
  content: "\f17b";
}
.fa-apple:before {
  content: "\f179";
<<<<<<< Updated upstream
}
.hiuapp_pink-rotate-bg {
	.cmp-container {
		margin-left: auto;
		margin-right: auto;
		max-width: 1140px;
		width: 100%;
	  }
}
.hiuapp_img {
  max-width: 500px;
}
.hiuapp_termspage
  .hiuapp_pink-rotate-bg
  .aem-Grid.aem-Grid--default--12
  > .aem-GridColumn.aem-GridColumn--default--6 {
  width: 100%;
  padding-left: 24px;
}
.scrollUp {
  bottom: 0;
  font-size: $font24;
  right: 30px;
  width: 50px;
  background-color: $title-color;
  color: $white;
  text-align: center;
  height: 50px;
  line-height: 50px;
  position: fixed;
  z-index: 1;
=======
}
.hiuapp_pink-rotate-bg {
	.cmp-container {
		margin-left: auto;
		margin-right: auto;
		max-width: toRem(1140);
		width: 100%;
	  }
}
.hiuapp_img {
  max-width: toRem(500);
}
.hiuapp_termspage
  .hiuapp_pink-rotate-bg
  .aem-Grid.aem-Grid--default--12
  > .aem-GridColumn.aem-GridColumn--default--6 {
  width: 100%;
  padding-left: toRem(24);
>>>>>>> Stashed changes
}
.fa {
  display: inline-block;
  font-family: "FontAwesome";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  max-width: 100%;
  margin: 0;
  padding: 0;
}
<<<<<<< Updated upstream
.cmp_img_wdt {
  max-width: 550px;
}
.container.responsivegrid {
  width: 100%;
  padding: 0;
}
.cmp_section_padding {
  padding-top: 100px;
}
.fa-angle-up:before {
  content: "\f106";
}
.cmp_no_space {
  h2 {
    margin-bottom: 0;
  }
  p {
    margin: 44px 0px 54px 0px;
  }
}
ul {
  text-decoration-color: $blue-color;
}
.cmp_img {
  float: $floatR !important;
  .cmp-image__image {
    width: 90%;
  }
}
.hiuapp_pink-rotate-bg {
	.cmp-teaser__action-container {
		position: relative;
	  }
}
.hiuapp_pink-rotate-bg {
	a.cmp-teaser__action-link {
  position: absolute;
  top: 0;
}
}
=======
.container.responsivegrid {
  width: 100%;
  padding: 0;
}
.fa-angle-up:before {
  content: "\f106";
}
.cmp_no_space {
  h2 {
    margin-bottom: 0;
  }
  p {
    margin: 44px 0px 54px 0px;
  }
}
ul {
  text-decoration-color: $blue-color;
}
.cmp_img {
  //seema added
  top: toRem(140);
    position: absolute;
    right: toRem(75);
     //seema added end
  //float: $floatR !important;
  .cmp-image__image {
    width: 90%;
  }
}
.hiuapp_pink-rotate-bg {
	.cmp-teaser__action-container {
		position: relative;
	  }
}
.hiuapp_pink-rotate-bg {
	a.cmp-teaser__action-link {
  position: absolute;
  top: 0;
}
}
>>>>>>> Stashed changes
//seema added
#contact {
	.cmp-text {
		text-align: center !important;
	  }
<<<<<<< Updated upstream
}
#downloadHiU {
	.cmp-container {
		.cmp-text {
			margin-bottom: 50px;
		  }
	}
}
=======
}
#downloadHiU {
	.cmp-container {
		.cmp-text {
			margin-bottom: toRem(50);
		  }
	}
}
>>>>>>> Stashed changes
.hiuapp_pink-rotate-bg {
	.teaser {
		.cmp-teaser {
			position: absolute;
			top: 155px;
		  }
	}
}
//Seema added end

//MEDIA QUERIES
<<<<<<< Updated upstream
@media (min-width: 320px) and (max-width: 767px) {
  .cmp_btn {
    display: flex;
    flex-direction: column;
  }

  .buttonstore {
    margin-left: 5% !important;
  }
=======
@media (min-width: $small-phone) and (max-width: $tablet) {
 
>>>>>>> Stashed changes
  .cmp-text {
    width: 100%;
    margin-left: 2%;
  }
  .cmp_no_space p {
    margin: 30px 0px;
  }

  .cmp_no_space {
    margin-left: 0 !important;
  }
  .hiuapp_lightblue-rotate-bg {
    background-image: -webkit-linear-gradient(
      75deg,
      $grey-color 50%,
      $white 45%
    ) !important;
<<<<<<< Updated upstream
    padding-top: 80px !important;
=======
    padding-top: toRem(80) !important;
>>>>>>> Stashed changes
  }

  .hiuapp_lightblue-rotate-bg{
	.cmp-image__image {
		max-width: 82%;
		margin-left: 10%;
	  }
  } 
  .section-heading > h2 {
<<<<<<< Updated upstream
    font-size: $font32;
=======
    font-size: toRem(32);
>>>>>>> Stashed changes
    margin: 50px 0px 60px 0px;
  }
  .hiuapp_lightblue-rotate-bg{
	.cmp-container {
<<<<<<< Updated upstream
		padding-top: 30px !important;
	  }
  } 
  .hiuapp_lightblue_bg {
    padding-top: 90px !important;
=======
		padding-top: toRem(30) !important;
	  }
  } 
  .hiuapp_lightblue_bg {
    padding-top: toRem(90) !important;
>>>>>>> Stashed changes
  }

  .hiuapp_termspage{
	.cmp-text {
		padding: 0 12px;
	  }
  } 

  h1 {
<<<<<<< Updated upstream
    line-height: 55px;
    font-size: 42px;
=======
    line-height:toRem(55);
    font-size: toRem(42);
>>>>>>> Stashed changes
  }

  .hiuapp_pink-rotate-bg{
	.cmp-container {
		padding: 0;
	  }
  } 

  .hiuapp_pink-rotate-bg {
    background-image: -webkit-linear-gradient(
      -74deg,
      $pink-color 75%,
      $white 20%
    );
    background-position: bottom;
    background-size: cover;
<<<<<<< Updated upstream
    height: 910px;
=======
    height: toRem(910);
>>>>>>> Stashed changes
    padding: 80px 30px 0 25px !important;
  }

  .hiuapp_termspage{
	.hiuapp_pink-rotate-bg {
		background-image: -webkit-linear-gradient(
		  -80deg,
		  $pink-color 70%,
		  $white 0
		);
		height: 100%;
<<<<<<< Updated upstream
		margin-bottom: 80px !important;
=======
		margin-bottom: toRem(80) !important;
>>>>>>> Stashed changes
		padding: 10px 21px 0 0 !important;
	  }
  } 

  .hiuapp_lightblue-rotate-bg{
	.cmp-container h1 {
<<<<<<< Updated upstream
		line-height: 49px;
=======
		line-height:toRem(49);
>>>>>>> Stashed changes
	  }
  } 

  .hiuapp_termspage{
	h1 {
<<<<<<< Updated upstream
		font-size: 35px;
		margin: 75px 30px 16px 0px;
		line-height: 39px;
=======
		font-size: toRem(35);
		margin: 75px 30px 16px 0px;
		line-height: toRem(39);
>>>>>>> Stashed changes
	  }
  } 

  .cmp_box_shadow {
    width: 100% !important;
    margin-left: 0 !important;
<<<<<<< Updated upstream
    margin-bottom: 20px;
=======
    margin-bottom: toRem(20);
>>>>>>> Stashed changes
  }
  .cmp_store_btn {
    width: 50%;
  }
  h2 {
<<<<<<< Updated upstream
    font-size: $font32 !important;
=======
    font-size: toRem(32) !important;
>>>>>>> Stashed changes
  }
  .hidden {
    display: none !important;
  }
  .hiuapp_pink-rotate-bg{
	.cmp-container p {
		color: $white;
		padding: 0;
		margin: 7px 36px 50px 0;
<<<<<<< Updated upstream
		line-height: 23px;
=======
		line-height: toRem(23);
>>>>>>> Stashed changes
	  }
  } 
  .cmp-teaser a,
  .hiuapp_teaser_ctn .cmp-teaser__content a {
    margin-left: 0;
  }
  .hiuapp_teaser_ctn .cmp-teaser {
    padding: 0px 27px 30px 40px;
  }
}
<<<<<<< Updated upstream
@media (min-width: 768px) and (max-width: 991px) {
=======
@media (min-width: $tablet) and (max-width: $desktop) {
>>>>>>> Stashed changes
  .hiuapp_termspage{
	.hiuapp_pink-rotate-bg {
		background-image: -webkit-linear-gradient(
		  -80deg,
		  $pink-color 60%,
		  $white 0
		);
<<<<<<< Updated upstream
		height: 300px;
=======
		height: toRem(300);
>>>>>>> Stashed changes
	  }
  } 

  .hiuapp_termspage{
	.hiuapp_pink-rotate-bg{
		.cmp-container {
<<<<<<< Updated upstream
			padding-left: 36px;
=======
			padding-left: toRem(36);
>>>>>>> Stashed changes
		  }
	}
  } 

  .cmp_box_shadow{
	.cmp-text {
		padding: 26px 13px 6px;
	  }
  } 
  .hiuapp_pink-rotate-bg {
<<<<<<< Updated upstream
    padding-top: 88px !important;
=======
    padding-top: toRem(88) !important;
>>>>>>> Stashed changes
  }

  .hiuapp_pink-rotate-bg {
    .aem-Grid.aem-Grid--phone--11
      > .aem-GridColumn.aem-GridColumn--offset--phone--1 {
      margin-left: 0;
    }
  }
  .hiuapp_lightblue_bg {
<<<<<<< Updated upstream
    padding-top: 50px !important;
  }
  .section-heading > h2 {
    font-size: 38px;
    margin-bottom: 50px;
  }
  .hiuapp_lightblue-rotate-bg{
	.cmp-container {
		padding-top: 30px;
=======
    padding-top: toRem(50) !important;
  }
  .section-heading > h2 {
    font-size: toRem(38);
    margin-bottom: toRem(50);
  }
  .hiuapp_lightblue-rotate-bg{
	.cmp-container {
		padding-top: toRem(30);
>>>>>>> Stashed changes
	  }
	
  } 
  .hiuapp_lightblue_bg {
    .aem-Grid.aem-Grid--12
      > .contact-form.aem-GridColumn.aem-GridColumn--phone--10 {
      width: 50%;
    }
    .aem-Grid.aem-Grid--12 > .text.aem-GridColumn.aem-GridColumn--phone--10 {
      width: 50%;
    }
  }
  .cmp_img {
<<<<<<< Updated upstream
    margin-top: 100px;
=======
    margin-top: toRem(100);
>>>>>>> Stashed changes
  }
}
