table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
a{ text-decoration:none;}

.hiu-ht .cmp-container {
	position: relative;
	z-index: 2;
}

.hiu-ht .cmp-text {
	font-size: 72px;
	font-weight: 700;
	color: #fff;
	margin: 0;
	line-height: 1;
	padding: 0;
}

.hiu-ht .menu {
	margin-top: 0px;
}

.hiu-ht nav li a {
	color: #fff;
	font-weight: 500;
}

.hst-welcome-heading h2 {
	font-size: 60px;
	color: #ffffff;
	font-weight: 700;
	line-height: 1.2;
}


.hiuapp_pink-rotate-bg {
	background-image: -webkit-linear-gradient( -70deg, #db4f74 60%, #FFF 40%);
	height: 800px;
	position: relative;
	z-index: 1;
	background-position: bottom center;
	background-size: cover;
}

.square-block h4 {
	font-size: 22px;
}

.hiuapp_lightblue-rotate-bg {
	padding-top:150px;
	background: #f5f9fc;
	background-image: -webkit-linear-gradient( 75deg, #f5f9fc 55%, #FFF 45%);
	position: relative;
	z-index: 1;
	background-position: bottom center;
	background-size: cover;
}

.hiuapp_teaser_ctn{
	background: linear-gradient(to left, #db4f74, #eb6ca3);
}

.hiuapp_teaser_ctn .cmp-teaser__content {
	padding-top: 50px;
	padding-bottom: 50px;
	position:relative;
}

.hiuapp_teaser_ctn .cmp-teaser__pretitle {
	font-size: 36px;
	color: #fff;
}

.hiuapp_teaser_ctn  .cmp-teaser__description p {
	color: #fff;
}

.hiuapp_lightblue_bg{
	background: #f5f9fc;
}

.hiuapp_lightblue_bg .cmp-container {
	padding-top: 100px;
	padding-bottom: 100px;
}

.contact-form .cmp-form-text {
	margin-bottom: 1rem;
}

.contact-form .cmp-form-text input {
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	display: block;
	width: 100%;
	font-size: 18px;
	padding: 15px 15px;
	border-radius: 6px;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid #ced4da;
}

.contact-form .cmp-form-text textarea {
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	display: block;
	width: 100%;
	font-size: 18px;
	padding: 15px 15px;
	border-radius: 6px;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid #ced4da;
}

.section-heading {
	margin-top: 20px;
}

.section-heading>h2 {
	font-weight: normal;
	font-family: 'Cabin', sans-serif;
	color: #fb397d;
	font-size: 45px;
	margin: 0;
	line-height: 1.1em;
}

.line-shape {
	width: 80px;
	height: 4px;
	background-color: #5b32b4;
	margin-top: 15px;
	margin-bottom: 60px;
}

.footer-text {
	margin-bottom: 50px;
}

.email-text p {
	font-size: 18px;
	margin-bottom: 10px;
}


.cmp_static_btn{background: #ffffff;
    height: 50px;
    min-width: 200px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    color: #fb397d;
    font-weight: 500;
    border-radius: 6px;
}



.submit-btn:hover {
    background: #5b32b4;
    color: #fff;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.submit-btn {
    background: #fb397d;
    height: 48px;
    min-width: 185px;
    color: #ffffff;
    font-weight: 500;
    border-radius: 6px;
}

 .hiuapp_pink-rotate-bg .cmp_container_block{
    max-width:1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.cmp_container_block{
    max-width:1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.hiuapp_pink-rotate-bg a{ float:right;}

.hiuapp_teaser_ctn .cmp-teaser{
	max-width:1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    max-width:1140px;
}
 .hiuapp_pink-rotate-bg .cmp-container p{
     color:$white-color;
 }

.hiuapp_teaser_ctn .cmp-teaser__content a{
    background: #ffffff;
     border: 1px solid #ddd;
    height: 50px;
    min-width: 200px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    color: #fb397d;
    font-weight: 500;
    border-radius: 6px;
	position:absolute;
	right: 0;
    top: 63px;
	text-decoration:none;
}

.cmp-teaser a:hover{
	background: #5b32b4;
    color: #fff;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.cmp-teaser p{
	color: #fff;
    font-weight: 300;
}
//scroll up
.scrollUp {
    bottom: 0;
    font-size: 24px;
    right: 30px;
    width: 50px;
    background-color: #FB397D;
    color: #fff;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.fa-angle-up:before {
    content: "\f106";
}

@media (min-width: 320px) and (max-width: 767px){
	.hiuapp_pink-rotate-bg{
	background-image: -webkit-linear-gradient( -74deg , #db4f74 80%, #FFF 20%);
    background-position: bottom;
    background-size: cover;
    height: 900px;
	}
}

.hiuapp_terms_list li{
	border:1px solid red;
}

//crv box shadow
.cmp_box_shadow .cmp-container{
	max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.cmp_box_shadow .aem-Grid.aem-Grid--default--12 > .cmp_box_shadow .aem-GridColumn.aem-GridColumn--default--4{
	width: 32%;
	margin-right: 2%;
}


.cmp_box_shadow:hover {
	-webkit-box-shadow: 0 10px 90px rgb(0 0 0 / 8%);
	box-shadow: 0 10px 90px rgb(0 0 0 / 8%);
}

.cmp_box_shadow{
	border: 2px solid #eff2f6;
	border-radius: 10px;
	-webkit-transition-duration: 800ms;
	-o-transition-duration: 800ms;
	transition-duration: 800ms;
	min-height: 240px;
}


.cmp_box_shadow .cmp-text{
	position: relative;
    padding:40px 50px;
	display: block;
	height: 160px;
	max-height:160px;
	font-family: 'Cabin', sans-serif;
}

///CMP Button
.cmp_btn{display: flex}

.fa {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 .fa-android:before {
    content: "\f17b";
}
 .fa-apple:before {
    content: "\f179";
}

.cmp_btn .cmp_store_btn i {
    color: #47425D;
    font-size: 24px;
    margin-right: 15px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
.cmp_btn .cmp_store_btn:hover {
     border-color: transparent;
     background-color: #FB397D;
     color:#fff;
}
.cmp_btn .cmp_store_btn p span:hover{
    color:#fff
	}

.cmp_btn .cmp_store_btn p span {
    font-size: 12px;
    display: block;
}

.cmp_btn .cmp_store_btn p {
    font-size: 16px;
    line-height: 1;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

.cmp_btn .cmp_store_btn:first-child {
    margin-bottom: 20px;
}
.cmp_btn .cmp_store_btn{
    border: 1px solid #ddd;
    background-color: #FFF;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding:0 30px 0 30px;
    border-radius: 6px;
    -webkit-box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 20px;
}
.cmp_btn .cmp_store_btn a{
	display: flex;
}
