.contact-form {
  .cmp-form-text {
    margin-bottom: 1rem;
  }
<<<<<<< Updated upstream
  .cmp-form-text{
	input {
		transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		display: block;
		width: 100%;
		//@include fontSize(18);
		font-size: $font18;
		padding: $padding-small $padding-small;
		border-radius: 6px;
		line-height: 1.5;
		color: $off-white;
		background-color: $white;
		background-image: none;
		background-clip: padding-box;
		border: $font1 solid $off-white;
	  }
  } 
  .cmp-form-text{
	textarea {
		transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
		display: block;
		width: 100%;
		font-size: $font18;
		//@include fontSize(18);
		padding: $padding-small $padding-small;
		border-radius: 6px;
		line-height: 1.5;
		color: $off-white;
		background-color: $white;
		background-image: none;
		background-clip: padding-box;
		border: $font1 solid $off-white;
	  }
=======
  .cmp-form-text {
    input {
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      display: block;
      width: 100%;
      //@include fontSize(18);
      font-size: toRem(18);
      padding: $padding-small $padding-small;
      border-radius: toRem(6);
      line-height: 1.5;
      color: $off-white;
      background-color: $white;
      background-image: none;
      background-clip: padding-box;
      border: 1px solid $off-white;
    }
  }
  .cmp-form-text {
    textarea {
      transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
      display: block;
      width: 100%;
      font-size: toRem(18);
      //@include fontSize(18);
      padding: $padding-small $padding-small;
      border-radius: toRem(6);
      line-height: 1.5;
      color: $off-white;
      background-color: $white;
      background-image: none;
      background-clip: padding-box;
      border: 1px solid $off-white;
    }
>>>>>>> Stashed changes
  }
}
