footer{
	text-align:center;
}

footer h2{
    color: #db4f74;
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 15px;
}

footer ul{
	width: 100%;
    max-width: 444px;
    margin-left: auto;
    margin-right: auto;
}
footer ul li{
	display: inline;
	list-style-type:none;
	float:left;
}
footer ul li:last-child a{
	border:0;
}
footer ul li a {
    border-right: 2px solid #726a84;
    display: block;
    padding: 0 7.5px;
    color: #726a84;
	
}
footer ul li a:hover{
  
    display: block;
    padding: 0 7.5px;
    color: #726a84;
	
}
footer .cmp-text{
	color: #726a84;
    font-size: 16px;
    font-weight: 300;
    margin-top: 15px!important;
}
.cmp-text{
	margin-top: 15px!important;
}

footer .cmp-container{
	max-width: 100%;
    width: 444px;
    text-align: center;
    margin: 0 auto;
}
footer .cmp-container .footer-social-icons{
	margin-left: 8em;
}