/*footer{
	
}*/

footer {
  text-align: center;
  margin-bottom: 70px;

  .cmp-button__text {
    display: none;
  }
  .button {
    max-width: 44px;
    margin-bottom: 18px;
    display: inline-block;
  }

  h2 {
    color: $pink-color;
    font-size: 52px !important;
    font-weight: 700 !important;
    margin-bottom: $padding-small;
    margin-top: 30px;
  }

  ul {
    width: 100%;
    max-width: 444px;
    margin-left: auto;
    margin-right: auto;
  }
  ul li {
    display: inline;
    list-style-type: none;
    float: $floatL;
    margin-bottom: $padding-small;
  }
  li:last-child a {
    border: 0;
  }
  li a {
    border-right: 2px solid $font-color;
    display: block;
    padding: 0 7.5px;
    color: $font-color;
    font-family: $font-family;
  }
  a:hover {
    display: block;
    padding: 0 7.5px;
    color: $font-color;
  }
  .cmp-text {
    color: $font-color;
    font-size: $font16;
    font-weight: $font-weight3;
    margin-top: $padding-small;
    margin: -1px 0px 0px 11px;
    font-family: $font-family;
  }
  .cmp-container {
    max-width: 100%;
    width: 366px;
    text-align: center;
    margin: 0 auto;
  }
}

.footer-social-icons .cmp-container {
  display: flex;
  margin: 0 auto;
  width: 190px;
}

.footer-text > h4 {
  color: $pink-color;
  font-size: 52px;
  font-weight: 700;
}

.footer-menu {
  margin-bottom: $padding-small;
}

.footer-menu ul li a {
  border-right: 2px solid $font-color;
  display: block;
  padding: 0 7.5px;
  color: $font-color;
}
footer .text {
  margin-top: 20px;
}
.footer-text {
  margin-bottom: 50px;
}

footer ul li a {
  padding: 0 6px !important;
}
