header{
    background:$pink-color;
    .cmp-container{
        max-width: 1140px;
        width: 100%;
        padding-right:0px;
        padding-left:0px;
        margin-right: auto;
        margin-left: auto;
        }
    }
	header{
		height: 80px;
		position: fixed;
		top: 0;
		z-index: 99;	
	}

.logo {
	font-size:72px;
	font-weight: 700;
	color: #fff;
	line-height: 1;
	display: inline-block;
    font-family: 'Cabin', sans-serif;
	padding:5px 0 0 0;
}

nav {
	position:absolute;
	width: 100%;
	z-index: 3;
	width: 100%;
	left: 0;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: #fff;
}


nav li a {
	display: block;
	padding: 10px 0 10px 10px;
	font-size: 40px;
	border-right: 1px solid #F4F4F4;
	text-decoration: none;
	font-family: 'Cabin', sans-serif;
    font-weight: 500;
}

nav li a:hover,
nav li a:focus,
.menu__checkbox:hover,
.menu__checkbox:focus,
:focus {
	// background-color: #F4F4F4;
}


/* menu */

.menu {
	display: none;
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
	box-shadow: none;
	li {
		padding-right: 15px;
	}
}


/* menu icon */

.menu__icon {
	cursor: pointer;
	display: block;
	float: right;
	position: relative;
	margin-top:8px;
	margin-right: 28px;
	user-select: none;
	outline: none;
	outline: none!important;
	background: transparent!important;
	::selection {
		background: none
	}
}

.hamburger {
	background: #452769;
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 34px;
	margin-right:10px;
	margin-top: 19px;
}

.hamburger:before,
.hamburger:after {
	background: #333;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	// transition: all .5s ease-out;
	width: 100%;
}

.hamburger:before {
	top: 8px;
}

.hamburger:after {
	top: -8px;
}


/* menu checkbox */

.menu__checkbox {
	opacity: 0;
}

.menu__checkbox:checked~.menu {
	max-height: 400px;
	display: block;
	margin-top: 40px!important;
	width: 100%;
	background: #fff;
	border: 0;
	outline: 0;
	user-select: none;
	appearance: none;
	transition: max-height 0.4s linear;
	padding-bottom:40px;
}

.menu__checkbox:focus~.menu__icon {
	outline: #5E9ED6 1px solid;
	background-color: #F4F4F4;
}

.menu__checkbox:checked~.menu__icon {
	background-color: transparent;
	border: 1px solid yellow;
    padding:0px 0 18px 10px;
    display: block;
    border-radius: 5px;
}

.menu__checkbox:checked~.menu{
	margin-top: 55px!important;
}


.gr-bold {
	font-family: 'GothamRounded-Bold';
}

@media (max-width: 48em) {
	.cmp-experiencefragment--header .cmp-image__image {
		max-width: 60%;
	}
	header.experiencefragment .cmp-image {
		margin-top: 0;
	}
}

@media (min-width: 320px) and (max-width: 767px) {

	header .cmp-container{
		padding-left:15px!important;
	}


	.hiuapp_termspage .hiuapp_pink-rotate-bg .cmp-teaser{
		margin: 21px 0 0 16px;
	}


	.cmp-experiencefragment--header .cmp-image__image {
		display: none;
		}
		
	.menu li {
		&:first-child{
			margin-top: 55px;
		}
	}
	.logo {
		font-size: 48px !important;
		padding: 10px 0 0 0!important;
	}


	.hiuapp_teaser_ctn .cmp-teaser__content {
		padding-bottom: 110px;
	}
	.hiuapp_teaser_ctn .cmp-teaser__content a {
		top: 174px;
		left: 0;
		margin-top: 34px;
		width: 41%;
		margin-left: 6px;
	}
	nav li a {
		color: #db4f74;
		font-size: 40px;
		padding: 5px 15px;
		display: block;
		text-align: center;
	}
	nav li a:hover {
		color: #db4f74;
	}
	.cmp_btn .cmp_store_btn{
		 margin-bottom: 20px;  
		 width: 100%;
	}
	.hiuapp_teaser_ctn .cmp-teaser {
		    padding-bottom: 40px;
	}

	.hiuapp_teaser_ctn .cmp-teaser__content a {
    left: 0!important;
    bottom: 0!important;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.hiuapp_teaser_ctn .cmp-teaser{
		padding-left: 40px;
    	padding-right: 40px;
	}

	.logo{
		padding: 10px 0 0 31px!important;
	}

	.menu__checkbox:checked~.menu{
		margin-top: 80px!important;
	}

	.wellcome-heading {
		margin-bottom: 70px;
	}


}

@media (min-width: 49em) {
	nav a:hover{ color:#fff;}

	nav {
		position: static;
	}
	nav ul {
		background: none;
	}
	nav li {
		float: left;
	}
	nav li a {
		padding: 9px 17px 9px 0;
		border: 0;
		font-size: 16px;
		color: #ffffff;
	}
	.menu {
		display: block;
		clear: none;
		// float: right;
		max-height: none;
        margin-right: 0;
		float: right;
		margin-top: 36px;
	}
	.menu__icon,
	.menu__checkbox,
	.hamburger {
		display: none;
	}
	nav li {
		border-top: 0;
	}
	
	header{
    background:$pink-color;
    .cmp-container{
        padding-right:24px;
        }
    }

	.menu__checkbox:checked~.menu{
		background:transparent;
	}
	
	.menu__checkbox:checked~.menu__icon {
	background-color: transparent;
	border:none;
	}
}
