.cmp_btn {
  width: 100% !important;
  display: flex;
  margin-top: toRem(50);
  margin-left: toRem(10);
}
.cmp_static_btn {
  background: $white;
  height: toRem(50);
  min-width: toRem(200);
  display: inline-block;
  text-align: center;
  line-height: toRem(50);
  color: $title-color;
  font-weight: $font-weight5;
  border-radius: toRem(6);
}
.cmp-form-button {
  background: $title-color;
  height: toRem(48);
  min-width: toRem(185);
  color: $white;
  font-weight: $font-weight5;
  border-radius: toRem(6);
  border-color: transparent !important;
  float: right;
  margin-right: toRem(-306);
  &:hover {
    background: $blue-color;
    color: $white;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
  }
}
.submit-btn {
  background: $title-color;
  height: toRem(48);
  min-width: toRem(185);
  color: $white;
  font-weight: $font-weight5;
  border-radius: toRem(6);
  border-color: none !important;
  :hover {
    background: $blue-color;
    color: $white;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
  }
}
.cmp_btn .cmp_store_btn i {
  color: #47425d;
  font-size: toRem(24);
  margin-right: toRem(15);
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}

.cmp_btn .cmp_store_btn:hover {
  border-color: transparent;
  background-color: #fb397d;
  color: #fff;
}

.cmp_btn .cmp_store_btn p span:hover {
  color: #fff;
}

.cmp_btn .cmp_store_btn p span {
  font-size: toRem(12);
  display: block;
}

.cmp_btn .cmp_store_btn p {
  font-size: toRem(16);
  line-height: 1;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
}

.cmp_btn .cmp_store_btn:hover p {
  color: #fff;
}

.cmp_btn .cmp_store_btn {
  border: 1px solid $table-border-color;
  background-color: $white;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 30px;
  border-radius: toRem(6);
  -webkit-box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
  box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-right: toRem(20);
}

.cmp_btn .cmp_store_btn a {
  display: flex;
}
.cmp-button__icon--fa {
  color: $title-color;
  font-size: $font18;
  height: toRem(40);
  width: toRem(40);
  padding: toRem(10);
  line-height: toRem(40);
  font-weight: $font-weight5;
  border-radius: toRem(3);
  margin-right: $padding-small;
  flex-wrap: wrap;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal normal 16px/1 FontAwesome;
  font-weight: bold;
}
.cmp-button__icon--fa:hover {
  background-color: $title-color;
  color: $white;
}

@media (min-width: $small-phone) and (max-width: $tablet) {
  .buttonstore {
    margin-left: 5% !important;
  }
  .cmp_btn {
    display: flex;
    flex-direction: column;
  }
}

