<<<<<<< Updated upstream
#termsandconditions{
	.cmp-teaser__description{
		p {
			color: $white;
		  }
	} 
} 
.hiuapp_termspage {
  .cmp_container_block {
    max-width: 1140px !important;
    width: 100%;
    padding-right: $padding-small;
    padding-left: $padding-small;
    margin-right: auto !important;
    margin-left: auto !important;
    float: none !important;
=======
#termsandconditions {
  .cmp-teaser__description {
    p {
      color: $white;
    }
  }
}
.hiuapp_termspage .teaser .cmp-teaser {
  position: absolute;
  top: toRem(155);
  left: toRem(188);
}
// .hiuapp_termspage{
//   margin: 20px 155px;
// }
// .hiuapp_termspage {
//   .hiuapp_pink-rotate-bg {
//     .cmp_container{
//       margin: 0 !important;
//     }
//   }
// }

  
  .hiuapp_termspage {
  .cmp_container_block {
     max-width: toRem(1140) !important;
    // width: 100%;
    // padding-right: $padding-small;
    // padding-left: $padding-small;
     margin: auto !important;
    // margin-left: auto;
    // float: none;
>>>>>>> Stashed changes
  }
  .hiuapp_pink-rotate-bg {
    background-image: -webkit-linear-gradient(
      -80deg,
      $pink-color 58%,
      $white 0
    );
<<<<<<< Updated upstream
    height: 350px;
=======
    height: toRem(350);
>>>>>>> Stashed changes
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
  }
  h1 {
    @include terms-page-heading-h1();
  }
  h3 {
    @include terms-page-heading-h3();
  }
  h4 {
    @include terms-page-heading-h4();
  }
}
.hiuapp_terms {
  p {
    @include terms-page-para();
  }
}
.cmp-form-text__text:focus,
.cmp-form-text__textarea:focus {
  color: $shade-gray;
  background-color: $white;
  border-color: $shade-blue;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}
