#termsandconditions {
  .cmp-teaser__description {
    p {
      color: $white;
    }
  }
}
.hiuapp_termspage {
  .teaser {
    .cmp-teaser {
      position: absolute;
      top: toRem(155);
      left: toRem(188);
    }
  }
}
.hiuapp_termspage {
  .hiuapp_pink-rotate-bg {
    .cmp-teaser {
      position: absolute;
      left: toRem(188);
      top: toRem(146);
    }
  }
}
@media (min-width: $small-phone) and (max-width: $tablet) {
  .hiuapp_termspage {
    .hiuapp_pink-rotate-bg {
      .cmp-teaser {
        left: toRem(0);
      }
    }
    .cmp_container_block {
      max-width: toRem(280) !important;
      margin: 0 auto !important;
    }
    .hiuapp_pink-rotate-bg {
      background-image: -webkit-linear-gradient(
        -80deg,
        $pink-color 82%,
        $white 0
      );
    }
  }
}
@media (min-width: $tablet) and (max-width: $desktop) {
  .hiuapp_termspage {
    .hiuapp_pink-rotate-bg {
      .cmp-teaser {
        left: toRem(0);
      }
    }
    .cmp_container_block {
      max-width: toRem(680) !important;
      margin: 0 auto !important;
    }
    .hiuapp_pink-rotate-bg {
      background-image: -webkit-linear-gradient(
        -80deg,
        $pink-color 72%,
        $white 0
      );
    }
  }
}
@media (min-width: $desktop) and (max-width: $medium-desktop) {
  .hiuapp_termspage {
    .hiuapp_pink-rotate-bg {
      .cmp-teaser {
        left: toRem(0);
      }
    }
    .cmp_container_block {
      max-width: toRem(920) !important;
      margin: 0 auto !important;
    }
    .hiuapp_pink-rotate-bg {
      background-image: -webkit-linear-gradient(
        -80deg,
        $pink-color 62%,
        $white 0
      );
    }
  }
}
.hiuapp_termspage {
  max-width: toRem(1140) !important;
  margin: 0 auto !important;
}
.hiuapp_termspage {
  .cmp_container_block {
    max-width: toRem(1140) !important;
    margin: 0 auto !important;
  }
  .hiuapp_pink-rotate-bg {
    background-image: -webkit-linear-gradient(
      -80deg,
      $pink-color 58%,
      $white 0
    );
    height: toRem(350);
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
  }
  h1 {
    @include terms-page-heading-h1();
  }
  h3 {
    @include terms-page-heading-h3();
  }
  h4 {
    @include terms-page-heading-h4();
  }
}
.hiuapp_terms {
  p {
    @include terms-page-para();
  }
}
.cmp-form-text__text:focus,
.cmp-form-text__textarea:focus {
  color: $shade-gray;
  background-color: $white;
  border-color: $shade-blue;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.hiuapp_termspage {
  box-shadow: rgb(0 0 0 / 30%) 0px 20px 30px -20px;
  background: #f5f9fc;
  background-image: -webkit-linear-gradient(75deg, #f5f9fc 56%, #fff 45%);
  position: relative;
  z-index: 1;
  background-position: bottom center;
  background-size: cover;
}

@media (min-width: $small-phone) and (max-width: $tablet) {
  .hiuapp_termspage {
    .cmp-text {
      max-width: toRem(700) !important;
      margin: 0 auto !important;
    }
  }
}
@media (min-width: $tablet) and (max-width: $desktop) {
  .hiuapp_termspage {
    .cmp-text {
      max-width: toRem(900) !important;
      margin: 0 auto !important;
    }
  }
}
@media (min-width: $desktop) and (max-width: $desktop-wide) {
  .hiuapp_termspage {
    .cmp-text {
      max-width: toRem(11400) !important;
      margin: 0 auto !important;
    }
  }
}
