.cmp-teaser {
  a {
    background: $white;
    height: 50px;
    min-width: 200px;
    font-size: $font20;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    color: $title-color;
    font-weight: $font-weight5;
    border-radius: 6px;
    text-decoration: none;
  }
  p {
    color: $white;
    font-weight: $font-weight3;
    margin-top: 10px;
    margin-bottom: 1rem;
  }
}
.hiuapp_teaser_ctn {
  background: linear-gradient(to left, $pink-color, $shade-pink);
}
.hiuapp_teaser_ctn {
  .cmp-teaser__content {
    padding: 50px 0px;
    position: relative;
  }
  .cmp-teaser__pretitle {
    font-size: $font36;
    color: $white;
  }
  .cmp-teaser {
    width: 100%;
    padding-right: $padding-small;
    padding-left: $padding-small;
    margin-right: auto;
    margin-left: auto;
    max-width: 1140px;
  }
  .cmp-teaser__content{
    a {
        background: $white;
        height: 50px;
        min-width: 160px;
        display: inline-block;
        text-align: center;
        line-height: 50px;
        color: $title-color;
        font-weight: $font-weight5;
        border-radius: 6px;
        position: absolute;
        right: 0;
        top: 63px;
        text-decoration: none;
      }
  } 
  .cmp-teaser__content{
    a:hover {
        background: $blue-color;
        color: $white;
        -webkit-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
      }
  } 
}
