.cmp-teaser {
  a {
    background: $white;
    height: toRem(50);
    min-width: toRem(200);
    font-size: toRem(16);
    display: inline-block;
    text-align: center;
    line-height: toRem(50);
    color: $title-color;
    font-weight: $font-weight5;
    border-radius: toRem(6);
    text-decoration: none;
  }
  p {
    color: $white;
    font-weight: $font-weight3;
    margin-top: toRem(10);
    margin-bottom: 1rem;
  }
}
.hiuapp_teaser_ctn {
  background: linear-gradient(to left, $pink-color, $shade-pink);
}
.hiuapp_teaser_ctn {
  .cmp-teaser__content {
    padding: 50px 0px;
    position: relative;
  }
  .cmp-teaser__pretitle {
    font-size: toRem(36);
    color: $white;
  }

  .cmp-teaser__content {
    a {
      background: $white;
      height: toRem(50);
      min-width: toRem(160);
      display: inline-block;
      text-align: center;
      line-height: toRem(50);
      color: $title-color;
      font-weight: $font-weight5;
      border-radius: toRem(6);
      position: absolute;
      right: 0;
      top: toRem(63);
      text-decoration: none;
    }
  }
  .cmp-teaser__content {
    a:hover {
      background: $blue-color;
      color: $white;
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
    }
  }
}
#termsandconditions {
  .cmp-teaser__action-container {
    position: absolute;
    right: toRem(203);
    top: toRem(-26);
  }
}

@media (min-width: $small-phone) and (max-width: $tablet) {
  #termsandconditions {
    .cmp-teaser__action-container {
      position: absolute;
      top: 6.375rem !important;
    }
  }
}

