.cmp_box_shadow {
  transition-duration: 800ms;
  min-height: toRem(230);
  padding-top: toRem(28);
  &.h4 {
    padding-bottom: $padding-small;
    margin-bottom: $padding-small;
  }
  :hover {
    box-shadow: 0 10px 90px rgb(0 0 0 / 8%);
  }
}
.cmp_box_shadow {
  .cmp-text {
    position: relative;
    padding: toRem(72) toRem(8);
    width: 100%;
    border: $font2 solid $shade-white;
    border-radius: toRem(10);
    margin: auto;
    display: block;
    min-height: toRem(256);
    font-family: $font-family;
  }
}
