.cmp_box_shadow {
<<<<<<< Updated upstream
  border: $font2 solid $shade-white;
  border-radius: 10px;
=======
  //border: $font2 solid $shade-white;
  //border-radius: 10px;
>>>>>>> Stashed changes
  -webkit-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
  min-height: 230px;
  padding-top: 28px;
<<<<<<< Updated upstream
  width: 31% !important;
  margin-left: 2% !important;
  margin-bottom: 10px;
  &h4 {
=======
  width: 31%;
  margin-left: 2%;
  margin-bottom: 10px;
  &.h4 {
>>>>>>> Stashed changes
    padding-bottom: $padding-small;
    margin-bottom: $padding-small;
  }
  :hover {
    -webkit-box-shadow: 0 10px 90px rgb(0 0 0 / 8%);
    box-shadow: 0 10px 90px rgb(0 0 0 / 8%);
  }
}
.cmp_box_shadow {
  .cmp-text {
    position: relative;
<<<<<<< Updated upstream
    padding: 40px 50px;
=======
    padding: toRem(40);
    width: 70%;
    border: $font2 solid $shade-white;
    border-radius: 10px;
    margin: auto;
    //padding: 40px 50px;
>>>>>>> Stashed changes
    display: block;
    height: 160px;
    max-height: 160px;
    font-family: $font-family;
  }
}
