/* stylelint-disable*/
.main-hero-banner-carousel-2-0 {
  .container {
        @media (max-width:767px) {
            padding-left: 16px;
            padding-right: 16px;

            [class*="col-"]{
                padding-left: 16px;
                padding-right: 16px;
            }
            .row{
                margin-left: -16px;
                margin-right: -16px;
            }
        }
    }
    .main-hero-banner-slider{
      @media(min-width: $screen-md-min) {
          min-height: 600px;
          height: 600px;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: center;
          justify-content: center;
          -ms-flex-align: center;
          align-items: center;
        }
        min-height: 248px;
        height: 100%;
        position: relative;
        z-index: 8;
        .swiper-slide {
          display: flex;
          align-items: center;
          justify-content: center;
          &.swiper-slide-active {
            .animation-sl {
              transform: translateX(0);
              opacity: 1;
            }
          }
        }
    }
    .clearfix{
        clear: both;
    }
    &.bg-white {
      background-color: $white;
    }
    &.bg-beige {
      background-color: $incBeige;
    }
    &.bg-beige-light {
      background-color: $incBeige40;
    }
    &.bg-maroon {
      background-color: $incMaroon;
    }
    &.bg-maroon-light {
      background-color: $incMahroon10;
    }
    &.hero-links-add {
      height: 600px;
      overflow: hidden !important;
      margin-bottom: -50px;
    }
    div.cover {
      max-height: 248px;
      top: 0px;
      @media(min-width: $screen-md-min) {
        max-height: inherit;
      }
    }
    .dark-color {
      .content-cover{
        .hero-details {
          .hero-heading-small {
            @media(min-width: $screen-md-min) {
              color: $white;
            }
          }
        }
        .ed-headings-2-0{
          h1,h2,h3,h4,h5,h6{
            @media(min-width: $screen-md-min) {
              color: $white;
            }
          }
        }
        .ed-paragraph-2-0{
          .p1,.p2,.p3,.p4{
            p{
              @media(min-width: $screen-md-min) {
                color: $white;
              }
            }
          }
        }
      }
      .swiper-btn-wrapper {
        .swiper-pagination {
          @media(min-width: $screen-md-min) {
            color: $incWhite;
          }
          .swiper-pagination-current {
            @media(min-width: $screen-md-min) {
              color: $incWhite;
            }
          }
        }
        .swiper-button-next,
        .swiper-button-prev {
          @media(min-width: $screen-md-min) {
            background-color: $incWhite;
            color: $incWhite;
          }
          &::before {
              border: 1px solid;
              border-color: transparent;
          }
        }
        .swiper-button-prev {
          @media(min-width: $screen-md-min) {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E") !important;
          }
        }
        .swiper-button-next {
          @media(min-width: $screen-md-min) {
            background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E") !important;
          }
        }
        .swiper-button-next:hover,
        .swiper-button-next:focus,
        .swiper-button-next:active,
        .swiper-button-prev:hover,
        .swiper-button-prev:focus,
        .swiper-button-prev:active {
          &::before {
            @media(min-width: $screen-md-min) {
                border-color: $incMaroon;
            }
            border-color: $incWhite;
          }
        }
      }
    }

    &.flipped{
      .content-cover{
        .hero-details{
          .lef-col {
            order: 2;
            @media(max-width: $screen-md) {
             order: 2;
            }
          }
          .right-col {
            @media(max-width: $screen-md) {
              order: 1;
             }
            order: 1;
          }
        }
      }
    }
    .content-cover{
      &.bg-white {
        background-color: $white;
        width: 100%;
      }
      &.bg-beige {
        background-color: $incBeige;
        width: 100%;
      }
      &.bg-beige-light {
        background-color: $incBeige40;
        width: 100%;
      }
      &.bg-maroon {
        background-color: $incMaroon;
        width: 100%;
        .hero-details{
          @media(max-width: 991px) {
            .ed-headings-2-0{
              h1,h2,h3,h4, h5,h6{
                color: $incWhite;
              }
            }
            .ed-paragraph-2-0{
              .p1,.p2,.p3,.p4 {
                p{
                  color: $incWhite;
                }
              }
            }
          }
        }
        .swiper-btn-wrapper{
          @media(max-width: 991px) {
            .swiper-button-next,.swiper-button-prev{
              background-color: $white;
              color: $white;
            }
            .swiper-button-prev {
              background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E") !important;
            }
            .swiper-button-next {
              background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E") !important;
            }
            .swiper-pagination{
              color: $incWhite;
              .swiper-pagination-current {
                color: $incWhite;
              }
            }
          }
        }
      }
      &.bg-maroon-light {
        background-color: $incMahroon10;
        width: 100%;
      }
      .hero-details {
          .animation-sl{
              transition: all ease-out 0.6s;
              transform: translateX(50px);
              opacity: 0;
          }
        .col-center {
          @media(min-width: $screen-md) {
            float: none!important;
          }
          float: left!important;
          margin: 0 auto;
          text-align: center;
        }
        .c-center {
          @media(min-width: $screen-md) {
            text-align: center;
            .wst-price-tag {
              .top-part {
                text-indent: -80px;
              }
              .main-part {
                text-align: center;
                justify-content: center;
              }
            }
          }
        }
        top: 0;
        height: 100%;
        margin-top: 248px;
        padding-bottom: 24px;
        position: relative;
        text-align: left;
        width: 100%;
        left: 0;
        @media(min-width: $screen-md-min) {
          top: auto;
          height: auto;
          display: block;
          width: inherit;
          margin-top: 0px;
          position: relative;
          left: auto;
          z-index: 1000;
        }
        .ed-headings-2-0{
          @media(min-width: $screen-md-min) {
            margin-bottom: 16px;
            margin-top: 0px;
          }
          @media(max-width: $screen-md-min) {
            text-align: center;
          }
          margin-bottom: 8px;
          margin-top: 24px;
          h1,h2,h3,h4,h5,h6{
            span{
              color: $incRed;
              font-weight: 600;
              display: block;
            }
          }
        }
        .ed-paragraph-2-0{
          .p1,.p2,.p3,.p4{
            @media(max-width: $screen-md-min) {
            margin-bottom: 24px;
            text-align: center;
            }
          }
        }
        button.btn,
        a.btn {
          max-width: 100%;
          margin: 0px;
          min-width: 180px;
          width: auto;
          margin-bottom: 24px;
          font-family:  $font-SuisseIntl-Regular;
          @media(min-width: $screen-md-min) {
            width: auto;
            margin-bottom: 0px;
          }
        }
        .ed-buttons-wrapper{
          @media(min-width: $screen-md-min) {
            .primary-btn{
              min-width: 282px;
            }
          }
          @media(max-width: $screen-md-min) {
            text-align: center;
            margin-bottom: 24px;
          }
          margin-top: 24px;
          margin-bottom: 0px;
        }
      }
    }
    .light-color {
      .content-cover {
        &.bg-maroon {
          .hero-details{
            .ed-headings-2-0{
              h1,h2,h3,h4,h5,h6{
                color: $incMaroon;
              }
            }
            .ed-paragraph-2-0{
              .p1,.p2,.p3,.p4 {
                p{
                  color: $incMaroon;
                }
              }
            }
            @media(max-width: 991px) {
              .ed-headings-2-0{
                h1,h2,h3,h4, h5,h6{
                  color: $incWhite;
                }
              }
              .ed-paragraph-2-0{
                .p1,.p2,.p3,.p4 {
                  p{
                    color: $incWhite;
                  }
                }
              }
            }
          }
        }
      }
    }

    .hero-wrapper {
        overflow: hidden;
        text-align: center;
        font-size: 18px;
        background: $incWhite;
        background-position: 50%;
        background-size: cover;
      > .cover {
        top: 0;
        left: 0;
        @media(min-width: $screen-md-min) {
          height: 600px;
        }
        height: 248px;
        overflow: hidden;
      }
      .gradient-bg-white {
        background: linear-gradient(270deg, rgba(0,0,0,0) 0%, $white 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        top: 0;
        left: 0;
        @media(max-width: 991px) {
          background: none !important;
        }
      }
      .gradient-bg-beige {
        background: linear-gradient(270deg, rgba(0,0,0,0) 0%, $incBeige 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        top: 0;
        left: 0;
        @media(max-width: 991px) {
          background: none !important;
        }
      }
      .gradient-bg-beige-light {
        background: linear-gradient(270deg, rgba(0,0,0,0) 0%, $incBeige40 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        top: 0;
        left: 0;
        @media(max-width: 991px) {
          background: none !important;
        }
      }
      .gradient-bg-maroon {
        background: linear-gradient(270deg, rgba(0,0,0,0) 0%, $incMaroon 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        top: 0;
        left: 0;
        @media(max-width: 991px) {
          background: none !important;
        }
      }
      .gradient-bg-maroon-light {
        background: linear-gradient(270deg, rgba(0,0,0,0) 0%, $incMahroon10 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        top: 0;
        left: 0;
        @media(max-width: 991px) {
          background: none !important;
        }
      }
    }
    .swiper-btn-wrapper {
      @media (max-width: 1023px) {
        top: -4px;
      }
      @media (max-width: 991px) {
        position: relative;
        bottom: auto;
        left: auto !important;
        right: auto !important;
        margin: 0 auto;
      }
      width: 198px;
      position: absolute;
      left: 16px;
      z-index: 8;
      margin-top: 32px;
      .swiper-pagination {
        position: relative;
        left: 65px;
        font-size: 22px;
        bottom: -4px;
        text-align: left;
        z-index: 0;
        color: $incMaroon;
        display: flex;
        align-items: baseline;
        @media(min-width: $screen-md-min) {
          color: $incMaroon;
        }
        @media (max-width: 767px) {
          left: 4px;
          border: 0;
          right: 0;
          justify-content: center;
        }
        .swiper-pagination-current {
          font-family: $font-SuisseIntl-Bold;
          font-size: 60px;
          line-height: 56px;
          margin-right: 8px;
          width: 40px;
          text-align: center;
        }
      }
      .swiper-button-next,
      .swiper-button-prev {
        height: 48px;
        width: 48px;
        @media(min-width: $screen-md-min) {
          background-color: $incMaroon;
          color: $incMaroon;
        }
        background-color: $incMaroon;
        color: $incMaroon;
        border-radius: 50%;
        background-size: 8px;
        opacity: 1;
        &::before {
          content: "";
          background: transparent;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          border: 2px solid;
          border-color: transparent;
          transition: all 0.3s;
        }
      }
      .swiper-button-prev {
        left: 0;
        @media(min-width: $screen-md-min) {
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
        }
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
      }
      .swiper-button-next {
        left: 150px;
        @media(min-width: $screen-md-min) {
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
        }
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E") !important;
      }
      .swiper-button-next:hover,
      .swiper-button-next:focus,
      .swiper-button-next:active,
      .swiper-button-prev:hover,
      .swiper-button-prev:focus,
      .swiper-button-prev:active {
        &::before {
          border-color: $incWhite;
        }
      }
    }
  }

  // arabic language
*[lang="ar"] {
  *[dir="rtl"] {
    .main-hero-banner-carousel-2-0{
      .hero-wrapper{
        .bg-gradian-filter,.gradient-bg-white,.gradient-bg-beige,.gradient-bg-beige-light,.gradient-bg-maroon,.gradient-bg-maroon-light{
          transform: scaleX(-1);
        }
      }
      .main-hero-banner-slider{
        .swiper-slide {
          &.swiper-slide-active {
            .animation-sl {
              transform: translateX(0);
              opacity: 1;
            }
          }
        }
      }
      .content-cover{
        .hero-details {
            .animation-sl{
                transition: all ease-out 0.6s;
                transform: translateX(-50px);
                opacity: 0;
            }
        }
      }
      .swiper-btn-wrapper {
          left: auto;
          right: 16px;
        }
        .swiper-button-next {
          right: 150px;
          transform: rotate(180deg);
          @media (max-width: 767px) {
            right: auto;
            left: 0;
          }
        }
        .swiper-pagination {
          right: 65px;
          left: 0;
          text-align: right;
          @media (max-width: 767px) {
            left: 0;
            right: 0;
          }
          .swiper-pagination-current {
            margin-right: 0;
            margin-left: 8px;
          }
        }
    }
    .hero-details {
      text-align: right;
    }
  }
}
