/* stylelint-disable*/
.promo-grid-2-0 {
  padding: 64px 0;
  position: relative;
  overflow: hidden;

  &.cta-cards-wrap {
    padding-bottom: 40px;
  }

  .container>.ed-paragraph-2-0 {
    margin-top: 16px;
  }

  @media (max-width: 991px) {
    padding: 48px 0 24px 0;

    &.cta-cards-wrap {
      padding-bottom: 24px;
    }
  }

  .products-grid {
    margin: 48px 0 0 0;
    position: relative;
    z-index: 1;

    @media (max-width: 991px) {
      margin: 24px 0 0 0;
    }

    &.no-cta {
      .promo-sub-product {
        border-radius: 8px;
        background-color: #ffffff;
        border: solid 1px $incBorder;
        box-shadow: none;
        overflow: hidden;

        &.small {
          &:first-of-type {
            margin-bottom: 24px;
          }
        }

        .content-box {
          padding: 24px 24px 0 24px;
        }
      }
    }

    &.with-cta {
      .promo-sub-product {

        &.flip {
          .row {
            @media (min-width: 991px) {
              display: flex;
              flex-direction: row-reverse;
            }
          }
        }

        @media (max-width: 991px) {
          margin-bottom: 48px;

          >.row {
            display: flex;
            flex-direction: column-reverse;
          }
        }

        .img-cover {
          border-radius: 8px;
          overflow: hidden;
          height: 260px;

          @media (max-width: 991px) {
            height: 168px;
          }
        }

        .content-box {
          @media (max-width: 991px) {
            padding: 24px 16px 0 16px;
          }

          .ed-paragraph-2-0 {
            margin-bottom: 32px;

            @media (max-width: 991px) {
              margin-bottom: 24px;
            }
          }
        }
      }
      .promotilewithcta {
        margin-bottom: 32px;

        &:last-of-type {
          margin-bottom: 0;

          @media (max-width: 991px) {
            margin-bottom: 24px;
          }
        }
      }
    }

    &.cta-cards {
      >.row {
        display: flex;
        flex-wrap: wrap;
      }

      .promo-sub-product {
        border-radius: 8px;
        background-color: #ffffff;
        border: solid 1px $incBorder;
        box-shadow: none;
        overflow: hidden;
        margin-bottom: 24px;
        height: calc(100% - 24px);

        .img-cover {
          height: 168px;
        }

        .content-box {
          padding: 24px;
        }
      }
    }

    .promo-sub-product {
      @media (max-width: 991px) {
        margin-bottom: 24px;
      }

      .img-cover {
        overflow: hidden;
        position: relative;

        @media (max-width: 991px) {
          height: 168px;
        }
      }

      .content-box {
        @media (max-width: 991px) {
          height: auto;
          padding: 24px;
        }

        .ed-headings-2-0 {
          margin: 0 0 16px 0;

          h3 {
            font-weight: 600;
            font-size: 28px;
            line-height: 42px;
          }
        }
      }

      &.large {
        .img-cover {
          height: 440px;

          @media (max-width: 1250px) {
            height: 390px;
          }

          @media (max-width: 991px) {
            height: 168px;
          }
        }

        .content-box {
          height: 255px;

          @media (max-width: 1250px) {
            height: 305px;
          }

          @media (max-width: 991px) {
            height: auto;
            padding: 24px;
          }
        }
      }

      &.small {
        .img-cover {
          height: 168px;

          @media (max-width: 1024px) {
            height: 158px;
          }
        }

        .content-box {
          height: 167px;

          @media (max-width: 1024px) {
            height: 177px;
          }

          @media (max-width: 991px) {
            height: auto;
            padding: 24px;
          }
        }
      }
    }
  }

  &.bg-maroon {
    .products-grid {
      .promo-sub-product {
        .content-box {
          .ed-headings-2-0 {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
              color: $incMaroon;
            }
          }
          .ed-paragraph-2-0 {
            .p1,
            .p2,
            .p3 {
              p {
                color: $incMaroon;
              }
            }
          }
        }
      }
    }  
  }
}