/* stylelint-disable*/
.icon-cards-carousel {
  position: relative;
  overflow: hidden;
  padding: 64px 0 48px 0;
  &.bg-maroon {
    .swiper-btn-wrapper {
      .swiper-pagination {
        color: $white;
        .swiper-pagination-current {
          color: $white;
        }
      }
    }
    .box-card {
      .ed-subheadings-2-0,
      .ed-paragraph-2-0 {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
          color: $incMaroon;
        }
      }
    }
  }
  &.box-bg-lgrey {
    .box-slide {
      .box-card {
        background: $incBeige40 !important;
      }
    }
  }
  &.box-sand-bg {
    .box-slide {
      .box-card {
        background: $incMahroon10 !important;
      }
    }
  }
  @media (max-width: 767px) {
    padding: 48px 0;
  }

  .ed-headings-2-0 {
    margin-bottom: 16px;
    h2 {
      font-weight: 500;
      padding-right: 200px;
      @media (max-width: 767px) {
        padding: 0px !important;
      }
    }
    @media (max-width: 767px) {
      margin-bottom: 24px;
    }
  }
  .ed-paragraph-2-0 {
    margin-bottom: 32px;
    @media (max-width: 767px) {
      margin-bottom: 24px;
    }
  }
  .cards-carousel-no-image-slider {
    position: relative;
    .swiper-wrapper {
      align-items: center;
      min-height: 358px;
      @media (max-width: 1248px) and (min-width: 1023px) {
        min-height: 416px;
      }
      @media (max-width: 767px) {
        min-height: auto;
      }
    }
    .slider-box {
      margin: -12px;
    }
    .box-slide {
      padding: 12px;
      text-align: left;
      border-radius: 8px;
      background: transparent;
      @media (max-width: 767px) {
        width: 100% !important;
      }
      &:last-of-type {
        margin: 0;
      }
      .box-card {
        overflow: hidden;
        background: $white;
        border-radius: 8px;
        margin-bottom: 0;
        border: 1px solid #e2e2e2;
        max-height: initial;

        .box-body {
          height: 300px;
          padding: 24px 24px 40px;
          transition: all 0.3s;
          @media (max-width: 1248px) and (min-width: 1023px) {
            height: 355px;
          }
          @media (max-width: 767px) {
            height: auto;
          }
          .ed-subheadings-2-0 {
            h6 {
              font-weight: 600;
            }
          }
          .ed-paragraph-2-0 {
            margin-bottom: 26px;
          }
          .ed-learnmore-wrapper {
            position: absolute;
            bottom: 32px;
            .learn-more-btn {
              text-transform: capitalize;
              font-weight: 600;
            }
          }
          .box-icon {
            margin-bottom: 24px;
            div.cover {
              position: static;
            }
            svg,
            img {
              margin-inline-end: 16px;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 48px;
              width: 48px;
              overflow: hidden;
            }
          }
        }
      }
      &.swiper-slide-active,
      &:hover,
      &:focus,
      &:active {
        .box-card {
          transition: all 0.3s;
          .box-body {
            height: 332px;
            @media (max-width: 1248px) and (min-width: 1023px) {
              height: 390px;
            }
            @media (max-width: 767px) {
              height: auto;
            }
          }
        }
      }
    }
  }
  .swiper-btn-wrapper {
    position: absolute;
    top: 2px;
    right: 12px;
    width: 177px;
    @media (max-width: 1023px) {
      top: -8px;
    }
    @media (max-width: 767px) {
      margin: 20px auto 0;
      position: relative;
      right: auto;
      top: 0;
      width: 188px;
    }
    &.disabled-swiper {
      display: none;
      @media (max-width: 1023px) {
        display: block;
      }
    }

    .swiper-pagination {
      left: 55px;
      @media (max-width: 767px) {
        left: auto;
      }
      .swiper-pagination-current {
        line-height: 50px;
      }
    }
  }
}

*[lang='ar'] *[dir='rtl'] {
  .icon-cards-carousel {
    .ed-headings-2-0 {
      h2 {
        padding-right: 0;
        padding-left: 200px;
      }
    }
    .box-slide {
      text-align: right;
    }
    .swiper-button-next {
      right: 128px;
      transform: rotate(180deg);
      @media (max-width: 767px) {
        right: auto;
        left: 0;
      }
    }
    .swiper-btn-wrapper {
      left: 12px;
      right: auto;
    }
    .swiper-pagination {
      right: 52px;
      left: 0;
      text-align: right;
      @media (max-width: 767px) {
        left: 0;
        right: 0;
      }
      .swiper-pagination-current {
        margin-right: 0;
        margin-left: 8px;
      }
    }
  }
}
