<template data-sly-template.desktop="${ @ properties,footer}">
<!-- Desktop Menu Start -->




<br/>Download Links:

<div data-sly-list.items="${footer.download}">

<br/>Title: ${items.title}
<br/>Image :  ${items.imgUrl}
<br/>Link: ${items.linkUrl}

</div>



<br/>Follow Us Links:

<div data-sly-list.items="${footer.followUs}">

<br/>Title: ${items.title}
<br/>Image :  ${items.imgUrl}
<br/>Link: ${items.linkUrl}

</div>



<br/>Payment Links:

<div data-sly-list.items="${footer.payment}">

<br/>Title: ${items.title}
<br/>Link: ${items.imgUrl}

</div>


Copyright Text: ${footer.copyrightText}
<br/>

PROMO Image details : 
<br/>Link: ${footer.promo.linkUrl}
<br/>Image Path : ${footer.promo.imgUrl}
<!-- Desktop Menu End -->
</template>