<sly  data-sly-use.template="core/wcm/components/commons/v1/templates.html"
      data-sly-use.footer="com.etisalat.core.models.Footer"></sly>

<sly data-sly-use.desktoptemplate="/apps/etisalat/components/global/footer/desktop.html"
     data-sly-call="${desktoptemplate.desktop @ properties=properties,footer=footer}">
</sly>

<sly data-sly-use.mobiletemplate="/apps/etisalat/components/global/footer/mobile.html"
     data-sly-call="${mobiletemplate.mobile @ properties=properties,footer=footer}">
</sly>
