// context-navigation-4-0 as module styling
.default--bg {
  .context-navigation-4-0 {
    @include respond-to-min($desktop) {
      padding-top: toRem(16);
      padding-bottom: toRem(16);
    }
  }
}

.context-navigation-4-0 {
  @include respond-to-max($desktop-min) {
    padding: toRem(16) 0;
  }

  &.has-bg {
    background-color: $module-bg-color;
  }

  .container {
    @include respond-to-min($desktop-wide) {
      margin: 0;
      padding: 0;
      width: toRem(1224);
    }

    @include respond-to-max($custom-width-tab) {
      padding-left: toRem(16);
      padding-right: toRem(16);
    }
  }

  // common css for both with slider and with main text
  .wst-main-headings {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h7,
    .h8 {
      margin-bottom: toRem(16);

      @include respond-to-max($desktop-min) {
        margin-bottom: toRem(12);
      }
    }
  }
  .paragraph-styling p {
    margin-bottom: toRem(16);

    @include font-family-lato();

    @include respond-to-max($desktop-min) {
      margin-bottom: toRem(12);
    }
  }

  .load-more {
    margin-top: toRem(16);
    padding-bottom: toRem(16);
    display: none;
  }

  .all-tiles {
    display: flex;
    flex-wrap: wrap;

    &-cq-editable {
      @include respond-to-min($desktop) {
        flex-wrap: wrap !important;
      }
    }

    @include respond-to-min($desktop) {
      flex-wrap: nowrap;
    }
    &.align-middle {
      @include respond-to-max($desktop-min) {
        justify-content: center;
      }

      .context-tile {
        align-items: center;
        justify-content: center;
        text-align: center;
      }
    }

    .context-tile {
      @include respond-to-min($tablet) {
        width: 50%;
      }

      @include respond-to-min-max($desktop-min, $tablet) {
        &:nth-child(odd) {
          padding-right: toRem(12);
        }
        &:nth-child(even) {
          padding-left: toRem(12);
        }
      }

      @include respond-to-max($desktop-min) {
        padding-top: toRem(16);
        padding-bottom: toRem(16);

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  // with slider
  &.with-slider {
    @include respond-to-min($desktop) {
      display: flex;
      gap: 0;
    }

    &.two-tiles {
      .all-tiles {
        .context-tile {
          @include respond-to-min($tablet) {
            width: 50% !important;
          }
        }

        .context-tile + .context-tile {
          @include respond-to-min($desktop) {
            margin-right: 0 !important;
          }
        }
      }
    }

    &.single-tile,
    &.two-tiles,
    &.three-tiles {
      .prev,
      .next {
        display: none;
      }

      .all-tiles {
        &.align-middle {
          justify-content: center;
        }
      }

      &.has-bg {
        @include respond-to-min($desktop) {
          padding-top: toRem(16);
          padding-bottom: toRem(16);
        }
      }
    }

    &.two-tiles,
    &.three-tiles {
      .all-tiles {
        &.align-middle {
          @include respond-to-min($desktop) {
            justify-content: flex-start;
          }
        }
      }
    }
    .swiper-container {
      height: auto;
      display: flex;
      padding-top: toRem(5);

      .swiper-wrapper {
        height: auto;
      }

      .swiper-slide {
        justify-content: flex-start;
        height: auto;

        a.btn {
          margin: 0 !important;
        }
      }
    }

    .container {
      position: relative;
    }

    .prev,
    .next {
      display: none;
      position: absolute;
      top: 42%;
      z-index: 9;

      @include respond-to-min($desktop-wide) {
        display: block;
      }
    }

    .prev {
      left: toRem(-72);
    }

    .next {
      right: toRem(-72);
    }

    .scrollbar {
      display: none;

      @include respond-to-min($desktop) {
        display: block;
        margin-top: toRem(36);
        margin-bottom: 0;
        position: relative;
        bottom: 0;
        z-index: 99999;
        height: toRem(4);

        .swiper-scrollbar-drag {
          background: $main-green;
        }
      }

      @include respond-to-min($desktop-wide) {
        display: none;
      }
    }

    .all-tiles {
      @include respond-to-min($desktop) {
        display: flex;
        gap: 0;
      }
    }
  }

  // with main text
  &.with-main-text {
    &.has-bg {
      padding-top: toRem(16);
      padding-bottom: toRem(16);
    }

    .content {
      @include respond-to-min($desktop) {
        margin-top: toRem(20);
      }

      @include respond-to-min($desktop-min) {
        margin-bottom: toRem(20);
      }
    }

    .all-tiles {
      display: grid;
      row-gap: toRem(32);
      grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));

      @include respond-to-min($tablet) {
        column-gap: toRem(24);
        row-gap: toRem(52);
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
      }

      @include respond-to-max($desktop-min) {
        margin-top: toRem(20);
      }

      @include respond-to-min($desktop-wide) {
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
      }

      .context-tile {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}

// context navigation as a single tile styling
.context-tile {
  display: flex;
  flex-direction: column;
  background: transparent;
  align-items: flex-start;
  text-align: left;
  width: 100%;

  .icon {
    width: toRem(46);
    height: toRem(46);
    display: flex;
    align-items: center;
    margin-bottom: toRem(24);

    @include respond-to-max($desktop-min) {
      margin-bottom: toRem(16);
    }

    img,
    svg {
      width: toRem(46);
      height: toRem(46);
    }
  }

  .paragraph-styling {
    flex: 1 1 auto;
  }

  .progress {
    width: 100%;
    height: toRem(8);
    margin: 0;
    border-radius: toRem(8);
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: $table-bg-accent;
    margin-bottom: toRem(16);
    margin-top: toRem(8);

    .progress-bar {
      border-radius: toRem(8);
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1), 0 3px 0 0 rgba(0, 0, 0, 0.03);
      background-color: $main-green;
    }
  }

  .icon-and-heading {
    @include respond-to-max($custom-width-tab) {
      display: flex;
      align-items: center;

      .icon {
        margin-bottom: 0;
      }

      .wst-main-headings {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .h7,
        .h8 {
          margin-bottom: 0;
        }
      }
      margin-bottom: toRem(12);

      .progress {
        margin-top: 0;
        margin-bottom: toRem(12);
      }
    }

    .icon {
      margin-right: toRem(8);
    }
  }

  @include respond-to-max($custom-width-tab) {
    &:nth-child(1n + 4) {
      display: none;
    }
  }
}

// arabic language
*[lang="ar"] {
  *[dir="rtl"] {
    .tv-pack-tile .icon {
      margin-right: 0;
      margin-left: toRem(16);

      @include respond-to-min($desktop) {
        margin-right: 0;
        margin-left: toRem(24);
      }
    }
    .context-tile .icon-and-heading .icon {
      margin-right: 0;
      margin-left: toRem(8);
    }

    .context-tile {
      text-align: right;
    }

    @include respond-to-min($desktop-wide) {
      .context-navigation-4-0.with-main-text .content-wrapper .content {
        margin-right: 0;
        margin-left: toRem(24);
      }
    }

    .context-navigation-4-0 {
      &.with-slider {
        &.two-tiles {
          .all-tiles {
            .context-tile + .context-tile {
              @include respond-to-min($desktop) {
                margin-right: 0 !important;
                margin-left: 0 !important;
              }
            }
          }
        }
      }
    }
  }
}
