
body, html{ overflow-x:hidden;}
body{ background:none;}

header.experiencefragment{
      .cmp-container {
        grid-template-columns: inherit!important;
    }
}
header.experiencefragment{
        padding:0!important;
        border-bottom:0!important;
}

.cmp-image__image {
    width: 100%;
}
.cmp-experiencefragment--header{
    position: fixed;
    top:0;
    width:100%;
}
.image{width:80px;}

.cmp-experiencefragment--header .cmp-image__image {
    width: 100%;
}
.cmp-experiencefragment--header .cmp-navigation{ 
   padding:50px 0;
}
.cmp-experiencefragment--header .cmp-navigation__group{
    .cmp-navigation__item{
        grid-template-columns: inherit!important;
        // float: left;
        margin-right: 35px;
        margin-right: 28px;
        }
    }
header.experiencefragment .cmp-navigation__item-link{
    color: #9978B5;
    font-family: 'GothamRounded-Book';
    text-decoration: none;
    font-weight: 100!important;
    font-size: 14px;
}
.cmp-experiencefragment--footer .cmp-container {
    color: #202020;
    font-family:'GothamRounded-Light';
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 1024px;
}
footer.experiencefragment {
    .cmp-experiencefragment--footer .cmp-text{ 
        font-size: 16px;
        padding: 35px 0;
        text-align: center;
        padding: 50px 0;
        line-height: 20px;
        color: #fff;
        font-family: 'GothamRounded-Light';
        background-color: #452769;
    }
    .experiencefragment .cmp-experiencefragment--footer .aem-GridColumn .aem-GridColumn--default--12{
        width: auto;
        clear: initial;
        float: inherit;
    }
    .aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--default--12{
        width: auto;
        clear: initial;
        float: inherit;
    }
}
footer.experiencefragment {
    border-top:none!important; 
    padding:0!important;
}


// .cmp-container{  margin:0 auto;
//     width:100%;
//     max-width:1024px;}

header.experiencefragment .cmp-navigation__group{
    display:flex;
}

.cmp-image{ width:86px;}

header.experiencefragment a {
    color:#9978b5!important;
}

header.experiencefragment a:focus, header.experiencefragment a:hover{ text-decoration:none;}
