/* stylelint-disable*/
.benefits-section {
    .title-wrapper {
        margin-bottom: 2.5rem;

        .title {
            h3 {
                font-size: 1.75rem;
                width: 55%;
                z-index: 1;
                margin-bottom: 2rem;
                font-weight: 400;
                letter-spacing: .5px;
                line-height: 1.15;
                position: relative;
            }
        }
    }

    .ul-list-cms ul>li {
        color: $steel-grey;
    }

    .media-cta-container {
        background-color: $white;
        border-radius: 4px;
    }

    .benefits-mobile {
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;
        line-height: 2.5;
        font-size: 14px;
        color: $main-green;
        font-weight: 900;
        padding: 14px 0;

        .icon {
            height: 40px;
            width: 35px;
            margin-right: 10px;

            circle,
            path,
            polygon,
            polyline {
                stroke: $main-green;
                stroke-width: 2px;
            }
        }

        .view-more {
            &:before {
                right: 3px;
                border: solid $main-green;
                border-width: 0 1px 1px 0;
                padding: 5px;
                content: "";
                position: absolute;
                line-height: 1;
                top: 50%;
                transform: translateY(-50%) rotate(-135deg);
                -webkit-transform: translateY(-50%) rotate(-135deg);
                transition: all .3s ease-in-out;
            }
        }

        &.collapsed {
            color: $gray-fill;
            font-weight: 500;

            .icon {

                circle,
                path,
                polygon,
                polyline {
                    stroke: $gray-fill;
                    stroke-width: 1px;
                }
            }

            .view-more {
                &:before {
                    transform: translateY(-50%) rotate(45deg);
                    -webkit-transform: translateY(-50%) rotate(45deg);
                    border: solid $gray-fill;
                    border-width: 0 1px 1px 0;
                    // top: 45%;
                }
            }
        }
    }

    .tab-pane {
        overflow: hidden;
    }

    .features-wrapper {
        .features-list {
            z-index: 1;
            position: relative;
            border: 0;

            li {
                padding: 1.125rem 0;
                color: $gray-fill;
                display: block;
                float: none;

                >a {
                    display: flex;
                    display: -webkit-flex;
                    border: 0;
                    color: $gray-fill;
                    background-color: transparent;
                    padding: 0;

                    p {
                        font-family: $font-SuisseIntl-Bold;
                        font-size: 1.125rem;
                        line-height: 1.125rem;
                        text-align: center;
                        margin: auto 0;

                    }

                    .icon {
                        float: left;
                        height: 30px;
                        width: 32px;
                        margin-right: 30px;
                        fill: inherit;
                        margin-top: -5px;
                    }
                }

                &:first-child {
                    padding-top: 0;
                }

                &:last-child {
                    padding-bottom: 0;
                }

                &.active {
                    color: $main-green;
                    font-weight: 900;

                    >a {
                        color: $main-green;

                        .icon {
                            color: $main-green;
                            font-weight: 900;

                            circle,
                            path,
                            polygon,
                            polyline {
                                stroke: $main-green;
                                stroke-width: 2px;
                            }
                        }
                    }

                }
            }
        }
    }

    .img-with-disc {
        background: $white;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        //  margin-top: 1.25rem;

        .title-wrapper {
            margin-bottom: 2.125rem;

            .title {
                h3 {
                    width: 100%;
                    font-size: 1.625rem;
                    line-height: 1.15;
                }
            }
        }

        .media-left {
            padding-right: 1.5rem;

            .media-object {
                height: 428px;
            }
        }

        .media-body {
            padding: 2.75rem 1.5rem 2.75rem 0;
            position: relative;

            .discription {
                max-height: 13.75em;
                overflow: hidden;
                position: relative;

                p,
                p.default-text {
                    margin-bottom: 1.875rem;

                    &:last-child {
                        margin: 0;
                    }
                }
            }
        }
    }
}

*[lang="ar"] *[dir="rtl"] .benefits-section .benefits-mobile .icon {
    margin-left: 10px;
    margin-right: 0;
}

*[lang="ar"] *[dir="rtl"] .benefits-section .benefits-mobile .view-more:before {
    left: 3px;
    right: auto;
}

.overview-section {
    .default-section-title h3 {
        margin: 0;
    }

    .overview-wrapper {

        position: relative;
        overflow: hidden;

        .mobile-features {
            margin-top: 3.5625rem;
            min-height: 515px !important;

            &.collapse {
                display: block;
                overflow: hidden;
                height: 515px !important;
                position: relative;

                &.in {
                    height: auto !important;
                }
            }

            .mobile-feature {
                // padding-bottom: .75rem;
                border-bottom: 1px solid $light-sand-brown;
                margin: 1.5rem 0;

                .default-title {
                    margin-bottom: 1rem;
                }

                .default-text {
                    padding-right: 83px;
                }

                &:last-child {
                    border: 0;
                }

                .media-right {
                    .media-img {
                        width: 10rem;
                        height: 10rem;

                        img.media-object {
                            width: 100%;
                            cursor: default;

                        }
                    }
                }
            }
        }
    }
}

.specification-section {
    .specification-box {
        .default-section-title h3 {
            margin: 0;
        }

        .specification-list {
            margin-top: 2.625rem;
            height: 232px !important;

            &.collapse {
                display: block;
                overflow: hidden;
                // height: 226px !important;
                position: relative;

                &.in {
                    height: auto !important;

                    .table {

                        td,
                        th {
                            white-space: normal;
                            line-height: 1
                        }
                    }
                }
            }

            .table {
                table-layout: fixed;
                width: 100%;
                font-size: 1rem;
                margin: 0;

                >tfoot,
                >thead,
                >tbody {

                    td,
                    th {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 50%;
                        padding: 1rem;
                    }

                    td {
                        font-weight: 700;
                        color: $incMaroon;
                    }
                }
            }
        }
    }
}

.media-news {
    .news-item {
        border-bottom: solid 1px $light-sand-brown;

        .btn-text:before {
            right: auto;
        }
    }
}

.media-cta-section .media-cta-wrapper .media-cta-photo {
    height: 240px;
}

// arabic language
*[lang="ar"] {
    *[dir="rtl"] {
        .benefits-section {
            .features-wrapper {
                .features-list {
                    .icon {
                        margin-right: 0;
                        margin-left: 30px;
                    }
                }
            }

            .img-with-disc {
                .media-left {
                    padding-right: 0;
                    padding-left: 1.5rem;
                }

                .media-body {
                    padding: 2.75rem 0 2.75rem 1.5rem;

                    .fixed-at-bottom {
                        position: absolute;
                        bottom: 2.75rem;
                        right: 20px;
                    }
                }
            }
        }

        .cta-benefits .media-cta-wrapper .body-standard,
        .media-cta-section .media-cta-wrapper .body-standard {
            @media (min-width: $screen-md) {
                padding: 1.5rem 12px 4rem 2.5rem;

                .learn-more-link {
                    left: auto;
                    right: 12px;
                }
            }
        }

        .cta-benefits .media-cta-wrapper.col-reverse .media-cta-photo,
        .media-cta-section .media-cta-wrapper.col-reverse .media-cta-photo {
            @media (min-width: $screen-md) {
                border-radius: 4px 0 0 4px;
            }
        }

        .cta-benefits .media-cta-wrapper .media-cta-photo,
        .media-cta-section .media-cta-wrapper .media-cta-photo {

            //padding: 0 !important;
            @media (min-width: $screen-md) {
                padding-left: 12px;
                padding-right: 0;
                border-radius: 0 4px 4px 0;
            }
        }

    }
}

*[lang='ar'] *[dir='rtl'] .overview-section .overview-wrapper .mobile-features .mobile-feature .default-text {
    padding-right: 0;
    padding-left: 83px;
}

*[lang='ar'] *[dir='rtl'] .benefits-section .img-with-disc .media-body .fixed-at-bottom {
    position: absolute;
    bottom: 2.75rem;
    right: 0;
    left: auto;
    line-height: initial;
}

@media only screen and (min-width: $screen-sm) {
    *[lang="ar"] {
        *[dir="rtl"] {
            .media-news {
                .news-para {
                    padding-right: 2em;
                }
            }
        }
    }

    .media-news {
        .news-para {
            text-indent: -2em;
            padding-left: 2em;
        }
    }

}

@media only screen and (max-width: $screen-ms-min) {
    .benefits-section {
        .title-wrapper {
            .title {
                h3 {

                    width: 100%;
                }
            }
        }

        .img-with-disc {
            .title-wrapper {
                margin-bottom: 1.125rem;

                .media-body {
                    .discription {
                        p.default-text {
                            margin-bottom: .875rem;
                        }

                        p {
                            margin-bottom: .875rem;
                        }
                    }
                }
            }

            .media-body,
            .media-left,
            .media-right {
                display: block;
            }

            .media-body {
                padding: 0 15px 88px;
                width: auto;
            }

            .media-left,
            .media-right {
                >a {
                    display: block;
                    height: 250px;
                    overflow: hidden;
                }

            }
        }
    }
}

@media (max-width: 767px) {
    .benefits-section {
        .features-wrapper {
            display: none;
        }
    }

    .overview-section .overview-wrapper .mobile-features.collapse {
        height: 0 !important;
        min-height: 0 !important;
    }
}

// mobile version
@media (max-width: $screen-sm) {
    .benefits-section {
        .title-wrapper {
            .title {
                h3 {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .benefits-section {
        .img-with-disc {
            overflow: hidden;

            .media-body {
                padding: 15px 15px 88px;

                .fixed-at-bottom {
                    left: 0;
                }

                .title-wrapper {
                    .title {
                        h3 {
                            font-size: 1.15rem !important;
                            letter-spacing: normal;
                            font-weight: bold;
                        }
                    }
                }
            }
        }

        .media {
            .media-left {
                padding-right: 0;
                padding-left: 0;

                .media-object {
                    height: 540px;
                    object-fit: fill;
                    width: 100%;
                }
            }
        }
    }

    .overview-section {
        .default-sub-title {
            p {
                line-height: 20px;
                margin-top: 1.4rem;
                margin-bottom: 1rem;
                font-size: 14px
            }
        }

        .overview-wrapper {
            .mobile-features {

                .mobile-feature {
                    margin: 1rem 0;

                    .default-title {
                        font-size: 1rem;
                        line-height: 1.5;
                    }

                }
            }
        }
    }

    .specification-section {
        .specification-box {
            .specification-list {
                margin-top: 1.5rem;

                .table {
                    font-size: .875rem;
                }
            }
        }
    }

}

@media (min-width : $screen-sm) and (max-width : $screen-md-min) {
    .benefits-section {
        .img-with-disc {
            .title-wrapper {
                margin-bottom: 1.125rem;

                .media-body {
                    .discription {

                        p,
                        p.default-text {
                            margin-bottom: .875rem;
                        }
                    }
                }
            }

            .media {
                .media-left {
                    padding-right: 0;

                    .media-object {
                        height: 540px;
                        object-fit: fill;
                        width: 100%;
                    }
                }
            }

            .media-body,
            .media-left,
            .media-right {
                display: block;
            }

            .media-body {
                padding: 15px 15px 88px;
                width: auto;

                .fixed-at-bottom {
                    left: 0;
                }
            }

            .media-left,
            .media-right {
                >a {
                    display: block;
                    height: 250px;
                    overflow: hidden;
                }

            }
        }
    }
}

@media only screen and (max-width: $screen-md-min) {
    .benefits-section {
        .title-wrapper {
            .title {
                h3 {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: $screen-sm) {

    .overview-section,
    .specification-section {
        .default-section-title {
            .btn-text.view-more {
                position: static;
            }
        }
    }

    .ptb-50 {
        padding: 20px;
    }

    .col-two {
        -webkit-column-count: auto;
        /* Chrome, Safari, Opera */
        -moz-column-count: auto;
        /* Firefox */
        column-count: auto;
    }
}

// *************************************
// media-cta custom styling
// *************************************

.cta-benefits,
.media-cta-section {
    background-color: hsla(0, 0%, 95%, .33);
    padding: 40px 0;

    @media (min-width: $screen-md) {
        padding: 4rem 0;
    }

    &.two-col {
        div.cover {
            position: relative;
        }

        .cta-heading {
            text-align: center;
        }

        .media-cta-wrapper {
            @media (max-width: 991px) {
                margin-bottom: 1.5rem;
            }


            >div {
                @media (min-width: $screen-md) {
                    max-height: 428px;
                    min-height: 428px;
                }
            }

            .media-cta-photo {
                @media (min-width: $screen-md) {
                    height: 428px;
                }
            }
        }

        .learn-more-link {
            @media (min-width: $screen-md) {
                bottom: 40px;
            }
        }
    }

    &.no-bg {
        background-color: transparent;
    }

    .cta-heading {
        font-size: 2rem;
        margin-bottom: 2rem;
        line-height: 40px;
        color: $incMaroon;
        margin-top: 0;

        @media (max-width: 767px) {
            font-size: 1.5rem;
            text-align: center;
        }
    }

    .media-cta-container {
        background: $white;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        //@media (max-width: 767px) {
        //  margin-left: 1rem;
        //  margin-right: 1rem;
        //}
    }

    .media-cta-wrapper {
        p {
            color: $incMaroon  !important;
            font-size: 14px;
            line-height: 19px;
            font-family: $font-SuisseIntl-Bold;
        }

        h4 {
            @media (max-width: 767px) {
                font-size: 18px;
                font-weight: bold;
                color: $premium;
                font-family: $font-SuisseIntl-Bold;
            }
        }

        .media-cta-photo {
            border-radius: 4px 4px 0 0;
            padding: 0;

            @media (min-width: $screen-md) {
                border-radius: 4px 0 0 4px;
                padding-right: 12px;
            }
        }

        .body-standard {
            padding: 1rem 1rem 4rem;

            h4 {
                margin-bottom: 1.4rem;
                font-family: $headings-font-family;
                color: $incMaroon;

                @media (max-width: $screen-sm-max) {
                    margin-bottom: 1rem;
                    font-family: $font-SuisseIntl-Bold;
                    font-weight: 700;
                    font-size: 18px;
                }
            }

            @media (min-width: $screen-md) {
                padding: 1.5rem 4rem 2.5rem 12px;
            }

        }

        &.col-reverse {
            .media-cta-photo {
                border-radius: 4px 4px 0 0;

                @media (min-width: $screen-md) {
                    border-radius: 0 4px 4px 0;
                    padding-left: 12px;
                    padding-right: 0;
                }
            }

            .body-standard {
                @media (min-width: $screen-md) {
                    padding-left: 1.5rem;
                }
            }

            .learn-more-link {
                left: 1.5rem;
            }
        }
    }
}

.cta-benefits-section,
.media-cta-section {
    >.container {
        @media (max-width: $screen-sm-max) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}

.media-cta-section {
    ~.modal-backdrop.fade.in {
        display: block;
        background-color: #00000091;
    }
}


.learn-more-link {
    .btn-text {
        letter-spacing: 2px;
    }
}

.cta-benefits-section {
    padding: 4rem 0;

    @media (max-width: $screen-sm-max) {
        padding: 1rem 0;

        .tab-pane {
            box-shadow: none !important;
        }
    }



    &.benefits-section .title-wrapper .title h3:before {
        display: none;
    }

    .title-wrapper .title h3 {
        width: 65%;
        font-size: 2rem;

        @media (max-width: $screen-sm-max) {
            font-size: 20px;
        }
    }

    .media-cta-container {
        margin: 0 !important;
    }

    .title-wrapper {

        .paragraph-styling,
        .ul-list-cms {

            p,
            ul li {
                color: $incMaroon;
            }
        }

        @media (max-width: $screen-sm-max) {
            margin-bottom: 0;
        }
    }

    .features-wrapper .features-list li.active {
        font-weight: 700 !important;
    }
}

.cta-benefits {
    background-color: transparent;
    padding: 0;
}

.media-cta-wrapper {
    .learn-more-link {
        position: absolute;
        left: 12px;
        bottom: 1.25rem;

        @media (max-width: $screen-sm-max) {
            bottom: 2rem;
            left: 1rem;
        }

        a {
            font-size: 14px;

            &:before {
                padding: 3.5px;
                right: -20px;
            }

            @media (max-width: $screen-sm-max) {
                font-size: 12px;

                &:before {
                    padding: 2.85px;
                }
            }
        }
    }
}

*[lang="ar"] {
    *[dir="rtl"] {
        .media-cta-section {
            .learn-more-link {
                left: 0;
                right: 12px;
            }
        }

        .media-cta-section .media-cta-wrapper {
            .media-cta-photo {
                @media (min-width: $screen-md) {
                    padding-left: 12px;
                    padding-right: 0;
                }
            }

            .body-standard {
                padding: 1.5rem 12px 1rem 4rem;

                @media (max-width: 991px) {
                    padding-bottom: 4rem;
                    padding-left: 1rem;
                }
            }

            &.col-reverse {
                .media-cta-photo {
                    @media (min-width: $screen-md) {
                        padding-left: 0;
                        padding-right: 12px;
                    }
                }

                .body-standard {
                    padding-left: 0;
                    padding-right: 1.5rem;
                }

                .learn-more-link {
                    left: 0;
                    right: 1.5rem;
                }
            }
        }
    }
}

/*
============================================
01 - xs viewport
01a - .media-cta-wrapper
02 - sm viewport
03 - md viewport
04 - lg viewport
05 - Arabic overrides
06 - Business overrides
07 - background colors
============================================
*/
/* -----------------------------------------
01 - mobile view port
01a - .media-cta-wrapper
----------------------------------------- */
.media-cta-wrapper {
    position: relative;
    flex-wrap: wrap;
    display: flex;

    &>div {
        min-height: 150px; //250px;
    }

    &.media-cta-bleed {
        .label-tag {
            position: absolute;
            top: 0;
            left: 0;
            right: auto;
            color: $white;
            padding: 1.25rem;
            font-size: 1rem;
            z-index: 4;
            min-height: 0;
            height: auto;
            font-family: $headings-font-family;

            .detail-price-new {
                color: $white;

                .main-part {
                    .price {
                        font-size: 1.875rem;
                    }
                }
            }
        }

        &.col-reverse {
            .label-tag {
                right: 0;
                left: auto;
            }

            .media-cta-photo {
                .cover {
                    left: auto;
                    right: 0;
                }

                .simple-image {
                    >img {
                        left: inherit;
                        right: 0;
                    }
                }
            }
        }

        .media-cta-photo {
            position: relative;
        }
    }

    .media-cta-caption {
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        max-height: none;

        >div {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding-top: 2rem;
            padding-bottom: 2.5rem;

            >div {
                display: flex;
                flex-direction: column;

                &:nth-child(2) {
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: flex-end;

                    .btn {
                        //margin-top: 2rem;
                        margin-left: 0;
                        margin-right: 0;
                        float: none;
                    }

                    .detail-price-new {
                        top: -0.3125rem;

                        .price {
                            &[dir="ltr"] {
                                font-family: $headings-font-family;
                            }

                            font-weight: 400;
                        }
                    }
                }
            }
        }
    }

    .media-cta-text {
        display: flex;
        align-items: center;
        position: relative;
        height: auto;
        padding-top: 1.875rem;
        background-color: transparent;
        padding-bottom: 1.875rem;

        .h2,
        .h3,
        .h4,
        h2,
        h3,
        h4 {
            margin: 0 0 1.875rem;
        }
    }

    .media-cta-photo {
        background-color: $white;
        //height: 64vw;
        height: 250px;
        overflow: hidden;

        >.simple-image {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;

            >img {
                max-width: 100% !important;
                max-height: 90% !important;
                height: auto !important;
                width: auto !important;
                margin: 0 !important;
                padding: 0 !important;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            >img {
                left: 0;
                transform: translate(0, -50%);
            }

            >img.cover-left {
                left: auto;
                right: 0;
            }
        }

        >.cover {
            display: block;
            position: relative;
            top: 0;
            left: 0;

            img.cover {
                max-height: inherit !important;
                max-width: inherit !important;
                padding: 0 !important;
            }
        }

        .video-container {
            position: absolute;
        }

        .video-container {
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;

            .video-controls-media-cta {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                cursor: pointer;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: center;
                justify-content: center;
                -ms-flex-align: center;
                align-items: center;
            }
        }

        video {
            position: absolute;
            z-index: 0;
        }

        video.fillIt,
        video.fillItW {
            width: 100%;
            height: auto;
        }

        video.fillItH {
            height: 100%;
            width: auto;
        }

        .video-controls {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                height: 3.75rem;
                width: 3.75rem;
            }
        }
    }

    .h3,
    h3 {
        font-size: 1.25rem;
        margin-top: 0;
        margin-bottom: 1.7rem;
        //padding-top: 3.25rem;
        padding-top: 0;
        //text-align: left;
    }

    .h4,
    h4 {
        //margin-top: 2rem;
        margin-top: 0;
        margin-bottom: 1.7rem;
        padding-top: 0;
        //text-align: left;
    }

    .btn {
        margin-top: 1.2rem;
        margin-left: auto;
        margin-right: auto;
    }

    .form-submit .btn {
        margin-top: 0;
        padding: 0;
    }

    .media-cta-caption {
        >div {
            >div {
                &:nth-child(2) {
                    .btn {
                        //margin-top: 2rem;
                        margin-left: 0;
                        //margin-right: auto;
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .btn-accordion {
        padding-left: 0;
        border: none;
        text-align: left;
        background-color: transparent;

        svg {
            height: 11px;
            width: 7px;
            margin-left: 23px;
            transform: rotate(90deg);
            transform-origin: center center;
            overflow: visible;
            transition: all .3s ease-in-out;

            use {
                -moz-transform: rotate(270deg);
                transform: rotate(270deg);
            }
        }

        &:active,
        &:focus,
        &:hover {
            border: none;
            background-color: transparent;
            color: $custom-gray;
        }
    }

    .media-cta-caption {
        >div {

            p.media-cta-icon {
                padding-left: 2.5rem;
                position: relative;
                margin-top: 0;
                margin-bottom: 0;
                padding-top: 1rem;
                padding-bottom: 0;
                min-height: 1.375rem;

                &:last-child {
                    padding-bottom: 1rem;
                }

                svg {
                    position: absolute;
                    left: 0;
                    fill: $incMaroon;
                    width: 1.375rem;
                    height: 1.375rem;
                }
            }
        }
    }

    .more-details-triangle {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 0%) rotate(180deg);
        width: 40px;
        height: 16px;
        fill: $light-gray;
        z-index: 1;
        display: none;
    }

    .media-cta-details {
        background-color: $white;
        max-height: none;
        padding: 0;
        display: block;
        flex-basis: 100%;
        height: 0;
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
        opacity: 0;
        min-height: 0;
        transition: all .8s ease-in-out;

        &.slideDown {
            opacity: 1;
            transition: all .8s ease;
            min-height: auto;
        }

        >.row {
            padding-top: 2.175rem;
            padding-bottom: 1.9rem;
        }

        .detailsBox-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            >div {
                flex-basis: 100%;
            }
        }

        .h5,
        h5 {
            color: $main-green;
            margin-bottom: .2rem;
            margin-top: 1.325rem;
        }

        p,
        ul {
            color: $incMaroon;
            font-size: .875rem;
        }

        .close-btn-wrap {
            .btn {
                margin-top: 2.7rem;
            }
        }
    }

    &.media-cta-open {
        .more-details-triangle {
            display: block;
        }

        .btn-accordion {
            svg {
                transform: rotate(-90deg);
            }
        }
    }

    .detail-price-info {
        display: inline-flex;
        padding-left: 3.125rem;
    }

    .detail-price-new {
        font-size: 2.5rem;
        position: relative;
        //display: inline-block;
        font-family: $headings-font-family;
        //font-weight: 600;
        line-height: .1rem;
        text-align: left;
        //padding-top: 0.9375rem;
        //padding-bottom: 1rem;
        color: $incMaroon;

        .price-valute {
            font-size: .875rem;
            display: inline-block;
            line-height: .65rem;
            margin-left: -7px;
        }

        .price-timing {
            font-size: 1rem;
            line-height: 3rem;
        }
    }

    .btn-arrow-only {
        display: block;
        //float: right;
        padding-top: 1.6rem;

        svg {
            stroke: $incMaroon;
            transform: rotate(180deg);
            width: 1.5625rem;
            height: .625rem;

            use {
                -moz-transform: translate(0px) rotate(-180deg);
                transform: translate(0px) rotate(-180deg);
            }
        }
    }

    .form-wrapper {
        padding-top: 3.625rem;
    }

    p,
    ul {
        color: $warm-gray;
        margin-bottom: 0;
    }

    ul {
        padding-left: 0;
        font-size: .875rem;
        list-style-position: inside;

        &.list {
            list-style: initial;
            padding-left: 1.2rem;
        }
    }

    p+p {
        margin-top: 1.2rem;
    }

    li {
        margin-top: .55rem;
    }
}

.col-two {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
}

/* style media-cta-full-bleed with <img> tag */

.media-bg-cover {
    width: 100%;
    overflow: hidden;
    min-height: 465px;
    position: relative;

    img+.media-cta-bleed {
        min-height: 465px;
    }

    .body-standard {
        color: $white;

        p,
        ul li {
            color: $white;
        }
    }

    img {
        min-width: 100%;
        position: absolute;
        min-height: 465px;
        height: 100%;
    }
}

/* -----------------------------------------
02 - sm viewport
----------------------------------------- */

@media (min-width: $screen-md) {
    .media-cta-section {
        &.two-col {
            .media-cta-wrapper {
                .body-standard {
                    padding: 42px 24px 0 12px;
                }
            }
        }
    }
}


@media (min-width: $screen-sm-min) {

    .media-cta-wrapper {
        &.col-reverse {
            display: flex;
            flex-direction: row-reverse;
        }

        &>div {
            min-height: auto;
        }

        .media-cta-caption {
            height: auto;
            min-height: auto;
        }

        .body-standard {
            padding: 1.5rem;
        }

        .h3,
        .h4,
        h3,
        h4 {
            font-size: 1.5rem;
            margin-top: 0;
            margin-bottom: 2.1rem;
        }

        p,
        ul {
            font-size: .875rem;
        }

        .detail-price-info {
            padding-left: 2.84375rem;
        }

        .detail-price-new {
            font-size: 2.5rem;

            .price-valute {
                display: inline-block;
                line-height: .65rem;
            }
        }

        .btn-accordion {
            padding-top: 1rem;
            padding-right: .25rem;
        }

        .media-cta-details {
            .detailsBox-container {
                >div {
                    flex-basis: 45%;
                }
            }
        }

    }

    .media-cta-wrapper .detail-price-new .price-timing {
        line-height: 3rem;
    }
}

/* -----------------------------------------
03 - md viewport
----------------------------------------- */
@media (min-width: $screen-md-min) {
    .media-cta-wrapper {
        &.media-cta-bleed {
            .label-tag {
                padding: 2.1875rem;
                font-size: 1.5625rem;

                .detail-price-new {
                    .main-part {
                        .price {
                            font-size: 2.5rem;
                        }
                    }
                }
            }
        }

        &.col-reverse {
            .media-cta-caption {
                margin-right: 8.33333333%;
            }
        }

        .form-wrapper {
            padding-top: 1rem;
        }

        .floating-label-select {
            margin-bottom: 1.5rem;
        }

        .detail-price-info {
            flex: 1;
        }


        p+p {
            margin-top: 0;
        }


        .h4,
        h4 {
            padding-bottom: 0;
        }

        .h3 {
            padding-bottom: .5rem;
        }

        .custom-sm-layout {
            display: inherit;

            .btn {
                float: none;
            }
        }


        .media-cta-details {
            .detailsBox-container {
                >div {
                    flex-basis: 25%;
                }
            }
        }
    }
}

/* -----------------------------------------
04 - lg viewport
----------------------------------------- */
@media (min-width: $screen-lg-min) {
    .media-cta-wrapper {

        &>div.media-cta-caption,
        &.media-cta-w &>div {
            max-height: 250px;
        }

        &.cta-big-varint {

            .media-cta-caption,
            .media-cta-photo {
                min-height: 250px;
                height: auto;
            }
        }


        .h3,
        .h4,
        h3,
        h4 {
            font-size: 26px;
            margin-bottom: 1.7rem;
            color: $incMaroon;
        }

        .h3,
        .h4,
        h4 {
            margin-top: 0;
        }


        .detail-price-new {
            font-size: 3.125rem;
        }

        .media-cta-details {
            padding-top: 0;
            padding-bottom: 0;

            &.slideDown {
                height: auto;
                transition: all .8s ease-in-out;
                min-height: 250px;
            }

            p {
                font-size: 1rem;
            }

            .close-btn-wrap {
                .btn {
                    margin-top: 1.1rem;
                }
            }
        }


        &.media-cta-bleed {
            .media-cta-photo {
                position: static;
            }

            &.media-cta-text-wh {
                .media-cta-text {
                    .body-standard {
                        color: $white;

                        p {
                            color: $white;
                        }

                        ul {
                            color: $white;
                        }

                        a {
                            color: $white;
                            text-decoration: underline;

                            &.btn {
                                color: $white;
                                border-color: $white;
                                text-decoration: none;
                            }
                        }

                        .detail-price-new {
                            color: $white;
                        }
                    }
                }
            }

            .label-tag {
                .detail-price-new {
                    .main-part {
                        .price {
                            font-size: 3.375rem;
                        }
                    }
                }
            }
        }
    }

    .media-cta-wrapper-custom {
        &>div {
            height: 40rem;
        }
    }

    .media-cta-wrapper .detail-price-new .price-timing {
        line-height: 3.4rem;
    }
}

/* -----------------------------------------
05 - Arabic styles
----------------------------------------- */
*[lang="ar"] {
    *[dir="rtl"] {

        .media-cta-wrapper {
            .detail-price-new .price-valute {
                margin-left: 0;
                margin-right: -7px;
            }
        }

        .pull-right-ar {
            float: right !important;
        }

        .pull-left-ar {
            float: left !important;
        }

        .text-right {
            text-align: left;
        }

        .text-left {
            text-align: right;
        }

        .media-cta-wrapper {
            .btn-arrow-only svg {
                transform: rotate(0deg);
            }


            .custom-sm-layout {
                text-align: right;
            }

            .media-cta-caption {
                >div {
                    >div {
                        &:nth-child(2) {
                            .btn {
                                margin-left: 0;
                                margin-right: 0;

                                svg {
                                    margin-left: .25rem;
                                }
                            }
                        }
                    }
                }
            }


            ul {
                padding-right: 0;
                padding-left: auto;
            }

            .btn-accordion {
                padding-right: 0;

                svg {
                    margin-right: 23px;
                }
            }


            .detail-price-info {
                padding-left: 0;
                padding-right: 3.125rem;

                .detail-price-new {
                    text-align: right;
                }
            }

            .media-cta-caption {
                >div {
                    p.media-cta-icon {
                        padding-left: 0;
                        padding-right: 2.5rem;

                        svg {
                            left: inherit;
                            right: 0;
                        }
                    }
                }
            }


            &.media-cta-bleed {
                .label-tag {
                    right: 0;
                    left: auto;
                    font-family: $font-arabic;

                    .detail-info-wrap-pricetag .main-part .price {
                        font-family: $font-arabic;
                    }
                }

                &.col-reverse {
                    .label-tag {
                        left: 0;
                        right: auto;
                    }
                }
            }
        }

        @media (min-width: $screen-sm-min) {
            .custom-sm-layout {
                text-align: right;
            }

            .detail-price-info {
                padding-right: 2.84375rem;
            }
        }
    }
}



.media-cta-wrapper {
    p {
        margin-bottom: .5rem !important;
    }

    p+p {
        margin-top: 1rem;
    }

    .paragraph-styling {
        p {
            margin-bottom: .5rem !important;
        }

        p+p {
            margin-top: 1rem;
        }
    }

    .ul-list-cms ul,
    .ul-list-cms ol {
        margin-bottom: 1rem !important;
    }

    .ul-list-cms .p1 ol>li,
    .ul-list-cms .p1 ul>li,
    .ul-list-cms .p2 ol>li,
    .ul-list-cms .p2 ul>li,
    .ul-list-cms .p3 ol>li,
    .ul-list-cms .p3 ul>li,
    .ul-list-cms .p4 ol>li,
    .ul-list-cms .p4 ul>li,
    .ul-list-cms ol>li,
    .ul-list-cms ul>li {
        line-height: 20px;
    }
}



/* -----------------------------------------
07 - background colors
-------------------------------------------- */
.media-cta-container {
    background-color: $sand-white;

    &.media-cta-container-wh {
        background-color: $white;
    }

    &.media-cta-container-gr {
        background-color: $light-sand-brown;
    }
}

.benefits-section .tab-pane {
    overflow: hidden;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
}

.benefits-section {
    &.no-action {
        .main-text-action-wrapper {
            .link {
                font-size: 14px !important;
                letter-spacing: 2px !Important;

                &:before {
                    -webkit-transform: translateY(-50%) rotate(-45deg);
                    -moz-transform: translateY(-50%) rotate(-45deg);
                    -ms-transform: translateY(-50%) rotate(-45deg);
                    -o-transform: translateY(-50%) rotate(-45deg);
                    transform: translateY(-50%) rotate(-45deg) !important;
                }
            }

            .btn {
                &:hover {
                    color: $brand-primary;
                }
            }
        }

        .features-wrapper {
            display: block;

            .features-list li {
                padding: 0;
                padding-bottom: 1rem;

                a p {
                    text-align: left;
                    line-height: 24px !important;
                    width: 100%;
                }
            }
        }

        .title-wrapper {
            margin-bottom: 1rem !important;

            .wst-main-headings {
                height: 56px;
            }
        }
    }
}


.benefits-section .features-wrapper .features-list {
    z-index: 1;
    position: relative;
    border: 0;
}

.benefits-section .features-wrapper .features-list li {
    padding: 1rem 0;
    color: #6b6b6b;
    display: block;
    float: none;
}

.benefits-section .features-wrapper .features-list li>a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    border: 0;
    color: #6b6b6b;
    background-color: transparent;
    padding: 0;
    align-items: center;
}

.benefits-section .features-wrapper .features-list li>a p {
    color: #6b6b6b;
    font-size: 1.125rem;
    line-height: 1.125rem;
    text-align: center;
    margin: auto 0;
}

.benefits-section .features-wrapper .features-list li>a .icon {
    float: left;
    height: 30px;
    width: 32px;
    margin-right: 36px;
    fill: inherit;
}

.benefits-section .features-wrapper .features-list li:first-child {
    padding-top: 0;
}

.benefits-section .features-wrapper .features-list li:last-child {
    padding-bottom: 0;
}

.benefits-section .features-wrapper .features-list li.active {
    color: #719e19;
    font-weight: 900;
}


.benefits-section .features-wrapper .features-list li.active>a {
    color: #719e19;
}

.benefits-section .features-wrapper .features-list li.active>a p {
    color: #719e19;
}

.benefits-section .features-wrapper .features-list li.active>a .icon {
    color: #719e19;
    font-weight: 900;
}

.benefits-section .features-wrapper .features-list li.active>a .icon circle,
.benefits-section .features-wrapper .features-list li.active>a .icon path,
.benefits-section .features-wrapper .features-list li.active>a .icon polygon,
.benefits-section .features-wrapper .features-list li.active>a .icon polyline {
    stroke: #719e19;
    stroke-width: 2px;
}

.benefits-section .img-with-disc {
    background: #fff;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    margin-top: 1.25rem;
}

.benefits-section .img-with-disc .title-wrapper {
    margin-bottom: 2.125rem;
}

.benefits-section .img-with-disc .title-wrapper .title h3 {
    width: 100%;
    font-size: 1.625rem;
    line-height: 1.15;
}

.benefits-section .img-with-disc .media-left {
    padding-right: 1.5rem;
}

.benefits-section .img-with-disc .media-left .media-object {
    height: 428px;
}

.benefits-section .img-with-disc .media-body {
    padding: 2.75rem 1.5rem 2.75rem 0;
    position: relative;
}

.benefits-section .img-with-disc .media-body .discription {
    overflow: hidden;
    position: relative;
}

#benefitsdesktop,
#benefitsmobile {
    display: none;
}

@media only screen and (min-width: 769px) {
    #benefitsdesktop {
        display: block;
    }
}

@media only screen and (max-width: $screen-sm) {
    #benefitsmobile {
        display: block !important;
    }

    .benefits-section {
        .tab-pane {

            &.collapsing,
            &.in {
                display: block;
            }

        }
    }
}

// read more over popover
.popover-content {
    padding: 0;

    p {
        padding-bottom: 0;
        max-height: 230px;
        overflow: hidden;
    }

    .popover-dots {
        background: transparent;
        border: 0;
    }
}

.popover {
    &.in {
        padding: 14px;
    }
}