/* stylelint-disable*/

/************************************************
guidelines for main headings h1 to h6
*************************************************/
.wst-main-headings,
.buy-n-get-headings {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $incMaroon;
    margin: 0;
    font-family: $headings-font-family;
  }

  h1,
  h2,
  h3 {
    margin-bottom: 1rem;

    @media screen and (min-width: $screen-md) {
      margin-bottom: 1.5rem;
    }
  }

  h4,
  h5,
  h6 {
    margin-bottom: 0.75rem;

    @media screen and (min-width: $screen-md) {
      margin-bottom: 1rem;
    }
  }

  h1 {
    font-size: 2rem;
    line-height: 40px;

    @media screen and (min-width: $screen-md) {
      font-size: 3.375rem;
      line-height: 68px;
    }
  }

  h2 {
    font-size: 30px;
    line-height: 34px;

    @media screen and (min-width: $screen-md) {
      font-size: 40px;
      line-height: 52px;
    }
  }

  h3 {
    font-size: 28px;
    line-height: 34px;

    @media screen and (min-width: $screen-md) {
      font-size: 2rem;
      line-height: 40px;
    }
  }

  h4 {
    font-size: 24px;
    line-height: 32px;

    @media screen and (min-width: $screen-md) {
      font-size: 28px;
      line-height: 34px;
    }
  }

  h5 {
    font-size: 20px;
    line-height: 28px;

    @media screen and (min-width: $screen-md) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  h6 {
    font-size: 16px;
    line-height: 24px;

    @media screen and (min-width: $screen-md) {
      font-size: 20px;
      line-height: 28px;
    }
  }
}

/************************************************
guidelines for secondary headings h1 to h4
*************************************************/
.wst-secondary-headings {
  h2,
  h3,
  h4,
  h5 {
    color: $incMaroon;
    margin: 0;
    margin-bottom: 4px;
    font-family: $font-SuisseIntl-Bold;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
  }

  h2 {
    font-size: 14px;
    line-height: 1.25rem;

    @media screen and (min-width: $screen-md) {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }

  h3 {
    font-size: 12px;
    line-height: 1rem;

    @media screen and (min-width: $screen-md) {
      font-size: 14px;
      line-height: 1.25rem;
    }
  }

  h4 {
    font-size: 12px;
    line-height: 1rem;
  }

  h5 {
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 2px;
  }
}

/************************************************
guidelines for sub headings h7 to h8
*************************************************/
.wst-main-headings {
  .h7,
  .h8 {
    color: $almost-black;
    margin: 0;
    line-height: 1.25;
    font-family: $font-SuisseIntl-Bold;
    font-weight: 700;
  }

  .h7 {
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.75rem;

    @media screen and (min-width: $screen-md) {
      font-size: 1.25rem;
      line-height: 28px;
      margin-bottom: 1rem;
    }
  }

  .h8 {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 0.75rem;

    @media screen and (min-width: $screen-md) {
      font-size: 1rem;
      color: $steel-grey;
      line-height: 1.5rem;
      margin-bottom: 1rem;
    }
  }
}

/************************************************
Paragraph styling for p1 - p4
*************************************************/
.paragraph-styling {
  .p1,
  .p2,
  .p3,
  .p4 {
    p {
      color: $incMaroon;
      font-family: $font-SuisseIntl-Bold;
      margin-bottom: 0.75rem;

      @media screen and (min-width: $screen-md) {
        margin-bottom: 1rem;
      }
    }

    ul li,
    ol li {
      color: $incMaroon !important;
    }

    a {
      color: $brand-primary;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .p1 p,
  .p1 a,
  .p1 ul li,
  .p1 ol li {
    font-size: 1rem !important;
    line-height: 1.5rem !important;

    @media screen and (min-width: $screen-md) {
      font-size: 1.25rem !important;
      line-height: 28px !important;
    }
  }

  .p2 p,
  .p2 a,
  .p2 ul li,
  .p2 ol li {
    font-size: 14px !important;
    line-height: 20px !important;

    @media screen and (min-width: $screen-md) {
      font-size: 1rem !important;
      line-height: 1.5rem !important;
    }
  }

  .p3 p,
  .p3 a,
  .p3 ul li,
  .p3 ol li {
    font-size: 12px !important;
    line-height: 1rem !important;

    @media screen and (min-width: $screen-md) {
      font-size: 14px !important;
      line-height: 20px !important;
    }
  }

  .p4 p,
  .p4 a,
  .p4 ul li,
  .p4 ol li {
    font-size: 12px !important;
    line-height: 1rem !important;
  }
}

/************************************************
general Paragraph styling
*************************************************/
.paragraph-styling {
  a {
    color: $incMaroon !important;
    font-size: 14px;
    line-height: 24px;
    cursor: pointer;
  }

  p {
    font-size: 14px;
    color: $incMaroon;
    line-height: 24px;
    margin-bottom: 1.5rem;
  }

  &.big {
    p {
      font-size: 18px;
    }
  }

  &.anchor {
    a {
      color: $brand-primary;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: $screen-sm-max) {
  .paragraph-styling {
    &.big p {
      font-size: 16px;
    }
  }
}

.content-headng {
  color: $steel-grey;
}

/************************************************
general list styling ul ol li
*************************************************/
.ul-list,
.ul-list-sub {
  margin-bottom: 1.5rem;
  margin-left: 1rem;

  > li {
    padding-left: 1.5rem;
    position: relative;
    color: $incMaroon;
    font-size: 14px;
    line-height: 24px;
  }

  &.no-bullet {
    > li {
      padding-left: 0;
    }
  }
}

.ul-list {
  &.order {
    margin-left: 1.75rem;
    list-style: decimal;

    > li {
      padding-left: 0.75rem;

      &:before {
        display: none;
      }
    }
  }

  > li {
    &:before {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: $steel-grey;
      display: block;
      position: absolute;
      left: 0;
      top: 10px;
    }
  }

  &.no-bullet {
    > li {
      &:before {
        content: '';
        width: 0;
        height: 0;
      }
    }
  }
}

.ul-list-sub {
  > li {
    &:before {
      content: '';
      width: 4px;
      height: 1px;
      background-color: $incMaroon;
      display: block;
      position: absolute;
      left: 0;
      top: 14px;
    }
  }
}

.ul-list-cms ul,
.ul-list-cms ol,
.ul-list-cms .p1 ul,
.ul-list-cms .p1 ol,
.ul-list-cms .p2 ul,
.ul-list-cms .p2 ol,
.ul-list-cms .p3 ul,
.ul-list-cms .p3 ol,
.ul-list-cms .p4 ul,
.ul-list-cms .p4 ol {
  margin-bottom: 0;
  margin-left: 1rem;

  > li {
    padding-left: 1.5rem;
    position: relative;
    color: $incMaroon;
    font-size: 14px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 4px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.ul-list-cms ol,
.ul-list-cms .p1 ol,
.ul-list-cms .p2 ol,
.ul-list-cms .p3 ol,
.ul-list-cms .p4 ol {
  > li {
    padding-left: 0.75rem;

    > ol {
      > li {
        padding-left: 0.75rem;
      }
    }
  }
}

.ul-list-cms {
  &.two-col-no-bullets {
    ol,
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      li {
        list-style: none;
        flex: 1 0 100%;
        padding: 0;
        margin-bottom: 8px !important;
        @media (min-width: 992px) {
          margin-bottom: 10px !important;
        }
        &:before {
          display: none !important;
        }
        @media (min-width: 992px) {
          flex: 1 0 50%;
        }
      }
    }
  }
}

.ul-list-cms ul ul ul,
.ul-list-cms ul ol ul,
.ul-list-cms ul ol ol,
.ul-list-cms ol ul ul,
.ul-list-cms ol ol ul,
.ul-list-cms ol ul,
.ul-list-cms .p1 ul ul,
.ul-list-cms .p1 ol ol,
.ul-list-cms .p2 ul ul,
.ul-list-cms .p2 ol ol,
.ul-list-cms .p3 ul ul,
.ul-list-cms .p3 ol ol,
.ul-list-cms .p4 ul ul,
.ul-list-cms .p4 ol ol,
.ul-list-cms .p1 ol ul,
.ul-list-cms .p1 ol ol,
.ul-list-cms .p1 ol ul,
.ul-list-cms .p2 ol ul,
.ul-list-cms .p2 ol ul,
.ul-list-cms .p3 ol ul,
.ul-list-cms .p3 ol ul,
.ul-list-cms .p4 ol ul,
.ul-list-cms .p4 ol ul {
  margin-left: 0;
}

// first level
.ul-list-cms,
.ul-list-cms .p1,
.ul-list-cms .p2,
.ul-list-cms .p3,
.ul-list-cms .p4 {
  // first level discs
  > ul {
    > li {
      &:before {
        content: '';
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $steel-grey;
        display: block;
        position: absolute;
        left: 0;
        top: 10px;
      }

      //second level discs
      > ul {
        > li {
          &:before {
            content: '';
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $steel-grey;
            display: block;
            position: absolute;
            left: 0;
            top: 10px;
          }
        }
      }

      // second level numeric
      > ol {
        list-style: decimal;
        margin-left: 1rem;

        > li {
          &:before {
            content: '';
          }
        }
      }
    }
  }

  // first level numeric
  > ol {
    list-style: decimal;
    margin-left: 1.75rem;

    > li {
      &:before {
        content: '';
      }

      // second level numeric
      > ol {
        list-style: decimal;
        margin-left: 1rem;

        > li {
          &:before {
            content: '';
          }
        }
      }

      //second level discs
      > ul {
        > li {
          &:before {
            content: '';
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: $steel-grey;
            display: block;
            position: absolute;
            left: 0;
            top: 10px;
          }
        }
      }
    }
  }
}

.ul-list-cms > ul,
.ul-list-cms > ol,
.ul-list-cms .p1 > ul,
.ul-list-cms .p1 > ol,
.ul-list-cms .p2 > ul,
.ul-list-cms .p2 > ol,
.ul-list-cms .p3 > ul,
.ul-list-cms .p3 > ol,
.ul-list-cms .p4 > ul,
.ul-list-cms .p4 > ol {
  > li {
    > ul,
    > ol {
      > li {
        > ul,
        > ol {
          > li {
            &:before {
              content: '';
              width: 4px;
              height: 1px;
              background-color: $incMaroon;
              display: block;
              position: absolute;
              left: 0;
              top: 14px;
            }
          }
        }
      }
    }
  }
}

/************************************************
general third action link
*************************************************/
.third-action-wrapper {
  &.action-link {
    line-height: 20px;
    .link {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 12px;
      padding-right: 8px;
      line-height: 16px;
      position: relative;
      @media (min-width: $screen-md-min) {
        font-size: 14px;
        padding-right: 12px;
        line-height: 20px;
      }

      &:hover {
        text-decoration: underline;
        color: $brand-primary;
      }
      &:before {
        border: solid $brand-primary;
        border-width: 0 1px 1px 0;
        padding: 2.6px;
        content: '';
        position: absolute;
        line-height: 1;
        top: 50%;
        transform: translateY(-20%) rotate(-135deg);
        transition: all 0.3s ease-in-out;
        -webkit-transform: translateY(-50%) rotate(-45deg);
        right: 0;
        @media (min-width: $screen-md-min) {
          padding: 3.25px;
        }
      }
    }
  }
  &.transparent {
    .btn-transparent {
      background-color: transparent;
      color: $white;
    }
  }
  &.action-link,
  &.action-btn-default,
  &.action-btn-green,
  &.action-btn-orange {
    a {
      @media screen and (min-width: $screen-md) {
        min-width: 180px;
        width: auto;
      }
    }
  }
  &.action-btn-default {
    .btn {
      height: 50px;
    }
  }
}

*[lang='ar'] {
  *[dir='rtl'] {
    .third-action-wrapper.action-link .link {
      padding-right: 0;
      padding-left: 20px;
      &:before {
        transform: translateY(-50%) rotate(135deg);
        -webkit-transform: translateY(-50%) rotate(135deg);
        left: 0;
        right: auto;
      }
    }
  }
}

// generic guideline for price
.media-cta-4-price {
  .from,
  .aed,
  .vat {
    font-family: Lato;
    line-height: 15px;
    font-size: 12px;
    font-weight: normal;
    letter-spacing: normal;
    color: $incMaroon;

    @media (min-width: $screen-md-min) {
      line-height: 15px;
      font-size: 12px;
    }
  }
  .price {
    display: flex;
    align-items: baseline;
    .value {
      font-family: $headings-font-family;
      font-size: 28px;
      line-height: 36px;
      letter-spacing: normal;
      color: $incMaroon;
      padding-right: 8px;
      @media (min-width: $screen-md-min) {
        font-size: 32px;
        line-height: 40px;
      }
    }
  }
  .vat-wrap {
    display: flex;
    align-items: center;
    margin-top: 2px;
    height: 20px;
    .old-price {
      margin-right: 8px;
      font-size: 12px;
      line-height: 15px;
      font-weight: bold;
      padding: 3px 7px;
      border-radius: 10px;
      color: $white;
      background-color: $incMaroon;

      @media (min-width: $screen-md-min) {
        font-size: 12px;
        line-height: 15px;
      }
    }
    .old-price-value {
      text-decoration: line-through;
    }
  }
  &.white {
    .vat-wrap .old-price {
      background-color: $white;
      color: $incMaroon;
    }
    .price .value,
    .aed,
    .from,
    .vat {
      color: $white;
    }
  }
  &.orange {
    .vat-wrap .old-price {
      background-color: #ff8000;
    }
    .price .value,
    .aed {
      color: #ff8000;
    }
  }
  &.green {
    .vat-wrap .old-price {
      background-color: #719e19;
    }
    .price .value,
    .aed {
      color: #719e19;
    }
  }
  &.price-cards {
    @media (max-width: 767px) {
      .aed,
      .from,
      .vat {
        font-size: 10px;
        line-height: 12px;
      }
      .price {
        .value {
          font-size: 20px;
          line-height: 24px;
        }
      }
      .vat-wrap {
        height: 18px;
        .old-price {
          font-size: 8px;
          line-height: 10px;
        }
      }
    }
  }
}

*[lang='ar'] {
  *[dir='rtl'] {
    .media-cta-4-price .price .value {
      padding-right: 0;
      padding-left: 8px;
    }
    .media-cta-4-price.price-cards .vat-wrap .old-price {
      margin-right: 0;
      margin-left: 8px;
    }
    .product-cards-4-0 .swiper-container .swiper-wrapper .swiper-slide {
      text-align: right;
    }
  }
}

// youtube popup generic look and feel
.youtube-popup-container {
  .modal-dialog {
    width: 80%;
    top: 5%;
    margin: 0 auto;
    @media (min-width: $screen-md-min) {
      top: 7%;
    }
    .modal-content {
      height: 500px;
      border: 0;
      @media (min-width: $screen-md-min) {
        height: 720px;
      }
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}
.modal-backdrop.fade.in {
  display: block;
  background-color: #00000091;
}

// terms and conditions section
.terms-and-conditions-section {
  padding-bottom: 3rem;

  &.has-bg {
    background-color: #f7f8f4;
    padding: 3rem 0;
  }

  &.two-col {
    ul.ul-list {
      columns: 2;
      -webkit-columns: 2;
      -moz-columns: 2;
    }
  }
}

.heading-medium {
  font-family: $font-SuisseIntl-Bold;
  font-size: 20px;
  color: $almost-black;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.heading-large {
  font-family: $font-SuisseIntl-Bold;
  font-size: 1.8rem;
  color: $almost-black;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  margin-top: 0;
}

.heading-medium-neotech {
  color: $almost-black;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 1rem;

  &.big {
    font-size: 30px;
  }

  @media screen and (max-width: $screen-sm-max) {
    font-size: 16px;
  }
}

// arabic language
*[lang='ar'] {
  *[dir='rtl'] {
    .ul-list-cms ul,
    .ul-list-cms ol,
    .ul-list-cms .p1 ul,
    .ul-list-cms .p1 ol,
    .ul-list-cms .p2 ul,
    .ul-list-cms .p2 ol,
    .ul-list-cms .p3 ul,
    .ul-list-cms .p3 ol,
    .ul-list-cms .p4 ul,
    .ul-list-cms .p4 ol {
      //margin-bottom: 1.5rem;
      margin-right: 1rem;
      margin-left: 0;

      > li {
        padding-left: 0;
        padding-right: 1.5rem;
      }
    }

    .ul-list-cms ol,
    .ul-list-cms .p1 ol,
    .ul-list-cms .p2 ol,
    .ul-list-cms .p3 ol,
    .ul-list-cms .p4 ol {
      > li {
        padding-left: 0;
        padding-right: 0.75rem;

        > ol {
          > li {
            padding-left: 0;
            padding-right: 0.75rem;
          }
        }
      }
    }

    .ul-list-cms,
    .ul-list-cms .p1,
    .ul-list-cms .p2,
    .ul-list-cms .p3,
    .ul-list-cms .p4 {
      // first level
      > ol {
        margin-right: 1.75rem;
      }
    }

    .ul-list-cms ul ul ul,
    .ul-list-cms ul ol ul,
    .ul-list-cms ul ol ol,
    .ul-list-cms ol ul ul,
    .ul-list-cms ol ol ul,
    .ul-list-cms .p1 ul ul,
    .ul-list-cms .p1 ol ol,
    .ul-list-cms .p2 ul ul,
    .ul-list-cms .p2 ol ol,
    .ul-list-cms .p3 ul ul,
    .ul-list-cms .p3 ol ol,
    .ul-list-cms .p4 ul ul,
    .ul-list-cms .p4 ol ol {
      margin-right: 0;
    }

    .ul-list-cms > ul,
    .ul-list-cms .p1 > ul,
    .ul-list-cms .p1 > ol,
    .ul-list-cms .p2 > ul,
    .ul-list-cms .p2 > ol,
    .ul-list-cms .p3 > ul,
    .ul-list-cms .p3 > ol,
    .ul-list-cms .p4 > ul,
    .ul-list-cms .p4 > ol {
      > li:before {
        left: auto;
        right: 0;
      }
    }

    .ul-list-cms > ol,
    .ul-list-cms > ul,
    .ul-list-cms .p1 > ul,
    .ul-list-cms .p1 > ol,
    .ul-list-cms .p2 > ul,
    .ul-list-cms .p2 > ol,
    .ul-list-cms .p3 > ul,
    .ul-list-cms .p3 > ol,
    .ul-list-cms .p4 > ul,
    .ul-list-cms .p4 > ol {
      > li > ul > li:before,
      > li > ol > li:before {
        left: auto;
        right: 0;
      }
    }

    .ul-list-cms > ul,
    .ul-list-cms > ol,
    .ul-list-cms .p1 > ul,
    .ul-list-cms .p1 > ol,
    .ul-list-cms .p2 > ul,
    .ul-list-cms .p2 > ol,
    .ul-list-cms .p3 > ul,
    .ul-list-cms .p3 > ol,
    .ul-list-cms .p4 > ul,
    .ul-list-cms .p4 > ol {
      > li {
        > ul,
        > ol {
          > li {
            > ul,
            > ol {
              > li {
                &:before {
                  left: auto;
                  right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

.tile-expansion-section {
  .order-style {
    ol,
    ul {
      li {
        margin-bottom: 1rem !important;

        &:before {
          display: none;
        }
      }
    }
  }
}

/************************************************
// etisalt digital buttons / learnmore link guidelines starts
*************************************************/
.ed-learnmore-wrapper {
  .learn-more-btn {
    float: left;
  }
}
.learn-more-btn {
  position: relative;
  letter-spacing: 0px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  font-family: $font-SuisseIntl-Regular;
  color: $incRed;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s ease-in-out;
  &:before {
    display: none;
    content: '';
    position: absolute;
    right: -20px;
    top: 50%;
    border: solid $incRed;
    border-width: 0 1px 1px 0;
    transform: translateY(-50%) rotate(-45deg);
    padding: 5px;
  }
  &:hover {
    color: $incRed;
  }
}
.primary-btn {
  background: $incMaroon;
  color: $white;
  font-family: $font-SuisseIntl-Bold;
  padding: 0 32px;
  text-decoration: none;
  transition: all 0.3s ease;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 42px;
  text-align: center;
  display: inline-block;
  text-transform: none;
  height: 42px;
  min-width: 180px;
  border-radius: 3px;
  &:focus,
  &:hover {
    color: $white;
    background: $incMaroon;
  }
  &.mobile-full-width {
    @media (max-width: 991px) {
      display: block;
    }
  }
  &.outline {
    border: solid 2px #000;
    background: transparent;
    color: #000;
    &:hover {
      color: $white;
      background: #000;
    }
  }
  &.dark-bg {
    background: $white;
    color: $incRed;
    &:hover {
      color: #000;
      background: $white;
    }
    &.outline {
      border-color: #fff;
      color: #fff;
      background: black;
      &:hover {
        color: black;
        background: #fff;
      }
    }
  }
}
.white-btn {
  background: $white !important;
  color: $incMaroon !important;
  &:hover,
  &:active,
  &:focus {
    background: $white;
    color: $incMaroon;
  }
}
.collapsible-btn {
  border: solid 2px $incRed;
  color: $incRed;
  background: transparent;
  font-family: $font-SuisseIntl-Bold;
  letter-spacing: 2px;
  line-height: 24px;
  font-size: 16px;
  position: relative;
  padding: 12px 16px 12px 48px;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 26px;
  text-align: center;
  display: block;
  text-transform: uppercase;
  margin: 0px auto;
  &:hover,
  &:focus {
    background: $incRed;
    color: #fff;
    .shape {
      background: #fff;
      &:after,
      &:before {
        background: $incRed;
      }
    }
  }
  &.close {
    .shape {
      transform: translateY(-50%) rotate(45deg);
    }
  }
  .shape {
    background: $incRed;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: rotate(0) translateY(-50%);
    transition: all 0.3s ease;
    &:after,
    &:before {
      position: absolute;
      content: '';
      background: #fff;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &:after {
      width: 14px;
      height: 2px;
    }
    &:before {
      width: 2px;
      height: 14px;
    }
  }
  &.dark-bg {
    border-color: #fff;
    color: #fff;
    &:hover {
      background: #fff;
      color: black;
      .shape {
        background: black;
        &:before,
        &:after {
          background: #fff;
        }
      }
    }
    .shape {
      background: #fff;
      &:before,
      &:after {
        background: black;
      }
    }
  }
}
.dark-btn-wrap {
  padding: 30px;
  background: #000;
  margin: 20px 0;
}
[lang='ar'] [dir='rtl'] {
  .ed-learnmore-wrapper {
    .learn-more-btn {
      float: right;
    }
  }
  .collapsible-btn {
    padding: 12px 48px 12px 16px;
    .shape {
      left: initial;
      right: 16px;
    }
  }
  .learn-more-btn {
    &:before {
      left: -20px;
      right: auto;
      transform: translateY(-50%) rotate(135deg);
    }
  }
}

/************************************************
// etisalt digital text guidelines starts
*************************************************/
.cmp-teaser__content,
.ed-headings-2-0 {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $incMaroon;
    margin: 0;
    letter-spacing: 0;
  }
  &.white {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #ffffff;
    }
  }
  h1 {
    font-size: 32px;
    line-height: 40px;
    @media (min-width: 992px) {
      font-size: 54px;
      line-height: 64px;
    }
  }

  h2 {
    font-size: 24px;
    line-height: 32px;
    @media (min-width: 992px) {
      font-size: 40px;
      line-height: 48px;
    }
  }
  h3 {
    font-size: 24px;
    line-height: 32px;
    @media (min-width: 992px) {
      font-size: 32px;
      line-height: 40px;
    }
  }
}

@mixin ed-subheadings-2-0() {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $incMaroon;
    margin: 0;
    letter-spacing: 0;
  }
  &.white {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #ffffff;
    }
  }
  h4 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 16px;
    @media (min-width: 992px) {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 24px;
    }
  }

  h5 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 12px;
    @media (min-width: 992px) {
      font-size: 24px;
      line-height: 32px;
      margin-bottom: 16px;
    }
  }
  h6 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 8px;
    @media (min-width: 992px) {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 12px;
    }
  }
}

.ed-subheadings-2-0 {
  @include ed-subheadings-2-0();
}

.cmp-teaser__content,
.ed-paragraph-2-0 {
  .p1,
  .p2,
  .p3,
  .p4 {
    p {
      color: $incMaroon;
      margin: 0;
    }
    p + p {
      margin-top: 16px;
    }
  }

  &.ed-list-items {
    .p1,
    .p2,
    .p3,
    .p4 {
      ul {
        margin: 0;
        padding: 0;
        li {
          color: $incMaroon;
          margin-bottom: 16px;
          position: relative;
          padding-left: 17px;
          &:before {
            position: absolute;
            width: 9px;
            height: 9px;
            background: $incMaroon;
            content: '';
            left: 1px;
            top: 6px;
            border-radius: 50%;
          }
        }

        // li + ul{
        //   li{
        //     &:before{
        //       width: 9px !important;
        //       height: 9px !important;
        //       background: #719e19;
        //       content: "" !important;
        //       left: 1px;
        //       top: 8px !important;
        //       border-radius: 50% !important;
        //     }
        //   }

        // }
      }
      ol li ul {
        li {
          &:before {
            content: '' !important;
            width: 9px !important;
            height: 9px !important;
            background: $incMaroon !important;
            top: 8px !important;
            border-radius: 50% !important;
          }
        }
      }
      ol li ul li ol {
        li {
          &:before {
            content: counter(a) !important;
            counter-increment: a 1;
            width: auto !important;
            height: auto !important;
            background: transparent !important;
            top: 0px !important;
            border-radius: none !important;
          }
        }
      }
      ol {
        counter-reset: a;
        margin: 0;
        padding: 0;
        li {
          color: $incMaroon;
          margin-bottom: 16px;
          position: relative;
          padding-left: 17px;
          &::before {
            position: absolute;
            content: counter(a);
            counter-increment: a 1;
            width: auto;
            height: auto;
            color: $incMaroon;
            background: transparent;
            left: 1px;
            top: 0px;
            border-radius: none;
            list-style: none;
            font-weight: bold;
          }
        }
      }
      p + ul,
      ul + ul,
      ul li ul,
      ul li ol,
      p + ol,
      ol + ol,
      ol li ol,
      ol li ul {
        margin-top: 16px;
      }
    }

    .p1 {
      ul,
      ol {
        li {
          font-size: 20px;
          line-height: 28px;
          @media (min-width: 992px) {
            font-size: 24px;
            line-height: 32px;
          }
        }
      }
    }
    .p2 {
      ul,
      ol {
        li {
          font-size: 16px;
          line-height: 24px;
          @media (min-width: 992px) {
            font-size: 20px;
            line-height: 28px;
          }
        }
      }
    }
    .p3 {
      ul,
      ol {
        li {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
    .p4 {
      ul,
      ol {
        li {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }

    &.white {
      .p1,
      .p2,
      .p3,
      .p4 {
        ul,
        ol {
          li {
            color: #ffffff;
          }
        }
      }
    }
    &.dark {
      .p1,
      .p2,
      .p3,
      .p4 {
        ul,
        ol {
          li {
            color: $incMaroon;
          }
        }
      }
    }
  } // ends ul li

  &.white {
    .p1,
    .p2,
    .p3,
    .p4 {
      p {
        color: #ffffff;
      }
    }
  }

  &.dark {
    .p1,
    .p2,
    .p3,
    .p4 {
      p {
        color: $incMaroon;
      }
    }
  }

  &.heading-font-family {
    .p1,
    .p2,
    .p3,
    .p4 {
      p {
        font-family: $headings-font-family;
      }
    }
  }

  .p1 {
    p {
      font-size: 20px;
      line-height: 28px;
      @media (min-width: 992px) {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }

  .p2 {
    p {
      font-size: 16px;
      line-height: 24px;
      @media (min-width: 992px) {
        font-size: 20px;
        line-height: 28px;
      }
    }
  }

  .p3 {
    p {
      font-size: 16px;
      line-height: 24px;
    }
  }
  .p4 {
    p {
      font-size: 14px;
      line-height: 20px;
    }
  }
}

.bg-dark,
.bg-maroon {
  .ed-paragraph-2-0,
  .ed-subheadings-2-0,
  .cmp-teaser__content,
  .ed-headings-2-0 {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #ffffff;
    }
  }

  .cmp-teaser__content,
  .ed-paragraph-2-0 {
    .p1,
    .p2,
    .p3,
    .p4 {
      ul li,
      ol li,
      p {
        color: $white;
      }
    }
  }
}

[lang='ar'] [dir='rtl'] {
  .ed-paragraph-2-0.ed-list-items {
    .p1,
    .p2,
    .p3,
    .p4 {
      ul,
      ol {
        li {
          padding: 0 18px 0 0;
          &:before {
            left: initial;
            right: 1px;
          }
        }
      }
    }
  }
}
