/* stylelint-disable*/
.root.container {
  padding: 0;
  width: 100% !important;
}

.aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--12 {
  padding: 0;
}

.ed-learnmore-wrapper {
  a.learn-more-btn:focus {
    color: $incRed;
    outline: none;
    text-decoration: none;
  }
}

.bg-white {
  background-color: $white;
}

.bg-beige {
  background-color: $incBeige;
}

.bg-beige-light {
  background-color: $incBeige40;
}

.bg-grey,
.has-bg {
  background-color: $gray-bg;
}

.bg-dark {
  background-color: $black;
}

.bg-maroon {
  background-color: $incMaroon;
}

.bg-maroon-light {
  background-color: $incMahroon10;
}

.h-center {
  .ed-headings-2-0 {
    text-align: center !important;
  }
}

// new cover effects
div.cover {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

video.cover,
img.cover {
  position: absolute;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
}

// arabic language
*[lang='ar'] {
  *[dir='rtl'] {
    [class*='col-xs-'] {
      float: right;
    }

    @media (min-width: $screen-ms) {
      [class*='col-sm-'] {
        float: right;
      }
    }

    @media (min-width: $screen-md) {
      [class*='col-md-'] {
        float: right;
      }
    }

    @media (min-width: 1200px) {
      [class*='col-lg-'] {
        float: right;
      }
    }

    // OFFSET
    .col-xs-offset-12 {
      margin-left: 0;
      margin-right: 100%;
    }

    .col-xs-offset-11 {
      margin-left: 0;
      margin-right: 91.66666667%;
    }

    .col-xs-offset-10 {
      margin-left: 0;
      margin-right: 83.33333333%;
    }

    .col-xs-offset-9 {
      margin-left: 0;
      margin-right: 75%;
    }

    .col-xs-offset-8 {
      margin-left: 0;
      margin-right: 66.66666667%;
    }

    .col-xs-offset-7 {
      margin-left: 0;
      margin-right: 58.33333333%;
    }

    .col-xs-offset-6 {
      margin-left: 0;
      margin-right: 50%;
    }

    .col-xs-offset-5 {
      margin-left: 0;
      margin-right: 41.66666667%;
    }

    .col-xs-offset-4 {
      margin-left: 0;
      margin-right: 33.33333333%;
    }

    .col-xs-offset-3 {
      margin-left: 0;
      margin-right: 25%;
    }

    .col-xs-offset-2 {
      margin-left: 0;
      margin-right: 16.66666667%;
    }

    .col-xs-offset-1 {
      margin-left: 0;
      margin-right: 8.33333333%;
    }

    .col-xs-offset-0 {
      margin-left: 0;
      margin-right: 0;
    }

    @media (min-width: 768px) {
      .col-sm-offset-12 {
        margin-left: 0;
        margin-right: 100%;
      }

      .col-sm-offset-11 {
        margin-left: 0;
        margin-right: 91.66666667%;
      }

      .col-sm-offset-10 {
        margin-left: 0;
        margin-right: 83.33333333%;
      }

      .col-sm-offset-9 {
        margin-left: 0;
        margin-right: 75%;
      }

      .col-sm-offset-8 {
        margin-left: 0;
        margin-right: 66.66666667%;
      }

      .col-sm-offset-7 {
        margin-left: 0;
        margin-right: 58.33333333%;
      }

      .col-sm-offset-6 {
        margin-left: 0;
        margin-right: 50%;
      }

      .col-sm-offset-5 {
        margin-left: 0;
        margin-right: 41.66666667%;
      }

      .col-sm-offset-4 {
        margin-left: 0;
        margin-right: 33.33333333%;
      }

      .col-sm-offset-3 {
        margin-left: 0;
        margin-right: 25%;
      }

      .col-sm-offset-2 {
        margin-left: 0;
        margin-right: 16.66666667%;
      }

      .col-sm-offset-1 {
        margin-left: 0;
        margin-right: 8.33333333%;
      }

      .col-sm-offset-0 {
        margin-left: 0;
        margin-right: 0;
      }
    }

    @media (min-width: 992px) {
      .col-md-offset-12 {
        margin-left: 0;
        margin-right: 100%;
      }

      .col-md-offset-11 {
        margin-left: 0;
        margin-right: 91.66666667%;
      }

      .col-md-offset-10 {
        margin-left: 0;
        margin-right: 83.33333333%;
      }

      .col-md-offset-9 {
        margin-left: 0;
        margin-right: 75%;
      }

      .col-md-offset-8 {
        margin-left: 0;
        margin-right: 66.66666667%;
      }

      .col-md-offset-7 {
        margin-left: 0;
        margin-right: 58.33333333%;
      }

      .col-md-offset-6 {
        margin-left: 0;
        margin-right: 50%;
      }

      .col-md-offset-5 {
        margin-left: 0;
        margin-right: 41.66666667%;
      }

      .col-md-offset-4 {
        margin-left: 0;
        margin-right: 33.33333333%;
      }

      .col-md-offset-3 {
        margin-left: 0;
        margin-right: 25%;
      }

      .col-md-offset-2 {
        margin-left: 0;
        margin-right: 16.66666667%;
      }

      .col-md-offset-1 {
        margin-left: 0;
        margin-right: 8.33333333%;
      }

      .col-md-offset-0 {
        margin-left: 0;
        margin-right: 0;
      }
    }

    @media (min-width: 1200px) {
      .col-lg-offset-12 {
        margin-left: 0;
        margin-right: 100%;
      }

      .col-lg-offset-11 {
        margin-left: 0;
        margin-right: 91.66666667%;
      }

      .col-lg-offset-10 {
        margin-left: 0;
        margin-right: 83.33333333%;
      }

      .col-lg-offset-9 {
        margin-left: 0;
        margin-right: 75%;
      }

      .col-lg-offset-8 {
        margin-left: 0;
        margin-right: 66.66666667%;
      }

      .col-lg-offset-7 {
        margin-left: 0;
        margin-right: 58.33333333%;
      }

      .col-lg-offset-6 {
        margin-left: 0;
        margin-right: 50%;
      }

      .col-lg-offset-5 {
        margin-left: 0;
        margin-right: 41.66666667%;
      }

      .col-lg-offset-4 {
        margin-left: 0;
        margin-right: 33.33333333%;
      }

      .col-lg-offset-3 {
        margin-left: 0;
        margin-right: 25%;
      }

      .col-lg-offset-2 {
        margin-left: 0;
        margin-right: 16.66666667%;
      }

      .col-lg-offset-1 {
        margin-left: 0;
        margin-right: 8.33333333%;
      }

      .col-lg-offset-0 {
        margin-left: 0;
        margin-right: 0;
      }
    }
  }
}
