// override css for column spacing
$grid-spacing: 12px;

.aem-GridColumn {
  padding: 0 $grid-spacing;
}

.aem-GridColumn--default--12.aem-GridColumn {
  padding: 0 !important;
}

.aem-GridColumn--default--12 > .aem-GridColumn--default--12.aem-GridColumn {
  padding: 0 !important;
}

// @include respond-to-max($tablet) {
//   .aem-GridColumn--phone--12.aem-GridColumn {
//     padding: 0 !important;
//   }

//   .aem-GridColumn--phone--12 > .aem-GridColumn--phone--12.aem-GridColumn {
//     padding: 0 !important;
//   }
// }
