.beigebg-container {
  padding: 2rem !important;

  @include md {
    padding: 1rem !important;
  }

  @include sm {
    padding: 0.6rem !important;
  }

  @include md {
    h3 {
      font-size: 16px;
      margin-top: 20px;
    }

    h2 {
      font-size: 20px;
    }
  }

  p {
    color: #000;
    font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;

    @include sm {
      color: #6f6c70;
      font-size: 16px;
    }
  }

  h3 {
    margin-top: 20px;
  }

  .cmp-text {
    h3 {
      font-size: 20px;

      @include sm {
        line-height: 27px;
      }

      @include md {
        font-size: 16px;
      }
    }

    p {
      font-size: $font14;
      margin: 0 0 12.5px;
      margin-bottom: 1.5rem;
    }
  }

  .cmp-teaser__content {
    .cmp-teaser__title {
      float: left;
      width: 51%;

      @include md {
        float: none;
        width: 100%;
      }
    }

    .cmp-teaser__description {
      float: left;
      margin-top: 0.5rem;
      width: 50%;

      @include md {
        float: none;
        margin-top: 1.8rem;
        width: 100%;
      }
    }
  }

  .cmp-beigebg_teaser {
    background: $sand-white-50;
    border-radius: 4px;
    margin-bottom: 1.5rem;
    min-height: 140px;
    overflow: hidden;
    position: relative;

    @include md {
      min-height: 117px;
    }
  }

  .cmp-teaser__action-container {
    float: right;
    margin-top: -3rem;
  }

  .cmp-teaser {
    padding-left: 36px;
    padding-right: 36px;

    @include md {
      padding-left: 17px;
      padding-right: 17px;
    }

    .cmp-teaser__title {
      color: #353738;
      font-size: 28px;
      letter-spacing: 0.5px;
      margin: 2.2rem 0 1.5rem;

      @include sm {
        margin: 1rem 0;
      }

      @include md {
        font-size: $font28;
        margin: 1rem 0;
      }

      a {
        color: #353738;
      }
    }
  }

  ul li {
    color: #6f6c70;
    font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
    line-height: 24px;
    list-style-type: disc;
    margin-bottom: 4px;
    margin-left: 2rem;
    padding-left: 0.5rem;
    position: relative;
  }

  .beigebg-wrapper {
    background: $sand-white-50;
    padding-bottom: 2rem;
    padding-top: 0.4rem;

    .rte-bullets {
      ol {
        padding: 2rem 2rem 0;
      }
    }
  }

  .cmp-beigebg_teaser {
    margin-bottom: -2rem;
  }

  .aem-GridColumn.aem-GridColumn--default--6 {
    padding-left: 2.5rem;
    padding-right: 2rem;

    @include md {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .beige-table {
    margin-top: -1rem;
    padding-left: 3rem;
    padding-right: 6rem;

    @include sm {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    @include md {
      padding-left: 2rem;
      padding-right: 2rem;
    }

    td {
      border-bottom: 2px solid #e5e5e5;
      border-collapse: separate !important;
      border-spacing: 2rem 0;
      color: #848789;
      font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
      font-size: 20px !important;
      font-weight: 400;
      line-height: 56px;
      margin: 0 -2rem;
      width: 50%;

      @include sm {
        border-bottom: none;
        font-size: 14 !important;
      }

      @include md {
        padding: 0 1rem !important;
      }

      p {
        font-size: 20px !important;
        line-height: 56px !important;

        @include sm {
          color: #000;
          font-size: 14px !important;
          line-height: 28px !important;
        }
      }
    }

    table tbody td {
      color: #848789;
      line-height: 56px;
      padding: 0 1rem !important;

      @include sm {
        color: #848789;
        font-size: 14px !important;
        line-height: 2rem;
        padding: 0 !important;
      }
    }

    table th {
      border-bottom: 2px solid #e5e5e5;
      color: #353738;
      font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
      font-size: 20px;
      font-weight: 400;
      line-height: 56px;
      padding: 0;
      vertical-align: bottom;

      @include sm {
        border-bottom: none;
        font-size: 14px;
      }
    }
  }

  .rte-bullets {
    ol,
    ul {
      font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
      font-size: 14px;
      line-height: 24px;
      list-style: decimal;
      margin: 0;
      margin-bottom: 12.5px;
      margin-top: 0;
      padding: 0;
    }
  }

  .teaser-viewall {
    color: #353738;
    cursor: pointer;
    float: right;
    font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.25rem;
    margin-top: -3rem;
    position: relative;
    text-transform: uppercase;
    z-index: 3;

    @include md {
      float: right;
      margin-top: -4rem;
    }

    @include sm {
      float: right;
      margin-top: -5.4rem;
    }
  }
}

.sort_asc {
  background-image: url("../resources/images/sort_asc.png");
  background-position: right 1px;
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 13px;
  width: 138px;
}

.sort_desc {
  background-image: url("../resources/images/sort_desc.png");
  background-position: right -3px;
  background-repeat: no-repeat;
  display: inline-block;
  padding-left: 13px;
  width: 138px;
}

.cmp-teaser-accordion {
  background: #f7f8f4;
  border-radius: 4px;
  margin-bottom: 1.5rem;
  min-height: 140px;
  overflow: hidden;
  position: relative;
}

.cmp-teaser-accordion::before {
  background: url("../resources/images/sectionbg.svg");
  background-position: top left;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  content: "";
  height: 360px;
  opacity: 0.1;
  position: absolute;
  width: 340px;
  z-index: 1;

  @include md {
    background-image: none;
  }
}

.cmp-teaser-accordion::after {
  background: url("../resources/images/sectionbg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  height: 360px;
  opacity: 0.1;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(180deg);
  width: 340px;
  z-index: 1;

  @include md {
    height: 145px;
    width: 140px;
  }

  @include sm {
    height: 145px;
    width: 140px;
  }
}
