.cmp-teaser {
  position: relative;

  &__link-2 {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .img-static {
    width: 100%;

    @include respond-to-min($desktop) {
      width: 50%;
    }
  }

  .cmp-teaser__action-container {
    position: relative;
    z-index: 4;
  }
}
