// media multicol st
.cmp-teaser--multicol_media {
  .cmp-teaser {
    flex-direction: row;
    width: auto;
    position: relative;
    margin: 0;

    &__image {
      .cmp-image {
        max-height: toRem(250);
        min-height: toRem(250);
        height: toRem(250);

        @include respond-to-min($desktop) {
          max-height: toRem(428);
          min-height: toRem(428);
          height: toRem(428);

          img {
            @include img-cover;
          }
        }
      }
    }

    &__content {
      min-height: 150px;
    }

    &__action-container {
      @include respond-to-min($desktop) {
        max-width: 230px;
      }
    }
  }

  @include respond-to-min($desktop) {
    .aem-Grid .aem-GridColumn {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  @include respond-to-max($tablet) {
    .aem-GridColumn {
      padding: 0 !important;
    }
  }
}

// media multicol en
.cmp-teaser--mediacta {
  margin: 1rem 0;

  .cmp-teaser {
    @include media-box-shadow;

    border-radius: $border-radius-step-1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    width: 100%;

    &__image {
      width: 100%;

      @include respond-to-max($tablet) {
        height: 242px;
      }

      .cmp-image {
        display: block;
        height: 100%;
        left: 0;
        top: 0;
        position: relative;
        overflow: hidden;
        width: 100%;
        border-radius: $border-radius-step-1 $border-radius-step-1 0 0;

        @include respond-to-min($desktop) {
          height: toRem(250);
        }
      }

      img {
        @include img-cover;
      }
    }

    &__content {
      padding: 1rem 1rem 2rem;
      width: 100%;
      position: relative;

      @include respond-to-min($desktop) {
        padding: 2rem 1.5rem 5rem 2rem;
      }
    }

    &__description {
      p,
      li {
        color: $dark-gray;

        @include ts-step--1;

        line-height: toRem(19);

        @include font-family-lato;

        @include respond-to-min($desktop) {
          @include ts-step-0;
        }
      }

      ol {
        list-style: decimal;
        list-style-position: inside;
      }

      ul {
        margin-bottom: 1rem;
        list-style-position: inside;
      }

      li {
        padding-left: 0.75rem;
        position: relative;
        margin: 0 0 0.875rem;

        @include rtlBlock {
          padding-right: 0.75rem;
        }

        @include respond-to-max($tablet) {
          margin: 0 0 1rem;
          padding-left: 0;
        }
      }
    }

    &__title,
    h4 {
      @include ts-step-3;

      @include respond-to-min($tablet) {
        @include step-lg;

        margin: 0 0 1rem;
        color: $almost-black;
      }
    }

    &__action-container {
      position: inherit;
      margin: 20px auto 0;

      @include rtlBlock {
        left: auto;
      }

      @include respond-to-min($desktop) {
        margin-top: 2rem;
        position: absolute;
        bottom: toRem(22);
        left: (20);
      }
    }
  }

  &.image-left {
    .cmp-image {
      border-radius: $border-radius-step-1 $border-radius-step-1 0 0;

      @include respond-to-min($desktop) {
        border-radius: $border-radius-step-1 0 0 $border-radius-step-1;

        @include rtlBlock {
          border-radius: 0 $border-radius-step-1 $border-radius-step-1 0;
        }
      }
    }
  }

  &.image-right {
    .cmp-image {
      border-radius: $border-radius-step-1 $border-radius-step-1 0 0;

      @include respond-to-min($desktop) {
        border-radius: 0 $border-radius-step-1 $border-radius-step-1 0;

        @include rtlBlock {
          border-radius: $border-radius-step-1 0 0 $border-radius-step-1;
        }
      }
    }
  }

  &.cmp-teaser--horizontal {
    .cmp-teaser {
      padding-bottom: 2rem;
      max-width: 100%;

      @include respond-to-min($tablet) {
        padding-bottom: 0;
      }

      &__image {
        @include respond-to-min($desktop) {
          max-width: 33.3%;

          img {
            height: auto;
          }
        }
      }

      .cmp-image__image {
        border-radius: 0 $border-radius-step-1 $border-radius-step-1 0;

        @include respond-to-max($tablet) {
          border-radius: $border-radius-step-1 $border-radius-step-1 0 0;
        }
      }

      &__content {
        padding-bottom: 4rem;

        @include respond-to-min($desktop) {
          padding-bottom: 0;
          width: 100%;
          display: flex;
          flex: 2;
        }
      }

      &__action-container {
        left: 1rem;
        position: absolute;

        @include rtlBlock {
          left: auto;
        }

        @include respond-to-min($desktop) {
          bottom: toRem(40);
          left: 50.2%;

          @include rtlBlock {
            right: 49%;
            left: auto;
          }
        }
      }

      &__description {
        @include respond-to-min($desktop) {
          width: 50%;
        }

        p {
          font-size: $font16;
          line-height: 1.5rem;
        }
      }

      &__title {
        margin-top: 0;

        @include respond-to-min($desktop) {
          width: 50%;
        }
      }
    }
  }
}

// .link__arrow_green {
//   a {
//     @include font-family-lato;

//     *[lang="ar"] *[dir="rtl"] & {
//       font-weight: 300;
//     }
//   }

//   a.cmp-teaser__action-link:hover {
//     text-decoration: underline;
//   }
// }
