// .cmp-teaser--shadow-view {
//   .cmp-container {
//     padding: 0;
//   }

//   .image-left {
//     padding-bottom: 25px;
//     padding-top: 25px;

//     .cmp-teaser {
//       flex-direction: row;
//       margin: 10px;
//       position: relative;
//       width: auto;

//       @media (min-width: $screen-lg-max) {
//         .cmp-teaser__image {
//           height: 428px;
//           position: relative;

//           img {
//             height: 100%;
//             position: absolute;
//           }
//         }

//         .cmp-teaser__content {
//           max-height: 428px;
//           min-height: 428px;
//           padding: 42px 24px 0 12px;
//         }
//       }

//       @media (min-width: $screen-lg-max) {
//         .cmp-teaser__action-container {
//           bottom: 48px;
//         }
//       }

//       .cmp-teaser__image {
//         min-height: 150px;
//       }

//       .cmp-teaser__title {
//         h4 {
//           font-size: $font26;
//           line-height: 1.3;
//           margin-bottom: 1.4rem;

//           a { color: #fff;}
//         }
//       }

//       .cmp-teaser__content {
//         min-height: 150px;
//         padding: 1rem 1rem 4rem;
//       }

//       .cmp-teaser__description {
//         p {
//           font-size: $font14;
//           line-height: 19px;
//         }

//         ol {
//           color: $dark-gray;
//           font-weight: 400;
//           list-style: decimal;
//           margin-left: 1rem;
//           position: relative;

//           @include font-family-lato();

//           li {
//             font-size: $font14;
//             line-height: 20px;
//             padding-left: 0.75rem;
//           }
//         }
//       }

//       .cmp-teaser__action-container {
//         margin: 0;
//         padding-top: 1rem;
//         position: absolute;

//         a {
//           font-size: 14px;
//           letter-spacing: 2px;
//           padding: 0 !important;

//           :hover {
//             text-decoration: underline;
//           }

//           &::before {
//             left: auto;
//             padding: 3.5px;
//             position: absolute;
//             right: -20px;
//             top: 5px;

//             @include link-arrow();
//           }
//         }
//       }
//     }
//   }

//   .image-right {
//     .cmp-teaser {
//       flex-direction: row-reverse;
//       margin: 10px;
//       width: auto;

//       @media (min-width: $screen-xl-max) {
//         .cmp-teaser__action-container {
//           margin-top: 0;
//         }
//       }

//       .cmp-teaser__image {
//         min-height: 150px;
//         position: relative;

//         img {
//           height: 100%;
//           position: absolute;
//         }
//       }

//       .cmp-teaser__title {
//         h2 {
//           font-size: $font26;
//           line-height: 0.5;
//           margin-bottom: 1.4rem;
//         }

//         a {
//           color: $almost-black;
//         }
//       }

//       .cmp-teaser__content {
//         padding: 1.5rem 1rem 2.5rem 1.5rem;
//         position: relative;
//       }

//       .cmp-teaser__description {
//         p {
//           font-size: $font14;
//           line-height: 19px;
//         }
//       }
//     }
//   }
// }

// .no-padding-container.cmp-teaser__horizontal {
//   .cmp-teaser {
//     .cmp-teaser__image {
//       height: 256px;
//       max-width: 384px;

//       img {
//         height: auto;
//       }
//     }

//     .cmp-image__image {
//       border-radius: 0 4px 4px 0;
//     }

//     .cmp-teaser__content {
//       display: flex;
//       flex: 2;
//       padding-bottom: 0;
//       padding-right: 36px;
//       padding-top: 36px;
//       width: 100%;

//       .cmp-teaser__action-container {
//         bottom: 40px;
//         left: 47%;
//         position: absolute;
//       }

//       .cmp-teaser__description {
//         height: 0;

//         p {
//           font-size: 1rem;
//           line-height: 1.5rem;
//         }
//       }
//     }

//     .cmp-teaser__title {
//       margin-top: 0;
//       width: 100%;
//     }
//   }
// }

// .no-padding-container.cmp-teaser__horizontal.image-left {
//   .cmp-image__image {
//     border-radius: 4px 0 0 4px;
//   }

//   .cmp-teaser__action-container {
//     left: 44%;
//   }
// }

@media (min-width: 992px) {
  .cmp-nobg__teaser {
    .cmp-teaser__action-container {
      min-width: 180px;
      width: auto;
      margin-top: -35px;
      float: right;
      border: 1px solid $darkest-night;
      border-radius: 4px;
      border-width: 1px;
      padding: 10px;
    }
    .cmp-teaser__action-container a {
      font-size: $font16;
      letter-spacing: 0.14285714em;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      color: $almost-black;
      text-align: center;
    }
    .cmp-teaser {
      // background-color: hsla(0, 0%, 95%, .3);
      padding: 3rem;
    }
    .cmp-teaser__title {
      font-size: $font32;
    }
    .cmp-teaser__description p {
      font-size: $font16;
      margin-top: 1.5rem;
      width: 70%;
    }
  }
  .cmp-purplebg__teaser {
    .cmp-teaser__action-container {
      width: 282px;
      bottom: 40%;
      position: absolute;
      left: 70%;
      border: 1px solid #fff;
      border-radius: 4px;
      border-width: 1px;
      padding: 10px;
      text-align: center;
    }
    .cmp-teaser__action-container a {
      font-size: $font16;
      letter-spacing: 3px;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      color: $white;
      font-weight: 700;
    }
    .cmp-teaser__action-container:after {
      clear: both;
    }
    .cmp-teaser__description {
      padding-left: 12px;
      width: 100%;
    }
  }
}

.cmp-nobg__teaser {
  .cmp-teaser__title a {
    color: $almost-black;
    font-size: $font34;
    line-height: 1.3;
  }
  .cmp-teaser__title {
    font-size: $font28;
  }
  .cmp-teaser__description p {
    font-size: $font16;
    margin-top: 1rem;
  }
  .cmp-teaser__description p {
    color: $gray-text-color;
    font-size: $font14;
    line-height: 20px;
    margin-top: 10px;
  }
  .cmp-teaser__action-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid $darkest-night;
    border-radius: 4px;
    border-width: 1px;
    text-align: center;
  }
  .cmp-teaser__action-container:after {
    clear: both;
  }

  .cmp-teaser__action-container a {
    font-size: $font16;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    color: $almost-black;
    letter-spacing: 0.14285714em;
    outline: 0;
    &:hover {
      box-shadow: none;
      color: $arrow-border-green;
      background-color: $white;
      .cmp-teaser__action-container {
        border-color: $arrow-border-green;
      }
    }
  }
}


