.promo-card-row {
  .cmp-teaser {
    border-radius: toRem(4);
    height: 100%;
    min-height: toRem(148);
    overflow: hidden;
    position: relative;
    margin-bottom: toRem(40);

    @include respond-to-min($desktop) {
      min-height: toRem(250);
    }

    &__content {
      background: linear-gradient(0deg, $black, transparent);
      border-radius: toRem(4);
      bottom: 0;
      height: 100%;
      min-height: toRem(47);
      padding: toRem(54) toRem(24) 0 toRem(24);
      position: absolute;
      width: 100%;
      z-index: 9;

      @include respond-to-min($tablet) {
        padding: toRem(54) toRem(24) 0 toRem(24);
      }

      @include respond-to-min($desktop) {
        padding: toRem(150) toRem(24) 0 toRem(24);
      }

      h1 {
        font-size: $font26;
        letter-spacing: toRem(1.6);
        line-height: toRem(26);
        margin-bottom: toRem(16);
        margin-top: 0;
        color: $white;
      }
    }

    &__action-container {
      a {
        font-size: $font14;
        color: $white;
        font-size: $font14;
        font-weight: get-font-weight("bold");
        letter-spacing: toRem(2);
        line-height: 1.25rem;
        text-transform: uppercase;

        @include font-family-lato();

        @include rtlBlock() {
          @include font-family-Neotech-ge();
        }

        &::after {
          border-right: toRem(1) solid $white;
          border-top: toRem(1) solid $white;
          content: "";
          left: auto;
          margin-left: toRem(8.8);
          margin-top: toRem(10.4);
          padding: toRem(4);
          position: absolute;
          transform: translateY(-50%) rotate(45deg);

          @include rtlBlock() {
            margin-left: 0;
            margin-right: toRem(8.8);
            transform: translateY(-50%) rotate(-135deg);
          }
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__image {
      border-radius: toRem(4);
      height: toRem(148);

      @include respond-to-min($desktop) {
        height: toRem(250);
      }

      .cmp-image__image {
        height: 100%;
        min-height: toRem(250);
      }

      .cmp-image {
        height: toRem(148);

        @include respond-to-min($desktop) {
          height: toRem(250);
        }
      }
    }
  }

  &.container {
    margin-bottom: 0;
    margin-top: 0;
  }

  @include respond-to-min($desktop) {
    .aem-Grid .aem-GridColumn {
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

// new hero card css st
.hero-card {
  @include respond-to-max($tablet) {
    margin-bottom: toRem(10);
  }

  .cmp-teaser {
    box-shadow: 0 toRem(5) toRem(15) 0 rgb(0 0 0 / 15%);
    overflow: hidden;
    position: relative;
    border-radius: toRem(4);
    margin-bottom: toRem(26);

    &__image {
      &::after {
        background: #000;
        content: "";
        height: 100%;
        opacity: 0.2;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 2;
        border-radius: toRem(4);
      }

      .cmp-image {
        max-height: toRem(160);

        @include respond-to-min($desktop) {
          max-height: toRem(572);
        }
      }

      img {
        border-radius: toRem(4);
        max-width: 100%;

        // height: toRem(150);

        @include respond-to-min($desktop) {
          height: 100%;
        }
      }
    }

    &__content {
      position: absolute;
      bottom: 0;
      z-index: 2;
      padding: toRem(16);
      width: 100%;

      h1 {
        font-size: $font26;
        color: $white;
      }

      @include respond-to-min($desktop) {
        padding: toRem(36);

        h1 {
          font-size: $font36;
          padding-top: 0;
          margin: 0;
        }
      }
    }

    &__action-container {
      @extend %teaser-link;

      bottom: toRem(70);

      @include respond-to-min($tablet) {
        bottom: toRem(110);
      }

      @include respond-to-min($desktop) {
        bottom: toRem(140);
      }

      a {
        color: $white;
      }

      &::after {
        border-color: $white;
      }
    }
  }

  .image-right {
    margin-bottom: toRem(10);
    padding: 0;

    @include respond-to-min($desktop) {
      padding-left: toRem(12);
      padding-right: toRem(12);
    }

    .cmp-teaser {
      margin-bottom: teRem(24);
      display: flex;
      flex-direction: row-reverse;

      &__content {
        bottom: 0;
        left: 0;
        width: 50%;

        h1 {
          color: $almost-black;
        }

        @include respond-to-min($desktop) {
          padding: toRem(24);

          h1 {
            padding-top: 0;
            margin: 0;
          }
        }
      }

      &__action-container {
        bottom: toRem(150);

        a {
          color: $main-green;
        }
      }

      &__image {
        width: 50%;
      }
    }
  }

  &.promo-card {
    .cmp-image {
      max-height: toRem(160);

      @include respond-to-min($desktop) {
        max-height: toRem(549);
      }
    }
  }
}

// new hero card css en
.gutter-padding-left {
  padding-left: 0 !important;

  @include respond-to-min($desktop) {
    padding-left: toRem(12) !important;
  }

  @include rtlBlock() {
    padding-right: 0 !important;

    @include respond-to-min($desktop) {
      padding-right: toRem(12) !important;
    }
  }
}

.gutter-padding-right {
  padding-right: 0 !important;

  @include respond-to-min($desktop) {
    padding-right: toRem(12) !important;
  }

  @include rtlBlock() {
    padding-left: 0 !important;

    @include respond-to-min($desktop) {
      padding-left: toRem(12) !important;
    }
  }
}
