.call-to-action-box {
  position: relative;

  .cmp-text {
    background: $main-green;
    border-radius: toRem(5);
    color: $white;
    display: block;
    font-size: 1.125rem;
    height: toRem(146);
    left: 0;
    margin: 0 auto;
    padding: 1.3rem 0.1rem 1.3rem 1.3rem;
    position: absolute;
    right: 0;
    right: 0;
    text-align: left;
    top: 15rem;
    width: 100%;
    z-index: 9;

    @include respond-to-min($desktop) {
      height: toRem(160);
      left: unset;
      max-width: toRem(384);
      right: toRem(30);

      a {
        margin-top: 2rem;
      }
    }

    h3 {
      color: $white;
      font-size: 1.25rem;
      margin-bottom: 18px;
      margin-left: 0;
      margin-top: 0;
      padding-top: 0;
    }

    p {
      color: #afcd74;
      font-size: $font14;
      line-height: toRem(18);
      padding: 0;

      @include respond-to-max($tablet) {
        margin-top: 1rem;
      }

      @include respond-to-max($phone) {
        margin-top: 0.3rem;
      }
    }

    a {
      color: $white;
      display: inline-block;
      font-size: $font14;
      margin-top: 1rem;
      text-transform: uppercase;

      @include respond-to-max($phone) {
        margin-top: 0;
      }
    }
  }

  .hero-banner-section {
    .cmp-teaser {
      left: 50% !important;
      margin-left: -50vw;
      position: relative !important;
      width: 100vw;

      .cmp-image__image {
        height: 363px;

        @include respond-to-max($tablet) {
          height: 324px !important;
        }
      }

      .cmp-teaser__title {
        line-height: 64px;
        margin: 0 0 16px;
        width: 50%;

        @include respond-to-max($tablet) {
          font-size: $font22;
          line-height: normal;
          margin: 0 0 8px;
          width: 100%;
        }
      }

      .cmp-teaser__content {
        padding: 0 12px;
        top: 100px;

        @include respond-to-max($tablet) {
          align-items: flex-start;
          top: 115px;
        }

        .cmp-teaser__description {
          p {
            font-size: $font18;
            margin-bottom: 12.5px;

            @include font-family-lato;

            @include respond-to-max($tablet) {
              font-size: $font14;
              line-height: 26px;
            }
          }
        }
      }
    }
  }
}

.promotional-min-banner {
  .cmp-container {
    min-height: toRem(80);
    min-width: 100%;
    position: relative;
    text-align: center;

    @include respond-to-max($phone) {
      min-height: 8.5rem;
      text-align: left;
    }

    @media only screen
      and (device-width: 375px)
        and (device-height: 812px)
        and (-webkit-device-pixel-ratio: 3) {
      @include respond-to-max($phone) {
        min-height: 7rem;
      }
    }
  }

  h5 {
    margin: 0.781rem 0 0.25rem;

    @include respond-to-max($tablet) {
      font-size: toRem(22);
      line-height: 24px;
    }
  }

  .cmp-image {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;

    .cmp-image__image {
      height: 100%;
      width: 100%;
    }
  }

  .text {
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;

    @include respond-to-max($tablet) {
      padding: 10px 4rem 0 1.4rem !important;
    }
  }

  p {
    font-size: $font14;
    margin-top: 0;

    @include respond-to-max($tablet) {
      font-size: toRem(13);
      line-height: 1.7rem;
      margin: 1rem 0 0;
    }
  }
}

