
/*Download map button start*/
.action-button {
	.cmp-button {
		text-align: center;
		padding: 15px .5rem;
		border-radius: 4px;
		width: 100%;
		border: 1px solid #151515;
		outline: 0;
		line-height: 3rem;
	}
	.cmp-button:hover {
		border: 1px solid #719e19;
	}
	a {
		color: #353738;
	}
	.cmp-button__text {
		font-weight: 700;
		text-transform: uppercase;
		transition: all .3s ease-in-out;
		color: #353738;
		font-size: .875rem;
		letter-spacing: .14285714em;
	}
	.cmp-button__text:hover {
		color: #719e19;
	}
}
.action-button .cmp-button:active{
 background-color:  #719e19;
   border: 1px solid #719e19;
    color: #fff;
}
@media (min-width: 992px) {
	.action-button a{
		width: 25%;
			text-align: left;
		.cmp-button{
			min-width: 180px;
			width: auto;
		}
		
	}
}
/*Download map button end*/