.backToTop {
  @include font-family-lato;
  & a {
     display: inline-block;
     background-color: $green-btn;
     width: calculateRem(82px);
     height: calculateRem(97px);
     padding: 1rem;
     text-align: center;
     border-radius: calculateRem(8px);
     position: fixed;
     bottom: calculateRem(30px);
     right: calculateRem(30px);
     opacity: 0;
     visibility: hidden;
     z-index: 1000;
   &.show {
     opacity: 1;
     visibility: visible;
      }
   &:hover {   
     cursor: pointer;    
   }
   
   }
   .cmp-button--secondary {
     display: block;
     color: $white;
     font-size: .755rem;
     font-weight: normal;
     line-height: 1rem;
     background-color: transparent;
     letter-spacing: 0;
     padding: 0;

   }
   @media (max-width: $screen-md-max) {
   
       & a{
         width:calculateRem(130px);
         height: calculateRem(32px);
         padding: .5rem;
         right: 1rem;
         display: block;
         float: left
       }
       svg {
           float: left;
           height: calculateRem(12px);
           display: block;
           margin-top: calculateRem(2px);
       }
       & >g {
           stroke-width: 2;
         }
       }         
    
 }

//  .hide {
//   display: none!important
// }

// .show {
//   display: block!important
// }

// .invisible {
//   visibility: hidden;
// }

 
 [lang=ar] [dir=rtl] .backToTop {
  & a{
     right: auto;
     left: calculateRem(30px);
   }
 }
 