.beigebg-container {
    padding: 2rem !important;

    @include md {
        padding: 1rem !important;
    }

    @include sm {
        padding: 0.6rem !important;
    }

    @include md {
        h3 {
            font-size: 16px;
            margin-top: 20px;
        }

        h2 {
            font-size: 20px;
        }
    }

    p {
        color: #000;

        @include sm {
            color: #6f6c70;
            font-size: 16px;
        }
    }

    h3 {
        margin-top: 20px;
    }

    .cmp-text {
        h3 {
            font-size: 20px;

            @include sm {
                line-height: 27px;
            }

            @include md {
                font-size: 16px;
            }
        }

        p {
            margin-bottom: 1.5rem;
            font-size: $font14;
            margin: 0 0 12.5px;
        }
    }

    .cmp-teaser__content {
        .cmp-teaser__title {
            width: 51%;
            float: left;

            @include md {
                width: 100%;
                float: none;
            }
        }

        .cmp-teaser__description {
            width: 50%;
            float: left;
            margin-top: 0.5rem;

            @include md {
                width: 100%;
                float: none;
                margin-top: 1.8rem;
            }
        }
    }

    .cmp-beigebg_teaser {
        min-height: 140px;
        position: relative;
        background: $sand-white-50;
        overflow: hidden;
        margin-bottom: 1.5rem;
        border-radius: 4px;

        @include md {
            min-height: 117px;
        }
    }
    .cmp-teaser__action-container {
        float: right;
        margin-top: -3rem;
    }

    .cmp-teaser {
        padding-left: 36px;
        padding-right: 36px;

        @include md {
            padding-left: 17px;
            padding-right: 17px;
        }

        .cmp-teaser__title {
            font-size: 28px;
            color: #353738;
            letter-spacing: .5px;
            margin: 2.2rem 0 1.5rem;

            a {
                color: #353738;
            }

            @include sm {
                margin: 1rem 0rem;
            }

            @include md {
                font-size: 20px;
                margin: 1rem 0rem;
            }
        }
    }

    ul li {
        list-style-type: disc;
        padding-left: 0.5rem;
        position: relative;
        color: #6f6c70;
        line-height: 24px;
        margin-left: 2rem;
        margin-bottom: 4px;
        font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
    }

    .beigebg-wrapper {
        background: $sand-white-50;
        padding-bottom: 2rem;
        padding-top: .4rem;
        .rte-bullets {
            ol {
                padding: 2rem 2rem 0px;
            }
        }
    }

    .cmp-beigebg_teaser {
        margin-bottom: -2rem;
    }

    .aem-GridColumn.aem-GridColumn--default--6 {
        padding-left: 2.5rem;
        padding-right: 2rem;

        @include md {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    .beige-table {
        padding-left: 3rem;
        padding-right: 6rem;
        margin-top: -1rem;

        @include sm {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        @include md {
            padding-left: 2rem;
            padding-right: 2rem;
        }



        td {
            border-bottom: 2px solid #e5e5e5;
            font-size: 20px !important;
            font-weight: 400;
            width: 50%;
            border-spacing: 2rem 0;
            border-collapse: separate !important;
            margin: 0 -2rem;
            color: #848789;
            line-height: 56px;
            font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;

            @include sm {
                border-bottom: none;
                font-size: 14 !important;
            }

            p {
                font-size: 20px !important;
                line-height: 56px !important;

                @include sm {
                    font-size: 14px !important;
                    line-height: 28px !important;
                    color: #000;
                }
            }

            @include md {
                padding: 0 1rem !important;
            }
        }


        table tbody td {
            color: #848789;
            line-height: 56px;
            padding: 0 1rem !important;

            @include sm {
                color: #848789;
                line-height: 2rem;
                padding: 0 !important;
                font-size: 14px !important;
            }
        }
        table th {
            font-size: 20px;
            color: #353738;
            font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
            vertical-align: bottom;
            padding: 0;
            line-height: 56px;
            border-bottom: 2px solid #e5e5e5;
            font-weight: 400;

            @include sm {
                font-size: 14px;
                border-bottom: none;
            }
        }
    }

    .rte-bullets {

        ol,
        ul {
            list-style: decimal;
            margin-bottom: 12.5px;
            margin-top: 0;
            margin: 0;
            padding: 0;
            font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
            font-size: 14px;
            line-height: 24px;
        }
    }

    .cmp-teaser__action-link {
        cursor: pointer;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
        font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
        font-size: .875rem;
        letter-spacing: 2px;
        line-height: 1.25rem;
        color: #353738;
        position: relative;
        font-weight: 500;
        z-index: 3;
    }

}

.cmp-teaser__action-link:nth-child(2) {
    display: none !important;
}

.sort_asc {
    background-image: url("../resources/images/sort_asc.png");
    background-repeat: no-repeat;
    background-position: right 1px;
    padding-left: 13px;
    display: inline-block;
    width: 138px;
}

.sort_desc {
    background-image: url("../resources/images/sort_desc.png");
    background-repeat: no-repeat;
    background-position: right 1px;
    padding-left: 13px;
    display: inline-block;
    width: 138px;

}

.cmp-teaser-accordion {
    min-height: 140px;
    position: relative;
    background: #f7f8f4;
    overflow: hidden;
    margin-bottom: 1.5rem;
    border-radius: 4px;
    
}

.cmp-teaser-accordion:before {
    background: url("../resources/images/sectionbg.svg");
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    height: 360px;
    width: 340px;   
    position: absolute;
    opacity: .1;
    z-index: 1;
    bottom: 0;
    background-position: top left;
    
    @include md{
        background-image: none;
    }
}

.cmp-teaser-accordion:after {
    background: url("../resources/images/sectionbg.svg");
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    height: 360px;
    position: absolute;
    width: 340px;
    opacity: .1;
    z-index: 1;
    right: 0;
    transform: rotate(180deg);
    top: 0;
    @include md{
        height: 145px;
        width: 140px;
    }
    @include sm{
        height: 145px;
        width: 140px;
    }
}


