.swiper-slide--tiles {
    .current-promotions-box {
        background: none;
        box-shadow: none;
    }

    .title-wrap {
        margin-bottom: .65rem;
        margin-top: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $almost-black;
        @include font-family-Neotech;
        font-weight: 400;
        line-height: 1.3;
    }
}

.transparent-link {
    .learn-more-wrap {
        text-transform: uppercase;
        transition: all .3s ease-in-out;
        color: $almost-black;
        background-color: $white;
        text-align: center;
        padding: 0 .5rem;
        border-radius: toRem(4);
        border-width: toRem(1);
        width: 60%;
        border-color: $darkest-night;
        outline: 0;
        height: 2.5rem;
        font-size: $font14;
        line-height: 2.5rem;
        letter-spacing: .14285714em;
        display: inline-block;
        margin-bottom: 0;
        font-weight: 400;
        vertical-align: middle;
        cursor: pointer;
        background-image: none;
        border: toRem(1) solid $almost-black;
        white-space: nowrap;

        a {
            color: $almost-black;
            &:hover {
                text-decoration: none;
            }

            &:before {
               display: none;
            }
        }
    }

}

.center {
    text-align: center;
    .title-wrap,
    .description,
    .learn-more-wrap {
        text-align: center;
    }

    .icon-with-bg {
        margin: auto auto 2.2rem;
    }

    .title-wrap {
        margin-bottom: .65rem;
        margin-top: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $almost-black;
        @include font-family-Neotech;
        font-weight: 400;
        line-height: 1.3;
    }

    .description {
        height: toRem(54);
        margin-bottom: 1rem;
        color: $steel-grey;
        font-size: $font14;
        line-height: toRem(24);
        margin: 0;
    }

    .learn-more-wrap {
        margin-top: 4rem;
    }
}

.left {
    text-align: left;

    .title-wrap,
    .description,
    .learn-more-wrap {
        text-align: left;
    }

    .icon-wrap {
        margin-bottom: 1rem;
    }

    .title-wrap {
        margin-bottom: .65rem;
        margin-top: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $almost-black;
        // color: red;
        @include font-family-Neotech;
        font-weight: 400;
        line-height: 1.3;
    }

    .description {
        height: toRem(54);
        margin-bottom: 1rem;
        color: $steel-grey;
        font-size: $font14;
        line-height: toRem(24);
        margin: 0;
    }

    .learn-more-wrap {
        margin-top: 4rem;
    }
}


.right {
    text-align: right;

    .title-wrap,
    .description,
    .learn-more-wrap {
        text-align: right;
    }

    .icon-wrap {
        margin-bottom: 1rem;
    }

    .title-wrap {
        margin-bottom: .65rem;
        margin-top: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $almost-black;
        @include font-family-Neotech;
        font-weight: 400;
        line-height: 1.3;
    }

    .description {
        height: toRem(54);
        margin-bottom: 1rem;
        color: $steel-grey;
        font-size: $font14;
        line-height: toRem(24);
        margin: 0;
    }

    .learn-more-wrap {
        margin-top: 4rem;
    }
}

.dark {
    background-color: $sand-white-50;
}

.scrollbar-hidden {
    visibility: hidden;
}

.current-promotions-wrraper .controls {
    .next-with--topcarousel {
        right: 0 !important;
        margin-top: -9.5em;
        left: auto !important;
    }

    .prev-with--topcarousel {
        margin-top: -9.5rem;
    }

    .arrow-with-backgroud {
        svg {
            background: #ccc;
            border-radius: toRem(50);
            padding: 0.3rem;
        }
    }
}


.swiper-container {
    max-width: toRem(1143) !important;
    padding: 0 !important;
}