.blog-post-wrapper {
  .tile-box-tile {
    @media (min-width: 992px) {
      min-height: 341px;
      max-height: 341px;

      .tile-box-body {
        max-height: 171px;
      }
    }

    .img-cover {
      height: 122px !important;
      position: relative;

      .category p {
        color: $white;
        font-size: 10px;
        letter-spacing: 1px;
        text-align: center;
        margin: 0;
        position: absolute;
        top: 0;
        left: 1.5rem;
        background: $gray;
        padding: 5px 10px;
        text-transform: uppercase;
        border-radius: 0 0 4px 4px;
      }
    }
  }

  .tile-box-body {
    padding: 1rem;
    padding-top: 12px;

    .box-details p {
      margin: 0;
      margin-bottom: 8px;
      color: $steel-grey;
      font-size: 12px;
      line-height: 16px;
    }

    .seven-minutes-read p {
      margin: 0;
      margin-bottom: 8px;
      color: $steel-grey;
      font-size: 10px;
      line-height: 16px;
    }

    .date p {
      color: $steel-grey;
      font-size: 10px;
      line-height: 16px;
      margin: 0;
    }

    .box-title h2 {
      color: $cart-count-black;
      margin: 0;
      font-size: 20px;
      line-height: 28px;
      margin-bottom: 8px;
      text-overflow: inherit;
      white-space: inherit;
    }
  }


  // video variation
  &.video {
    .tile-box-tile {
      .img-cover {
        height: 341px;

        .video-icon {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          cursor: pointer;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-pack: center;
          justify-content: center;
          -ms-flex-align: center;
          align-items: center;
          z-index: 5;
        }
      }

      .tile-box-body {
        position: absolute;
        bottom: 0;
        width: 100%;
        max-height: 60%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);

        .box-details p,
        .box-title h2,
        .date p,
        .seven-minutes-read p {
          color: $white !important;
          width: 100%;
        }

        .box-title {
          width: 100%;

          h2 {
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
          }
        }

        .date {
          width: 100%;
        }
      }
    }
  }
}

.search-results-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;

  h3 {
    padding-top: 0;
  }

  span {
    color: $cart-count-black;
    font-size: 20px;
    line-height: 25px;
    margin: 0;
  }

  a {
    color: $grey1;
    font-size: 13px;
    line-height: 20px;
    text-decoration: underline;
  }

  .no-result-found {
    color: $grey1;
    font-size: 13px;
    line-height: 20px;
  }
}

.search-target {
  display: flex;

  .searchTarget {
    margin-left: .5rem;
  }
}

.blogpost-wrapper .item {
  display: none;
}

.blogpost-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;

  .video {
    min-height: 0;
  }

  .action {
    .btn {
      max-width: 282px;
    }
  }
}


.subscribe-newsletter {
  position: relative;
  background: $sand-white-50;
  overflow: hidden;
  padding: 1.5rem;
  width: 100%;

  @media (min-width: 992px) {
    padding: 36px 2rem;
  }

  .title h2 {
    color: $almost-black;
    font-size: 28px;
    letter-spacing: 0.5px;
    line-height: 28px;
    margin: 0;
  }

  .desc p {
    color: $gray-fill;
    font-size: 18px;
    line-height: 28px;
    margin: 0;
  }

  &:after {
    content: "";
    background: url(../img/bg-cards/plan-cards-illustration-green.svg) no-repeat;
    background-size: contain;
    height: 280px;
    position: absolute;
    width: 260px;
    opacity: .1;
    z-index: 0;
    right: 0;
    transform: rotate(1turn);
    top: 0;
    left: auto;
  }

  &:before {
    content: "";
    background: url(../img/bg-cards/plan-cards-illustration-green.svg) no-repeat;
    background-size: contain;
    height: 280px;
    position: absolute;
    width: 260px;
    opacity: .1;
    z-index: 0;
    right: auto;
    transform: rotate(180deg);
    top: 0;
    left: 0;
  }

  .form.wst-form .form-group {
    margin: 0;
  }

  .general-form-submit {
    .btn {
      background: transparent;
      margin-top: -8px;
      z-index: 5;

      @media (max-width: 767px) {
        margin-top: 1.5rem;
      }
    }
  }
}


// article module
.article-wrapper {}

.back-to-insight {
  padding: 40px 0;

  .btn {
    font-size: 14px;
    letter-spacing: 2px;
    line-height: 20px;
  }
}

.aritcle-category {
  .category {
    color: $white;
    text-align: center;
    margin: 0;
    background: $main-green;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 12px;
    line-height: 22px;

  }
}

.read-time-date-wrapper {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;

  .seven-minutes-read,
  .date {
    color: $steel-grey;
    font-size: 12px;
    line-height: 22px;
    margin: 0;
  }
}

.main-text-action-wrapper {
  .wst-form {
    padding: 0 !important;
  }
}

.article-main-text-wrapper {
  .main-text-action-wrapper {

    .action.share {
      .link {
        color: $cart-count-black;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: center;
        justify-content: flex-end;
        font-size: 14px;
        letter-spacing: 2px;
        line-height: 20px;
        padding-right: 0;
        min-width: auto;

        &:before {
          display: none;
        }

        span {
          margin-right: .5rem;
          margin-top: 4px;

          svg {
            width: 24px;
            height: 24px;
          }
        }
      }

      .open {
        >.dropdown-menu {
          left: auto;
          right: 0;
          min-width: 300px;
          border: 0;

          strong {
            color: $almost-black;
          }

          .link-label {
            color: $almost-black;
            font-family: Lato;
            font-size: 12px;
            font-weight: bold;
            letter-spacing: 2px;
            line-height: 16px;
            text-transform: uppercase;
            margin-bottom: 15px
          }
        }
      }
    }
  }
}

.icon-list {
  .links-item {
    display: inline-block;
    padding: 0 10px;

    &:first-child {
      padding-left: 0;
    }

    svg {
      width: 40px;
    }
  }
}

.form-share {

  .input-group,
  .form-group {
    width: 100%;
  }

  .form-control {
    padding: 10px;
    border-right: 0;
    font-size: .8rem;
    text-overflow: ellipsis;

    &:focus {
      // border: 1px solid $gray; @cold-gray;
      box-shadow: none;
    }
  }

  .input-group-addon {
    padding: 5px;
    position: relative;

    &:before {
      content: " ";
      left: 0;
      top: 8px;
      width: 1px;
      height: 20px;
      // background-color: @cold-gray;
      position: absolute;
      z-index: 2;
    }
  }

  .copied-icon {
    display: none
  }

  &.copied {

    .form-control,
    .input-group-addon {
      // border-color:@main-green;
    }

    .form-control {
      border-right: 0;
    }

    .input-group-addon {
      border-left: 0;
    }

    .copy-icon {
      display: none
    }

    .copied-icon {
      display: block
    }
  }

}



// article links
.article-link-wrapper {
  ul li {
    margin-bottom: 1rem;

    a {
      font-size: 14px;
      letter-spacing: 2px;
      line-height: 20px;
      text-transform: uppercase;
      display: -ms-flexbox;
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        margin-right: .5rem;

        svg {
          width: 18px;
          height: 20px;

          // stroke: $main-green;
          path,
          g {
            //   stroke: $main-green;
            stroke-width: 3px;
          }
        }
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}



.search-wrapper {
  .search-icon {
    position: absolute;
    right: .4rem;

    @include respond-to-min(992px) {
      right: 0.2rem !important;
      top: 12px;
    }

    svg {
      stroke-width: 4px;

      path,
      g {
        stroke-width: 4px;
      }
    }
  }

  .input-field .intl-tel-input>label,
  .input-field>label {
    left: -1px;
  }
}


.blog-related-products {
  padding: 4rem 0;

  &.bg {
    background-color: $sand-white-50;
  }

  h2 {
    color: $almost-black;
    font-size: 36px;
    line-height: 38px;
    margin: 0;
    margin-bottom: 40px;
  }
}


.with-search-field {
  padding-left: 1rem !important;
  padding-right: 1rem !important;

  .paragraph-styling {
    padding-right: 15%;
  }
}

*[lang="ar"] {
  *[dir="rtl"] {
    .with-search-field {
      .paragraph-styling {
        padding-right: 0;
        padding-left: 15%;
      }
    }

    .blog-post-wrapper .tile-box-tile .img-cover .category p {
      left: auto;
      right: 1.5rem;
    }

    .search-target .searchTarget {
      margin-right: .5rem;
      margin-left: 0;
    }

    .article-main-text-wrapper .main-text-action-wrapper .action.share .link span {
      margin-right: 0;
      margin-left: .5rem;
    }

    .article-main-text-wrapper.main-text-section .main-text-action-wrapper .action .link {
      padding-left: 0;
      padding-right: 1rem;
    }

    .with-search-field {
      .search-wrapper .search-icon {
        right: auto;
        left: 2px;
      }

      .form.wst-form {
        .form-group {

          .valid .floating-label,
          .valid~label,
          input:valid~label {
            right: 0;
          }
        }
      }
    }

    .open {
      >.dropdown-menu {
        left: 0 !important;
        right: auto !important;
      }
    }

    .icon-list {
      .links-item {
        &:first-child {
          padding-left: 10px;
          padding-right: 0;
        }
      }
    }

    .form-share {
      .form-control {
        border-left: 0;
        border-right: 1px solid $gray;
      }

      .input-group-addon {
        &:before {
          left: auto;
          right: 0;
        }
      }
    }
  }
}

.mb-12 {
  margin-bottom: 12px;
  margin-top: -1.2rem;
  // @include respond-to-min($desktop){
  //   margin-top: 0;
  // }
}

.search-count {
  margin-right: .5rem !important;
}

.mb-40 {
  margin-bottom: 40px;
}

.form input:not([type]),
.form input[type=date]:not(.browser-default),
.form input[type=datetime-local]:not(.browser-default),
.form input[type=datetime]:not(.browser-default),
.form input[type=email]:not(.browser-default),
.form input[type=number]:not(.browser-default),
.form input[type=password]:not(.browser-default),
.form input[type=search]:not(.browser-default),
.form input[type=tel]:not(.browser-default),
.form input[type=text]:not(.browser-default),
.form input[type=time]:not(.browser-default),
.form input[type=url]:not(.browser-default),
textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $arrow-border;
  border-radius: 0;
  color: $cart-count-black;
  outline: none;
  height: 2.5rem;
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: box-shadow .3s, border .3s;
  font-size: 1.25rem;
  position: relative;
  z-index: 1;
}

.form input:not([type]):focus:not([readonly]),
.form input[type=date]:not(.browser-default):focus:not([readonly]),
.form input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
.form input[type=datetime]:not(.browser-default):focus:not([readonly]),
.form input[type=email]:not(.browser-default):focus:not([readonly]),
.form input[type=number]:not(.browser-default):focus:not([readonly]),
.form input[type=password]:not(.browser-default):focus:not([readonly]),
.form input[type=search]:not(.browser-default):focus:not([readonly]),
.form input[type=tel]:not(.browser-default):focus:not([readonly]),
.form input[type=text]:not(.browser-default):focus:not([readonly]),
.form input[type=time]:not(.browser-default):focus:not([readonly]),
.form input[type=url]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $main-green;
  box-shadow: 0 1px 0 0 $main-green;
  transform-origin: 0 0;
  z-index: 0;
}

.form.wst-form .form-group input:-internal-autofill-selected,
.form.wst-form .form-group input:focus {
  background-color: $white !important;
}

.displayblock {
  display: block;
}

.displaynone {
  display: none;
}

.blog-post-wrapper.video .tile-box-tile .img-cover {
  height: 341px !important;
}


//btn css
.article-header-text-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;

  .btn-text.btn-green.active,
  .btn-text.btn-green:active,
  .btn-text.btn-green:hover,
  .open>.dropdown-toggle.btn-text.btn-green {
    box-shadow: none !important;
    color: $main-green;
  }

  .btn-text {
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
    font-size: .875rem;
    line-height: 1.25rem;
    position: relative;
    font-weight: 500;
    display: block;
  }

  .btn-text:hover {
    text-decoration: underline;
  }

  .btn-text.btn-green,
  .btn-text.btn-green.focus,
  .btn-text.btn-green:focus {
    color: $main-green;
  }

  .btn-text.back,
  .btn-text.forward {
    padding-left: 15px;
    font-size: .75rem;
  }

  .btn-text,
  .btn-text.download {
    letter-spacing: 2px;
    color: $cart-count-black;
  }



  .btn-text.btn-green:before {
    border: solid $main-green;
    border-width: 0 1px 1px 0;
  }

  .btn-text.back:before,
  .btn-text.forward:before {
    transform: translateY(-50%) rotate(135deg);
    left: 0;
    right: auto;
  }

  .btn-text:before {
    right: 3px;
    border: solid $cart-count-black;
    border-width: 0 1px 1px 0;
    padding: 2.7px;
    content: "";
    position: absolute;
    line-height: 1;
    -webkit-transform: translateY(-20%) rotate(-135deg);
    top: 50%;
    transform: translateY(-20%) rotate(-135deg);
    transition: all .3s ease-in-out;
  }

  .back-to-insight {
    padding: 40px 0;
  }

  .main-text-section {
    padding: 1.5rem 0;
  }

  .mb-20 {
    margin-bottom: 20px !important;
  }

  .aritcle-category .category {
    color: $white;
    text-align: center;
    margin: 0;
    background: $main-green;
    padding: 5px 10px;
    text-transform: uppercase;
    border-radius: 4px;
    font-size: 12px;
    line-height: 22px;
  }

  .wst-main-headings h2 {
    font-size: 30px;
    line-height: 34px
  }

  @media screen and (min-width:992px) {
    .wst-main-headings h2 {
      font-size: 40px;
      line-height: 52px
    }
  }

  .read-time-date-wrapper-norm .date,
  .read-time-date-wrapper-norm .read-time {
    color: $steel-grey;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
  }

  .read-time-date-wrapper-norm {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .read-time-date-wrapper-norm .date p,
  .read-time-date-wrapper-norm .read-time p {
    margin-bottom: 5px;
    padding-left: .5rem;
    color: $steel-grey;
  }

}

.blog_post_details {
  margin-top: 0;
}