.blog-post-wrapper {
  .tile-box-blogtile {
	overflow: hidden;
    background: $white;
    border-radius: 4px;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
    position: relative;
    width: 100%;
    @media (min-width: 992px) {
      min-height: toRem(341);
      max-height: toRem(341);
      margin-bottom: toRem(32);
      .tile-box-blogbody {
        max-height: toRem(140);
        overflow: hidden;
      }
    }
    @media (max-width: 992px) {
      margin-bottom: 1.5rem;      
    }

    .img-cover {
      height: toRem(168);
      position: relative;
      overflow: hidden;
      border-radius: 4px 4px 0 0;

      .category p {
        color: $white;
        font-size: $font10;
        letter-spacing: toRem(1);
        text-align: center;
        margin: 0;
        position: absolute;
        top: 0;
        left: 1.5rem;
        background: $main-green;
        padding: toRem(5) toRem(10);
        text-transform: uppercase;
        border-radius: $border-radius-step-0 $border-radius-step-0 $border-radius-step-1 $border-radius-step-1;
        line-height: toRem(16);
        @include font-family-lato;
      }
      img{
        position: absolute;
        height: 100%;
      }
    }
  }

  .tile-box-blogbody {
    padding: 1rem;
    padding-top: toRem(12);
    @include respond-to-min($desktop) { 
      max-height: 175px;
    }
    .box-details {
      @include respond-to-min($desktop) { 
        max-height: toRem(88);
        overflow: hidden;
      }
      p {
        margin: 0;
        margin-bottom: toRem(8);
        color: $steel-grey;
        font-size: $font12;
        line-height: toRem(16);
        @include font-family-lato;
        
        @include respond-to-min($desktop) { 
          max-height: toRem(105);
          overflow: hidden;
          line-height: toRem(17);
        }
      }
    }

    .seven-minutes-read p {
      margin: 0;
      margin-bottom: toRem(8);
      color: $steel-grey;
      font-size: $font11;
      line-height: toRem(16);
    }

    .date {
      @include respond-to-min($desktop) { 
        position: absolute;
        bottom: 0.5rem;
      }
      p {
        color: $steel-grey;
        font-size: $font11;
        line-height: toRem(16);
        margin: 0;
        @include font-family-lato;
      }
    }

    .box-title h2 {
      color: $cart-count-black;
      margin: 0;
      font-size: $font20;
      line-height: toRem(28);
      margin-bottom: toRem(8);
      text-overflow: inherit;
      white-space: inherit;
      overflow: hidden;      
    }
  }


  // video variation
  &.video {
    .tile-box-blogtile {
      .img-cover {
        height: toRem(341);

        .video-icon {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          z-index: 5;
        }
      }

      .tile-box-blogbody {
        position: absolute;
        bottom: 0;
        width: 100%;
        max-height: 60%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);

        .box-details p,
        .box-title h2,
        .date p,
        .seven-minutes-read p {
          color: $white !important;
          width: 100%;
        }

        .box-title {
          width: 100%;

          h2 {
            font-size: $font16;
            font-weight: 500;
            line-height: toRem(20);
          }
        }

        .date {
          width: 100%;
        }
      }
    }
  }
  .tile-box-blogtile .tile-box-blogbody {
    padding: calc(#{$padding-step-1} + 4px) calc(#{$padding-step-1} + 4px) $padding-step-2 $padding-step-2;
    text-align: left;
}
}

.search-results-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;

  h3 {
    padding-top: 0;
  }

  span {
    color: $cart-count-black;
    font-size: $font20;
    line-height: toRem(25);
    margin: 0;
  }

  a {
    color: $grey1;
    font-size: $font14;
    line-height: toRem(20);
    text-decoration: underline;
  }

  .no-result-found {
    color: $grey1;
    font-size: $font14;
    line-height: toRem(20);
  }
}

.search-target {
  display: flex;

  .searchTarget {
    margin-left: .5rem;
  }
}

.blogpost-wrapper .item {
  display: none;
}

.blogpost-wrapper {

  .video {
    min-height: 0;
  }

  .action {
    .btn {
      max-width: toRem(335) !important;
    }
  }
}


.subscribe-newsletter {
  position: relative;
  background: $sand-white-50;
  overflow: hidden;
  padding: 1.5rem;
  width: 100%;

  @media (min-width: 992px) {
    padding: toRem(36) 2rem;
  }

  .title h2 {
    color: $almost-black;
    font-size: $font28;
    letter-spacing: toRem(0.5);
    line-height: toRem(28);
    margin: 0;
  }

  .desc p {
    color: $gray-fill;
    font-size: $font18;
    line-height: toRem(28);
    margin: 0;
  }

  &:after {
    content: "";
    background: url(../img/bg-cards/plan-cards-illustration-green.svg) no-repeat;
    background-size: contain;
    height: toRem(280);
    position: absolute;
    width: toRem(260);
    opacity: .1;
    z-index: 0;
    right: 0;
    transform: rotate(1turn);
    top: 0;
    left: auto;
  }

  &:before {
    content: "";
    background: url(../img/bg-cards/plan-cards-illustration-green.svg) no-repeat;
    background-size: contain;
    height: toRem(280);
    position: absolute;
    width: toRem(260);
    opacity: .1;
    z-index: 0;
    right: auto;
    transform: rotate(180deg);
    top: 0;
    left: 0;
  }

  .form.wst-form .form-group {
    margin: 0;
  }

  .general-form-submit {
    .btn {
      background: transparent;
      margin-top: toRem(-8);
      z-index: 5;

      @media (max-width: 767px) {
        margin-top: 1.5rem;
      }
    }
  }
}


// article module


.back-to-insight {
  padding: toRem(40) 0;

  .btn {
    font-size: $font14;
    letter-spacing: toRem(2);
    line-height: toRem(20);
  }
}

.aritcle-category {
  .category {
    color: $white;
    text-align: center;
    margin: 0;
    background: $main-green;
    padding: toRem(5) toRem(10);
    text-transform: uppercase;
    border-radius: toRem(4);
    font-size: $font12;
    line-height: toRem(22);

  }
}

.read-time-date-wrapper {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;

  .seven-minutes-read,
  .date {
    color: $steel-grey;
    font-size: $font12;
    line-height: toRem(22);
    margin: 0;
  }
}

.main-text-action-wrapper {
  .wst-form {
    padding: 0 !important;
  }
}

.article-main-text-wrapper {
  .main-text-action-wrapper {

    .action.share {
      .link {
        color: $cart-count-black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        font-size: $font14;
        letter-spacing: toRem(2);
        line-height: toRem(20);
        padding-right: 0;
        min-width: auto;

        &:before {
          display: none;
        }

        span {
          margin-right: .5rem;
          margin-top: toRem(4);

          svg {
            width: toRem(24);
            height: toRem(24);
          }
        }
      }

      .open {
        >.dropdown-menu {
          left: auto;
          right: 0;
          min-width: toRem(300);
          border: 0;

          strong {
            color: $almost-black;
          }

          .link-label {
            color: $almost-black;
            @include font-family-lato;
            font-size: $font12;
            font-weight: bold;
            letter-spacing: toRem(2);
            line-height: toRem(16);
            text-transform: uppercase;
            margin-bottom: toRem(15);
          }
        }
      }
    }
  }
}

.icon-list {
  .links-item {
    display: inline-block;
    padding: 0 toRem(10);

    &:first-child {
      padding-left: 0;
    }

    svg {
      width: toRem(40);
    }
  }
}

.form-share {

  .input-group,
  .form-group {
    width: 100%;
  }

  .form-control {
    padding: toRem(10);
    border-right: 0;
    font-size: .8rem;
    text-overflow: ellipsis;

    &:focus {
      // border: toRem(1) solid $gray; @cold-gray;
      box-shadow: none;
    }
  }

  .input-group-addon {
    padding: toRem(5);
    position: relative;

    &:before {
      content: " ";
      left: 0;
      top: toRem(8);
      width: toRem(1);
      height: toRem(20);
      // background-color: @cold-gray;
      position: absolute;
      z-index: 2;
    }
  }

  .copied-icon {
    display: none
  }

  &.copied {



    .form-control {
      border-right: 0;
    }

    .input-group-addon {
      border-left: 0;
    }

    .copy-icon {
      display: none
    }

    .copied-icon {
      display: block
    }
  }

}



// article links
.article-link-wrapper {
  ul li {
    margin-bottom: 1rem;

    a {
      font-size: $font14;
      letter-spacing: toRem(2);
      line-height: toRem(20);
      text-transform: uppercase;
      display: flex;
      flex-direction: row;
      align-items: center;

      span {
        margin-right: .5rem;

        svg {
          width: toRem(18);
          height: toRem(20);

          // stroke: $main-green;
          path,
          g {
            //   stroke: $main-green;
            stroke-width: toRem(3);
          }
        }
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }
}



.search-wrapper {
  .search-icon {
    position: absolute;
    right: .4rem;

    @include respond-to-min(992px) {
      right: 0.2rem !important;
      top: toRem(12);
    }

    svg {
      stroke-width: toRem(4);

      path,
      g {
        stroke-width: toRem(4);
      }
    }
  }

  .input-field .intl-tel-input>label,
  .input-field>label {
    left: toRem(1);
  }
}


.blog-related-products {
  padding: 4rem 0;

  &.bg {
    background-color: $sand-white-50;
  }

  h2 {
    color: $almost-black;
    font-size: toRem(36);
    line-height: toRem(38);
    margin: 0;
    margin-bottom: toRem(40);
  }
}


.with-search-field {
  padding-left: 1rem !important;
  padding-right: 1rem !important;

  .paragraph-styling {
    padding-right: 15%;
  }
}

*[lang="ar"] {
  *[dir="rtl"] {
    .with-search-field {
      .paragraph-styling {
        padding-right: 0;
        padding-left: 15%;
      }
    }

    .blog-post-wrapper .tile-box-blogtile .img-cover .category p {
      left: auto;
      right: 1.5rem;
    }

    .search-target .searchTarget {
      margin-right: .5rem;
      margin-left: 0;
    }

    .article-main-text-wrapper {
      .main-text-action-wrapper {
        .action.share .link span {
          margin-right: 0;
          margin-left: .5rem;
        }
      }
    }

    .article-main-text-wrapper.main-text-section {
      .main-text-action-wrapper .action .link {
        padding-left: 0;
        padding-right: 1rem;
      }
    }

    .with-search-field {
      .search-wrapper .search-icon {
        right: auto;
        left: toRem(2);
      }

      .form.wst-form {
        .form-group {

          .valid .floating-label,
          .valid~label,
          input:valid~label {
            right: 0;
          }
        }
      }
    }

    .open {
      >.dropdown-menu {
        left: 0 !important;
        right: auto !important;
      }
    }

    .icon-list {
      .links-item {
        &:first-child {
          padding-left: toRem(10);
          padding-right: 0;
        }
      }
    }

    .form-share {
      .form-control {
        border-left: 0;
        border-right: toRem(1) solid $gray;
      }

      .input-group-addon {
        &:before {
          left: auto;
          right: 0;
        }
      }
    }
  }
}

.mb-12 {
  margin-bottom: toRem(12);
  margin-top: -1.2rem;
  // @include respond-to-min($desktop){
  //   margin-top: 0;
  // }
}

.search-count {
  margin-right: .5rem !important;
}

.mb-40 {
  margin-bottom: toRem(40);
}

.form input:not([type]),
.form input[type=date]:not(.browser-default),
.form input[type=datetime-local]:not(.browser-default),
.form input[type=datetime]:not(.browser-default),
.form input[type=email]:not(.browser-default),
.form input[type=number]:not(.browser-default),
.form input[type=password]:not(.browser-default),
.form input[type=search]:not(.browser-default),
.form input[type=tel]:not(.browser-default),
.form input[type=text]:not(.browser-default),
.form input[type=time]:not(.browser-default),
.form input[type=url]:not(.browser-default),
textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: toRem(1) solid $arrow-border;
  border-radius: 0;
  color: $cart-count-black;
  outline: none;
  height: 2.5rem;
  width: 100%;
  margin: 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: box-shadow .3s, border .3s;
  font-size: 1.25rem;
  position: relative;
  z-index: 1;
}

.form input:not([type]):focus:not([readonly]),
.form input[type=date]:not(.browser-default):focus:not([readonly]),
.form input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
.form input[type=datetime]:not(.browser-default):focus:not([readonly]),
.form input[type=email]:not(.browser-default):focus:not([readonly]),
.form input[type=number]:not(.browser-default):focus:not([readonly]),
.form input[type=password]:not(.browser-default):focus:not([readonly]),
.form input[type=search]:not(.browser-default):focus:not([readonly]),
.form input[type=tel]:not(.browser-default):focus:not([readonly]),
.form input[type=text]:not(.browser-default):focus:not([readonly]),
.form input[type=time]:not(.browser-default):focus:not([readonly]),
.form input[type=url]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: toRem(1) solid $main-green;
  box-shadow: 0 toRem(1) 0 0 $main-green;
  transform-origin: 0 0;
  z-index: 0;
}

.form.wst-form .form-group input:-internal-autofill-selected,
.form.wst-form .form-group input:focus {
  background-color: $white !important;
}

.blog-post-wrapper.video .tile-box-blogtile .img-cover {
  height: toRem(341) !important;
}


//btn css
.article-header-text-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;

  .btn-text.btn-green.active,
  .btn-text.btn-green:active,
  .btn-text.btn-green:hover,
  .open>.dropdown-toggle.btn-text.btn-green {
    box-shadow: none !important;
    color: $main-green;
  }

  .btn-text {
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
    @include font-family-lato;
    font-size: .875rem;
    line-height: 1.25rem;
    position: relative;
    font-weight: 500;
    display: block;
  }

  .btn-text:hover {
    text-decoration: underline;
  }

  .btn-text.btn-green,
  .btn-text.btn-green.focus,
  .btn-text.btn-green:focus {
    color: $main-green;
  }

  .btn-text.back,
  .btn-text.forward {
    padding-left: toRem(15);
    font-size: .75rem;
  }

  .btn-text,
  .btn-text.download {
    letter-spacing: toRem(2);
    color: $cart-count-black;
  }



  .btn-text.btn-green:before {
    border: solid $main-green;
    border-width: 0 toRem(1) toRem(1) 0;
  }

  .btn-text.back:before,
  .btn-text.forward:before {
    transform: translateY(-50%) rotate(135deg);
    left: 0;
    right: auto;
  }

  .btn-text:before {
    right: toRem(3);
    border: solid $cart-count-black;
    border-width: 0 toRem(1) toRem(1) 0;
    padding: toRem(2.7);
    content: "";
    position: absolute;
    line-height: 1;
    -webkit-transform: translateY(-20%) rotate(-135deg);
    top: 47%;
    transform: translateY(-20%) rotate(-135deg);
    transition: all .3s ease-in-out;
  }

  .back-to-insight {
    padding: toRem(40) 0;
  }

  .main-text-section {
    padding: 1.5rem 0;
  }

  .mb-20 {
    margin-bottom: 5rem !important;
  }

  .aritcle-category .category {
    color: $white;
    text-align: center;
    margin: 0;
    background: $main-green;
    padding: toRem(5) toRem(10);
    text-transform: uppercase;
    border-radius: toRem(4);
    font-size: $font12;
    line-height: toRem(22);
  }

  .wst-main-headings h2 {
    font-size: $font30;
    line-height: toRem(34);
  }

  @media screen and (min-width:992px) {
    .wst-main-headings h2 {
      font-size: $font40;
      line-height: toRem(52);
    }
  }

  .read-time-date-wrapper-norm .date,
  .read-time-date-wrapper-norm .read-time {
    color: $steel-grey;
    font-size: $font14;
    line-height: toRem(22);
    margin: 0;
    display: flex;
    align-items: center;
  }

  .read-time-date-wrapper-norm {
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
  }

  .read-time-date-wrapper-norm .date p,
  .read-time-date-wrapper-norm .read-time p {
    margin-bottom: toRem(5);
    padding-left: .5rem;
    color: $steel-grey;
  }

}

.blog_post_details {
  margin-top: 0;
}
.cmp-newsroom-search{
  .select2-results__option, .select2-selection__rendered{
    @include font-family-lato;
  }  
}

.input-field.textarea>label {

  *[lang="ar"] *[dir=rtl] & 
    {
    right: 24px;
    }
}

[lang=ar] [dir=rtl] .input-field>label {
	width: 94%;
	left: auto;
	right: 12px;
	transform-origin: 100% 0;
	margin-right: 17px;
}

.row-context-nav .cmp-icon-card-three-item .context-nav-box-wrap .context-nav-box a h5{
  *[lang="ar"] *[dir=rtl] & {
      text-align:center;
      }
}
@media (min-width: 360px) and (max-width: 768px) {
.form.wst-form {
  .form-group {
    margin-bottom: 1rem !important;
  }
}
}