.background-gray{
    h3,p{
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
    }
    h3{
        
        font-size: $font28;
        line-height: 1.36;
    }
    p{
        @include font-family-lato();
        font-size: $font16;
        line-height: 1.5;
        color: $dark-gray;
        margin-bottom: 2.7rem;
    }
}

.brand-portfolio{
    position: relative;
    
    .swiper-slide{
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
    border-radius: 8px;
    min-height: 180px;
    font-size: $font18;
    background-color: $white;
 .image{
    display: block;
    width: 100%;
    height: 100%;
    img{
        max-width: 130px;
        max-height: 100px;
        -o-object-fit: cover;
        object-fit: cover;
    }
 }

    }

    .table-swiper-scrollbar{
        background-color: #f1f1eb;
        left: 1%;
        bottom: 3px;
        width: 100%;
        opacity: 1!important;
        z-index: 1;
        height: 4px;
        margin-top: 1.5rem;
        .swiper-scrollbar-drag{
            background-color: #719e19;
        }
    }

}