.cmp-embed{
    iframe{
    width:100%;
    height: 100%;
}
}
.cmp-text{
    h2{
    font-size:$font30;
    line-height:34px;
}
}
@media (max-width: $screen-sm-max){
.cmp-embed {
    iframe{
        height: 100%;
        padding:0px 10px;
    }
}
}
@media (min-width: $screen-md-max){
.cmp-embed {
    iframe{
        height: 100%;
        padding:0px 12px;
    }
} 
}
@media (min-width:$screen-xl-max){
.cmp-embed{
margin-left:auto;
margin-right:auto;
width:75%;
    /* iframe{
     height:450px;
    } */
}
   .cmp-text{
    h2{
        line-height:52px;
        font-size:$font40;
    }
   } 
}

.embed{
   padding-top: 20px;
}
.cmp-embed {
    height: 300px;
    padding: 0 5px;
}

@media (min-width: 640px){
    .cmp-embed {
        height: 400px;
        padding: 0 1rem;
    }
}

@media (min-width: $screen-md-max){
    .cmp-embed {
        height: 400px;
        padding: 0 0.4rem;
    }
}

@media(min-width:812px){
    .cmp-embed{
        float: none!important;
        height: 450px;
        margin: 0 auto;
        width: 93%;
        padding: 0;
    }
}
@media (min-width: $screen-lg-max){
    .cmp-embed {
        height: 450px;
        float: none!important;
        margin: 0 auto;
        width: 75%;
        padding: 0 1.5rem;
    }
}
@media (min-width: $screen-xl-max){
    .cmp-embed {
        height: 450px;
        float: none!important;
        margin: 0 auto;
        width: 75%;
        padding: 0;
    }
}