//background color variation
.purpal--color {
    background: linear-gradient(-92.14deg, #222 41%, #491873 110%) !important;
}

.green--color {
    background: linear-gradient(225deg, #353738, #719e19) !important;
}

.orange--color {
    background: linear-gradient(225deg, #353738, #9e5419) !important;
}

.aqua--color {
    background: linear-gradient(225deg, #3d3d3d, #199e94) !important;
}