.et-index__page{
   .container{
     max-width: 100%;
     margin: 0 auto;
     padding: 0;
    } 
}

.container-center {
	margin: 0 auto !important;
	max-width: 100% !important;
	width: 1224px;
	float: none;
	padding: 0 12px;

	@media (min-width: 320px) and (max-width:769px) {
		padding: 0;
	}
}