//cross promo banner st
.cross-promotion-plain {
  border-radius: toRem(8);
  position: relative;
  .cmp-teaser__action-container:after {
    clear: both;
  }
  .cmp-teaser__description {
    width: 100%;
    h4 {
      margin-top: 0;
      font-size: $font28;
      @include respond-to-max($tablet) {
        font-size: $font24;
      }
    }
  }

  .cmp-teaser {
    @include respond-to-min($desktop) {
      flex-direction: row;
      padding: toRem(48);
      padding-top: toRem(48);
      padding-bottom: toRem(48);
    }

    @include respond-to-max($tablet) {
      padding: toRem(24) toRem(16);
    }

    @include respond-to-max($phone) {
      padding: toRem(16);
    }

    .cmp-teaser__title {
      margin-bottom: 1.5rem;
      margin-top: 0;
      line-height: toRem(34);
      font-size: $font24;
      @include respond-to-max($tablet) {
        font-size: $font22;
      }
    }
  }

  &:before,
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: url("../resources/images/promo_pattern_top.svg") left 0 no-repeat;
    background-size: contain;
    opacity: 0.7;
    left: 0px;
  }
  .cmp-teaser:before {
    @include respond-to-max($phone) {
      width: toRem(130);
      height: toRem(130);
      left: 0;
    }
  }
  .cmp-teaser:after {
    content: "";
    right: auto;
    left: 0;
  }

  a.cmp-teaser__title-link {
    font-size: $font24;
    margin-bottom: toRem(16);
    margin-top: 0;
  }

  .cmp-teaser__description p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    @include font-family-lato;
    @include respond-to-max($tablet) {
      font-size: $font14;
    }
  }

  .cmp-teaser__content {
    display: block;
    width: 100%;
    @include respond-to-max($tablet) {
      display: flex;
      flex-direction: column;
    }
    @include respond-to-min($desktop) {
      width: 50%;
    }
    @include respond-to-min($desktop-wide) {
      width: 33%;
    }
  }

  .cmp-teaser__action-container {
    position: relative;
    z-index: 2;
    @include respond-to-min($desktop) {
      position: absolute;
      right: toRem(102);
    }
    *[lang="ar"] *[dir="rtl"] & {
      left: 6.375rem;
      right: auto;
      margin-right: 0;
      @include respond-to-max($tablet) {
        left: 0;
      }
    }
  }

  &.link__arrow {
    .cmp-teaser__action-container {
      @include respond-to-min($desktop) {
        position: absolute;
        right: toRem(102);
        height: toRem(20) !important;
        margin-top: toRem(-10) !important;
        top: 50%;
      }
      &:after {
        @include respond-to-max($tablet) {
          right: auto !important;
        }
      }
    }
  }

  &.button--transparent {
    .cmp-teaser__action-container {
      @include respond-to-min($desktop) {
        height: toRem(50);
        margin-top: toRem(-25);
        top: 50%;
      }
    }
  }

  &.button--secondary {
    .cmp-teaser__action-container {
      @include respond-to-min($desktop) {
        height: toRem(50);
        margin-top: toRem(-25);
        top: 50%;
      }
    }
  }

  &.button--primary {
    .cmp-teaser__action-container {
      @include respond-to-min($desktop) {
        height: toRem(50);
        margin-top: toRem(-25);
        top: 50%;
      }
    }
  }
}
//cross-promo en

//new code
.cmp-teaser__two__col {
  border-radius: toRem(4);
  position: relative;
  .cmp-teaser {
    padding: toRem(48);
    border-radius: toRem(4);
    position: relative;
    &:after {
      background: url(../resources/images/promo_pattern_top.svg) left 0 no-repeat;
      background-size: contain;
      content: "";
      height: 100%;
      opacity: 0.7;
      position: absolute;
      top: 0;
      width: 100%;
      transform: scaleX(-1);
      right: 0;
    }

    @include respond-to-max($tablet) {
      margin-right: 1rem;
    }

    &__content {
      padding: 2rem;
      margin-bottom: 0px;
      @include respond-to-max($tablet) {
        margin-bottom: 0px;
        padding: 2rem 1rem 1.5rem 1rem;
      }
      @include respond-to-max($phone) {
        margin-bottom: 0px;
        padding: 1rem;
      }
    }

    &__title {
      @include respond-to-max($tablet) {
        line-height: 32px;
        font-size: $font24;
        color: $white;
      }

      font-size: $font28;
      line-height: 34px;
      margin: 0 0 1rem 0;
      color: $white;

      &__title-link {
        margin: 0;
        color: $white;
        font-size: 24px;

        @include respond-to-max($tablet) {
          padding: 0;
          margin: 0;
          font-size: $font20;
        }

        a {
          color: $white;
        }
      }
    }

    &__description {
      width: 100%;

      @include respond-to-max($tablet) {
        color: $white;
        width: 100%;
      }
    }

    .cmp-teaser__description {
      h4 {
        margin-top: 0;
        font-size: $font28;
        @include respond-to-max($tablet) {
          font-size: $font24;
        }
      }
      width: 100%;

      @include respond-to-max($tablet) {
        width: 100%;
      }

      p {
        margin: 1rem 0 2rem;
        @include respond-to-max($tablet) {
          margin: 1rem 0 0;
        }
      }
    }

    &__action-container {
      text-align: center;
      width: toRem(282);
      border: 1px solid $white;
      border-radius: 4px;
      position: relative;
      z-index: 2;

      @include respond-to-max($phone) {
        width: 105%;
      }

      a {
        color: $white;
        text-transform: uppercase;
        letter-spacing: 2px;
        padding: toRem(16);
        display: block;
        font-size: $font14;
        @include font-family-lato;
        font-weight: 700;
      }
    }
  }

  .cmp-teaser:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background: url("../resources/images/promo_pattern_top.svg") left 0 no-repeat;
    background-size: contain;
    opacity: 0.7;
    right: 0;
    transform: scaleX(-1);
  }

  .cmp-container {
    > .aem-Grid {
      display: block;

      @include respond-to-min($desktop) {
        display: flex;
      }

      .container:first-child {
        margin-right: toRem(12);
      }

      .container:last-child {
        margin-left: 0;

        @include respond-to-min($desktop) {
          margin-left: 12px;
        }
      }
    }
  }

  .container {
    border-radius: 8px;
  }
}

//cross promo full bleed st
.tile-teaser {
  width: 100vw !important;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  .cmp-teaser {
    margin: 0 auto;
    padding: 0 16px;
    width: 100%;
    @include respond-to-min($tablet) {
      width: toRem(756);
      padding: 0 toRem(12);
    }
    @include respond-to-min($desktop) {
      width: toRem(976);
    }
    @include respond-to-min($desktop-wide) {
      width: toRem(1224);
    }
  }

  .cmp-teaser__image {
    position: relative;

    .cmp-image__image {
      min-height: 170px;

      @include respond-to-min($tablet) {
        min-height: 408px;
      }
      @include respond-to-min($desktop) {
        position: absolute;
        left: -9999px;
        right: -9999px;
        top: -9999px;
        bottom: -9999px;
        margin: auto;
        min-width: 100%;
        min-height: 100%;
      }
    }
    @include respond-to-min($desktop) {
      min-height: 426px;
      width: toRem(476);
      min-width: toRem(476);
    }

    @include respond-to-min($desktop-wide) {
      width: toRem(690);
      min-width: toRem(690);
    }
  }

  .cmp-teaser__content {
    position: relative;
    width: 100%;
    padding: 1rem 0 1.5rem 0;

    @include respond-to-min($desktop) {
      width: 50%;
      padding: toRem(64) 0 0 0;
      height: auto;
    }

    @include respond-to-max($tablet) {
      width: 100%;
    }

    .cmp-teaser__pretitle {
      font-size: $font14;
      line-height: 20px;
      @include font-family-lato;
      margin-bottom: toRem(4);
      font-weight: 700;
      letter-spacing: 4px;
      display: inline-block;
      text-transform: uppercase;
      color: $white;

      @include respond-to-max($tablet) {
        font-size: $font12;
      }
    }

    .cmp-teaser__title {
      font-size: 32px;
      margin: 0 0 toRem(24) 0;
      line-height: 40px;
      color: $white;

      @include respond-to-max($tablet) {
        font-size: $font28;
        margin-bottom: 1rem;
      }
    }

    .cmp-teaser__description {
      font-size: $font16;
      line-height: 26px;
      color: $white;
      width: 100%;
      @include respond-to-min($desktop) {
        padding-bottom: 9rem;
      }

      a {
        color: $white;
        margin-bottom: 1.5rem;
        margin-top: 0;
        font-size: $font32;
        line-height: 40px;

        @include respond-to-max($tablet) {
          font-size: $font28;
          margin-bottom: 1rem;
        }
      }

      p {
        @include font-family-lato;
        font-size: $font14;
        line-height: 1.5rem;
        margin-bottom: 0.75rem;
        @include respond-to-max($desktop) {
          font-size: $font16;
        }
      }

      ul {
        list-style-type: none;
        padding: 2rem 0 1rem 2rem;

        @include respond-to-min($desktop) {
          padding: 1rem 0 1.25rem 2rem;
        }

        @include respond-to-max($tablet) {
          padding: 0.75rem 1rem 1rem;
        }

        li {
          color: $white;
          font-size: $font16;
          line-height: 24px;
          padding-left: 1.5rem;
          margin-bottom: toRem(4);
          color: $white;
          *[lang="ar"] *[dir="rtl"] & {
            font-weight: 300;
          }
          @include font-family-lato;

          @include respond-to-max($tablet) {
            font-size: $font14;
            line-height: 20px;
          }
        }
      }
    }
  }

  .image-right .cmp-teaser {
    margin: 0;
  }

  .image-right {
    margin-right: 1.5rem;

    @include respond-to-max($tablet) {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .cmp-teaser__image {
      width: 100%;

      @include respond-to-max($tablet) {
        width: 100%;
      }

      @include respond-to-min($desktop) {
        position: relative;
        width: 60%;
      }

      img {
        max-width: 100%;
        height: auto;

        @include respond-to-max($tablet) {
          max-width: 100%;
          position: inherit;
        }

        @include respond-to-min($desktop) {
          position: absolute;
          height: 100%;
          z-index: 2;
        }
      }
    }
  }

  .image-left {
    margin-left: 1rem;

    @include respond-to-max($tablet) {
      margin-left: 1rem;
      margin-right: 1rem;
    }

    .cmp-teaser__image {
      width: 100%;

      @include respond-to-min($desktop) {
        position: relative;
        width: 60%;
      }

      @include respond-to-max($tablet) {
        width: 100%;
      }

      img {
        max-width: 100%;
        height: auto;

        @include respond-to-max($tablet) {
          max-width: 100%;
          position: inherit;
        }

        @include respond-to-min($desktop) {
          position: absolute;
          height: 100%;
        }
      }
    }
  }

  .cmp-teaser__description ul {
    position: relative;
    li {
      padding-left: 1.5rem;
      position: relative;
      color: $white;
      font-size: 14px;
      line-height: 24px;
      margin: 0;
      margin-bottom: 4px;
      *[lang="ar"] *[dir="rtl"] & {
        padding-right: 1.5rem;
      }
      &::before {
        content: "";
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $steel-grey;
        display: block;
        position: absolute;
        left: 0;
        top: toRem(10);
        *[lang="ar"] *[dir="rtl"] & {
          left: auto;
          right: 0;
        }
      }
    }
  }

  .cmp-teaser__action-container {
    display: table;
    letter-spacing: 2px;
    cursor: pointer;
    text-transform: uppercase;
    @include font-family-lato;
    font-size: $font14;
    line-height: 48px;
    position: relative;
    border: 1px solid $white;
    border-radius: 4px;
    padding: 0 toRem(12);
    box-sizing: inherit;
    @include respond-to-min($desktop) {
      width: toRem(180);
      max-width: toRem(180);
      min-width: toRem(180);
      box-sizing: content-box;
    }
    a {
      color: $white;
    }

    @include respond-to-min($desktop) {
      bottom: 88px;
      position: absolute;
    }
    *[lang="ar"] *[dir="rtl"] & {
      left: auto;
      margin-right: 0;
      right: 0;
    }
  }
  .link__arrow {
    .cmp-teaser__action-container {
      @include respond-to-min($desktop) {
        position: absolute;
        right: 0;
        margin-top: 0 !important;
        bottom: 0 !important;
      }
    }
  }
}
//cross promo full bleed en

//teaser background pattern
.teaser--pattern__bg {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;

  &:after,
  &:before {
    background: url(../resources/images/promo_pattern_top.svg) left 0 no-repeat;
    background-size: contain;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.7;
    position: absolute;
    top: 0;
    width: 100%;
  }

  &:after {
    content: "";
    left: 0;
    right: auto;
    transform: scaleX(-1);
    display: none;
  }
}

.teaser_sibling_2 {
  .aem-Grid--default--12 {
    @include respond-to-min($desktop) {
      display: flex;
      flex-direction: row;
    }
  }
  .cmp-teaser {
    padding: 16px;

    @include respond-to-min($tablet) {
      padding: 24px 16 16px 16px;
    }
    @include respond-to-min($desktop) {
      padding: toRem(32);
    }

    .cmp-teaser__action-container {
      position: relative;
      left: 0;
      *[lang="ar"] *[dir="rtl"] & {
        left: auto;
        right: 0;
        margin-right: 0;
      }
    }

    @include respond-to-min($tablet) {
      .cmp-teaser__content {
        width: 100%;
      }
    }
    &:after {
      transform: scaleX(-1);
    }
    &:before {
      display: none;
    }
  }
  @include respond-to-min($desktop) {
    .teaser:nth-of-type(1) {
      margin-right: 12px !important;
    }

    .teaser:nth-of-type(2) {
      margin-left: 12px !important;
    }
  }
}

.teaser_sibling_3 {
  @include respond-to-min($desktop) {
    .aem-Grid--default--12 {
      display: flex;
      flex-direction: row;
    }
  }
  .cmp-teaser {
    padding: toRem(16);
    @include respond-to-min($tablet) {
      padding: 24px 16 16px 16px;
    }
    @include respond-to-min($desktop) {
      padding: toRem(32);
    }

    .cmp-teaser__action-container {
      max-width: 90%;
      position: relative;
      left: 0;
      *[lang="ar"] *[dir="rtl"] & {
        left: auto;
        right: 0;
        margin-right: 0;
      }
    }

    @include respond-to-min($tablet) {
      .cmp-teaser__content {
        width: 100%;
      }
    }
    &:after {
      transform: scaleX(-1);
    }

    &:before {
      display: none;
    }
  }
  @include respond-to-min($desktop) {
    .teaser:nth-of-type(1) {
      margin-right: 12px !important;
    }
    .teaser:nth-of-type(2) {
      margin-left: 12px !important;
      margin-right: 12px !important;
    }
    .teaser:nth-of-type(3) {
      margin-left: 12px !important;
    }
  }
}

.default-color.cross-promotion-plain {
  .cmp-teaser__action-container {
    border: 1px solid $dark-gray;
    @include secondary-button;
    width: toRem(282) !important;
    a {
      color: $dark-gray;
    }
  }
}

.gutter_24 {
  padding-right: toRem(24);
  @include respond-to-max($phone) {
    padding-right: 0px;
  }
}

@include respond-to-min($desktop) {
  .tile-teaser.image-right {
    .cmp-teaser__image {
      margin-left: toRem(24);
      *[lang="ar"] *[dir="rtl"] & {
        margin-right: toRem(24);
        margin-left: 0;
      }
    }
  }
  .tile-teaser.image-left {
    .cmp-teaser__image {
      margin-right: toRem(24);
      *[lang="ar"] *[dir="rtl"] & {
        margin-left: toRem(24);
        margin-right: 0;
      }
    }
  }
}

.button--primary {
  .cmp-teaser__action-container {
    @include secondary-button;
    width: toRem(282);
    background-color: $main-green;
    border-color: $main-green;
    white-space: nowrap;
    a {
      color: $white;
    }
    &:hover {
      background-color: $green-btn;
      border-color: $green-btn;
    }

    @include respond-to-max($phone) {
      width: 100%;
      min-width: 100%;
    }
  }
}

.button--secondary {
  .cmp-teaser__action-container {
    @include secondary-button;
    width: toRem(282);
    background-color: $white;
    text-align: $white;
    border-color: $white;
    border-style: solid;
    white-space: nowrap;
    a {
      color: $almost-black;
    }

    @include respond-to-max($phone) {
      width: 100%;
      min-width: 100%;
    }
  }
}

.button--transparent {
  .cmp-teaser__action-container {
    @include secondary-button;
    width: toRem(282);
    background-color: transparent;
    text-align: $white;
    border-color: $white;
    border-style: solid;
    white-space: nowrap;
    a {
      color: $white;
    }

    @include respond-to-max($phone) {
      width: 100%;
      min-width: 100%;
    }
  }
}

.link__arrow {
  .cmp-teaser__action-container {
    font-size: $font14;
    padding-right: 0.75rem;
    line-height: 1.25rem;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
    display: inline-block;
    border: 0;

    a {
      color: $white;
      *[lang="ar"] *[dir="rtl"] & {
        padding-left: 10px;
      }
    }
    &:after {
      @include link-arrow;
      border: solid $white;
      top: 6px;
      border-width: 0 1px 1px 0;
      position: absolute;
      padding: 3.25px;
      right: 0 !important;
      left: auto !important;
      *[lang="ar"] *[dir="rtl"] & {
        left: -1rem;
        right: auto !important;
        top: 10px;
        transform: translateY(-50%) rotate(135deg);
      }
    }
  }
}
