.freeze {
    overflow: hidden;
}

.show {
    display: block !important;
}

.current-promotions-box {
    background-color: $white;
    border-radius: 4px;
    padding: 1rem;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    width: 100%;

    @media (min-width: 992px) {
        border-radius: 8px;
        padding: 1.5rem;
    }
    .container{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

}
.learn--more__white{
    color: $white; 
    &:before{
        border: solid $white;
        border-width: 0 1px 1px 0;
    }
    &:hover{
        color: $white;
    }   
       
}

.title-wrap {
    // h2 {
    color: $almost-black;
    @include font-family-lato;
    font-size: 1rem !important;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    height: 48px;
    overflow: hidden;

    @include md {
        color: $almost-black;
        @include font-family-lato;
        font-size: 1rem !important;
        font-weight: 700;
    }

    @media (min-width: 992px) {
        font-size: 1.25rem !important;
        line-height: 1.4;
        height: 56px;
        overflow: hidden;
    }

}

.icon-with-bg {
    height: 36px;
    width: 36px;
    display: block;

    @media (min-width: 992px) {
        width: 48px;
        height: 48px;
    }

    svg {
        height: 36px;
        width: 36px;

        @media (min-width: 992px) {
            width: 48px;
            height: 48px;
        }
    }
}

.promotions-title-wrap {
    h2 {
        @include font-family-Neotech;
        font-size: $font20;
        line-height: 1.4;
        color: $white;
        margin: 0;

        @media (min-width: 992px) {
            font-size: $font32;
            line-height: 1.25;
        }
    }
}

.learn-more-wrap {
    text-align: left;
    font-size: $font16;
    line-height: 16px;

    .btn-text {

        font-size: $font12;
        line-height: 16px;
        letter-spacing: 1.6px;

        @media (min-width: 992px) {
            font-size: $font16;
            line-height: 1.38;
            letter-spacing: 2px;

            &:before {
                padding: 3.7px;
            }
        }
    }
}

.controls {
    display: none;

    @media (min-width: 992px) {
        display: block;
    }
    .prev,
    .next {
        // opacity: 0.4;
        // border-radius: 24px;
        // background-color: @black;
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;

        &.swiper-button-disabled {
            opacity: .5;
            pointer-events: none;
            cursor: not-allowed;
        }
    }
}

.promotional-title-small {
    @include font-family-lato;
    font-size: 10px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 3.33px;
    color: $white;
    margin-bottom: 2px;

    @media (min-width: 992px) {
        font-size: $font12;
        line-height: 1;
        letter-spacing: 4px;
        margin-bottom: 11px;
    }
}

.details-wrap {
    @include font-family-lato;
    font-size: $font14;
    line-height: 1.57;
    letter-spacing: normal;
    color: $white;
    margin-bottom: 1.5rem;

    @media (min-width: 992px) {
        font-size: $font16;
        line-height: 1.38;
        margin-bottom: 36px;
    }
}

.nv-modal-content {
    .container {
        padding-left: 2rem;
        padding-right: 2rem;
    @include md {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
}

.background-with-color {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    >.container{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    };
    .cover{
      img {
          position: absolute;
          height: 100%;
          @include md{
              position: absolute;
              height: 100%;
          }
      }
    }
}




.current-promotions-wrraper {
    position: relative;
    padding-top: 36px;
    padding-left: 1rem;
    padding-bottom: 40px;
    .col-md-9 {
        width: 75% !important;
        left: 30px;
    }

    @media (min-width: 992px) {
        padding-top: 80px;
        padding-bottom: 52px;
    }

    @media (max-width: 991px) {
        padding-left: 4px;
        padding-right: 4px;
    }

    .full-tile-link {
        background: transparent;
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: 8px;
    }

    &.three-plus,
    &.three-only {
        @media (max-width: 991px) {
            padding-right: 0;
            margin-right: 0;

            .container {
                margin-right: 0;
            }

            .col-md-9.col-xs-12 {
                padding-right: 0;
            }
        }
    }

    &.two-only {
        @media (max-width: 539px) {
            padding-right: 0;
            margin-right: 0;

            .container {
                margin-right: 0;
            }

            .col-md-9.col-xs-12 {
                padding-right: 0;
            }
        }
    }

    .icon-wrap {
        margin-bottom: 1rem;
    }

    .title-wrap {
        margin-bottom: $font14;
        ;

        @media (min-width: 992px) {
            margin-bottom: 1.5rem;
        }
    }

    .promotions-title-wrap {
        margin-bottom: 1.5rem;
    }

    .controls {
        position: relative;
        margin-top: 1rem;

        .prev,
        .next {
            position: absolute;
            left: 0;

            &:hover {
                cursor: pointer;
            }
        }

        .next {
            left: 60px;
        }
    }

    .scrollbar {
        margin-top: 24px;
        position: relative;
    }



    .swiper-slide {
        background: transparent;
    }

    &.one-only {
        .swiper-slide {
            flex-grow: 0;
            flex-shrink: 1 !important;
            flex-basis: 100%;

            &:last-child {
                margin-right: 0 !important;
            }
        }
    }

    &.two-only {
        @media (min-width: 768px) {
            .swiper-slide {
                flex-grow: 0;
                flex-shrink: 1 !important;
                flex-basis: 100%;

                &:last-child {
                    margin-right: 0 !important;
                }
            }
        }
    }

    &.no-slide {
        padding-top: 48px;
        padding-bottom: 78px;

        @media (min-width: 992px) {
            padding-top: 80px;
            padding-bottom: 98px;
        }

        .learn-more-wrap .btn-text {
            color: $white;

            &:before {
                border-color: $white;
            }

            @media (max-width: 991px) {
                font-size: $font14;
                line-height: 1.43;

                &:before {
                    padding: 3.2px;
                }
            }
        }

        .promotions-title-wrap {
            h2 {
                font-size: $font26;
                line-height: 1.46;
                letter-spacing: normal;
                margin-bottom: 1rem;

                @media (min-width: 992px) {
                    font-size: $font32;
                    line-height: 1.19;
                    margin-bottom: 1.5rem;
                }
            }
        }
    }

    &.one-only {
        padding-bottom: 68px;
    }

    &.two-only {
        @media (min-width: 768px) {
            padding-bottom: 80px;
        }
    }

    &.one-only,
    &.two-only,
    &.three-only {
        .controls {
            display: none;
        }

        @media (min-width: 992px) {
            padding-bottom: 80px;
        }
    }
    .lbl{
        font-size: $font12;
        font-weight: 500;
        letter-spacing: 4px;
        line-height: 12px;
        display: inline-block;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: white;
    }
    .container{
    padding-left: 1rem;
    padding-right: 1rem;
    }
}

// *************************************
// arabic overides
// *************************************

*[lang="ar"] {
    *[dir="rtl"] {

        .title-wrap h3,
        .learn-more-wrap {
            text-align: right;
        }

        .current-promotions-wrraper .controls .next,
        .current-promotions-wrraper .controls .prev {
            right: 60px;
        }

        .current-promotions-wrraper .controls .next {
            right: 0;
        }

        @media (min-width: 768px) {
            .current-promotions-wrraper.two-only .swiper-slide:last-child {
                margin-right: auto;
                margin-left: 0 !important;
            }
        }

        .current-promotions-wrraper.one-only .swiper-slide:last-child {
            margin-right: auto;
            margin-left: 0 !important;
        }

        .current-promotions-wrraper {

            &.three-plus,
            &.three-only {
                @media (max-width: 991px) {
                    padding-left: 0;
                    padding-right: 4px;
                    margin-right: 4px;
                    margin-left: 0;

                    .container {
                        margin-right: auto;
                        margin-left: 0;
                    }

                    .col-md-9.col-xs-12 {
                        padding-right: 12px;
                        padding-left: 0;
                    }
                }
            }

            &.two-only {
                @media (max-width: 539px) {
                    padding-left: 0;
                    padding-right: 4px;
                    margin-right: 4px;
                    margin-left: 0;

                    .container {
                        margin-right: auto;
                        margin-left: 0;
                    }

                    .col-md-9.col-xs-12 {
                        padding-right: 12px;
                        padding-left: 0;
                    }
                }
            }
        }


    }
}


/************************************************
general Paragraph styling
*************************************************/
.paragraph-styling {
    >a{
        color: $white;
        &:hover{
            color: $white;
        }
        .btn-text:before{
            color: $white;
        }
    }
    
}

.paragraph-styling a {
    color: $white;
    font-size: $font14;
    line-height: 24px;
    cursor: pointer;
}

.paragraph-styling p {
    font-size: 1rem;
    line-height: 26px;
    color: $white;
     @include font-family-lato;
}

.paragraph-styling.big p {
    font-size: $font18;
}

.paragraph-styling.anchor a {
    color: $main-green;
}

.paragraph-styling.anchor a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 991px) {
    .paragraph-styling.big p {
        font-size: $font16;
    }
}

.content-headng {
    color: $steel-grey;
}

//
// Modals
// --------------------------------------------------

// .modal-open      - body class for killing the scroll
// .modal           - container to scroll within
// .modal-dialog    - positioning shell for the actual modal
// .modal-content   - actual modal w/ bg and corners and shit

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}



// *************************************
// popup view of learn more
// *************************************
.modal-popup {
    display: none;
}

.context-navigation {

    .swiper-slide,
    .swiper-wrapper {
        transform-style: inherit;
    }
}

.modal-popup {
    text-align: left;

    .nv-modal-content {
        display: block;
        height: 100%;
    }

    .nv-modal-body {
        padding: 0 !important;
    }

    .nv-modal-header {
        padding: 0;
        border-bottom: 1px solid $grey5;
        margin-bottom: 1.5rem;

        @media (min-width: 992px) {
            margin-bottom: 3rem;
            padding-bottom: 20px;
        }

        .nv-modal-close {
            @media (max-width: 991px) {
                margin-right: 0.5rem;
                margin-top: -15px;
            }

            svg {

                line,
                g {
                    @media (max-width: 991px) {
                        stroke: $brown-stroke;
                        stroke-width: 2px;
                    }
                }
            }
        }
    }

    .offer-image {
        position: relative;
        min-height: 124px;
        height: 100%;

        @media (min-width:320px) and (max-width:767px){
            min-height: 310px;
        }
        @media (min-width: 992px) {
            min-height: 360px;
        }
    }

    .offer-details-wrapper {
        margin: 1rem;
        margin-top: 0;
        overflow: auto;

        @media (min-width:320px) and (max-width:767px){
            max-height: 300px;
            margin-top: 1rem;
            overflow-x: hidden;
        }

        @media (min-width: 768px)and (max-width:1024px){
            margin-top: 1rem;
        }

        @media (min-width: 768px){
            max-height: 400px;
            overflow-x: hidden;
        }

        // @media (min-width: 1024px) {
        //     max-height: 600px;
        // }

        h3,
        p {
            margin: 0;
            padding: 0;
        }

        h3 {
            font-size: 22px;
            margin-bottom: 1rem;
            color: $almost-black;

            @media (min-width: 992px) {
                font-size: $font28;
                margin-bottom: 24px;
            }
        }

        p {
            font-size: $font14;
            line-height: 1.43;
            color: $steel-grey;
            margin-bottom: 1rem;

            @media (min-width: 992px) {
                font-size: $font18;
                line-height: 1.56;
                margin-bottom: 24px;
            }
        }

        .text-link {
            a {
                font-size: $font12;

                @media (min-width: 768px) {
                    font-size: $font14;
                }
            }

            @media (min-width: 768px) {
                margin-bottom: 40px;
            }
        }

        .btn-link {
            a {
                max-width: 282px;
            }

            @media (max-width: 767px) {
                position: fixed;
                width: 100%;
                text-align: center;
                bottom: 0;
                padding: 12px;
                left: 0;
                right: 0;
                border-radius: 8px;
                box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
                background-color: $white;

                a {
                    max-width: 100%;
                }
            }
        }

    }

    .right-modal {
        .nv-modal-header {
            padding: 0;
            border-bottom: solid 1px rgba(151, 151, 151, .5);
            //border-bottom: 2px solid $light-sand-brown; //to match with ana emirati popup design
            padding-bottom: 1rem !important;
            margin-bottom: 1.5rem;

            @media (min-width: 992px) {
                margin-bottom: 2rem;
                padding-bottom: 24px !important;
            }
        }

        .nv-feature-list {
            &.x-small {
                li {
                    //margin-bottom: 1rem;
                }
            }

            &.with-checkmark {

                //margin-top:1.5rem;
                li {
                    //  margin-bottom: 1rem;
                }
            }
        }



    }
}

@media (max-width: 991px) {
    .modal-popup {
        .nv-modal.bottom-modal {
            .nv-modal-dialog {
                top: 0;

                .nv-modal-content {
                    height: 100%;
                }
            }
        }

        .right-modal {

            .nv-brand {
                font-size: .625rem;
                letter-spacing: 2.5px;
                line-height: 12px;
                color: $grey1;
            }

            .nv-feature-list {
                li {
                    color: $grey1;
                    margin-bottom: .5rem !important;
                }

                &.with-checkmark {
                    li {
                        margin-bottom: .625rem !important;
                    }
                }
            }
        }
    }
}

/* ------------------- new modal implementation ------------------------ */

.nv-modal-open {
    overflow: hidden;

    .nv-modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.nv-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.25);

    .nv-modal-dialog {
        margin: 0;
    }

    &.right-modal {
        .nv-modal-dialog {
            position: fixed;
            left: auto;
            right: 0;
            top: 0;
            bottom: 0;
            overflow: hidden;
            width: 90%;
            @include md{
                width: 100%;
            }
        }

        .nv-modal-content {
            height: 100%;
            overflow-x: auto;
        }
    }

    &.bottom-modal {
        .nv-modal-dialog {
            position: fixed;
            left: 0;
            right: 0;
            top: -1px !important;
            bottom: 0;
        }
    }

    &.curve-modal {
        .nv-modal-dialog {
            margin-left: 1rem;
            margin-right: 1rem;
        }

        .nv-modal-content {
            border-radius: 10px 10px 0 0;
        }
    }
}

.nv-modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

.nv-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0 1rem;

    &.lg {
        padding: 3rem 0 2rem;
    }
}

.nv-modal-title-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nv-modal-close {
    width: 24px;
    height: 24px;
    cursor: pointer;
    float: right;
    display: flex;

    img,
    svg {
        width: 24px;
        height: 24px;
        min-height: auto;
    }
}

.nv-modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: $white;
    background-clip: padding-box;
    outline: 0;
    @include sm{
        padding-left: .5rem;
        padding-right: .5rem;
    }
}

.nv-modal-title {
    color: $almost-black;
    @include font-family-Neotech;
    font-size: 24px;
    line-height: 32px;
    flex-grow: 1;
    margin: 0;
    text-align: center;
}

.nv-modal-body {
    padding: 1rem 0;
}

.nv-modal-body-flex {
    height: calc(100% - 70px);
}

.nv-modal.fade .nv-modal-dialog {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;

    transform: translate(0, -25%);
}

.nv-modal.show .nv-modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.nv-modal.full-height-mob{
    .new-sim+.migrate-to-plan{
        border-left: 1px solid $cream-brown;
    }
}

// .nv-modal.full-height-mob .new-sim+.migrate-to-plan {
//     border-left: 1px solid $cream-brown;
// }

.nv-plan-details-modal {
    margin: 0 102px;
    width: 402px;
}

.nv-modal {
    &.right-modal {
        .nv-modal-title {
            text-align: left;
            margin-top: -2rem;
            margin-right: 2rem;
            @include md{
                margin-top: -1rem;
                text-align: center !important;
                margin-right: 2rem;
            }
        }
    }
}

.nv-modal-close svg,
    .nv-modal-close img {
        width: 12px !important;
        height: 12px !important;
        top: 10px;
        right: 20px;
        position: relative;
    }

@media only screen and (max-width: 991px) {
    .nv-modal.full-height-mob .new-sim+.migrate-to-plan {
        border-left: none;
    }

    .nv-modal.full-height-mob .nv-modal-content {
        height: 100vh;
        overflow: auto;
        border-radius: 0;
    }

    .nv-modal.bottom-modal.full-height-mob .nv-modal-dialog,
    .nv-modal.bottom-modal.full-height-mob {
        top: 0;
    }

    .nv-modal-content {
        padding: 1.5rem 0 !important;
        border-radius: 8px 8px 0 0;
    }

    .nv-modal-body {
        padding: 1.5rem 0 !important;
    }

    .nv-modal-header {
        border-bottom: 1px solid $light-sand-brown;
        padding-bottom: 1.5rem !important;
        margin-bottom: 0;
        padding-top: 0;
    }

    .nv-modal-close {
        width: 12px;
        height: 12px;
    }

    .nv-modal-close svg,
    .nv-modal-close img {
        width: 12px;
        height: 12px;
    }

    .nv-modal-title {
        font-size: $font16;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
    }

    .nv-modal .nv-modal-content .new-sim {
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $cream-brown;
    }

    .nv-modal {
        &.right-modal {
            .nv-modal-dialog {
                left: 0;
            }

            &.full-height-mob {
                .nv-modal-content {
                    border-radius: 0;
                }
            }
        }
    }

    .nv-plan-details-modal {
        padding: 0 1rem;
        width: 100%;
        margin: 0;
    }
}

.nv-plan-details-modal {
    margin: 0 102px;
    width: 408px;
}

.nv-plan-details-modal .nv-modal-title {
    text-align: left;
}

@media (min-width: 992px) {
    .nv-modal-header.with-border {
        border-bottom: solid 1px rgba(151, 151, 151, 0.50);
        margin-bottom: 32px;
        padding: 48px 0 40px;
    }

    .nv-modal-header.with-border.md {
        margin-bottom: 16px;
    }

    .nv-plan-details-modal .nv-modal-header.with-border {
        margin-bottom: 16px;
        padding: 40px 0 24px;
    }

}

*[lang=ar] *[dir=rtl] .nv-plan-details-modal .nv-modal-title {
    text-align: right;
}

@media (max-width: 991px) {

    .nv-plan-details-modal {
        padding: 0 1rem;
        width: 100%;
        margin: 0;
    }

    .nv-modal-header.with-border {
        border: 0;
        padding-bottom: 0 !important;
    }

    .nv-modal-header.with-border.nv-keep {
        border-bottom: 1px solid $light-sand-brown;
        padding-bottom: 1rem !important;
        padding-top: 0 !important;
    }

    .nv-modal.right-modal .nv-modal-dialog {
        left: 0;
    }

    .nv-modal-header.with-border.small-screen {
        border-bottom: 1px solid $light-sand-brown;
        padding-bottom: 1rem !important;
        margin-bottom: 8px;
    }
}


.offers-popup-wrapper {
    text-align: left;
    .nv-modal-content {
      display: block;
    }
    .nv-modal-body {
      padding: 0 !important;
    }
    .nv-modal-header {
      padding: 0;
      border-bottom: 1px solid $grey5;
      margin-bottom: 1.5rem;
      @media (min-width: 992px) {
        margin-bottom: 3rem;
        padding-bottom: 40px;
      }
      .nv-modal-close {
        @media (max-width: 991px) {
          margin-top: -24px;
        }
        svg {
          line, g {
            @media (max-width: 991px) {
              stroke: $brown-stroke;
              stroke-width: 2px;
            }
          }
        }
      }
    }
    .offer-image {
      position: relative;
      min-height: 124px;
      height: 100%;
      @media (min-width: 992px) {
        min-height: 360px;
      }
    }
    .offer-details-wrapper {
      margin-top: 1rem;
      @media (min-width: 768px) {
        margin-top: 0;
        overflow: auto;
        max-height: 600px;
      }
      h3, p {
        margin: 0;
        padding:  0;
      }
      h3 {
        font-size: 22px;
        margin-bottom: 1rem;
        color: $almost-black;
        @media (min-width: 992px) {
          font-size: $font28;
          margin-bottom: 24px;
        }
      }
      p {
        font-size: $font14;
        line-height: 1.43;
        color: $steel-grey;
        margin-bottom: 1rem;
        @media (min-width: 992px) {
          font-size: $font18;
          line-height: 1.56;
          margin-bottom: 24px;
        }
      }
      .text-link {
        a {
          font-size: $font12;
          @media (min-width: 768px) {
            font-size: $font14;
          }
        }
        @media (min-width: 768px) {
          margin-bottom: 40px;
        }
      }
      .btn-link {
        a {
          max-width: 282px;
        }
        @media (max-width: 767px) {
          position: fixed;
          width: 100%;
          text-align: center;
          bottom: 0;
          padding: 12px;
          left: 0;
          right: 0;
          border-radius: 8px;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
          background-color: $white;
          a {
            max-width: 100%;
          }
        }
      }

    }
    .right-modal{
      .nv-modal-header {
        padding: 0;
        border-bottom: solid 1px rgba(151,151,151,.5);
        //border-bottom: 2px solid $light-sand-brown; //to match with ana emirati popup design
        padding-bottom: 1rem !important;
        margin-bottom: 1.5rem;
        @media (min-width: 992px) {
          margin-bottom: 2rem;
          padding-bottom: 24px !important;
        }
      }
      .nv-feature-list {
        &.x-small{
          li{
              //margin-bottom: 1rem;
          }
        }
          &.with-checkmark{
            //margin-top:1.5rem;
            li{
            //  margin-bottom: 1rem;
            }
          }
      }
    }
  }

  @media (max-width: 991px) {
    .offers-popup-wrapper {
      .nv-modal.bottom-modal  {
        .nv-modal-dialog {
          top: 0;
          .nv-modal-content {
            height: 100%;
          }
        }
      }
      .right-modal{

        .nv-brand {
          font-size: .625rem;
          letter-spacing: 2.5px;
          line-height: 12px;
          color: $grey1;
        }
        .nv-feature-list {
          li{
            color: $grey1;
            margin-bottom: .5rem !important;
          }
          &.with-checkmark{
            li{
              margin-bottom: .625rem !important;
            }
          }
        }
      }
    }
  }
  .current-promotions-wrraper {
    .swiper-container{
      @include md{
        margin-top: 1rem;
      }
    }
  }

  
      
         .right-50-modal{
            .nv-modal-dialog{
                bottom: 0;
                left: auto;
                position: fixed;
                right: 0;
                top: 0;
                width: 47%;
            }
        }
        @media (min-width:$tablet) and (max-width:1023px){
            .right-50-modal{
                .nv-modal-dialog{
                    // width:550px;
                    width: 49%;
                }
            }
        }
        @media (min-width:320px) and (max-width:767px){
            .right-50-modal{
                .nv-modal-dialog{
                    width:100%;
                }
            }
        }

    .nv-modal__doublemin{
    .offer-details-wrapper{
        ul{
            //list-style: none;
            li{
                margin: 0 1.5rem 1rem 1.5rem;
                list-style: outside;
                font-size: $font20;
                color: #919192;
                // padding-left: 1rem;
                margin-bottom: 1rem;
            }
            @media (max-width:$tablet){
                li{
                    font-size: $font16;
                }
            }
        }
        table{
            border: 1px solid grey;
            td{
                font-family: Lato,GE SS Two,Roboto,Arial,sans-serif;
                border: 1px solid grey;
                // padding: 6px;
                line-height: 1.6;
                vertical-align: middle;
                font-size: 16px;
            }
            th {
                border: 1px solid gray;
                font-weight: 700 !important;
                text-align: left;
                font-family: Lato,GE SS Two,Roboto,Arial,sans-serif;
                font-size: 16px;
                line-height: 1.6;
                vertical-align: middle;
                font-weight: 700;
                border-right: 1px solid;
            }
        }
        table{
            width: 50%;
        }
        table :last-child{
            width: 80%;
        }
    }
}
@media (min-width:320px) and (max-width:1024px){
    .modal-popup .nv-modal-header {
        margin-left:  20px !important;
        margin-right: 20px !important;
    }
}

@media  (min-width:1136px){
    .modal-popup .nv-modal-header {
        margin-left:  30px !important;
        margin-right: 30px !important;
    }
    
}
.right-50-modal {
    .nv-modal__doublemin{
        .offer-details-wrapper{ 
            ul{          
             font-size: 1.25rem;
            line-height: 24px;
            margin: 0px;
            font-family: Lato,GE SS Two,Roboto,Arial,sans-serif;
            padding-left: 0px !important;
            padding-right: 0px !important;
            }
            ul li {
                margin: 0 0rem 1rem 1.5rem;
            }
            p{
                font-size: 20px;
                line-height: 1.6;
            }
        }
        @media (min-width: 768px){
            .nv-modal-header{
                h4.nv-modal-title {
                    font-size: 24px;
                    margin-right: 48px;
                    text-align: left;
                    font-weight: 400;
                }
            }
            .modal-popup .nv-modal-header {
                padding-bottom: 20px;
            }
        }
        @media (min-width:320px) and (max-width:767px){
            .right-50-modal {
                .nv-modal__doublemin{
                    .modal-popup .offer-details-wrapper {
                            padding-right: 15px;
                    }
                }
                .modalpopup.teaser.nv-modal__doublemin {
                    padding: 0 1rem;
                }
            }
        }
    }
}

.nv__left-modal{
    @media (min-width: 1240px){
        .cmp-image_image{
            border-radius: 15px;
        }
    }
    @media (min-width: 768px) and (max-width: 1024px){
        .modal-popup .offer-details-wrapper {
            margin: 0 0.5rem 1rem;
        }
    }
    .modal-popup .offer-details-wrapper p{
        padding-right: 8px;
    }
    @media (min-width: 320px) and (max-width: 1024px){
        .modal-popup .offer-details-wrapper {
            padding-right: 15px;
        }
    }
}   
.nv__bottom-modal{
    .nv-row{
        padding: 0px !important;
    }
    .offer-details-wrapper {
        overflow: hidden;
        margin: 0 0 1rem 0;
        padding-left: 15px !important;
    }
    .offer-details-wrapper ul li {
                font-size: 16px;
                line-height: 1.6;
                font-family: Lato,GE SS Two,Roboto,Arial,sans-serif;
    }
    .offer-details-wrapper{ 
        ul li a{
                font-size: 18px;
                line-height: 1.56;
                color: $main-green !important;
            }
            a:hover {
                color: #618816 !important;
            }
    }
    @media (min-width: 768px) {
        .offer-details-wrapper {
            overflow: hidden;
            padding: 0px; 
        }
    }
    @media (min-width: 320px) and (max-width: 767px){
        .modal-popup .offer-details-wrapper {
            height: 500px !important;
        }
    }
    @media(min-width: 1136px){
        .nv-row{
            .nv-col-md-4{
                margin-left: 30px;
            }
            .nv-col-md-7{
                padding-left: 0px !important;
            }
        }
        @media (min-width: 320px) and (max-width: 767px){
            .modal-popup .offer-details-wrapper {
                max-height: 400px;
            }
        }
    }
}
@media (min-width:320px) and (max-width:767px){
    .modal-popup .offer-details-wrapper {
        padding-right: 8px;
    }
}

.nv__bottom-modal .offer-details-wrapper ul li:last-child {
    font-family: Lato,GE SS Two,Roboto,Arial,sans-serif;
    font-size: 20px;
    line-height: 1.6;
    color: gray;
}

.nv-modal__doublemin .offer-details-wrapper table:last-child {
    width: 80% !important;
}


@media  (min-width:1136px){
    .right-50-modal {
        .nv-modal__doublemin .nv-modal-header {
            margin-left:  0px !important;
            margin-right: 0px !important;
        }
        .nv-modal__doublemin .offer-details-wrapper {
            margin: 0 1rem 1rem 0;
        }
        @media (min-width:320px) and (max-width: 1024px){
            .nv-modal-body .offer-details-wrapper {
                    p{
                font-size: 16px;
                }
                b{font-size: 16px;}
            }
        }
    }
}

@media (min-width:320px) and (max-width: 1024px){
.nv-modal-content .nv-py-5{
    .nv-modal-close {
        top: 10px !important;
        right: 20px !important;
        position: relative;
    }
}
}
.right-50-modal{
    @media (min-width: 768px) {
        .right-50-modal{
            .nv-pt-5,
            .nv-py-5  {
                        overflow: hidden !important;
                    }
        }
    }
}

@media (min-width: 1136px){
    .nv__left-modal .nv-col-md-4 {
        padding-top: 40px !important;
    }
}

@media(min-width: 1136px){
    .nv-modal-close svg {
        height: 24px !important;
        position: relative;
        right: 30px;
        top: 25px;
        width: 24px !important;
    }
}

.nv__left-modal{
    @media (min-width: 768px)and (max-width: 1366px){
        .offer-details-wrapper {
            margin-right: 1px !important;
            padding-right: 10px !important;
        }
    }
}

@media (min-width:320px) and (max-width: 1024px){
    .nv__left-modal{
        .nv__bottom-modal .offer-details-wrapper {
            overflow: unset !important;
        }
    }
}