.btn,
.btn-sm {
  height: 3rem;
  font-size: 0.875rem;
  line-height: 3rem;
  letter-spacing: 0.14285714em;
}

.btn {
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  color: $almost-black;
  background-color: $white;
  text-align: center;
  padding: 0 0.5rem;
  border-radius: 4px;
  border-width: 1px;
  width: 100%;
  border-color: $darkest-night;
  outline: 0;
  font-weight: 700;
}

.btn.btn-default.active,
.btn.btn-default:active,
.btn.btn-default:hover,
.open > .dropdown-toggle.btn.btn-default {
  box-shadow: none !important;
  color: $main-green;
  background-color: $white;
  border-color: $main-green;
}

.btn.btn-default.focus,
.btn.btn-default:focus {
  display: inline-block;
  outline: 0;
  color: $white;
  background-color: $green-btn;
  border-color: $green-btn;
}

.btn.btn-default .ink {
  background-color: #527212;
  border-color: #618816;
}

.btn.btn-green,
.btn.btn-green.focus,
.btn.btn-green:focus {
  color: $white;
  background-color: $main-green;
  border-color: $main-green;
}

.btn.btn-green.focus,
.btn.btn-green:focus {
  outline: 0;
}

.btn.btn-green.active,
.btn.btn-green:active,
.btn.btn-green:hover,
.open > .dropdown-toggle.btn.btn-green {
  box-shadow: none !important;
  color: $white;
  background-color: $green-btn;
  border-color: $green-btn;
}

.btn.btn-green .ink {
  background-color: #527212;
  border-color: #618816;
}

.btn.btn-dark-green,
.btn.btn-dark-green.focus,
.btn.btn-dark-green:focus {
  color: $white;
  background-color: $dark-green;
  border-color: $dark-green;
}

.btn.btn-dark-green.focus,
.btn.btn-dark-green:focus {
  outline: 0;
}

.btn.btn-dark-green.active,
.btn.btn-dark-green:active,
.btn.btn-dark-green:hover,
.open > .dropdown-toggle.btn.btn-dark-green {
  box-shadow: none !important;
  color: $white;
  background-color: #4a5217;
  border-color: #4a5217;
}

.btn.btn-dark-green .ink {
  background-color: #3d4313;
  border-color: #4f5718;
}

.btn.btn-orange {
  color: $white;

  border-color: $dark-orange;
}

.btn.btn-orange.active,
.btn.btn-orange:active,
.btn.btn-orange:hover,
.open > .dropdown-toggle.btn.btn-orange {
  box-shadow: none !important;
  color: $white;
  background-color: #ef7800;
  border-color: #ef7800;
}

.btn.btn-orange.focus,
.btn.btn-orange:focus {
  outline: 0;
  color: $white;
  background-color: #ef7800;
  border-color: #ef7800;
}

.btn.btn-orange .ink {
  background-color: #bc5e00;
  border-color: #d66b00;
}

.btn.btn-orange-text {
  color: $dark-orange;
  border: 0;
  outline: 0;
}

.btn.btn-orange-text.focus,
.btn.btn-orange-text:focus {
  outline: 0;
  color: $dark-orange;
  background: $white;
  box-shadow: none;
}

.btn.btn-primary {
  color: $almost-black;
  background-color: rgba(53, 55, 56, 0.1);
  border-color: $white;
}

.btn.btn-primary.active,
.btn.btn-primary.focus,
.btn.btn-primary:active,
.btn.btn-primary:focus,
.btn.btn-primary:hover {
  color: $white;
  background-color: $green-btn;
  border-color: $green-btn;
}

.btn.btn-primary.focus,
.btn.btn-primary:focus {
  outline: 0;
}

.btn.btn-primary .ink {
  background-color: #40590e;
  border-color: #4f6f12;
}

.btn.btn-text-only {
  color: $sand-white;
  text-decoration: underline;
  background-color: transparent;
  border-color: transparent;
}

.btn.btn-text-only.active,
.btn.btn-text-only:active,
.btn.btn-text-only:hover {
  text-decoration: none;
}

.btn.disabled,
.btn.disabled:hover,
.btn[disabled],
.btn[disabled]:hover {
  color: $steel-grey;
  background-color: $cold-gray-2;
  border-color: $cold-gray-2;
  opacity: 1;
}

.btn.compound-button {
  font-weight: 400;
  letter-spacing: normal;
  text-align: left;
  padding: 8px 16px;
  height: 56px;
  text-transform: none;
}

.btn.compound-button .col-xs-1 {
  padding: 0 16px;
  text-align: center;
  width: 67px;
}

.btn.compound-button .col-xs-1 .icon-btn {
  height: 32px;
  width: 30px;
  padding: 0;
  margin: auto;
  display: inline-block;
}

.btn.compound-button .icon-btn svg {
  height: 32px;
  width: 30px;
}

.btn.compound-button .icon-btn:before {
  content: " ";
  border-left: 1px solid;
  height: 32px;
  position: absolute;
  left: 0;
  opacity: 0.2;
  background: $white;
}

.btn.compound-button .price {
  font-size: 1.5rem;
  color: $white;
}

.btn-text {
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  @include font-family-Neotech-ge;
  font-size: 0.875rem;
  line-height: 1.25rem;
  position: relative;
  font-weight: 500;
}

.btn-text,
.btn-text.download {
  letter-spacing: 2px;
  color: $almost-black;
}

.btn-text.download {
  font-size: 1rem;
  padding: 0 0 0 30px;
  margin-bottom: 60px;
  display: block;
}

@media screen and (max-width: 991px) {
  .btn-text.download {
    margin-bottom: 1.5rem;
  }
}

.btn-text.download:before {
  left: 0;
  top: 0;
  right: auto;
  border: 0;
  content: " ";
  width: 20px;
  height: 20px;
  position: absolute;
  transform: none;
  padding: 0;
  // background-image: url(/b2c/eshopApp/assets/img/wst-icons/icon-file.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-text + .btn-text {
  margin-right: 36px;
}

.btn-text:before {
  right: 3px;
  border: solid $almost-black;
  border-width: 0 1px 1px 0;
  padding: 2.7px;
  content: "";
  position: absolute;
  line-height: 1;
  top: 50%;
  transform: translateY(-20%) rotate(-135deg);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .btn-text:before {
    padding: 4.7px;
  }
}

.btn-text.view-more {
  padding-right: 1.5rem;
  white-space: nowrap;
}

.btn-text.view-more:focus {
  color: $almost-black;
}

.btn-text.view-more:focus:hover,
.btn-text.view-more:hover {
  color: $main-green;
}

.btn-text.view-more:hover > span {
  text-decoration: underline;
}

.btn-text.view-more:hover:before {
  border: solid $main-green;
  border-width: 0 1px 1px 0;
}

.btn-text.view-more .more {
  transition: all 0.3s ease-in-out;
  display: none;
}

.btn-text.view-more .less {
  display: inline-block;
}

.btn-text.view-more.collapsed:before {
  transform: translateY(-80%) rotate(45deg);
}

.btn-text.view-more.collapsed .more {
  transition: all 0.3s ease-in-out;
  display: inline-block;
}

.btn-text.view-more.collapsed .less {
  display: none;
}

.btn-text.learn-more:before {
  transform: translateY(-50%) rotate(-45deg);
  right: -15px;
}

.btn-text.back,
.btn-text.forward {
  padding-left: 15px;
  font-size: 0.75rem;
}

.btn-text.back:before,
.btn-text.forward:before {
  transform: translateY(-50%) rotate(135deg);
  left: 0;
  right: auto;
}

.btn-text.forward {
  padding-right: 15px;
  padding-left: 0;
  font-size: 0.75rem;
}

.btn-text.forward:before {
  transform: translateY(-50%) rotate(-45deg);
  right: 0;
  left: auto;
}

.btn-text.delete,
.btn-text.edit {
  padding: 0;
}

.btn-text.delete:before,
.btn-text.edit:before {
  display: none;
}

.btn-text.remove {
  padding: 0 0 0 25px;
}

.btn-text.remove:hover {
  color: $almost-black;
}

.btn-text.remove:before {
  left: 0;
  top: 0;
  right: auto;
  border: 0;
  content: " ";
  width: 18px;
  height: 18px;
  position: absolute;
  transform: none;
  padding: 0;
  // background-image: url(/b2c/eshopApp/assets/img/buy-get/Icons/SVG/icon-pencil.svg);
  background-repeat: no-repeat;
  background-size: cover;
  // background-image: url(/b2c/eshopApp/assets/img/buy-get/Icons/SVG/icon-close-grey.svg)
}

.btn-text.btn-green,
.btn-text.btn-green.focus,
.btn-text.btn-green:focus {
  color: $main-green;
}

.btn-text.btn-green:before {
  border: solid $main-green;
  border-width: 0 1px 1px 0;
}

.btn-text.btn-green.no-arrow:before {
  border: 0;
}

.btn-text.btn-green.active,
.btn-text.btn-green:active,
.btn-text.btn-green:hover,
.open > .dropdown-toggle.btn-text.btn-green {
  box-shadow: none !important;
  color: $main-green;
}

.btn-text.btn-green .ink {
  color: $main-green;
}

.btn-text .small {
  letter-spacing: 1.6px;
}

.btn-text:hover {
  text-decoration: underline;
}

.btn-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.btn-link {
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  @include font-family-Neotech-ge;
  font-size: 0.875rem;
  letter-spacing: 1.6px;
  line-height: 1.25rem;
  position: relative;
}
.tile-box-tile .btn-text {
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  letter-spacing: 2px;
  font-size: 12px;
}

@media (min-width: 992px) {
  .tile-box-tile .btn-text {
    font-size: 14px;
  }
  .tile-box-tile .btn-text:before {
    padding: 3.5px;
    right: -20px;
  }
}

[lang="ar"] [dir="rtl"] .btn-text {
  @include font-family-Neotech-ge;
}

[lang="ar"] [dir="rtl"] .btn-text.download {
  padding-right: 30px;
}

[lang="ar"] [dir="rtl"] .btn-text.download:before {
  right: 0;
  left: auto;
}

[lang="ar"] [dir="rtl"] .btn-text:before {
  right: auto;
  left: 3px;
}

[lang="ar"] [dir="rtl"] .btn-text.back {
  padding-right: 15px;
  padding-left: 0;
}

[lang="ar"] [dir="rtl"] .btn-text.back:before {
  right: 0;
  left: auto;
}

[lang="ar"] [dir="rtl"] .btn-text.forward {
  padding-left: 15px;
  padding-right: 0;
}

[lang="ar"] [dir="rtl"] .btn-text.forward:before {
  left: 0;
  right: auto;
}

[lang="ar"] [dir="rtl"] .btn-text.view-more {
  padding-left: 1.5rem;
  padding-right: 0;
}

[lang="ar"] [dir="rtl"] .btn-text + .btn-text {
  margin-right: 0;
  margin-left: 30px;
}

[lang="ar"] [dir="rtl"] .btn-text.btn-green:before {
  border-width: 1px 0 0 1px;
}

[lang="ar"] [dir="rtl"] .btn-text.learn-more.btn-green:before {
  border-width: 0 1px 1px 0;
}

[lang="ar"] [dir="rtl"] .btn.compound-button .icon-btn:before {
  right: 0;
  left: auto;
}

[lang="ar"] [dir="rtl"] .btn.compound-button .price-wrapper .price .small {
  font-size: 10px;
}

[lang="ar"] [dir="rtl"] .checkout-details .checkout-footer .back:before {
  border-width: 1px 0 0 1px;
}

.ripple-effect {
  position: relative;
  overflow: hidden;
}

.ink {
  display: block;
  position: absolute;
  pointer-events: none;
  border-radius: 50%;
  transform: scale(0);
  background: $white;
  border: 2em solid $white;
  opacity: 1;
}

.ink.animate {
  animation: c 0.5s linear;
}

@keyframes c {
  to {
    opacity: 0;
    transform: scale(2.5);
  }
}

@media (max-width: 1200px) {
  .btn-text .less,
  .btn-text .more,
  .btn-text.view-more.collapsed .less,
  .btn-text.view-more.collapsed .more,
  .btn-text.view-more .less,
  .btn-text.view-more .more {
    display: none;
  }

  .delete,
  .edit,
  .remove {
    margin: 5px 0;
  }
}

//paragraph styline for custom components

.paragraph-styling .p1 p,
.paragraph-styling .p2 p,
.paragraph-styling .p3 p,
.paragraph-styling .p4 p {
  color: #919192;
  @include font-family-Neotech-ge;
  margin-bottom: 0.75rem;
}

@media screen and (min-width: 992px) {
  .paragraph-styling .p1 p,
  .paragraph-styling .p2 p,
  .paragraph-styling .p3 p,
  .paragraph-styling .p4 p {
    margin-bottom: 1rem;
  }
}

.paragraph-styling .p1 ol li,
.paragraph-styling .p1 ul li,
.paragraph-styling .p2 ol li,
.paragraph-styling .p2 ul li,
.paragraph-styling .p3 ol li,
.paragraph-styling .p3 ul li,
.paragraph-styling .p4 ol li,
.paragraph-styling .p4 ul li {
  color: #919192 !important;
}

.paragraph-styling .p1 a,
.paragraph-styling .p2 a,
.paragraph-styling .p3 a,
.paragraph-styling .p4 a {
  color: #719e19;
}

.paragraph-styling .p1 a:hover,
.paragraph-styling .p2 a:hover,
.paragraph-styling .p3 a:hover,
.paragraph-styling .p4 a:hover {
  text-decoration: underline;
}

.paragraph-styling .p1 a,
.paragraph-styling .p1 ol li,
.paragraph-styling .p1 p,
.paragraph-styling .p1 ul li {
  font-size: 1rem !important;
  line-height: 1.5rem !important;
}

@media screen and (min-width: 992px) {
  .paragraph-styling .p1 a,
  .paragraph-styling .p1 ol li,
  .paragraph-styling .p1 p,
  .paragraph-styling .p1 ul li {
    font-size: 1.25rem !important;
    line-height: 28px !important;
  }
}

.paragraph-styling .p2 a,
.paragraph-styling .p2 ol li,
.paragraph-styling .p2 p,
.paragraph-styling .p2 ul li {
  font-size: 14px !important;
  line-height: 20px !important;
}

@media screen and (min-width: 992px) {
  .paragraph-styling .p2 a,
  .paragraph-styling .p2 ol li,
  .paragraph-styling .p2 p,
  .paragraph-styling .p2 ul li {
    font-size: 1rem !important;
    line-height: 1.5rem !important;
  }
}

.paragraph-styling .p3 a,
.paragraph-styling .p3 ol li,
.paragraph-styling .p3 p,
.paragraph-styling .p3 ul li {
  font-size: 12px !important;
  line-height: 1rem !important;
}

@media screen and (min-width: 992px) {
  .paragraph-styling .p3 a,
  .paragraph-styling .p3 ol li,
  .paragraph-styling .p3 p,
  .paragraph-styling .p3 ul li {
    font-size: 14px !important;
    line-height: 20px !important;
  }
}

.paragraph-styling .p4 a,
.paragraph-styling .p4 ol li,
.paragraph-styling .p4 p,
.paragraph-styling .p4 ul li {
  font-size: 12px !important;
  line-height: 1rem !important;
}

.paragraph-styling a {
  cursor: pointer;
}

.paragraph-styling a,
.paragraph-styling p {
  color: #6b6b6b;
  font-size: 14px;
  line-height: 24px;
}

.paragraph-styling p {
  margin-bottom: 1.5rem;
}

.paragraph-styling.big p {
  font-size: 18px;
}

.paragraph-styling.anchor a {
  color: #719e19;
}

.paragraph-styling.anchor a:hover {
  text-decoration: underline;
}

@include respond-to-max($desktop-min) {
  .paragraph-styling.big p {
    font-size: 16px;
  }
}

*[lang="ar"] {
  [dir="rtl"] {
    .btn-text {
      @include font-family-Neotech-ge();
    }
  }
}
