// elife starter header module
.starter-header {
    &.has-bg {
        background-color: #f7f8f4;
        padding-top: 24px;
        padding-bottom: 24px;

        @media screen and (min-width: 992px) {
            padding-top: 36px;
            padding-bottom: 36px;
        }
    }

    @media screen and (max-width: 767px) {
        .container {
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    &.with-breadcrumb {

        .breadcrumb,
        .cta {
            @media screen and (max-width: 991px) {
                display: none;
            }
        }

        .wst-secondary-headings {

            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                margin-bottom: 0;
            }
        }
    }

    .breadcrumb {
        margin-bottom: 16px;

        .third-action-wrapper {
            font-size: 15px;
            line-height: 15px;
        }

        .link {
            font-size: 12px;
            padding-right: 6px;
            margin-right: 3px;
            line-height: 15px;
            letter-spacing: 1.6;

            &:before {
                padding: 2.6px;
            }

            &:last-child {
                color: #6b6b6b;

                &:before {
                    display: none;
                }
            }
        }

        @media screen and (max-width: 991px) {
            display: none;
        }
    }

    .wst-main-headings {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 8px;
        }
    }

    .wst-secondary-headings {

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 0;

            @media screen and (max-width: 991px) {
                margin-bottom: 24px;
            }
        }
    }

    .content-wrapper {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        flex-direction: column;

        @media screen and (min-width: 992px) {
            flex-direction: row;

            .content {
                max-width: 750px;
            }
        }

        @media screen and (max-width: 991px) {

            .content,
            .cta {
                width: 100%;
            }
        }
    }

    .cta {
        display: flex;
        flex-direction: column;

        .media-cta-4-price {
            margin-bottom: 16px;
        }

        @media screen and (min-width: 992px) {
            flex-direction: row;
            align-items: center;

            .media-cta-4-price {
                margin-bottom: 0;
                margin-right: 27px;
            }
        }
    }
}



// elife popups module
.e-life-modal {
    .nv-modal-content {
        padding: 0 !important;
        overflow: hidden !important;
    }

    .nv-modal-header {
        padding: 20px 0 20px 0;

        @media screen and (min-width: 992px) {
            padding: 48px 0 40px 0;
            border-bottom: 1px solid #97979724;
        }
    }

    .nv-modal-body {
        padding: 16px 0 !important;
        overflow-x: hidden;
        overflow-y: auto;

        @media screen and (min-width: 992px) {
            padding: 48px 0 !important;
        }
    }

    .hide-on-mobile {
        @media only screen and (max-width: 991px) {
            display: none;
        }
    }

    @media only screen and (max-width: 991px) {
        .nv-modal-close {
            width: 16px;
            height: 16px;

            img,
            svg {
                width: 16px;
                height: 16px;
            }
        }
    }

    .image-wrap {
        position: relative;
        width: 136px;
        height: 136px;

        margin: 0 auto;
        margin-bottom: 16px;

        @media screen and (min-width: 992px) {
            margin: 0;
            height: 360px;
            width: auto;
            margin-bottom: 0;
        }
    }

    .popup-details {
        .wst-secondary-headings {

            h2,
            h3,
            h4,
            h5 {
                margin-bottom: 8px;
            }

            &.bold {

                h2,
                h3,
                h4,
                h5 {
                    margin-bottom: 12px;
                    letter-spacing: 2px;
                    color: #353738;
                    font-weight: 900;

                    @media screen and (min-width: 992px) {
                        margin-bottom: 16px;
                    }
                }
            }
        }

        &.specifications {
            margin-top: 32px;

            @media screen and (min-width: 992px) {
                margin-top: 48px;
            }

            .wst-secondary-headings.bold {
                margin-bottom: 24px;

                @media screen and (min-width: 992px) {
                    margin-top: 24px;
                }
            }
        }
    }

}

.two-col-list {
    position: relative;

    .list-wrap {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        @media screen and (min-width: 992px) {
            margin-bottom: 20px;
        }

        .title {
            font-size: 14px;
            line-height: 1.43;
            color: #6f6c70;
            flex: 1;

            @media screen and (min-width: 992px) {
                font-size: 16px;
                line-height: 1.5;
            }
        }

        .value {
            flex: 1;
            font-size: 14px;
            font-weight: bold;
            line-height: 1.43;
            color: #353738;

            @media screen and (min-width: 992px) {
                font-size: 16px;
                line-height: 1.5;
            }
        }

    }
}






// channel list page ( search sorting filtering ) start page/module
.channel-list-page {
    margin-top: 0;

    @media screen and (min-width: 992px) {
        margin-top: 49px;
    }

    @media screen and (max-width: 991px) {
        .tab-content .table-default-section {
            margin: 0;
            padding: 0;
        }
    }


    .tables-4-0,
    .nv-modal-body {
        &::-webkit-scrollbar-thumb {
            border-radius: 14px;
            background-color: #719e19;
        }

        &::-webkit-scrollbar-track {
            border-radius: 10px;
            background-color: transparent;
        }

        &::-webkit-scrollbar {
            width: 4px;
        }
    }

    .tables-4-0 {
        overflow-x: hidden;
        overflow-y: auto;
    }
}



.channel-list-page {
    .table-default-section {
        overflow: hidden;
        height: auto;
    }
}




.nv-modal.right-modal .nv-modal-title {
    @media only screen and (max-width: 991px) {
        text-align: center;
    }
}

.filter-tags {
    .list-wrapper {
        margin: 0;
        padding: 0;
        align-items: center;
        flex-wrap: wrap;
        display: none;

        li {
            margin-bottom: 8px;

            @media screen and (min-width: 992px) {
                margin-bottom: 24px;
            }
        }

        .list-item {
            list-style: none;
            padding: 8px 16px 8px 20px;
            border-radius: 50px;
            border: solid 0.9px #719e19;
            background-color: rgba(113, 158, 25, 0.2);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 8px;

            @media screen and (min-width: 992px) {
                margin-right: 24px;
            }

            span {
                font-size: 16px;
                font-weight: bold;
                line-height: 1.5;
                color: #719e19;
                padding-right: 8px;
            }

            a {
                width: 16px;
                height: 16px;
                line-height: 16px;

                svg,
                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .clear-all {
            margin-left: 8px;
            line-height: 40px;

            a {
                font-size: 12px;
                line-height: 1.33;
                letter-spacing: 1.6px;
                color: #719e19;
                text-transform: uppercase;

                @media screen and (min-width: 992px) {
                    font-size: 14px;
                    line-height: 1.43;
                    letter-spacing: 2px;
                }
            }
        }
    }
}

.sorting-filter-wrapper {
    margin-top: 8px;

    .container {
        @media screen and (max-width: 767px) {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}

.filters-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (min-width: 992px) {
        flex-direction: row;
        min-height: 56px;
        margin-bottom: 30px;
    }

    .filter-tags {
        @media screen and (min-width: 992px) {
            width: 100%;
        }

        @media screen and (max-width: 991px) {
            order: 2;
        }
    }

    .filters {
        display: flex;
        align-items: center;
        width: 100%;

        @media screen and (max-width: 991px) {
            order: 1;
            margin-bottom: 8px;
        }

        @media screen and (min-width: 992px) {
            max-width: 384px;
            justify-content: space-between;
        }

        .mobile-view {
            display: flex !important;

            @media screen and (min-width: 992px) {
                display: none !important;
            }
        }

        .desktop-view {
            display: none !important;

            @media screen and (min-width: 992px) {
                display: flex !important;
            }
        }

        .dropdown {

            .dropdown-menu {
                padding: 16px;
                border-radius: 4px;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
                width: 100%;
                border: none;
                top: 75%;

                @media screen and (max-width: 991px) {
                    display: none !important;
                }

                li {
                    padding-bottom: 16px;
                    margin-bottom: 16px;
                    border-bottom: 1px solid #d2d2d2;
                    list-style-type: none !important;
                    padding-left: 0 !important;
                    &:last-child {
                        margin-bottom: 0;
                        padding-bottom: 0;
                        border-bottom: 0;
                    }

                    a {
                        color: #6f6c70;
                        padding: 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        font-size: 16px;
                        line-height: 24px;
                        background-color: transparent;

                        span {
                            margin-left: 8px;
                            margin-right: 20px;
                            svg,
                            img {
                                width: 24px;
                                height: 24px;
                            }
                        }

                        &:hover {
                            // color: @brand-primary;
                            background-color: transparent;
                        }

                        span {
                            display: none;
                        }

                        &.active span {
                            display: flex;
                        }
                    }
                }
            }

            &.open {
                .dropdown-menu {
                    display: block !important;
                }

            }
        }



        .filter-lable,
        .sort-label {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px 0;
            position: relative;

            @media screen and (min-width: 992px) {
                padding: 17px 24px;
                flex: inherit;
            }

            .circle-count {
                position: absolute;
                font-size: 8px;
                color: #fff;
                background-color: #719e19;
                border-radius: 50%;
                line-height: 1;
                display: none;
                align-items: center;
                justify-content: center;
                width: 12px;
                height: 12px;
                top: 0;
                right: -4px;

                @media screen and (min-width: 992px) {
                    width: 16px;
                    height: 16px;
                    font-size: 10px;
                    top: -8px;
                    right: -8px;
                }

            }

            .label {
                font-size: 12px;
                line-height: 1.33;
                letter-spacing: 1.6px;
                color: #353738;
                font-weight: bold;

                @media screen and (min-width: 992px) {
                    font-size: 16px;
                    line-height: 1.38;
                    letter-spacing: 2px;
                }

                .sub-label {
                    color: #6f6c70;
                    font-weight: normal;

                    @media screen and (max-width: 991px) {
                        display: none;
                    }
                }

            }

            .icon {
                position: relative;
                width: 24px;
                height: 24px;
                line-height: 24px;
                margin-right: 4px;

                @media screen and (min-width: 992px) {
                    margin-right: 8px;
                    width: 20px;
                    height: 20px;
                    line-height: 20px;
                }

                svg,
                img {
                    width: 24px;
                    height: 24px;

                    @media screen and (min-width: 992px) {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }

        .filter-lable {
            border-right: 1px solid #e2e1da;

            @media screen and (min-width: 992px) {
                border-right: none;
                margin-right: 8px;
            }
        }

        .sort-label {
            @media screen and (min-width: 992px) {
                padding-right: 30px;
            }
        }

        .filter-tags {
            @media screen and (max-width: 991px) {
                order: 2;
            }
        }
    }

}

.elife-channel-list-header {
    padding: 4px 16px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;

    @include respond-to-min($desktop) {
        padding: 14px 12px;
    }

    .container {
        @media screen and (max-width: 767px) {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
    .logo-wrapper,
    .head-wrapper {
        flex: 1;
    }

    .logo-wrapper {
        display: flex;

        .cmp-image {
            margin-right: 8px;

            @media screen and (min-width: 992px) {
                margin-right: 40px;
            }

            img,
            svg {
                width: 40px;
                height: 40px;

                @media screen and (min-width: 992px) {
                    width: 52px;
                    height: 52px;
                }
            }
        }

        .pack-name {
            display: flex;
            flex-direction: column;
            padding-left: 4px 0;
            .back {
                margin-bottom: 4px;
                @media screen and (min-width: 992px) {
                    margin-bottom: 8px;
                }
            }
            a {
                width: fit-content;
                text-transform: uppercase;
                letter-spacing: 2px;
                font-size: 12px;
                padding-left: 8px;
                line-height: 16px;
                position: relative;
                @include respond-to-min($desktop) {
                  font-size: 14px;
                  padding-left: 12px;
                  line-height: 20px;
                }
                &:hover {
                  text-decoration: underline;
                  color: $main-green;
                }
                &:before {
                  border: solid $main-green;
                  border-width: 0 1px 1px 0;
                  padding: 2.6px;
                  content: "";
                  position: absolute;
                  line-height: 1;
                  top: 50%;
                  transform: translateY(-50%) rotate(135deg);
                  transition: all .3s ease-in-out;
                  left: 0;
                  @include respond-to-min($desktop) {
                    padding: 3.25px;
                  }
                }
            }
            h4 {
                margin: 0;
                font-size: 14px;
                font-weight: 600;
                line-height: 1.14;
                color: #353738;
                @include respond-to-min($desktop) {
                    font-size: 16px;
                    line-height: 1;
                }
            }

        }
    }

    .head-wrapper {
        display: flex;
        align-items: center;

        .search-wrapper {


            .search-close {

                background-color: #f7f8f4;
                position: absolute;
                z-index: 9;
                align-items: center;
                justify-content: center;
                right: 16px;
                width: 12px;
                height: 48px;
                display: none;

                svg,
                img {
                    width: 12px;
                    height: 12px;
                }

                &:hover {
                    cursor: pointer;
                }

                @media screen and (min-width: 992px) {
                    svg {
                        width: 16px;
                        height: 16px;

                        g {
                            stroke: #353738;
                            opacity: 1;
                        }
                    }
                }
            }

            @media screen and (min-width: 992px) {
                max-width: 588px;
                min-width: 588px;
            }

            .input-group {
                width: 100%;

                .input-icon {
                    border: 0;
                    padding: 0;
                    position: absolute;
                    left: 0;
                    z-index: 9;
                    width: 24px;
                    height: 48px;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    left: 16px;


                    @media screen and (min-width: 992px) {
                        background-color: #f7f8f4;
                    }


                    &:hover {
                        cursor: pointer;
                    }

                    svg,
                    img {
                        width: 24px;
                        height: 24px;

                        @media screen and (min-width: 992px) {
                            width: 16px;
                            height: 16px;
                        }
                    }
                }

                .form-control {
                    border-radius: 4px;
                    border: none;
                    background-color: #f7f8f4;
                    padding-left: 56px;
                    height: 48px;
                    box-shadow: none;
                    color: #353738;

                    &:focus {
                        border: none;
                        box-shadow: none;
                    }
                }
            }
        }

        @media screen and (max-width: 991px) {
            .search-wrapper {
                .input-group {
                    width: 100%;

                    .input-icon {
                        border-radius: 4px;
                        border: none;
                        padding: 0;
                        box-shadow: none;
                        width: 24px;
                        height: 48px;

                        height: 48px;
                        width: 48px;

                        right: 0;
                        left: auto;
                    }

                    .form-control {
                        opacity: 0;
                        width: 0;
                        padding: 0;

                    }
                }
            }

            &.search-expanded {
                .logo-wrapper {
                    display: none;
                }

                .search-wrapper {
                    width: 100%;

                    .input-group {
                        width: 100%;
                        transition: all .3s ease-in-out;

                        .input-icon {
                            border-radius: 4px;
                            border: none;
                            background-color: #f7f8f4;
                            padding: 0;
                            box-shadow: none;
                            width: 24px;
                            height: 48px;
                            left: 16px;
                            right: auto;
                        }

                        .form-control {
                            opacity: 1;
                            transition: all .3s ease-in-out;
                            width: 100%;
                            padding: 6px 32px;
                            padding-left: 54px;
                            color: #353738;
                        }
                    }
                }
                
            }

        }
    }
}


.not-found {
    text-align: center;
    margin-top: 16px;
    display: none;
    @media screen and (max-width: 767px) {
        padding-left: 12px;
        padding-right: 12px;
    }
    @media screen and (min-width: 992px) {
        margin-top: 24px;
    }

    .icon-wrapp {
        svg {
            width: 84px;
            height: 84px;
            margin-bottom: 20px;

            @media screen and (min-width: 992px) {
                width: 120px;
                height: 120px;
            }
        }
    }
        .btn {
            padding-left: 16px;
            padding-right: 16px;
            margin-top: 30px;
            @media screen and (min-width: 768px) {
                width: auto;
            }
        }
}


.channel-list-tabs-wrapper {

    &.elife-channel-list {
        margin-bottom: 8px;
        box-shadow: 0 3px 4px 0 #00000033;

        @media screen and (min-width: 992px) {
            margin-bottom: 19px;
            border-top: 1px solid #e4e4e4;
        }

        .swiper-button-next,
        .swiper-button-prev {
            display: none !important;
        }

        .clist-swiper-tabs {
            padding: 0;
        }


        @media screen and (max-width: 767px) {
            .container {
                padding-left: 16px;
                padding-right: 16px;
            }
        }

    }

}



*[lang="ar"] *[dir="rtl"] {
    .elife-channel-list-header .logo-wrapper .logo-link {
        margin-right: 0;
        margin-left: 8px;

        @media screen and (min-width: 992px) {
            margin-right: 0;
            margin-left: 40px;
        }
    }

    .filters-wrapper .filters .filter-lable .icon,
    .filters-wrapper .filters .sort-label .icon {
        margin-right: 0;
        margin-left: 4px;

        @media screen and (min-width: 992px) {
            margin-right: 0;
            margin-left: 8px;
        }
    }

    .elife-channel-list-header .logo-wrapper {
        max-width: 80%;
    }

    .filter-tags .list-wrapper .clear-all {
        margin-right: 8px;
        margin-left: 0;

        @media screen and (min-width: 992px) {
            margin-right: 16px;
            margin-left: 0;
        }
    }

    .elife-channel-list-header .head-wrapper .search-wrapper .search-close {
        right: auto;
        left: 16px;
    }

    .elife-channel-list-header .head-wrapper .search-wrapper .input-group .input-icon {
        left: auto;
        right: 16px;
    }

    .elife-channel-list-header .head-wrapper .search-wrapper .input-group .form-control {
        padding-left: 32px;
        padding-right: 56px;
    }
}