// btn with border around 
.btn-wit-border {
    border: 1px solid $white;
    border-radius: 4px;
    padding: .5rem 2rem;
    text-align: center;
    width: auto;
}


//teaser banner variation for out of container on container level
.banner--image {
    margin-bottom: 7rem !important;
    margin-top: 4rem;
    max-height: 627px;
    padding-top: 2.3rem;
    display: flex;
    flex-direction: row;
    @include respond-to-max($phone) {
        padding-top: 0;
    }

    @include respond-to-max($tablet) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .cmp-image__image {
        margin-right: 140px;
    }

    .cmp-text {
        top: 0px;
        margin-top: 0px;
        margin-bottom: 4px;
        font-size: 16px;
        line-height: 22px;
        padding: 2rem 0 0 2rem;

        h1,
        h2,
        h3,
        h4,
        h5,
        h5,
        h6 {
            color: $white;
        }

        p {
            margin-top: 2rem;
            margin-bottom: 2rem;
            color: $white;

            @include respond-to-max($phone) {
                margin-bottom: 1.5rem;
                margin-top: 0;
            }
        }

        @include respond-to-max($tablet) {
            padding: 4rem 0 0 4rem;
        }

        @include respond-to-min($desktop) {
            padding: 7rem 2rem 0 2rem;
        }
    }

    .cmp-button--grey {
        @include respond-to-max($tablet) {
            line-height: 2rem;
        }
    }

    @include respond-to-max($phone) {
        height: 450px;
        margin-bottom: 13rem;

        .cmp-container {
            >.aem-Grid {
                display: flex;
                flex-direction: column-reverse;
            }

            .aem-Grid.aem-Grid--phone--12>.aem-GridColumn.aem-GridColumn--phone--5 {
                width: 70%;
                margin-top: -3rem;

                img {
                    margin-left: 3.4rem;
                }
            }

            .aem-Grid.aem-Grid--phone--12>.aem-GridColumn.aem-GridColumn--phone--7 {
                width: 100%;
            }

            .cmp-text {
                padding: 2rem;
            }
        }
    }
    .cmp-container{
        margin: 0 auto;
        width: 1224px;
    }
}

.banner-image__left {
    .aem-Grid--default--12 {
        flex-direction: column;
        display: flex;
    }
}

.text--overlap__image {
    padding: 1rem;
}

.gray--color {
    color: $gray;
}


.large--banner {
    @include respond-to-max($phone) {
        margin-top: 5rem !important;
    }
    .cmp-text {
        padding: 4rem 0;

        p {
            font-size: $font12;
            font-weight: 700;
            letter-spacing: 4px;
            line-height: 16px;
            margin-bottom: 8px;
        }

        h1,h2,h3,h4,h5,h6 {
            font-size: $font32;
            font-weight: 400;
            line-height: 40px;
            margin: 0 0 2.5rem 0;
        }

        td {
            font-size: $font20;
            line-height: 28px;
            @include font-family-lato;
            margin-bottom: 10px;
        }
    }

    .cmp-container {
        height: 100%;
        min-height: 579px;
        background-size: 100% auto;
    }
}

.direction-column {

    height: 450px;
    margin-bottom: 13rem;

    .cmp-container {
        >.aem-Grid {
            flex-direction: column;
        }

        .aem-Grid.aem-Grid--phone--12>.aem-GridColumn.aem-GridColumn--phone--5 {
            width: 70%;
            margin-top: -3rem;

            @include respond-to-min($desktop) {
                width: 58.33333333%;
                margin-top: 0;
            }

            img {
                width: 70%;
                margin-left: 0;

                @include respond-to-max($tablet) {
                    width: 100%;
                }
            }

        }

        .aem-Grid.aem-Grid--phone--12>.aem-GridColumn.aem-GridColumn--phone--7 {
            width: 100%;
        }

        .cmp-text {
            padding: 2rem;
            width: 100%;
        }
    }

}

//beigebg--pattern-bg teaser variation
.beigebg--pattern-bg{
    .cmp-image__image{
        position: relative;
        z-index: 4;
    }
    .cmp-container{
        margin: 0 auto;
        width: 1224px;
    }
}