//basic teaser configration 
.tile-teaser {
    .cmp-teaser__content {
        padding: 1rem;

        @include sm {
            padding: 1.5rem;
        }

        @include md {
            padding: 1.5rem;
        }

        .cmp-teaser__pretitle {
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 4px;
            line-height: 12px;
            display: inline-block;
            margin-bottom: 10px;
            text-transform: uppercase;
            color: $white;
        }

        .cmp-teaser__title {
            font-size: 32px;
            margin-bottom: 35px;
            margin-top: 0;
            line-height: 38px;
            color: $white;
        }

        .cmp-teaser__description {
            font-size: 1rem;
            line-height: 26px;
            color: $white;
            @include font-family-lato;
        }

        p {
            a {
                margin-top: 20px;
                display: table;
                margin-bottom: 5px;
                letter-spacing: 3px;
                color: $white;
                cursor: pointer;
                text-transform: uppercase;
                @include font-family-lato;
                font-size: .875rem;
                line-height: 1.25rem;
                position: relative;
                font-weight: 500;

                @include sm {
                    width: 100%;
                }
            }

            a:before {
                transform: translateY(-50%) rotate(-45deg);
                -webkit-transform: translateY(-50%) rotate(-45deg);
                right: -0.938rem;
                border: solid #fff;
                border-width: 0 1px 1px 0;
                content: " ";
                position: absolute;
                top: 50%;
                right: -0.938rem;
                line-height: 1;
                transition: all .3s ease-in-out;
                padding: 0.231rem;
            }
        }
    }
}

.image-right,
.image-left {
    .cmp-teaser__image {
        position: relative;

        img {
            position: absolute;
            height: 100% !important;

            @include sm {
                max-width: 100%;
                height: auto;
            }

            @include md {
                max-width: 100%;
                position: inherit;
            }
        }
    }

    .cmp-teaser__content {
        @include sm {
            width: 100%;
        }

        @include md {
            width: 100%;
        }
    }
}

.image--60 {
    .cmp-teaser__image {
        width: 60% !important;
    }
}

// two col teaser  
.cmp-teaser__two__col .teaser {
    display: flex;

    border-radius: 4px;

    .cmp-teaser__content {
        padding: 1rem;
    }

    .cmp-teaser__title {
        margin: 0;
        color: $white;
    }

    .cmp-teaser__description {
        p {
            margin-top: 1rem;
        }

        width: 100%;
    }

    .cmp-teaser__action-container {
        padding: 10px;
        text-align: center;
        width: 282px;
        margin-bottom: 1rem;
        border: 1px solid $white !important;
        border-radius: 4px;
        margin-top: 1rem;

        a {
            font-size: 14px;
            color: $white;
        }
    }


    :nth-child(1) {
        margin-right: 1rem;
    }
}

// btn with border around 
.btn-wit-border {
    border: 1px solid $white;
    border-radius: 4px;
    padding: .5rem 2rem;
    text-align: center;
    width: auto;
}

//teaser background pattern
.teaser--pattern__bg {
    .cmp-teaser {
        margin-right: 12px;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        border-radius: 5px;
        position: relative;

        &:after,
        &:before {
            background: url(../resources/images/promo_pattern_top.svg) left 0 no-repeat;
            background-size: contain;
            content: "";
            height: 100%;
            left: 0;
            opacity: .7;
            position: absolute;
            top: 0;
            width: 100%;
        }

        &:after {
            content: "";
            left: 0;
            right: auto;
            transform: rotate(180deg);
        }
    }
}

//teaser banner variation for out of container on container level
.banner--image {
    min-height: 415px;
    max-height: 665px;
    height: 500px;
    margin-bottom: 50px;
    padding-top: 2.3rem;
    display: flex;
    flex-direction: row;

    .cmp-image__image {
        margin-right: 140px;
    }

    .cmp-text {
        top: 0px;
        margin-top: 0px;
        margin-bottom: 4px;
        font-family: 'GothamRounded-Book', "Helvetica Neue";
        font-size: 16px;
        line-height: 22px;
        padding: 7rem 0 0 4rem;
    }


}

.banner-image__left {
    .aem-Grid--default--12 {
        flex-direction: row-reverse;
        display: flex;
    }
}