.quick-links-section {
    background-color: #f7f8f4;
    margin-bottom: 1.5rem;
    padding: 1.5rem 2.7rem 3rem !important;
}

@media (min-width: 992px) {
    .quick-links-section.flexible-col .links-wrap {
        display: flex;
    }
}

.quick-links-section .quick-links-head {
    position: relative;
    margin-bottom: 1.6rem;
}

.quick-links-section .quick-links-head .links-title {
    font-size: 20px;
    font-weight: 550;
    letter-spacing: 2.4px;
    text-transform: uppercase;
}

.quick-links-section .quick-links-head .link-title-mob {
    font-size: 12px;
    letter-spacing: 1.6px;
}

.quick-links-section .quick-links-head .adf,
.quick-links-section .quick-links-head .link-title-mob {
    text-transform: uppercase;
    color: #353738;
    display: block;
}

@media (min-width: 1248px) {
    .hidden-lg {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .quick-links-section .quick-links-body.collapse {
        display: block !important;
        height: auto !important;
    }
}

@media (min-width: 992px) {
    .quick-links-section .quick-links-body .links-item a {
        font-size: 14px;
    }
}

.quick-links-section .quick-links-body .links-item a {
    font-size: 14px;
    color: #353738;
    font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
}

@media (min-width: 992px) {
    .quick-links-section .quick-links-body .links-item {
        padding-bottom: 10px;
    }
}

@media (min-width: 992px) {
    .footer-social-dwonload {
        margin-top: 0;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}

.footer-social-dwonload {
    margin-top: 10px;
}

@media (min-width: 992px) {
    .footer-heading {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0;
        margin-bottom: 16px;
        text-transform: none;
    }
}

.download-etisalat .icons-wrap {
    /* display: -ms-flexbox; */
    display: flex;
    /* -ms-flex-align: center; */
    align-items: center;
}

@media (min-width: 768px) {
    .download-etisalat .icons-wrap .icon {
        width: 112px;
        height: 33px;
        margin-right: 16px;
    }
}

.download-etisalat .icons-wrap .icon {
    width: 162px;
    height: 48px;
    margin-right: 12px;
}

.download-etisalat .icons-wrap .android,
.download-etisalat .icons-wrap .apple,
.download-etisalat .icons-wrap .huawei {
    display: none;
}

.follow-etisalat .icons-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

@media (min-width: 992px) {
    .follow-etisalat .icons-wrap .icon {
        width: 40px;
        height: 40px;
        margin-right: 16px;
    }
}
[lang=ar] [dir=rtl] .download-etisalat .icons-wrap{
    flex-direction: row-reverse;
}

[lang=ar] [dir=rtl] .download-etisalat .icons-wrap .icon,
[lang=ar] [dir=rtl] .download-etisalat .icons-wrap .icon:last-child {
	margin-left: 12px;
	margin-right: 0
}
[lang=ar] [dir=rtl] .download-etisalat .icons-wrap .icon {
        @include respond-to-min($tablet){
		margin-left: 16px;
		margin-right: 0
        }
    }


.follow-etisalat .icons-wrap .icon {
    width: 36px;
    height: 36px;
    margin-right: 18px;
}

@media (min-width: 992px) {

    .follow-etisalat .icons-wrap .icon img,
    .follow-etisalat .icons-wrap .icon svg {
        width: 40px;
        height: 40px;
    }
}


.follow-etisalat .icons-wrap .icon img,
.follow-etisalat .icons-wrap .icon svg {
    width: 36px;
    height: 36px;
}


.payment-etisalat .icons-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.payment-etisalat .icons-wrap .icon,
.payment-etisalat .icons-wrap .icon img,
.payment-etisalat .icons-wrap .icon svg {
    width: 40px;
    height: 40px;
}

.payment-etisalat .icons-wrap .icon {
    width: 32px;
    height: 32px;
    margin-right: 20px;
}

@media (min-width: 992px) {

    .payment-etisalat .icons-wrap .icon,
    .payment-etisalat .icons-wrap .icon img,
    .payment-etisalat .icons-wrap .icon svg {
        width: 40px;
        height: 40px;
    }
}

.footer-links-logo-section {
    font-family: Lato,GE SS Two,Roboto,Arial,sans-serif;
    background: #fff;
    min-height: 100px;
}


@media (min-width: 992px) {
    .footer-links-logo-section .flex-container {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
    }
}

.footer-links-logo-section .flex-container {
    display: block;
}

@media (min-width: 992px) {
    .footer-links-logo-section .flex-container .footer-links-nav {
        text-align: left;
        margin-bottom: 1rem;
    }
}


.footer-links-logo-section .flex-container .footer-links-nav {
    margin-bottom: 2rem;
}

.footer-links-logo-section .footer-links-nav li {
    display: inline-block;
}

.footer-links-logo-section .footer-links-nav li a {
    border-right: 1px solid #e5e5e5;
    color: #575757;
    font-size: .85rem;
    line-height: 1.1rem;
    padding-right: 1rem;
    margin-right: 1.5rem;
    letter-spacing: .56px;
}

@media (max-width: 991px) {
    .footer-links-logo-section .footer-links-nav li a {
        font-size: .75rem;
        padding-right: 1rem;
        margin-right: 1rem;
    }
}

@media (min-width: 992px) {
    .footer-links-logo-section .copyright.desktop {
        display: block;
        text-align: left;
    }
}

@media (min-width: 992px) {
    .footer-links-logo-section .copyright {
        display: none;
    }
}

@media (min-width:992px) {
	[lang=ar] [dir=rtl] .desktop {
		text-align: right
	}
}

.footer-links-logo-section .copyright {
    text-align: center;
    color: #848789;
    font-size: 12px;
    line-height: 1.2;
    padding-top: 10px;
}

@media (min-width: 992px) {
    .footer-links-logo-section .flex-container .etisalat-logo {
        text-align: right;
    }

    .footer-links-logo-section .etisalat-logo svg {

        height: 100%;
        margin-right: 2.5rem;
        }
}

.footer-links-logo-section .etisalat-logo {
    display: block;
    text-align: right;
}

.quick-links-section .quick-links-head .collapsed+svg {
    transform: rotate(0deg);
}

.quick-links-section .quick-links-head svg {
    width: 14px;
    height: 7px;
}

.quick-links-section .quick-links-head svg {
    position: fixed !important;
    top: 6px;
    right: 0;
    transform: rotate(180deg);
    transition: all .2s ease-in-out;
}

@media (min-width: 992px) {

    .quick-links-section.flexible-col .quick-links-body .links-item a img,
    .quick-links-section.flexible-col .quick-links-body .links-item a svg {
        width: 16px;
        height: 16px;
    }
}

.quick-links-section.flexible-col .quick-links-body .links-item a img,
.quick-links-section.flexible-col .quick-links-body .links-item a svg {
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

@media (min-width: 768px) {
    .download-etisalat .icons-wrap .icon {
        width: 112px;
        height: 33px;
        margin-right: 16px;
    }
}


@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    .footer-links-logo-section img {
        float: none;
        height: 74px;
    }


    .quick-links-section {
        padding: 1.5rem 2rem !important;
    }

    .footer-links-logo-section .copyright {
        text-align: left;
        padding-left: 2rem;
    }

    .quick-links-section .arrow_accordion {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-align: start;
        -webkit-box-align: end;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        align-items: flex-end;
        background: transparent;
        border-right: 0;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        // height: 3.5rem;
        justify-content: center;
        // position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    .quick-links-section .arrow_accordion.collapsed:after {
        transform: translateY(-80%) rotate(45deg);
        -webkit-transform: translateY(-80%) rotate(45deg);
    }

    .quick-links-section .arrow_accordion:after {
        border: solid #353738;
        border-width: 0 1px 1px 0;
        content: "";
        display: block;
        line-height: 1;
        padding: 5px;
        position: absolute;
        right: 3px;
        top: 50%;
        transform: translateY(-20%) rotate(-135deg);
        -webkit-transform: translateY(-20%) rotate(-135deg);
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        width: 11px;
    }

}

*[lang="ar"] *[dir="rtl"] .quick-links-section .arrow_accordion.collapsed:after{
    right: auto;
    left: 0;
}

*[lang="ar"] *[dir="rtl"] .quick-links-section .arrow_accordion:after{
    right: auto;
    left: 0;
}


@media (min-width: 481px) and (max-width: 767px) {
    .HideForMobile {
        display: block;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .HideForMobile {
        display: block;
    }

}

@include respond-to-min($desktop){
    .footer-links-logo-section {
        .footer-links-nav {
            padding-left: 3.4rem;
        }
    
        .copyright {
            padding-left: 3.4rem;
        }
    
        img {
            height: 74px;
            float: right;
            margin-right: 2.3rem;
        }
    }
}


@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
    .quick-links-section {
        padding-left: 1rem !important;
        padding-right: 2rem !important;
    }

    .quick-links-section .arrow_accordion {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-align: start;
        -webkit-box-align: end;
        -ms-flex-pack: center;
        -webkit-box-pack: center;
        align-items: flex-end;
        background: transparent;
        border-right: 0;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        // height: 3.5rem;
        justify-content: center;
        // position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    .quick-links-section .arrow_accordion.collapsed:after {
        transform: translateY(-80%) rotate(45deg);
        -webkit-transform: translateY(-80%) rotate(45deg);
    }

    .quick-links-section .arrow_accordion:after {
        border: solid #353738;
        border-width: 0 1px 1px 0;
        content: "";
        display: block;
        line-height: 1;
        padding: 5px;
        position: absolute;
        right: 3px;
        top: 50%;
        transform: translateY(-20%) rotate(-135deg);
        -webkit-transform: translateY(-20%) rotate(-135deg);
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        width: 11px;
    }

    .footer-links-logo-section img {
        width: 260px;
        margin-left: 3rem;

        float: none;
        height: none;
        margin-right: none;
        text-align: none;
    }

    .footer-links-logo-section .copyright {
        width: 100%;
        float: inherit;
        margin-bottom: 1rem;
       margin-left: -1rem;
        line-height: 2.2;
    }
}

.quick-links-section .quick-links-head .link-title-mob {
    font-size: 12px;
    letter-spacing: 1.6px;
}

.quick-links-section .quick-links-head .adf,
.quick-links-section .quick-links-head .link-title-mob {
    font-family: Lato, GE SS Two, Roboto, Arial, sans-serif !important;
    text-transform: uppercase;
    color: #353738;
    display: block;
}

@media (max-width: 991px) {
    .follow-etisalat {
        margin-bottom: 24px;
    }
}

@media (max-width: 991px) {
    .follow-etisalat .footer-heading {
        display: none;
    }
}

@media (max-width: 991px) {
    .payment-etisalat .footer-heading {
        margin-bottom: 4px !important;
        text-align: center;
    }
}

@media (max-width: 991px) {
    .payment-etisalat .icons-wrap {
        -ms-flex-pack: center;
        justify-content: center;
    }
}


.quick-links-section .arrow_accordion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-align: start;
    -webkit-box-align: end;
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    align-items: flex-end;
    background: transparent;
    border-right: 0;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    // height: 3.5rem;
    justify-content: center;
    // position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.quick-links-section .arrow_accordion.collapsed:after {
    transform: translateY(-80%) rotate(45deg);
    -webkit-transform: translateY(-80%) rotate(45deg);
}

.quick-links-section .arrow_accordion:after {
    border: solid #353738;
    border-width: 0 1px 1px 0;
    content: "";
    display: block;
    line-height: 1;
    padding: 5px;
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-20%) rotate(-135deg);
    -webkit-transform: translateY(-20%) rotate(-135deg);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    width: 11px;
}

.copyright-year{
    font-family: arial,sans-serif !important;
}