%input-base {
  background-color: transparent !important;
  border: 0;
  border-bottom: 1px solid $grey4;
  border-radius: 0;
  box-shadow: none;
  box-sizing: content-box;
  color: $almost-black;
  font-size: $font20;
  margin: 0;
  min-height: 2.5rem;
  outline: none;
  padding: 0;
  position: relative;
  transition: box-shadow 0.3s, border 0.3s;
  width: 100%;

  label {
    content: "";
    display: block;
    font-size: $font20;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 100%;
    transition: 0.2s opacity ease-out, 0.2s color ease-out;
  }

  &:focus {
    border-bottom: 1px solid $main-green;
    box-shadow: none;
    transform-origin: 0 0;
    z-index: 0;

    ~ label {
      color: $main-green;
      font-size: $font16;
      transform: translateY(-10px) scale(0.8);
      transform-origin: 0 0;

      @include font-family-lato;
    }
  }
}

%label-style {
  color: $steel-grey;
  font-size: $font14;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  transform: translateY(10px);
  transform-origin: 0 100%;
  transition: transform 0.2s ease-out, color 0.2s ease-out;
  white-space: nowrap;

  @include respond-to-min($tablet) {
    font-size: $font20;
  }
}

.cmp-form {
  input {
    @extend %input-base;
  }

  .has-error-fields {
    border-color: $error-red;

    .icon-error,
    .alert-icon {
      display: block;
      position: relative;

      svg {
        fill: $error-red;
        height: 1.6rem;
        position: absolute;
        right: 0;
        top: 0;
        width: 1.6rem;
        z-index: 2;
      }
    }

    .alert-label {
      top: auto;
      bottom: toRem(-25);
      color: $error-red;
      font-size: $font12;
      line-height: toRem(16);
      height: 1rem;
      margin: 0;
      width: 100%;
      position: absolute;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .has-error ~ label {
      font-size: $font16;
      transform: translateY(-10px) scale(0.8);
      transform-origin: 0 0;
      z-index: 2;
    }

    .cmp-form-text__text {
      color: $error-red;
      -webkit-text-fill-color: $error-red;
    }

    // .alert-icon {
    //   height: toRem(25);
    //   position: absolute;
    //   right: 0;
    //   top: 0;
    //   width: toRem(25);
    //   z-index: 2;

    //   svg {
    //     fill: $error-red;
    //   }
    // }
  }

  .intl-error {
    label {
      font-size: $font16;
      transform: translateY(-10px) scale(0.8);
      transform-origin: 0 0;
      z-index: 2;
    }
  }

  .flag-container {
    display: none;
  }

  .iti {
    &__flag-container {
      display: none;
    }
  }

  .form-group {
    margin-bottom: $margin-step-4;
    margin-top: $margin-step-1;

    @include respond-to-min($tablet) {
      margin-bottom: $margin-step-6;
    }
  }

  .has-error {
    color: $error-red;
    font-size: $font14;
    font-weight: get-font-weight("regular");
    line-height: 1rem;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    text-transform: capitalize;
    top: toRem(48);
    white-space: nowrap;
    width: 100%;
  }
}

.cmp-form-text {
  label {
    @extend %label-style;
  }

  &__text {
    color: $almost-black !important;

    &.valid {
      ~ label {
        color: $almost-black;
        transform: translateY(-10px) scale(0.8);
        transform-origin: 0 0;

        @include ts-step-0;
      }
    }
  }

  &__textarea {
    outline: 0;

    .cmp-form .is-valid & {
      ~ label {
        transform: translateY(10px) scale(0.8) !important;
        transform-origin: 0 0 !important;
      }
    }

    .cmp-form .has-error-fields & {
      ~ label {
        font-size: toRem(16) !important;
        transform: translateY(10px) scale(0.8) !important;
        transform-origin: 0 0 !important;
      }
    }
  }

  .error-msg,
  .valid-msg {
    color: $error-red;
    position: absolute;
    top: toRem(48);
    z-index: $form-error;
  }

  .valid-msg {
    color: $almost-black;
  }

  .floating-label {
    color: $almost-black;
    transform: translateY(-10px) scale(0.8);
    transform-origin: 0 0;

    @include ts-step-0;
  }
}

.cmp-form-options {
  margin-bottom: $margin-step-4;

  @include respond-to-min($tablet) {
    margin-bottom: $margin-step-6;
  }

  &__label {
    top: toRem(10);
    transform: none !important;

    @extend %label-style;

    &.floating-label {
      color: $almost-black;
      transform: translateY(-20px) scale(0.8) !important;

      @include ts-step-0;
    }
  }

  &--drop-down {
    border: 0;
    border-bottom: toRem(1) solid $grey4;
    bottom: 0;
    font-size: $font14;
    margin-top: toRem(6);
    min-height: toRem(41);
    padding: 0;
    position: relative;
    top: toRem(2);
    width: 100%;

    @include respond-to-min($desktop-min) {
      font-size: $font20;
    }

    .select2-hidden-accessible {
      display: block !important;
    }
  }

  &--open {
    border-color: $main-green !important;
  }
}
