.cmp-form {
}

.cmp-form-text {
  &__text {
    color: $almost-black !important;
  }

  &__textarea {
    .cmp-form .is-valid & {
      ~ label {
        transform: translateY(10px) scale(0.8) !important;
        transform-origin: 0 0 !important;
      }
    }

    .cmp-form .has-error-fields & {
      ~ label {
        font-size: toRem(16) !important;
        transform: translateY(10px) scale(0.8) !important;
        transform-origin: 0 0 !important;
      }
    }
  }
}

.cmp-form-options {
  &__label {
    color: $almost-black !important;
  }
}
