//Start 
.cmp_genric__list_etisalat{
  
  ul{
   
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
   -ms-flex-align: start;
    align-items: flex-start;
    text-align: left;
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
    
   li{
    flex: 0 0 30.333333%;
    padding-top: 0;
    padding-bottom: 50px;
    @media (max-width: 767px) {        
        flex: 0 0 100%;    
    }
    @media (min-width: 768px) and (max-width: 800px) {
        flex: 0 0 48.333333%;
    }
    h5{     
      margin-bottom: 16px;
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      color: $almost-black;
      font-weight: 500;
      @media (min-width: 992px) {        
        width:80%;    
        margin-top: 38px
      }
    }

    .left-menu-title a{
       margin-bottom: 16px;
      font-size: 24px;
      font-weight: 500;
      line-height: 32px;
      color: $almost-black;
      font-weight: 500;
      font-family: Neotech-medium,GE SS Two,Roboto,Arial,sans-serif;
    }

     img {
      width: 46px;
      height: 46px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 24px;
    }
    p{
    font-family: Bariol,GE SS Two,Arial,sans-serif;
    }
    a.button{
            font-size: 14px;
            padding-right: 12px;
            line-height: 20px;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 12px;  
            position: relative;
            min-width: 180px;
            width: auto;
            color: $main-green;
            &:before {
              padding: 3.25px;
              border: solid $main-green;
              border-width: 0 1px 1px 0;
              content: "";
              position: absolute;
              line-height: 1;
              top: 50%;
              transition: all .3s ease-in-out;
              -webkit-transform: translateY(-50%) rotate(-45deg);
                right: 0;
          }
          &:hover {
            text-decoration: underline;
            color: $main-green;
        }
    }
   }
  }
 
  
  }

  .cmp_genric__list_etisalat_variation1{
  
    ul{
      font-family:Lato,GE SS Two,Roboto,Arial,sans-serif;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
     -ms-flex-align: start;
      align-items: flex-start;
      text-align:center;
      padding-left: 12px;
      padding-right: 12px;
      width: 100%;
     li{
      flex: 0 0 24.333333%;
      padding-top: 0;
      padding-bottom: 50px;
      align-items: center;
      justify-content: center;
    
      @media (max-width: 800px) {
          flex: 0 0 48.333333%;
          margin-bottom: 40px;
      }
      h5{       
        margin-bottom: 16px;
        font-size: 1rem;
        color: $steel-grey;        
        line-height: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        display: block;
        letter-spacing: 1.75px;
        min-height: 46px;
        }
     .left-menu-title a
     {
        color: #848789;
        line-height: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        display: block;
        letter-spacing: 1.75px;
        min-height: 46px;
        font-size: 1rem;
        letter-spacing: 2px;
        width:87%;
     }
      
      p{
        display:none;
      }
      img
          {
            display: -webkit-inline-box;
            margin-bottom: 24px;
            width: 64px;
            height: 64px;
            position: relative;
             right: 4px;
          }
       }
    }
   
    
    }
 




    