@mixin common-height-width {
  width: 40px;
  height: 40px;
}

.globalfootprintcontainer {
  .main-text-section {
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
    @include respond-to-min($tablet) {
      width: 756px;
    }
    @include respond-to-min($desktop) {
      width: 976px;
    }
    @include respond-to-min($desktop-wide) {
      width: 1224px;
    }
    &__textContent p {
      font-size: $font14;
      line-height: 20px;
      color: $dark-gray;
      @include font-family-lato;
      margin-bottom: 0.75rem;
      @include respond-to-min($desktop) {
        font-size: $font16;
        line-height: 1.5rem;
      }
    }
  }
}

.global-footprint-swiper {
  height: 484px;
  overflow: hidden;
  position: relative;
  .global-slide-img {
    position: absolute;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      @include respond-to-min($desktop) {
        height: 484px;
        object-fit: cover;
      }
    }
  }
  .swiper-gallery-slide .swiper-slide .swiper-slide-container {
    display: none;
  }
  .swiper-gallery-thumbs .swiper-slide .global-slide-content {
    display: none;
  }
}
.global-footprint-swiper .swiper-slide {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: $font18;
  display: flex;
  justify-content: center;
  align-items: center;
}
.global-footprint-swiper .swiper-gallery-slide {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.global-footprint-swiper .swiper-gallery-slide .swiper-button-wrapper {
  width: 145px;
  margin: auto;
  position: absolute;
  left: 4.5%;
  right: 0;
  top: 56%;
  display: block;
  padding: 2rem;
  z-index: 9999;
}
@media (max-width: 991px) {
  .global-footprint-swiper .swiper-gallery-slide .swiper-button-wrapper {
    display: none;
  }
}
@media (max-width: 1247px) {
  .global-footprint-swiper .swiper-gallery-slide .swiper-button-wrapper {
    top: 37%;
    left: 0;
  }
}

.global-footprint-swiper .swiper-gallery-slide .swiper-button-wrapper .swiper-button-prev,
.global-footprint-swiper .swiper-gallery-slide .swiper-button-wrapper .swiper-button-next {
  width: 44px;
  height: 44px;
  border-radius: 28px;
  background-color: $white;
  background-image: none;
  text-align: center;
  top: 50%;
  outline: none;
}
.global-footprint-swiper .swiper-gallery-slide .swiper-button-wrapper .swiper-button-prev svg,
.global-footprint-swiper .swiper-gallery-slide .swiper-button-wrapper .swiper-button-next svg {
  width: 100%;
  height: 100%;
}
.global-footprint-swiper .swiper-gallery-slide .swiper-button-wrapper .swiper-button-prev svg *,
.global-footprint-swiper .swiper-gallery-slide .swiper-button-wrapper .swiper-button-next svg * {
  fill: $main-green;
}
.global-footprint-swiper .swiper-gallery-slide .swiper-button-wrapper .swiper-button-prev {
  padding: 13px 10px 13px 10px;
  left: 10%;
}
.global-footprint-swiper .swiper-gallery-slide .swiper-button-wrapper .swiper-button-next {
  padding: 13px 10px 12px 13px;
  right: 10%;
}
.global-footprint-swiper .swiper-gallery-slide .global-slide-content {
  position: relative;
  width: 100%;
  height: 100%;
}
.global-footprint-swiper .swiper-gallery-slide .global-slide-content .container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  // padding-left: 12px;
  // padding-right: 12px;
  // @include respond-to-min($tablet) {
  //     width: 756px;
  // }
  // @include respond-to-min($desktop) {
  //     width: 976px;
  // }
  // @include respond-to-min($desktop-wide) {
  //     width: 1224px;
  // }
}

.global-footprint-swiper .swiper-gallery-slide .global-slide-content .global-slide-info {
  position: absolute;
  left: toRem(12);
  top: 1rem;
  border-radius: toRem(8);
  box-shadow: 0 0 toRem(6) 0 rgb(0 0 0 / 5%);
  background-color: $white;
  padding: 1.5rem;
  width: toRem(384);
  min-height: toRem(436);
  text-align: left;
}
@media (max-width: 991px) {
  .global-footprint-swiper .swiper-gallery-slide .global-slide-content .global-slide-info {
    display: none;
  }
}
.global-footprint-swiper .swiper-gallery-slide .global-slide-content .global-slide-info span.icon-flag {
  @include common-height-width;
  display: block;
  margin-bottom: 8px;
  position: relative;
}
.globalfootprintcontainer .swiper-container .swiper-wrapper .swiper-slide span.icon-flag img {
  @include common-height-width;
}
.global-footprint-swiper .swiper-gallery-slide .global-slide-content .global-slide-info span.icon-flag svg {
  width: 100%;
  height: 100%;
}
.global-footprint-swiper .swiper-gallery-slide .global-slide-content .global-slide-info h4 {
  font-size: $font20;
  @include font-family-lato;
  font-weight: bold;
  line-height: 1.4;
  letter-spacing: normal;
  color: $almost-black;
  margin-bottom: 1rem;
  margin-top: 0;
}
.global-footprint-swiper .swiper-gallery-slide .global-slide-content .global-slide-info ul {
  margin-top: 0;
  margin-bottom: 12.5px;
}
.global-footprint-swiper .swiper-gallery-slide .global-slide-content .global-slide-info ul li {
  font-size: $font14;
  font-weight: normal;
  line-height: 1.86;
  letter-spacing: normal;
  color: $steel-grey;
  @include font-family-lato;
}
.global-footprint-swiper .swiper-gallery-slide .global-slide-content .global-slide-info .learn-more {
  display: inline-block;
  font-size: $font14;
  line-height: 1.25rem;
  position: relative;
  font-weight: 500;
}
.global-footprint-swiper .swiper-gallery-slide .global-slide-content .global-slide-info .learn-more::before {
  padding: 3.3px;
  right: -10px;
}
.global-footprint-swiper .swiper-gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  width: 660px;
  overflow: visible;
  position: absolute;
  top: 80%;
  left: 0;
  right: 0;
}
@media (max-width: 1247px) {
  .global-footprint-swiper .swiper-gallery-thumbs {
    width: 282px;
  }
}
.global-footprint-swiper .swiper-gallery-thumbs .swiper-slide {
  width: 162px;
  height: 100%;
  background: none;
}
.global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content {
  width: auto;
  position: relative;
  cursor: pointer;
  transform: translateY(-15px);
  transition: transform 0.5s ease;
}
@media (max-width: 991px) {
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content {
    bottom: 143px;
    transform: translateY(0px);
  }
}
.global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content .slide-thumb-img {
  width: 100%;
  height: auto;
}
.global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content .slide-thumb-img img {
  width: 100%;
  height: 162px;
  object-fit: cover;
  border-radius: 8px;
}
@media (max-width: 991px) {
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content .slide-thumb-img img {
    border-radius: 4px 4px 0px 0px;
    height: 142px;
  }
}
.global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content .slide-thumb-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem 0.4rem;
  border-radius: 8px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.6));
  text-align: left;
  width: 100%;
  height: 162px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content .slide-thumb-info span.icon-flag {
  @include common-height-width;
  display: block;
  margin-bottom: 1rem;
  position: relative;
}
.global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content .slide-thumb-info span.icon-flag svg {
  width: 100%;
  height: 100%;
}
.global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content .slide-thumb-info h4 {
  font-size: $font15;
  font-weight: 600;
  line-height: 1.75;
  letter-spacing: normal;
  color: $white;
  margin: 0 0 12px 1px;
}
.global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content .slide-thumb-info-mobile {
  display: none;
}
@media (max-width: 991px) {
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content .slide-thumb-info {
    height: 238px;
    padding: 1rem 0.8rem;
  }
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content .slide-thumb-info span.icon-flag {
    @include common-height-width;
  }
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content .slide-thumb-info h4 {
    line-height: 1.4;
    font-size: $font20;
    @include font-family-lato;
    color: $almost-black;
  }
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content .slide-thumb-info-mobile {
    background-color: $white;
    padding: toRem(21) toRem(18);
    text-align: left;
    display: block;
    border-radius: 0 0 toRem(4) toRem(4);
    ul {
      margin-bottom: toRem(12.5);
    }
  }
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content .slide-thumb-info-mobile h4 {
    font-size: $font20;
    font-weight: bold;
    line-height: 1.4;
    letter-spacing: normal;
    color: $black;
    margin-bottom: 0.5rem;
    margin-top: 0px;
    @include font-family-lato;
  }
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content .slide-thumb-info-mobile ul li {
    font-size: $font14;
    font-weight: normal;
    line-height: 1.66;
    letter-spacing: normal;
    color: $steel-grey;
    @include font-family-lato;
  }
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content .slide-thumb-info-mobile .learn-more {
    display: inline-block;
  }
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content .slide-thumb-info-mobile .learn-more::before {
    padding: 3.3px;
    right: -10px;
  }
}
@media (max-width: 991px) {
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content .slide-thumb-info {
    height: 153px;
    top: 0;
    bottom: auto;
    background: none;
  }
}
@media (max-width: 991px) {
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content .slide-thumb-info h4 {
    display: none;
  }
}
.global-footprint-swiper .swiper-gallery-thumbs .swiper-slide.swiper-slide-active {
  width: 282px;
}
.global-footprint-swiper .swiper-gallery-thumbs .swiper-slide.swiper-slide-active .slide-thumb-content {
  bottom: 65px;
  width: 282px;
  transform: translateY(0px);
}
@media (max-width: 991px) {
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide.swiper-slide-active .slide-thumb-content {
    bottom: 143px;
    transform: translateY(0px);
  }
}
.global-footprint-swiper .swiper-gallery-thumbs .swiper-slide.swiper-slide-active .slide-thumb-content .slide-thumb-img img {
  height: 238px;
}
@media (max-width: 991px) {
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide.swiper-slide-active .slide-thumb-content .slide-thumb-img img {
    height: 142px;
  }
}
.global-footprint-swiper .swiper-gallery-thumbs .swiper-slide.swiper-slide-active .slide-thumb-content .slide-thumb-info {
  height: 238px;
  padding: 1rem;
}
@media (max-width: 991px) {
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide.swiper-slide-active .slide-thumb-content .slide-thumb-info {
    height: 153px;
  }
}
.global-footprint-swiper .swiper-gallery-thumbs .swiper-slide.swiper-slide-active .slide-thumb-content .slide-thumb-info span.icon-flag {
  @include common-height-width;
}
.global-footprint-swiper .swiper-gallery-thumbs .swiper-slide.swiper-slide-active .slide-thumb-content .slide-thumb-info span.icon-flag svg {
  width: 100%;
  height: 100%;
}
.global-footprint-swiper .swiper-gallery-thumbs .swiper-slide.swiper-slide-active .slide-thumb-content .slide-thumb-info h4 {
  font-size: $font20;
  margin-left: 3px;
  margin-bottom: 12px;
}
@media (min-width: 991px) {
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide.swiper-slide-active:hover .slide-thumb-content {
    transform: translateY(0px);
    bottom: 65px;
  }
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide.swiper-slide-active:hover .slide-thumb-content .slide-thumb-img img {
    height: 238px;
  }
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide.swiper-slide-active:hover .slide-thumb-content .slide-thumb-info {
    height: 238px;
    padding: 1rem;
  }
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide.swiper-slide-active:hover .slide-thumb-content .slide-thumb-info h4 {
    margin-bottom: 12px;
  }
}
@media (min-width: 991px) {
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide:hover .slide-thumb-content {
    transform: translateY(-22px);
  }
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide:hover .slide-thumb-content .slide-thumb-img img {
    height: 162px;
  }
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide:hover .slide-thumb-content .slide-thumb-info {
    height: 162px;
    padding: 0.5rem 0.4rem;
  }
  .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide:hover .slide-thumb-content .slide-thumb-info h4 {
    margin-bottom: 12px;
  }
}
*[lang="ar"] *[dir="rtl"] .global-footprint-swiper .swiper-gallery-slide .global-slide-content .global-slide-info {
  right: 12px;
  left: auto;
  text-align: right;
}
*[lang="ar"] *[dir="rtl"] .global-footprint-swiper .swiper-gallery-slide .global-slide-content .global-slide-info .learn-more::before {
  right: auto;
}
*[lang="ar"] *[dir="rtl"] .global-footprint-swiper .swiper-gallery-slide .swiper-button-wrapper {
  left: 0;
  right: 4.5%;
}
*[lang="ar"] *[dir="rtl"] .global-footprint-swiper .swiper-gallery-slide .swiper-button-wrapper .swiper-button-next {
  right: 10%;
  left: auto;
}
*[lang="ar"] *[dir="rtl"] .global-footprint-swiper .swiper-gallery-slide .swiper-button-wrapper .swiper-button-prev {
  left: 10%;
  right: auto;
}
*[lang="ar"] *[dir="rtl"] .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content .slide-thumb-info-mobile {
  text-align: right;
}
*[lang="ar"] *[dir="rtl"] .global-footprint-swiper .swiper-gallery-thumbs .swiper-slide .slide-thumb-content .slide-thumb-info-mobile .learn-more::before {
  right: auto;
}
