.backToTop {
  @include font-family-lato;
      & a {
        display: inline-block;
        background-color: $green-btn;
        width: toRem(82);
        height: toRem(97);
        right:0;
        padding: 1rem;
        text-align: center;
        border-radius: toRem(8);
        position: fixed;
        bottom: toRem(30);
        right: toRem(30);
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
      &.show {
        opacity: 1;
        visibility: visible;
          }
      &:hover {   
        cursor: pointer;    
      }   
   }
   
   & .cmp-button--secondary {
    display: block;
    color: $white;
    font-size: $font12pt;
    font-weight: normal;
    line-height: 1rem;
    background-color: transparent;
    letter-spacing: 0;
    padding: 0;
    border:none;
    & .space-top {
      margin-top: .2rem;
      font-weight: get-font-weight("regular");
    }
    &:hover, &:focus{     
      background-color: transparent;
      color: $white;
    }
   }
   @include respond-to-max($tablet) {
    & a{
      width:toRem(130);
      height: toRem(32);
      padding: .5rem;
      right: 1rem;
      display: block;
      float: left
    }
    svg {
        float: left;
        height: toRem(12);
        display: block;
        margin-top: toRem(2);
    }
    & >g {
        stroke-width: 2;
      }
    & .cmp-button--secondary {
     
       & .space-top {          
         margin-top: .1rem;
         line-height: 1rem;
         color: $white;
         font-size: .755rem;         
         float: left;
       }
   
    } 
          
 
}

  
 

 [lang=ar] [dir=rtl] .backToTop {
  & a{
     right: auto;
     left: toRem(30);
   }
 }
}