.top-nav-section {
    height: 48px;
    padding-left: 15px;
    padding-right: 15px;
}

.top-nav,
.top-nav.fixedNav {
    position: fixed;
    width: 100%;
    transition: all .3s ease-in-out;
    transition: .3s;
}

.top-nav {
    background-color: #f1f1eb;
    text-transform: uppercase;
    border: 0;
    margin-bottom: 0;
    z-index: 1030;
    top: 0;
    min-height: 48px;
}

.top-nav-section #top-nav-cart-img,
.top-nav-section .links svg {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    transform: translateZ(0)
}

.top-nav-section .links li {
    display: inline-block
}

.top-nav-section .links li a {
    padding: 0 1rem
}

.top-nav-section .top-nav-left .links a {
    font-weight: 800;
    height: 47px;
}

@media (max-width: 1280px) and (min-width: 992px) {
    .top-nav-section .links li a {
        padding: 0 .5rem;
    }
}

@media (min-width: 992px) and (max-width: 1280px) {
    .top-nav-section .links li a {
        padding: 0 .5rem;
    }

    .top-nav-section .links li a {
        padding: 0 1rem;
    }
}

.top-nav a {
    display: inline-block;
    width: 100%;
    height: 48px;
    font-size: .6875rem;
    letter-spacing: .18181818em;
    color: #353738;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}





@media (min-width:992px) and (max-width:1280px) {
    .top-nav-section .links li a {
        padding: 0 .5rem
    }
}

.top-nav-section .links li a svg {
    stroke: #353738
}

.top-nav-section .links li a .link-icon-wrapper {
    position: relative
}

.top-nav-section .links li a .link-icon-wrapper .link-icon {
    position: absolute;
    top: -8px;
    right: -20px;
    min-width: 14px;
    min-height: 14px;
    height: 14px;
    width: 14px
}

.top-nav-section .top-nav-left .links a {
    font-weight: 800;
    height: 47px
}

.top-nav-section .top-nav-left .links .active>a,
.top-nav-section .top-nav-left .links .active>a:hover,
.top-nav-section .top-nav-left .links a:hover {
    background: transparent;
    border-bottom: 2px solid #719e19;
    color: #719e19;
    height: 47px
}

.top-nav-section .top-nav-right {
    text-align: right
}

.top-nav-section .top-nav-right .links li a {
    padding: 0 1.2rem;
    position: relative;
    cursor: pointer
}

@media (min-width:992px) and (max-width:1366px) {
    .top-nav-section .top-nav-right .links li a {
        padding: 0 .5rem
    }
}

.top-nav-section .top-nav-right .links li:last-child a {
    padding-right: 0
}

.top-nav-section .top-nav-right .links .badge-top {
    top: 6px;
    z-index: 99;
    letter-spacing: 0;
    font-weight: 700
}

.top-nav-section .top-nav-right .links .language-switch-content+svg {
    width: 8px;
    height: 5px
}

.top-nav-section .active>a,
.top-nav-section .active>a:focus,
.top-nav-section .active>a:hover,
.top-nav-section a:focus,
.top-nav-section a:hover {
    background: transparent
}

html[lang=ar] [dir=rtl] .top-nav-section .top-nav-right .links li:last-child a {
    padding-left: 0;
    padding-right: 1.5rem
}

html[lang=ar] [dir=rtl] .top-nav-section .top-nav-right .links li:last-child a:hover {
    cursor: pointer
}

html[lang=ar] [dir=rtl] .top-nav-section .top-nav-left .link-icon-wrapper .link-icon {
    left: -20px;
    right: auto
}



@media (min-width: 992px) {
    .main-menu-desktop .navbar-default {
        height: 90px;
        top: 48px;
    }
}

.main-menu-desktop .navbar-default {
    top: 0;
    position: fixed;
    height: 56px;
    width: 100%;
    background-color: #fff;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 15%);
    transition: all .25s ease-in-out;
    z-index: 12;
}

.main-menu-desktop .navbar-default .navbar {
    border: 0;
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .main-menu-desktop .navbar-default .logo-container {
        display: -ms-flexbox;
        display: flex;
    }
}

.main-menu-desktop .navbar-default .logo-container {
    width: 100%;
    display: block;
}

.main-menu-desktop .nav-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.main-menu-desktop .navbar-default {
    top: 0;
    position: fixed;
    height: 56px;
    width: 100%;
    background-color: #fff;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .15);
    transition: all .25s ease-in-out;
    z-index: 12
}

@media (min-width:992px) {
    .main-menu-desktop .navbar-default {
        height: 90px;
        top: 48px
    }
}

.main-menu-desktop .navbar-default .navbar {
    border: 0;
    margin-bottom: 0
}

.main-menu-desktop .navbar-default .logo-container {
    width: 100%;
    display: block
}

@media (min-width:992px) {
    .main-menu-desktop .navbar-default .logo-container {
        display: -ms-flexbox;
        display: flex
    }
}

.main-menu-desktop .navbar-default .logo-container .navbar-header {
    height: 56px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    float: none;
    transition: all .25s ease-in-out
}

@media (min-width:992px) {
    .main-menu-desktop .navbar-default .logo-container .navbar-header {
        height: 90px;
        float: left
    }
}

.main-menu-desktop .navbar-default .logo-container .navbar-header a {
    width: 86px;
    transition: all .25s ease-in-out;
    margin-bottom: -5px
}

@media (min-width:992px) {
    .main-menu-desktop .navbar-default .logo-container .navbar-header a {
        width: 150px;
        transition: all .25s ease-in-out
    }
}

.main-menu-desktop .navbar-default .logo-container .navbar-header a img {
    width: 86px;
    height: auto;
    margin-left: 3.7rem;
    margin-top: -5px;
}

@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
    .main-menu-desktop .navbar-default .logo-container .navbar-header a img {
        margin-left: 1.7rem;
    }

    .hamburger {
        margin-left: 14px;
    }
}

@media only screen and (device-width : 360px) and (device-height : 640px) and (-webkit-device-pixel-ratio : 3) {
    .main-menu-desktop .navbar-default .logo-container .navbar-header a img {
        margin-left: 1.7rem;
    }
}

@media (min-width:992px) {
    .main-menu-desktop .navbar-default .logo-container .navbar-header a img {
        width: 140px;
        transition: all .25s ease-in-out;
        margin-left: 2.7rem;
    }
}

.main-menu-desktop .navbar-default .navbar-links {
    font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif
}

.main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li>a {
    height: 90px;
    line-height: 90px;
    padding: 0;
    padding-right: 23px;
    transition: all .25s ease-in-out;
    color: #6b6b6b;
    cursor: pointer;
    font-size: 1rem
}

@media (min-width:1248px) {
    .main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li>a {
        padding-right: 1.5rem
    }
}

.main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li>a:hover {
    color: #6b6b6b
}

@media (-ms-high-contrast:none) {
    .main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li>a {
        font-size: 14px;
        padding-right: 1rem
    }

    .main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li>a ::-ms-backdrop {
        font-size: 14px;
        padding-right: 1rem
    }
}

@media (-ms-high-contrast:none) and (min-width:1248px) {
    .main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li>a {
        font-size: 16px;
        padding-right: 23px
    }
}

.main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li.active>a {
    color: #719e19;
    background-color: transparent
}

.main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav li:last-child a {
    padding-right: 0
}

.main-menu-desktop .navbar-default .user-loged-in {
    font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif
}

.main-menu-desktop .navbar-default .user-loged-in ul.navbar-right {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0
}

@media (min-width:992px) {
    .main-menu-desktop .navbar-default .user-loged-in ul.navbar-right {
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin-right: -12px
    }
}

.main-menu-desktop .navbar-default .user-loged-in ul.navbar-right>li>a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    color: #6b6b6b;
    line-height: 90px;
    transition: all .25s ease-in-out;
    padding: 0 12px
}

@media (min-width:1248px) {
    .main-menu-desktop .navbar-default .user-loged-in ul.navbar-right>li>a {
        padding: 0 1.5rem
    }

    .main-menu-desktop .navbar-default .user-loged-in ul.navbar-right>li>a:after {
        right: -5px
    }
}

@media (min-width:992px) {
    .main-menu-desktop .navbar-default .user-loged-in ul.navbar-right>li:last-child>a {
        padding-right: 12px
    }
}

@media (min-width:992px) {
    .main-menu-desktop .navbar-default .user-loged-in ul.navbar-right .search-link a {
        border-left: 1px solid #f1f1eb
    }
}

.main-menu-desktop .navbar-default .user-loged-in ul.navbar-right .search-link a svg {
    width: 1.5rem;
    height: 1.5rem
}

.main-menu-desktop .navbar-default.fixedNav {
    height: 56px
}

.main-menu-desktop .navbar-default.fixedNav .navbar-links .nav.navbar-nav li a {
    height: 56px;
    line-height: 56px
}

.main-menu-desktop .navbar-default.fixedNav .user-loged-in ul.navbar-right>li>a {
    line-height: 56px
}

.main-menu-desktop .navbar-default.fixedNav .logo-container .navbar-header {
    height: 56px
}

.main-menu-desktop .navbar-default.fixedNav .logo-container .navbar-header a,
.main-menu-desktop .navbar-default.fixedNav .logo-container .navbar-header a svg {
    width: 86px;
    transition: all .25s ease-in-out
}

[lang=ar] [dir=rtl] .main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li>a {
    padding-right: 0;
    padding-left: 23px
}

@media (min-width:1248px) {
    [lang=ar] [dir=rtl] .main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li>a {
        padding-left: 1.5rem
    }
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7;
}

@media (min-width: 768px) {
    .navbar-nav {
        margin-right: 0 !important;
    }
}

@media (min-width: 768px) {
    .navbar-left {
        float: left !important;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
}

.navbar-nav {
    margin: 6.25px -12px;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 12.5px;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (min-width: 1248px) {
    .main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li>a {
        padding-right: 1.5rem;
    }
}

.main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li>a {
    height: 90px;
    line-height: 90px;
    padding: 0;
    padding-right: 23px;
    transition: all .25s ease-in-out;
    color: #6b6b6b;
    cursor: pointer;
    font-size: 1rem;
}

.sub-account-menu-wrap {
    position: absolute;
    display: none;
}

.navbar-nav li:hover a+.sub-account-menu-wrap {
    display: block !important;
}

.sub-account-menu-wrap .sub-account-menu {
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    min-width: 254px;
    border-top: 3px solid #719e19;
    padding: 0 1.5rem;
    margin-left: -1.5rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 12.5px;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sub-account-menu-wrap .sub-account-menu li a {
    font-size: .875rem;
    -ms-flex-pack: left;
    justify-content: left;
    display: block;
    color: #6b6b6b;
    height: 48px !important;
    line-height: 48px !important;
    letter-spacing: .6px;
}

a,
a:hover {
    text-decoration: none;
}

@media (min-width: 768px) {
    .navbar-nav>li {
        float: left;
    }
}

.nav>li,
.nav>li>a {
    position: relative;
    display: block;
}


// Mobile Menu CSS Start
.main-menu-mobile.sticky {
    background: #fff;
}

.main-menu-mobile {
    display: none;
    top: -100%;
    position: fixed;
    left: 0;
    overflow-y: auto;
    height: 100%;
    z-index: 10;
    transition: all .2s ease-in-out;
    background-color: #000000bd;
}

@media (min-width: 1248px) {
    .hidden-lg {
        display: none !important;
    }
}

.main-menu-mobile.sticky .visible_menu>.panel-group:first-child {
    margin-bottom: 4rem;
}

.main-menu-mobile .panel-group {
    margin-bottom: 0;
}

@media (min-width: 768px) {

    .main-menu-mobile .menu-account,
    .main-menu-mobile .panel-group {
        width: 768px;
    }
}

.main-menu-mobile .panel-group .panel {
    border: 0;
    box-shadow: none;
    background-color: #f7f8f4;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
}

.panel-default {
    border-color: #e2e1da;
}

.panel {
    margin-bottom: 25px;
    background-color: #f1f1eb;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}

@media (min-width:768px) {

    .main-menu-mobile .menu-account,
    .main-menu-mobile .panel-group {
        width: 768px
    }
}

.main-menu-mobile .panel-group {
    margin-bottom: 0
}

.main-menu-mobile .panel-group .panel {
    border: 0;
    box-shadow: none;
    background-color: #f7f8f4
}

.main-menu-mobile .panel-group .panel+.panel {
    margin-top: 0
}

.main-menu-mobile .panel-group .panel-heading {
    background-color: #fff;
    padding: 0 1rem
}

.main-menu-mobile .panel-group .panel-heading .panel-title {
    height: 3.5rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    margin: 0
}

.main-menu-mobile .panel-group .panel-heading .panel-title a {
    font-size: .875rem;
    color: #6b6b6b;
    text-transform: uppercase;
    font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif;
}

.main-menu-mobile .panel-group .panel-heading .panel-title a.active {
    color: #719e19
}

.main-menu-mobile .panel-group .panel-heading .panel-title .arrow_accordion {
    position: absolute;
    top: 0;
    right: 0;
    height: 3.5rem;
    width: 100%;
    border-right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-end;
    -ms-flex-pack: center;
    justify-content: center;
    background: transparent
}

.main-menu-mobile .panel-group .panel-heading .panel-title .arrow_accordion:after {
    content: "";
    display: block;
    width: 11px;
    right: 3px;
    border: solid #353738;
    border-width: 0 1px 1px 0;
    padding: 5px;
    position: absolute;
    line-height: 1;
    transform: translateY(-20%) rotate(-135deg);
    -webkit-transform: translateY(-20%) rotate(-135deg);
    top: 50%;
    transition: all .3s ease-in-out
}

.main-menu-mobile .panel-group .panel-heading .panel-title .arrow_accordion.collapsed:after {
    transform: translateY(-80%) rotate(45deg);
    -webkit-transform: translateY(-80%) rotate(45deg)
}


.main-menu-mobile .panel-group .panel-collapse .panel-body {
    padding: 0 0 0 2rem;
}

.main-menu-mobile .panel-group .panel-collapse .panel-body .item_sub-menu {
    display: block;
    text-transform: uppercase;
    font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif;
    color: #6b6b6b;
    padding: 1.5rem 0;
    font-size: .875rem
}

.main-menu-mobile .panel-group .panel-collapse .panel-body .item_sub-menu.active {
    color: #719e19
}

.main-menu-mobile .panel-group.panel-footer-wraper {
    position: relative;
    background-color: #f7f8f4
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel-body {
    border-top: 0 !important
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel {
    width: 75%
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel .panel-heading {
    background-color: transparent !important
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel-collapse a,
.main-menu-mobile .panel-group.panel-footer-wraper .panel-default a {
    font-size: 11px !important;
    letter-spacing: 2px;
    color: #353738 !important;
    font-family: Lato, GE SS Two, Roboto, Arial, sans-serif
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel-collapse .arrow_accordion:after,
.main-menu-mobile .panel-group.panel-footer-wraper .panel-default .arrow_accordion:after {
    width: 6px;
    padding: 2.4px
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel-languange {
    padding-left: 2rem;
    border-left: 1px solid #f1f1eb;
    font-family: Neotech-medium, GE SS Two, Arial, sans-serif;
    position: absolute;
    top: 0;
    height: 3.5rem;
    right: .875rem
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel-languange a {
    margin-top: 12px;
    display: inline-block;
    font-weight: 300;
    color: #353738
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel-languange a .lang-change {
    margin-left: .75rem;
    float: right
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel-languange a .lang-change svg {
    width: .5rem;
    height: .3rem
}

.hamburger {
    float: left;
    margin-left: 20px;
}


.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #f7f8f4 !important;
}

// .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
//     border-top: 1px solid #ddd;
// }
.panel-body {
    padding: 16px;
}

.panel-default>.panel-heading {
    color: #242424;
    background-color: #e2e1da;
    border-color: #e2e1da;
}

.panel-group .panel-heading {
    border-bottom: 0;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
}

.panel-heading>.dropdown .dropdown-toggle,
.panel-title {
    color: inherit;
}

.collapse {
    display: none;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
}

@media (min-width: 992px) {
    .hamburger {
        float: none;
    }
}

.hamburger .line {
    width: 24px;
    height: 1px;
    background-color: #2b2e2c;
    display: block;
    margin: 6px auto;
    transition: all .3s ease-in-out;
}

.main-menu-desktop .navbar-default.fixedNav .logo-container .navbar-header a,
.main-menu-desktop .navbar-default.fixedNav .logo-container .navbar-header a svg {
    width: 86px;
    transition: all .25s ease-in-out;
}

@media (min-width: 992px) {
    .main-menu-desktop .navbar-default .logo-container .navbar-header a {
        width: 150px;
        transition: all .25s ease-in-out;
    }
}

.main-menu-desktop .navbar-default .logo-container .navbar-header a {
    width: 86px;
    transition: all .25s ease-in-out;
    margin-bottom: -5px;
}

.main-menu-mobile.mob-visible {
    top: 0;
    padding-top: 56px;
    display: block;
    width: 100%;
}

.sub_menu_mobile {
    padding: 0 1rem;
}

.hamburger.is-active .line:first-child {
    transform: translateY(7px) rotate(45deg);
}

.nav-footer-inline-wrapper {
    -ms-flex: 2 2 100%;
    flex: 2 2 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 2rem
}

.nav-footer-inline-wrapper .nav-footer-wrapper {
    max-height: 59px;
    min-height: 59px
}

.nav-footer-inline-wrapper .nav-footer-wrapper:first-child {
    min-height: 229px;
    max-height: 229px
}

.nav-site-switch {
    font-size: .7rem;
    text-transform: uppercase;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    letter-spacing: 2px;
    color: #353738;
    padding: 1.25rem 1rem;
}

.hamburger.is-active .line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.hamburger.is-active .line:nth-child(2) {
    opacity: 0;
}

@media only screen and (device-width : 1024px) and (device-height : 1366px) and (-webkit-device-pixel-ratio : 3) {
    .hidden-xs {
        margin-left: 3rem;
    }
}

*[lang="ar"] *[dir="rtl"] .top-nav span.language-switch-content {
    font-size: .6875rem;
}

.top-nav span.language-switch-content {
    font-size: 1rem;
    font-weight: 100;
    font-family: GE SS Two,Arial,sans-serif;
    letter-spacing: 0;
}

//lang nav
ul {
	.language
     {
		list-style: none;
        text-transform: uppercase;
		display: block;
		padding-right: 28px;
		position: relative;
        a {
            font-size: $font12;
            .arabic-lang-content{
                font-size: $font16;
            }
         &:after{
            border-style: solid;
            border-width: 1px 1px 0 0;
            content: "";
            display: inline-block;
            height: 0.8em;
            left: 7em;
            top: 14px;
            position: absolute;
            transform: rotate( 135deg);
            vertical-align: top;
            width: 0.8em;
            padding-right: 0;
        }
         &.open {
           &:after {
             top: 1.65em;
            transform: rotate(-45deg);
            }
	    }
    }
}
        
    .language-menu {
        display:none;
		text-align: center;
		left: -30px;
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 48px;
		width: 150px;
		z-index: 999;
		background-color: $sand-white;

        li {
            text-transform: uppercase;
            display: inline-block;
            padding: 10px;
            width: calc(100% - 45px);
                a {
                    color: $almost-black;
                    font-size:$font12;
                    padding: 2px!important;
                    height: 20px;
                    .arabic-lang-content{
                        font-size: $font16;
                    }
                        &:after{
                             display: none;
                         }
                        &:hover{
                            color: $main-green;
                        }
                 }
             }	
        }
    }