.spacer {
    height: 3rem;
    width: 100%;
    clear: both;
    padding: 0;
    margin: 0;
}
.four-col{
    width: 223.762px;
    margin-right: 52.65px !important;
}
.three-col{
	width: 315.9px;
	margin-right: 52.65px !important;
}

.icon-area{
    background-image: url("../resources/images/smartphone.png");
}
.context-nav-box-wrap {
    text-align: center;
    padding: 0 0 2rem;
    overflow: hidden
}

.context-nav-box-wrap .swiper-wrapper {
    -webkit-filter: blur(0)
}

.context-nav-box-wrap .swiper-wrapper .rect-responsive {
    padding-bottom: 65%
}

.context-nav-box-wrap .swiper-wrapper .swiper-slide {
    width: 66.66666667%
}

.context-nav-box-wrap .context-nav-box {
    background-color: #fff;
    transition: all .2s ease-in-out;
    transition: .2s
}

.context-nav-box-wrap .context-nav-box.content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 10px
}

.context-nav-box-wrap .context-nav-box:after {
    content: " ";
    background-color: #719e19;
    width: 100%;
    height: 6.57%;
    position: absolute;
    left: 0;
    bottom: 0
}

.context-nav-box-wrap .context-nav-box a h5 {
    color: #353738
}

.context-nav-box-wrap .context-nav-box h5 {
    position: relative;
    padding-top: 1em;
    margin-top: .5rem
}

.context-nav-box-wrap .context-nav-box h5:after {
    content: " ";
    width: 2.5rem;
    height: 1px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background-color: #719e19
}

.context-nav-box-wrap .context-nav-box.hover,
.context-nav-box-wrap .context-nav-box:hover {
    cursor: pointer;
    background-color: #719e19
}

.context-nav-box-wrap .context-nav-box.hover a h5,
.context-nav-box-wrap .context-nav-box:hover a h5 {
    color: #fff
}

.context-nav-box-wrap .context-nav-box.hover h5:after,
.context-nav-box-wrap .context-nav-box:hover h5:after {
    background-color: #fff
}

.context-nav-box-wrap .context-nav-box.hover .icon-area img .main-stroke,
.context-nav-box-wrap .context-nav-box.hover .icon-area object .main-stroke,
.context-nav-box-wrap .context-nav-box.hover .icon-area svg .main-stroke,
.context-nav-box-wrap .context-nav-box:hover .icon-area img .main-stroke,
.context-nav-box-wrap .context-nav-box:hover .icon-area object .main-stroke,
.context-nav-box-wrap .context-nav-box:hover .icon-area svg .main-stroke {
    stroke: #fff
}

.context-nav-box-wrap .context-nav-box h5 {
    height: 3.75rem;
    padding-left: 5%;
    padding-right: 5%
}

.context-nav-box-wrap .context-nav-box .icon-area img,
.context-nav-box-wrap .context-nav-box .icon-area object,
.context-nav-box-wrap .context-nav-box .icon-area svg {
    height: 3.375rem;
    width: auto
}

.context-nav-box-wrap .context-nav-box .icon-area img .main-stroke,
.context-nav-box-wrap .context-nav-box .icon-area object .main-stroke,
.context-nav-box-wrap .context-nav-box .icon-area svg .main-stroke {
    stroke: #353738
}

.context-nav-box-wrap .swiper-pagination-bullets {
    display: block;
    height: 32px
}

.context-nav-box-wrap .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 29px 5px 0;
    height: 3px;
    width: 20px;
    border-radius: 0
}

.context-nav-box-wrap .swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #242424
}

@media (min-width: 425px) {
    .context-nav-box-wrap .swiper-wrapper .rect-responsive {
        padding-bottom: 65%
    }

    .context-nav-box-wrap .context-nav-box .icon-area svg {
        height: 3.375rem
    }

    .swiper-with-2-slides .context-nav-box-wrap .rect-responsive {
        padding-bottom: 44%
    }
}

@media (min-width: 768px) {
    .context-nav-box-wrap {
        padding: 0 0 2.25rem
    }

    .context-nav-box-wrap .swiper-pagination-bullets {
        display: none;
        height: 50px
    }

    .context-nav-box-wrap .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 47px 5px 0;
        width: 40px
    }

    .context-nav-box-wrap .context-nav-box .icon-area svg {
        height: 2.4rem
    }

    .context-nav-box-wrap .swiper-wrapper .rect-responsive {
        padding-bottom: 100%
    }

    .swiper-with-2-slides .context-nav-box-wrap .rect-responsive {
        padding-bottom: 44%
    }

    .swiper-with-2-slides .subTitleContextNav .rect-responsive {
        padding-bottom: 64%
    }

    .more-than-three .swiper-pagination-bullets {
        display: block
    }

    .more-than-three .context-nav-swiper-button-next,
    .more-than-three .context-nav-swiper-button-prev {
        display: -ms-flexbox;
        display: flex
    }
}

@media (min-width: 992px) {
    .context-nav-box-wrap .swiper-wrapper .rect-responsive {
        padding-bottom: 65%
    }

    .context-nav-box-wrap .context-nav-box .icon-area svg {
        height: 3.375rem
    }

    .swiper-with-2-slides .context-nav-box-wrap .rect-responsive {
        padding-bottom: 44%
    }
}

@media (min-width: 1440px) {
    .context-nav-box-wrap {
        padding: 0 0 3.125rem
    }

    .context-nav-box-wrap .context-nav-box h5 {
        height: 4.5rem
    }

    .context-nav-box-wrap .subTitleContextNav .swiper-wrapper .rect-responsive {
        padding-bottom: 70%
    }

    .more-than-three .context-nav-swiper-button-next,
    .more-than-three .context-nav-swiper-button-prev {
        height: 70px;
        width: 70px;
        margin-top: -20px
    }

    .more-than-three .context-nav-swiper-button-next svg,
    .more-than-three .context-nav-swiper-button-prev svg {
        width: 37px;
        height: 15px
    }

    .swiper-with-2-slides .context-nav-box-wrap .rect-responsive {
        padding-bottom: 44%
    }
}

@media (min-width: 1600px) {
    .context-nav-box-wrap .swiper-wrapper .rect-responsive {
        padding-bottom: 65%
    }

    .context-nav-box-wrap .context-nav-box .icon-area svg {
        height: 3.375rem
    }

    .swiper-with-2-slides .context-nav-box-wrap .rect-responsive {
        padding-bottom: 44%
    }
}

.support-tabs-wrapper .context-nav-box-wrap .context-nav-box a h5 {
    text-transform: uppercase
}

@media (max-width: 767px) {
    .context-nav-box-wrap.wOutSlider {
        padding: 1rem
    }
}

.context-nav-box-wrap.wOutSlider .swiper-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media (max-width: 767px) {
    .context-nav-box-wrap.wOutSlider .swiper-wrapper {
        display: block
    }
}

.context-nav-box-wrap.wOutSlider .swiper-wrapper .swiper-slide {
    width: 30%;
    margin-bottom: 3.5%;
    margin-right: 5%
}

@media (max-width: 767px) {
    .context-nav-box-wrap.wOutSlider .swiper-wrapper .swiper-slide {
        width: 100%;
        margin: 0;
        margin-bottom: 1rem;
        display: block
    }
}

.context-nav-box-wrap.wOutSlider .swiper-wrapper .swiper-slide:nth-child(3n) {
    margin-right: 0
}

@media (max-width: 767px) {
    .context-nav-box-wrap.wOutSlider .swiper-wrapper .rect-responsive {
        padding-bottom: 25%
    }
}

@media (max-width: 767px) {
    .context-nav-box-wrap.wOutSlider .context-nav-box.content .icon-area {
        float: left;
        width: 80px
    }
}

@media (max-width: 767px) {
    .context-nav-box-wrap.wOutSlider .context-nav-box.content h5 {
        float: left;
        text-align: left;
        margin: 0
    }

    .context-nav-box-wrap.wOutSlider .context-nav-box.content h5:after {
        background-color: transparent
    }
}

@media (max-width: 767px) {
    html[lang=ar] [dir=rtl] .context-nav-box-wrap.wOutSlider .context-nav-box.content .icon-area {
        float: right
    }
}

@media (max-width: 767px) {
    html[lang=ar] [dir=rtl] .context-nav-box-wrap.wOutSlider .context-nav-box.content h5 {
        float: right;
        text-align: right
    }
}

html[lang=ar] [dir=rtl] .context-nav-box-wrap.wOutSlider .swiper-wrapper .swiper-slide {
    margin-left: 5%;
    margin-right: 0
}

@media (max-width: 767px) {
    html[lang=ar] [dir=rtl] .context-nav-box-wrap.wOutSlider .swiper-wrapper .swiper-slide {
        margin-right: 0;
        margin-left: 0
    }
}

html[lang=ar] [dir=rtl] .context-nav-box-wrap.wOutSlider .swiper-wrapper .swiper-slide:nth-child(3n) {
    margin-right: 0;
    margin-left: 0
}