.row-context-nav {
    background-color: $sand-white;
    position: relative;
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .spacer {
        height: 3rem;
        width: 100%;
        clear: both;
        padding: 0;
        margin: 0;
    }

    >.container-fluid {
        background-color: $sand-white;
    }

    .cmp-icon-card-four-item {
        .context-nav-box-wrap {
            text-align: center;
            padding: 0 0 2rem;
            overflow: hidden;

            .swiper-wrapper {
                -webkit-filter: blur(0);

                .rect-responsive {
                    padding-bottom: 65%;

                    @media (min-width: $screen-lg-max) {
                        min-height: 145px !important;
                        // min-width: 223.76px!important;
                    }

                    @media (max-width: $screen-sm-max) {
                        padding-bottom: 65% !important;
                        min-width: 240px;
                    }

                    @media (min-width: $screen-md-max) and (max-width: 991px) {
                        height: 136px;
                        min-width: 136px;
                    }

                }
                @media (min-width: 425px){
                    h5{
                        letter-spacing: 1px;
                    }
                }
                    

                .swiper-slide {
                    width: 66.66666667%;
                }
            }

            .context-nav-box {
                background-color: $white;

                &.content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 10px;
                }

                &:after {
                    content: " ";
                    background-color: $main-green;
                    width: 100%;
                    height: 6.57%;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }

                a h5 {
                    color: $almost-black;
                }

                h5 {
                    position: relative;
                    padding-top: 1em;
                    margin-top: 0.5rem;
                    font-size: 1rem;
                    text-transform: uppercase;
                }

                h5:after {
                    content: " ";
                    width: 2.5rem;
                    height: 1px;
                    position: absolute;
                    top:4px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    background-color: $main-green;
                }

                &.hover,
                &:hover {
                    cursor: pointer;
                    background-color: $main-green;


                    a h5 {
                        color: $white;
                    }

                    h5:after {
                        background-color: $white;
                    }

                    .icon-area {

                        img,
                        object,
                        svg {
                            .main-stroke {
                                stroke: $white;
                            }
                        }
                    }
                }

                h5 {
                    height: 3.75rem;
                    padding-left: 5%;
                    padding-right: 5%;
                }

                .icon-area {

                    img,
                    object,
                    svg {
                        height: 3.375rem;
                        width: auto;

                        .main-stroke {
                            stroke: $almost-black;
                        }
                    }
                }

                .prepaid {
                    background-image: url("../resources/images/prepaid.svg");
                    @include context-nav-img();
                }

                .postpaid {
                    background-image: url("../resources/images/prepaid.svg");
                    @include context-nav-img();
                }

                .visitorline {
                    background-image: url("../resources/images/visitor.svg");
                    @include context-nav-img();
                }

                .roaming {
                    background-image: url("../resources/images/roaming.svg");
                    @include context-nav-img();
                }

                .elife-color {
                    background-image: url("../resources/images/elife-color.svg");
                    @include context-nav-img();
                }

                .elife {
                    background-image: url("../resources/images/elife.svg");
                    @include context-nav-img();
                }

                .internet {
                    background-image: url("../resources/images/internet.svg");
                    @include context-nav-img();
                }

                .internet-color {
                    background-image: url("../resources/images/internet-color.svg");
                    @include context-nav-img();
                }

                .telephone-color {
                    background-image: url("../resources/images/telephone-color.svg");
                    @include context-nav-img();
                }

                .telephone {
                    background-image: url("../resources/images/telephone.svg");
                    @include context-nav-img();
                }

                .vat {
                    background-image: url("../resources/images/vat.svg");
                    @include context-nav-img();
                }
            }
        }
    }

    .cmp-icon-card-three-item {
        .context-nav-box-wrap {
            text-align: center;
            padding: 0 0 2rem;
            overflow: hidden;


            .swiper-wrapper {
                -webkit-filter: blur(0);

                .rect-responsive {
                    @media (min-width: $screen-lg-max) {
                        min-height: 205px;
                        min-width: 223.76px;
                    }

                    @media (max-width: $screen-sm-max) {
                        height: 162px;
                        width: 250px;
                    }

                    @media (min-width: $screen-md-max) and (max-width: 991px) {
                        height: 192px;
                        width: 192px;
                    }
                }


                .swiper-slide {
                    width: 66.66666667%;
                }
            }


            .context-nav-box {
                background-color: $white;

                &.content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 10px;
                }

                &:after {
                    content: " ";
                    background-color: $main-green;
                    width: 100%;
                    height: 6.57%;
                    position: absolute;
                    left: 0;
                    bottom: 0;
                }

                a h5 {
                    color: $almost-black;
                }

                h5 {
                    position: relative;
                    padding-top: 1em;
                    margin-top: 0.5rem;
                    font-size: 1rem;
                    ;
                }

                h5:after {
                    content: " ";
                    width: 2.5rem;
                    height: 1px;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translate(-50%, 0);
                    background-color: $main-green;
                }

                &.hover,
                &:hover {
                    cursor: pointer;
                    background-color: $main-green;


                    a h5 {
                        color: $white;
                    }

                    h5:after {
                        background-color: $white;
                    }

                    .icon-area {

                        img,
                        object,
                        svg {
                            .main-stroke {
                                stroke: $white;
                            }
                        }
                    }
                }

                h5 {
                    height: 3.75rem;
                    padding-left: 5%;
                    padding-right: 5%;
                }

                .icon-area {

                    img,
                    object,
                    svg {
                        height: 3.375rem;
                        width: auto;

                        .main-stroke {
                            stroke: $almost-black;
                        }
                    }
                }
            }
        }
    }


    .support-logout-heading {
        font-size: 30px;
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 2rem;
        letter-spacing: 0;
    }
}

/* -----------------------------------------
  02 - sm viewport
  ----------------------------------------- */
@include sm {
    .context-nav-box-wrap {
        .context-nav-box {

            .prepaid,
            .postpaid,
            .visitorline,
            .roaming {
                margin-top: 1rem;
            }
        }

        .swiper-wrapper .rect-responsive {
            padding-bottom: 65% !important;
        }
    }

}

/* -----------------------------------------
  03 - md viewport
  ----------------------------------------- */
@include md {
    .context-nav-box-wrap {
        padding: 0 0 2.25rem;

        .context-nav-box {
            &.content {}

            .icon-area {
                img,svg {
                    height: 2.4rem !important;
                }
            }
        }

        .swiper-wrapper .rect-responsive {
            padding-bottom: 90% !important;
        }
    }

    // .more-than-three {
    //     .context-nav-swiper-button-next,
    //     .context-nav-swiper-button-prev {
    //         display: flex;
    //     }
    // }
}

@include lg {
    .swiper-wrapper .rect-responsive {
        padding-bottom: 65%;
    }
}

/* HELP & SUPPORT */
.support-wrapper {
    margin-top: -60px !important;
    .action-bar {
      position: relative;
			background-color: $white;
      @include respond-to-max($phone) {
        background-color: $main-green;
        border-top: $border-step-1 solid $white;
      }
      .cmp-text {
        margin-bottom: 0;
      }
      a {
        font-size: $font18;
        line-height: toRem(60);
        display: block;
				.cmp-link__text {
					font-size: $font18;
					color: $main-green;
				}
				@include respond-to-min($tablet) {
					pointer-events: none;
				}
        @include respond-to-max($phone) {
          line-height: toRem(59);
          .cmp-link__text {
            font-size: $font12;
            color: $white;
          }
          &:after {
            content: ' ';
            border: solid $white;
            border-width: $border-step-0 $border-step-3 $border-step-3 $border-step-0;
            display: inline-block;
            padding: 3px;
            position: absolute;
            top: toRem(26);
            right: toRem(30);
            transform: rotate(-135deg);
          }
        }
      }
    }
  }
  
  /* DOWNLOAD LINKS */
  .download-links {
    padding: $padding-step-5 $padding-step-0;
    p {
      padding: $padding-step-2 $padding-step-0;
      border-top: $border-step-1 solid $light-sand-brown;
      &:last-child {
        border-bottom: $border-step-1 solid $light-sand-brown;
      }
      a {
				display: flex;
    		flex-direction: row;
        svg {
          float: left;
          box-sizing: content-box;
          margin-top: $margin-step-0;
        }
        .cmp-link__text {
          text-transform: initial;
          letter-spacing: initial;
        }
      }
    }
  }
