.icon-flag--uae {
	background-image: url(../resources/images/icon-flag/icon-flag-uae.svg);
	@include background-icon;
	background-size: 40px 40px;
}
.icon-flag--saudiArabia {
	background-image: url(../resources/images/icon-flag/icon-flag-saudiArabia.svg);
	@include background-icon;
	background-size: 40px 40px;
}
.icon-flag--pakistan {
	background-image: url(../resources/images/icon-flag/icon-flag-pakistan.svg);
	@include background-icon;
	background-size: 40px 40px;
}
.icon-flag--egypt {
	background-image: url(../resources/images/icon-flag/icon-flag-egypt.svg);
	@include background-icon;
	background-size: 40px 40px;
}
.icon-flag--afghanistan {
	background-image: url(../resources/images/icon-flag/icon-flag-afghanistan.svg);
	@include background-icon;
	background-size: 40px 40px;
}
.icon-flag--benin {
	background-image: url(../resources/images/icon-flag/icon-flag-benin.svg);
	@include background-icon;
	background-size: 40px 40px;
}
.icon-flag--burkina {
	background-image: url(../resources/images/icon-flag/icon-flag-burkina.svg);
	@include background-icon;
	background-size: 40px 40px;
}
.icon-flag--centralAfricanRepublic {
	background-image: url(../resources/images/icon-flag/icon-flag-centralAfricanRepublic.svg);
	@include background-icon;
	background-size: 40px 40px;
}
.icon-flag--ivoryCoast {
	background-image: url(../resources/images/icon-flag/icon-flag-ivoryCoast.svg);
	@include background-icon;
	background-size: 40px 40px;
}
.icon-flag--gabon {
	background-image: url(../resources/images/icon-flag/icon-flag-gabon.svg);
	@include background-icon;
	background-size: 40px 40px;
}
.icon-flag--mali {
	background-image: url(../resources/images/icon-flag/icon-flag-mali.svg);
		@include background-icon;
		background-size: 40px 40px;
}
.icon-flag--mauritania {
	background-image: url(../resources/images/icon-flag/icon-flag-mauritania.svg);
		@include background-icon;
		background-size: 40px 40px;
}
.icon-flag--morocco {
	background-image: url(../resources/images/icon-flag/icon-flag-morocco.svg);
	@include background-icon;
	background-size: 40px 40px;
}
.icon-flag--nigeria {
	background-image: url(../resources/images/icon-flag/icon-flag-nigeria.svg);
	@include background-icon;
	background-size: 40px 40px;
}
.icon-flag--togo {
	background-image: url(../resources/images/icon-flag/icon-flag-togo.svg);
	@include background-icon;
	background-size: 40px 40px;
}
.icon-flag--chad {
	background-image: url(../resources/images/icon-flag/icon-flag-chad.svg);
	@include background-icon;
	background-size: 40px 40px;
}