
.career-greetings-section .container{
    padding: 0 12px;
}
.career-greetings .career-greetings-section .career-greetings-cover {
	position: relative
}

@media (max-width:767px) {
	.career-greetings .career-greetings-section .career-greetings-cover {
		padding-top: 7rem
	}
}

.career-greetings .career-greetings-section .career-greetings-cover img {
	max-width: 449px;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 10px
}

@media (max-width:1024px) {
	.career-greetings .career-greetings-section .career-greetings-cover img {
		max-width: 85%
	}
}

@media (max-width:768px) {
	.career-greetings .career-greetings-section .career-greetings-cover img {
		width: 100%;
        height:700px;
	}
}

@media (max-width:767px) {
	.career-greetings .career-greetings-section .career-greetings-cover img {
		max-width: 100%;
		width: 100%;
		height: 285px
	}
}

.career-greetings .career-greetings-section .career-greetings-cover .career-greetings-photo {
	position: absolute;
	right: 6.5%;
	top: 13%;
	z-index: 9;
	max-width: 336px;
	border-radius: 15px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .1);
	background-color: #fff
}

@media (max-width:1024px) {
	.career-greetings .career-greetings-section .career-greetings-cover .career-greetings-photo {
		right: .5%;
		top: 23%
	}
}

@media (max-width:768px) {
	.career-greetings .career-greetings-section .career-greetings-cover .career-greetings-photo {
		top: 34.3%
	}
}

@media (max-width:767px) {
	.career-greetings .career-greetings-section .career-greetings-cover .career-greetings-photo {
		width: 336px;
		margin: auto;
		left: 0;
		right: 0;
		top: 1rem;
		text-align: center;
		display: block
	}
}

@media (max-width:568px) {
	.career-greetings .career-greetings-section .career-greetings-cover .career-greetings-photo {
		width: 170px
	}
}

.career-greetings .career-greetings-section .career-greetings-cover .career-greetings-photo img {
	max-width: 100%;
	width: 336px;
	height: 416px;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 15px
}

@media (max-width:1024px) {
	.career-greetings .career-greetings-section .career-greetings-cover .career-greetings-photo img {
		width: 250px;
		height: 300px
	}
}

@media (max-width:768px) {
	.career-greetings .career-greetings-section .career-greetings-cover .career-greetings-photo img {
		width:160px!important;
		height: auto
	}
}

@media (max-width:568px) {
	.career-greetings .career-greetings-section .career-greetings-cover .career-greetings-photo img {
		width: auto
	}
}

.career-greetings .career-greetings-section .career-greetings-detail {
	padding-top: 3rem
}

.career-greetings .career-greetings-section .career-greetings-detail .heading-mini {
	color: #101010;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 4px;
	line-height: 12px;
	font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
	margin-bottom: 0;
	text-transform: uppercase
}

.career-greetings .career-greetings-section .career-greetings-detail h4 {
	color: #101010;
	font-size: 32px;
	line-height: 38px;
	margin-bottom: 1.5rem
}

.career-greetings .career-greetings-section .career-greetings-detail p {
	color: #848789;
	font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	margin-bottom: 1.5rem
}

.career-greetings .career-greetings-section .career-greetings-detail .ceo-group {
	margin-top: 3rem
}

@media (max-width:1024px) {
	.career-greetings .career-greetings-section .career-greetings-detail .ceo-group {
		margin-top: 1.5rem
	}
}

.career-greetings .career-greetings-section .career-greetings-detail .ceo-group h4 {
	color: #101010;
	font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: 600;
	line-height: 28px;
	margin-bottom: 0
}

.career-greetings .career-greetings-section .career-greetings-detail .ceo-group h5 {
	color: #848789;
	font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: .5px;
	line-height: 28px;
	margin-top: 0;
	text-transform: uppercase
}

[lang=ar] [dir=rtl] .career-greetings .career-greetings-section .career-greetings-cover .career-greetings-photo {
	left: 6.5%;
	right: auto
}

@media (max-width:1024px) {
	[lang=ar] [dir=rtl] .career-greetings .career-greetings-section .career-greetings-cover .career-greetings-photo {
		left: .5%;
		right: auto
	}
}

@media (max-width:768px) {
	[lang=ar] [dir=rtl] .career-greetings .career-greetings-section .career-greetings-cover .career-greetings-photo {
		width: 336px;
		margin: auto;
		left: 0;
		right: 0;
		top: 1rem;
		text-align: center;
		display: block
	}
}

@media (max-width:568px) {
	[lang=ar] [dir=rtl] .career-greetings .career-greetings-section .career-greetings-cover .career-greetings-photo {
		width: 200px
	}
}

[lang=ar] [dir=rtl] .career-greetings .career-greetings-section .career-greetings-cover .career-greetings-photo img {
	max-width: 100%;
	width: 336px;
	height: 416px;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: 15px
}

@media (max-width:768px) {
	[lang=ar] [dir=rtl] .career-greetings .career-greetings-section .career-greetings-cover .career-greetings-photo img {
		width: 336px;
		height: auto
	}
}

@media (max-width:568px) {
	[lang=ar] [dir=rtl] .career-greetings .career-greetings-section .career-greetings-cover .career-greetings-photo img {
		width: 200px
	}
}