.no-padding-container{
    .cmp-container {
        padding: 0;
    }
    .image-left{
        .cmp-teaser{
            flex-direction: row;
            width:auto;
            margin:10px;
            .cmp-teaser__title{
                h2{
                    margin-bottom: 1.4rem;
                    font-size:$font26;
                    line-height: 0.5;
                }
                a {
                    color:$almost-black;
                }
            }
            .cmp-teaser__content {
                padding: 0.5rem 1rem 2.5rem 1.5rem;
            }
            .cmp-teaser__description{
                p{
                    font-size: $font14;
                    line-height: 19px;
                } 
                ol{
                    color: $dark-gray;
                   @include font-family-lato();
                    font-size: $font16;
                    font-weight: 400;
                    line-height: 22px;
                    margin: 0 0 .4rem;
                    position: relative;
                    margin-left: 1rem;}
            } 
            @media (min-width:$screen-xl-max){
                .cmp-teaser__description{
                    height: 190px;
                }
            } 
            .cmp-teaser__action-container {
                margin-top: 0;
                a{
                    letter-spacing: 2px;
                    padding: .5rem 1rem 1rem 2rem;
                    position: relative;
                    font-size: 14px;
                  :hover {
                        text-decoration: underline;
                    }
                &:before {
                    @include link-arrow();
                }
            } 
        }
        }
    }
    .image-right{
        .cmp-teaser{
            flex-direction: row-reverse;
            width:auto;
            margin:10px;
            .cmp-teaser__title{
                h2{
                    margin-bottom: 1.4rem;
                    font-size:$font26;
                    line-height: 0.5;
                }
                a {
                    color:$almost-black;
                }
            }
            .cmp-teaser__content {
                padding: 1.5rem 1rem 2.5rem 1.5rem;
            }
            .cmp-teaser__description{
                p{
                    font-size: $font14;
                    line-height: 19px;
                } 
            } 
            @media (min-width:$screen-xl-max){
                .cmp-teaser__action-container{
                    position: relative;
                    margin-top: 0;
                    a{
                        position: absolute;
                        bottom: 0px;
                        top: 10rem;
                    }
                }    
            }  
        }
    }
    @media (min-width:$screen-xl-max){
    .cmp-teaser__horizontal{
        .cmp-teaser__image{
            width: 30%;
        }
        .cmp-teaser__content {
            width:70%;
            padding: 1.5rem 1rem 2.5rem 1.5rem;
        }
        .cmp-teaser__description{
                    height: 0px;
                }
        .cmp-teaser__title{
            width:45%;
        }
        .cmp-teaser{
            &__description,
            &__action-container{
            overflow: hidden; padding-left:20rem;
            margin-top: -80px;
            padding-right: 20px;
            display:inline-block;
        }
           
        }
    }
}
}
