.nested-accordion{
     // .container-center{
     //      margin:30px;
    //     padding: 0px!important;
    // @include respond-to-min ($desktop){
    //    margin-left:auto;
    //    margin-right:auto;
    //    width: 860px !important;
    // }
    // } 
 .cmp-accordion__item {
     border-bottom: 1px solid;
     border-color: $white;
 }
 //     button:focus {
 //         background-color:transparent;
 //    }.
 
     .cmp-viewall {
         border-bottom: 1px solid $light-sand-brown;
     }
     .cmp-accordion__button{
         box-shadow: 0 0 6px 0 rgb(0 0 0 / 25%);
         display:flex;
         justify-content:space-between;
         position: relative;
         z-index: 1;
         transition: all .3s ease-in-out;
         padding:1.8125rem 5rem;
         background-color: $sand-white;
         border-color: transparent;
         *[lang="ar"] *[dir=rtl] & {
            padding-right: 1%;
            text-align: right;
         }
    }
     .cmp-accordion__icon{
         content: "";
         position: relative;
         transform: rotate(225deg);
         color:$almost-black;
         display: block;
         width: 15px;
         height: 15px;
         border-top: 2px solid $cold-gray;
         border-left: 2px solid $cold-gray;
    }
    .cmp-accordion__button--expanded{
        background-color: $white;
    }
     .cmp-accordion__button--expanded .cmp-accordion__icon{
         content: "";
         transform: rotate(45deg);
         display: block;
         width: 15px;
         height: 15px;
         top: 10px;
         border-top: 2px solid $almost-black;
         border-left: 2px solid $almost-black;
    }
     .cmp-accordion__title{
         color:$almost-black;
         font-size:$font26;
         @include font-family-Neotech();
         *[lang="ar"] *[dir=rtl] & {
             margin-left: 2rem;
         }
    }
     .signifierNoIcon {
          margin-top:40px;
          width: 860px;
          .cmp-accordion__icon{
            display:none;
       }
        @include respond-to-min ($desktop){
          margin-left: auto;
          margin-right: auto;   
    } 
         .cmp-accordion__title{
             font-size: $font16;
             // @include font-family-lato();
             @include font-family-lato();
             letter-spacing: .1rem;
        }
        .cmp-accordion__button {
            box-shadow:none;
            padding-left: 4px;
            padding-right: 0px;
            display:block;
            background-color: $white;
            border-color: transparent;
            margin:0px;
            padding-top: 10px;
            padding-bottom: 10px;
            *[lang="ar"] *[dir=rtl] & {
                padding-right: 4%;
                text-align: right;
             }
             @include respond-to-min($desktop){
               box-shadow:none;
               padding-left: 2px;
               *[lang="ar"] *[dir=rtl] & {
                   padding-right: 1%;
                   text-align: right;
                }
           }
        }
             .cmp-accordion__header{
             border-top: 1px solid $light-sand-brown;
             display:block;
             font-size: $font16;
        }
         .cmp-accordion__button--expanded .cmp-accordion__title:before{
             color:$almost-black;
             content: " - ";
             display: table-cell;
             padding:5px;
             right: 9px;
             position: relative;
             vertical-align: top;
             font-size: 61px;
             @include font-family-lato;
             text-align: center;
             line-height: 12px;
             font-weight: 200;
             *[lang="ar"] *[dir=rtl] & {
                 right: -9px;
             }
        }
         .cmp-accordion__title:before{
             color:$almost-black;
             content: " + ";
             display: table-cell;
             padding:5px;
             right: 9px;
             position: relative;
             vertical-align: top;
             font-size: $font28;
             text-align: center;
             line-height: 12px;
             font-weight: 300;
             font-family: 'Lato';
             *[lang="ar"] *[dir=rtl] & {
                 right: -9px;
             }
        }
         .cmp-text{
             padding: 10px 30px 25px 35px;
             @include font-family-Neotech();
             color: $steel-grey;
         }
         @include respond-to-min($desktop){
             padding: 10px 30px 25px 8px;
         }
         table{
             height: 112px;
             width: 729px;
             border:2px solid grey;
        }
         th{
             background-color: $main-green;
             color:$white;
             vertical-align: middle;
             text-align: center;
             padding:12px;
             border-right:1px solid $steel-grey;
        }
         td{
             text-align: center;
             display: table-cell;
             vertical-align: middle;
             color:$steel-grey;
             padding: 12px;
             border-top:1px solid $steel-grey;
             border-right:1px solid $steel-grey;
        }
         span.more, span.less{
             color: $almost-black;
             @include font-family-lato();
             font-size: $font14;
             letter-spacing: 2px;
             line-height: 18px;
             text-decoration: none;
             text-transform: uppercase;
             margin-top: 10px;
             width: 100%;
             text-align: right;
             float: right;
        }
    }
 }