.nested-accordion {
  .cmp-accordion__item {
    border-bottom: 1px solid;
    border-color: $white;
  }
  .cmp-viewall {
    border-bottom: 1px solid $light-sand-brown;
    width: 40%;
    @include respond-to-min($tablet) {
      width: 85%;
    }
    @include respond-to-min($desktop) {
      width: 100%;
    }
  }
  .cmp-accordion__button {
    box-shadow: 0 0 6px 0 rgb(0 0 0 / 25%);
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    padding: 3rem 0rem;
    font-size: $font18;
    background-color: $sand-white;
    border-color: transparent;
    *[lang="ar"] *[dir="rtl"] & {
      padding-right: 1%;
      text-align: right;
    }
    @include respond-to-min($tablet) {
      font-size: $font24;
      padding: 2.8125rem 5rem;
    }
    @include respond-to-min($desktop) {
      padding: 1.8125rem 7.2rem;
      justify-content: space-between;
      font-size: $font26;
    }
  }
  .cmp-accordion__icon {
    content: "";
    position: relative;
    transform: rotate(225deg);
    color: $almost-black;
    display: block;
    width: 15px;
    height: 15px;
    border-top: 2px solid $cold-gray;
    border-left: 2px solid $cold-gray;
    @include respond-to-max($tablet) {
      left: 30px;
    }
  }
  .cmp-accordion__button--expanded {
    background-color: $white;
  }
  .cmp-accordion__button--expanded .cmp-accordion__icon {
    content: "";
    transform: rotate(45deg);
    display: block;
    width: 18px;
    height: 18px;
    top: 10px;
    border-top: 2px solid $almost-black;
    border-left: 2px solid $almost-black;
    @include respond-to-max($phone) {
      top: 10px;
      right: 5px;
    }
  }
  .cmp-accordion__title {
    color: $almost-black;
    font-size: $font18;
    padding-top: 0;
    @include font-family-Neotech();
    @include respond-to-min($tablet) {
      font-size: $font24;
    }
    @include respond-to-min($desktop) {
      font-size: $font26;
    }
    *[lang="ar"] *[dir="rtl"] & {
      margin-left: 2rem;
    }
  }
  .font--small {
    font-size: $font16;
    color: #848789;
    line-height: 25.6px;
  }
  .signifierNoIcon {
    margin-top: 30px;
    width: 860px;
    @include respond-to-max($tablet) {
      margin-bottom: 80px;
    }
    .cmp-accordion__icon {
      display: none;
    }
    @include respond-to-min($desktop) {
      margin-left: auto;
      margin-right: auto;
    }
    .cmp-accordion__title {
      font-size: $font16;
      @include font-family-lato();
      letter-spacing: 0.1rem;
    }
    .cmp-accordion__button {
      box-shadow: none;
      padding-left: 4px;
      padding-right: 0px;
      display: block;
      background-color: $white;
      border-color: transparent;
      margin: 0px;
      padding-top: 10px;
      padding-bottom: 10px;
      *[lang="ar"] *[dir="rtl"] & {
        padding-right: 4%;
        text-align: right;
      }
      @include respond-to-min($desktop) {
        box-shadow: none;
        padding-left: 2px;
        line-height: 22px;
        *[lang="ar"] *[dir="rtl"] & {
          padding-right: 1%;
          text-align: right;
        }
      }
    }
    .cmp-accordion__header {
      border-top: 1px solid $light-sand-brown;
      display: block;
      font-size: $font16;
      padding-bottom: 5px;
    }
    .cmp-accordion__button--expanded .cmp-accordion__title:before {
      color: $almost-black;
      content: " - ";
      display: table-cell;
      padding: 5px;
      right: 9px;
      position: relative;
      vertical-align: top;
      font-size: 61px;
      @include font-family-lato;
      text-align: center;
      line-height: 12px;
      font-weight: 200;
      *[lang="ar"] *[dir="rtl"] & {
        right: -9px;
      }
    }
    .cmp-accordion__title:before {
      color: $almost-black;
      content: " + ";
      display: table-cell;
      padding: 5px;
      right: 9px;
      position: relative;
      vertical-align: top;
      font-size: $font28;
      text-align: center;
      line-height: 12px;
      font-weight: 300;
      font-family: "Lato";
      *[lang="ar"] *[dir="rtl"] & {
        right: -9px;
      }
    }
    .cmp-text {
      padding: 25px 5px 30px 43px;
      @include font-family-Neotech();
      color: $steel-grey;
      ul li {
        list-style-type: none;
        padding-left: 0;
        .space-bottom {
          margin-bottom: 0;
        }
      }
    }
    @include respond-to-min($desktop) {
      padding: 10px 30px 80px 8px;
    }
    table {
      height: 112px;
      width: 729px;
      border: 2px solid grey;
    }
    th {
      background-color: $main-green;
      color: $white;
      vertical-align: middle;
      text-align: center;
      padding: 12px;
      border-right: 1px solid $steel-grey;
    }
    td {
      text-align: center;
      display: table-cell;
      vertical-align: middle;
      color: $steel-grey;
      padding: 12px;
      border-top: 1px solid $steel-grey;
      border-right: 1px solid $steel-grey;
    }
    span.more,
    span.less {
      color: $almost-black;
      @include font-family-lato();
      font-size: $font14;
      letter-spacing: 2px;
      line-height: 18px;
      text-decoration: none;
      text-transform: uppercase;
      margin-top: 10px;
      width: 100%;
      text-align: right;
      float: right;
      cursor: pointer;
    }
  }
}
