@-ms-viewport {
    width: device-width;
}

.nv-container {
    width: 100%;
    padding-right: 12px;
    padding-left: 12px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .nv-container {
        width: 756px;
    }
}

@media (min-width: 992px) {
    .nv-container {
        width: 976px;
    }
}

@media (min-width: 1248px) {
    .nv-container {
        width: 1224px;
    }
}

.nv-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;

    >.nv-col {
        padding-right: 0;
        padding-left: 0;
    }

    >[class*="nv-col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (max-width: 991px) {
    .no-mobile-gutters {
        margin-right: 0;
        margin-left: 0;
    }

    .no-mobile-gutters>.nv-col {
        padding-right: 0;
        padding-left: 0;
    }

    .no-mobile-gutters>[class*="nv-col-"] {
        padding-right: 0;
        padding-left: 0;
    }
}

.nv-col-1 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
    -ms-flex: 0 0 8.333333%;
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}

.nv-col-2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.nv-col-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

.nv-col-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}

.nv-col-5 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.nv-col-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}

.nv-col-7 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
    -ms-flex: 0 0 58.333333%;
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}

.nv-col-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}

.nv-col-9 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
}

.nv-col-10 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.nv-col-11 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
    -ms-flex: 0 0 91.666667%;
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
}

.nv-col-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.nv-col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.nv-col-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
    max-width: none;
}

.nv-col-sm-1 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-sm-2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-sm-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-sm-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-sm-5 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-sm-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-sm-7 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-sm-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-sm-9 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-sm-10 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-sm-11 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-sm-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-sm {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-sm-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-md-1 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-md-2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-md-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-md-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-md-5 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-md-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-md-7 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-md-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-md-9 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-md-10 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-md-11 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-md-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-md {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-md-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-lg-1 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-lg-2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-lg-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-lg-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-lg-5 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-lg-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-lg-7 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-lg-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-lg-9 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-lg-10 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-lg-11 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-lg-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-lg {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-lg-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-xl-1 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-xl-2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-xl-3 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-xl-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-xl-5 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-xl-6 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-xl-7 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-xl-8 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-xl-9 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-xl-10 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-xl-11 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-xl-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-xl {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

.nv-col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 12px;
    padding-left: 12px;
}

// ===== NV Modal ======
.nv-modal-open {
    overflow: hidden;

    .nv-modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
}

.nv-modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    outline: 0;
    background-color: rgba(0, 0, 0, 0.25);

    .nv-modal-dialog {
        margin: 0;
    }

    &.right-modal {
        .nv-modal-dialog {
            position: fixed;
            left: auto;
            right: 0;
            top: 0;
            bottom: 0;
        }

        .nv-modal-content {
            height: 100%;
            overflow-x: auto;
        }
    }

    &.bottom-modal {
        .nv-modal-dialog {
            position: fixed;
            left: 0;
            right: 0;
            top: auto;
            bottom: 0;
        }
    }

    &.curve-modal {
        .nv-modal-dialog {
            margin-left: 1rem;
            margin-right: 1rem;
        }

        .nv-modal-content {
            border-radius: 10px 10px 0 0;
        }
    }
}

.nv-modal-dialog {
    position: relative;
    width: auto;
    margin: 0.5rem;
    pointer-events: none;
}

.nv-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 0 1rem;

    &.lg {
        padding: 3rem 0 2rem;
    }
}

.nv-modal-title-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nv-modal-close {
    width: 24px;
    height: 24px;
    cursor: pointer;

    display: flex;

    img,
    svg {
        width: 24px;
        height: 24px;
        min-height: auto;
    }
}

.nv-modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: $white;
    background-clip: padding-box;
    outline: 0;
}

.nv-modal-title {
    color: $almost-black;
    @include font-family-Neotech;
    font-size: $font24;
    line-height: 32px;
    flex-grow: 1;
    margin: 0;
    text-align: center;
}

.nv-modal-body {
    padding: 1rem 0;
}

.nv-modal-body-flex {
    height: calc(100% - 70px);
}

.nv-modal.fade .nv-modal-dialog {
    transition: -webkit-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;

    transform: translate(0, -25%);
}

.nv-modal.show .nv-modal-dialog {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.nv-modal.full-height-mob .new-sim+.migrate-to-plan {
    border-left: 1px solid $light-sand-brown;
}

.nv-plan-details-modal {
    margin: 0 102px;
    width: 402px;
}

.nv-modal {
    &.right-modal {
        .nv-modal-title {
            text-align: left;
        }
    }
}

@media only screen and (max-width: 991px) {
    .nv-modal.full-height-mob .new-sim+.migrate-to-plan {
        border-left: none;
    }

    .nv-modal.full-height-mob .nv-modal-content {
        height: 100vh;
        overflow: auto;
        border-radius: 0;
    }

    .nv-modal.bottom-modal.full-height-mob .nv-modal-dialog,
    .nv-modal.bottom-modal.full-height-mob {
        top: 0;
    }

    .nv-modal-content {
        padding: 1.5rem 0 !important;
        border-radius: 8px 8px 0 0;
    }

    .nv-modal-body {
        padding: 1.5rem 0 !important;
    }

    .nv-modal-header {
        border-bottom: 1px solid $light-sand-brown;
        padding-bottom: 1.5rem !important;
        margin-bottom: 0;
        padding-top: 0;
    }

    .nv-modal-close {
        width: 12px;
        height: 12px;
    }

    .nv-modal-close svg,
    .nv-modal-close img {
        width: 12px;
        height: 12px;
    }

    .nv-modal-title {
        font-size: $font16;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1;
    }

    .nv-modal .nv-modal-content .new-sim {
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $cream-brown;
    }

    .nv-modal {
        &.right-modal {
            .nv-modal-dialog {
                left: 0;
            }

            &.full-height-mob {
                .nv-modal-content {
                    border-radius: 0;
                }
            }
        }
    }

    .nv-plan-details-modal {
        padding: 0 1rem;
        width: 100%;
        margin: 0;
    }
}

.nv-plan-details-modal {
    margin: 0 102px;
    width: 408px;
}

.nv-plan-details-modal .nv-modal-title {
    text-align: left;
}

@media (min-width: 992px) {
    .nv-modal-header.with-border {
        border-bottom: solid 1px rgba(151, 151, 151, 0.50);
        margin-bottom: 32px;
        padding: 48px 0 40px;
    }

    .nv-modal-header.with-border.md {
        margin-bottom: 16px;
    }

    .nv-plan-details-modal .nv-modal-header.with-border {
        margin-bottom: 16px;
        padding: 40px 0 24px;
    }

}

*[lang=ar] *[dir=rtl] .nv-plan-details-modal .nv-modal-title {
    text-align: right;
}

@media (max-width: 991px) {

    .nv-plan-details-modal {
        padding: 0 1rem;
        width: 100%;
        margin: 0;
    }

    .nv-modal-header.with-border {
        border: 0;
        padding-bottom: 0 !important;
    }

    .nv-modal-header.with-border.nv-keep {
        border-bottom: 1px solid $light-sand-brown;
        padding-bottom: 1rem !important;
        padding-top: 0 !important;
    }

    .nv-modal.right-modal .nv-modal-dialog {
        left: 0;
    }

    .nv-modal-header.with-border.small-screen {
        border-bottom: 1px solid $light-sand-brown;
        padding-bottom: 1rem !important;
        margin-bottom: 8px;
    }
}

.nv-pb-5,
.nv-py-5 {
    padding-bottom: 3rem ;
    @include md{
        padding-top: 1rem !important;
    }
}

.nv-pt-5,
.nv-py-5 {
    padding-top: 2rem ;
    @include md{
        padding-top: 1rem !important;
        overflow: auto;
        height: 100%;
    }
}

.nv-modal__doublemin{
    .nv-col-md-4 {
       display: none;
    }
}
@media (min-width: 768px) {
    .right-50-modal{
        .nv-pt-5,
        .nv-py-5  {
                    padding: 2rem 2rem 3rem 2rem;
                    height: 600px;
                    overflow: hidden;
                }
    }
    .nv-modal__doublemin{
        
        .nv-col-md-7 {
        flex: 0;
            max-width: 100%;
         }
         .nv-col-md-11 {
            flex: 0;
            max-width: 100%;
         }
        
    }
    .nv-col-md {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }

    .nv-col-md-auto {
        -ms-flex: 0 0 auto;
        flex: 0 0 auto;
        width: auto;
        max-width: none;
    }

    .nv-col-md-1 {
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 8.333333%;
        max-width: 8.333333%;
    }

    .nv-col-md-2 {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }

    .nv-col-md-3 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }

    .nv-col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .nv-col-md-5 {
        -ms-flex: 0 0 41.666667%;
        flex: 0 0 41.666667%;
        max-width: 41.666667%;
    }

    .nv-col-md-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .nv-col-md-7 {
        -ms-flex: 0 0 58.333333%;
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .nv-col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }

    .nv-col-md-9 {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }

    .nv-col-md-10 {
        -ms-flex: 0 0 83.333333%;
        flex: 0 0 83.333333%;
        max-width: 83.333333%;
    }

    .nv-col-md-11 {
        -ms-flex: 0 0 91.666667%;
        flex: 0 0 91.666667%;
        max-width: 91.666667%;
    }

    .nv-col-md-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .container {
        width: 756px;
    }

    .container {
        margin-right: auto;
        margin-left: auto;
        padding-left: 12px;
        padding-right: 12px;
    }
}


.nv-modal__doublemin{
    .nv-row {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
       flex-direction: column;
    }
    }
 
