.config-section-wrap {
	background: $white;
	min-height:toRem(56);
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
	transition: all .25s ease-in-out;
	max-height:toRem(78);
	position: relative;
	z-index: 8;
	@include respond-to-min($desktop){
		min-height:toRem(90);
		max-height:toRem(90);
	}
}

	
.config-section-wrap.tabs {
		background: $white;
		min-height:toRem(56);
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
		transition: all .25s ease-in-out;
		max-height:toRem(78);
		position: relative;
		z-index: 8;
		@include respond-to-min($desktop){
			max-height: none
		}
}

.config-section-wrap{
	&.add-links {
	height:toRem(56);
	}
}


.config-section-wrap.add-links>.container {
	position: relative
}

.config-section-wrap{
	&.nav-tabs{
	border: 0;
	}
}

.config-section-wrap .nav-tabs>li>a {
	border: 0;
	border-bottom: 4px solid transparent;
	@include respond-to-min($tablet){
		border-bottom: 2px solid transparent;
	}
	&:hover{
		border-color: $white
	}
}

.config-section-wrap{
		&.page-nav {
		display: flex;
		-ms-flex-align: end;
		align-items: flex-end;
		min-height:toRem(56);
		height:toRem(56);
		margin-bottom: 0;
		white-space: nowrap;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		@include respond-to-min($desktop){
			display: block;
			height: auto;
		}
	}
}


.config-section-wrap .page-nav::-webkit-scrollbar {
	display: none
}

.config-section-wrap .page-nav .swiper-slide,
.config-section-wrap .page-nav li {
	display: inline-block;
	width: auto!important;
	@include respond-to-min($desktop){
			min-height:toRem(90);
	}
}

.config-section-wrap .page-nav .swiper-slide a,
.config-section-wrap .page-nav li a {
	padding: 0 1rem 0.625rem;
	display: block;
	font-size:$font12;
	@include font-family-lato;
	color: $almost-black;
	cursor: pointer;
	letter-spacing: .25px;
	text-transform: uppercase;
	@include respond-to-min($desktop){
		padding: 0 1.5rem;
		line-height:toRem(90);
		height:toRem(90);
		font-size:$font20;
		text-transform: none;
		@include font-family-Neotech-ge;
	}
}


.config-section-wrap .page-nav .swiper-slide a:hover,
.config-section-wrap .page-nav li a:hover {
	color:$main-green;
}

.config-section-wrap .page-nav .swiper-slide.active a,
.config-section-wrap .page-nav li.active a {
	border-bottom: 2px solid $main-green;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	color: $main-green;
	@include respond-to-min($desktop){
		border-bottom: 4px solid $main-green;
	}
}
.config-section-wrap .page-nav{
	 margin: 0 20px;
	li{padding-right: 1.4rem;}
}


.config-section-wrap .config-section-main-label-top {
	color: $gray;
	font-size:$font12;
	@include font-family-Neotech-ge;
	margin: 0;
	position: relative;
	margin-top: -10px;
	margin-bottom:toRem(10);
	top:toRem(20);
	line-height:toRem(22);
	letter-spacing: 1px;
	@include respond-to-min($desktop){
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		font-size:$font18;
		line-height:toRem(20);
		height:toRem(90);
		margin: 0 0 0 1rem;
		top: 0;
	}
}


.deeplink-tabs {
	padding: 1.5rem 0
}

.deeplink-tab {
	display: none;
	transition: all .3s ease
}

.deeplink-tab.active {
	display: inherit;
	transition: all .3s ease
}
