.product-features {
  &__overview {
    @include respond-to-min($tablet) {
      margin-top: $margin-step-7 !important;
      padding-left: $padding-step-3 !important;
    }
  }

  &__content {
    border-bottom: $border-step-1 solid $light-sand-brown;
    margin-top: $margin-step-3 !important;

    &:last-child {
      border-bottom: $border-step-0;
    }

    .cmp-text {
      h4 {
        @include ts-step-0;

        @include respond-to-min($tablet) {
          @include ts-step-2;
        }

        @include respond-to-min($desktop) {
          @include ts-step-3;
        }

        margin-top: $margin-step-0;
        margin-bottom: $margin-step-2;
      }

      .space-left {
        margin-left: $margin-step-0;
      }

      p {
        color: $almost-black;
        line-height: 1.6;
        margin-bottom: $margin-step-2;
      }

      .cmp-link__arrow {
        letter-spacing: normal;
        text-transform: capitalize;

        &::before {
          display: none;
        }
      }
    }

    .cmp-image {
      margin-bottom: $margin-step-2;
      &__image {
        padding-left: $margin-step-2;
      }
    }
  }
}
