.product-features {
  &__overview {
    @include respond-to-min($tablet) {
      margin-top: $margin-step-7 !important;
    }
  }

  .cmp-image__image {
    width: auto;
    max-width: 100%;
  }

  &__content {
    margin-top: $margin-step-3 !important;

    &:last-child {
      .cmp-teaser {
        border-bottom: $border-step-0;
      }
    }

    .cmp-text {
      h4 {
        @include ts-step-0;

        @include respond-to-min($tablet) {
          @include ts-step-2;
        }

        @include respond-to-min($desktop) {
          @include ts-step-3;
        }

        margin-top: $margin-step-0;
        margin-bottom: $margin-step-2;
      }

      .space-left {
        margin-left: $margin-step-0;
      }

      p {
        color: $almost-black;
        line-height: 1.6;
        margin-bottom: $margin-step-2;
      }

      .cmp-link__arrow {
        @include ts-step-0;
        letter-spacing: normal;
        text-transform: capitalize;

        &::before {
          display: none;
        }
      }
    }

    .text,
    .image {
      padding: 0;
    }

    .cmp-teaser {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row-reverse;
      border-bottom: $border-step-1 solid $light-sand-brown;

      &__content {
        color: $almost-black;
        padding-bottom: toRem(12);
      }

      &__title {
        @include ts-step-3;
        @include font-family-Neotech;
        margin-top: 0;
        margin-bottom: toRem(16);
      }

      &__description {
        @include font-family-lato;
        @include ts-step-0;
      }

      &__image {
        min-width: toRem(160);
        max-width: toRem(160);
        margin-left: toRem(10);
        margin-bottom: toRem(12);
        *[lang='ar'] *[dir='rtl'] & {
          margin-right: toRem(10);
        }
        .cmp-image__image {
          width: 100%;
        }
      }
    }
  }
}
