.promo-card .promo-card-row.container {
	margin-top: 35px;
}

.promo-card .promo-card-row .promo-card-section .cmp-teaser {
	position: relative;
	min-height: 256px;
	height: 100%;
}

@media (min-width:375px)and (max-width:768px) {
	.promo-card .promo-card-section .cmp-teaser__content {
		width: 100%;
		bottom: 6px;
		padding-top: 162px;
		padding-left: 24px;
		height: 100%;
		min-height: 47px;
		border-radius: 4px;
		position: absolute;
		z-index: 9;
		background: linear-gradient(0deg, #000, transparent);
	}
	.promo-card .promo-card-row .promo-card-section .cmp-teaser {
		margin-top: 20px;
	}
}

@media (min-width:1024px)and (max-width:1200px) {
	.promo-card .promo-card-section .cmp-teaser__content {
		width: 325px;
		bottom: 6px;
		padding-top: 162px;
		padding-left: 24px;
		height: 100%;
		min-height: 47px;
		border-radius: 4px;
		position: absolute;
		z-index: 9;
		background: linear-gradient(0deg, #000, transparent);
	}
	.promo-card .promo-card-row .promo-card-section .cmp-teaser {
		margin-right: 15px;
	}
}

@media (min-width:1248px) {
	.promo-card .promo-card-section .cmp-teaser__content {
		width: 383px;
		bottom: 6px;
		padding-top: 162px;
		padding-left: 24px;
		height: 100%;
		min-height: 47px;
		border-radius: 4px;
		position: absolute;
		z-index: 9;
		background: linear-gradient(0deg, #000, transparent);
	}
	.promo-card.container {
		margin-left: 20px!important;
	}
}

.promo-card .promo-card-section .cmp-teaser__image {
	position: absolute;
	top: 0;
	z-index: 1;
}

.promo-card .promo-card-row .promo-card-section .cmp-teaser__image img {
	border-radius: 4px;
}

@media (min-width:768px)and (max-width:1023px) {
	.promo-card .promo-card-row .promo-card-section .cmp-teaser__image img {
		min-width: 766px;
		height: 250px;
		width: 100%;
	}
}

.promo-card .promo-card-row .promo-card-section h2 {
	margin-top: 0px;
	margin-bottom: 1rem;
	letter-spacing: 1.6px;
	line-height: 26px;
	font-size: 26px;
}

.promo-card .promo-card-row .promo-card-section h2 a {
	font-size: 26px;
	color: #fff;
}

.promo-card .promo-card-section .cmp-teaser__action-link:before {
	-webkit-transform: translateY(-50%) rotate(45deg);
	left: 139px;
	margin-top: 12px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	padding: 4px;
	content: "";
	position: absolute;
}

.promo-card .promo-card-section .cmp-teaser__action-container a {
	color: #fff;
	letter-spacing: 2px;
	line-height: 20px;
	font-size: .875rem;
	font-weight: 500;
	text-transform: uppercase;
}

.promo-card .promo-card-section .cmp-teaser__action-container a:hover {
	text-decoration: underline;
}