.promo-card .promo-card-row.container {
	margin-top: 35px;
	margin-bottom: 25px;
}

.promo-card .promo-card-row .promo-card-section .cmp-teaser {
	position: relative;
	min-height: 256px;
	height: 100%;
}

@media (min-width:375px)and (max-width:768px) {
	.promo-card .promo-card-section .cmp-teaser__content {
		width: 100%;
		bottom: 6px;
		padding-top: 162px;
		padding-left: 24px;
		height: 100%;
		min-height: 47px;
		border-radius: 4px;
		position: absolute;
		z-index: 9;
		background: linear-gradient(0deg, #000, transparent);
	}
	.promo-card .promo-card-row .promo-card-section .cmp-teaser {
		margin-top: 20px;
	}
}

@media (min-width:1024px)and (max-width:1200px) {
	.promo-card .promo-card-section .cmp-teaser__content {
		width: 325px;
		bottom: 6px;
		padding-top: 162px;
		padding-left: 24px;
		height: 100%;
		min-height: 47px;
		border-radius: 4px;
		position: absolute;
		z-index: 9;
		background: linear-gradient(0deg, #000, transparent);
	}
	.promo-card .promo-card-row .promo-card-section .cmp-teaser {
		margin-right: 15px;
	}
}

@media (min-width:1248px) {
	.promo-card .promo-card-section .cmp-teaser__content {
		width: 383px;
		bottom: 6px;
		padding-top: 162px;
		padding-left: 24px;
		height: 100%;
		min-height: 47px;
		border-radius: 4px;
		position: absolute;
		z-index: 9;
		background: linear-gradient(0deg, #000, transparent);
	}
	.promo-card.container {
		margin-left: 30px!important;
	}
	#container-1abd727094 .teaser.promo-card-section.aem-GridColumn--default--none.aem-GridColumn--phone--none.aem-GridColumn--phone--12.aem-GridColumn.aem-GridColumn--offset--phone--0.aem-GridColumn--offset--default--0.aem-GridColumn--default--4 {

        width: 32.5%;

    }
}

.promo-card .promo-card-section .cmp-teaser__image {
	position: absolute;
	top: 0;
	z-index: 1;
}

.promo-card .promo-card-row .promo-card-section .cmp-teaser__image img {
	border-radius: 4px;
}

@media (min-width:768px)and (max-width:1023px) {
	.promo-card .promo-card-row .promo-card-section .cmp-teaser__image img {
		min-width: 728px;
		height: 250px;
		width: 50%;
	}
	#container-7e4c745b51, #container-d489de43f2, #container-7082cb29be, #container-44c16dcee9, #container-710ab3f57c{ 
        padding: 0px 20px;
    }
}

.promo-card .promo-card-row .promo-card-section h2 {
	margin-top: 0px;
	margin-bottom: 1rem;
	letter-spacing: 1.6px;
	line-height: 26px;
	font-size: 26px;
}

.promo-card .promo-card-row .promo-card-section h2 a {
	font-size: 26px;
	color: #fff;
}

.promo-card .promo-card-section .cmp-teaser__action-link:before {
	-webkit-transform: translateY(-50%) rotate(45deg);
	left: 139px;
	margin-top: 12px;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	padding: 4px;
	content: "";
	position: absolute;
}

.promo-card .promo-card-section .cmp-teaser__action-container a {
	color: #fff;
	letter-spacing: 2px;
	line-height: 20px;
	font-size: .875rem;
	font-weight: 500;
	text-transform: uppercase;
}

.promo-card .promo-card-section .cmp-teaser__action-container a:hover {
	text-decoration: underline;
}

//premium cards css

.hero-card {
	.cmp-container{
        padding:0px 18px;
    }
	.image-right {
	margin-bottom: 1.5625rem;
	padding-left: 15px;
		padding-right: 15px;
	.cmp-teaser {
		display: flex;
		flex-direction: row-reverse;
		position: relative;
		height: 100%;
		box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);	
	}
	.cmp-teaser__image {
		width: 50%;
		img {
			border-radius: 4px;
			max-width: 100%;
			height: auto;
		}
	}
	.cmp-teaser__content {
		width: 48%;
		padding: 1.5rem;
		flex-direction: column-reverse;
		display: flex;
		z-index: 3;
		bottom: 0;
		left: 0;
		position: absolute;
	}
	.cmp-teaser__image:after {
		position: absolute;
		content: "";
		background: linear-gradient(0deg, #000, transparent);
		opacity: 0.3;
		width: 100%;
		height: 100%;
		z-index: 2;
		top: 0;
	}
	.cmp-teaser__content h2 {
		font-size: 1.625rem;
		line-height: 2.0625rem;
		letter-spacing: 1.63px;
		padding-top: 1.25rem;
	}
	.cmp-teaser__content h2 a {
		color: #353738;
	}
	.cmp-teaser__action-container a {
		font-size: .875rem;
		line-height: 1.25rem;
		letter-spacing: 2px
	}
	.cmp-teaser__action-link:before {
		-webkit-transform: translateY(-50%) rotate(45deg);
		left: 139px;
		margin-top: 12px;
		border-top: 1px solid #719e19;
		border-right: 1px solid #719e19;
		padding: 4px;
		content: "";
		position: absolute;
	}
}

.promo-card-rev {
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 1.5625rem;
	.cmp-teaser__content {
		position: absolute;
		width: 100%;
		flex-direction: column-reverse;
		display: flex;
		z-index: 3;
		bottom: 0;
		left: 0;
		padding: 2.25rem;
	}
	.cmp-teaser__content h2 {
		font-size: 1.625rem;
		line-height: 2.0625rem;
		letter-spacing: 1.63px;
	}
	.cmp-teaser__content h2 a {
		color: #fff;
	}
	.cmp-teaser__image:after {
		position: absolute;
		content: "";
		background: linear-gradient(0deg, #000, transparent);
		opacity: 0.3;
		width: 100%;
		height: 100%;
		z-index: 2;
		top: 0;
	}
	.cmp-teaser {
		position: relative;
		height: 100%;
	}
	.cmp-teaser__image img {
		border-radius: 4px;
	}
	.cmp-teaser__action-container a {
		font-size: .875rem;
		line-height: 1.25rem;
		letter-spacing: 2px;
		color: #fff;
	}
	.cmp-teaser__action-container a:hover {
		text-decoration: underline;
	}
	.cmp-teaser__action-link:before {
		-webkit-transform: translateY(-50%) rotate(45deg);
		left: 155px;
		margin-top: 12px;
		border-top: 1px solid #fff;
		border-right: 1px solid #fff;
		padding: 3px;
		content: "";
		position: absolute;
	}
}

@media (min-width:768px) and (max-width:990px) {
	.promo-card-rev,
	.image-right {
		margin-top: 10px;
		.cmp-teaser,
		.cmp-teaser__image img {
			border-radius: 4px;
			width: 340px;
			height: 150px;
		}
		.cmp-teaser__content h2 {
			font-size: 1.375rem;
			margin-top: 0px;
		}
	}
}

@media (max-width: 767px) {
	.promo-card-rev,
	.image-right {
		margin-top: 10px;
		.cmp-teaser__content h2 {
			font-size: 1.375rem;
			margin-top: 0px;
			padding-top: 0px;
			line-height: 1.5rem;
		}
	}
	.aem-Grid.aem-Grid--phone--12>.aem-GridColumn.aem-GridColumn--offset--phone--0 {
		width: 100%!important;
	}
}
}