
.report-block-tile {
    position: relative;
    border-radius: 8px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .1);
    margin-bottom: 1rem;
    padding: 3.2375rem 3.2375rem 2.2175rem 3.2375rem;
  
    @media (max-width: 991.98px) {
      padding: 1.8rem;
    }
    @media (max-width: 767.98px) {
      padding: 1;
    }
  
    h2 {
      font-size: 20px;
      line-height: 1.4;
      color: $almost-black;
      margin-top: 5px;
      margin-bottom: 10;
      
      @media (max-width: 767.98px) {
        font-size: 20px;
        line-height: 28px;
      }
    }
  
  
    h6 {
      
        font-size: 12px;
        letter-spacing: 4px;
        line-height: 12px;
        color:#909090;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0px;
        font-family: sans-serif;
      
    }
  
    &.bgpattern {
      background-size: contain;
      background: linear-gradient(225deg, $white 0%, $white 100%);
  
      &:after,
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        max-width: 210px;
        top: 0;
        right: 0;
        z-index: 0;
        background: url("../img/bg-cards/plan-cards-illustration.svg") 100% 0 no-repeat;
        background-size: 100%;
        opacity: .2;
      }
    }
  
    p{
        z-index: 1;
        position: static;
        top: 0px;
        right: 0;
        text-align: right;
        margin-right: 17px;
        
  
        @media (max-width: 991.98px) {
          position: static;
          margin-top: 1rem;
          text-align: left;
          margin-right: 0;
          margin-bottom: 10px;
        }
  
        .cmp-link__text{
          color: $main-green  !important;
          font-size: 14px;
          letter-spacing: 2px;
          line-height: 20px;
          display: inline-block;
  
          
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            
  
            @media (max-width: 1199.98px) {
              max-width: 360px;
            }
  
            @media (max-width: 575.98px) {
              max-width: 250px;
            }
          
  
          @media (max-width: 767.98px) {
            font-size: 12px;
            padding-right: 0.8rem;
          }
  
          &:before {
            border: solid $main-green;
            border-width: 0 1px 1px 0;
            padding: 3.7px;
  
            @media (max-width: 767.98px) {
              right: 0px;
            }
          }
        }
      }
  
      &img {
         
              border: none;
              //background: url("../img/svg-icons/download_green.svg") left top no-repeat;
              background-size: 100%;
              display: block;
              width: 14px;
              height: 14px;
              transform: translateY(-50%) rotate(0deg);
              right: 0;
              left: auto;
            }
          }
        
      /*Start: Styles sticky button only on mobile*/
      @media (max-width: 991.98px) {
        p{
          
          
              position: absolute;
              left: 12px;
              bottom: 0px;
              margin-top: .3rem;
            }
          }
        
    /*Start: Styles for columns*/
    .report-block-highlights {
      padding-top: 26px;
      position: relative;
      z-index: 1;
      @media (max-width: 991.98px) {
        padding-top: 20px;
      }
      h3 {
        &.title {
          font-size: 20px;
          line-height: 28px;
          color: $almost-black;
          margin-top: 16px;
          margin-bottom: 19px;
  
          @media (max-width: 991.98px) {
            margin-bottom: 28px;
          }
        }
      }
  
      h5 {
       margin: 0;
          font-size: 12px;
          color: $steel-grey;
          line-height: 12px;;
          @include font-family-Neotech;
        
      }
      
  
      .desc {
        @media (max-width: 991.98px) {
          margin-bottom: 20px;
        }
  
        p {
          font-size: 14px;
          line-height: 24px;
          color: $steel-grey;
          font-family: sans-serif;
        }
  
        li {
          margin-bottom: 21px;
  
          @media (max-width: 991.98px) {
            margin-bottom: 10px;
            text-align: left;
          }
  
          &:last-child {
            margin-bottom: 0px;
          }
  
          /*Start: Styles for default link in the list*/
          a {
            padding-right: 1rem;
            color: $main-green  !important;
            font-size: 14px;
            letter-spacing: 2px;
            line-height: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: block;
            text-transform: uppercase;
            position: relative;
  
            &:hover {
              text-decoration: underline;
            }
  
            &:before {
              display: none;
            }
  
            @media (max-width: 1199.98px) {
              max-width: 465px;
              display: block;
            }
  
            @media (max-width: 991.98px) {
              max-width: 500px;
              display: inline-block;
            }
  
            @media (max-width: 767.98px) {
              font-size: 12px;
              padding-right: 0.8rem;
            }
  
            @media (max-width: 575.98px) {
              max-width: 250px;
            }
  
          }
        }
  
        /*Start: Styles for download link in the list*/
        &.download-report-list {
          &.right-list {
            text-align: right;
            max-width: 100%;
          }
  
          ul {
            li {
              a {
                padding-right: 1.5rem;
                color: $main-green  !important;
                font-size: 14px;
                letter-spacing: 2px;
                line-height: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                text-transform: uppercase;
                position: relative;
  
                &:hover {
                  text-decoration: underline;
                }
  
                &:before {
                  border: none;
                  background: url("../img/svg-icons/download_green.svg") left top no-repeat;
                  background-size: 100%;
                  display: block;
                  width: 14px;
                  height: 14px;
                  transform: translateY(-50%) rotate(0deg);
                  right: 0;
                  left: auto;
                  top: 50%;
                  position: absolute;
                  content: "";
                }
  
                @media (max-width: 1199.98px) {
                  max-width: 465px;
                  display: block;
                }
  
                @media (max-width: 991.98px) {
                  max-width: 500px;
                  text-align: left;
                  display: inline-block;
                }
  
                @media (max-width: 767.98px) {
                  font-size: 12px;
                  padding-right: 1.2rem;
                }
  
                @media (max-width: 575.98px) {
                  max-width: 330px;
                }
  
                @media (max-width: 374.98px) {
                  max-width: 275px;
                }
              }
            }
          }
        }
  
        /*Start: Styles for Chevron go link in the list*/
        &.chevron-report-list {
          &.right-list {
            text-align: right;
            max-width: 100%;
  
            ul {
              li {
                a {
                  padding-right: 1.3rem;
                  &:before {
                    right: 1%;
                  }
                }
              }
            }
          }
  
          ul {
            li {
              a {
                padding-right: 1rem;
                color: $main-green  !important;
                font-size: 14px;
                letter-spacing: 2px;
                line-height: 20px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: block;
                text-transform: uppercase;
                position: relative;
  
                &:hover {
                  text-decoration: underline;
                }
  
                &:before {
                  border: solid $main-green;
                  border-width: 0 1px 1px 0;
                  padding: 3.7px;
                  display: block;
                  content: "";
                  position: absolute;
                  top: 50%;
                  right: 3%;
                  transform: translateY(-50%) rotate(-45deg);
  
                  @media (max-width: 767.98px) {
                    right: 2px;
                  }
                }
  
                @media (max-width: 1199.98px) {
                  max-width: 465px;
                  display: block;
                }
  
                @media (max-width: 991.98px) {
                  max-width: 500px;
                  display: inline-block;
                  padding-right: 1.3rem;
                }
  
                @media (max-width: 767.98px) {
                  font-size: 12px;
                  padding-right: 0.8rem;
                }
  
                @media (max-width: 575.98px) {
                  max-width: 330px;
                }
  
                @media (max-width: 374.98px) {
                  max-width: 275px;
                }
  
              }
            }
          }
        }
      }
    }
  
    .download-quarter-list {
      .desc {
        &.download-report-list {
          ul {
            li {
              text-align: left;
  
              a {
                padding-right: 1rem;
  
                @media (max-width: 1199.98px) {
                  max-width: 465px;
                  padding-right: 1.3rem;
                  display: block;
                }
  
                @media (max-width: 991.98px) {
                  max-width: 500px;
                  display: inline-block;
                }
  
                @media (max-width: 575.98px) {
                  max-width: 330px;
                }
  
                @media (max-width: 374.98px) {
                  max-width: 275px;
                }
              }
            }
          }
  
        }
      }
    }
  
  
  *[lang=ar] {
    *[dir=rtl] {
      .report-block-tile {
        &.bgpattern {
          background: linear-gradient(225deg, $white 0%, $white 100%);
  
          &:after,
          &:before {
            right: auto;
            left: 0;
            transform: rotate(180deg);
          }
        }
  
        &.report-block-tile-top-link {
          .btn-report-link {
            right: auto;
            left: 2rem;
            top: 2.5rem;
            text-align: left;
            @media (max-width: 991.98px) {
              right: 0.8rem;
              left: auto;
              top: 0;
              text-align: right;
              .btn-text {
                padding-right: 0;
              }
            }
  
            .btn-text {
              &:before {
                @media (max-width: 991.98px) {
                  right: auto;
                }
              }
            }
  
          }
        }
  
        &.download-link {
          @media (max-width: 991.98px) {
            // right: 2rem;
            // left: auto;
          }
  
          .btn-report-link {
            .btn-text {
              padding-left: 1.2rem;
              padding-right: 0;
              font-size: 16px;
              &:before {
                left: 0;
                right: auto;
              }
              span{
                font-weight: 400;
              }
            }
          }
  
        }
  
        .report-block-highlights {
          .desc {
            p {
              font-weight: normal !important;
            }
  
            ul {
              li {
                text-align: right;
                a {
                  font-size: 16px;
                  letter-spacing: 0px !important;
                  font-weight: normal;
                }
              }
            }
  
            &.download-report-list {
              &.right-list {
                text-align: left;
  
                ul {
                  li {
                    text-align: left;
  
                    a {
                      padding-left: 1.3rem;
                    }
                  }
                }
                @media (max-width: 991.98px) {
                  text-align: right;
                  ul {
                    li {
                      text-align: right;
                      a {
                        padding-left: 1.3rem;
                      }
                    }
                  }
                }
              }
  
              @media (max-width: 991.98px) {
                text-align: right;
                ul {
                  li {
                    text-align: right;
                    a {
                      padding-left: 1.3rem;
                    }
                  }
                }
              }
  
              ul {
                li {
                  text-align: right;
  
                  a {
                    padding-right: 0;
                    padding-left: 1.3rem;
                    font-size: 16px;
                    letter-spacing: 0px !important;
                    font-weight: normal;
  
                    &:before {
                      transform: translateY(-50%) rotate(0deg);
                      right: auto;
                      left: 0;
                    }
                  }
                }
              }
            }
  
            &.chevron-report-list {
              text-align: left;
  
              @media (max-width: 991.98px) {
                text-align: right;
              }
              &.right-list {
                text-align: right;
                max-width: 100%;
      
                ul {
                  li {
                    a {
                      padding-left: 1.3rem;
                      padding-right: 0px;
                      &:before {
                        left: 1%;
                        right: auto;
                      }
                    }
                  }
                }
              }
  
              ul {
                li {
                  text-align: left;
                  @media (max-width: 991.98px) {
                    text-align: right;
                  }
  
                  a {
                    padding-right: 0;
                    padding-left: 1.3rem;
                    font-size: 16px;
                    letter-spacing: 0px !important;
                    font-weight: normal;
                    display: inline-block;
  
                    &:before {
                      transform: translateY(-50%) rotate(135deg);
                      right: auto;
                      left: 3%;
                    }
                  }
                }
              }
            }
          }
        }
  
        &.download-quarter-list {
          .desc {
            &.download-report-list {
              text-align: right;
            }
          }
        }
      }
    }
  }


