.basicpage .report-block-tile {
  position: relative;
  border-radius: toRem(8);
  box-shadow: 0 toRem(5) toRem(10) 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  padding: 3.2375rem 3.2375rem 2.2175rem 3.2375rem;

  @include respond-to-max($desktop) {
    padding: 1.8rem;
  }
  @include respond-to-max($tablet) {
    padding: 1;
  }

  h2 {
    font-size: $font20;
    line-height: toRem(28);
    color: $almost-black;
    margin-top: toRem(5);
    margin-bottom: 10;
    @include respond-to-min($desktop) {
      line-height: 1.4;
    }
  }

  .cmp-text h5 {
    margin: 0;
    font-size: $font12;
    color: $steel-grey;
    line-height: toRem(12);
    @include font-family-lato;
  }

  h6 {
    @include font-family-lato;
    font-size: $font12;
    letter-spacing: toRem(4);
    line-height: toRem(12);
    color: #909090;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
  }
  p.cmp-link__text:first-child {
    font-size: $font12;
    @include respond-to-min($tablet) {
      font-size: $font14;
    }
  }
  a:hover {
    text-decoration: underline;
  }
  .cmp-link__text {
    color: $main-green;
    letter-spacing: toRem(2);
    font-size: $font14;
    line-height: toRem(20);
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    @include respond-to-min($desktop) {
      margin-top: toRem(10);
    }
    @include respond-to-max($tablet) {
      font-size: $font12;
    }
  }
  p {
    z-index: 1;
    position: static;
    top: 0;
    right: 0;
    text-align: right;
    margin-right: toRem(17);
    font-size: $font14;
    @include respond-to-max($desktop) {
      position: static;
      text-align: left;
      margin-right: 0;
      margin-bottom: toRem(10);
    }
    .cmp-link__text {
      color: $main-green;
      letter-spacing: toRem(2);
      font-size: $font14;
      line-height: toRem(20);
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include respond-to-min($desktop) {
        margin-top: toRem(10);
      }
      @include respond-to-max($tablet) {
        font-size: $font12;
      }
    }
  }
  svg {
    width: toRem(14);
    position: relative;
    top: toRem(-4);
    margin-left: toRem(3.7);
    @include respond-to-min($desktop) {
      top: 0;
    }
  }
}

//arabic
[lang="ar"] [dir="rtl"] .report-block-tile {
  p {
    text-align: left;
  }
  &.bgpattern {
    background: linear-gradient(225deg, $white 0%, $white 100%);

    &:after,
    &:before {
      right: auto;
      left: 0;
      transform: rotate(180deg);
    }
  }
}

///tab with carosol on desktop
.product-grid-single {
  padding: 1.5rem 0;
  @include respond-to-min($desktop) {
    padding: toRem(40) toRem(16);
    .col-md-3 {
      width: 26%;
    }
    .col-md-9 {
      width: 74%;
    }
    .promotions-title-wrap {
      padding-top: toRem(28);
    }
  }
  h3 {
    margin-bottom: 1.5rem;
  }
  .controls {
    display: none;

    @include respond-to-min($desktop) {
      display: block;
      position: absolute;
    }
    .prev,
    .next {
      width: toRem(48);
      height: toRem(48);
      display: flex;
      align-items: center;
      justify-content: center;

      &.swiper-button-disabled {
        pointer-events: none;
        cursor: not-allowed;
      }
    }
  }
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.product-grid-single .next svg,
.product-grid-single .prev svg {
  stroke: $almost-black;
  width: 1rem;
  height: 1rem;
}
.product-grid-single .next.swiper-button-disabled svg,
.product-grid-single .prev.swiper-button-disabled svg {
  stroke: $gray;
}
.product-grid-single .next,
.product-grid-single .prev {
  width: toRem(54) !important;
  float: left;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@include respond-to-max($tablet) {
  .product-promotions-wrraper {
    .swiper-slide {
      padding-left: toRem(12);
      padding-right: toRem(12);
    }
  }
}
//tab content where tab with alphabets
.cmp_tabs__horizontal_with_target {
  padding: $padding-step-0;
  .edc-tabs-wrapper {
    .cmp-tabs__tabpanel {
      &--active {
        padding: 1.5rem 0;
        @include respond-to-min($desktop) {
          padding-top: 3rem 0;
        }
        .ul-list-cms {
          ul {
            li {
              font-size: $font14;
              line-height: toRem(20);
              @include respond-to-min($desktop) {
                line-height: 1.5rem;
              }
            }
          }
        }
      }
    }
  }

  .container {
    padding: 0 !important;
  }
}