.smiles-page {
	min-height: toRem(525);
	max-height: toRem(600);
	position: relative;
	@include respond-to-max($phone){
		height: toRem(560);
		margin-bottom: 3rem;
	}
	@include respond-to-min($desktop) {
		max-height: toRem(420);
		min-height: toRem(420);
		margin-top: calc(#{$margin-step-3} - 4px);
		&:before {
			content: "";
			background: url("../resources/images/sectionbg.svg") no-repeat;
			background-size: contain;
			height: 420px;
			position: absolute;
			width: 420px;
			opacity: .15;
			top: 0;
			z-index: 0;
		}
		&:after {
			transform: rotate(180deg);
			content: "";
			background: url("../resources/images/sectionbg.svg") no-repeat;
			background-size: contain;
			height: 420px;
			position: absolute;
			width: 420px;
			opacity: .15;
			top: 0;
			right: 0;
			z-index: 0;
		}
		
	}
	.cmp-tabs{
		padding: 0 1rem;
		@include respond-to-min($desktop) {
		padding: 0 2rem;
		}
	}
	.cmp-tabs__tablist {
		position: absolute;
		z-index: 7;
		top: 2rem;
		@include respond-to-min($desktop) {
			top: 64px;
		}
		li {
			display: block;
			position: relative;
			font-size: $font12;
			font-weight: 700;
			color: $gray;
			padding: 0 2.1rem 1.1rem;
			text-transform: uppercase;
			@include font-family-lato;
			letter-spacing: 2.18px;
			margin-right: 1.5rem;
			&.cmp-tabs__tab {
				&--active {
					color: $main-green;
					background: transparent;
					border-bottom: 2px solid $main-green;
				}
			}
		}
	}
	.cmp-text {
		position: relative;
		padding-top: 3.2rem;
		@include respond-to-min($desktop) {
			padding-top: 102px;
		}
		h3 {
			margin: 0;
			font-size:$font26;
			line-height: 33px;
			margin-top: 17px;
			margin-bottom: 1.5rem;
			color: $almost-black;
			@include respond-to-min($desktop) {
				font-size: $font40;
				line-height: 50px;
				margin-bottom: 3.2rem;
			}
		}
		img {
			width: 100%;
			height: 100%;
		}
		
	}
	.cmp_btn{
		margin-bottom: 0;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		@include respond-to-min($desktop) {
			margin-bottom: 2rem;
		}
		img {
			max-width: 132px;
			padding-right: 1rem;
			margin-bottom: 2rem;
			@include respond-to-min($desktop) {
				margin-bottom: 0rem;
			}
		}
	}
	.cmp-image {
		height: 290px;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		-ms-flex-pack: center;
		justify-content: center;
		overflow: hidden;
		@include respond-to-min($desktop) {
			margin-top: -$margin-step-4;
			height: toRem(460);
		}
		@include respond-to-max($tablet){
			margin-top: $margin-step-0;	
		 }
		 @include respond-to-max($phone){
			margin-top: $margin-step-4;
		 }
		img {
			width: auto;
			z-index: 11;
			@include respond-to-max($tablet) {
				height: 100%;
			}
		}
	}
}