$spacer-height: 1rem;
.spacer {
  display: block;
  min-height: $spacer-height / 4;
  background-color: transparent ;
  &.spacer-zero {
    height: 0;
    min-height: 0;
  }
  &.spacer-8 {
    height: $spacer-height / 2;
   @include respond-to-max($phone){
      height: $spacer-height / 4;
    }
    &.sand-white {
      background-color: $sand-white-50 ;
    }
    &.white {
      background-color: $white ;
    }
    @include spacer-light-gray();
  }
  &.spacer-16 {
    height: $spacer-height;
    @include respond-to-max($phone) {
      height: $spacer-height / 2;
    }
    &.sand-white {
      background-color: $sand-white-50;
    }
    &.white {
      background-color: $white ;
    }
    @include spacer-light-gray();
  }
  &.spacer-24 {
    height: $spacer-height * 1.5;
    @include respond-to-max($phone){
      height: $spacer-height * .75;
    }
    &.sand-white {
      background-color: $sand-white-50;
    }
    &.white {
      background-color: $white ;
    }
    @include spacer-light-gray();
  }
  &.spacer-36 {
    height: $spacer-height * 2.25;
    @include respond-to-max($phone){
      height: $spacer-height;
    }
    &.sand-white {
      background-color: $sand-white-50 !important;
    }
    &.white {
      background-color: $white !important;
    }
    @include spacer-light-gray();
  }
  &.spacer-52 {
    height: $spacer-height * 3.25;
    @include respond-to-max($phone){
      height: $spacer-height * 1.5;
    }
    &.sand-white {
      background-color: $sand-white-50 ;
    }
    &.white {
      background-color: $white;
    }
    @include spacer-light-gray();
  }
  &.spacer-64 {
    height: $spacer-height * 4;
    @include respond-to-max($phone){
      height: $spacer-height * 2;
    }
    &.sand-white {
      background-color: $sand-white-50;
    }
    &.white {
      background-color: $white;
    }
    @include spacer-light-gray();
  }
  &.spacer-84 {
    height: $spacer-height * 5.25;
    @include respond-to-max($phone){
      height: $spacer-height * 3;
    }
    &.sand-white {
      background-color: $sand-white-50;
    }
    &.white {
      background-color: $white;
    }
    @include spacer-light-gray();
  }
  &.spacer-102 {
    height: $spacer-height * 6.375;
    @include respond-to-max($phone){
      height: $spacer-height * 4.5;
    }
    &.sand-white {
      background-color: $sand-white-50;
    }
    &.white {
      background-color: $white;
    }
    @include spacer-light-gray();
  }
}


