$spacer-height: 1rem;

.spacer {
  display: block;
  min-height: $spacer-height / 4;
  background-color: transparent ;
  &.spacer-zero {
    height: 0;
    min-height: 0;
  }
  &.spacer-8 {
    height: $spacer-height / 2;
   @include respond-to-max($phone){
      height: $spacer-height / 4;
    }
    @include spacer-color-sand-white();
    @include spacer-color-white();
    &.light-gray {
      background-color: #F2F2F2 !important;
      opacity: .30;
    }
  }
  &.spacer-16 {
    height: $spacer-height;
    @include respond-to-max($phone) {
      height: $spacer-height / 2;
    }
    @include spacer-color-sand-white();
    @include spacer-color-white();
    &.light-gray {
      background-color: #F2F2F2 !important;
      opacity: .30;
    }
  }
  &.spacer-24 {
    height: $spacer-height * 1.5;
    @include respond-to-max($phone){
      height: $spacer-height * .75;
    }
    @include spacer-color-sand-white();
    @include spacer-color-white();
    &.light-gray {
      background-color: #F2F2F2 !important;
      opacity: .30;
    }
  }
  &.spacer-36 {
    height: $spacer-height * 2.25;
    @include respond-to-max($phone){
      height: $spacer-height;
    }
    @include spacer-color-sand-white();
    @include spacer-color-white();
    &.light-gray {
      background-color: #F2F2F2 !important;
      opacity: .30;
    }
  }
  &.spacer-42 {
    height: $spacer-height * 1.5;
    @include respond-to-max($desktop){
      height: $spacer-height * 0.25;
    }
    @include spacer-color-sand-white();
    @include spacer-color-white();
    &.light-gray {
      background-color: #F2F2F2 !important;
      opacity: .30;
    }
  }
  &.spacer-48 {
    height: $spacer-height * 3;
    @include respond-to-max($desktop){
      height: $spacer-height * 0.5;
    }
    @include spacer-color-sand-white();
    @include spacer-color-white();
    &.light-gray {
      background-color: #F2F2F2 !important;
      opacity: .30;
    }
  }
  &.spacer-52 {
    height: $spacer-height * 3.25;
    @include respond-to-max($phone){
      height: $spacer-height * 1.5;
    }
    @include spacer-color-sand-white();
    @include spacer-color-white();
    &.light-gray {
      background-color: #F2F2F2 !important;
      opacity: .30;
    }
  }
  &.spacer-64 {
    height: $spacer-height * 4;
    @include respond-to-max($phone){
      height: $spacer-height * 2;
    }
    @include spacer-color-sand-white();
    @include spacer-color-white();
    &.light-gray {
      background-color: #F2F2F2 !important;
      opacity: .30;
    }
  }
  &.spacer-84 {
    height: $spacer-height * 5.25;
    @include respond-to-max($phone){
      height: $spacer-height * 3;
    }
    @include spacer-color-sand-white();
    @include spacer-color-white();
    &.light-gray {
      background-color: #F2F2F2 !important;
      opacity: .30;
    }
  }
  &.spacer-102 {
    height: $spacer-height * 6.375;
    @include respond-to-max($phone){
      height: $spacer-height * 4.5;
    }
    @include spacer-color-sand-white();
    @include spacer-color-white();
    &.light-gray {
      background-color: #F2F2F2 !important;
      opacity: .30;
    }
  }
}
