.form input[type=text]:not(.browser-default){
    background-color: transparent;
   }
   input:-internal-autofill-selected,
    input:focus {
        background-color: transparent;
    }
.subscribe_newsletter {
    padding:2rem !important;
    .cmp-teaser__description {
        width: 100%;

        p {
            color: $gray-fill;
            font-size: $font18;
            line-height: 28px;
            margin-bottom: 1.563rem;
            width: 100%;
        }
    }

    .cmp-form-text__text {
        margin-bottom: 2.25rem !important;
        }
    
    .cws-form .cmp-form-text,.wst-form .has-error{
        bottom: 1.9rem;
    }
    .cmp-form-button {
        box-shadow: none !important;
        color: $almost-black;
        border-color: $almost-black;
        height: 3rem;
        font-size: $font14;
        line-height: 3rem;
        letter-spacing: .14285714em;
        position: relative;
        overflow: hidden;
        background: transparent;
        margin-top: -8px;
        z-index: 5;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
        background-color: transparent;
        text-align: center;
        padding: 0 .5rem;
        border-radius: 4px;
        border-width: 1px;
        width: 90%;
        outline: 0;
        font-weight: 700;
        margin-left: 1.5rem;

        &:hover {
            box-shadow: none !important;
            color: $main-green;
            background-color: transparent !important;
            border-color: $main-green;
        }

        &:focus {
            background-color: transparent !important;
            outline: none;
        }

        @include md {
            margin-bottom: 2rem;
            margin-left: 0;
            margin-top: 0;
        }

        .wst-form {
            @include md {
                text-align: center;
            }
        }

        .has-error-fields label {
            margin-left: 0;
        }

    }

    .test--form {
        padding-left: 2.4rem !important;
    }

    .googlecaptcha {
        display: none;
    }

    .newpar {
        display: none;
    }

    .cmp-teaser__description {
        width: 100% !important;
    }

    .cmp-form {
        padding: 0 1rem !important;
    }

    >.cmp-container:before {
        background: url("../resources/images/sectionbg.svg");
        content: "";
        background-repeat: no-repeat;
        background-size: contain;
        height: 280px;
        width: 260px;
        position: absolute;
        opacity: .1;
        z-index: 1;
        bottom: 0;
        background-position: top left;
    }

    >.cmp-container:after {
        background: url("../resources/images/sectionbg.svg");
        content: "";
        background-repeat: no-repeat;
        background-size: contain;
        height: 280px;
        position: absolute;
        width: 260px;
        opacity: .1;
        z-index: 1;
        right: 0;
        transform: rotate(180deg);
        top: 0;
    }

    button {
        &:focus {
            background-color: transparent !important;
            outline: none;
        }
    }

    .cmp-form-text {
        label {
            margin-left: 0;
        }
    }

    .aem-Grid.aem-Grid--12>.aem-GridColumn.aem-GridColumn--offset--default--1 {
        @include respond-to-min($desktop) {
            margin-left: 2rem;
        }

    }
  
   
    
    input:-internal-autofill-selected,
    input:focus {
        background-color: $white !important;
    }

    .button {
        margin-top: -14px;
    }

}


.cmp-experiencefragment--Newsletter-subscription-pop-up {
    display: none;
}

// ============== Success popup start ===============
.success-message {
    .cmp-container {
        overflow: hidden;
    }

    .cmp-text {
        padding: 2.75rem 0;
        border-bottom: 1px solid $light-sand-brown;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $font16;
        line-height: 22px;
        top: 0px;
        margin-top: 0px;

        h1 {
            text-align: center;
            margin: 0;
            font-size: $font24;
            line-height: 2rem;
            color: $almost-black;
            @include font-family-Neotech;
            font-weight: 400;
        }
    }

    .teaser {
        margin: 0 auto;
        width: 66.66666667%;
        float: none;

        .cmp-teaser {
            .cmp-teaser__image {
                text-align: center;

                img {
                    width: 300px;
                }
            }

            .cmp-teaser__content {
                text-align: center;
                padding-left: 1.5rem;
                padding-right: 1.5rem;

                .cmp-teaser__title {
                    color: $main-green;
                    font-size: 1.65rem;
                    margin-top: 25px;
                    margin-bottom: 12.5px;
                }

                .cmp-teaser__description {
                    width: 100% !important;
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;

                    p {
                        color: $gray-fill;
                        line-height: 24px;
                        font-size: $font18;
                        margin-top: 2.5rem;
                        margin-bottom: 1.5rem;

                        @include md {
                            font-size: 16px;
                            margin-top: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}


// ======= Custem Popup ===
.cmp-experiencefragment--Newsletter-subscription-pop-up {
    position: fixed;
    top: 0;
    background: $white;
    width: 100%;
    height: 100%;
    z-index: 10000;
    padding: 0;
    left: 0;

    @include respond-to-min($desktop) {
        padding-right: 6rem;
        padding-left: 6rem;
    }

    .teaser {
        width: 100% !important;

        @include respond-to-min($desktop) {
            width: 76% !important;
            float: none !important;
            margin: 0 auto;

        }
    }
}

// ============= CLOSE BTN =============
.form-close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;

    @include md {
        top: 2.4rem;
        right: 1rem;
    }

    &:hover {
        opacity: 1;
    }

    &:before,
    &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: $almost-black;
    }
}

.form-close:before {
    transform: rotate(45deg);
}

.form-close:after {
    transform: rotate(-45deg);
}

.dynamicEmail {
    color: $gray-fill;
    line-height: 24px;
    font-size: $font18;
    margin-bottom: 1.5rem;
    margin-top: -5.5rem;
    margin-right: 0;
    @include font-family-lato;
}