.subscribe_newsletter {
    .cmp-teaser__description {
        width: 100%;
        p {
            color: $gray-fill;
            font-size: $font18;
            line-height: 28px;
            margin-bottom: 2rem;
            width: 100%;
        }
    }
    .buttion {
        box-shadow: none !important;
        color: $main-green;
        border-color: $main-green;
        height: 3rem;
        font-size: $font14;
        line-height: 3rem;
        letter-spacing: .14285714em;
        position: relative;
        overflow: hidden;
        background: transparent;
        margin-top: -8px;
        z-index: 5;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
        background-color: $white;
        text-align: center;
        padding: 0 .5rem;
        border-radius: 4px;
        border-width: 1px;
        width: 60%;
        outline: 0;
        font-weight: 700;
        margin-left: 6rem;
    }
    .test--form {
        padding-left: 2.4rem !important;
    }
    .googlecaptcha {
        display: none;
    }
    .newpar {
        display: none;
    }
    .cmp-teaser__description {
        width: 100% !important;
    }
    .cmp-form {
        padding: 0 2.3rem!important;
    }
}
#form-popup-box {
    display: none;
}
// ============== Success popup start ===============
.success-message {
    .cmp-container {
        overflow: hidden;
    }
    .cmp-text {
        padding: 2.75rem 0;
        border-bottom: 1px solid $light-sand-brown;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2.75rem;
        font-size: $font16;
        line-height: 22px;
        top: 0px;
        margin-top: 0px;
        h3 {
            text-align: center;
            margin: 0;
            font-size: $font24;
            line-height: 2rem;
            color: $almost-black;
            @include font-family-Neotech;
            font-weight: 400;
        }
    }
    .teaser {
        margin: 0 auto;
        width: 66.66666667%;
        float: none;
        .cmp-teaser {
            .cmp-teaser__image {
                text-align: center;
                img {
                    width: 250px;
                }
            }
            .cmp-teaser__content {
                text-align: center;
                .cmp-teaser__title {
                    color: $main-green;
                    font-size: 1.65rem;
                    margin-top: 25px;
                    margin-bottom: 12.5px;
                }
                .cmp-teaser__description {
                    width: 100% !important;
                    p {
                        color: $gray-fill;
                        line-height: 24px;
                        font-size: $font18;
                        margin-top: 3rem;
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }
    }
}