.subscribe_newsletter {
    .cmp-teaser__description {
        width: 100%;
        p {
            color: #6b6b6b;
            font-size: 18px;
            line-height: 28px;
            margin-bottom: 2rem;
            width: 100%;
        }
    }
    .buttion {
        box-shadow: none !important;
        color: #719e19;
        background-color: #fff;
        border-color: #719e19;
        height: 3rem;
        font-size: .875rem;
        line-height: 3rem;
        letter-spacing: .14285714em;
        position: relative;
        overflow: hidden;
        background: transparent;
        margin-top: -8px;
        z-index: 5;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
        color: #353738;
        background-color: #fff;
        text-align: center;
        padding: 0 .5rem;
        border-radius: 4px;
        border-width: 1px;
        width: 60%;
        border-color: #151515;
        outline: 0;
        font-weight: 700;
        margin-left: 6rem;
    }
    .test--form {
        padding-left: 2.4rem !important;
    }
    .googlecaptcha {
        display: none;
    }
    .newpar {
        display: none;
    }
    .cmp-teaser__description {
        width: 100% !important;
    }
    .cmp-form {
        padding: 0 2.3rem!important;
    }
}
#form-popup-box {
    display: none;
}
// ============== Success popup start ===============
.success-message {
    .cmp-container {
        overflow: hidden;
    }
    .cmp-text {
        padding: 2.75rem 0;
        border-bottom: 1px solid #e2e1da;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2.75rem;
        font-size: 16px;
        line-height: 22px;
        top: 0px;
        margin-top: 0px;
        h3 {
            text-align: center;
            margin: 0;
            font-size: 1.5rem;
            line-height: 2rem;
            color: #353738;
            font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif;
            font-weight: 400;
        }
    }
    .teaser {
        margin: 0 auto;
        width: 66.66666667%;
        float: none;
        .cmp-teaser {
            .cmp-teaser__image {
                text-align: center;
                img {
                    width: 250px;
                }
            }
            .cmp-teaser__content {
                text-align: center;
                .cmp-teaser__title {
                    color: #719e19;
                    font-size: 1.65rem;
                    margin-top: 25px;
                    margin-bottom: 12.5px;
                }
                .cmp-teaser__description {
                    width: 100% !important;
                    p {
                        color: #6b6b6b;
                        line-height: 24px;
                        font-size: 18px;
                        margin-top: 3rem;
                        margin-bottom: 1.5rem;
                    }
                }
            }
        }
    }
}