.striped {
	table {
		font-size: $font14;
		border: 0;
		width: 100%;
		max-width: 100%;
		margin-bottom: 25px;
		background-color: transparent;
		border-collapse: collapse;
		border-spacing: 0;
		@include font-family-lato;
	}

	table > tfoot > tr > th:last-child,
	.table > tfoot > tr > td:last-child,
	table > thead > tr > th:last-child,
	table > thead > tr > td:last-child,
	table > tbody > tr > th:last-child,
	table > tbody > tr > td:last-child {
		border-radius: 0 4px 4px 0;
		padding: 0.625rem 1rem;
	}
	table > tbody > tr > td,
	table > tbody > tr > th,
	table > tfoot > tr > td,
	table > tfoot > tr > th,
	table > thead > tr > td,
	table > thead > tr > th {
		border: 0;
	}
	table > caption + thead > tr:first-child > td,
	table > caption + thead > tr:first-child > th,
	table > colgroup + thead > tr:first-child > td,
	table > colgroup + thead > tr:first-child > th,
	table > thead:first-child > tr:first-child > td,
	table > thead:first-child > tr:first-child > th {
		border-top: 0;
	}
	table thead th {
		font-size: $font12;
		letter-spacing: 2px;
		@include font-family-lato;
		color: $almost-black;
		text-transform: uppercase;
		vertical-align: bottom;
		line-height: 16px;
		padding-bottom: 16px !important;
	}
	table > tbody > tr > th,
	table > tfoot > tr > th,
	table > thead > tr > th {
		font-weight: 400;
	}
	table > tbody > tr > td,
	table > tbody > tr > th,
	table > tfoot > tr > td,
	table > tfoot > tr > th,
	table > thead > tr > td,
	table > thead > tr > th {
		word-break: break-word;
	}

	table > tbody > tr:nth-of-type(odd) {
		background-color: $light-yellow;
	}
	table > tbody > tr > td:first-child,
	table > tbody > tr > th:first-child,
	table > tfoot > tr > td:first-child,
	table > tfoot > tr > th:first-child,
	table > thead > tr > td:first-child,
	table > thead > tr > th:first-child {
		border-radius: 4px 0 0 4px;
		padding: 0.625rem 1rem;
	}

	table > tbody > tr > td:first-child,
	table > tbody > tr > th:first-child,
	table > tfoot > tr > td:first-child,
	table > tfoot > tr > th:first-child,
	table > thead > tr > td:first-child,
	table > thead > tr > th:first-child {
		border-radius: 4px 0 0 4px;
		padding: 0.625rem 1rem;
	}
	table tbody > tr > td {
		font-weight: 700;
		color: $almost-black;
		@include font-family-lato;
		line-height: 22px;
		font-size: $font16;
	}

	table > tbody > tr > td,
	table > tbody > tr > th,
	table > tfoot > tr > td,
	table > tfoot > tr > th,
	table > thead > tr > td,
	table > thead > tr > th {
		border: 0;
	}
	table > tbody > tr > td,
	table > tbody > tr > th,
	table > tfoot > tr > td,
	table > tfoot > tr > th,
	table > thead > tr > td,
	table > thead > tr > th {
		vertical-align: middle;
		padding: 1rem;
		word-break: break-word;
	}

	@include respond-to-min($desktop-wide) {
		table > tbody > tr > td,
		table > tfoot > tr > td,
		table > thead > tr > td {
			word-break: keep-all;
		}
	}

	@include respond-to-max($desktop - 1) {
		table thead {
			display: none;
		}
		table tbody td,
		table tbody tr,
		table td,
		table thead tr {
			display: block;
		}
		table tbody tr td:before {
			content: attr(data-label);
			display: block;
			font-size: $font12;
			letter-spacing: 2px;
			@include font-family-lato;
			color: $almost-black;
			text-transform: uppercase;
			vertical-align: bottom;
			line-height: 2rem;
			font-weight: 400;
		}
	}
}

.table-border {
	table {
		width: 100%;
		background-color: transparent;
		border-collapse: collapse;
		border-spacing: 0;
		@include respond-to-max($tablet - 1) {
			margin-left: 16px;
			margin-right: 16px;
		}
		thead {
			display: none;
			@include respond-to-min($desktop) {
				display: table-header-group;
			}
			font-size: $font16;
			font-weight: 700;
			line-height: 1.13;
			letter-spacing: normal;
			color: $almost-black;
			@include font-family-lato;

			tr {
				border-bottom: 1px solid $silver-white;
				td,
				th {
					padding: 0;
				}
				th {
					padding-bottom: 15px;
				}
				caption,
				th {
					text-align: left;
				}
			}
		}
		tbody {
			font-size: $font14;
			line-height: 20px;
			color: $dark-gray;
			@include font-family-lato;
			@include respond-to-min($desktop) {
				font-size: $font16;
				line-height: 1.5;
			}

			tr {
				border-bottom: 1px solid $silver-white;
				padding: 56px 0 16px;

				@include respond-to-max($tablet - 1) {
					display: block;
				}
				@media only screen and (max-width: 1239px) and (min-width: 768px) {
					display: flex;
				}
				@media screen and (max-width: 1239px) {
					border-top: 1px solid $silver-white;
					margin-bottom: -1px;
					position: relative;
					flex-wrap: wrap;
				}

				td {
					padding-top: 17px;
					padding-bottom: 19px;
					padding-right: 24px;
					vertical-align: baseline;
					@include respond-to-max($tablet - 1) {
						padding: 8px 0;
					}
					@media screen and (min-width: 1248px) {
						width: 306px;
						min-width: 306px;
					}
					&:first-child {
						font-size: $font12;
						font-weight: 700;
						line-height: 1.33;
						letter-spacing: 2px;
						color: $almost-black;
						text-transform: uppercase;
						@include respond-to-max($desktop - 1) {
							top: 24px;
							line-height: 16px;
						}

						@media screen and (max-width: 1239px) {
							position: absolute;
							padding: 0;
							font-size: $font14;
						}
					}
				}
			}
		}
	}
	table tbody tr td {
		width: 100%;
		@include respond-to-min($tablet) {
			width: 33.2%;
		}
		@include respond-to-min($desktop) {
			width: 306px;
		}
		@include respond-to-max($desktop - 1) {
			display: block;
		}
		&:before {
			@include respond-to-max($desktop - 1) {
				content: attr(data-label);
				display: block;
				@include font-family-lato;
				color: $almost-black;
				vertical-align: bottom;
				font-size: $font14;
				line-height: 16px;
				font-weight: 700;
				margin-bottom: 4px;
			}
		}

		@media screen and (max-width: 1239px) {
			padding: 12px 0;
			padding-right: 24px;
		}
	}
}
.table {
	table {
		img {
			object-fit: contain;
			margin-right: 0.875rem;
		}
	}
}
.tables-4-0 {
	overflow-style: none;
	scrollbar-width: none;
	.dataTables_info {
		display: none;
	}
	.dataTables_paginate {
		display: none;
	}
	&::-webkit-scrollbar {
		display: none;
	}
}

.fade.show {
	opacity: 1;
}
.dataTables_filter {
	display: none;
}
