.cmp-rte-table {
	table {
		font-size: .875rem;
		color: #353738;
		width: 100%;
		max-width: 100%;
		margin-bottom: 25px;
	}
	tr th:first-child {
		border-radius: 4px 0 0 4px;
	}
	tr th {
		font-size: 12px;
		letter-spacing: 2px;
		font-weight: 400;
		text-transform: uppercase;
		vertical-align: bottom;
		line-height: 16px;
		padding: 1rem 1rem;
		background-color: #fff;
		font-family: Lato,GE SS Two,Roboto,Arial,sans-serif;
	}
	tr td {
		font-weight: 700;
		line-height: 22px;
		font-size: 1rem;
		padding: 1rem 1rem;
		font-family: Lato,GE SS Two,Roboto,Arial,sans-serif;
	}
	tr:nth-of-type(odd) {
		background-color: #fafaf5;
	}
	@media screen and (min-width: 992px) {
		tr th {
			width: 20%;
		}
	}
}
