//mobile view st

.cmp-title {
  margin: 0;
  font-size: $font28;
  line-height: 1.21;
  letter-spacing: normal;
  color: $almost-black;
}

.panel-collapse {
  font-size: 1rem !important;
  line-height: 1.8rem !important;
}

.cmp-teaser__description {
  ul li {
    color: #6f6c70;
    font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 20px;
    margin: 0 0 0.5rem;
    position: relative;
  }
}

.cmp_accordion___view {
  .cmp-teaser__action-link {
    font-size: $font12;
    line-height: 16px;
    letter-spacing: 1.6px;
    position: relative;
    text-transform: uppercase;
  }
  .cmp-teaser__action-link:before {
    content: "";
    right: -13px;
    border: solid #719e19;
    border-width: 0 1px 1px 0;
    padding: 3.5px;
    position: absolute;
    line-height: 1;
    -webkit-transform: translateY(-50%) rotate(-45deg);
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
    transition: all 0.3s ease-in-out;
  }
  .panel {
    background-color: #fafaf4;
    width: 100%;
    border-radius: 0;
    margin: 0;
  }

  .panel-collapse {
    background: rgb(255, 255, 255);
    // box-shadow: rgb(0 0 0 / 10%) 0px 5px 10px 0px;
    // border-radius: 4px;
    // margin: 1rem 1rem 3rem 1rem;
    padding: 1rem;
  }

  .cmp_tabs__verticle_view_img {
    .panel-collapse {
      background: rgb(255, 255, 255);
      box-shadow: rgb(0 0 0 / 10%) 0px 5px 10px 0px;
      border-radius: 4px;
      margin: 1rem 1rem 3rem 1rem;
      padding: 1rem;
      .cmp-teaser__action-container {
        margin: 1rem 0;
      }
    }
  }

  .cmp-teaser__description {
    h4 {
      margin-bottom: 1rem;
      @include font-family-lato;
      font-weight: get-font-weight("bold");
      *[lang="ar"] *[dir="rtl"] & {
        font-weight: get-font-weight("light");
      }
      font-size: $font18;
      color: $almost-black;
    }
    p {
      color: $paracolor;
      font-size: $font14;
      line-height: 19px;
      @include font-family-lato;
    }

    .cmp-teaser__action-link {
      position: relative;
      padding: 2.85px;
    }
  }
  .get-more-title-small h3 {
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: normal;
    color: $almost-black;
    margin: 0;
  }
  .get-more-section .desktop-body .get-more-details .get-more-title-small {
    margin-bottom: 1rem;
  }

  .nav-view-wrapp.panel > a {
    font-size: 16px;
  }
  .nav-view-wrapp span {
    margin-right: 15px;
    display: inline-block;
  }
  .nav-view-wrapp.panel > a.collapsed {
    font-weight: 400 !important;
    color: $dark-gray;
  }
  .nav-view-wrapp.panel > :not(a.collapsed) {
    font-weight: 900 !important;
  }

  .nav-view-wrapp {
    &.panel {
      & > a {
        &:before {
          border: solid #b2b2b2;
          border-width: 0 1px 1px 0;
          padding: calc(#{$padding-step-1} - 2px) !important;
          content: "";
          position: absolute;
          line-height: 1;
          transform: translateY(-30%) rotate(-135deg);
          transition: all 0.3s ease-in-out;
          right: toRem(18);
          z-index: 1;
          top: 50%;
        }
      }
    }
  }

  .nav-view-wrapp.panel > a {
    color: $main-green;
  }

  .cmp_accordion___view {
    .nav-view-wrapp.panel > a {
      background: #fff;
      border-bottom: 1px solid #d8d8d8;
      font-size: 16px;
    }
  }

  .cmp_tabs__verticle_view_img {
    .panel-collapse {
      background: rgb(255, 255, 255);
      box-shadow: rgb(0 0 0 / 10%) 0px 5px 10px 0px;
      border-radius: 4px;
      margin: 1rem 1rem 3rem 1rem;
      padding: 1rem;
      .cmp-teaser__action-container {
        margin: 1rem 0;
      }
    }
  }

  .nav-view-wrapp.panel > a,
  .nav-view-wrapp.panel > a.collapsed {
    line-height: 1.5;
    letter-spacing: normal;
    padding: 24px 0 24px 15px !important;
    padding-left: 15px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .nav-view-wrapp.panel > a.collapsed {
    color: $steel-grey;
    font-weight: 900;
  }
  .nav-view-wrapp.panel > a.collapsed:before {
    transform: translateY(-70%) rotate(45deg);
  }

  .nav-view-wrapp.panel > a:before {
    border: solid #b2b2b2;
    border-width: 0 1px 1px 0;
    padding: 3.5px;
    content: "";
    position: absolute;
    line-height: 1;
    transform: translateY(-30%) rotate(-135deg);
    transition: all 0.3s ease-in-out;
    right: 18px;
    z-index: 1;
    top: 50%;
  }
  .nav-view-wrapp.panel > a.collapsed:before {
    transform: translateY(-70%) rotate(45deg);
  }
  .get-more-section .desktop-body {
    background-color: #f7f8f4;
  }

  .get-more-section .desktop-body {
    padding: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: #f7f8f4;
  }
  .get-more-section .desktop-body .get-more-details {
    -ms-flex-order: 2;
    order: 2;
  }

  .learn-more-wrap {
    text-align: left;
    font-size: 16px;
    line-height: 16px;
  }

  .get-more-paragraph p {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: normal;
    color: $steel-grey;
    margin: 0;
  }

  .cmp-image__image {
    height: 250px;
    border-radius: 5px 5px 0 0;
  }
}
.cmp_tabs__vertical_view--active-full-bdr {
  .nav-view-wrapp.panel > a.collapsed {
    border-left: 4px solid transparent;
    color: $almost-black;
    border-bottom: 1px solid $light-sand-brown;

    *[lang="ar"] *[dir="rtl"] & {
      border-right: 4px solid transparent;
    }
  }
}

.cmp_tabs__vertical_view--active-full-bdr {
  .nav-view-wrapp.panel > a {
    border-left: 4px solid $main-green;
    @include font-family-Neotech;

    *[lang="ar"] *[dir="rtl"] & {
      border-right: 4px solid $main-green;
      padding: 24px 15px 24px 15px !important;
      border-left: 4px solid transparent;
    }
  }
}

//mobile en
.benefits-section .benefits-mobile.collapsed .icon circle,
.benefits-section .benefits-mobile.collapsed .icon path,
.benefits-section .benefits-mobile.collapsed .icon polygon,
.benefits-section .benefits-mobile.collapsed .icon polyline {
  stroke: #6b6b6b;
  stroke-width: 1px;
}
.cmp_tabs__vertical_view--active-full-bdr {
  .cmp-teaser {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    padding: 2rem;

    @include respond-to-max($tablet) {
      padding: 0px;
    }
  }
  .cmp-tabs {
    display: flex;
    li.cmp-tabs__tab {
      flex-direction: row-reverse;
      justify-content: flex-end;
      display: flex;
      padding: 1rem;
      text-align: left;
      @include font-family-Neotech;
      color: $almost-black;
    }

    span {
      img {
        width: 24px;
        height: 24px;
        display: block;
        margin: 0 10px 0 0;
      }
    }
  }

  .cmp-tabs__tablist {
    display: block;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    width: 50%;
  }

  .cmp-tabs__tab {
    border-left: none;
    font-size: 20px;
    @include font-family-Neotech;
    // color: $steel-grey;
    line-height: 25px;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 22px !important;
    border-left: 4px solid transparent;
    *[lang="ar"] *[dir="rtl"] & {
      border-right: 4px solid transparent;
      padding: 0 22px 0 0 !important;
    }

    &--active {
      font-size: 20px;
      border-left: 4px solid $main-green;
      color: $main-green !important;
      line-height: 25px;
      height: 90px;
      display: flex;
      align-items: center;
      padding: 0px 0px 0px 22px !important;

      *[lang="ar"] *[dir="rtl"] & {
        border-right: 4px solid $main-green;
        border-left: 4px solid transparent;
        padding: 0px 22px 0px 0px !important;
      }

      span {
        img {
          margin: 0 10px 0 0px !important;
        }
      }
      &:after {
        display: none;
      }
    }
  }

  .cmp-tabs__tabpanel--active {
    display: block;
    width: 70%;
    // background: $white-gray1;
    font-weight: get-font-weight("bold");
      *[lang="ar"] *[dir="rtl"] & {
        font-weight: get-font-weight("light");
      }
    padding-left: 37px;
    padding-top: 40px;
  }

  .cmp-teaser__description {
    h3 {
      margin-top: 0;
      font-size: 24px;
      line-height: 1.33;
      margin-bottom: 1.5rem;
      margin-top: 0px;
      margin-left: 0;
    }

    p {
      font-size: 16px;
      line-height: 26px;
      @include font-family-lato;
      color: $gray;
      margin-bottom: 20px;
      margin-top: 20px;
      @include respond-to-max($phone) {
        font-size: 14px;
        line-height: 20px;
        color: $grey1;
      }
    }
  }

  .cmp-teaser__content {
    width: 100%;
    padding: 0 1rem 0 0;
  }

  .cmp-teaser__image {
    width: 100%;
    height: auto;
  }

  .cmp-image__image {
    width: 19rem;
    height: auto;
    border-radius: 4px;
    @include respond-to-min($tablet) {
      width: 10.3rem;
    }
  }

  .cmp-teaser__action-link {
    font-size: 14px;
    line-height: 1.43;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    @include font-family-lato;
    font-size: 0.875rem;
    letter-spacing: 2px;
    line-height: 1.25rem;
    color: $main-green;
    position: relative;
    font-weight: 500;

    a.cmp-teaser__action-link:hover {
      text-decoration: underline !important;
    }

    .cmp-teaser__action-link:before {
      border: solid $arrow-border;
      border-width: 0 1px 1px 0;
      padding: 3.5px;
      content: "";
      position: absolute;
      line-height: 1;
      transform: translateY(-30%) rotate(-135deg);
      transition: all 0.3s ease-in-out;
      right: 18px;
      z-index: 1;
      top: 50%;
    }
  }

  .cmp-teaser__action-container {
    margin-top: 40px;
  }
  .cmp-tabs__tab {
    border-bottom: none;
  }
  h5 {
    color: $gray;
    margin: 5px 0 0;
  }

  .cmp-text {
    h3 {
      font-size: 18px !important;
      line-height: 18px;
      color: $grey1;
      margin-top: 25px;
      margin-bottom: 12.5px;
      @include respond-to-min($tablet) {
        font-size: 24px !important;
      }
    }

    h2 {
      font-size: 24px !important;
      margin-top: 25px;
      line-height: 30px !important;

      @include respond-to-max($phone) {
        font-size: 18px !important;
        color: $grey1;
        line-height: 0.5 !important;
      }
    }

    p {
      color: $gray !important;
      line-height: 1.625rem;
      font-size: 1rem;
      margin: 20px 0;

      @include respond-to-max($phone) {
        color: $grey1 !important;
      }

      .font--med {
        @include respond-to-max($phone) {
          font-size: $font14;
          margin-right: 0;
          line-height: 20px;
        }
      }
    }
  }

  .text--gray {
    color: $gray;
    font-size: 16px;
    letter-spacing: 0;

    @include respond-to-max($phone) {
      font-size: 14px !important;
      color: $grey1;
    }
  }
  .space-bottom {
    margin-bottom: 0;
  }
  .panel {
    background-color: #fff !important;
  }
  .panel-collapse {
    margin-left: 0;
    @include respond-to-min($tablet) {
      background: transparent !important;
      margin-left: 17.66666667%;
    }
    @include respond-to-min($desktop) {
      margin-left: 0;
    }
  }

  .nav-view-wrapp.panel > a:before {
    border: solid $main-green;
    border-width: 0 1px 1px 0;
    padding: 5px;
    content: "";
    position: absolute;
    line-height: 1;
    transform: translateY(-30%) rotate(-135deg);
    transition: all 0.3s ease-in-out;
    right: 18px;
    z-index: 1;
    top: 50%;

    *[lang="ar"] *[dir="rtl"] & {
      right: auto;
      left: 18px;
    }
  }
  .nav-view-wrapp.panel > a.collapsed:before {
    border-color: $almost-black;
  }

  .panel {
    box-shadow: none;
    border: none;
  }

  .cmp_accordion___view .nav-view-wrapp.panel > a.collapsed:before {
    border-color: $almost-black;
  }
}
//desktop view st
@media (min-width: 48em) {
  .cmp_tabs__vertical_view {
    .cmp-tabs__tab--active:after {
      border: solid #719e19;
      border-width: 2px;
      height: 28px;
      border-radius: 4px;
      content: "";
      position: absolute;
      line-height: 1;
      left: 0;
      z-index: 1;
    }

    a:hover {
      text-decoration: underline !important;
    }
    .cmp-teaser {
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      padding: 2rem;

      @include respond-to-max($tablet) {
        padding: 0px;
      }
    }
    .cmp-tabs {
      display: flex;
      li.cmp-tabs__tab {
        flex-direction: row-reverse;
        justify-content: flex-end;
        display: flex;
        padding: 1rem;
        text-align: left;
        @include font-family-lato;
      }
      span {
        img {
          width: 24px;
          height: 24px;
          margin: 0 10px 0 0;
        }
      }
    }
    .cmp-tabs__tablist {
      flex-wrap: wrap;
      padding-left: 0;
      list-style: none;
      display: block;
      width: 30%;
    }
    .cmp-tabs__tab {
      box-sizing: border-box;
      cursor: pointer;
      font-size: 1.125rem;
      line-height: 1.4;
      color: $steel-grey;
      border-bottom: 0;
      padding: 1rem 1rem 1rem 1rem;

      &--active {
        // border-color: inherit;
        background: #fafaf4;
        // border-left: 4px solid #719e19;
        font-weight: 700;
        color: $main-green;
        font-size: $font18;
        line-height: 1.4;
        @include font-family-lato;
        padding: 1rem 1rem 1rem 0.7rem !important;
        position: relative;
        span {
          img {
            margin: 0 10px 0 0px !important;
            color: #719e20;
          }
        }
      }
    }

    // .cmp-tabs__tab--active {
    //     border-color: inherit;
    //     background: #fafaf4;
    //     border-left: 4px solid #719e19;
    //     font-weight: 700;
    //     color:$main-green;
    //     font-size: 20px;
    //     line-height: 1.4;
    //     @include font-family-lato;
    //     padding: 1rem 1rem 1rem 0.7rem!important;
    //     span{
    //       img{
    //         margin: 0 10px 0 0px!important;
    //       }
    //     }
    // }

    .cmp-tabs__tabpanel--active {
      display: block;
      width: 70%;
      // background: #fafaf4;
      font-weight: 700;
    }
    .cmp-teaser__description {
      h3 {
        margin-top: 0;
        font-size: 24px;
        line-height: 1.33;
        margin-bottom: 1.5rem;
        margin-top: 0px;
        margin-left: 0;
      }
      p {
        font-size: 16px;
        line-height: 1.5;
        color: #767676;
        font-weight: normal;
      }
    }
    .cmp-teaser__content {
      width: 100%;
      padding: 0 1rem 0 0;
    }
    .cmp-teaser__image {
      width: 100%;
      height: auto;
    }
    .cmp-image__image {
      height: 230px;
      border-radius: 4px;
    }
    .cmp-teaser__action-link {
      font-size: 14px;
      line-height: 1.43;
      letter-spacing: 2px;
      text-transform: uppercase;
      cursor: pointer;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      @include font-family-lato;
      font-size: 0.875rem;
      letter-spacing: 2px;
      line-height: 1.25rem;
      color: $main-green;
      position: relative;
      font-weight: 500;

      a.cmp-teaser__action-link:hover {
        text-decoration: underline !important;
      }
      .cmp-teaser__action-link:before {
        border: solid #b2b2b2;
        border-width: 0 1px 1px 0;
        padding: 3.5px;
        content: "";
        position: absolute;
        line-height: 1;
        transform: translateY(-30%) rotate(-135deg);
        transition: all 0.3s ease-in-out;
        right: 18px;
        z-index: 1;
        top: 50%;
      }
    }
    .cmp-teaser__action-container {
      margin-top: 40px;
    }
  }

  //2nd horiznatal with view  varition st
  .cmp_tabs__verticle_view_img {
    a:hover {
      text-decoration: underline !important;
    }
    .cmp-tabs__tabpanel {
      width: 49%;
    }
    .cmp-tabs__tab {
      margin-top: $margin-step-2;
      font-size: $font18;
    }

    .cmp-teaser__description {
      h4 {
        margin-bottom: 1rem;
        @include font-family-Neotech;
        font-weight: 400;
        font-size: $font26;
        color: $almost-black;
      }
    }

    h3 {
      font-size: 26px;
      @include font-family-Neotech;
      color: $almost-black;
      font-size: 32px;
      display: flex;
      position: relative;
      top: 1rem;
      margin-left: 2rem;
    }

    p {
      color: #767676 !important;
      font-size: $font14;
      line-height: 19px;
      @include font-family-lato;
    }
    .cmp-tabs__tab--active .cmp-tabs__default-icon {
      display: inline-block !important;
      *[lang="ar"] *[dir="rtl"] & {
      margin-right: 0;
      margin-left: 30px;
      }
    }
    .cmp-tabs__tab--active img.cmp-tabs__active-icon {
      display: none;
    }
    .cmp-tabs__tab {
      svg,img {
        height: toRem(40);
        width: toRem(35);
        margin-right: calc(#{$margin-step-1} + 2px);
        @include respond-to-min($tablet) {
          float: left;
          height: toRem(30);
          width: toRem(32);
          margin-right: calc(#{$margin-step-4} + 4px);
          fill: inherit;
        }
      }
      .cmp-tabs__default-icon {
        display: block;
      }
      .cmp-tabs__active-icon {
        display: none;
      }
      &--active {
        .cmp-tabs__active-icon {
          display: block;
        }
        .cmp-tabs__default-icon {
          display: none !important;  //due to css overriding
        }
      }
    }
    .cmp-teaser__action-link {
      position: absolute;
      bottom: 40px;
      font-size: $font14;
      letter-spacing: 2px;
      text-transform: uppercase;
      @include font-family-lato;
    }

    .cmp-tabs__tablist {
      display: block;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      list-style: none;
      padding-left: 0;
      width: 50%;
    }
    .cmp-tabs__tablist {
      width: 50%;
      padding-left:calc(#{$padding-step-2} + 4px);
    }

    .cmp-teaser__image {
      height: 428px;
      width: 50%;
    }

    .cmp-image__image {
      height: 428px;
      border-radius: 5px 0 0 5px;
      width: 100%;
    }
    .cmp-teaser__content {
      background: #fff;
      padding: 1.5rem 1rem 0 1.5rem;
      color: #767676;
      font-size: $font14;
      line-height: 19px;
      @include font-family-lato;
      position: relative;
      border-radius: 0 5px 5px 0;
      width: 50%;
      min-height: 428px;
    }
    .cmp-teaser {
      width: 100%;
      display: flex;
    }
    .cmp-tabs__tab {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;
      color: #6b6b6b;
      font-size: $font20;
      line-height: 1.125rem;
      text-align: left;
      margin: auto 0;
      border: 0;
      padding: $padding-step-2 0;
    }
    .cmp-tabs__tab--active {
      position: relative;
      color: $main-green;
      font-weight: get-font-weight("bold");
      *[lang="ar"] *[dir="rtl"] & {
        font-weight: get-font-weight("light");
      }
      font-size: $font18;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      @include font-family-Helvetica;
    }
  }

  //2nd vartion en
}

//3rd varition

//desktop view en

//cmp-without bg
.cmp_tabs__vertical_view_nobg {
  .cmp-tabs__tab--active:after {
    border: solid #719e19;
    border-width: 2px;
    height: 28px;
    border-radius: 4px;
    content: "";
    position: absolute;
    line-height: 1;
    left: 0;
    z-index: 1;
  }

  .cmp-tabs__tab--active {
    background: transparent;
    padding: 0px 30px 30px 0;
    position: relative;
  }
  .cmp-tabs__tabpanel--active {
    background: transparent;
  }
  .cmp-text h3 {
    margin-top: 0;
  }
  .cmp-text p {
    font-size: 16px;
    line-height: 26px;
    font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
    color: $gray;
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.no-bg {
  .cmp_tabs__vertical_view .cmp-tabs__tabpanel--active {
    background: transparent;
  }
  .panel-collapse {
    background: transparent;
    box-shadow: none;
    border-radius: 0;
  }
}

.cmp-teaser__description ul {
  list-style-type: disc;
  padding-left: 30px;
  *[lang="ar"] *[dir="rtl"] & {
    padding-left: 0px;
  padding-right: 30px;
  }

  li {
    font-size: $font14;
  }

  ul:nth-type(1) {
    margin-top: 2rem;
  }
}

.teaser_list ul li {
  position: relative;
  color: $dark-gray;
  font-size: 1.25rem;
  line-height: 28px;
  margin: 0 0 0.5rem;
  @include font-family-lato;
  font-weight: 400;
}

.teaser_list ol li {
  position: relative;
  color: $dark-gray;
  font-size: 1.25rem;
  line-height: 28px;
  margin: 0 0 0.5rem;
  @include font-family-lato;
  font-weight: 400;
  list-style: decimal;
}
.cmp-tabs_noteaser_img {
  .cmp_tabs__vertical_view .cmp-teaser__content {
    width: 100%;
  }
}
.cmp_tabs__vertical_view_whbg {
  .cmp-tabs__tabpanel--active {
    background: $white;
  }
}
.cmp_tabs__vertical_view_whbg {
  .cmp-tabs__tab--active {
    background: $white;
  }
}
.tabs-container__panal {
  .cmp-text {
    margin: 2rem 0 4rem 2rem;
    @include md {
      margin: 1rem;
    }
  }
}
@media (max-width: 770px) {
  h3 {
    // margin: 1rem;
    // padding-top:20px;
    font: $font20;
  }
  .cmp-teaser__description h3 {
    margin-left: 0;
  }
}

.container__panal_height {
  height: 500px;
}

.cmp-text_link {
  margin: 2rem 0 4rem 2rem;
  @include md {
    margin: 1rem;
  }
}

.cmp_tabs__verticle_view_img .cmp-tabs__tab--active:after {
  border: none;
}
@include respond-to-max($tablet) {
  .cmp_tabs__verticle_view_img .nav-view-wrapp span img {
    width: toRem(35);
  }
}

//  commenting this as of now it is causing regression pls add it under proper parent class
.cmp_tabs__verticle_view_img {
  .cmp-tabs {
    display: flex;
    padding: $padding-step-2 $padding-step-2 calc(#{$padding-step-5} + 24px)
      $padding-step-2;
  }
}

//arabic

[lang="ar"] [dir="rtl"] .cmp_tabs__vertical_view .cmp-tabs__tab--active:after {
  right: 0;
  left: auto;
}
[lang="ar"] [dir="rtl"] .cmp-teaser__description {
  ul li {
    font-weight: get-font-weight("light");
    padding-left: 0;
    padding-right: 1rem;
  }
}

[lang=ar] [dir=rtl] .cmp_tabs__verticle_view_img .cmp-teaser__content{
  padding: 1.5rem 24px 4rem 2.5rem
}