
.cmp_tabs__vertical_view{
    .cmp-teaser{
      display: flex;
      flex-direction: row-reverse;
      width:100%;
    }
    .cmp-tabs{
    display: flex;
    }
    .cmp-tabs__tablist {
        flex-wrap: wrap;
        padding-left: 0;
        list-style: none;
        display: block;
        width: 30%;
    }
    .cmp-tabs__tab {
        box-sizing: border-box;
        padding: 1rem 0 1rem 1rem;
        cursor: pointer;
        font-size: 20px;
        line-height: 1.4;
        color: #848789;
        border-bottom:0;
    }

    .cmp-tabs__tab--active {
        border-color: inherit;
        background: #fafaf4;
        border-left: 4px solid #719e19;
        font-weight: 700;
        color: #719e19;
        font-size: 20px;
        line-height: 1.4;
        font-family: Lato,GE SS Two,Roboto,Arial,sans-serif;
    }
    .cmp-tabs__tabpanel--active {
        display: block;
        width: 70%;
        background: #fafaf4;
        padding:30px 30px 30px 0;
    }
    .cmp-teaser__description{
      h3{
        margin-top: 0;
        font-size: 24px;
        line-height: 1.33;
      }
      p{
        font-size: 16px;
        line-height: 1.5;
        color: #767676;
      }
    }
    .cmp-teaser__content{
          width: 50%;
          padding: 0 1em;
    }
    .cmp-teaser__image{
      width: 47%;
      height: auto;
    }
    .cmp-image__image{
      height: 230px;
      border-radius: 4px;
    }
    .cmp-teaser__action-link{
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 2px;
        text-transform: uppercase;
        cursor: pointer;
        text-transform: uppercase;
        transition: all .3s ease-in-out;
        font-family: Lato,GE SS Two,Roboto,Arial,sans-serif;
        font-size: .875rem;
        letter-spacing: 2px;
        line-height: 1.25rem;
        color: #719e19;
        position: relative;
        font-weight: 500;
        &:before{
          content: " ";
          border: solid #719e19;
          position: absolute;
          line-height: 1;
          border-width: 0 1px 1px 0;
          -webkit-transform: translateY(-50%) rotate(-45deg);
          top: 50%;
          transition: all .3s ease-in-out;
        }
    }
    .cmp-teaser__action-container{
      margin-top:40px;
    }
  }