
//mobile view st
.cmp-title{
     margin: 0;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: normal;
    color: #353738;
    
}
.cmp_accordion___view{
  .cmp-teaser__action-link{
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 1.6px;
    position:relative;
    text-transform: uppercase;
  }
  .cmp-teaser__action-link:before{
        content:  "";  
            right: -13px;
            border: solid #719e19;
            border-width: 0 1px 1px 0;
            padding: 3.5px;
            position: absolute;
            line-height: 1;
           -webkit-transform: translateY(-50%) rotate(-45deg);
            top: 50%;
            transform: translateY(-50%) rotate(-45deg);
            transition: all .3s ease-in-out;
  }
  .panel{
      background-color: #fafaf4;
      width: 100%;
      border-radius: 0;
      margin: 0;
  }

  .panel-collapse{
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 10%) 0px 5px 10px 0px;
    border-radius: 4px;
    margin: 1rem 1rem 3rem 1rem;
  }


  .cmp-teaser__content{
      padding: 1rem;
  }
  .cmp-teaser__description{
      h4{
      margin-bottom: 1rem;
      font-family: 'Lato';
      font-weight: 700;
      font-size: 18px;
      color: #353738;
      }
      p{
        color: #767676;
        font-size: 14px;
        line-height: 19px;
        font-family: 'Lato';
      }

      .cmp-teaser__action-link{
        position: relative;
        padding: 2.85px;
      }

  }
  .get-more-title-small h3 {
      font-size: 20px;
      line-height: 1.6;
      letter-spacing: normal;
      color: #353738;
      margin: 0;
  }
  .get-more-section .desktop-body .get-more-details .get-more-title-small {
      margin-bottom: 1rem;
  }
  
  .nav-view-wrapp.panel>a{
    font-size:14px;
 
  }

  .nav-view-wrapp.panel>a.collapsed {
      font-weight: 400!important;
      color: #719e19;
  }
  .nav-view-wrapp.panel>a:before {
      border: solid #b2b2b2;
      border-width: 0 1px 1px 0;
      padding: 3.5px;
      content: "";
      position: absolute;
      line-height: 1;
      transform: translateY(-30%) rotate(-135deg);
      transition: all .3s ease-in-out;
      right: 18px;
      z-index: 1;
      top: 50%;
  }

  .nav-view-wrapp.panel>a, .nav-view-wrapp.panel>a.collapsed {
      line-height: 1.5;
      letter-spacing: normal;
      padding: 18px 0;
      padding-left: 1rem;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      flex-direction:row-reverse;
      justify-content: flex-end;
  }

.nav-view-wrapp.panel>a.collapsed {
  color:#719e19;
  font-weight: 900;
}
    .nav-view-wrapp.panel>a.collapsed:before {
      transform: translateY(-70%) rotate(45deg);
    }

    .nav-view-wrapp.panel>a:before {
      border: solid #b2b2b2;
      border-width: 0 1px 1px 0;
      padding: 3.5px;
      content: "";
      position: absolute;
      line-height: 1;
      transform: translateY(-30%) rotate(-135deg);
      transition: all .3s ease-in-out;
      right: 18px;
      z-index: 1;
      top: 50%;
  }
    .nav-view-wrapp.panel>a.collapsed:before {
      transform: translateY(-70%) rotate(45deg);
    }
    .get-more-section .desktop-body {
      background-color: #f7f8f4;
  }

  .get-more-section .desktop-body {
      padding: 0;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      padding-left: 1rem;
      padding-right: 1rem;
          background-color: #f7f8f4;
      }
      .get-more-section .desktop-body .get-more-details {
      -ms-flex-order: 2;
      order: 2;
    }

    .learn-more-wrap {
        text-align: left;
        font-size: 16px;
        line-height: 16px;
    }
    
    .get-more-paragraph p {
      font-size: 14px;
      line-height: 1.43;
      letter-spacing: normal;
      color: #848789;
      margin: 0;
  }

  .cmp-image__image{
      height: 250px;
      border-radius: 5px 5px 0 0;
  }

}


//mobile en
 .benefits-section .benefits-mobile.collapsed .icon circle, 
  .benefits-section .benefits-mobile.collapsed .icon path,
  .benefits-section .benefits-mobile.collapsed .icon polygon,
    .benefits-section .benefits-mobile.collapsed .icon polyline {
    stroke: #6b6b6b;
    stroke-width: 1px;
    }

//desktop view st
@media (min-width: 48em) {
 .cmp_tabs__vertical_view{
      .cmp-teaser{
        display: flex;
        flex-direction: row-reverse;
        width:100%;
         padding: 2rem;
      }
      .cmp-tabs{
      display: flex;
      li.cmp-tabs__tab{
         flex-direction: row-reverse;
         justify-content: flex-end;
         display:flex;
         padding: 1rem;
      }
      span {
            img{
            width: 24px;
            height: 24px;
            display:block;
           margin: 0 10px 0 0;
          }
        }
      }
        .cmp-tabs__tablist {
            flex-wrap: wrap;
            padding-left: 0;
            list-style: none;
            display: block;
            width: 30%;
        }
      .cmp-tabs__tab {
          box-sizing: border-box;
          cursor: pointer;
          font-size: 20px;
          line-height: 1.4;
          color: #848789;
          border-bottom:0;
          padding: 1rem 1rem 1rem 1rem;
      }

      .cmp-tabs__tab--active {      
          border-color: inherit;
          background: #fafaf4;
          border-left: 4px solid #719e19;
          font-weight: 700;
          color: #719e19;
          font-size: 20px;
          line-height: 1.4;
          font-family: 'Lato';  
          padding: 1rem 1rem 1rem 0.7rem!important;
          span{
            img{
              margin: 0 10px 0 0px!important;
            }
          }
      }

      .cmp-tabs__tabpanel--active {
          display: block;
          width: 70%;
          background: #fafaf4;
          font-weight: 700;
      }
      .cmp-teaser__description{
        h3{
          margin-top: 0;
          font-size: 24px;
          line-height: 1.33;
          margin-bottom:1.5rem;
          margin-top:0px;
        }
        p{
          font-size: 16px;
          line-height: 1.5;
          color: #767676;
        }
      }
      .cmp-teaser__content{
            width:100%;
            padding:0;
      }
      .cmp-teaser__image{
        width:100%;
        height: auto;
      }
      .cmp-image__image{
        height: 230px;
        border-radius: 4px;
      }
      .cmp-teaser__action-link{
          font-size: 14px;
          line-height: 1.43;
          letter-spacing: 2px;
          text-transform: uppercase;
          cursor: pointer;
          text-transform: uppercase;
          transition: all .3s ease-in-out;
          font-family: 'Lato';
          font-size: .875rem;
          letter-spacing: 2px;
          line-height: 1.25rem;
          color: #719e19;
          position: relative;
          font-weight: 500;
      
          .cmp-teaser__action-link:before{
             border: solid #b2b2b2;
              border-width: 0 1px 1px 0;
              padding: 3.5px;
              content: "";
              position: absolute;
              line-height: 1;
              transform: translateY(-30%) rotate(-135deg);
              transition: all .3s ease-in-out;
              right: 18px;
              z-index: 1;
              top: 50%;
          }
          .cmp-teaser__action-link:hover{
              text-decoration: underline;
          }

      }
      .cmp-teaser__action-container{
        margin-top:40px;
      }
    }


//2nd horiznatal with view  varition st
  .cmp_tabs__verticle_view_img{
    .cmp-tabs__tab{
      margin-top:1rem;
      }

      .cmp-teaser__description{
        h4{
        margin-bottom: 1rem;
        font-family: Neotech-medium,GE SS Two,Roboto,Arial,sans-serif ;
        font-weight: 700;
        font-size: 20px;
        color: #353738;
        }
      } 

      h3{
        font-size: 26px;
        font-family: Neotech-medium,GE SS Two,Roboto,Arial,sans-serif;
        color: #353738;
        font-size: 32px;
        display: flex;
        position: relative;
        top:1rem;
        margin-left: 2.5rem;
        }

      p {
      color: #767676!important;
      font-size: 14px;
      line-height: 19px;
      font-family: 'Lato';
      }
     .cmp-tabs__tab{
        img {
          width: 32px;
          height: 32px;
          margin-right: 1rem;
        }
      }
    .cmp-teaser__action-link{
       position: absolute;
        bottom: 40px;
        font-size: 14px;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-family: 'Lato';
       }
  
   .cmp-tabs__tablist{
      display: block;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      list-style: none;
      padding-left: 0;
      width: 50%;
    }
    .cmp-tabs__tablist, .cmp-tabs__tabpanel--active{
      width: 50%;
      
    }
    .cmp-teaser__image {
        height:428px;
        width:100%;
    }
    .cmp-image__image{
        height:428px;
        border-radius:5px 0 0 5px;
        width:100%;
    }
    .cmp-teaser__content{
      width: 100%;
      background: #fff;
      padding:1.5rem 4rem 2.5rem 1.8rem;
      color: #767676;
      font-size: 14px;
      line-height: 19px;
      font-family: 'Lato';
      position:relative;
      border-radius: 0 5px 5px 0;
      }
    .cmp-tabs{
      display: flex;
      padding:2rem 2rem 4rem 2rem;
      }
      .cmp-teaser{
        width:100%;
        display: flex;
      }
    .cmp-tabs__tab{
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: flex-end;
      color: #6b6b6b;
      font-size:20px;
      line-height: 1.125rem;
      text-align: center;
      margin: auto 0;
      border:0;
      padding:.5rem 1rem 0.5rem 0;
    }
    .cmp-tabs__tab--active{
      color: #719e19;
      font-weight: 700;
      font-size:20px;
    }
  
    .cmp-teaser__image {
      height: auto;
      width:100%;
    }
  }

//2nd vartion en
}

//desktop view en

//cmp-without bg
  .cmp_tabs__vertical_view_nobg{
     .cmp-tabs__tab--active {
      background:transparent;
      padding:0px 30px 30px 0;
      }
      .cmp-tabs__tabpanel--active{
         background:transparent;
      }
      .cmp-text h3{
        margin-top:0;
      }
  }

  .no-bg{
        .cmp_tabs__vertical_view .cmp-tabs__tabpanel--active{
         background: transparent;
       }
       .panel-collapse{
        background: transparent;
        box-shadow:none;
        border-radius:0;
       }
    }

.cmp-teaser__description ul{
  list-style-type: disc;
  padding-left: 30px;
    ul:nth-type(1){
      margin-top:2rem;
  }
}
.cmp-teaser__description ol>li, .cmp-teaser__description ul>li {
    position: relative;
    color: #6f6c70;
    font-size: 1.25rem;
    line-height: 28px;
    margin:0 0 0.5rem;
    font-family:'Lato';
    font-weight: 400;
}

.cmp-tabs_noteaser_img{
  .cmp_tabs__vertical_view .cmp-teaser__content{
      width:100%;
  }
}


 .cmp_tabs__vertical_view_whbg{  
     .cmp_tabs__vertical_view .cmp-tabs li.cmp-tabs__tab, .cmp_tabs__vertical_view .cmp-tabs__tabpanel--active{  
       background: #fff;
   }
 }

.cmp_tabs__vertical_view_whbg{  
  .cmp_tabs__verticle_view_img .cmp-tabs__tab--active{
      background: #fff;
  }
}