.beigebg-container {
    padding: 2rem !important;

    @include md {
        padding: 1rem !important;
    }

    @include sm {
        padding: 0.6rem !important;
    }

    @include md {
        h3 {
            font-size: $font16;
            margin-top: $font20;
            @include font-family-lato();
        }

        h2 {
            font-size: $font20;
            @include font-family-lato();
        }
    }

    p {
        color: $dark-gray;
        @include font-family-lato();

        @include sm {
            color: #6f6c70;
            font-size: $font16;
            margin-bottom: 3rem;
        }
    }

    h3 {
        margin-top: $font20;
        @include font-family-Neotech;
        color: $almost-black;
    }

    .cmp-text {
        h3 {
            font-size: $font20;

            @include sm {
                line-height: 27px;
            }

            @include md {
                font-size: $font16;
            }
        }

        p {
            margin-bottom: 1.5rem;
            font-size: $font14;
            margin: 0 0 12.5px;
        }
    }

    .cmp-teaser__content {
        .cmp-teaser__title {
            width: 51%;
            float: left;

            @include md {
                width: 100%;
                float: none;
            }
        }

        .cmp-teaser__description {
            width: 50%;
            float: left;
            margin-top: 0.5rem;

            @include md {
                width: 100%;
                float: none;
                margin-top: 1.8rem;
            }
        }
    }

    .cmp-beigebg_teaser {
        min-height: 140px;
        position: relative;
        background: $sand-white-50;
        overflow: hidden;
        margin-bottom: 1.5rem;
        border-radius: 4px;

        @include md {
            min-height: 117px;
        }
    }

    .cmp-teaser__action-container {
        float: right;
        margin-top: -3rem;
    }

    .cmp-teaser {
        padding-left: 36px;
        padding-right: 36px;

        @include md {
            padding-left: 17px;
            padding-right: 17px;
        }

        .cmp-teaser__title {
            font-size: $font28;
            color: #353738;
            letter-spacing: .5px;
            margin: 2.2rem 0 1.5rem;

            a {
                color: #353738;
            }

            @include sm {
                margin: 1rem 0rem;
                font-size: $font20;
            }

            @include md {
                font-size: $font20;
                margin: 1rem 0rem;
            }

            h3 {
                @include sm {
                    font-size: $font20;
                    @include font-family-Neotech;
                    line-height: 1.3;
                    font-weight: 400;
                }
            }
        }
    }

    ul li {
        list-style-type: disc;
        padding-left: 0.5rem;
        position: relative;
        color: #6f6c70;
        line-height: 24px;
        margin-left: 2rem;
        margin-bottom: 4px;
        @include font-family-lato();
    }

    .beigebg-wrapper {
        background: $sand-white-50;
        padding-bottom: 2rem;
        padding-top: .4rem;

        .rte-bullets {
            ol {
                padding: 2rem 2rem 0px;
            }
        }
    }

    .cmp-beigebg_teaser {
        margin-bottom: -1.7rem;
    }

    .aem-GridColumn.aem-GridColumn--default--6 {
        padding-left: 2.5rem;
        padding-right: 2rem;

        @include md {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    .beige-table {
        padding-left: 3rem;
        padding-right: 6rem;
        margin-top: -1rem;

        @include sm {
            padding-left: 2rem;
            padding-right: 2rem;
        }

        @include md {
            padding-left: 2rem;
            padding-right: 2rem;
        }



        td {
            border-bottom: 2px solid #e5e5e5;
            font-size: $font20 !important;
            font-weight: 400;
            width: 50%;
            border-spacing: 2rem 0;
            border-collapse: separate !important;
            margin: 0 -2rem;
            color: $steel-grey;
            line-height: 56px;
            @include font-family-lato();

            @include sm {
                border-bottom: none;
                font-size: $font14 !important;
            }

            p {
                font-size: $font20 !important;
                line-height: 56px !important;

                @include sm {
                    font-size: $font14 !important;
                    line-height: 28px !important;
                    color: $black;
                }
            }

            @include md {
                padding: 0 1rem !important;
            }
        }


        table tbody td {
            color: $steel-grey;
            line-height: 56px;
            padding: 0 1rem !important;

            @include sm {
                color: $steel-grey;
                line-height: 2rem;
                padding: 0 !important;
                font-size: $font14 !important;
            }
        }

        table th {
            font-size: $font20;
            color: #353738;
            @include font-family-lato();
            vertical-align: bottom;
            padding: 0;
            line-height: 56px;
            border-bottom: 2px solid #e5e5e5;
            font-weight: 400;

            @include sm {
                font-size: $font14;
                border-bottom: none;
            }
        }
    }

    .rte-bullets {

        ol,
        ul {
            list-style: decimal;
            margin-bottom: 12.5px;
            margin-top: 0;
            margin: 0;
            padding: 0;
            @include font-family-lato();
            font-size: $font14;
            line-height: 24px;
        }
    }

    .teaser-viewall {
        cursor: pointer;
        text-transform: uppercase;
        @include font-family-lato();
        font-size: $font14;
        letter-spacing: 2px;
        line-height: 1.25rem;
        color: #353738;
        position: relative;
        font-weight: 500;
        z-index: 3;
        margin-top: -3rem;
        float: right;

        @include md {
            float: right;
            margin-top: -6rem;
        }

        @include sm {
            float: right;
            margin-top: -8.4rem;
        }
    }


    >.cmp-container {
        min-height: 140px;
        position: relative;
        background: #f7f8f4;
        overflow: hidden;
        margin-bottom: 1.5rem;
        border-radius: 4px;

        @include sm {
            margin-bottom: 0;
        }

        @include md {
            margin-bottom: 0;
        }
    }

    >.cmp-container:before {
        background: url("../resources/images/sectionbg.svg");
        content: "";
        background-repeat: no-repeat;
        background-size: contain;
        height: 360px;
        width: 340px;
        position: absolute;
        opacity: .1;
        z-index: 1;
        bottom: 0;
        background-position: top left;

        @include md {
            background-image: none;
        }
    }

    >.cmp-container:after {
        background: url("../resources/images/sectionbg.svg");
        content: "";
        background-repeat: no-repeat;
        background-size: contain;
        height: 360px;
        position: absolute;
        width: 340px;
        opacity: .1;
        z-index: 1;
        right: 0;
        transform: rotate(180deg);
        top: 0;

        @include md {
            height: 145px;
            width: 140px;
        }

        @include sm {
            height: 145px;
            width: 140px;
        }
    }

    .aem-Grid.aem-Grid--default--12>.aem-GridColumn.aem-GridColumn--default--6 {
        @include sm {
            width: 100%;
        }

        @include md {
            width: 100%;
        }
    }
}

.sort_asc {
    background-image: url("../resources/images/sort_asc.png");
    background-repeat: no-repeat;
    background-position: right 1px;
    padding-left: 13px;
    display: inline-block;
    width: 138px;
}

.sort_desc {
    background-image: url("../resources/images/sort_desc.png");
    background-repeat: no-repeat;
    background-position: right -3px;
    padding-left: 13px;
    display: inline-block;
    width: 138px;

}

.visiblityhidden {
    visibility: hidden;
    width: min-content;
}