.cmp-teaser {
  position: relative;

  &--purpal-bg {
    background: get-background-gredient(purpal-bg);
  }

  &--green-bg {
    background: get-background-gredient(green-bg);
  }

  &--orange-bg {
    background: get-background-gredient(orange-bg);
  }

  &--aqua-green-bg {
    background: get-background-gredient(aqua-green-bg);
  }

  &--aqua-bg {
    background: get-background-gredient(aqua-bg);
  }

  &--background-pattern & {
    &::before,
    &::after {
      background: url($resource-path + "promo_pattern_top.svg") left 0 no-repeat;
      background-size: contain;
      content: "";
      height: 100%;
      left: 0;
      opacity: 0.7;
      position: absolute;
      top: 0;
      width: 100%;
    }

    &::after {
      content: "";
      left: 0;
      right: auto;
      transform: rotate(180deg);
    }
  }
}
