.articlepage {
    .article-header-text-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1224px;
    }

    .article-header-text-wrapper { 
        .back-to-insight {
            padding-top: 2.5rem;
            padding-bottom: 2.5rem;

            @include respond-to-max($tablet) {
               padding-bottom: 4rem;
            }
        }
    }

    .cmp-text {
        font-size: $font20;
        @include font-family-lato;
        color: #919192;
        margin-bottom: 1rem;
        line-height: 28px;
    }
}

.articlepage.blog_post_details {
    margin-top: 139px;
    
    @include respond-to-max($tablet) {
        margin-top: 56px;
     }
  }
  .article-detail{
      padding-left: 30px;
  }
  @media (min-width: 360px) and (max-width: 768px) {
    .article-detail{
        padding-left: 15px;
    }
  }
  .article-detail {
      h6.annoucement{
        @include font-family-lato;
    color: $grey-bg;
    font-size: $font12;
    text-transform: uppercase;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 600;
  }
  h6.annoucement-date{
    @include font-family-lato;
    color: $grey-bg;
    font-size: $font16;
    font-weight: 600;
    line-height: 20px;
  }
}