.articlepage {
    .article-header-text-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1224px;
    }

    .article-header-text-wrapper { 
        .back-to-insight {
            padding-top: 2.5rem;
            padding-bottom: 5.5rem;

            @include respond-to-max($tablet) {
               padding-bottom: 4rem;
            }
        }
    }

    .cmp-text {
        font-size: $font20;
        @include font-family-lato;
        color: #919192;
        margin-bottom: 1rem;
        line-height: 28px;
    }
}

.articlepage.blog_post_details {
    margin-top: 139px;
    
    @include respond-to-max($tablet) {
        margin-top: 56px;
     }
  }