.cmp_tabs__vertical_view_nobg{
.cmp-text{
    h2{
    font-size: 34px;
    line-height: 42px;
    }

    h3{
        font-size: 2rem;
        line-height: 40px;
        }

    p{
        font-size: 1rem!important;
        line-height: 1.5rem!important;
        color: #848789;
        font-family: Lato,GE SS Two,Roboto,Arial,sans-serif;
        font-weight:normal;
    }
   
}
}
/*text in Teaser start*/
.cmp-rte-text {
	padding-left: 30px;
    .cmp-text h3 {
        color: #353738;
        margin: 0;
        font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif;
    }
    .cmp-text p {
        font-size: 14px!important;
        line-height: 20px!important;
        color: $steel-grey;
        font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
        margin-bottom: .75rem;
    }
}

@media (min-width: 320px) and (max-width:990px){
    .cmp-rte-text {
        padding-left: 0px;
    }
}
@media (min-width: 375px) and (max-width:990px){
    .cmp-rte-text {
    .cmp-text p {
        margin-top: 1rem;
}
    }
}
@media (min-width: 992px) {
    .cmp-rte-text {
        .cmp-text h3 {
            font-size: 2rem;
            line-height: 40px;
        }
        .cmp-text p {
            width: 100%;
            font-size: 1rem!important;
            line-height: 1.5rem!important;
            margin-bottom: 1rem;
            margin-top: 1.5rem;
        }
    }
	
}
/*text in Teaser end*/
    .cmp-right-rte{
        padding-right: 2.1875rem;
        margin-top: 6.375rem;
        .cmp-button--secondary{
            float: $floatR;
        }
    }

.gutter p{ 
	margin-bottom:1rem;
	}
