
.cmp-text{
    h2{
    font-size: 34px;
    line-height: 42px;
    }

    h3{
        font-size: 2rem;
        line-height: 40px;
        }

    p{
        font-size: 1rem!important;
        line-height: 1.5rem!important;
        color: #848789;
        font-family: Lato,GE SS Two,Roboto,Arial,sans-serif;
    }
   
}