/// tile boxes slider
// *************************************

// {
//     width: 1224px;
//     margin-right: auto;
//     margin-left: auto;
//     padding-left: 12px;
//     padding-right: 12px;
// }
// .tile-boxes-section{
//     .swiper-container {
//         overflow:auto;
//     }
// }
//Causing Issue
// .swiper-wrapper{
//     padding-bottom: 20px;
// }

.tilecontainer {
    .tile-boxes-image-wrapper {
        position: relative;
        min-width: 212px;
        height: 120px;
        border-radius: 8px;
        overflow: hidden;
        @include respond-to-min($desktop) {
            height: 225px;
        }
        @media (min-width: 1248px) {
            min-width: 282px;
        }
    }
    .tile-boxes-title-wrap {
        h2 {
            margin: 0;
            font-size: 26px;
            line-height: normal;

            @include respond-to-min($desktop) {
                font-size: $font32;
                line-height: 1.25;
            }
        }
    }

    .tile-boxes-title-small {
        h3 {
            margin: 0;
            font-size: $font16;
            line-height: 1.5;
            color: $black;
            font-weight: 700;
            color: $almost-black;
            @include respond-to-min($desktop) {
                font-size: $font20;
                line-height: 1.4;
            }
        }
    }
    .tile-box-description p {
        font-size: $font14;
        line-height: 1.43;
        color: $steel-grey;
        margin: 0;
        @include respond-to-min($desktop) {
            line-height: 1.6;
        }
    }

    .tile-boxes-section {
        padding-top: 40px;
        @include font-family-lato;
        padding-bottom: $font32;
        &.with-bg {
            background-color: rgba(242, 242, 242, 0.33);
        }
        @include respond-to-min($desktop) {
            padding-top: 80px;
            padding-bottom: 75px;
        }

        .tile-boxes-title-wrap {
            margin-bottom: 1.5rem;
            text-align: left;
            @include respond-to-min($desktop) {
                margin-bottom: 3rem;
                text-align: center;
            }
        }
        .tile-boxes-image-wrapper {
            margin-bottom: 1rem;
            width: 100%;
            @include respond-to-min($desktop) {
                margin-bottom: 1.5rem;
            }
        }
        .tile-boxes-title-small {
            margin-bottom: 0.5rem;
            @include respond-to-min($desktop) {
                margin-bottom: 1rem;
            }
        }
        .tile-box-description {
            margin-bottom: 1rem;
            @include respond-to-min($desktop) {
                margin-bottom: 1.25rem;
            }
        }
        .learn-more-wrap {
            a {
                line-height: 16px;
                font-size: $font12;
                letter-spacing: 1.6px;
                @include font-family-lato;
                @include respond-to-min($desktop) {
                    line-height: 20px;
                    font-size: $font14;
                    letter-spacing: 2px;
                }
            }
            
        }
        .learn-more.btn-modal {
            &::before {
                padding: 3.7px;
            }
            span.moreg {
                font-size: $font12;
                line-height: 16px;
                letter-spacing: 1.6px;
                @include respond-to-min($desktop) {
                    font-size: $font14;
                    line-height: 20px;
                    letter-spacing: 2px;
                }
            }
        }
        .tileBoxMobCarWrap {
            .swiper-slide {
                p {
                    text-align: left;
                    margin-bottom: 1.5rem;
                }
            }
        }
        .swiper-wrapper {
            .swiper-slide {
                flex-direction: column;
                align-items: flex-start;
                background-color: transparent;
                float: left;
            }
        }

        &.two-slides,
        &.one-slides,
        &.three-slides {
            .swiper-slide {
                @include respond-to-min($desktop) {
                    flex-grow: 0;
                    flex-shrink: 1 !important;
                    flex-basis: 100%;
                }
            }
            .scrollbar {
                width: 96% !important;
            }
        }
        &.one-slides {
            .swiper-slide {
                @include respond-to-max($desktop - 1) {
                    flex-grow: 0;
                    flex-shrink: 1 !important;
                    flex-basis: 100%;
                }
            }
        }

        &.two-slides {
            .swiper-slide {
                @media (min-width: 540px) and (max-width: 991px) {
                    flex-grow: 0;
                    flex-shrink: 1 !important;
                    flex-basis: 100%;
                }
            }
        }
        &.one-slides {
            .scrollbar {
                display: none;
            }
        }
        &.two-slides,
        &.three-slides,
        &.four-slides {
            .scrollbar {
                display: block;
                @include respond-to-min($desktop) {
                    display: none;
                }
            }
        }
        &.one-slides,
        &.two-slides,
        &.three-slides,
        &.four-slides,
        &.four-plus-slides {
            .swiper-slide {
                &:last-child {
                    margin-right: 0;
                }
            }
            .scrollbar {
                position: relative !important;
            }
        }
        &.four-plus-slides {
            padding-bottom: 39px;
            .swiper-container{
                z-index: 99;
            }
            .scrollbar {
                width: 96% !important;
                @include respond-to-min($desktop) {
                    margin-top: 2rem;
                    width: 98% !important;
                }
            }
        }

        .swiper-container-horizontal .swiper-scrollbar {
            @include respond-to-max($desktop - 1) {
                left: 0;
                width: 96%;
            }
            @include respond-to-min($desktop) {
                left: 0;
                width: 100%;
            }
        }
        .scrollbar {
            &--hidden {
                display: none;
            }
            @include respond-to-max($desktop - 1) {
                margin-top: 2rem;
                position: relative;
            }
        }
    }

    //insurance tiles
    .tile-box-tile {
        @include box-shadow();
        .tile-box-body {
            text-align: left;
            padding: 1.5rem;
            padding-bottom: 3rem;
        }
    }

    .tile-box-tile .tile-box-body h2 {
        font-size: 18px;
        line-height: 24px;
        margin: 0;
        margin-bottom: 0.5rem;
        color: $almost-black;
        @include respond-to-min($desktop) {
            font-size: 28px;
            line-height: 35px;
            margin-bottom: 1rem;
        }
    }

    .tile_card-shadow {
        .tile-boxes-image-wrapper {
            height: 160px;
        }
        .tile-boxes-image-wrapper img {
            max-width: inherit !important;
            width: auto;
        }

        .tile-box-body {
            text-align: left;
            padding: 1.5rem;
            background: #fff;
            border-radius: 0 0 4px 4px;
            box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
            position: relative;
            width: 100%;
            min-height: 210px;
            max-height: 210px;
            *[lang="ar"] *[dir="rtl"] & {
                text-align: right;
            }
        }
        .tile-boxes-image-wrapper {
            border-radius: 4px 4px 0 0;
            margin-bottom: 0;
        }
        .tile-boxes-title-small h2 {
            font-size: 28px;
            line-height: 35px;
            margin-bottom: 1rem;
            color: $almost-black;
        }
    }

    .slide_card_4 {
        .swiper-slide {
            width: 23% !important;
            @include sm {
                width: 100% !important;
            }
        }
        .tile_card-shadow .tile-box-body {
            top: -40px;
        }
    }

    .slide_card_3 {
        .swiper-slide {
            width: 33.33333333% !important;
            @include sm {
                width: 100% !important;
            }
        }
    }

    .tile-boxes-image-wrapper img {
        max-width: 100%;
        height: auto;
        width: 100%;
    }

    .slides_clumn .swiper-slide {
        width: 33.33333333% !important;
        @include sm {
            width: 100% !important;
        }
    }
    .category p {
        color: #fff;
        font-size: 10px;
        letter-spacing: 1px;
        text-align: center;
        margin: 0;
        position: absolute;
        top: 0;
        left: 1.5rem;
        background: #719e19;
        padding: 5px 10px;
        text-transform: uppercase;
        border-radius: 0 0 4px 4px;
        z-index: 1;
        *[lang="ar"] *[dir="rtl"] & {
            right: 1.5rem;
            left: auto;
        }
    }
    .card_date {
        color: $steel-grey;
        font-size: $font10;
        line-height: 16px;
        margin: 0;
    }

    .tile_card-shadow .learn-more-wrap {
        position: absolute;
        bottom: 20px;
    }

    .tile-boxes-section a .learn-more-wrap {
        display: none;
    }
    @media (min-width: 320px) and (max-width: 769px) {
        .no-swiper_card {
            .swiper-container {
                margin-bottom: 20px;
            }
            .swiper-wrapper {
                display: block !important;
            }

            .scrollbar {
                display: none;
            }

            .swiper-wrapper {
                display: block !important;
                overflow: hidden !important;
                transition: none !important;
                transform: inherit !important;
            }
            .swiper-slide {
                width: 100% !important;
                .swiper-slide {
                    margin-bottom: 30px;
                }
            }
        }
    }

    .card_no_link {
        .learn-more-wrap {
            a {
                display: none;
            }
        }
        .learn-more-wrap {
            a:before {
                display: none;
            }
        }
    }

    .card-no_label {
        .category {
            display: none;
        }
    }
}

*[lang="ar"] *[dir="rtl"] .tile-boxes-section .swiper-wrapper .swiper-slide p {
    text-align: right;
}
