.call-to-action-box{
      position:relative;
      .cmp-text{
        border-radius:toRem(5);
        color:$white;
        display: block;
        font-size: 1.125rem;
        height:toRem(146);
        left: 0;
        position: absolute;
        right: 0;
        text-align: left;
        top:toRem(340);
        width: 94%;
        z-index: 9;
        padding:1.3rem 0 1.3rem 1.3rem;
        right: 0;
        margin: 0 auto;
        background:$main-green;
        @include respond-to-min($desktop) {
            right:toRem(30);
            max-width:toRem(384);
            height:toRem(160);
            left: unset;
            a{
                margin-top: 2rem;
                }
        }
        h3{
            font-size: 1.25rem;
            color:$white;
            padding-top: 0;
            margin-left: 0;
            margin-top:0;
            margin-bottom:0;
        }
        p{
            padding: 0;
            color: #afcd74;
            font-size:$font14;
            line-height:toRem(18);
            margin-bottom: 0.5rem;
            margin-top: 0.3rem;
            @include respond-to-min($desktop) {
            margin-top: 1rem;
            }
            @include respond-to-max($tablet) {
            margin-top:1rem;
            }
             @include respond-to-max($phone) {
             margin-top:0.3rem;
            }
        }
        a{
            color:$white;
            font-size:$font14;
            text-transform: uppercase;
            margin-top: 1rem;
            display: inline-block;
            @include respond-to-max($phone) {
            margin-top:0rem;
            }   
        }
    }

    .hero-banner-section {
        height:452px;
    }
}
 .promotional-min-banner{
     .cmp-container{
         position:relative;
         min-height:toRem(80);
         min-width: 100%;
         text-align:center;
         @include respond-to-max($phone) {
            text-align:left;
            min-height: 6rem;
         }
         @include respond-to-max($tablet) {
            text-align:left;
            min-height: 2rem;
         }
     }
     h5{
         margin:0;
          @include respond-to-max($tablet) {
            font-size:toRem(22);
            line-height: 37px;
          }
     }
    
     .text{
        position: absolute;
        top: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
         @include respond-to-max($tablet) {
            padding:10px 5rem 0 1.4rem!important;
         }
     }
     p{
         font-size:$font14;
         @include respond-to-max($tablet) {
            font-size:toRem(13);
            line-height: 2rem;
            margin: 1rem 0 0 0;
         }

     }
 }


 