.call-to-action-box{
     position:relative;
}
 .call-to-action-box{
     .cmp-text{
        border-radius:toRem(5);
        color:$white;
        display: block;
        font-size: 1.125rem;
        height:toRem(146);
        left: 0;
        position: absolute;
        right: 0;
        text-align: left;
        top:toRem(340);
        width: 94%;
        z-index: 9;
        padding:0.4rem 0 0 1rem;
        right: 0;
        margin: 0 auto;
        background:$main-green;
        @include respond-to-min($desktop) {
            right:toRem(30);
            max-width:toRem(384);
            height:toRem(160);
            left: unset;
            h3{
                margin-top:1.25rem;
                margin-top:toRem(8);
            }
            a{margin-top: 2rem;}
        }
        h3{
            font-size: 1.25rem;
            color:$white;
            padding-top: 0;
            margin-left: 0;
        }
        p{
            padding: 0;
            color: #afcd74;
            font-size:$font14;
            line-height:toRem(18);
            margin-bottom: 0.5rem;
        }
        a{
            color:$white;
            font-size:$font14;
            text-transform: uppercase;
            margin-top: 1rem;
            display: inline-block;
        }
    }
}
 .promotional-min-banner{
     .cmp-container{
         position:relative;
         min-height:toRem(80);
         min-width: 100%;
         text-align:center;
     }
     h5{
         margin:0;
     }
    
     .text{
        position: absolute;
        top: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
     }
     p{
         font-size:$font14;
    }
}
 