.cover-image__with-play-btn-icon{
    img{
      height: 100%;
      width: 100%;
    }
  }
  .cover-image__with-play-btn-icon{
    position: relative;
  }
  .play-icon{
    position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  