.cws-form,
.wst-form {
  padding: 0 1.45rem !important; //Form default container responsive grid padding overrides
  //margin-top: 5rem;
  .is-valid {
    margin-bottom: 0;
    &label {
      color: $main-green;
      transform: translateY(-10px) scale(.8);
      transform-origin: 0 0;
      font-size: $font16;
      z-index: 2;
    }
      
    #description + label, #justification + label {
      color: $almost-black;
      transform: translateY(10px) scale(.8);
      font-size: $font16;
      z-index: 2;
    }
     
    
  }
  .cmp-form-options--drop-down {
      position: relative;
      bottom: 0;
      top: toRem(2);
      width: 100%;
      border: none;
      padding: 0;
      margin: 0;
      font-size: $font20;
      border-bottom: toRem(1) solid $grey4;
      select {
        display: none;
      }
      .select-hide {
        display: none;
      }
      .select-selected {
        background-color: $white;
        color: $almost-black;
        font-size: $font20;
      }
      /*style the arrow inside the select element:*/
    .select-selected:after {
      position: absolute;
      content: "";
      top: 14px;
      right: toRem(10);
      width: 0;
      height: 0;
      border: 6px solid transparent;
      border-color: $sand-white transparent transparent transparent;
      display: none;
    }
    /*point the arrow upwards when the select box is open (active):*/
    .select-arrow-active {
      padding-bottom: 0.3rem;
    }
    .select-selected.select-arrow-active:after {
      border-color: transparent transparent $sand-white transparent;
      border-bottom: toRem(1) solid $grey4;
    }

    /*style the items (options), including the selected item:*/
    .select-items {
      border-top: 1px solid $main-green;
      & div {
        font-size: $font16;
        padding: 0.5rem 0;
        overflow-x: hidden;
        color: $search-grey;
        text-decoration: none;
        background-position: 100%;    
        letter-spacing: 0;
        line-height: 1.8rem;
        cursor: pointer;
        user-select: none;
        width: 100%;
        
        @media (max-width: $screen-md-max) {
          padding: 0.3rem 0.3rem;
        }
      }

     
       & > div:last-child .selecteddiv {          
          border: none;
       }
      }   
      
    
    //Custom Dropdown starts 
    .select-selected {
      color: $almost-black;
      text-decoration: none;
      background-position: 100%;    
      letter-spacing: 0;
      line-height: 1.8rem;
      cursor: pointer;
      user-select: none;
      width: 100%;
    }
  
    /*style items (options):*/
    .select-items {    
      border-top: 1px solid $main-green;
      top: 100%;
      left: 0;   
      width: 100%;
      list-style: none;
      text-align: left;
      padding: 0;
      margin: 0 0 0 -1px;
      box-shadow: 1px 1px 4px rgb(0 0 0 / 20%);
      background-color: $white;
      //border: 1px solid $cust-select;
      white-space: nowrap;
      max-height: toRem(200);
      overflow-y: scroll;
      position: absolute;
      z-index: 2;
      @media (max-width: $screen-md-max) {
        margin: 0 0 0 -21px;
      }
    }
  
   
    .selecteddiv {
      border-bottom: toRem(1) solid $sand-white;
      margin-left: 1rem;
      width: 94%;
    }
    //Custom Dropdown ends

    @media (max-width: $screen-md-max) {
      width: 100% !important; //To use Important Form default AEM Control css overrides
    }
  }
  .select-service {
    & .cmp-form-options--drop-down {
      @media (min-width: $screen-lg-max) {
        width: 98%;
      }
    }
  }
  .country-select {
    width: 100%;
    @include respond-to-min($tablet) {
      width: 18rem !important;
    }
    @include respond-to-min($desktop) {
      width: 32.5rem !important;
      }   
   
  }
  .select-hear-about-us,
  .select-block-unblock {    
    .cmp-form-options--drop-down{
    & label {
      transform: translateY(-10px) scale(0.8);
      transform-origin: 0 0;
      font-size: $font16;
      z-index: 2;
      top: 0;
      line-height: toRem(2);

      }
    }
   
  }
  .select-hear-about-us {
   
    width: 100%;
    @include respond-to-min($tablet) {
      width: 20.5rem;
    }
    @include respond-to-min($desktop) {
      width: 32rem;
      }
  }
  .select-hear-about-us {
    .selecteddiv {
    &:hover {
    color: $main-green;
    }
    }
    }
    
     
    
    #select-hear-about-us {
    .select-items {
    div {
    &:hover {
    color: $main-green;
    }
    }
    }
    }
    
    .select-block-unblock {
    .selecteddiv {
    &:hover {
    color: $main-green;
    }
    }
    }
    
     
    
    #select-block-unblock {
    .select-items {
      border-top: 1px solid $main-green;
    div {
    &:hover {
    color: $main-green;
    }
    }
    }
    }
  .select-block-unblock {
    @media (max-width: $screen-md-max) {
      margin-bottom: 4rem;
    }
    .cmp-form-options--drop-down {
      
      width: 100%;
      @include respond-to-min($tablet) {
        width: 5.5rem;
      }
      @include respond-to-min($desktop) {
        width: 9rem;
        }
    }
  }
  .select-service {
    .selecteddiv {
      &:hover {
        color: $main-green;
      }
    }
  }

  #select2-selection__rendered {
    .select-items {
      div {
        &:hover {
          color: $main-green;
        }
      }
    }
  }
  .select-items {
		overflow-y: auto !important;
		div {
			width: 100% !important;
			margin: 0 !important;
			padding: 3px 8px !important;
		}
	}
  .account-number {
    @media (min-width: $screen-lg-max) {
      margin-bottom: 1rem;
      margin-top: 3rem;
      width: 100%;
    }
  }
  .cmp-form-options__legend {
    font-weight: 400;
    font-size: $font16;
    position: relative;
    margin-bottom: toRem(36);
    border: 0;
    color: $dropdown-grey;
  }
  .account-radio {
    & > label {
      transform: translateY(toRem(-10)) scale(0.8);
      transform-origin: 0 0;
      font-size: $font16;
      z-index: 2;
    }
  }

  .cmp-form-options--radio {
    border: 0;
    margin: 0;
    padding-bottom: 1.7rem;
    padding-top: 0;
    padding-left: 0;
    & > label {
      width: toRem(24);
      height: toRem(24);
      display: inline-flex;
      background-size: toRem(24);
      margin-right: 5rem;
    }
  }

  //Extra class for input box width set
  .right-space-width {
    .cmp-form-text__text {
      @media (min-width: $screen-lg-max) {
        width: 98%;
      }
    }
  }

  .desc-text {
    position: relative;
    .alert-icon {
      svg {
        right: 2rem;
        top: .5rem;
      }
    }
    .alert-label{
      top: 10.5rem;
    }
  }
 

  .iti {
   
    position: relative;
      border-color: $error-red;
      @include respond-to-max($tablet) {
        width: 20.5rem;
      }
      .icon-error,
      .alert-icon {
        display: block;
        float: right !important;
        svg {
          fill: $pink;
          width: 1.5rem;
          height: 1.5rem;
          //top: 2.5rem;
          position: relative;
          right: 1.2rem;
          top: 0;
          width: 1.5rem;
          z-index: 2;
        }
      }
    
   
    input[type="tel"]:not(.browser-default) {
      width: 20.5rem;
      @include respond-to-min($tablet) {
        width: 20.5rem;
      }
      @include respond-to-min($desktop) {
        width: 32rem;
        }
     
      & ~ label {
        left: 0;
       
      }
    }
    input[type="tel"]:focus {
      & ~ label {
        color: $main-green;
        font-size: $font16;
        transform: translateY(-10px) scale(0.8);
        transform-origin: 0 0;
        font-size: $font16;
      }
    }
  }

  .new {
    margin: 0;
  }

  .iti .cmp-form-text__textput {    
    width: 100%;
    @include respond-to-min($tablet) {
      width: 20.5rem;
    }
    @include respond-to-min($desktop) {
      width: 100%;
      }
  }
  input#fullName {
   
    width: 100%;
    @include respond-to-min($tablet) {
      width: 20.5rem;
    }
      @include respond-to-min($desktop) {
        width: 32rem;
        }
       
  }
  input#contactNumber {
   
    width: 17rem;
    @include respond-to-min($tablet) {
      width: 10rem;
    }
      @include respond-to-min($desktop) {
        width: 26rem;
        }
       
  }
  input#firstName, input#designation {
   
    width: 100%;
    // @include respond-to-min($tablet) {
    //   width: 20.5rem;
    // }
      @include respond-to-min($desktop) {
        width: 100%;
        }
       
  }

  select {
    width: 84% !important; //To use Important Form default AEM Control css overrides
    max-height: toRem(200);
    overflow-y: auto;
    option {
      text-decoration: none;
      border-bottom: 1px solid $sand-white;
      background-position: 100%;
      padding: 0;
      letter-spacing: 0;
      line-height: 2.8rem;
      padding: 0 1rem;
    }
  }
  .country-code {
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-right: 4%;
    select {
      width: 100%;
      display: none;
    }
    .cmp-form-options--drop-down {
      padding-bottom: 0.5rem;
    }
    
  }

  .contactNumber {
    display: inline-flex;
    position: relative;
    width: 85%;
    bottom: toRem(15);
    margin-top: 1rem;
    input {     
      display: inline-flex;     
      
      width: 20.5rem;
      @include respond-to-min($tablet) {
        width: 20.5rem;
      }
      @include respond-to-min($desktop) {
        width: 26rem !important;
        }
     
      & ~ label {
        left: 0;
        font-size: $font20;
      }
    }
    
  }
  .country-select,
  .select-service {
    @media (max-width: $screen-md-max) {
      margin-bottom: 4rem;
    }
  }
  form {
    div.cmp-container {
      position: relative;
    }
  }


  .has-error {
    display: block;
    color: $error-red;
    line-height: 1rem;
    height: 1rem;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    top: 2.2rem;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: $font14;
    text-transform: capitalize;
    font-weight: 400;
  }
  .outside-icon {
    right: 0;
    top: 2.3rem;
  }

  &.has-error-fields {
    

    input {
      border-color: $error-red;
      box-shadow: 0 1px 0 0 $error-red;
    }

    .select2.select2-container {
      .select2-selection__arrow {
        right: 3rem;
      }
    }

    .select2-selection--single {
      background: transparent !important; //To use Important Form default AEM Control css overrides

      .select2-selection__rendered {
        color: $error-red !important; //To use Important Form default AEM Control css overrides
      }
    }
  }
  [type="radio"]:checked + span:after,
  [type="radio"]:not(:checked) + span:after {
    background-image: url(../resources/images/icon-checkbox-selected.png);
    background-repeat: no-repeat;
    border: toRem(2) solid transparent;
    content: "";
    width: toRem(24);
    height: toRem(24);
    display: block;
    background-size: toRem(21);
    margin-right: toRem(1);
    position: absolute;
    left: toRem(-3);
    top: toRem(-3);
    transition: all 0.25s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    z-index: 2;
  }
  [type="radio"]:not(:checked) + span:after,
  [type="radio"]:not(:checked) + span:before {
    background-image: url(../resources/images/icon-unselected.png);
    border: 2px solid transparent;
    background-repeat: no-repeat;
    content: "";
    width: toRem(24);
    height: toRem(24);
    display: block;
    background-size: 21px;
    margin-right: toRem(1);
    position: absolute;
    left: toRem(-3);
    top: toRem(-3);
    transition: all 0.25s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    z-index: 2;
  }
  
  input:focus ~ label
  {
    color: $main-green;
    font-size: $font16;
    transform: translateY(-10px) scale(0.8);
    transform-origin: 0 0;
  }

  textarea.cmp-form-text__textarea:focus ~ label {
    color: $main-green;
    font-size: $font16;
    transform: translateY(10px) scale(0.8);
    transform-origin: 0 0;
  }
  input:not([type]),
  input[type="email"]:not(.browser-default),
  input[type="number"]:not(.browser-default),
  input[type="tel"]:not(.browser-default),
  input[type="text"]:not(.browser-default),
  input[type="url"]:not(.browser-default),
  textarea.cmp-form-text__textarea {
    background-color: transparent!important;
    border: none;
    border-bottom: 1px solid $grey4;
    border-radius: 0;
    color: $almost-black;
    outline: none;  
    width: 100%;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-transition: border 0.3s, -webkit-box-shadow 3s;
    transition: border 0.3s, -webkit-box-shadow 3s;
    transition: box-shadow 0.3s, border 3s;
    transition: box-shadow 0.3s, border 0.3s, -webkit-box-shadow 3s;
    font-size: $font20;
    position: relative;
    z-index: 1;
    margin-bottom: 4.25rem;
    @media (max-width: $screen-md-max) {
      width: 100%;
    }
  }

  textarea {
    &.cmp-form-text__textarea {
      border: 1px solid $grey4;
    }
  }
  input:not([type]):disabled,
  input:not([type])[readonly="readonly"],
  input[type="email"]:not(.browser-default):disabled,
  input[type="email"]:not(.browser-default)[readonly="readonly"],
  input[type="number"]:not(.browser-default):disabled,
  input[type="number"]:not(.browser-default)[readonly="readonly"],
  input[type="tel"]:not(.browser-default):disabled,
  input[type="tel"]:not(.browser-default)[readonly="readonly"],
  input[type="text"]:not(.browser-default):disabled,
  input[type="text"]:not(.browser-default)[readonly="readonly"],
  input[type="text"]:not(.browser-default)[readonly],
  input[type="url"]:not(.browser-default):disabled,
  input[type="url"]:not(.browser-default)[readonly="readonly"] {
    border-bottom: 1px dashed $grey4 !important; //To use Important Form default AEM Control css overrides
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color: $steel-grey;
  }
  
  textarea.cmp-form-text__textarea:disabled,
  textarea.cmp-form-text__textarea[readonly="readonly"] {
    border: 1px solid $grey4 !important; //To use Important Form default AEM Control css overrides
    box-shadow: none !important;
  }
  input:not([type]):disabled ~ label,
  input:not([type])[readonly="readonly"] ~ label,
  input[type="email"]:not(.browser-default):disabled ~ label,
  input[type="email"]:not(.browser-default)[readonly="readonly"] ~ label,
  input[type="number"]:not(.browser-default):disabled ~ label,
  input[type="number"]:not(.browser-default)[readonly="readonly"] ~ label,
  input[type="tel"]:not(.browser-default):disabled ~ label,
  input[type="tel"]:not(.browser-default)[readonly="readonly"] ~ label,
  input[type="text"]:not(.browser-default):disabled ~ label,
  input[type="text"]:not(.browser-default)[readonly="readonly"] ~ label,
  input[type="url"]:not(.browser-default):disabled ~ label,
  input[type="url"]:not(.browser-default)[readonly="readonly"] ~ label {
    color: $steel-grey;
  }

  textarea.cmp-form-text__textarea:disabled ~ label,
  textarea.cmp-form-text__textarea[readonly="readonly"] ~ label {
    color: $steel-grey;
  }
  input:not([type]):focus:not([readonly]),
  input[type="email"]:not(.browser-default):focus:not([readonly]),
  input[type="number"]:not(.browser-default):focus:not([readonly]),  
  input[type="tel"]:not(.browser-default):focus:not([readonly]),
  input[type="text"]:not(.browser-default):focus:not([readonly]),  
  input[type="url"]:not(.browser-default):focus:not([readonly]) {
    border-bottom: 1px solid $main-green;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: 0;
  }

  textarea.cmp-form-text__textarea:focus:not([readonly]) {
    border-bottom: 1px solid $main-green;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    z-index: 0;
  }
  
  
  *[lang="ar"] *[dir="rtl"] input:not([type]):focus:not([readonly]),
  *[lang="ar"]
    *[dir="rtl"]
    input[type="email"]:not(.browser-default):focus:not([readonly]),
  *[lang="ar"]
    *[dir="rtl"]
    input[type="number"]:not(.browser-default):focus:not([readonly]),
  *[lang="ar"]
    *[dir="rtl"]
    input[type="tel"]:not(.browser-default):focus:not([readonly]),
  *[lang="ar"]
    *[dir="rtl"]
    input[type="text"]:not(.browser-default):focus:not([readonly]),
  *[lang="ar"]
    *[dir="rtl"]
    input[type="url"]:not(.browser-default):focus:not([readonly]),
  *[lang="ar"]
    *[dir="rtl"]
    textarea.cmp-form-text__textarea:focus:not([readonly]) {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }

  input:not([type]):focus:not([readonly]) .parent ~ label,
  input[type="email"]:not(.browser-default):focus:not([readonly]) ~ label,
  input[type="number"]:not(.browser-default):focus:not([readonly]) ~ label,
  input[type="tel"]:not(.browser-default):focus:not([readonly]) ~ label,
  input[type="text"]:not(.browser-default):focus:not([readonly]) ~ label,  
  input[type="url"]:not(.browser-default):focus:not([readonly]) ~ label {
    color: $main-green;
    font-size: $font16;
    -webkit-transform: translateY(-10px) scale(0.8);
    transform: translateY(-10px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  textarea.cmp-form-text__textarea:focus:not([readonly]) .parent ~ label {
    color: $main-green;
    font-size: $font16;
    -webkit-transform: translateY(10px) scale(0.8);
    transform: translateY(10px) scale(0.8);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
  }

  *[lang="ar"] *[dir="rtl"] input:not([type]):focus:not([readonly]) ~ label,
  *[lang="ar"]
    *[dir="rtl"]
    input[type="email"]:not(.browser-default):focus:not([readonly])
    ~ label,
  *[lang="ar"]
    *[dir="rtl"]
    input[type="number"]:not(.browser-default):focus:not([readonly])
    ~ label,
  *[lang="ar"]
    *[dir="rtl"]
    input[type="tel"]:not(.browser-default):focus:not([readonly])
    ~ label,
  *[lang="ar"]
    *[dir="rtl"]
    input[type="text"]:not(.browser-default):focus:not([readonly])
    ~ label,
  *[lang="ar"]
    *[dir="rtl"]
    input[type="url"]:not(.browser-default):focus:not([readonly])
    ~ label,
  *[lang="ar"]
    *[dir="rtl"]
    textarea.cmp-form-text__textarea:focus:not([readonly])
    ~ label {
    -webkit-transform-origin: 100% 50%;
    transform-origin: 100% 50%;
  }

  input:not([type]),
  input[type="email"]:not(.browser-default),
  input[type="number"]:not(.browser-default),
  input[type="tel"]:not(.browser-default),
  input[type="text"]:not(.browser-default),
  input[type="url"]:not(.browser-default)
  {
    height: 1.7rem;
  }
  input:not([type]) ~ label:after,
  input[type="email"]:not(.browser-default) ~ label:after,
  input[type="number"]:not(.browser-default) ~ label:after,
  input[type="tel"]:not(.browser-default) ~ label:after,
  input[type="text"]:not(.browser-default) ~ label:after,  
  input[type="url"]:not(.browser-default) ~ label:after {
    display: block;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    font-size: $font20;
    -webkit-transition: 0.2s opacity ease-out, 0.2s color ease-out;
    transition: 0.2s opacity ease-out, 0.2s color ease-out;
  }

  textarea.cmp-form-text__textarea ~ label:after {
    display: block;
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    font-size: $font20;
    -webkit-transition: 0.2s opacity ease-out, 0.2s color ease-out;
    transition: 0.2s opacity ease-out, 0.2s color ease-out;
  }


  .select {
    label {
      position: absolute;
      top: 10px;
      font-size: 1.2rem;
    }
  }

   .cmp-form-options--drop-down {
    top:0;
      & label {
        transform: translateY(-10px) scale(0.8);
        transform-origin: 0 0;
        font-size: $font20;
        z-index: 2;
        top: -.5rem;
        line-height: toRem(2);
  
        
    @media (max-width: $screen-md-max) {
      font-size: $font14;
      line-height: 1.7rem;
    }
   }
   display: flex;
   @media (max-width: $screen-md-max) {
     margin-bottom: 2.5rem;
   }
  }

  
  // intlTelInput ends //
  .textarea.input-field > label {
    left: toRem(24);
  }

  @media only screen and (max-width: 991px) {
    input:not([type]),
    input[type="email"]:not(.browser-default),
    input[type="number"]:not(.browser-default),
    input[type="tel"]:not(.browser-default),
    input[type="text"]:not(.browser-default),
    input[type="url"]:not(.browser-default),
    textarea.cmp-form-text__textarea {
      font-size: $font14 !important; //To use Important Form default AEM Control css overrides
    }
    .cmp-form-text__text {
      margin-bottom: 1.5rem;
    }
  }

  textarea.cmp-form-text__textarea {
    width: 100%;
    height: 10rem;
    padding: 2rem 1rem 1rem;
    background-color: transparent;
    line-height: normal;
    overflow-y: hidden;
    resize: none;
    min-height: 3rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  .hiddendiv {
    visibility: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding-top: 1.2rem;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  [type="radio"]:checked + span:after,
  [type="radio"]:checked + span:before,
  [type="radio"]:not(:checked) + span:after,
  [type="radio"]:not(:checked) + span:before {
    border-radius: 50%;
  }

  [type="radio"]:not(:checked) + span:after {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  [type="radio"]:checked + span:after {
    border: toRem(2) solid $main-green;
  }

  [type="radio"]:checked + span:after {
    background-color: $main-green;
  }

  [type="radio"]:checked + span:after {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }

  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked) {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  select.browser-default {
    display: block;
  }

  select {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $grey4;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    color: $almost-black;
    font-size: $font20;
    height: 2.5rem;
    margin: 0;
    outline: none;
    padding: 0;
    position: relative;
  }

  .select-label {
    position: absolute;
  }

  .cmp-form-text__textspan svg {
    height: 16px;
    width: 16px;
    fill: $main-green;
  }

  .cmp-form-text label,
  .cmp-form-options--drop-down label,
  -inline .cmp-form-text label,
  -inline .cmp-form-options--drop-down label {
    position: absolute;
    font-size: $font14;
    font-weight: 400;
    color: $steel-grey;
    letter-spacing: 0;
    margin-top: 0.2rem;
   
    @include respond-to-min($desktop) {
      font-size: $font20;
      }
    
  }

  .textarea.input-field > label {
    left: toRem(24) !important; //To use Important Form default AEM Control css overrides
  }
  .cmp-form-text__text, .cmp-form-options--drop-down {
    position: relative;    
    margin-bottom: 1.25rem;
    background-color: transparent;
    & > label {
      color: $steel-grey;
    }
  }
  .cmp-form-options--drop-down {
    label {
      top: 0;
      line-height: 1.55rem;
    }

    &.has-error-fields {
      .alert-icon {
        svg {
          top: 0;
        }
      }
    }
  }

  // intl input for country name dropdown
  .intl-input-wrapper {
    input {
      padding: 0 !important; //To use Important Form default AEM Control css overrides
    }
    .cmp-form-options--drop-down {
      .flag-container {
        width: 100%;
        z-index: 99;

        .selected-flag {
          width: 100%;
          &:focus,
          &:active {
            outline: none;
          }
          .iti-flag {
            -webkit-transform: none;
            -moz-transform: none;
            -ms-transform: none;
            -o-transform: none;
            transform: none;
            background: transparent;
            margin: 0;
            height: toRem(38);
            box-shadow: none;
          }
        }
      }
      .country-list {
        width: 100%;
        padding: 0 1rem;
        top: toRem(40);
        .country {
          text-decoration: none;
          border-bottom: 1px solid $sand-white;
          background-position: 100%;
          padding: 0;
          letter-spacing: 0;
          line-height: 2.8rem;
          * {
            color: $almost-black;
          }
          &.highlight {
            background: transparent;
            color: $main-green;
            * {
              color: $main-green;
            }
          }
          .flag-box,
          .dial-code {
            display: none;
          }
        }
      }
    }
    

    // select contact number
    &.select-contact-number {
      .cmp-form-options--drop-down {
        justify-content: flex-end;
        .has-error.alert-label {
          left: 25%;
        }
        & + label {
          left: 25%;
        }
        & ~ #error-msg {
          left: 25%;
          position: relative;
        }
        .flag-container {
          width: 20%;
          padding: 0;
          border-bottom: 1px solid $grey4;
          z-index: 9;
          .iti-flag {
            color: $almost-black;
            font-size: $font20;
          }
        }
        input {
          width: 75%;
        }
        .country-list {
          .country {
            .dial-code {
              display: block;
            }
            .flag-box,
            .country-name {
              display: none;
            }
          }
        }
      }
    }
    &.select-country-name {
      .cmp-form-options--drop-down {
        .selected-flag .iti-flag {
          display: none;
        }
      }
    }
  }

  *[lang="ar"] {
    *[dir="rtl"] {
      .intl-input-wrapper.select-contact-number
        .cmp-form-options--drop-down
        + label,
      .intl-input-wrapper.select-contact-number
        .cmp-form-options--drop-down
        .has-error.alert-label {
        left: 0;
        right: 25%;
      }
    }
  }


  .icon-error,
  .alert-icon {
    display: none;
  }
  .cmp-form-text {
    display: flex;
  }

  margin-bottom: 3rem;

  .has-error-fields {
    border-color: $error-red;

    .icon-error,
    .alert-icon {
      display: block;
      position: relative;
      svg {
        fill: $pink;
        height: 1.6rem;
        position: absolute;
        right: 0;
        top: 0;
        width: 1.6rem;
        z-index: 2;
      }
    }
    
    input,
    textarea {
      border-bottom: 1px solid $error-red;
      color: $error-red !important; //To use Important Form default AEM Control css overrides
    }
    label {
      color: $error-red !important; //To use Important Form default AEM Control css overrides
      transform: translateY(-10px) scale(.8);
      transform-origin: 0 0;
      font-size: 1rem;
      z-index: 2;
    }
    .has-error {
      ~ label {
        -webkit-transform: translateY(-10px) scale(0.8);
        transform: translateY(-10px) scale(0.8);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        font-size: $font16;
        z-index: 2;
      }
    }
    &.textarea {
      .has-error {
        ~ label {
          -webkit-transform: translateY(10px) scale(0.8);
          transform: translateY(10px) scale(0.8);
          font-size: $font16;
        }
      }
      .alert-label {
        bottom: toRem(-20);
        top: auto;
      }
      .alert-icon {
        svg {
          right: 1.25rem;
        }
      }
    }
    .cmp-form-options--drop-down {
      & > label {
        -webkit-transform: translateY(-10px) scale(0.8);
        transform: translateY(-10px) scale(0.8);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        font-size: $font20;
        z-index: 2;
      }
    }
    #error-msg {
      color: $error-red;
    }
  }
  .cmp-form-text__text {
    & > input[readonly] {
      & + label {
        color: $almost-black;
        transform: translateY(-10px) scale(0.8);
        transform-origin: 0 0;
        font-size: $font20;
        z-index: 2;
      }
    }
  }

  .hideBusiness {
    visibility: hidden;
  }
  .showBusiness {
    visibility: visible;
  }

  select:focus {
    outline: 1px solid $select-focus;
  }

  button:focus {
    outline: none;
    background-color: $btn-focus;
  }

  label {
    //font-size:  75rem;
    color: $dropdown-grey;
  }

  ::-moz-placeholder {
    color: $cold-gray-2;
  }

  ::-ms-input-placeholder {
    color: $cold-gray-2;
  }

  ::placeholder {
    color: $cold-gray-2;
  }
}
.smb-event {
  .contact-number{
  .alert-icon {
    svg {
      position: absolute!important;
      top: 1rem!important;
      right: -2rem!important;
      
      @include respond-to-min($desktop) {
        right: 1.8rem!important;
        }
    }
  }
  input[type="tel"]:not(.browser-default) {
    width: 19.5rem!important;
    @include respond-to-min($tablet) {
      width: 18rem!important;
    }
    @include respond-to-min($desktop) {
      width: 32rem;
      }
  }
}
}
.new_form {
  .hideBusiness {
    visibility: hidden;
  }
  .showBusiness {
    visibility: visible;
  }
  padding: 0 1.45rem !important; //Form default container responsive grid padding overrides;
  .cmp-teaser__content {    
    text-align: center;
    h2 {
      font-size: $font40;
      line-height: toRem(52);
      @media (max-width: $screen-md-max) {
        font-size: $font28;
        line-height: 34px;
      }
    }
  }

  .cmp-teaser__description {
    text-align: center;
    width:100%;
    & p {
      font-size: $font16 !important; //To use Important Form default AEM Control css overrides
      line-height: 1.5rem !important;
      color: $gray !important;
      @include font-family-lato;
      padding-bottom: 6rem;
    }
  }
}
.has-error-fields {
  input {
    border-bottom: 1px solid $error-red !important;
  }
}

.needHelpForm_Teaser {
  padding-top: 3rem;
  padding-bottom: 1rem;
 
  
    .cmp-teaser__description {
      margin-top: 0!important;
      width:100%!important; //Some body added width 70%important for teaser causing issue here
    }
    h3, h2 {     
      @include respond-to-max($tablet) {
        font-size: $font30 !important;
      }
    }
   
    .cmp-teaser__content {      
      margin-bottom: 0;
    }
  
  
}
.teaser-form {
  .cmp-teaser__description {
    text-align: center;
    margin-top: 3rem;
    width:100%!important; //Some body added width 70%important for teaser causing issue here
    & > p {
      font-size: $font16;
      line-height: 1.5rem;
      color: $gray;
      @include font-family-lato;
      padding-bottom: 1.5rem;
    }
  }

  .cmp-teaser__content {    
    @include font-family-lato;
		text-align: center;
		margin-bottom: 3.5rem;
    h3 {
      font-size: $font32;
      line-height: toRem(52);
      margin-bottom: 1.5rem;
    }
    h2 {
      font-size: $font40;
      line-height: toRem(52);
      margin-bottom: 1.5rem;
    }
  }
}

.cws-form .has-error-fields textarea ~label {
  transform: translateY(10px) scale(.8);
}


#justification + label {
  padding-left: toRem(10);
  padding-top: toRem(10);
}
#description + label {
  padding-left: toRem(10);
  padding-top: toRem(10);
}
.description > label{
  transform: translateY(4px) scale(.9);
    margin-left: 1rem;
}
