<template  data-sly-template.caremalpromocard="${ @ properties}">
 <div class="caremal-promo-grid with-bg">
   <div class="container">
        <div class="promo-grid-details">
            <div data-sly-test="${properties.caremalHeadingTitle}" class="title">
                  <h2>${properties.caremalHeadingTitle}</h2>
            </div>
            <div data-sly-test="${properties.caremalHeadDescription}" class="description">
                <p>${properties.caremalHeadDescription @context='html'}</p>
            </div>           
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                <sly data-sly-resource="${'caremalpar0' @ resourceType='etisalat/components/container'}"> </sly>
            </div>
            <div class="col-xs-12 col-md-6">
                 <sly data-sly-resource="${'caremalpar1' @ resourceType='etisalat/components/container'}"> </sly>
            </div>
        </div>
    </div>
</div>
</template>