<template  data-sly-template.cxpromocard="${ @ properties}">
   <div class="postpaid-wrapper has-bg">
      <div class="container">
         <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
               <sly data-sly-resource="${'cxpar0' @ resourceType='etisalat/components/container'}"> </sly>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 accbill">
               <div class="row">
                  <div class="col-lg-12">
                     <sly data-sly-resource="${'cxpar1' @ resourceType='etisalat/components/container'}"> </sly>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-6">
                     <sly data-sly-resource="${'cxpar2' @ resourceType='etisalat/components/container'}"> </sly>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-6">
                     <sly data-sly-resource="${'cxpar3' @ resourceType='etisalat/components/container'}"> </sly>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</template>