<template  data-sly-template.expopromocard="${ @ container,properties}">
<div class="promo-grid-wrapper newVariation">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-3 pull-right-ar">
        <div class="row">
          <div class="col-xs-12 col-sm-12 pull-right-ar">
            <sly data-sly-resource="${'expopar0' @ resourceType='etisalat/components/container'}"></sly>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-3 pull-right-ar">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <sly data-sly-resource="${'expopar1' @ resourceType='etisalat/components/container'}"></sly>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 pull-right-ar">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <sly data-sly-resource="${'expopar2' @ resourceType='etisalat/components/container'}"></sly>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-6 pull-right-ar">
                <sly data-sly-resource="${'expopar3' @ resourceType='etisalat/components/container'}"></sly>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-6">
                <sly data-sly-resource="${'expopar4' @ resourceType='etisalat/components/container'}"></sly>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>