<template  data-sly-template.wstpromocard="${ @ properties}">


          <!-- <div class="row">
               <div class="col-xs-12 col-sm-12 col-md-6 pull-right-ar">
                    <sly data-sly-resource="${'wstpar0' @ resourceType='etisalat/components/container'}"> </sly>
               </div>
               <div class="col-xs-12 col-sm-12 col-md-6">
                    <sly data-sly-resource="${'wstpar1' @ resourceType='etisalat/components/container'}"> </sly>
               </div>
               <div class="col-xs-12 col-sm-12 col-md-3">
                    <sly data-sly-resource="${'wstpar2' @ resourceType='etisalat/components/container'}"> </sly>
               </div>
               <div class="col-xs-12 col-sm-12 col-md-3">
                    <sly data-sly-resource="${'wstpar3' @ resourceType='etisalat/components/container'}"> </sly>
               </div>
          </div> -->


          <div class="wst-grid">
               <sly data-sly-resource="${'wstpar3' @ resourceType='etisalat/components/container'}"> </sly>
          </div>


</template>