<template  data-sly-template.pagination="${ @ properties}">
   <div class="container-fluid">
       <div class="row">
           <div class="col-xs-12">             
               <div class="spacer white-32"></div>
           </div>
       </div>
   </div>
   <div class="pages-list col-md-4">
       <a href="#" class="prev-page pagination-link" data-link-type="prev">
           <svg>
               <use xlink:href="#hero-image-arrow-left" />
           </svg>
       </a>
       <ul class="pagination-list">
           <li class="item-page active"><a class="pagination-link" data-link-type="link" href="#">1</a></li>
           <li class="item-page"><a class="pagination-link" data-link-type="link" href="#">2</a></li>
           <li class="item-page"><a class="pagination-link" data-link-type="link" href="#">3</a></li>
           <li class="item-page"><a class="pagination-link" data-link-type="link" href="# ">4</a></li>
       </ul>
       <a href="#" class="next-page pagination-link" data-link-type="next">
           <svg>
               <use xlink:href="#hero-image-arrow" />
           </svg>
       </a>
   </div>
   <p class="pages">Page
       <span class="current-page"> 1 </span> of 
       <span class="total-pages"> 4 </span>
   </p>
</template>