.cmp_tabs__vertical_view_nobg {
  .cmp-text {
    h2 {
      font-size: 34px;
      line-height: 42px;
    }

    h3 {
      font-size: 2rem;
      line-height: 40px;
    }

    p {
      color: #848789;
      font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
      font-size: 0.875rem;
      font-weight: normal;
      line-height: 1.5rem;
    }
  }
}

/* text in Teaser start */
.cmp-rte-text {
  padding-left: 30px;

  .cmp-text h3 {
    color: #353738;
    font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif;
    margin: 0;
  }

  .cmp-text p {
    color: $steel-grey;
    font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
    font-size: 14px !important;
    line-height: 20px !important;
    margin-bottom: .75rem;
  }
}

@media (min-width: 320px) and (max-width: 990px) {
  .cmp-rte-text {
    padding-left: 0;
  }
}

@media (min-width: 375px) and (max-width: 990px) {
  .cmp-rte-text {
    .cmp-text p {
      margin-top: 1rem;
    }
  }
}

@media (min-width: 992px) {
  .cmp-rte-text {
    .cmp-text h3 {
      font-size: 2rem;
      line-height: 40px;
    }

    .cmp-text p {
      font-size: 1rem !important;
      line-height: 1.5rem;
      margin-bottom: 1rem;
      margin-top: 1.5rem;
      width: 100%;
    }
  }
}

/* text in Teaser end */

.cmp-right-rte {
  .cmp-button--secondary {
    width: 100%;
  }
}

@media (min-width: $tablet) {
  .cmp-right-rte {
    margin-top: 6.375rem;
    padding-right: 2.1875rem;

    .cmp-button--secondary {
      float: $floatR;
      width: 25%;
    }
  }
}

