/* stylelint-disable*/
.partners-logos {
    position: relative;
    overflow: hidden;
    padding: 64px 0;
    &.bg-maroon {
      .swiper-btn-wrapper{
        .swiper-pagination,
        .swiper-pagination-current{
          color: $white !important;
        }
      }
    }
    @media (max-width: 767px) {
      padding: 48px 0;
    }

    .ed-headings-2-0 {
      margin-bottom: 16px;
      h2{
        font-weight: 500;
        padding-right: 200px;
        @media (max-width: 767px) {      
          padding: 0px !important;
        }
      }
      @media (max-width: 767px) {
        margin-bottom: 24px;
      }
    }
    .ed-paragraph-2-0{
      margin-bottom: 64px;
      @media (max-width: 767px)  {
        margin-bottom: 32px;
     }
    }
    .cards-carousel-no-image-slider {
      position: relative;
      .swiper-wrapper{
        align-items: center; 
      }
      .slider-box{
        margin: -12px;
      }
      .box-slide {
        padding: 12px;
        text-align: left;
        border-radius: 8px;
        background: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: 767px) {
          width: 100% !important;
        }      
        &:last-of-type {
          margin: 0;
        }
        .box-card {
          overflow: hidden;
          background: $white;
          margin-bottom: 0;
          border: 1px solid #e2e2e2;
          max-height: initial;       
            padding: 34px;    
            @media (max-width: 767px)  {
              height: auto;
            }       
             
            .p-logo{
              position: relative;
              margin: 0 auto;
              height: 110px;
              width: 100vw;
              max-width: 314px;
              overflow: hidden;
              @media (max-width: 1250px) {
                max-width: 220px;
              } 
              @media (max-width: 1023px) {
                max-width: 380px;
              }
              @media (max-width: 767px) {
                max-width: 100%;
              } 
              svg,img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                max-width: 100%;
              }
            }
        }
      }
    }
    .swiper-btn-wrapper{
      position: absolute;
      top: 2px;
      right:12px;
      width: 177px;    
      @media (max-width: 1023px) {
        top: -8px;
      }
      @media (max-width: 767px) {
        margin: 20px auto 0;
        position: relative;
        right: auto;
        top: 0;
        
        width: 188px;
      }
      &.disabled-swiper{
        display: none;
        @media (max-width: 1023px) {
          display: block;
        }
      }
      .swiper-pagination {
        left: 52px;
        @media (max-width: 767px) {
          left: auto !important;
        }
      }
    }
  }
  
  *[lang="ar"] *[dir="rtl"] {  
    .partners-logos { 
      .ed-headings-2-0 {
        h2{
          padding-right: 0;
          padding-left: 200px;
        }
      }
      .box-slide {
        text-align: right;
      }   

      .swiper-button-next{
        right: 130px;
        transform: rotate(180deg);
        @media (max-width: 767px) {
          right: auto;
          left: 0;
        }
      }
      .swiper-btn-wrapper{
        left:12px;
        right: auto;
      }
      .swiper-pagination {
        right: 52px;
        left: 0;
        text-align: right;
        @media (max-width: 767px) {
          left: 0;
          right: 0;
        }
        .swiper-pagination-current{
          margin-right: 0;
          margin-left: 8px;
        }
      }
    }
  }
  