<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html">  
  <sly data-sly-test="${properties.fileReference}">
     <!-- background images -->
	<div class="hero-bg-images">
	  <div class="cover" data-sly-resource="${resource @ resourceType='core/wcm/components/image/v2/image', wcmmode='disabled'}"></div>
	</div>
	<!-- all hero content -->
	<div class="hero-content-wrapper ${properties.heroAlignment}">
	  <!-- banner click area  -->
	  <div class="container">
	    <!-- hero details div contains -> video link - headings - description - thumbnails - offers etc in below container  -->
	    <div class="hero-details">
	      <div class="hero-bg-cta" data-label=""></div>
	      <div class="ele-margin hero-offer-tags-wrapper ${properties.tagColor}">
	      <sly data-sly-use.tagObj="${resource.path}" data-sly-list.tagItems="${tagObj.listChildren}">
	         <sly data-sly-test="${tagItems.name == 'tagline'}">
	               <img class="icon" src="${tagItems.fileReference}" alt=""/>
	         </sly>	      
	      </sly>	      	        
	        <div data-sly-test="${properties.pretitle}" class="text"> ${properties.pretitle}</div>
	      </div>
	      <div data-sly-test="${properties.heroTitle}" class="ele-margin hero-title ${properties.titleFontStyle}">
	        <h2>${properties.heroTitle}</h2>
	      </div>
		  <div class="ele-margin hero-thumbnails">
			<div class="thumbnail-icon">
			  <img src="assets/img/current-promotions/icon-sim-sandy.svg" />
			</div>
			<div class="thumbnail-icon">
			  <img src="assets/img/current-promotions/icon-sim-sandy.svg" />
			</div>
			<div class="thumbnail-icon">
			  <img src="assets/img/current-promotions/icon-sim-sandy.svg" />
			</div>
			<div class="thumbnail-text">
			  + 2 more
			</div>
		  </div>
	      <div data-sly-test="${properties.jcr:description}" class="ele-margin hero-description">
                ${properties.jcr:description @ context = 'html'}
          </div>
	      <div data-sly-test="${properties.bannerCTATitle}" class="ele-margin hero-cta">
	        <a href="https://www.linkedin.com/feed/" class="btn btn-green ripple-effect"> ${properties.bannerCTATitle} </a>
	      </div>
	    </div>
	  </div>
	</div>
   </sly>     
</sly>

<sly data-sly-call="${templates.placeholder @ isEmpty = !properties.fileReference}"></sly>