<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html">  
  <sly data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component" data-sly-test="${properties.fileReference}">
     <!-- background images -->
	<div class="hero-bg-images">
	  <div class="cover" data-sly-resource="${resource @ resourceType='core/wcm/components/image/v2/image', wcmmode='disabled'}"></div>
	</div>
	<!-- all hero content -->
	<div class="hero-content-wrapper ${properties.heroAlignment}">
	  <!-- banner click area  -->
	  <div class="container">
	    <!-- hero details div contains -> video link - headings - description - thumbnails - offers etc in below container  -->
	    <div class="hero-details">
	      	<div class="hero-bg-cta" data-label=""></div>
			<div class="ele-margin hero-play-video">
				<div class="video-text">
					<a data-toggle="modal" data-target="#heroVideo">Best </a>
				</div>
				<div class="video-icon">
					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="58px" height="58px"
						viewBox="0 0 58 58" version="1.1" class="replaced-svg">
						<!-- Generator: Sketch 52.6 (67491) - http://www.bohemiancoding.com/sketch -->
						<title>Icon/Outline 1pt/video start stop/video_start_stop_black</title>
						<desc>Created with Sketch.</desc>
						<g id="Page-1" stroke="none" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="round"
							stroke-linejoin="round">
							<g id="Icon/Outline-1pt/video-start-stop/video_start_stop_black"
								transform="translate(-3.000000, -3.000000)" stroke="#242424">
								<path
									d="M48.1181247,45.0042505 C47.5827865,45.3018981 47.0851792,45.6592024 46.6342863,46.0671798 C45.016428,47.5310522 44,49.6473219 44,52.000991 C44,56.419269 47.581722,60.000991 52,60.000991 C56.418278,60.000991 60,56.419269 60,52.000991 C60,48.9882351 58.3346186,46.3644497 55.8742206,45"
									id="Oval"></path>
								<path
									d="M58.3250068,41.5614269 C59.4088749,38.5779373 60,35.358001 60,32 C60,16.536027 47.463973,4 32,4 C16.536027,4 4,16.536027 4,32 C4,47.463973 16.536027,60 32,60 C35.3316508,60 38.5273952,59.4181156 41.4911491,58.350431"
									id="Oval-3"></path>
								<path d="M52.2807018,43 L52.2807018,50.6140351" id="Line"></path>
								<polygon id="Triangle" points="45 32 25 44 25 20"></polygon>
							</g>
						</g>
					</svg>
				</div>
			</div>
	      <div data-sly-test="${properties.pretitle}" class="ele-margin hero-offer-tags-wrapper ${properties.tagColor}">
		      <sly data-sly-use.tagObj="${resource.path}" data-sly-list.tagItems="${tagObj.listChildren}">
		         <sly data-sly-test="${tagItems.name == 'tagline'}">
		               <img data-sly-test="${tagItems.fileReference}" class="icon" src="${tagItems.fileReference}" alt=""/>
		         </sly>	      
		      </sly>	      	        
	        <div class="text"> ${properties.pretitle}</div>
	      </div>
			<div data-sly-test="${properties.backToLinkLbl}" class="go-back">
				<div class="third-action-wrapper action-link">
					<a href="${properties.backToLinkURL}" class="link">${properties.backToLinkLbl}</a>
				</div>
			</div>
	      <div data-sly-test="${properties.heroTitle}" class="ele-margin hero-title ${properties.titleFontStyle}">
	        <h2>${properties.heroTitle}</h2>
	      </div>
		  <div class="ele-margin hero-thumbnails">
		  <sly data-sly-use.thumbnailObj="${resource.path}" data-sly-list.thumbnailItems="${thumbnailObj.listChildren}">
		     <div data-sly-test="${thumbnailItems.name == 'thumbnailItems'}" data-sly-repeat.thumbItem="${thumbnailItems.listChildren}" class="thumbnail-icon">
		       <img data-sly-test="${thumbItem.fileReference}" src="${thumbItem.fileReference}" alt=""/>		    
		     </div>
		  </sly>			
			<div data-sly-test="${properties.thumbnailText}" class="thumbnail-text">
			  ${properties.thumbnailText}
			</div>
		  </div>
	      <div data-sly-test="${properties.jcr:description}" class="ele-margin hero-description">
                ${properties.jcr:description @ context = 'html'}
          </div>          
	      <div data-sly-test="${properties.bannerCTATitle && properties.linkBehavior != 'openmodalwindow'}" class="ele-margin hero-cta">
	        <sly data-sly-test.heroCTALink="${properties.linkBehavior == 'opensamewindow'? properties.ctaSameWindowLink : properties.ctaNewWindowLink}" 
               data-sly-use.heroModelLink="${'com.etisalat.core.models.CommonLinkModel' @link=heroCTALink}"/>
	        <a href="${heroModelLink.link}" target="${properties.linkBehavior == 'opennewwindow'?'_blank':'_self'}" class="btn ${properties.ctaColor} ripple-effect"> ${properties.bannerCTATitle} </a>
	      </div>
	      <div data-sly-test="${properties.linkBehavior == 'openmodalwindow' && properties.bannerCTATitle}" class="ele-margin hero-cta">
	          <a data-label="${component.id}" class="btn ${properties.ctaColor} btn-modal ripple-effect"
			       title="${properties.bannerCTATitle}">${properties.bannerCTATitle} </a>			      			    
		      <div id="${component.id}"
	             class="nv-modal fade  ${properties.modalBehavior}-modal">	             
	             <div class="nv-modal-dialog">
	                <div class="nv-modal-content nv-py-5">
	                   <div class="container">
	                      <div class="modal-popup">
	                         <sly
	                            data-sly-use.closebuttonTemplate="/apps/etisalat/components/button/closebutton.html"
	                            data-sly-call="${closebuttonTemplate.close}">
	                         </sly>
	                         <sly
	                            data-sly-resource="${resource @ resourceType='core/wcm/components/experiencefragment/v1/experiencefragment', wcmmode='disabled'}">
	                         </sly>
	                      </div>
	                   </div>
	                </div>
	             </div>
	          </div>
          </div>
	    </div>
	  </div>
	</div>
   </sly>     
</sly>

<sly data-sly-call="${templates.placeholder @ isEmpty = !properties.fileReference}"></sly>