<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html">  
  <sly data-sly-use.component="com.adobe.cq.wcm.core.components.models.Component" data-sly-test="${properties.fileReference}">
     <!-- background images -->
	<div class="hero-bg-images">
	  <div class="${!wcmmode.edit ? 'cover' : ''}">
	     <sly data-sly-test="${properties.heroDisplayBehavior == 'image'}">
			 <div class="bg-overlay" style="background-color:#000; opacity:${properties.heroImageOpacity ? properties.heroImageOpacity : 0 @ context='styleToken'};"></div>
	         <sly data-sly-resource="${resource @ resourceType='core/wcm/components/image/v2/image', wcmmode='disabled'}"></sly>
	     </sly>	     
         <div data-sly-test="${properties.heroDisplayBehavior == 'video' && properties.videoLink}" class="${!wcmmode.edit ? 'video_ctn' : ''}">
		   <video muted="muted" loop="" playsinline="" class="video_cover"
		          autoplay="" tabindex="0" autobuffer="autobuffer" preload="preload"
		          poster="" >
		      <source type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;"
		              src="${properties.videoLink}">
		      <source type="video/webm; codecs=&quot;vp8, vorbis&quot;"
		              src="${properties.videoLink}">
		      <source type="video/ogg; codecs=&quot;theora, vorbis&quot;"
		              src="${properties.videoLink}">
		      <track label="" kind="" srclang="" src="">
		   </video>
		</div>	          
	  </div>	  
	</div>
	<!-- all hero content -->
	<div class="hero-content-wrapper ${properties.heroAlignment}">
	  <!-- banner click area  -->
	  <div class="container">
	    <!-- hero details div contains -> video link - headings - description - thumbnails - offers etc in below container  -->
	    <div class="hero-details">
	      	<div class="hero-bg-cta" data-label=""></div>
			<div data-sly-test="${properties.heroDisplayBehavior == 'video' && properties.youTubeUrl}" class="ele-margin hero-play-video">
				<sly data-sly-use.heroVideoModelTemplate="herovideo.html"
			             data-sly-call="${heroVideoModelTemplate.heroVideoModel @ component=component,properties=properties}"/>
			</div>
	      <div data-sly-test="${properties.pretitle && properties.tagAlignment == 'beforetitle'}" class="ele-margin hero-offer-tags-wrapper ${properties.tagColor}">
		      <sly data-sly-use.tagObj="${resource.path}" data-sly-list.tagItems="${tagObj.listChildren}">
		         <sly data-sly-test="${tagItems.name == 'tagline'}">
		               <img data-sly-test="${tagItems.fileReference}" class="icon" src="${tagItems.fileReference}" alt=""/>
		         </sly>	      
		      </sly>	      	        
	        <div class="text"> ${properties.pretitle}</div>
	      </div>
			<div data-sly-test="${properties.backToLinkLbl}" class="go-back">
			<sly data-sly-test.customLink="${properties.backToLinkURL}" 
                data-sly-use.commonlinkmodel="${'com.etisalat.core.models.CommonLinkModel' @link=customLink}"/>
				<div class="third-action-wrapper action-link">
					<a data-sly-test="${commonlinkmodel.link}" href="${commonlinkmodel.link}" class="link">${properties.backToLinkLbl}</a>
				</div>
			</div>
	      <div data-sly-test="${properties.heroTitle}" class="ele-margin hero-title ${properties.titleFontStyle}">
	        <h2>${properties.heroTitle}</h2>
	      </div>
	      <div data-sly-test="${properties.pretitle && properties.tagAlignment == 'aftertitle'}" class="ele-margin hero-offer-tags-wrapper ${properties.tagColor}">
		      <sly data-sly-use.tagObj="${resource.path}" data-sly-list.tagItems="${tagObj.listChildren}">
		         <sly data-sly-test="${tagItems.name == 'tagline'}">
		               <img data-sly-test="${tagItems.fileReference}" class="icon" src="${tagItems.fileReference}" alt=""/>
		         </sly>	      
		      </sly>	      	        
	        <div class="text"> ${properties.pretitle}</div>
	      </div>
		  <div class="ele-margin hero-thumbnails">
		  <sly data-sly-use.thumbnailObj="${resource.path}" data-sly-list.thumbnailItems="${thumbnailObj.listChildren}">
		     <div data-sly-test="${thumbnailItems.name == 'thumbnailItems'}" data-sly-repeat.thumbItem="${thumbnailItems.listChildren}" class="thumbnail-icon">
		       <img data-sly-test="${thumbItem.fileReference}" src="${thumbItem.fileReference}" alt=""/>		    
		     </div>
		  </sly>			
			<div data-sly-test="${properties.thumbnailText}" class="thumbnail-text">
			  ${properties.thumbnailText}
			</div>
		  </div>
	      <div data-sly-test="${properties.jcr:description}" class="ele-margin hero-description">
                ${properties.jcr:description @ context = 'html'}
          </div>          
	      <div data-sly-test="${properties.bannerCTATitle && properties.linkBehavior != 'openmodalwindow'}" class="ele-margin hero-cta">
	        <sly data-sly-test.heroCTALink="${properties.linkBehavior == 'opensamewindow'? properties.ctaSameWindowLink : properties.ctaNewWindowLink}" 
               data-sly-use.heroModelLink="${'com.etisalat.core.models.CommonLinkModel' @link=heroCTALink}"/>
	        <a href="${heroModelLink.link}" target="${properties.linkBehavior == 'opennewwindow'?'_blank':'_self'}" class="btn ${properties.ctaColor} ripple-effect"> ${properties.bannerCTATitle} </a>
	      </div>	      
		   <sly data-sly-use.heroCTAModelTemplate="modalpopup.html"
			             data-sly-call="${heroCTAModelTemplate.ctaModelPopup @ component=component,properties=properties}"/>          		 
	    </div>
	  </div>
	</div>
   </sly>     
</sly>

<sly data-sly-call="${templates.placeholder @ isEmpty = !properties.fileReference}"></sly>