<template data-sly-template.heroImages="${ @ properties}">
 <div  data-sly-use.teaser="com.adobe.cq.wcm.core.components.models.Teaser" 
       data-sly-use.tileModel="com.etisalat.core.models.TileModel"
       data-sly-use.parentRes="${resource.parent.path}" 
       data-sly-set.heroImageBG="${parentRes && parentRes.heroImageBGTheme == 'bg-dark' ? 'bg-dark' : ''}"
       data-sly-set.linearBGColor = "${properties.heroBannerVariation == 'hero-images' && heroImageBG == 'bg-dark' &&  
          (tileModel.heroImageVariation == 'iframe-banner' || tileModel.heroImageVariation == 'block-chain-ends')}"
       data-sly-set.darkBGColor = "${properties.heroBannerVariation == 'hero-images' && heroImageBG == 'bg-dark' &&  
          (tileModel.heroImageVariation == 'links-banner' || tileModel.heroImageVariation == 'banner-page-navigation' ||
             tileModel.heroImageVariation == 'call-to-action-banner' || tileModel.heroImageVariation == 'medium-banner')}"
       data-sly-use.imageTemplate="image.html" class="${!wcmmode.edit ? 'cover' : ''}">
        
	 <sly data-sly-test="${properties.heroDisplayBehavior == 'image'}">
		<div data-sly-test="${!properties.heroBannerVariation || properties.heroBannerVariation == 'herobanner-wst'}" class="bg-overlay" 
		     style="background-color:#000; opacity:${properties.heroImageOpacity ? properties.heroImageOpacity : 0 @ context='styleToken'};"></div>	         
	         
	    <div data-sly-test="${properties.heroBannerVariation == 'hero-images' && linearBGColor}" class="bg-filter" 
		     style="background:linear-gradient(270deg,rgba(0, 0, 0, 0) 0%,#000000 100%); opacity:${properties.heroImageOpacity ? properties.heroImageOpacity : 0.2 @ context='styleToken'};"></div>	         
	    <div data-sly-test="${properties.heroBannerVariation == 'hero-images' && darkBGColor}" class="bg-filter" 
		     style="background-color:#000; opacity:${properties.heroImageOpacity ? properties.heroImageOpacity : 0.2 @ context='styleToken'};"></div>
		<div data-sly-test="${properties.heroBannerVariation == 'hero-images' && !darkBGColor && !linearBGColor}" class="bg-filter" 
		     style="opacity:${properties.heroImageOpacity ? properties.heroImageOpacity : 0.2 @ context='styleToken'};"></div>
		     
	    <sly data-sly-call="${imageTemplate.image @ teaser=teaser}"></sly>
	 </sly>	     
	 <sly data-sly-test="${properties.heroDisplayBehavior == 'video' && properties.videoLink}" >
	   <sly data-sly-test.heroBannerVideoLink="${properties.videoLink}" 
	               data-sly-use.videoLink="${'com.etisalat.core.models.CommonLinkModel' @link=heroBannerVideoLink}"/>	               
	    <sly data-sly-test="${videoLink.video}">
		   <video muted="muted" loop="" playsinline="" class="video_cover"
		          autoplay="" tabindex="0" autobuffer="autobuffer" preload="preload"
		          poster="${properties['video/fileReference']}" >		     
			      <source type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;"
			              src="${properties.videoLink}">
			      <source type="video/webm; codecs=&quot;vp8, vorbis&quot;"
			              src="${properties.videoLink}">
			      <source type="video/ogg; codecs=&quot;theora, vorbis&quot;"
			              src="${properties.videoLink}">		      		     
		   </video>
		</sly>	  
       <div data-sly-test="${!videoLink.video}" class="video-item">
           <video data-sly-test="${!wcmmode.edit && properties['video/fileReference']}" class="video_cover" poster="${properties['video/fileReference']}"> </video>     			     	      		     		     
		   <div class="${!wcmmode.edit ? 'video_ctn' : ''}"
		        id="youTubeVideoPlayer"
		        data-videoid="${properties.videoLink}">
		   </div>
	   </div>          
	</sly>	  
	<div data-sly-test="${properties.heroDisplayBehavior == 'image-viewports'}">	
	   <div data-sly-test="${!properties.heroBannerVariation || properties.heroBannerVariation == 'herobanner-wst'}" class="bg-overlay" 
		     style="background-color:#000; opacity:${properties.heroImageOpacity ? properties.heroImageOpacity : 0 @ context='styleToken'};"></div>
	   
	   <div data-sly-test="${properties.heroBannerVariation == 'hero-images' && linearBGColor}" class="bg-filter" 
		     style="background:linear-gradient(270deg,rgba(0, 0, 0, 0) 0%,#000000 100%); opacity:${properties.heroImageOpacity ? properties.heroImageOpacity : 0.2 @ context='styleToken'};"></div>
	         <sly data-sly-call="${imageTemplate.image @ teaser=teaser}"></sly>
	   <div data-sly-test="${properties.heroBannerVariation == 'hero-images' && darkBGColor}" class="bg-filter" 
		     style="background-color:#000; opacity:${properties.heroImageOpacity ? properties.heroImageOpacity : 0.2 @ context='styleToken'};"></div>
	   <div data-sly-test="${properties.heroBannerVariation == 'hero-images' && !darkBGColor && !linearBGColor}" class="bg-filter" 
		     style="opacity:${properties.heroImageOpacity ? properties.heroImageOpacity : 0.2 @ context='styleToken'};"></div>
	        	   
	  <sly data-sly-resource="${resource @ resourceType='etisalat/components/imageetisalatviewport'}"></sly>
	</div>	         
 </div>	
</template>