<template data-sly-template.dynamicproduct="${ @ properties}">
      <div
         class="${properties.dynamictileBoxLayout == 'dynamicelifeplan'? 'smart-home-elife-slider':'product-grid-text-section plans more-info-wrapper plansTable'}">
         <div class="col-xs-12 col-md-3 nv-card-contentLeft">
            <div class="main-text-section">
               <sly data-sly-test="${properties.productCTALink && properties.productCTATitle}">
                  <div class="main-text-action-wrapper">
                     <div class="action">
                        <a href="${properties.productCTALink}" class="btn-text btn-green  learn-more">${properties.productCTATitle}</a>
                     </div>
                  </div>
               </sly>
               <div class="wst-main-headings">
                  <h3>${properties.mainProductTitle}</h3>
               </div>
               <div class="main-text-content-wrapper">
                  <div class="paragraph-styling ul-list-cms">
                     <div class="p1">
                        ${properties.mainProductDesc @ context="html"}
                     </div>
                  </div>
               </div>
            </div>
            <!--If total count is lesser than 3 please hide using class 'hide' -->
            <sly data-sly-test="${properties.dynamictileBoxLayout == 'dynamicelifeplan'}">
               <div class="home-slider-controls">
                  <div class="prev"></div>
                  <div class="next"></div>
               </div>
            </sly>

            <sly data-sly-test="${properties.dynamictileBoxLayout != 'dynamicelifeplan'}">
               <div class="table-swiper-button-prev swiper-button-prev swiper-button-black"></div>
               <div class="table-swiper-button-next swiper-button-next swiper-button-black"></div>
            </sly>

         </div>
         <sly data-sly-test="${properties.dynamictileBoxLayout == 'dynamicelifeplan'}">
            <div class="col-xs-12 col-md-8 col-md-offset-1 nv-card-contentRight">
               <!-- Swiper -->
               <div class="swiper-container-slider">
                  <div class="swiper-wrapper" id="productRow-${properties.productCategoryId}">
                  </div>
                  <!-- Add Scrollbar -->
                  <div class="swiper-scrollbar"></div>
               </div>
            </div>
         </sly>
         <sly data-sly-test="${properties.dynamictileBoxLayout != 'dynamicelifeplan'}">
            <div class="col-xs-12  col-md-9">
               <section class="cmp__bg-cards_product-grid ">
                  <div class="row">
                     <div class="col-xs-12">
                        <div class="bg-cards related-products keepbtn">
                           <div class="row row-tiles-table ">
                              <div class="swiper-container swiper-container-horizontal">
                                 <!--Product details JSON Part 2 variations with 2 different JSON DATA add either one -->
                                 <div id="products_smartlife" class="swiper-wrapper"></div>

                                 <div class="table-swiper-scrollbar swiper-scrollbar">
                                    <div class="swiper-scrollbar-drag" style="width: 449.5px;"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </section>
            </div>
         </sly>
      </div>

</template>