<template data-sly-template.dynamicproduct="${ @ properties}">
    <div class="plans full-width-slider">
        <div class="nv-container">
            <div class="nv-row">
                <div class="nv-col-12">
                    <div data-sly-test="${properties.mainProductTitle}" class="default-section-title with-des">
                        <h3 data-sly-element="${properties.mainTitleStyle}" class=" pull-left">${properties.mainProductTitle}</h3>
                        <div class="pull-right flag-wrapper">
                                <span class="flag">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="16" viewBox="0 0 24 16">
                                        <defs>
                                            <rect id="rzcsi2kfia" width="24" height="16" x="0" y="0" rx="1.6"></rect>
                                        </defs>
                                        <g fill="none" fill-rule="evenodd">
                                            <g>
                                                <g>
                                                    <g>
                                                        <g>
                                                            <g transform="translate(-1025 -735) translate(0 638) translate(120 80) translate(905 13) translate(0 4)">
                                                                <mask id="ltwxxvavnb" fill="#fff">
                                                                    <use xlink:href="#rzcsi2kfia"></use>
                                                                </mask>
                                                                <use fill="#FFF" xlink:href="#rzcsi2kfia"></use>
                                                                <path fill="#12833B" d="M6.4 0H24.4V5.333H6.4z" mask="url(#ltwxxvavnb)"></path>
                                                                <path fill="#262626" d="M6.4 10.667H24.4V16H6.4z" mask="url(#ltwxxvavnb)"></path>
                                                                <path fill="#FF323E" d="M0 0H6.4V16H0z" mask="url(#ltwxxvavnb)"></path>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </span>
                            <span class="des">${properties.flagText}</span>
                        </div>
                    </div>
                    <div class="sacondary-title">
                        <h5>${properties.contractText}</h5>
                    </div>
                </div>
            </div>
            <div class="nv-row">
                <div class="nv-col-12">
                    <div class="buynget-cards swiper-default with-scrollbar swiper-full-height  plansTableFull0">
                        <div class="swiper-container swiper-container-horizontal">
                            <div class="swiper-wrapper">
                               <!--/* slides to be added */-->

                            </div>
                            <div class="table-swiper-button-prev plansLeft0 swiper-button-disabled">
                                <svg>
                                    <use xlink:href="#hero-image-arrow-left"></use></svg>
                            </div>
                            <div class="table-swiper-button-next plansRight0">
                                <svg>
                                    <use xlink:href="#hero-image-arrow"></use></svg>
                            </div>
                            <div class="table-swiper-scrollbar swiper-scrollbar"><div class="swiper-scrollbar-drag" style="width: 956.768px;"></div></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div data-sly-test="${properties.loadMoreCTAText}" class="container">
            <div class="row mtb-40 hidden">
                <div class="col-xs-12 col-md-4 col-lg-3 col-center">
                    <a href="#" class="btn btn-default showNoContract">${properties.loadMoreCTAText}</a>
                </div>
            </div>
        </div>
        <div class="nv-container nocContractPlansSection">
            <div class="nv-row">
                <div class="nv-col-12">
                    <div class="sacondary-title">
                        <h5>${properties.noncontractText}</h5>
                    </div>
                </div>
            </div>
            <div class="nv-row">
                <div class="nv-col-12">
                    <div class="buynget-cards swiper-default with-scrollbar swiper-full-height  plansTableFull1">
                        <div class="row row-tiles-table ">
                            <div class="swiper-container swiper-container-horizontal">
                                <div class="swiper-wrapper" style="transform: translate3d(0px, 0px, 0px); transition-duration: 0ms;">
                                    <!--/* slides to be added */-->

                                </div>
                                <div class="table-swiper-button-prev plansLeft1 swiper-button-disabled">
                                    <svg>
                                        <use xlink:href="#hero-image-arrow-left"></use></svg>
                                </div>
                                <div class="table-swiper-button-next plansRight1">
                                    <svg>
                                        <use xlink:href="#hero-image-arrow"></use></svg>
                                </div>
                                <div class="table-swiper-scrollbar swiper-scrollbar" style="transition-duration: 0ms;"><div class="swiper-scrollbar-drag" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px); width: 956.832px;"></div></div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>