<template  data-sly-template.filter="${ @ carousel,properties}">
<div data-sly-use.productDetails="com.etisalat.core.models.ProductDetails" class="recomended-product-filter">
    <div class="product-filter">
        <!-- desktop filters  -->
        <div class="filter-compare-sort-section">
            <div data-sly-test="${properties.filterLabel}" class="filter-icon mb-0">
                <a href="#" data-label="filters">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">                        
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Business-Softwares-Screen"
                                transform="translate(-120.000000, -390.000000)">
                                <g id="Group-2" transform="translate(120.000000, 390.000000)">
                                    <rect id="Rectangle" x="0" y="0" width="24" height="24"></rect>
                                    <g id="Group-15" transform="translate(5.000000, 3.000000)"
                                        stroke="#242424" stroke-linecap="round" stroke-linejoin="round">
                                        <line x1="7.5029" y1="17.4397" x2="7.5029" y2="4.5007"
                                            id="Stroke-1"></line>
                                        <line x1="2.5029" y1="17.4397" x2="2.5029" y2="10.9907"
                                            id="Stroke-3"></line>
                                        <line x1="2.5029" y1="6.9905" x2="2.5029" y2="0.5005" id="Stroke-5">
                                        </line>
                                        <line x1="12.5029" y1="13.47" x2="12.5029" y2="0.5" id="Stroke-7">
                                        </line>
                                        <path
                                            d="M14.5,15.4719 C14.5,16.5759 13.604,17.4719 12.5,17.4719 C11.396,17.4719 10.5,16.5759 10.5,15.4719 C10.5,14.3679 11.396,13.4719 12.5,13.4719 C13.604,13.4719 14.5,14.3679 14.5,15.4719 Z"
                                            id="Stroke-9"></path>
                                        <path
                                            d="M4.5,8.9875 C4.5,10.0915 3.604,10.9875 2.5,10.9875 C1.396,10.9875 0.5,10.0915 0.5,8.9875 C0.5,7.8835 1.396,6.9875 2.5,6.9875 C3.604,6.9875 4.5,7.8835 4.5,8.9875 Z"
                                            id="Stroke-11"></path>
                                        <path
                                            d="M9.5,2.5032 C9.5,3.6072 8.604,4.5032 7.5,4.5032 C6.396,4.5032 5.5,3.6072 5.5,2.5032 C5.5,1.3992 6.396,0.5032 7.5,0.5032 C8.604,0.5032 9.5,1.3992 9.5,2.5032 Z"
                                            id="Stroke-13"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    ${properties.filterLabel}
                </a>
            </div>
        </div>
    </div>

    <!-- mobile view filters  -->
    <div class="responsive-filters">
        <div class="filter-compare-sort-section">
            <div data-sly-test="${properties.filterLabel}" class="filter-icon">
                <a href="#" class="mb-0">
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1"
                        xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">                        
                        <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <g id="Business-Softwares-Screen"
                                transform="translate(-120.000000, -390.000000)">
                                <g id="Group-2" transform="translate(120.000000, 390.000000)">
                                    <rect id="Rectangle" x="0" y="0" width="24" height="24"></rect>
                                    <g id="Group-15" transform="translate(5.000000, 3.000000)"
                                        stroke="#242424" stroke-linecap="round" stroke-linejoin="round">
                                        <line x1="7.5029" y1="17.4397" x2="7.5029" y2="4.5007"
                                            id="Stroke-1"></line>
                                        <line x1="2.5029" y1="17.4397" x2="2.5029" y2="10.9907"
                                            id="Stroke-3"></line>
                                        <line x1="2.5029" y1="6.9905" x2="2.5029" y2="0.5005" id="Stroke-5">
                                        </line>
                                        <line x1="12.5029" y1="13.47" x2="12.5029" y2="0.5" id="Stroke-7">
                                        </line>
                                        <path
                                            d="M14.5,15.4719 C14.5,16.5759 13.604,17.4719 12.5,17.4719 C11.396,17.4719 10.5,16.5759 10.5,15.4719 C10.5,14.3679 11.396,13.4719 12.5,13.4719 C13.604,13.4719 14.5,14.3679 14.5,15.4719 Z"
                                            id="Stroke-9"></path>
                                        <path
                                            d="M4.5,8.9875 C4.5,10.0915 3.604,10.9875 2.5,10.9875 C1.396,10.9875 0.5,10.0915 0.5,8.9875 C0.5,7.8835 1.396,6.9875 2.5,6.9875 C3.604,6.9875 4.5,7.8835 4.5,8.9875 Z"
                                            id="Stroke-11"></path>
                                        <path
                                            d="M9.5,2.5032 C9.5,3.6072 8.604,4.5032 7.5,4.5032 C6.396,4.5032 5.5,3.6072 5.5,2.5032 C5.5,1.3992 6.396,0.5032 7.5,0.5032 C8.604,0.5032 9.5,1.3992 9.5,2.5032 Z"
                                            id="Stroke-13"></path>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                    ${properties.filterLabel}
                </a>
            </div>
            <div class="filter-close">
                <?xml version="1.0" encoding="UTF-8" standalone="no"?>
                <svg width="10px" height="10px" viewBox="0 0 64 64" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">                                  
                    <defs></defs>
                    <g id="Assets" stroke="none" stroke-width="12" fill="none" fill-rule="evenodd"
                        stroke-linecap="round" stroke-linejoin="round">
                        <g id="icon-outline-close-white" stroke="#cccccc">
                            <g id="Icon-/-Outline-/-Close-/-b.-White">
                                <path d="M60,4 L4,60" id="Line"></path>
                                <path d="M60,60 L4,4" id="Line"></path>
                            </g>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
        <div class="show-in-mobile-view-only">
            <div class="category-list-collapsible-section">
                <div class="category-body-collapisble collapse in">
                    <div class="category-list-wrap clearfix">
                        <ul data-sly-test="${productDetails.productFilterTagDetails.size > 0}" 
                            data-sly-list.productFilter="${productDetails.productFilterTagDetails}">
                            <li class="${productFilterList.first ? 'active' : ''}" data-sly-test="${productFilter.tagTitle}">
                                <div class="checkboxes-wrap">
                                    <input name="checkbox_list_recommended" type="radio" id="checkbox_${productFilterList.count}"
                                        data-label="${productFilter.tagName}">
                                    <label for="checkbox_${productFilterList.count}">${productFilter.tagTitle}</label>
                                </div>
                            </li>                            
                        </ul>
                    </div>
                </div>
            </div>
            <div class="apply-reset-section">
                <div class="apply filter-close">
                    <a href="#" class="btn btn-green ripple-effect">${properties.applyButtonLabel}</a>
                </div>
            </div>


        </div>
    </div>
</div>
</template>