<template  data-sly-template.productTile="${ @ carousel,properties}">
       <sly data-sly-set.withoutTitleDescriptionCTA="${!properties.mainProductTitle && !properties.mainProductDesc && !productCTALink && !productCTATitle}"/>
       <div class="product-grid-text-section plans more-info-wrapper ${properties.tileBoxLayout == 'producttile' && properties.planView ? 'nv-container' : ''} ${properties.tileBoxLayout == 'devicetile' ? 'product-device-text' : ''} ${withoutTitleDescriptionCTA ? 'swipper-with-arrows' : ''}" data-component="cmp-product-cards">
          <div class="row">
            <div data-sly-test="${properties.mainProductTitle && !properties.productFilterEnabled}" class="col-xs-12 col-md-${carousel.items.size > 2 ? '3' : '6'}">
              <div class="main-text-section">
                <a data-sly-test="${properties.productCTALink && properties.productCTATitle}" data-sly-use.commonlinkmodel="${'com.etisalat.core.models.CommonLinkModel' @link=properties.productCTALink}" href="${commonlinkmodel.link}" class="btn-text btn-green  learn-more">
                  <span> ${properties.productCTATitle} </span>
                </a>
                <div class="wst-main-headings">
                  <h4 data-sly-element="${properties.mainTitleStyle}">${properties.mainProductTitle}</h4>
                </div>
                <div class="main-text-content-wrapper">
                  <div class="paragraph-styling ul-list-cms">
                    <div class="p2">
                      <p>${properties.mainProductDesc @ context="html"}</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="${!wcmmode.edit && properties.slider && carousel.items.size > 3 ? '' : 'hide'} table-swiper-button-prev swiper-button-prev swiper-button-black"></div>
              <div class="${!wcmmode.edit && properties.slider && carousel.items.size > 3 ? '' : 'hide'} table-swiper-button-next swiper-button-next swiper-button-black"></div>
            </div>
            <div data-sly-test="${properties.productFilterEnabled}" class="col-lg-3 col-md-3">
               <sly data-sly-use.productFilterTemplate="productfilter.html"
			        data-sly-call="${productFilterTemplate.filter @ carousel=carousel,properties=properties}">      
			   </sly>
            </div>
            <sly data-sly-test="${properties.mainProductTitle || properties.productFilterEnabled}">
              <div class="col-xs-12 col-md-${carousel.items.size > 2 ? '9' : '6'}">
            </sly>
            <sly data-sly-test="${!properties.mainProductTitle && !properties.productFilterEnabled}">
              <div class="col-xs-12 col-md-12">
            </sly>
            <div class="cmp__bg-cards_product-grid">
              <div class="row">
                <div class="col-xs-12">
                  <div class="bg-cards related-products">
                    <div class="row row-tiles-table">
                      <div class="${!wcmmode.edit && properties.slider && carousel.items.size > 3 ? 'swiper-container swiper-container-horizontal' : ''}">
                        <div class="${properties.productFilterEnabled ? 'common' : ''} ${!wcmmode.edit && properties.slider && carousel.items.size > 3 ? 'swiper-wrapper' : ''}" id="product">
                          <sly data-sly-test="${properties.mainProductTitle || properties.productFilterEnabled}" data-sly-list.item="${carousel.items}" >
                             <sly data-sly-set.productTilePath="${'{0}/{1}' @ format=[resource.path, item.name]}"
                                  data-sly-use.productdetails="${'com.etisalat.core.models.ProductDetails' @productPath=productTilePath}">
                                <div class="swiper-slide  ${!wcmmode.edit && carousel.items.size > 2 ? 'col-xs-12 col-sm-6 col-md-4 swiper-slide-active' : 'swiper-slide-active col-xs-12 col-sm-6'}" 
                                     data-sly-resource="${item.name @ decorationTagName='div'}" id="${item.id}" data-label="${productdetails.tagNameFromProductPath}"></div>
                             </sly>                                                         
                          </sly>
                          <sly data-sly-test="${!properties.mainProductTitle && !properties.productFilterEnabled}">
                            <div data-sly-repeat.item="${carousel.items}" class="swiper-slide ${!wcmmode.edit && carousel.items.size > 3 ? 'col-xs-12 col-sm-6 col-md-3 swiper-slide-active' : 'swiper-slide-active col-xs-12 col-sm-6 col-md-4'}" data-sly-resource="${item.name @ decorationTagName='div'}" id="${item.id}"></div>
                          </sly>
                        </div>
                        <div class="table-swiper-scrollbar swiper-scrollbar">
                          <div class="swiper-scrollbar-drag" style="width: 449.5px;"></div>
                        </div>
                      </div>
                      <sly data-sly-test="${withoutTitleDescriptionCTA}">
                        <div class="${!wcmmode.edit && properties.slider && carousel.items.size > 3 ? '' : 'hide'} table-swiper-button-prev swiper-button-prev swiper-button-black">
                          <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                            <g fill="none" fill-rule="evenodd">
                                <rect width="48" height="48" fill="#9A9A9A" fill-rule="nonzero" opacity=".8" rx="24"></rect>
                                <g>
                                    <path d="M0 0H24V24H0z" transform="translate(12 12)"></path>
                                    <g stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                        <path d="M.511 5.28L17.462 5.28M5.281 10.369L.5 5.281 5.588.5" transform="translate(12 12) translate(3 7)"></path>
                                    </g>
                                </g>
                            </g>
                        </svg>
                </div>
						   <div class="${!wcmmode.edit && properties.slider && carousel.items.size > 3 ? '' : 'hide'} table-swiper-button-next swiper-button-next swiper-button-black">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
                          <g fill="none" fill-rule="evenodd">
                              <rect width="48" height="48" fill="#9A9A9A" fill-rule="nonzero" opacity=".8" rx="24"></rect>
                              <g>
                                  <path d="M0 0H24V24H0z" transform="matrix(-1 0 0 1 36 12)"></path>
                                  <g stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                      <path d="M.511 5.28L17.462 5.28M5.281 10.369L.5 5.281 5.588.5" transform="matrix(-1 0 0 1 36 12) translate(3 7)"></path>
                                  </g>
                              </g>
                          </g>
                      </svg>
							  </div>
						</sly>
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 btn-container-noContract">
                  <a href="#" class="btn btn-default showNoContract" data-sly-test="${properties.enableButton}"> ${properties.hideShowLabel}</a>
                </div>
              </div>
            </div>          
          </div>
          <sly data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/newpar',
            appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}" data-sly-test="${wcmmode.edit || wcmmode.preview}"></sly>
      </div>
 </div>
</template>