<sly data-sly-use.iconCardListData="com.etisalat.core.models.IconCardList">
    <div data-component="cmp-need-help" class="cmp-iconcard"
       data-sly-use.templates="core/wcm/components/commons/v1/templates.html"       
       id="${container.id}">    
        <sly data-sly-test.icLayout="${properties.iconCardLayout}" data-sly-use.icTemplate="${icLayout}.html" data-sly-use.needHelp40Template="needHelpSection40.html">
          <sly data-sly-test="${icLayout == 'needHelpSection' && properties.CTALinkPosition == 'beforeCards'}" 
               data-sly-call="${icTemplate.needHelpSection @ container=container,properties=properties}" />
		  <sly data-sly-test="${icLayout == 'needHelpSection' && properties.CTALinkPosition == 'afterCards'}" 
               data-sly-call="${needHelp40Template.needHelpSection40 @ container=container,properties=properties}" />
		  <sly data-sly-test="${icLayout == 'contextNavBox'}"
				data-sly-call="${icTemplate.contextNavBox @ container=container,properties=properties}" />
			<sly data-sly-test="${icLayout == 'howtosection'}"
				 data-sly-call="${icTemplate.howtosection @ container=container,properties=properties}" />
		</sly>
</div>
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = !resource.hasChildren}"></sly>