<div data-sly-use.templates="core/wcm/components/commons/v1/templates.html" 
   class="digital-notifications-wrapper ${wcmmode.edit ? '': properties.alignment} ${properties.themeColor} ${properties.displayDigitalBehavior && properties.displayDigitalBehavior == 'viewmore' ? 'expand-collapse' : ''}">
   <div class="container">
      <div class="noti-icon-dismis">
         <a href="#">                   
         </a>
      </div>
      <div class="mob-tab-bar">
         <span class="tab-line"></span>
      </div>
      <div class="notifications-head">
         <div class="title">
            <div class="noti-icon-info">                  
            </div>
            <h3>${properties.notificationTitle} 
               <a data-sly-test="${properties.titleLinkText}" href="${properties.titleLink}">${properties.titleLinkText}</a> 
            </h3>
         </div>
         <div data-sly-test="${properties.displayDigitalBehavior && properties.displayDigitalBehavior == 'learnmore'}" class="more-notifications">
            <div data-sly-test="${properties.title}" data-sly-resource="${resource @ resourceType='etisalat/components/button'}"></div>
         </div>
         <div data-sly-test="${properties.displayDigitalBehavior && properties.displayDigitalBehavior == 'viewmore'}" class="more-notifications">
            <a data-sly-test="${properties.viewMoreItems && properties.viewLesstems}" href="#"> 
            <span class="more ">${properties.viewMoreItems}</span>
            <span class="less hidden">${properties.viewLesstems}</span>
            </a>
         </div>
      </div>
      <div class="notifications-body">
         <div class="row">
            <div class="col-xs-12 col-md-10">
               <div class="description">
                  ${properties.notificationDesc @ context = 'html'}
               </div>
               <a data-sly-test="${properties.actionsEnabled && properties.notificationCTATitle}" href="${properties.notificationCTALink}" class="btn btn-green ripple-effect">${properties.notificationCTATitle}</a>		  
            </div>
         </div>
      </div>
   </div>
</div>
<sly data-sly-call="${templates.placeholder @ isEmpty = !properties.notificationTitle}"></sly>