<template data-sly-template.notificationLink="${ @ component,properties}">
  <sly data-sly-test="${properties.linkBehavior != 'openmodalwindow'}">
    <sly data-sly-test.customLink="${properties.ctaSameWindowLink}" data-sly-use.commonlinkmodel="${'com.etisalat.core.models.CommonLinkModel' @link=customLink}"/>
    <a href="${commonlinkmodel.link}"
       class="learn-more"
       title="${properties.title}"
       target="${properties.linkBehavior == 'opennewwindow'?'_blank':'_self'}">	   
      ${properties.title}
    </a>
  </sly>


  <sly data-sly-test="${properties.linkBehavior == 'openmodalwindow'}">
      <a data-label="${component.id}" class="learn-more btn-modal"
         title="${properties.title}">
        <span class="moreg">${properties.title}</span>
      </a>
      <div class="notifications-popup-wrapper">
	      <div id="${component.id}" class="nv-modal fade">
	        <div class="nv-modal-dialog">
	          <div class="nv-modal-content nv-py-5">
	            <div class="container">
	              <div class="modal-popup">
	                <sly
	                    data-sly-use.closebuttonTemplate="/apps/etisalat/components/button/closebutton.html"
	                    data-sly-call="${closebuttonTemplate.close}">
	                </sly>
	                <sly
	                    data-sly-resource="${resource @ resourceType='core/wcm/components/experiencefragment/v1/experiencefragment', wcmmode='disabled'}">
	                </sly>
	
	
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
    </div>
  </sly>

</template>