/* stylelint-disable*/
.quotation-2-0{
  .container {
      @media (max-width:767px) {
          padding-left: 16px;
          padding-right: 16px;

          [class*="col-"]{
              padding-left: 16px;
              padding-right: 16px;
          }
          .row{
              margin-left: -16px;
              margin-right: -16px;
          }
      }
  }
  @media(min-width: $screen-md-min) {
      margin: 64px 0;
  }
  position: relative;
  margin: 48px 0;
  .row{
      @media(min-width: $screen-md-min) {
          display: flex;
          justify-content: center;
          align-items: center;
      }
  }

  .image-wrapper{
      @media(min-width: $screen-md-min) {
          margin-bottom: 0px;
      }
      position: relative;
      margin-bottom: 24px;
      .bg-cover{
          @media(min-width: $screen-md-min) {
              height: 140px;
               width: 288px;
              border-top-left-radius: 193px;
              border-top-right-radius: 193px;
          }
          @media(min-width: $screen-lg-min) {
              height: 193px;
              width: 384px;
          }
          height: 145px;
          width: 288px;
          position: absolute;
          z-index: 1;
          bottom: 0px;
          background-color: $incBeige40;
          border-top-left-radius: 145px;
          border-top-right-radius: 145px;
          border-bottom: 0;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          transform: translateX(-50%);
      }
      img,svg{
          @media(min-width: $screen-md-min) {
              max-height: 344px;
              margin-bottom: 0px;
          }
          max-height: 250px;
          max-width: 100%;
          margin-bottom: 24px;
          z-index: 3;
          display: block;
          margin: 0 auto;
          object-fit: contain;
      }
      img.cover {
          position: relative;
          left: inherit;
          right: inherit;
          top: inherit;
          bottom: inherit;
      }
  }
  .quotation-content{
      .main-content-wrapper{
          .ed-headings-2-0{
              margin-bottom: 16px;
          }
          .ed-paragraph-2-0{
              @media(min-width: $screen-md-min) {
                  margin-bottom: 32px;
              }
              margin-bottom: 24px;
          }
      }
      .inner-content{
          .ed-subheadings-2-0{
              h1,h2,h3,h4,h5,h6{
                  margin: 0px;
              }
              h6{
                  font-weight: 500;
              }
              @media(min-width: $screen-md-min) {
                  margin-bottom: 8px;
              }
              margin-bottom: 3px;
          }
      }
  }
}
