//== Base
html,
body {
    margin: 0;
    padding:0;
    font-size:   $font-size;
    font-family: $font-family;
    line-height: $font-height;
}

p {
    color: #726a84;
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
    font-family:$font-family;
}

a{color: $color-link;}

h1{
    font-size:60px; color:$white-color;font-family: 'Cabin', sans-serif; font-weight:700;
    line-height:$font-height;
}
h2{
font-size:45px; color:$white-color;font-family: 'Cabin', sans-serif;font-weight: 400;
}
h4{
font-size:22px; color:$blue-color;font-family: 'Cabin', sans-serif;
}

