//== Base
html,
body {
  margin: 0;
  padding: 0;
  font-size: $font16;
  font-family: $font-family;
  line-height: $font-height;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.row > * {
  width: auto;
}
p {
  color: $font-color;
  font-size: $font16;
  font-weight: $font-weight3;
  margin-top: 0;
  font-family: $font-family;
}

a {
  color: $color-link;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
input::-webkit-input-placeholder,
input:-ms-input-placeholder,
input::-ms-input-placeholder,
input::placeholder {
  color: $off-white;
}

textarea::-ms-textarea-placeholder,
textarea::-webkit-textarea-placeholder,
textarea:-ms-textarea-placeholder,
textarea::placeholder {
  color: $off-white;
}
h1,
h3,
h5,
h6 {
  font-family: $font-family;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: $sixty-padding;
  color: $white;
  font-weight: 700;
}
h2 {
  font-family: $font-family;
  font-size: $font45;
  line-height: 1.2;
  margin-bottom: $sixty-padding;
  font-weight: normal !important;
}

h4 {
  font-family: $font-family;
  font-size: $twenty-two-padding;
  line-height: 1.2;
}
