//@function toRem($value) {
 // $remValue: ($value / 16) + rem;
//  @return $remValue;
//}
@mixin terms-page-heading-h3() {
  font-size: 2em;
  border-bottom: 2px solid $pink-color;
  margin: 25px 0 $padding-small 0;
  display: inline-block;
  font-weight: 400;
  color: $black;
  line-height: 1.2;
}
@mixin terms-page-heading-h1() {
  margin-top: -20px;
  font-size: $font50;
  margin-left: 0;
  margin-bottom: 30px;
}
@mixin terms-page-heading-h4() {
  font-size: 1.5em;
  margin: 25px 0 $padding-small 0;
  display: inline-block;
  font-weight: 400;
  color: $black;
  line-height: 1.2;
}
@mixin terms-page-para() {
  color: $font-color;
  font-size: $font16;
  font-weight: $font-weight3;
  margin-top: 0;
  margin-bottom: 1rem;
}
// p {
// @include px-to-rem(16);
// }
