//== Font
$font-family:          'Cabin', sans-serif;
$font-size:             16px;
$font-height:           1.2;

//== Color

// Normal mode
$color-link:            #452769;
$font-color:            #726a84;
$title-color:           #fb397d;
$white-color:            #fff;
$blue-color:            #5b32b4;

//$purple: #452769;
$grey-color:#f5f9fc;
$pink-color:#db4f74;
$black:#000;