<sly data-sly-use.container="com.adobe.cq.wcm.core.components.models.LayoutContainer">
<sly data-sly-test="${wcmmode.edit}" data-sly-use.allowed="com.day.cq.wcm.foundation.AllowedComponentList"></sly>
<div data-sly-test="${wcmmode.edit}" data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     id="${container.id}"
     class="cmp-container${wcmmode.edit ? ' {0}': '' @ format=[allowed.cssClass]}"
     aria-label="${container.accessibilityLabel}"
     role="${container.roleAttribute}"
     data-placeholder-text="${wcmmode.edit && 'Please add Accessories Card Tile items here' @ i18n}"
     style="${container.backgroundStyle @ context='styleString'}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
    <sly data-sly-test.isAllowedApplicable="${allowed.isApplicable}"
         data-sly-test="${isAllowedApplicable}"
         data-sly-use.allowedTemplate="allowedcomponents.html"
         data-sly-call="${allowedTemplate.allowedcomponents @ title=allowed.title, components=allowed.components}"></sly>
    <sly data-sly-test="${!isAllowedApplicable}"
         data-sly-repeat="${container.items}" data-sly-resource="${item.path @ decoration=true}"></sly>
    <sly data-sly-test="${!isAllowedApplicable && !wcmmode.disabled}"
         data-sly-resource="${resource.path @ resourceType='core/wcm/components/container/v1/container/new', appendPath='/*', decorationTagName='div', cssClassName='new section'}" />

</div>



<div data-sly-test="${wcmmode.preview || wcmmode.disabled}"
     id="${container.id}"
     class="cmp-container${wcmmode.edit ? ' {0}': '' @ format=[allowed.cssClass]}"
     aria-label="${container.accessibilityLabel}"
     role="${container.roleAttribute}"
     style="${container.backgroundStyle @ context='styleString'}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.3.5/js/swiper.min.js"></script>
<sly data-sly-test="${properties.accessoryCardType == 'accessoriesCard'}"
     data-sly-use.accessorycardTemplate="/apps/etisalat/components/accessoriescardcontainer/accessorycard.html"
     data-sly-call="${accessorycardTemplate.accessoriesCard @ container=container,properties=properties}">

</sly>

<sly data-sly-test="${properties.accessoryCardType == 'brandLogoCard'}"
     data-sly-use.brandlogocardTemplate="brandlogocard.html"
     data-sly-call="${brandlogocardTemplate.brandLogoCard @ container=container,properties=properties}">

</sly>

<sly data-sly-test="${properties.accessoryCardType == 'recommBigCard'}"
     data-sly-use.recommendedbigcardTemplate="recommendedbigcard.html"
     data-sly-call="${recommendedbigcardTemplate.recommBigCard @ container=container,properties=properties}">

</sly>

<sly data-sly-test="${properties.accessoryCardType == 'recommCard'}"
     data-sly-use.recommendedcardTemplate="recommendedbigcard.html"
     data-sly-call="${recommendedcardTemplate.recommCard @ container=container,properties=properties}">

</sly>

</div>
</sly>