<template data-sly-template.accessoriesCard="${ @ container,properties}">
<div class="accessories-wrapper with-slider has-bg">
    <div class="container">
        <div class="wst-main-headings">
            <h4 data-sly-element="${properties.titleType}">${properties.accessoriescardPreTitle}</h4>
        </div>

        <div class="row">
            <div class="card-list-wrapper">

                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!-- Slides Start-->
                        <div class="swiper-slide" data-sly-repeat="${container.items}" data-sly-resource="${item.name  @ decorationTagName='div'}"></div>
                        <!-- Slides End-->
                    </div>
                </div>


                <div class="prev">

                </div>
                <div class="next">

                </div>
            </div>

            <div class="scrollbar"></div>
        </div>

    </div>
</div>
</template>