.non-action-boxes-section {
  @include respond-to-max($desktop) {
    .media-cta-section {
      .cta-heading {
        font-size: $font26;
        text-align: left;
      }
    }
  }

  .paragraph-styling {
    p {
      margin: 0 0 toRem(8) 0;
    }

    @include rtlBlock {
      b,
      b span {
        font-weight: bold;
      }
    }

    &.ul-list-cms {
      ul {
        padding-left: 0;
        margin-left: toRem(16);
        margin-bottom: toRem(16);

        @include respond-to-max($desktop-min) {
          margin-left: 0;
        }

        @include rtlBlock {
          padding-right: 0;
          margin-left: 0;
          margin-right: toRem(16);

          @include respond-to-max($desktop-min) {
            margin-right: 0;
          }
        }
      }
    }
  }

  .media-cta-section .media-cta-wrapper .body-standard .row .col-xs-12 {
    height: auto;
  }

  .media-cta-wrapper.col-reverse {
    align-items: flex-start;
  }

  .media-cta-container {
    @include respond-to-max($tablet) {
      margin: 0;
    }
  }

  .heading-mini {
    padding: 0;
    margin: 0 !important;
    margin-bottom: toRem(6) !important;
    margin-top: toRem(12) !important;
    font-size: toRem(12) !important;
    letter-spacing: toRem(4);
    text-transform: uppercase;
    font-weight: 700;
  }

  .media-cta-container,
  .media-cta-section .media-cta-wrapper.col-reverse .media-cta-photo {
    border-radius: 0;
  }

  .media-cta-section {
    padding: toRem(32) 0;

    @include respond-to-max($desktop) {
      padding: toRem(40) 0;
    }

    .media-cta-container {
      box-shadow: none;
      background: transparent;
      width: auto;

      .detail-price-info {
        padding-left: 0;
      }

      .detail-price-new {
        span {
          @include font-family-Neotech;
        }

        .price-timing,
        .price-valute {
          @include font-family-lato;
          font-size: $font14;
        }

        .bottom-part {
          font-size: $font14;
          margin-top: toRem(8);
          line-height: toRem(17);
          @include font-family-lato;
        }

        .before-price-container {
          background-color: $main-green;
          letter-spacing: toRem(0.5);
          color: $white;
          margin-right: toRem(4);
          border-radius: toRem(20);
          padding: toRem(2) toRem(7);
          font-size: $font12;

          .before-price {
            text-decoration: line-through;
          }
        }

        &.green {
          .price,
          .price-valute {
            color: $main-green;
          }
        }
      }

      .collapse-tab-wrapper {
        margin-bottom: 0;

        .desktop-collapse {
          position: relative;
          display: flex;
          align-items: flex-start;

          .collapse-tab {
            flex-grow: 1;
            position: relative;
            cursor: pointer;
            border-radius: toRem(4);
            background-color: $white;
            box-shadow: 0 0 toRem(10) 0 rgba(0, 0, 0, 0.1);
            padding: toRem(20) toRem(14);
            font-size: $font16;
            @include font-family-Neotech-roboto;
            text-align: center;
            margin: 0 toRem(14);
            color: $main-green;
            border: toRem(2) solid $main-green;
            margin-bottom: toRem(16);
            font-weight: 500;
            transition: all 0.2s ease;
            text-shadow: toRem(0.5) 0 0 $main-green;
            width: 50%;

            .tab-more-text {
              @include font-family-lato;
              line-height: 1;
              font-size: $font14;
              color: $main-green;
              text-shadow: none;
            }

            &.collapsed {
              color: $almost-black;
              border: toRem(2) solid $white;
              text-shadow: none;

              .tab-more-text {
                color: $steel-grey;
                text-shadow: none;
              }
            }

            .tab-title {
              font-size: $font11;
              margin-bottom: toRem(2);

              strong {
                font-size: $font20;
                font-weight: 400;
                line-height: 1;
              }
            }

            &:first-child {
              margin-left: 0;
            }

            &:last-child {
              margin-right: 0;
            }
          }
        }

        .account-number-form {
          @include respond-to-max($tablet) {
            margin-bottom: toRem(32);
          }

          .collapse-content {
            border: 0;
            background: $white;
            box-shadow: none;
            margin: toRem(8) 0 0;

            .mobile-collapse {
              display: none;

              .collapse-tab {
                display: block;
                position: relative;
                cursor: pointer;
                border-radius: toRem(4);
                background-color: $white;
                box-shadow: 0 0 toRem(10) 0 rgba(0, 0, 0, 0.1);
                margin: 0;
                padding: toRem(16) toRem(14);
                font-size: toRem(16);
                @include font-family-Neotech-roboto;
                text-align: center;
                color: $main-green;
                border: toRem(2) solid $main-green;

                &.collapsed {
                  color: $gray-fill;
                  border: 0 solid $white;

                  .tab-more-text {
                    color: $steel-grey;
                    font-size: $font12;
                  }
                }

                strong {
                  font-size: larger;
                  font-weight: 500;
                }
              }
            }

            .panel-heading {
              .tab-title {
                font-size: $font11;
                margin-bottom: toRem(2);
                letter-spacing: 0;
                display: block;
                color: $almost-black;

                &.curruncy {
                  display: inline-block;
                }

                strong {
                  font-size: $font20;
                  font-weight: 400;
                  line-height: 1;
                }
              }

              .tab-more-text {
                @include font-family-lato;
                line-height: 1;
                font-size: $font14;
                color: $steel-grey;
                text-shadow: none;
                letter-spacing: 0;
              }
            }

            &.panel-open {
              .panel-heading {
                color: $main-green !important;
                border: toRem(1) solid $main-green !important;

                .tab-more-text {
                  color: $main-green;
                  font-size: $font12;
                }

                .tab-title {
                  color: $main-green;
                  text-shadow: none;
                }
              }
            }

            .panel-body {
              border: toRem(1) solid #e2e1da;
              border-radius: toRem(4);
              background-color: #f7f8f4;
              box-shadow: none;
              padding: toRem(20);

              .form-section {
                margin-bottom: 0;

                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
              }

              .cmp-form-text__text {
                &:focus {
                  background-color: $white;

                  &:not([readonly]) {
                    & ~ label {
                      color: $main-green;
                    }
                  }
                }
              }

              // label,
              p {
                color: $grey1;
                margin-bottom: toRem(4);
                width: 50%;
                font-size: $font14;
                line-height: toRem(20);
                text-align: left;

                @include respond-to-max($tablet) {
                  width: 100%;
                }

                @include rtlBlock {
                  text-align: right;
                }
              }

              .loading-message {
                p {
                  color: $grey1;
                  font-size: $font14;
                  margin-bottom: toRem(28);
                }
              }

              .loadeing-success {
                padding-top: toRem(18);
              }

              &.compact {
                border: 0;
                border-radius: 0;
                background-color: transparent;
                padding: 0;
              }
            }

            .panel-footer {
              &.compact {
                border: 0;
                border-radius: 0;
                background-color: transparent;
                padding: 0;
              }
            }
          }
        }

        &.compact-panel {
          background-color: transparent;
          box-shadow: none;

          .panel-body {
            background-color: transparent;
            box-shadow: none;
            border: 0;
            padding: 0;
          }
        }
      }

      .media-cta-wrapper {
        p {
          &.sub-heading {
            font-size: $font16 !important;
            line-height: toRem(16) !important;
            font-weight: bold !important;
            color: $almost-black !important;
          }
        }

        .form-group .valid ~ label,
        .form-group input:valid ~ label {
          color: $almost-black;
          transform: translateY(-10px) scale(0.8);
          transform-origin: 0 0;
          font-size: toRem(16);
          z-index: 2;

          @include rtlBlock {
            transform-origin: 100% 0 !important;
          }
        }

        .cmp-form-text {
          &__text {
            box-shadow: none !important;

            @include respond-to-max($phone) {
              margin-bottom: toRem(60);
            }
          }

          label {
            left: toRem(12);

            @include rtlBlock {
              left: 0;
              right: toRem(12);
            }
          }
        }

        .btn {
          margin-top: toRem(19.2);

          @include respond-to-max($phone) {
            margin-top: toRem(-6);
          }
        }
      }
    }

    .media-cta-wrapper {
      .ul-list-cms .p1 > ul > li:before,
      .ul-list-cms .p1 > ul > li > ul > li:before,
      .ul-list-cms .p2 > ul > li:before,
      .ul-list-cms .p2 > ul > li > ul > li:before,
      .ul-list-cms .p3 > ul > li:before,
      .ul-list-cms .p3 > ul > li > ul > li:before,
      .ul-list-cms .p4 > ul > li:before,
      .ul-list-cms .p4 > ul > li > ul > li:before,
      .ul-list-cms > ul > li:before,
      .ul-list-cms > ul > li > ul > li:before {
        background-color: $gray1 !important;
      }

      p,
      .paragraph-styling p,
      .ul-list-cms ul li,
      .ul-list-cms ol li {
        font-size: $font16;
        color: $gray1 !important;
        line-height: toRem(26);
      }

      h4 {
        font-size: $font22;
        @include font-family-Neotech;
        color: $almost-black;
        font-weight: normal;
        margin-bottom: toRem(16);
        margin-top: 0;

        @include respond-to-min($desktop) {
          font-size: $font28;
          line-height: toRem(38);
        }
      }

      .media-cta-photo {
        border-radius: 0;
        background-color: transparent;

        @include respond-to-max($desktop) {
          order: 2;
        }
      }

      .body-standard {
        padding: 0;
        padding-right: 4rem;
        overflow: hidden;
        padding-left: toRem(12);

        &.pr-0 {
          padding-right: 0 !important;

          @include rtlBlock {
            padding-right: toRem(12) !important;
            padding-left: 0 !important;
          }
        }

        @include respond-to-max($desktop) {
          order: 1;
          padding-right: 0;
          height: 100%;
          min-height: 100%;
          max-height: 100%;

          p {
            margin-bottom: toRem(16);
            font-size: $font14;
          }
        }
      }

      &.col-reverse {
        .body-standard {
          padding-left: 0;
        }
      }
    }

    .cta-heading {
      margin-bottom: toRem(32);
    }
  }

  .media-cta-wrapper {
    .media-cta-photo {
      max-height: toRem(132) !important;
      min-height: toRem(132) !important;
      height: toRem(132) !important;
      padding: 0 toRem(12) 0 0 !important;

      @include rtlBlock {
        padding: 0 0 0 toRem(12) !important;

        @include respond-to-max($desktop-min) {
          padding: 0 !important;
        }
      }

      @include respond-to-min($tablet) {
        max-height: toRem(250) !important;
        min-height: toRem(250) !important;
        height: toRem(250) !important;
      }

      @include respond-to-min($desktop) {
        max-height: toRem(270) !important;
        min-height: toRem(270) !important;
        height: toRem(270) !important;
      }

      @include respond-to-max($phone) {
        padding: 0 !important;
      }

      & > .cover {
        position: relative;
      }
    }
  }
}

// elife-monthly-wrapper
.elife-monthly-wrapper {
  &.non-action-boxes-section {
    .media-cta-wrapper .media-cta-photo {
      max-height: toRem(194) !important;
      min-height: toRem(194) !important;
      height: toRem(194) !important;

      @include respond-to-min($desktop) {
        max-height: toRem(446) !important;
        min-height: toRem(446) !important;
        height: toRem(446) !important;
      }
    }

    @include respond-to-max($desktop) {
      .media-cta-section {
        .media-cta-wrapper {
          .media-cta-photo {
            order: 1;
          }

          .body-standard {
            order: 2;
          }
        }

        .media-cta-wrapper h4 {
          font-size: $font26;
        }

        .media-cta-container .detail-price-info {
          margin-bottom: toRem(24) !important;
        }
      }
    }

    .media-cta-section .media-cta-container .detail-price-new .bottom-part {
      margin-top: 0;
    }

    .heading-mini {
      margin-top: 0 !important;
    }

    .detail-price-new .price {
      font-size: $font28;
      line-height: toRem(35);
    }

    .ul-list-cms .p1 ol > li,
    .ul-list-cms .p1 ul > li,
    .ul-list-cms .p2 ol > li,
    .ul-list-cms .p2 ul > li,
    .ul-list-cms .p3 ol > li,
    .ul-list-cms .p3 ul > li,
    .ul-list-cms .p4 ol > li,
    .ul-list-cms .p4 ul > li,
    .ul-list-cms ol > li,
    .ul-list-cms ul > li {
      margin-bottom: toRem(10);
    }
  }
}

@include respond-to-max($desktop) {
  .elife-monthly-wrapper.non-action-boxes-section .media-cta-section .media-cta-wrapper h4 {
    margin-bottom: toRem(20);
  }

  .elife-monthly-wrapper .heading-mini {
    letter-spacing: toRem(3);
    margin-bottom: 0 !important;
  }

  .elife-monthly-wrapper .price-with-promotion.green {
    margin-bottom: toRem(16);
  }

  .elife-monthly-wrapper .price-with-promotion.green .price-details .price {
    font-size: $font28;
  }

  .price-with-promotion.green .price-details small {
    font-size: 0.85rem;
  }

  .price-with-promotion.green .before-price-container {
    font-size: 0.85rem;
  }

  .elife-monthly-wrapper.non-action-boxes-section .media-cta-section-description {
    margin-top: toRem(16);
    margin-bottom: toRem(20);
  }

  .elife-monthly-wrapper.non-action-boxes-section .ul-list-cms ul > li {
    font-size: 0.88rem !important;
    line-height: toRem(20) !important;
  }

  .elife-monthly-wrapper.non-action-boxes-section .ul-list-cms ul {
    margin-left: 0;
  }

  .elife-monthly-wrapper .well {
    padding: toRem(20);
    overflow: hidden;
  }

  .elife-monthly-wrapper .well p {
    line-height: toRem(20) !important;
    margin-bottom: toRem(20) !important;
  }

  .elife-monthly-wrapper.non-action-boxes-section .media-cta-section .media-cta-wrapper .body-standard {
    padding-left: 0 !important;
  }
}

@media (max-width: 767px) {
  .elife-monthly-wrapper.non-action-boxes-section .form input[type="text"]:not(.browser-default) {
    font-size: toRem(16);
    line-height: toRem(24);
  }

  .elife-monthly-wrapper.non-action-boxes-section .form .input-field {
    margin-bottom: toRem(64);
  }

  .elife-monthly-wrapper.non-action-boxes-section .form button {
    position: absolute;
    bottom: toRem(-21);
    top: -5vh;
    width: 95vw;
  }
}

@include respond-to-max($phone) {
  .elife-monthly-wrapper.non-action-boxes-section .form button {
    width: 80.27vw;

    @include rtlBlock {
      width: 77.2vw;
    }
  }
}

// Accessibility
.acc-black,
.acc-blue {
  .non-action-boxes-section .media-cta-section .media-cta-container {
    .detail-price-new {
      .price,
      .price-valute,
      .ul-list-cms ul li {
        color: $white !important;
      }

      .before-price-container {
        background-color: $black;
        border: toRem(1) solid $white;
        color: $white;
      }
    }

    .collapse-tab-wrapper .account-number-form .collapse-content .panel-body {
      background-color: $black;
      border-color: $white;

      .cmp-form-text__text,
      label {
        color: $white;
        border-bottom-color: $white;
      }
    }
  }
}

.acc-blue {
  .non-action-boxes-section .media-cta-section .media-cta-container {
    .detail-price-new {
      .before-price-container {
        background-color: $blue4;
      }
    }

    .collapse-tab-wrapper .account-number-form .collapse-content .panel-body {
      background-color: $blue4;
    }
  }
}

.acc-yellow {
  .non-action-boxes-section .media-cta-section .media-cta-container {
    .detail-price-new.green {
      .price,
      .price-valute,
      .before-price-container,
      .ul-list-cms ul li {
        color: $yellow-light;
      }

      .before-price-container {
        background-color: $black;
        border: toRem(1) solid $yellow-light;
        color: $yellow-light;
      }
    }

    .collapse-tab-wrapper .account-number-form .collapse-content .panel-body {
      background-color: $black;
      border-color: $yellow-light;

      .cmp-form-text__text,
      label {
        color: $yellow-light;
        border-bottom-color: $yellow-light;
      }
    }
  }
}
