/* Download map button start */

.action-button {
  @media (min-width: $screen-lg-max) {
    .cmp-button {
      float: left;
      margin-left: calc(#{$margin-step-3} + 1px);
      min-width: 180px;
      padding: 0 0.5rem;
      width: auto;
    }
  }

  .cmp-button {
    border: 1px solid $darkest-night;
    border-radius: 4px;
    cursor: pointer;
    line-height: 3rem;
    margin-left: 20px;
    outline: 0;
    padding: 15px 0.5rem;
    text-align: center;
    width: 100%;
  }

  .cmp-button:hover {
    border: 1px solid $main-green;
  }

  a {
    color: $almost-black;
  }

  .cmp-button__text {
    color: $almost-black;
    font-size: $font14;
    font-weight: 700;
    letter-spacing: 0.14285714em;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
  }

  .cmp-button__text:hover {
    color: $main-green;
  }
}

.action-button .cmp-button:active {
  background-color: $main-green;
  border: 1px solid $main-green;
  color: $white;
}

@media (min-width: 365px) and (max-width: $screen-md-max) {
  .action-button {
    .aem-Grid.aem-Grid--default--12 > .aem-GridColumn.aem-GridColumn--default--12 {
      width: 100%;
    }

    a {
      display: inline-block;
    }

    .cmp-button {
      margin-left: 0;
      padding: 3px 0.5rem;
    }
  }
}

/* Download map button end */
