<sly data-sly-use.imageViewportModel="com.etisalat.core.models.ImageViewportModel"  
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
   <sly data-sly-test.customLink="${properties.cardLink}" data-sly-use.commonlinkmodel="${'com.etisalat.core.models.CommonLinkModel' @link=customLink}"/>
   <sly data-sly-set.viewports = "${imageViewportModel.sixViewportContent || imageViewportModel.fourViewportContent || imageViewportModel.threeViewportContent}" />
   <div class="promo-grid ${properties.wstPromoTilevariation}">
    <a data-sly-unwrap="${!properties.cardLink}" href="${commonlinkmodel.link}" target="${properties.linkBehavior == 'opennewwindow'?'_blank':'_self'}" class="link-cover">
      <div class="cover">
         <sly data-sly-test="${viewports}"
            data-sly-resource="${resource @ resourceType='etisalat/components/imageetisalatviewport'}"></sly>
         <div class="bg-filter"></div>
      </div>
    </a>
      <div class="grid-content">
         <a data-sly-test="${properties.cardLink}" href="${commonlinkmodel.link}" target="${properties.linkBehavior == 'opennewwindow'?'_blank':'_self'}" class="btn-text learn-more hidden-xs">
         <span>${properties.promoCTATitle}</span>
         </a>
         <h1 data-sly-element="${properties.titleType}">${properties.wstpromotitle}</h1>
      </div>
   </div>

</sly>
<sly data-sly-test=${wcmmode.edit} data-sly-call="${templates.placeholder @ isEmpty = !properties.wstPromoTilevariation}"></sly>