
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
 .fa-android:before {
    content: "\f17b";
}
 .fa-apple:before {
    content: "\f179";
}
 .app-download-btn a i {
    color: #47425D;
    font-size: 24px;
    margin-right: 15px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
.app-download-btn a:hover {
     border-color: transparent;
    background-color: #FB397D;
color:#ffffff;
}
.app-download-btn a p span:hover{
    color:#fff;}

 

.app-download-btn a p span {
    font-size: 12px;
    display: block;
}

 

.app-download-btn a p {
    font-size: 16px;
    line-height: 1;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

 

.app-download-btn:first-child {
    margin-bottom: 20px;
}
.app-download-btn a{
    border: 1px solid #ddd;
    background-color: #FFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 30px;
    border-radius: 6px;
    -webkit-box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width:12%;

 

}





