<template data-sly-template.heroCTA="${ @ carousel,properties}">
	<div data-component="cmp-hero-images" id="${carousel.id}" 
	     class="${properties.heroImagesVariation} ${!wcmmode.edit ? 'hero-image-section hero-images-variation' : ''} hero-image-add hero-image medium has-action dynamic-content" data-autoplay="">
	  <div class="${!wcmmode.edit ? 'swiper-wrapper' : ''}">	    
	      <div role="tabpanel" data-sly-repeat.item="${carousel.items}" 
	           data-sly-resource="${item.name @ decorationTagName=''}" 
	           id="${item.id}-tabpanel" 
	           data-title="Reliable"
	           aria-labelledby="${item.id}-tab" 
	           aria-roledescription="slide" 
	           aria-label="${'Slide {0} of {1}' @ format=[itemList.count, carousel.items.size], i18n}" 
	           class="${!wcmmode.edit ? 'swiper-slide' : ''} ${properties.heroImageBGTheme == 'bg-dark' ? 'bg-dark' : ''}"></div>	     	   
	  </div>
	</div>
</template>