.cross-promo-background {
    .cross-promo-bg-tile {
        margin-bottom: 30px;
        position: relative;
        div.cover {
            position: relative;
            top: 0;
        left: 0;
        z-index: 1;
        height: 250px;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 0 5px 10px 0 rgba(0,0,0,.1);
      @media (max-width: 768px) {
        height: 148px;
      }
        }
        .cta-content-wrap {
            background: linear-gradient(0deg, #000000 0%, rgba(0,0,0,0) 100%);
            position: absolute;
            top: 0;
            max-width: 100%;
            height: 100%;
            width: 100%;
            z-index: 2;
            border-radius: 5px;
            padding: 24px;
            @media (max-width: 768px) {
              padding: 19px;
            }
            .cont {
                position: absolute;
                bottom: 24px;
                @media (max-width: 768px) {
                  bottom: 18px;
                }
            h4 {
                color: $white;
                line-height: 26px;
              font-size: 26px;
              margin: 0;
              margin-bottom: 1rem;
              @media (min-width: 992px) {
                  letter-spacing: 1.6px;
                }
              @media (max-width: 991px) {
                font-size: 20px;
              }
            }
            .btn-text{
                color: #FFFFFF;
                letter-spacing: 2px;
                line-height: 20px;
          @media (max-width: 991px) {
            letter-spacing: 0;
            text-transform: capitalize;
          }
                &:before {
                    border-color: #fff;
                    padding: 4px;
            @media (max-width: 768px) {
              padding: 3px;
              margin-top: 1px;
              border-width: 0 2px 2px 0;
            }
                }
                &.btn-green {
                  color: $main-green;

                  &:before {
                    border-width: 0 1px 1px 0;
                    border-color: $main-green;
                  }
                }
            }
            }
        }
    }
  &.large-tile {
    .cross-promo-bg-tile {
      .cta-content-wrap {
        .cont {
            h4 {
            @media (min-width: 1248px) {
              font-size: 36px;
              letter-spacing: 3px;
              margin-bottom: 25px;
            }
          }
        }
      }
    }
  }
}

.gradient-purple {
  background: linear-gradient(-92.14deg,#222 41%,#491873 110%) !important;
}
.gradient-green {
  background: linear-gradient(225deg, #353738 0%, #719E19 100%) !important;
}
.gradient-orange {
  background: linear-gradient(225deg, #353738 0%, #9E5419 100%) !important;
}
.gradient-aqua {
  background: linear-gradient(225deg, #3D3D3D 0%, #199E94 100%) !important;
}
 
.cross-promo-plain {
  border-radius: 8px;
  position: relative;
  z-index: 1;
  // background: linear-gradient(-92.14deg,#222 41%,#491873 110%);
  color: #fff;
  padding-left: 12px;
  padding-right: 12px;
  @media (max-width: 991px) {
    overflow-x: hidden;
    // background: linear-gradient(-177.14deg,#222 41%,#491873 110%);
    padding-left: 4px;
    padding-right: 4px;
    >.container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  @include respond-to-min ($tablet) {
    .container {
      padding-left: 0px !important;
      padding-right: 0px !important;
      margin-right: 0px !important;
    }
  }

  @include respond-to-min ($desktop-wide) {
    .container {
      padding-left: toRem(12) !important;
      padding-right: toRem(12) !important;
      margin-right: auto !important;
    }
  }

  @include respond-to-min ($desktop-wide) {
    .container {
      padding-left: toRem(12) !important;
      padding-right: toRem(12) !important;
      margin-right: auto !important;
    }
  }

  .container {
    max-width: 1224px;
  }

  &.cp-image-text {
    .content-section {
      padding: 0 !important;
      align-items: flex-end !important;
    }
    .lef-col {
      padding: 5rem 12px;
      @media (min-width: 768px) {
        min-height: 438px;
      }
      @media (max-width: 768px) {
        padding: 2rem 12px;
      }
      .ul-list-cms ul li:after {
        background-color: #fff;
      }
    }
    .right-col {
      display: flex;
      align-items: center;
      justify-content: center;
      @include respond-to-min ($tablet) {
        padding-right: 8px !important;
      }
      div.cover {
        height: 100%;
        overflow: hidden;
        width: 100%;
        position: static;
      }
      img {
        // height: auto;
        @media (min-width: 768px) {
          position: absolute;
          bottom: 0;
          right: 0;
        }
      }
      picture {
        img.cover {
          margin: auto;
          min-height: 100%;
          min-width: 100%;
          position:static;
        }
      }
    }
  }
  &.full-bleed-wrapper {
    padding: 0;
    max-height: 440px;
    height: 440px;
    overflow: hidden;
    &:after {
      z-index: 99;
      @media (max-width: 768px) {
        width: 120px;
      }
    }
    @media (max-width: 768px) {
      max-height: 450px;
      height: 450px;
    }
    .content-section {
      position: absolute !important;
      z-index: 999;
      @media (max-width: 768px) {
        margin-top: 152px;
      }
    }
  }
  &:after,
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background: url("/b2c/eshopApp/assets/img/bg-cards/plan-cards-illustration.svg") 100% 0 no-repeat; // broken-link updated /b2c/eshopApp/assets/
    background-size: contain;
    opacity: .7;
  }
  &:after {
    content: "";
    right: auto;
    left: 0;
    transform: rotate(180deg);
  }
  .paragraph-styling {
    ul li, ol li, p {
      font-size: 1rem;
      line-height: 26px;
      color: $white;
    }
    ul li, ol li {
      line-height: 22px;
      &:before {
        background: $white;
      }
    }
    p {
      margin-bottom: 0;
    }
    p + ul, p + ol, p + p {
      margin-top: 1.5rem;
    }
  }
  .content-section {
    padding: 3rem 50px 3rem 38px;
    float: left;
    width: 100%;
    color: #fff;
    img {
      max-width: 100%;
      height: auto;
    }
    .lef-col {
      &>span {
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 4px;
        line-height: 12px;
        width: 100%;
        display: inline-block;
        margin-bottom: 15px;
      }
      .ul-list-cms ul li:after {
        background-color: #fff;
      }
    }
    h3 {
      margin-top: 0px;
      line-height: 38px;
    }
    
    a {
      // color: #353738;
      &.btn-text {
        color: #FFFFFF;
        margin-top: 20px;
        display: table;
        margin-bottom: 5px;
        letter-spacing: 3px;
        @media (max-width: 768px) {
          letter-spacing: 0px;
          text-transform: unset;
        }
        .more {
          display: block !important;
        }
        &:before {
          border-color: #fff;
          right: -20px;
          padding: 4px;
          @media (max-width: 768px) {
            right: -15px;
            padding: 3px;
            margin-top: 1px;
            border-width: 0 2px 2px 0;
          }
        }
      }
    }
    a {
      &.btn-green {
        color: $main-green;
        &:before {
          border-width: 0 1px 1px 0;
          border-color: $main-green;
        }
      }
    }
  }
  &.promo-big {
    border-radius: 0;
    .content-section {
      padding: 5rem 0rem;
      display: flex;
      align-items: center;
      @media (max-width: 767px) {
        padding: 16px 4px;
        display: flex;
        flex-direction: column;
        .lef-col {
          order: 1;
          padding-left: 0 !important;
          padding-right: 0 !important;
          .ul-list-cms ul li:after {
            background-color: #fff;
          }
        }
        .right-col {
          order: 2;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }
      }
      h3 {
        font-size: 32px;
        margin-bottom: 35px;
        color: #fff;
        @media (max-width: 768px) {
          font-size: 26px;
          line-height: 38px;
          margin-bottom: 15px;
        }
      }
      a {
        &.btn-text{
          @media (max-width: 768px) {
            font-size: 16px;
            font-weight: bold;
            line-height: 19px;
            float: right;
            margin-right: 17px;
          }
        }
      }
      .lbl {
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 4px;
        line-height: 12px;
        display: inline-block;
        margin-bottom: 10px;
        text-transform: uppercase;
        @media (max-width: 768px) {
          color: #909090;
          font-size: 10px;
          letter-spacing: 3.33px;
          margin-bottom: 0;
        }
      }
    }
    &:before {
      display: none;
    }
    &:after {
      background: url(../img/bg-cards/promo_pattern_top.svg) left 0 no-repeat;
      transform: none;
      background-size: contain;
    }
  }
  &.promo-small {
    float: left;
    width: 100%;
    background: none;
    border-radius: none;
    &:after,
    &:before {
      display:none;
    }
    .content-section {
      float: left;
      width: 100%;
      display: flex;
      align-items: center;
      border-radius: 8px;
      position: relative;
      h3 {
        font-size: 24px;
        margin-bottom: 16px;
        margin-top: 0;
        @media (max-width: 768px) {
          font-size: 22px;
          margin-top: 0;
          margin-bottom: 1rem;
          line-height: 28px;
        }
      }
      .lef-col {
        .ul-list-cms ul li:after {
          background-color: #fff;
        }
      }
      .lef-col,
      .right-col{
        z-index: 999;
      }
      .right-col {
        a {
          background: transparent;
          border: 1px solid #fff;
          letter-spacing: 3px;
          width: 282px;
          float: right;
          margin-right: 40px;
          @media (max-width: 768px) {
            width:100%;
            margin-top: 24px;
            margin-right:0;
            margin-left:0;
            letter-spacing: 2.4px;
          }
        }
      }
      @media (max-width: 768px) {
        display: block;
        padding: 17px;
        .right-col,
        .lef-col {
          padding: 0px;
        }
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background: url('../img/bg-cards/promo_pattern_top.svg') left 0 no-repeat;
        background-size: contain;
        opacity: .7;
      }
      &:after {
        content: "";
        right: auto;
        left: 0;
        transform: rotate(180deg);
        @media (max-width: 768px) {
          display: none;
        }
      }
    }
  }
  &.promo-small-02 {
    width: 100%;
    background: none;
    border-radius: 0;
    @media (max-width: 768px) {
      min-height: 148px;
    }
    &:before,
    &:after {
      display: none;
    }
    .content-section {
      padding: 3rem 2rem;
      background: linear-gradient(-31.66deg, #070707 -42%, #199E94 75%);
      border-radius: 8px;
      position: relative;
      display: flex;
      align-items: center;
      @media (max-width: 768px) {
        padding: 3rem 1rem;
        margin-bottom: 20px;
      }
      .lef-col {
        z-index: 999;
        .ul-list-cms ul li:after {
          background-color: #fff;
        }
      }
      h4 {
        margin-bottom: 10px;
        margin-top: 0;
        line-height: 20px;
        font-size: 20px;
        @media (min-width: 1248px) {
          font-size: 24px;
        }
      }
      a {
        &.btn-text{
          margin: 0;
        }
      }
      &:before,
      &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background: url('/b2c/eshopApp/assets/img/bg-cards/plan-cards-illustration.svg') right 0 no-repeat; //broken-link updated /b2c/eshopApp/assets/
        background-size: contain;
        opacity: .7;
      }
       &:after {
        transform: none;
      }
    }
  }
}
.btn.btn-transparent {
  background: transparent !important;
  border: 1px solid #fff !important;
  color: #fff !important;
  &:hover {
    background: transparent !important;
    border: 1px solid #fff !important;
    color: #fff !important;
  }
}
.btn.btn-default  {
  color: #353738;
  background-color: #fff;
  &:hover {
    background-color: $white;
    border-color: $main-green;
    box-shadow: none !important;
    color: $main-green;
  }
}
.no-padding-row {
  .row {
    &>div {
      &:first-child {
        padding-left:0px;
      }
      &:last-child {
        padding-right:0px;
      }
      @media (max-width: 768px) {
        &:first-child {
          padding-left:12px;
          padding-right:12px;
        }
        &:last-child {
          padding-left:12px;
          padding-right:12px;
        }
      }
    }
  }
}
.small-pedding {
  @media (max-width: 768px) {
    padding:0px 12px;
  }
}
.modal-popup-wrapper {
  .nv-modal.right-modal {
    .nv-modal-close {
      svg {
        top: 0;
      }
    }
  }

  .nv-modal.bottom-modal {
    @include respond-to-max(991px) {
      .nv-modal-close svg {
        top: 15px !important;
      }
    }
  }
}

// arabic language
*[lang="ar"] {
  *[dir="rtl"] {
    .no-padding-row {
      .row {
        &>div {
          &:first-child {
            padding-right:0px;
            padding-left: 12px;
          }
          &:last-child {
            padding-left:0px;
            padding-right: 12px;
          }
        }
      }
    }
    .cross-promo-plain {
      // background: linear-gradient(92.14deg,#222 41%,#491873 110%);
      .content-section {
        a {
          &.btn-text {
            &:before {
              border-color: #fff;
              right: auto;
              left: -30px;
            }
          }
        }
      }
      &.promo-big {
        &:after {
          background: url('/b2c/eshopApp/assets/img/bg-cards/plan-cards-illustration.svg') right 0 no-repeat; //broken-link updated /b2c/eshopApp/assets/
          background-size: contain;
        }
      }
      &.promo-small {
        background:none;
        .content-section {
          background: linear-gradient(92.14deg,#222 41%,#491873 110%);
          .right-col {
            a {
              float: left;
              margin-left: 40px;
              margin-right: 0;
              @media (max-width: 991px) {
                margin-left: 0;
              }
            }
          }
          &:before,
          &:after {
            //updated broken links for prod
            background: url('/b2c/eshopApp/assets/img/bg-cards/plan-cards-illustration.svg') right 0 no-repeat;
            background-size: contain;
          }
        }
      }
      &.promo-small-02 {
        background: none;
        .content-section {
          background: linear-gradient(31.66deg, #070707 -42%, #199E94 75%);
          &:after {
            display: none;
          }
          &:before {
            //updated broken links for prod
            background: url('/b2c/eshopApp/assets/img/bg-cards/plan-cards-illustration_flip.svg') left 0 no-repeat;
            background-size: contain;
          }
        }
      }
    }
  }
}
