/* stylelint-disable*/
.facts-and-firgures-2-0 {
  position: relative;
  padding: 48px 0;
  z-index: 0;
  @media (min-width: $screen-md-min) {
    padding: 64px 0;
  }

  .container {
    @media (max-width: $screen-md-min) {
      padding-left: 16px;
      padding-right: 16px;

      .row [class*='col-'] {
        padding-left: 16px;
        padding-right: 16px;
      }

      .row {
        margin-left: -16px;
        margin-right: -16px;
      }
    }
  }

  &.bg-maroon {
    .facts-figure-wrapper {
      .facts-content {
        .facts-counter-text {
          .fact-number {
            color: $white;
          }
        }
      }
    }
  }

  &.bg-maroon-light {
    background-color: $incMahroon10;
  }

  .ed-headings-2-0 {
    text-align: center;
    margin-bottom: 24px;

    @media (min-width: $screen-md-min) {
      margin-bottom: 46px;
      text-align: start;
    }
  }

  .facts-figure-wrapper {
    .ed-paragraph-2-0 {
      text-align: center;
      margin-bottom: 24px;
      @media (min-width: $screen-md-min) {
        margin-bottom: 0;
        text-align: left;
      }
    }
    .facts-content {
      margin-bottom: 32px;

      @media (min-width: $screen-md-min) {
        margin-bottom: 0;
      }

      .icons {
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        height: 48px;
        width: 100%;
        overflow: hidden;

        @media (min-width: $screen-md-min) {
          width: 48px;
        }

        svg,
        img {
          display: block;
          margin: 0 auto;
          height: 48px;
          width: 48px;

          @media (min-width: $screen-md-min) {
            display: inline;
          }
        }
      }

      .facts-counter-text {
        .ed-paragraph-2-0 {
          margin-bottom: 0;
        }

        @media (min-width: $screen-md-min) {
          text-align: left;
        }
        text-align: center;
        .fact-number {
          color: $incMaroon;
          font-family: $font-SuisseIntl-Regular;
          font-size: 64px;
          font-weight: 300;
          letter-spacing: 0;
          line-height: 120px;
          word-break: break-all;

          @media (min-width: $screen-md-min) {
            // line-height: 120px;
            font-size: 48px;
          }
          @media (min-width: $screen-lg-min) {
            // line-height: 120px;
            font-size: 64px;
          }
        }
      }
    }

    .row [class*='col-'] {
      &:last-child {
        .facts-content {
          @media (max-width: $screen-sm-max) {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
}

// arabic language
*[lang='ar'] {
  *[dir='rtl'] {
    @media (min-width: $screen-md-min) {
      .facts-and-firgures-2-0 {
        .facts-figure-wrapper {
          .ed-paragraph-2-0 {
            text-align: right;
          }

          .facts-content {
            .facts-counter-text {
              text-align: right;
            }
          }
        }
      }
    }
  }
}
