* {
  margin: 0;
  padding: 0;
}

/*FONT and COLOR*/
html {
  scroll-behavior: smooth;
}

h1 {
  padding-top: 2rem;
  font-family: $fontfamily-book;
  font-size: toRem(40);
  color: $light-black;
  line-height: 1.33333;
  font-weight: bold;
}

h2 {
  margin-bottom: 14px;
  font-family: $fontfamily-bold;
  font-size: toRem(20);
  color: $lime-green;
  line-height: 25px;
}

p {
  color: $oslo-gray;
  font-family: $fontfamily-book;
  font-size: toRem(16);
  line-height: 22px;
  margin: 10px 0;
  &.lead {
    font-size: toRem(20);
  }
  &.secondary-lead {
    font-size: toRem(18);
    margin-bottom: 35px;
  }
}

th {
  font-family: $fontfamily-bold;
}

td {
  font-family: $fontfamily-book;
}

a {
  color: $light-purple;
  font-family: $fontfamily-book;
  text-decoration: none;
  &:hover {
    color: $greyish-white;
    text-decoration: none;
    outline: 0;
  }
  &:active, &:focus {
    outline: 0;
  }
}


h3 {
  color: $color-black;
  font: bold 1em/1.5 sans-serif;
  margin: 10px 0;
}

body,
html {
  overflow-x: hidden;
}

body {
  background: none;
  padding-top: 170px;
  @include respond-to-max($desktop) {
    padding-top: 100px;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100% !important;
  background: $white-color;
}

th,
td {
  padding: 12px !important;
}
ul li {
  list-style: none;
}
//main css en
th {
  vertical-align: middle;
  background-color: $bg-white;
}
.table-head center {
  padding: 12px;
}

.container {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}
