.media-cta-support-wrapper {
  .cmp-teaser {
    position: relative;
    flex-wrap: wrap;
    display: flex;

    .img-static {
      background-color: $white;
      min-height: toRem(464);
      height: toRem(464);
      overflow: hidden;

      @include respond-to-min($desktop) {
        width: 50%;
      }

      @include respond-to-max($desktop-min) {
        width: 100%;
      }

      @include respond-to-max($desktop-min) {
        height: 64vw;
        width: 100%;
      }

      @include respond-to-max($phone) {
        min-height: toRem(324);
      }

      > .cover {
        display: block;
        top: 0;
        left: 0;
        overflow: hidden;

        img.cover {
          max-height: inherit !important;
          max-width: inherit !important;
          padding: 0 !important;
        }
      }

      img {
        position: absolute !important;
      }
    }

    .cmp-teaser__content {
      overflow: hidden;
      max-height: none;
      width: 100%;
      padding-bottom: toRem(40);
      padding-top: toRem(32);
      padding-left: 8.33333333%;
      padding-right: 8.33333333%;

      @include respond-to-min($desktop) {
        width: 50%;
      }

      @include respond-to-max($desktop-min) {
        width: 100%;
      }

      p {
        color: $warm-gray;
        margin-bottom: 0;
        font-size: $font14;
        line-height: 1.6;

        @media (min-width: 1440px) {
          font-size: $font16;
          margin-bottom: 0.6rem;
        }

        & + p {
          margin-top: 1.2rem;

          @media (min-width: 1440px) {
            font-size: $font16;
            margin-bottom: 0.6rem;
          }

          @include respond-to-min($desktop) {
            margin-top: 0;
            padding-bottom: 1.4rem;
          }
        }

        @include respond-to-min($tablet) {
          font-size: $font14;
        }
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $text-color;
    padding-top: 0;
    padding-bottom: 0;
    letter-spacing: 0.1em;
  }
}

.media-cta-support-wrapper {
  .cmp-teaser__action-container {
    text-align: center;
    position: static;
    margin: auto;

    @include respond-to-min-max($desktop-min, $tablet) {
      max-width: 50%;
      min-width: 50%;
      width: 50%;
    }
  }

  &.button--secondary,
  &.button--primary,
  &.button--green {
    .cmp-teaser__action-link {
      margin-top: 1.2rem;
      margin-left: auto;
      margin-right: auto;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      color: $custom-gray;
      background-color: fade($white, 20%);
      border: toRem(1) solid $black;
      padding: 0 1.966rem;
      justify-content: center;
      height: toRem(48);
      font-size: $font12;
      line-height: toRem(44);
      letter-spacing: 0.14285714em;

      &.focus,
      &:focus {
        outline: 0;
        color: $custom-gray;
        background-color: fade($white, 20%);
        border-color: $black;
      }

      &.active,
      &:active,
      &:hover {
        box-shadow: none !important;
        color: $sand-white;
        background-color: $main-green;
        border-color: $main-green;
      }
    }
  }

  &.button--primary {
    .cmp-teaser__action-link {
      color: $bland;
      background-color: fade($black, 20%);
      border-color: $bland;

      &.active,
      &:active,
      &:hover {
        color: $sand-white;
        background-color: $bland;
        border-color: $bland;
      }
    }
  }

  &.button--green {
    .cmp-teaser__action-link {
      color: $sand-white;
      background-color: $dark-green;
      border-color: $dark-green;

      &.focus,
      &:focus {
        outline: 0;
        color: $custom-gray;
        background-color: fade($white, 20%);
        border-color: $black;
      }

      &.active,
      &:active,
      &:hover {
        box-shadow: none !important;
        color: $sand-white;
        background-color: $dark-green;
        border-color: $dark-green;
      }
    }
  }
}
