.media-cta-support-wrapper {
  .cmp-teaser {
    position: relative;
    flex-wrap: wrap;
    display: flex;

    .img-static {
      background-color: $white;
      min-height: toRem(464);
      height: toRem(464);
      overflow: hidden;

      @include respond-to-min($desktop) {
        width: 50%;
      }

      @include respond-to-max($desktop-min) {
        width: 100%;
      }

      @include respond-to-max($desktop-min) {
        height: 64vw;
        width: 100%;
      }

      @include respond-to-max($phone) {
        min-height: toRem(324);
      }

      > .cover {
        display: block;
        top: 0;
        left: 0;
        overflow: hidden;

        img.cover {
          max-height: inherit !important;
          max-width: inherit !important;
          padding: 0 !important;
        }
      }

      img {
        position: absolute !important;
      }
    }

    .cmp-teaser__content {
      overflow: hidden;
      max-height: none;
      width: 100%;
      padding-bottom: toRem(40);
      padding-top: toRem(32);
      padding-left: 8.33333333%;
      padding-right: 8.33333333%;

      @include respond-to-min($desktop) {
        width: 50%;
      }

      @include respond-to-max($desktop-min) {
        width: 100%;
      }

      p {
        color: $warm-gray;
        margin-bottom: 0;
        font-size: $font14;
        line-height: 1.6;

        @media (min-width: 1440px) {
          font-size: $font16;
          margin-bottom: 0.6rem;
        }

        & + p {
          margin-top: 1.2rem;

          @media (min-width: 1440px) {
            font-size: $font16;
            margin-bottom: 0.6rem;
          }

          @include respond-to-min($desktop) {
            margin-top: 0;
            padding-bottom: 1.4rem;
          }
        }

        @include respond-to-min($tablet) {
          font-size: $font14;
        }
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.teaser-support-wrapper {
  &.image-left,
  &.image-right {
    .cmp-teaser {
      &__image {
        height: auto;
        position: relative;

        @include respond-to-min($tablet) {
          max-width: 50%;
          width: 50%;
        }

        @include respond-to-min($desktop-large) {
          min-height: toRem(372);
        }

        @include respond-to-min($desktop-wide) {
          min-height: toRem(334);
        }

        @include respond-to-min($desktop) {
          max-height: toRem(254);
        }

        @include respond-to-max($custom-width-tab) {
          height: 67vw;
          max-width: 100%;
          margin: 0 toRem(16);
          width: calc(100% - toRem(32));
        }

        @include respond-to-min-max($desktop-min, $tablet) {
          height: toRem(288);
          float: left;
        }

        div.cmp-image {
          position: absolute;
          overflow: hidden;
          width: 100%;
          height: 100%;
        }

        img {
          position: absolute;
          left: -9999px;
          right: -9999px;
          top: -9999px;
          bottom: -9999px;
          margin: auto;
          min-width: 100%;
          min-height: 100%;
          width: auto;
          padding: 0;
        }
      }

      &__content {
        @include respond-to-min($tablet) {
          padding-top: toRem(25);
          max-width: 50%;
          width: 50%;
        }

        @include respond-to-min-max($desktop-min, $tablet) {
          float: left;
        }

        @include respond-to-max($custom-width-tab) {
          max-width: 100%;
          padding: toRem(16) toRem(16) toRem(32);
          width: 100%;
        }

        .cmp-teaser {
          &__title,
          &__description,
          &__action-container {
            margin-left: auto;
            margin-right: auto;

            @include respond-to-min($desktop) {
              width: 68.585%;
            }

            @include respond-to-min($tablet) {
              width: 69.45%;
            }

            @include respond-to-max($custom-width-tab) {
              width: 100%;
            }
          }

          &__title {
            text-align: center;

            h1,
            h2,
            h3,
            h4,
            h4,
            h6 {
              text-transform: uppercase;
            }
          }

          &__description {
            p {
              color: $steel-grey;
              font-size: $font14;
              line-height: 1.6;
              margin: 0 0 toRem(18) 0;

              @media (min-width: 1440px) {
                font-size: $font16;
              }
            }
          }
        }
      }
    }
  }
}

.cmp-tabs-support-wrapper {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
  }

  .cmp_tabs-swipper {
    border-bottom: toRem(2) solid $main-green;
    height: toRem(120);
    min-height: toRem(120);

    .container-center {
      width: 100% !important;
    }

    .col-xs-12 {
      padding-left: 0 !important;
      padding-right: 0 !important;

      .page-nav {
        min-height: toRem(120);
        height: toRem(120);
        white-space: normal;

        .swiper-slide {
          text-transform: uppercase;
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: left;
          height: toRem(120);
          line-height: 1.3 !important;
          margin-right: 0;
          padding: 0;
          padding-left: 4.4%;

          @include font-family-Neotech-roboto;

          @include respond-to-min($tablet) {
            width: 33.33%;
          }

          @include respond-to-min($desktop) {
            white-space: normal;
            font-size: toRem(24);
            line-height: toRem(24);

            &:hover {
              background-color: $main-green;
              color: $white;
            }
          }

          @include respond-to-max($desktop) {
            font-size: toRem(20);
          }

          &.cmp-tabs__tab--active {
            background-color: $main-green;
            color: $white;
          }
        }
      }
    }
  }
}

.media-cta-support-wrapper {
  .cmp-teaser__action-container {
    text-align: center;
    position: static;
    margin: auto;

    @include respond-to-min-max($desktop-min, $tablet) {
      max-width: 50%;
      min-width: 50%;
      width: 50%;
    }
  }
}

.teaser-support-wrapper,
.media-cta-support-wrapper {
  &.button--secondary,
  &.button--primary,
  &.button--green {
    .cmp-teaser__action-link {
      margin-top: 1.2rem;
      margin-left: auto;
      margin-right: auto;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      color: $custom-gray;
      background-color: fade($white, 20%);
      border: toRem(2) solid $texts-gray;
      padding: 0 toRem(32);
      justify-content: center;
      height: toRem(48);
      font-size: $font12;
      line-height: toRem(44);
      letter-spacing: 0.14285714em;

      @include respond-to-min(1400px) {
        border: toRem(1) solid $texts-gray;
        font-size: $font14;
        height: toRem(68);
        line-height: toRem(64);
        letter-spacing: 0.14285714em;
        padding: 0 toRem(45);
      }

      &.focus,
      &:focus {
        outline: 0;
        color: $custom-gray;
        background-color: fade($white, 20%);
        border-color: $black;
      }

      &.active,
      &:active,
      &:hover {
        box-shadow: none !important;
        color: $sand-white;
        background-color: $main-green;
        border-color: $main-green;
      }
    }
  }

  &.button--primary {
    .cmp-teaser__action-link {
      color: $bland;
      background-color: fade($black, 20%);
      border-color: $bland;

      &.active,
      &:active,
      &:hover {
        color: $sand-white;
        background-color: $bland;
        border-color: $bland;
      }
    }
  }

  &.button--green {
    .cmp-teaser__action-link {
      color: $sand-white;
      background-color: $dark-green;
      border-color: $dark-green;

      &.focus,
      &:focus {
        outline: 0;
        color: $custom-gray;
        background-color: fade($white, 20%);
        border-color: $black;
      }

      &.active,
      &:active,
      &:hover {
        box-shadow: none !important;
        color: $sand-white;
        background-color: $dark-green;
        border-color: $dark-green;
      }
    }
  }
}

.teaser-support-wrapper {
  .cmp-teaser__action-container {
    position: relative;
    max-width: 100%;
  }

  &.button--secondary,
  &.button--primary,
  &.button--green {
    .cmp-teaser__action-link {
      margin-top: 1rem;
    }
  }
}
