<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
	 data-sly-use.stepModel="com.etisalat.core.models.StepModel">

	   <sly data-sly-test="${properties.stepsLayout == 'horizontal'}"
	        data-sly-use.horizontalLayoutTemplate="horizontalLayout.html"
	        data-sly-call="${horizontalLayoutTemplate.horizonalview @ properties=properties,stepModel=stepModel}">
	   </sly>    
	   <sly data-sly-test="${properties.stepsLayout == 'vertical'}"
	        data-sly-use.verticalLayoutTemplate="verticalLayout.html"
	        data-sly-call="${verticalLayoutTemplate.verticalview @ properties=properties,stepModel=stepModel}">
	   </sly>

</sly>

<sly data-sly-call="${templates.placeholder @ isEmpty = !properties.stepsLayout}"></sly>