<sly data-sly-use.textModel="com.adobe.cq.wcm.core.components.models.Text"
     data-sly-test.text="${textModel.text}">
    <div data-sly-test="${properties.enableSearch == 'true'}" id="channels_filter" class="table-inline--search input-field search-field cms-search"><input type="search" required="" class="advanced-table-search" placeholder="" aria-controls="channels"><label>${!properties.searchPlaceholderText ? 'Search by channel name' : properties.searchPlaceholderText}</label></div>
    <p class="cmp-text__paragraph"
       data-sly-unwrap="${textModel.isRichText}">${text @ context = textModel.isRichText ? 'html' : 'text'}</p>
</sly>