<div class="sort-label mobile-view" data-label="sortByFilter" role="button" id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
   <span class="icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
         <g fill="none" fill-rule="evenodd">
            <g>
               <g>
                  <g>
                     <g>
                        <path d="M0 0H20V20H0z" transform="translate(-1119 -306) translate(949 288) translate(146) translate(24 18)"></path>
                        <g stroke="#242424" stroke-linecap="round" stroke-linejoin="round">
                           <path d="M8.319 9.083L10.329 9.083" transform="translate(-1119 -306) translate(949 288) translate(146) translate(24 18) rotate(90 6.667 9.583)"></path>
                           <g>
                              <path d="M.424 3.276L6.732 3.276 8.497 3.276M3.211 6.25L.416 3.277 3.39.482" transform="translate(-1119 -306) translate(949 288) translate(146) translate(24 18) rotate(90 6.667 9.583) translate(0 5.807)"></path>
                           </g>
                           <path d="M10.117 4.224L8.319 4.224 4.652 4.224" transform="translate(-1119 -306) translate(949 288) translate(146) translate(24 18) rotate(90 6.667 9.583)"></path>
                           <g>
                              <path d="M5.391 3.417L.756 3.417M2.596.443L5.391 3.415 2.417 6.21" transform="translate(-1119 -306) translate(949 288) translate(146) translate(24 18) rotate(90 6.667 9.583) translate(9.167 .807)"></path>
                           </g>
                        </g>
                     </g>
                  </g>
               </g>
            </g>
         </g>
      </svg>
   </span>
   <span class="label"> SORT <span class="sub-label"> A to Z</span></span>
</div>
<div class="dropdown desktop-view">
   <div class="sort-label" data-label="sortByFilter" role="button" id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="icon">
         <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
            <g fill="none" fill-rule="evenodd">
               <g>
                  <g>
                     <g>
                        <g>
                           <path d="M0 0H20V20H0z" transform="translate(-1119 -306) translate(949 288) translate(146) translate(24 18)"></path>
                           <g stroke="#242424" stroke-linecap="round" stroke-linejoin="round">
                              <path d="M8.319 9.083L10.329 9.083" transform="translate(-1119 -306) translate(949 288) translate(146) translate(24 18) rotate(90 6.667 9.583)"></path>
                              <g>
                                 <path d="M.424 3.276L6.732 3.276 8.497 3.276M3.211 6.25L.416 3.277 3.39.482" transform="translate(-1119 -306) translate(949 288) translate(146) translate(24 18) rotate(90 6.667 9.583) translate(0 5.807)"></path>
                              </g>
                              <path d="M10.117 4.224L8.319 4.224 4.652 4.224" transform="translate(-1119 -306) translate(949 288) translate(146) translate(24 18) rotate(90 6.667 9.583)"></path>
                              <g>
                                 <path d="M5.391 3.417L.756 3.417M2.596.443L5.391 3.415 2.417 6.21" transform="translate(-1119 -306) translate(949 288) translate(146) translate(24 18) rotate(90 6.667 9.583) translate(9.167 .807)"></path>
                              </g>
                           </g>
                        </g>
                     </g>
                  </g>
               </g>
            </g>
         </svg>
      </span>
      <span class="label"> SORT BY: <span class="sub-label"> A to Z</span></span>
   </div>
   <ul class="dropdown-menu" aria-labelledby="dLabel">
      <li>
         <a class="active" href="#" data-sort="asc">
            A to Z
            <span>
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <defs>
                     <filter id="one" width="120.9%" height="157.8%" x="-10.5%" y="-28.9%" filterUnits="objectBoundingBox">
                        <feOffset dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                        <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="5"></feGaussianBlur>
                        <feColorMatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"></feColorMatrix>
                        <feMerge>
                           <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                           <feMergeNode in="SourceGraphic"></feMergeNode>
                        </feMerge>
                     </filter>
                  </defs>
                  <g fill="none" fill-rule="evenodd">
                     <g>
                        <g>
                           <g>
                              <g>
                                 <g filter="url(#one)" transform="translate(-1280 -8820) translate(0 2930) translate(0 5644) translate(0 44) translate(1038 189)">
                                    <g>
                                       <path d="M0 0H24V24H0z" transform="translate(242 13)"></path>
                                       <g stroke="#719E19" stroke-linecap="round" stroke-linejoin="round">
                                          <path d="M4.532 9.417L7.143 12.128 13.428 5.835" transform="translate(242 13) translate(3 3)"></path>
                                          <path d="M12.99 16.46c2.66-1.42 4.47-4.24 4.47-7.48C17.46 4.3 13.67.5 8.98.5S.5 4.3.5 8.98c0 4.69 3.79 8.49 8.48 8.49h.01" transform="translate(242 13) translate(3 3)"></path>
                                       </g>
                                    </g>
                                 </g>
                              </g>
                           </g>
                        </g>
                     </g>
                  </g>
               </svg>
            </span>
         </a>
      </li>
      <li>
         <a href="#" data-sort="desc">
            Z to A
            <span>
               <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <defs>
                     <filter id="two" width="120.9%" height="157.8%" x="-10.5%" y="-28.9%" filterUnits="objectBoundingBox">
                        <feOffset dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                        <feGaussianBlur in="shadowOffsetOuter1" result="shadowBlurOuter1" stdDeviation="5"></feGaussianBlur>
                        <feColorMatrix in="shadowBlurOuter1" result="shadowMatrixOuter1" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"></feColorMatrix>
                        <feMerge>
                           <feMergeNode in="shadowMatrixOuter1"></feMergeNode>
                           <feMergeNode in="SourceGraphic"></feMergeNode>
                        </feMerge>
                     </filter>
                  </defs>
                  <g fill="none" fill-rule="evenodd">
                     <g>
                        <g>
                           <g>
                              <g>
                                 <g filter="url(#two)" transform="translate(-1280 -8820) translate(0 2930) translate(0 5644) translate(0 44) translate(1038 189)">
                                    <g>
                                       <path d="M0 0H24V24H0z" transform="translate(242 13)"></path>
                                       <g stroke="#719E19" stroke-linecap="round" stroke-linejoin="round">
                                          <path d="M4.532 9.417L7.143 12.128 13.428 5.835" transform="translate(242 13) translate(3 3)"></path>
                                          <path d="M12.99 16.46c2.66-1.42 4.47-4.24 4.47-7.48C17.46 4.3 13.67.5 8.98.5S.5 4.3.5 8.98c0 4.69 3.79 8.49 8.48 8.49h.01" transform="translate(242 13) translate(3 3)"></path>
                                       </g>
                                    </g>
                                 </g>
                              </g>
                           </g>
                        </g>
                     </g>
                  </g>
               </svg>
            </span>
         </a>
      </li>
   </ul>
</div>