{
  "extends": ["stylelint-config-sass-guidelines"],
  "ignoreFiles": ["src/main/webpack/etisalat/styles/custom-components/**/*.scss"],
  "plugins": ["stylelint-scss"],
  "rules": {
    "string-quotes": "double",
    "max-empty-lines": [
      2,
      {
        "ignore": ["comments"]
      }
    ],
    "max-line-length": [
      200,
      {
        "ignore": ["comments"]
      }
    ],
    "max-nesting-depth": [
      5,
      {
        "ignore": ["blockless-at-rules"]
      }
    ],

    "selector-attribute-brackets-space-inside": "never",
    "selector-attribute-operator-space-after": "never",
    "selector-attribute-operator-space-before": "never",
    "selector-attribute-quotes": "always",
    "selector-class-pattern": null,
    "selector-combinator-space-after": "always",
    "selector-combinator-space-before": "always",
    "selector-descendant-combinator-no-non-space": true,
    "selector-id-pattern": null,
    "selector-list-comma-newline-after": "always-multi-line",
    "selector-list-comma-newline-before": "never-multi-line",
    "selector-list-comma-space-after": "always-single-line",
    "selector-list-comma-space-before": "never",
    "selector-max-attribute": 3,
    "selector-max-combinators": 5,
    "selector-max-compound-selectors": 6,
    "selector-max-empty-lines": 1,
    "selector-max-id": 0,
    "selector-max-pseudo-class": 2,
    "selector-max-specificity": null,
    "selector-max-type": 5,
    "selector-max-universal": 1,
    "selector-nested-pattern": null,
    "selector-no-qualifying-type": [
      true,
      {
        "ignore": ["attribute"]
      }
    ],
    "selector-no-vendor-prefix": null,
    "selector-pseudo-class-case": "lower",
    "selector-pseudo-class-no-unknown": true,
    "selector-pseudo-class-parentheses-space-inside": "never",
    "selector-pseudo-element-case": "lower",
    "selector-pseudo-element-colon-notation": "double",
    "selector-pseudo-element-no-unknown": [
      true,
      {
        "ignorePseudoElements": ["inactive-selection"]
      }
    ],
    "selector-type-case": "lower",
    "selector-type-no-unknown": true,
    "shorthand-property-no-redundant-values": true,
    "scss/at-else-closing-brace-newline-after": null,
    "scss/at-else-closing-brace-space-after": null,
    "scss/at-else-empty-line-before": "never",
    "scss/at-else-if-parentheses-space-before": "always",
    "scss/at-extend-no-missing-placeholder": true,
    "scss/at-function-named-arguments": null,
    "scss/at-function-parentheses-space-before": "never",
    "scss/at-function-pattern": null,
    "scss/at-if-closing-brace-newline-after": null,
    "scss/at-if-closing-brace-space-after": null,
    "scss/at-import-no-partial-leading-underscore": true,
    "scss/at-import-partial-extension-blacklist": null,
    "scss/at-import-partial-extension-whitelist": null,
    "scss/at-mixin-argumentless-call-parentheses": null,
    "scss/at-mixin-named-arguments": null,
    "scss/at-mixin-parentheses-space-before": "never",
    "scss/at-mixin-pattern": null,
    "scss/at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": ["at-root", "content", "each", "else", "extend", "for", "function", "if", "include", "mixin", "return"]
      }
    ],
    "scss/declaration-nested-properties-no-divided-groups": null,
    "scss/declaration-nested-properties": "never",
    "scss/dollar-variable-colon-newline-after": null,
    "scss/dollar-variable-colon-space-after": null,
    "scss/dollar-variable-colon-space-before": "never",
    "scss/dollar-variable-default": null,
    "scss/dollar-variable-empty-line-before": null,
    "scss/dollar-variable-no-missing-interpolation": null,
    "scss/dollar-variable-pattern": null,
    "scss/double-slash-comment-empty-line-before": [
      "always",
      {
        "except": ["first-nested"],
        "ignore": ["between-comments", "stylelint-commands"]
      }
    ],
    "scss/double-slash-comment-inline": null,
    "scss/double-slash-comment-whitespace-inside": "always",
    "scss/media-feature-value-dollar-variable": null,
    "scss/no-duplicate-dollar-variables": null,
    "scss/operator-no-newline-after": null,
    "scss/operator-no-newline-before": null,
    "scss/operator-no-unspaced": null,
    "scss/partial-no-import": true,
    "scss/percent-placeholder-pattern": null,
    "scss/selector-no-redundant-nesting-selector": null
  }
}
