{
  "parser": "postcss-scss",
  "extends": "stylelint-config-sass-guidelines",
  "plugins": ["stylelint-order", "stylelint-scss"],
  "rules": {
    "at-rule-no-unknown": null,
    "max-nesting-depth": [
      5,
      {
        "ignore": ["blockless-at-rules"]
      }
    ],
    "selector-class-pattern": null,
    "selector-max-compound-selectors": 6,
    "scss/selector-no-redundant-nesting-selector": null
  }
}
