/* GLOBAL STYLING FOR ACCESSIBLITIY */

.acc-black,
.acc-blue,
.acc-yellow {
  .table .table,
  .cmp-container {
    background-color: transparent !important;
  }
}

.acc-black {
  .support-wrapper .action-bar .cmp-text {
    background-color: $black;
    border: 1px solid $white;

    .cmp-link__text {
      color: $white;
    }
  }
}

.acc-blue {
  .support-wrapper .action-bar .cmp-text {
    background-color: $blue4;
    border: 1px solid $white;

    .cmp-link__text {
      color: $white;
    }
  }
}

.acc-yellow {
  .support-wrapper .action-bar .cmp-text {
    background-color: $black;
    border: 1px solid $yellow-light;

    .cmp-link__text {
      color: $yellow-light;
    }
  }
}