.ewallet_mobile_view_carousal {
  position: absolute;
  top: 0;
  right: 280px;
  .cmp-carousel__content {
    background: url("../resources/images/mobile-frame.png") no-repeat top center;
    text-align: center;
    background-repeat: no-repeat;
    width: 335px;
    background-size: contain;
    height: 610px;
    padding-top: 90px;
    padding-left: 34px;
    padding-right: 35px;
    margin-top: 20px;
    position: relative;
    top: 100px;
    right: 40px;
    .cmp-image__image {
      max-width: 230px;
      height: auto;
    }
    .cmp-carousel__indicators {
      margin-top: 90px;
    }
  }
}

.cmp-carousel__indicator {
  width: 14px;
  height: 14px;
  display: inline-block;
  border-radius: 100%;
  background: $blue-grey;
  opacity: 1;
}

.cmp-carousel__indicator--active {
  box-sizing: border-box;
  height: 18px;
  width: 18px;
  border: 2px solid $main-green;
  background-color: $white;
  margin-bottom: -2px;
}

.cmp-carousel__actions {
  display: none;
}

// Home page carousel
.carousel, .carousel-inner,.cmp-carousel__content{
  position: relative;
}
.teaser_left_align .cmp-carousel__indicators {
  display: block;
  justify-content: right;
  float: left;
  padding: 20px 0 20px 8px;
}

.teaser_img_right {
  padding:100px 10px 0 10px;
  .cmp-teaser__pretitle{
  border-radius: 3px;
  background-color: rgba(78,87,166,0.6);
  margin: 0px;
  color: $white;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  padding:9px 13px;
  margin:24px 0 0 0;
  display: inline-block;
  }
}

.cmp-teaser__image{
  width:50%;
  @media (min-width:320px) and (max-width: 769px) {
  width:100%;
  }
}


.teaser_img_right .cmp-teaser{
  display:flex;
  flex-direction: row-reverse;
  
  .cmp-teaser__description{
      padding-right:190px;
  }
  .cmp-image{
      padding-right: 16px;
  }
  .teaser_img_right{
      margin: 50px 0;
  }
}
.teaser_img_right .cmp-teaser{
  display:flex;
  flex-direction:column-reverse;
  .cmp-image__image{
      margin-top:20px;
      margin-bottom:60px;
      width:100%;
      max-width:100%;
      margin-left: 0px;
      margin-right: 0px;
  }
}

.cmp-teaser__content{
  width:50%;
  margin-right:2%;
   @media (min-width:320px) and (max-width: 769px) {
   width:100%;
   }
}