/* FAQ */

.search-topics-faq ul {
  list-style: none;
  li {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    @include respond-to-min($tablet) {
      width: 50%;
      float: left;
    }
    h3 {
      color: $gray-primary !important;
      line-height: 42px;
      margin: 10px 0 20px 0;
      font-size: toRem(30);
      @include respond-to-min($tablet) {
        font-size: toRem(36);
      }
    }
    .offer-text {
      display: none;
    }
    a.button {
      @extend .btn;
    }
  }
}




.return-link a {
  color: $link-color;
  font-size: toRem(24);
  line-height: 26px;
  margin: 0;
  font-weight: 500;
}
.ewallet-accordion{

  .cmp-accordion__item {
    border-bottom: 1px solid $light-white;
    .cmp-accordion__title {
      width: 100%;
      display: inline-block;
      line-height: 20px;
      outline: none;
      color: $link-color !important;
      min-height: 25px;
      padding-top: 4px;
      font-size: toRem(20);
      line-height: 22px;
      font-family: Bariol, Roboto, Arial, sans-serif;
    }
    .cmp-text {
      font-family: Bariol, GE SS Two, Arial, sans-serif;
      font-size: toRem(20);
      padding-top: 0px;
    }

    .cmp-accordion__button {
      background-color: transparent;
      border: none;
      color: $link-color;
      font-size: toRem(20);
      font-weight: 700;
      line-height: 20px;
      @include respond-to-min($phone) {
        padding: 30px 25px;
      }
    }
    .cmp-accordion__panel--expanded {
      border: none;
      @include respond-to-min($phone) {
        padding: 10px 25px;
      }
    }
  }
}


.faq-left-menu {
  position: relative;
  min-height: 1px;
  z-index: 2;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 20px;
      @include respond-to-max($phone) {
        display: none;
      }
      &.active {
        display: block;
        font-weight: bold;
      }
      h3 {
        display: none;
      }
      .left-menu-title a {
        color: $black-grey;
        cursor: pointer;
        font-size: toRem(24);
      }
      img {
        height: 32px;
        width: 32px;
        float: left;
        margin-right: 15px;
      }
    }
  }
}

/*FAQ pages CSS end*/
