/* FAQ */

.search-topics-faq ul {
  list-style: none;
  li {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
    @include respond-to-min($tablet) {
      width: 50%;
      float: left;
    }
    h3 {
      color: #5a637c !important;
      line-height: 42px;
      margin: 10px 0 20px 0;
      font-size: 36px;
    }
    a.button {
      font-size: 16px;
      max-width: 162px;
      margin-top: 10px;
      box-shadow: none;
      color: $link-color;
      background-color: #fff;
      border: 1px solid $link-color;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;
      text-align: center;
      padding: 0.75rem 0.5rem;
      border-radius: 4px;
      border-width: 1px;
      width: 100%;
      font-weight: 700;
      display: block;
      &:hover {
        background-color: $green-btn;
        border: 1px solid $green-btn;
        color: $white;
        text-decoration: none;
      }
    }
  }
}




.return-link {
  color: #7da830;
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  font-weight: 500;
}
.ewallet-accordion{

  .cmp-accordion__item {
    border-bottom: 1px solid #eaedf5;
    .cmp-accordion__title {
      width: 100%;
      display: inline-block;
      line-height: 20px;
      outline: none;
      color: #7da830 !important;
      min-height: 25px;
      padding-top: 4px;
      font-size: 20px;
      line-height: 22px;
      font-family: Bariol, Roboto, Arial, sans-serif;
    }
    .cmp-text {
      font-family: Bariol, GE SS Two, Arial, sans-serif;
      font-size: 20px;
      padding-top: 0px;
    }

    .cmp-accordion__button {
      background-color: transparent;
      border: none;
      color: #7da830;
      font-size: 20px;
      font-weight: 700;
      line-height: 20px;
      padding: 29px 25px;
    }
    .cmp-accordion__panel--expanded {
      border: none;
      padding: 10px 25px;
    }
  }
}


.faq-left-menu {
  position: relative;
  min-height: 1px;
  z-index: 2;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin-bottom: 20px;
      @include respond-to-max($phone) {
        display: none;
      }
      &.active {
        display: block;
      }
      h3 {
        display: none;
      }
      .left-menu-title a {
        color: #3c485e;
        cursor: pointer;
        font-size: 24px;
      }
      img {
        height: 32px;
        width: 32px;
        float: left;
        margin-right: 15px;
      }
    }
  }
}

/*FAQ pages CSS end*/
