footer {
  font-family: Bariol, GE SS Two, Arial, sans-serif;
  padding: 50px 0;
  text-align: center;
  ul li a {
    border-right: none;
    border-left: none;
    color: #3c485e;
    font-size: 16px;
    line-height: 18px;
    padding: 0 14px;
    letter-spacing: 0;
    font-family: Bariol, GE SS Two, Arial, sans-serif;
    &:hover {
      color: #616b1e;
      text-decoration: underline;
    }
  }
  .social-links {
    margin-top: 30px;
    li {
      svg {
        height: 30px;
        width: 30px;
      }
    }
  }
}



