footer {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  ul li {
    float: left;
    a {
      border-right: none;
      border-left: none;
      color: #3c485e;
      font-size: 16px;
      line-height: 18px;
      padding: 0 14px;
      letter-spacing: 0;
      font-family: Bariol, GE SS Two, Arial, sans-serif;
      &:hover {
        color: #616b1e;
        text-decoration: underline;
      }
    }
  }
  .social-links {
    margin-top: 30px;
    li a img,
    li a svg {
      height: 30px;
      width: 30px;
    }
  }

  .cmp-button__text {
    display: none;
    .button {
      max-width: 44px;
      margin-right: 54px;
      display: inline-block;
    }
    .cmp-button__icon--fa {
      color: #3c485e;
      display: inline;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      height: 30px;
      width: 30px;
      line-height: 40px;
      font-weight: 500;
      border-radius: 3px;
      margin-top: 30px;
      font: normal normal normal 25px/1 FontAwesome;
    }
    .button {
      margin-top: 30px;
      margin-bottom: 18px;
    }
  }
}
