.cmp-form-options--drop-down .select-hide,
.cmp-form-options--drop-down select {
  display: none;
}

.form-section,
.cq-Editable-dom {
  padding: 1rem;

  .form-group {
    margin-bottom: 0;

    &.has-error-fields {
      border-color: $error-red;

      .alert-icon {
        display: block;

        svg {
          fill: $error-red;
          height: toRem(20);
          position: absolute;
          right: toRem(15);
          top: toRem(20);
          width: toRem(20);
        }
      }

      .alert-label {
        bottom: toRem(-25);
        color: $error-red;
        font-size: $font12;
        height: 1rem;
        line-height: toRem(16);
        margin: 0;
        overflow: hidden;
        padding: 0 toRem(18);
        position: absolute;
        text-align: left;
        text-overflow: ellipsis;
        top: auto;
        white-space: nowrap;
        width: 100%;
      }
    }
  }

  .cmp-form-text,
  .cmp-form-options,
  .floating-label-select {
    border: 1px solid $grey-secondary;
    border-radius: toRem(4);
    display: block;
    height: toRem(60);
    position: relative;
    width: 97%;

    &.select-arrow-active {
      font-weight: 500;
    }

    .floating-label {
      color: $nav-blue;
      font-size: $font12;
      font-weight: 500;
      line-height: toRem(13);
      top: toRem(6);
    }

    label {
      background-color: transparent;
      box-sizing: border-box;
      color: $gray-primary;
      display: block;
      font-size: $font24;
      font-weight: 400;
      left: 0;
      line-height: toRem(59);
      margin: 0;
      max-width: 100%;
      overflow: hidden;
      padding: 0 toRem(18) !important;
      pointer-events: none;
      position: absolute;
      text-overflow: ellipsis;
      top: 0;
      transition: 0.3s;
      white-space: nowrap;
    }

    .cmp-form-text__text {
      background-color: transparent;
      border: none;
      box-shadow: none;
      box-sizing: border-box;
      color: $black-grey;
      display: block;
      font-size: 24px;
      font-weight: 400;
      line-height: 45px;
      margin: 0;
      outline: none;
      padding: 6px 18px !important;
      position: relative;
      width: 100%;
      z-index: 1;

      &:focus ~ label {
        color: $nav-blue;
        font-size: $font12;
        font-weight: 500;
        line-height: toRem(13);
        top: toRem(6);
      }
    }
  }

  .cmp-form-options__field {
    border: 1px solid $grey-select;
    border-radius: 4px;
    color: $gray-primary;
    font-size: $font24;
    font-weight: 400;
    height: 60px;
    line-height: toRem(59);
    margin: 0;
    outline: none;
    padding: 0 toRem(18) !important;
    width: 97%;
  }
}

.select-selected {
  background-position: 100%;
  color: $almost-black;
  color: $gray-primary;
  cursor: pointer;
  display: block;
  font-size: toRem(20);
  font-size: $font24;
  font-weight: 400;
  left: 0;
  letter-spacing: 0;
  line-height: 1.8rem;
  line-height: toRem(59);
  margin: 0;
  max-width: 100%;
  overflow: hidden;
  padding: 0 18px !important;
  text-decoration: none;
  width: 100%;

  .select-arrow-active::after {
    background-color: transparent;
  }

  &::after {
    content: "";
    display: none;
    height: 0;
    position: absolute;
    right: toRem(10);
    top: toRem(14);
    width: 0;
  }
}

.cmp-form-options--drop-down {
  .select-items {
    background-color: $white;
    background-position: 100%;
    border: 0;
    border-radius: 0;
    box-shadow: 0 0.0625rem 0.25rem 0 rgb(1 1 1 / 30%);
    color: $dark-gray;
    cursor: pointer;
    font-size: $font16;
    letter-spacing: 0;
    line-height: 1.8rem;
    overflow-x: hidden;
    padding: 0.5rem 0;
    position: relative;
    text-decoration: none;
    z-index: 5;

    .selecteddiv {
      font-size: toRem(23);
      font-weight: 400;
      line-height: toRem(26);
      padding: toRem(10) toRem(25);

      &:hover {
        color: $gray-primary;
        font-weight: 700;
        text-decoration: none;
      }
    }

    & div {
      @media (max-width: 768px) {
        padding: 0.3rem;
      }
    }

    & > div:last-child .selecteddiv {
      border: none;
    }
  }
}

.cmp-form {
  .googlecaptcha {
    margin-bottom: 30px;
    .g-recaptcha {
      width: 304px;
      margin: 0 auto;
      iframe {
        margin: 20px 0;
        @include respond-to-max($phone) {
          width: 100%;
        }
      }
    }
  }

  .button {
    text-align: center;

    .cmp-form-button {
      background-color: $chatboatbg;
      border: 1px solid $link-color;
      border-radius: 4px;
      color: $white;
      cursor: pointer;
      font-family: $base-font;
      font-size: $font16;
      font-weight: 700;
      height: toRem(56);
      letter-spacing: 0;
      line-height: 18px;
      margin-top: 15px;
      outline: 0;
      overflow: hidden;
      padding: 0.75rem 0.5rem;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      vertical-align: middle;
      width: toRem(304);
      margin-left: 0;

      @include respond-to-max($phone) {
        width: 100%;
      }
    }
  }
}
