header {
  position: absolute;
  z-index: 3;
  left: 0;

  .cmp-experiencefragment {
    @extend .wrapper;
    position: relative;
    .cmp-image__image {
      @include respond-to-max($phone) {
        padding-left: 15px;
      }
      @include respond-to-min($phone) {
        width: auto;
      }
    }
  }
}