.hero_banner {
  z-index: 2;
  position: relative;

  // News
  &.ewallet_news {
    overflow: hidden;
    @include respond-to-max($phone) {
      height: toRem(288);
    }
    @include respond-to-min($tablet) {
      height: toRem(330);
    }
    @include respond-to-min($desktop) {
      height: toRem(423);
    }
    @include respond-to-min($desktop-wide) {
      height: toRem(745);
    }
    .cmp-container {
      @include respond-to-max($phone) {
        height: toRem(288);
        top: toRem(-15);
      }
      @include respond-to-min($tablet) {
        height: toRem(330);
        top: toRem(-1);
      }
      @include respond-to-min($desktop) {
        height: toRem(735);
        top: toRem(-7);
      }
      @include respond-to-min($desktop-wide) {
        height: toRem(1000);
        top: toRem(-5);
      }
      .ewallet_cover {
        &:after {
          background-image: url("../resources/images/img-location-contact-us-rx.png");
          top: toRem(110);
          @include respond-to-max($phone) {
            width: 191%;
            height: toRem(173);
            left: toRem(-171);
            top: toRem(102);
          }
          @include respond-to-min($tablet) {
            height: toRem(220);
          }
          @include respond-to-min($desktop) {
            height: toRem(320);
          }
          @include respond-to-min($desktop-wide) {
            width: 111%;
            height: toRem(642);
          }
        }
      }
    }
  }

  // About
  &.ewallet_aboutus {
    overflow: hidden;
    @include respond-to-max($phone) {
      height: toRem(336);
    }
    @include respond-to-min($tablet) {
      height: toRem(573);
    }
    @include respond-to-min($desktop) {
      height: toRem(559);
    }
    @include respond-to-min($desktop-wide) {
      height: toRem(721);
    }
    .cmp-container {
      @include respond-to-max($phone) {
        height: toRem(288);
        top: toRem(-15);
      }
      @include respond-to-min($tablet) {
        height: toRem(572);
      }
      @include respond-to-min($desktop) {
        height: toRem(735);
        top: toRem(-7);
      }
      @include respond-to-min($desktop-wide) {
        height: toRem(1000);
        top: toRem(-5);
      }
      .ewallet_cover {
        &:after {
          background-image: url("../resources/images/img-main-lx.png");
          top: toRem(110);
          @include respond-to-max($phone) {
            height: toRem(174);
            left: toRem(59);
            top: toRem(178);
          }
          @include respond-to-min($tablet) {
            height: toRem(463);
          }
          @include respond-to-min($desktop) {
            width: 111%;
            height: toRem(457);
            left: toRem(-55);
          }
          @include respond-to-min($desktop-wide) {
            background-image: url("../resources/images/img-about-us-lx.png");
            width: 109%;
            height: toRem(630);
            top: toRem(96);
            left: toRem(-70);
          }
        }
      }
    }
  }

  // Faq
  &.ewallet_faq {
    overflow: hidden;
    @include respond-to-max($phone) {
      height: toRem(360);
    }
    @include respond-to-min($tablet) {
      height: toRem(516);
    }
    @include respond-to-min($desktop) {
      height: toRem(505);
    }
    @include respond-to-min($desktop-wide) {
      height: toRem(748);
    }
    .cmp-container {
      @include respond-to-max($phone) {
        height: toRem(600);
        top: toRem(-15);
      }
      @include respond-to-min($tablet) {
        height: toRem(755);
      }
      @include respond-to-min($desktop) {
        height: toRem(735);
        top: toRem(-6);
      }
      @include respond-to-min($desktop-wide) {
        height: toRem(1000);
        top: toRem(-4);
      }
      .ewallet_cover {
        &:after {
          background-image: url("../resources/images/img-main-lx.png");
          top: toRem(110);
          @include respond-to-max($phone) {
            height: toRem(174);
            left: toRem(59);
            top: toRem(202);
          }
          @include respond-to-min($tablet) {
            width: 120%;
            height: toRem(406);
            left: toRem(-78);
          }
          @include respond-to-min($desktop) {
            height: toRem(402);
            width: 100%;
            left: toRem(0);
          }
          @include respond-to-min($desktop-wide) {
            width: 100%;
            height: toRem(460);
            top: toRem(293);
            left: toRem(0);
          }
        }
      }
    }
  }

  //Location
  &.ewallet_locations {
    overflow: hidden;
    @include respond-to-max($phone) {
      height: toRem(360);
    }
    @include respond-to-min($tablet) {
      height: toRem(436);
    }
    @include respond-to-min($desktop) {
      height: toRem(537);
    }
    @include respond-to-min($desktop-wide) {
      height: toRem(675);
    }
    .cmp-container {
      @include respond-to-max($phone) {
        height: toRem(390);
        top: toRem(-15);
      }
      @include respond-to-min($tablet) {
        height: toRem(445);
        top: toRem(-1);
      }
      @include respond-to-min($desktop) {
        height: toRem(735);
        top: toRem(-6);
      }
      @include respond-to-min($desktop-wide) {
        height: toRem(1000);
        top: toRem(-4);
      }
      .ewallet_cover {
        &:after {
          background-image: url("../resources/images/img-main-lx.png");
          top: toRem(110);
          @include respond-to-max($phone) {
            width: 205%;
            height: toRem(271);
            left: toRem(-196);
            top: toRem(104);
          }
          @include respond-to-min($tablet) {
            width: 120%;
            height: toRem(328);
            left: toRem(-77);
          }
          @include respond-to-min($desktop) {
            background-image: url("../resources/images/img-location-contact-us-lx.png");
            height: toRem(434);
            width: 132%;
            left: toRem(-165);
          }
          @include respond-to-min($desktop-wide) {
            width: 100%;
            height: toRem(462);
            top: toRem(217);
            left: toRem(0);
          }
        }
      }
    }
  }

  //Offers
  &.ewallet_offers {
    overflow: hidden;
    @include respond-to-max($phone) {
      height: toRem(240);
    }
    @include respond-to-min($tablet) {
      height: toRem(265);
    }
    @include respond-to-min($desktop) {
      height: toRem(470);
    }
    @include respond-to-min($desktop-wide) {
      height: toRem(761);
    }
    .cmp-container {
      @include respond-to-max($phone) {
        height: toRem(270);
        top: toRem(-15);
      }
      @include respond-to-min($tablet) {
        height: toRem(300);
        top: toRem(-1);
      }
      @include respond-to-min($desktop) {
        height: toRem(735);
        top: toRem(-6);
      }
      @include respond-to-min($desktop-wide) {
        height: toRem(1000);
        top: toRem(-4);
      }
      .ewallet_cover {
        &:after {
          background-image: url("../resources/images/img-location-contact-us-lx.png");
          top: toRem(110);
          @include respond-to-max($phone) {
            width: 100%;
            height: toRem(271);
            top: toRem(-16);
            left: toRem(0);
            background-image: url("../resources/images/img-main-lx.png");
          }
          @include respond-to-min($tablet) {
            width: 100%;
            height: toRem(186);
            top: toRem(125);
            left: toRem(0);
          }
          @include respond-to-min($desktop) {
            width: 116%;
            height: toRem(328);
            top: toRem(149);
            left: 0;
          }
          @include respond-to-min($desktop-wide) {
            width: 112.8%;
            height: toRem(547);
            top: toRem(218);
            left: 0;
          }
        }
      }
    }
  }

  .cmp-container {
    position: relative;
    .ewallet_cover {
      position: relative;
      &:after {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        position: absolute;
        left: toRem(0);
        content: "";
        z-index: 1;
        min-width: 100%;
      }
      .cmp-container {
        position: absolute;
        width: 100%;
      }
    }
    .banner_content {
      position: relative;
      top: toRem(0);
      z-index: 2;
      .teaser {
        @extend .wrapper;
        color: $white;
        @include respond-to-min($tablet) {
          padding-top: 180px;
        }
        h2 {
          color: $white;
          font-size: 32px;
          @include respond-to-min($tablet) {
            font-size: $font48;
          }
        }
        p {
          font-size: 16px;
          @include respond-to-min($tablet) {
            font-size: 24px;
          }
        }
      }
    }
  }
}

// arabic language
*[lang="ar"] {
  *[dir="rtl"] {
    .hero_banner {
      &:after {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
      .ewallet_cover {
        &.cmp-container {
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          &:after {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
          }
        }
      }
    }
  }
}
