.hero_banner {
  z-index: 2;
  position: relative;

  // Terms n Conditions
  &.ewallet_tesala {
    .cmp-container {
      @include respond-to-min($desktop) {
        height: 490px;
      }
      @include respond-to-min($desktop-wide) {
        height: 760px;
      }
      .ewallet_cover {
        &:after {
          background-image: url("../resources/images/img-main-lx.png");
          top: 110px;
          @include respond-to-min($desktop) {
            height: 380px;
            background-image: url("../resources/images/img-main-lx.png");
          }
          @include respond-to-min($desktop-wide) {
            height: 650px;
          }
        }
      }
    }
  }
  // About Us
  &.ewallet_about_us {
    .cmp-container {
      @include respond-to-min($desktop) {
        height: 490px;
      }
      @include respond-to-min($desktop-wide) {
        height: 760px;
      }
      .ewallet_cover {
        &:after {
          background-image: url("../resources/images/img-main-lx.png");
          top: 110px;
          @include respond-to-min($desktop) {
            height: 380px;
            background-image: url("../resources/images/img-main-lx.png");
          }
          @include respond-to-min($desktop-wide) {
            height: 650px;
          }
        }
      }
    }
  }
  // Locations
  &.ewallet_faq {
    .cmp-container {
      @include respond-to-min($desktop) {
        height: 490px;
      }
      @include respond-to-min($desktop-wide) {
        height: 760px;
      }
      .ewallet_cover {
        &:after {
          background-image: url("../resources/images/img-main-lx.png");
          top: 110px;
          @include respond-to-min($desktop) {
            height: 380px;
            background-image: url("../resources/images/img-main-lx.png");
          }
          @include respond-to-min($desktop-wide) {
            height: 650px;
          }
        }
      }
    }
  }

  //Faq
  &.ewallet_locations {
    .cmp-container {
      @include respond-to-min($desktop) {
        height: 390px;
      }
      @include respond-to-min($desktop-wide) {
        height: 660px;
      }
      .ewallet_cover {
        &:after {
          background-image: url("../resources/images/img-location-contact-us-lx.png");
          top: 110px;
          @include respond-to-min($desktop) {
            height: 280px;
          }
          @include respond-to-min($desktop-wide) {
            height: 550px;
          }
        }
      }
    }
  }
  .cmp-container {
    position: relative;

    .ewallet_cover {
      position: relative;
      &:after {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        position: absolute;
        left: 0;
        content: "";
        z-index: 1;
        min-width: 100%;
      }
      .cmp-container {
        position: absolute;
        width: 100%;
      }
    }
    .banner_content {
      position: relative;
      top: 0;
      z-index: 2;
      .teaser {
        @extend .wrapper;
        padding-top: 140px;
        color: $white;
        h2 {
          color: $white;
          font-size: 48px;
        }
        p {
          font-weight: bold;
        }
      }
    }
  }
}
