.hero_banner {
  z-index: 2;
  position: relative;

  // News
  &.ewallet_news {
    overflow: hidden;
    @include respond-to-max($tablet) {
      height: toRem(288);
    }
    @include respond-to-min($tablet) {
      height: toRem(330);
    }
    @include respond-to-min($desktop) {
      height: toRem(423);
    }
    @include respond-to-min($desktop-wide) {
      height: toRem(745);
    }
    .cmp-container {
      @include respond-to-max($tablet) {
        height: toRem(288);
        top: toRem(-15);
      }
      @include respond-to-min($tablet) {
        height: toRem(330);
        top: toRem(-1);
      }
      @include respond-to-min($desktop) {
        height: toRem(735);
        top: toRem(-7);
      }
      @include respond-to-min($desktop-wide) {
        height: toRem(1000);
        top: toRem(-5);
      }
      .ewallet_cover {
        &:after {
          background-image: url("../resources/images/img-location-contact-us-rx.png");
          top: toRem(110);
          @include respond-to-max($tablet) {
            width: 191%;
            height: toRem(173);
            left: toRem(-171);
            top: toRem(102);
          }
          @include respond-to-min($tablet) {
            height: toRem(220);
          }
          @include respond-to-min($desktop) {
            height: toRem(320);
          }
          @include respond-to-min($desktop-wide) {
            width: 111%;
            height: toRem(642);
          }
        }
      }
    }
  }

  // About
  &.ewallet_aboutus {
    overflow: hidden;
    @include respond-to-max($tablet) {
      height: toRem(336);
    }
    @include respond-to-min($tablet) {
      height: toRem(573);
    }
    @include respond-to-min($desktop) {
      height: toRem(559);
    }
    @include respond-to-min($desktop-wide) {
      height: toRem(721);
    }
    .cmp-container {
      @include respond-to-max($tablet) {
        height: toRem(288);
        top: toRem(-15);
      }
      @include respond-to-min($tablet) {
        height: toRem(572);
      }
      @include respond-to-min($desktop) {
        height: toRem(735);
        top: toRem(-7);
      }
      @include respond-to-min($desktop-wide) {
        height: toRem(1000);
        top: toRem(-5);
      }
      .ewallet_cover {
        &:after {
          background-image: url("../resources/images/img-main-lx.png");
          top: toRem(110);
          @include respond-to-max($tablet) {
            height: toRem(174);
            left: toRem(59);
            top: toRem(178);
          }
          @include respond-to-min($tablet) {
            height: toRem(463);
          }
          @include respond-to-min($desktop) {
            width: 111%;
            height: toRem(457);
            left: toRem(-55);
          }
          @include respond-to-min($desktop-wide) {
            background-image: url("../resources/images/img-about-us-lx.png");
            width: 109%;
            height: toRem(630);
            top: toRem(96);
            left: toRem(-70);
          }
        }
      }
    }
  }

  // Faq
  &.ewallet_faq {
    overflow: hidden;
    @include respond-to-max($tablet) {
      height: toRem(360);
    }
    @include respond-to-min($tablet) {
      height: toRem(516);
    }
    @include respond-to-min($desktop) {
      height: toRem(505);
    }
    @include respond-to-min($desktop-wide) {
      height: toRem(748);
    }
    &.landing_page {
      @include respond-to-max($tablet) {
        height: toRem(360);
        .cmp-container {
          height: toRem(360);
        }
      }
      @include respond-to-min($tablet) {
        height: toRem(516);
      }
      @include respond-to-min($desktop) {
        height: toRem(510);
      }
      @include respond-to-min($desktop-wide) {
        height: toRem(860);
        .ewallet_cover {
          &:after {
            top: toRem(460) !important;
          }
        }
        .teaser {
          padding-top: 220px !important;
        }
      }
    }
    .cmp-container {
      @include respond-to-max($tablet) {
        height: toRem(600);
        top: toRem(-15);
      }
      @include respond-to-min($tablet) {
        height: toRem(755);
      }
      @include respond-to-min($desktop) {
        height: toRem(735);
        top: toRem(-6);
      }
      @include respond-to-min($desktop-wide) {
        height: toRem(1000);
        top: toRem(-4);
      }
      .ewallet_cover {
        &:after {
          background-image: url("../resources/images/img-main-lx.png");
          top: toRem(110);
          @include respond-to-max($tablet) {
            height: toRem(174);
            left: toRem(59);
            top: toRem(202);
          }
          @include respond-to-min($tablet) {
            width: 120%;
            height: toRem(406);
            left: toRem(-78);
          }
          @include respond-to-min($desktop) {
            height: toRem(402);
            width: 100%;
            left: toRem(0);
          }
          @include respond-to-min($desktop-wide) {
            width: 100%;
            height: toRem(460);
            top: toRem(293);
            left: toRem(0);
          }
        }
      }
    }
  }

  //Location
  &.ewallet_locations {
    overflow: hidden;
    @include respond-to-max($tablet) {
      height: toRem(360);
    }
    @include respond-to-min($tablet) {
      height: toRem(436);
    }
    @include respond-to-min($desktop) {
      height: toRem(537);
    }
    @include respond-to-min($desktop-wide) {
      height: toRem(675);
    }
    .cmp-container {
      @include respond-to-max($phone) {
        height: toRem(390);
        top: toRem(-15);
      }
      @include respond-to-min($tablet) {
        height: toRem(445);
        top: toRem(-1);
      }
      @include respond-to-min($desktop) {
        height: toRem(735);
        top: toRem(-6);
      }
      @include respond-to-min($desktop-wide) {
        height: toRem(1000);
        top: toRem(-4);
      }
      .ewallet_cover {
        &:after {
          background-image: url("../resources/images/img-main-lx.png");
          top: toRem(110);
          @include respond-to-max($tablet) {
            width: 205%;
            height: toRem(271);
            left: toRem(-196);
            top: toRem(104);
          }
          @include respond-to-min($tablet) {
            width: 120%;
            height: toRem(328);
            left: toRem(-77);
          }
          @include respond-to-min($desktop) {
            background-image: url("../resources/images/img-location-contact-us-lx.png");
            height: toRem(434);
            width: 132%;
            left: toRem(-165);
          }
          @include respond-to-min($desktop-wide) {
            width: 100%;
            height: toRem(462);
            top: toRem(217);
            left: toRem(0);
          }
        }
      }
    }
  }

  //Offers
  &.ewallet_offers {
    overflow: hidden;
    @include respond-to-max($tablet) {
      height: toRem(240);
    }
    @include respond-to-min($tablet) {
      height: toRem(265);
    }
    @include respond-to-min($desktop) {
      height: toRem(470);
    }
    @include respond-to-min($desktop-wide) {
      height: toRem(761);
    }
    .cmp-container {
      @include respond-to-max($tablet) {
        height: toRem(270);
        top: toRem(-15);
      }
      @include respond-to-min($tablet) {
        height: toRem(300);
        top: toRem(-1);
      }
      @include respond-to-min($desktop) {
        height: toRem(735);
        top: toRem(-6);
      }
      @include respond-to-min($desktop-wide) {
        height: toRem(1000);
        top: toRem(-4);
      }
      .ewallet_cover {
        &:after {
          background-image: url("../resources/images/img-location-contact-us-lx.png");
          top: toRem(110);
          @include respond-to-max($tablet) {
            width: 100%;
            height: toRem(271);
            top: toRem(-16);
            left: toRem(0);
            background-image: url("../resources/images/img-main-lx.png");
          }
          @include respond-to-min($tablet) {
            width: 100%;
            height: toRem(186);
            top: toRem(125);
            left: toRem(0);
          }
          @include respond-to-min($desktop) {
            width: 116%;
            height: toRem(328);
            top: toRem(149);
            left: 0;
          }
          @include respond-to-min($desktop-wide) {
            width: 112.8%;
            height: toRem(547);
            top: toRem(218);
            left: 0;
          }
        }
      }
    }
  }

  .cmp-container {
    position: relative;
    .ewallet_cover {
      position: relative;
      &:after {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        position: absolute;
        left: toRem(0);
        content: "";
        z-index: 1;
        min-width: 100%;
      }
      .cmp-container {
        position: absolute;
        width: 100%;
      }
    }
    .banner_content {
      position: relative;
      top: toRem(0);
      z-index: 2;
      .teaser {
        @extend .wrapper;
        color: $white;
        @include respond-to-max($tablet) {
          padding: 140px 15px 0 15px;
        }
        @include respond-to-min($tablet) {
          padding-top: 160px;
        }
        .cmp-teaser__description {
          @include respond-to-min($tablet) {
            width: 50%;
          }
          @include respond-to-max($tablet) {
            width: 100%;
          }
          h1 {
            color: $white;
            font-size: toRem(40);
            margin-bottom: 15px;
            @include respond-to-min($desktop) {
              font-size: toRem(72);
              line-height: 66px;
            }
          }
          h2 {
            color: $white;
            font-size: 32px;
            margin-bottom: 15px;
            @include respond-to-min($tablet) {
              font-size: 48px;
            }
          }
          p {
            font-size: 16px;
            line-height: 24px;
            padding-right: 20px;
            font-weight: 700;
            color: $white;
            margin-bottom: 40px;
            @include respond-to-min($tablet) {
              font-size: 20px;
            }
          }
        }
        &.ewallet_btn_green .cmp-teaser__action-container {
          margin-top: 50px;
          position: relative;
          .cmp-teaser__action-link {
            text-transform: uppercase;
            transition: all 0.3s ease-in-out;
            text-align: center;
            padding: 0.75rem 0.5rem;
            border-radius: 4px;
            border-width: 1px;
            outline: 0;
            font-weight: 700;
            position: relative;
            overflow: hidden;
            -webkit-transform: translateZ(0);
            color: $white;
            background-color: $link-color;
            border-color: $link-color;
            width: auto;
            min-width: 180px;
            height: 49px;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0;
          }
          .cmp-teaser__action-link.active,
          .cmp-teaser__action-link:hover {
            box-shadow: none !important;
            color: $white;
            background-color: $green-btn;
            border-color: $green-btn;
          }
        }
      }
      .buttonstore {
        @extend .wrapper;
        .cmp_btn {
          width: 150px;
          .cmp_store_btn {
            cursor: pointer;
            height: 45px;
            display: inline-block;
            text-indent: -9999px;
            border-radius: 5px;
            background-size: cover;
            width: 100%;
            max-width: 150px;
            &:first-child{
              background: url("../resources/images/google-play.png") 0 0 no-repeat;
              margin-right: 10px;
            }
            &:nth-child(2){
              background: url("../resources/images/icon-stores.png") no-repeat;
            }
            p {
              display: none;
            }
            @include respond-to-max($tablet) {
              margin-bottom: 5px;
              padding: 2px 12px;
            }
            a {
              display: flex;
              color: $white;
              text-decoration: none;
            }
            i {
              -webkit-transition-duration: 0.5s;
              transition-duration: 0.5s;
            }
          }
        }
      }
    }
  }
}

// arabic language
*[lang="ar"] {
  *[dir="rtl"] {
    .hero_banner {
      &:after {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
      }
      .ewallet_cover {
        &.cmp-container {
          -webkit-transform: scaleX(-1);
          transform: scaleX(-1);
          &:after {
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
          }
        }
      }
    }
  }
}



.cmp-embedded-video {
  margin: 20px 0;
}
.ewallet_order_list {
  @include respond-to-max($tablet) {
    width: 100% !important;
    margin: 0 10px;
  }
  .cmp-text{
    @include respond-to-min($desktop) {
      margin: 70px 10px 25px 80px;
      padding: 0;
    }
    @include respond-to-max($desktop) {
      margin: 0 15px;
      padding: 0;
    }

  }
  h2 {
    margin: 15px 0 20px;
    font-size: 32px;
    color: $black-grey;
    line-height: 54px;
    @include respond-to-min($desktop) {
      font-size: 48px;
    }
  }
  ol {
    counter-reset: my-awesome-counter;
    font-family: Bariol, GE SS Two, Arial, sans-serif;
    list-style: none;
    li {
      font-size: 18px;
      line-height: 24px;
      padding: 0 0 15px 0;
      margin: 0;
      list-style: none;
      counter-increment: my-awesome-counter;
      @include respond-to-min($desktop) {
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
        padding-bottom: 28px;
      }

      &:before {
        content: counter(my-awesome-counter);
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        border: 1.5px solid $blue-secondary;
        box-sizing: border-box;
        width: 31px;
        height: 31px;
        border-radius: 100%;
        display: inline-block;
        text-align: center;
        padding-top: 4px;
        margin-right: 10px;
      }
    }
  }
}