
div.cover {
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	.cmp-image__image {
		width: auto;
	}
  }
  video.cover,
  img.cover {
	position: absolute;
	left: -9999px;
	right: -9999px;
	top: -9999px;
	bottom: -9999px;
	margin: auto;
	min-width: 100%;
	min-height: 100%;
  }