.offers-main-wrap {
  margin-top: 65px;
  @include respond-to-max($tablet) {
    margin-top: 45px;
  }
  .offer-content {
    img {
      max-width: 100%;
      border-radius: 8px 8px 0 0;
    }
    a {
      font-size: toRem(18);
      color: $link-color;
      line-height: toRem(20);
      font-weight: 700;
      display: inline-block;
      margin-top: 2px;
      width: 100%;
      &:hover,
      &:focus {
        color: $link-hover-color;
        text-decoration: none;
      }
    }
    label {
      font-size: toRem(14);
      color: $gray-primary;
      line-height: toRem(15);
      font-weight: 500;
      margin-bottom: 0;
      text-transform: uppercase;
      @include respond-to-max($desktop) {
        font-size: toRem(12);
        line-height: toRem(13);
        margin-top: 5px;
      }
    }
  }
  .slider-offer {
    .small-tiles {
      .row {
        display: block;
      }
    }
  }
  .single-offer-row {
    img {
      max-width: toRem(384);
      border-radius: 8px 8px 0 0;
      margin-bottom: 14px;
      width: 100%;
    }
    .offer-txt {
      a {
        font-size: toRem(23);
        color: $link-color;
        font-weight: 700;
        line-height: toRem(26);
        display: inline-block;
        width: 100%;
        @include respond-to-max($desktop) {
          font-size: toRem(18);
          line-height: toRem(20);
        }
        &:hover,
        &:focus {
          color: $link-hover-color;
          text-decoration: none;
        }
      }
      label {
        font-size: toRem(14);
        line-height: toRem(15);
        color: $gray-primary;
        text-transform: uppercase;
        display: block;
        font-weight: 500;
        margin-bottom: 0;
        margin-top: 15px;
        @include respond-to-max($desktop) {
          font-size: toRem(12);
          line-height: toRem(13);
          margin-top: 5px;
        }
      }
    }
  }
  .action-head {
    &:after {
      margin-bottom: 15px !important;
    }
    h2 {
      float: left;
      color: $black-grey;
      margin: 0;
      line-height: toRem(54);
      @include respond-to-max($desktop) {
        font-size: toRem(40);
        line-height: toRem(48);
      }
    }
  }
  .btn {
    float: right;
    @extend .btn;
  }
  .slider-offer {
    .action-footer {
      margin-top: 25px !important;
    }
  }
  .cmp-image__image {
    margin: 0;
    max-width: 100%;
  }

  .slider-alloffers {
    .no-swap-desktop-offers {
      float: left;
      width: 32%;
      margin-right: 2%;
      margin-bottom: 40px;
      &:nth-child(3n) {
        margin-right: 0;
      }
      @include respond-to-max($desktop) {
        width: 49%;
        margin-right: 2%;
        &:nth-child(3n) {
          margin-right: 2%;
        }
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
      @include respond-to-max($phone) {
        width: 100%;
        margin-right: 0;
        &:nth-child(3n) {
          margin-right: 0;
        }
        &:nth-child(2n) {
          margin-right: 0;
        }
        .single-offer-row {
          img {
            max-width: 100%;
            margin-bottom: 10px;
          }
        }
      }
    }
    .all-offers {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.bgoffers_blurb {
  top: 165px;
  left: 25px;
  position: relative;
  .cmp-container {
    background: url("https://ewallet.ae/en/system/assets/images/img-oval_tcm451-117037.png") 0 0 no-repeat;
    background-size: contain;
    position: absolute;
    width: 450px !important;
    height: 460px;
    right: 40px;
    top: 100px;
    z-index: 1;
    .text {
      position: relative;
      width: 500px;
      height: 460px;
      .cmp-text {
        position: absolute;
        top: 150px;
        right: 20px;
        width: 400px;
        color: $white;
        h3 {
          font-size: toRem(40);
          color: $white !important;
          line-height: toRem(44);
          font-weight: 500;
          font-family: Bariol, GE SS Two, Arial, sans-serif;
        }
        p {
          font-family: Bariol, GE SS Two, Arial, sans-serif;
          color: $white;
          font-size: toRem(24);
          line-height: toRem(34);
          font-weight: 500;
        }
      }
    }
  }
}