.ewallet_order_list {
  @include respond-to-max($tablet) {
    width: 100% !important;
    margin: 0 10px;
    padding: 0 30px;
  }
  @include respond-to-max($phone) {
    padding: 0 15px;
  }
  .cmp-text {
    @include respond-to-min($desktop) {
      margin: 70px 10px 25px 80px;
      padding: 0;
    }
    @include respond-to-max($desktop) {
      margin: 0 15px;
      padding: 0;
    }
  }
  h2 {
    margin: 15px 0 20px;
    font-size: 32px;
    color: $black-grey;
    line-height: 54px;
    @include respond-to-min($tablet) {
      font-size: 48px;
    }
  }
  ol {
    counter-reset: my-awesome-counter;
    font-family: Bariol, GE SS Two, Arial, sans-serif;
    list-style: none;
    li {
      font-size: 18px;
      line-height: 24px;
      padding: 0 0 15px 0;
      margin: 0;
      list-style: none;
      color: $black-grey;
      counter-increment: my-awesome-counter;
      @include respond-to-min($tablet) {
        font-size: 24px;
        line-height: 24px;
        font-weight: 500;
        padding-bottom: 28px;
      }

      &:before {
        content: counter(my-awesome-counter);
        font-size: 20px;
        font-weight: 700;
        line-height: 20px;
        border: 1.5px solid $blue-secondary;
        box-sizing: border-box;
        width: 31px;
        height: 31px;
        border-radius: 100%;
        display: inline-block;
        text-align: center;
        padding-top: 4px;
        margin-right: 10px;
        @include respond-to-max($phone) {
          width: 24px;
          height: 24px;
          padding-top: 1.5px;
          font-size: 16px;
          line-height: 20px;
          margin-right: 10px;
        }
      }
    }
  }
}
