/* stylelint-disable*/
.faq-accordion {

    padding: 24px 0;

    @media (min-width: $screen-sm) {
        padding: 64px 0;
    }

    .content .paragraph-styling {
        margin-bottom: 24px;

        @media (min-width: $screen-sm) {
            margin-bottom: 40px;
        }

        @media (min-width: 992px) {
            margin-bottom: 32px;
        }
    }

    .panel-group .panel {
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    }

    .panel-default>.panel-heading {
        background-color: $white;
        border-color: transparent;
        border-radius: 8px;

        .panel-title {
            font-family: $font-SuisseIntl-Bold;
        }
    }

    .panel-default {
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        border-color: transparent;

        .panel-collapse {
            border-radius: 0 0 8px 8px;
        }
    }

    .panel-default>.panel-heading {
        padding: 16px 24px;

        @media (min-width: $screen-sm) {
            padding: 24px 32px;
        }
    }

    .panel-title>.small,
    .panel-title>.small>a,
    .panel-title>a,
    .panel-title>small,
    .panel-title>small>a {
        color: #353738;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 28px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: $screen-sm) {
            line-height: 40px;
            font-size: 24px;
        }

        .icon-minus {
            display: flex;
        }

        .icon-plus {
            display: none;
        }

        &.collapsed {
            .icon-minus {
                display: none;
            }

            .icon-plus {
                display: flex;
            }
        }

        .icon-plus,
        .icon-minus {
            width: 20px;
            height: 20px;

            @media (min-width: $screen-sm) {
                width: 24px;
                height: 24px;
            }

            svg {
                width: 20px;
                height: 20px;

                @media (min-width: $screen-sm) {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }

    .panel-default>.panel-heading+.panel-collapse>.panel-body {
        border-color: #E2E1DA;

        padding: 16px 24px;
        background: $white;
        color: #848789;

        @media (min-width: $screen-sm) {
            padding: 24px 32px;
        }
    }

    .panel-group .panel+.panel {
        margin-top: 16px;
    }
}