.top-nav,
.top-nav.fixedNav {
  position: fixed;
  transition: all .3s ease-in-out;
  transition: .3s;
  width: 100%;
}

.top-nav {
  background-color: #f1f1eb;
  border: 0;
  left: 0;
  margin-bottom: 0;
  min-height: 48px;
  right: 0;
  text-transform: uppercase;
  top: 0;
  z-index: 1030;
}


.top-nav-section #top-nav-cart-img,
.top-nav-section .links svg {
  height: 24px;
  margin-left: 10px;
  transform: translateZ(0);
  width: 24px;
}

.top-nav-section .links li a img {
  margin-left: 10px;
}

.top-nav-section .links li {
  display: inline-block;
}

.top-nav-section .links li a {
  padding: 0 1rem;
}

.top-nav-section .top-nav-left .links a {
  font-weight: 800;
  height: 47px;
}

@media (max-width: 1280px) and (min-width: 992px) {
  .top-nav-section .links li a {
    padding: 0 .5rem;
  }
}

@media (min-width: 992px) and (max-width: 1280px) {
  .top-nav-section .links li a {
    padding: 0 .5rem;
  }

  .top-nav-section .links li a {
    padding: 0 1rem;
  }
}

.top-nav a {
  align-items: center;
  color: #353738;
  display: inline-block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  font-size: .6875rem;
  height: 48px;
  justify-content: center;
  letter-spacing: .18181818em;
  width: 100%;
}


@media (min-width: 992px) and (max-width: 1280px) {
  .top-nav-section .links li a {
    padding: 0 .5rem;
  }
}

.top-nav-section .links li a svg {
  stroke: #353738;
}

.top-nav-section .links li a .link-icon-wrapper {
  position: relative;
}

.top-nav-section .links li a .link-icon-wrapper .link-icon {
  height: 14px;
  min-height: 14px;
  min-width: 14px;
  position: absolute;
  right: -20px;
  top: -8px;
  width: 14px;
}

.top-nav-section .top-nav-left .links a {
  font-weight: 800;
  height: 47px;
}

.top-nav-section .top-nav-left .links .active > a,
.top-nav-section .top-nav-left .links .active > a:hover,
.top-nav-section .top-nav-left .links a:hover {
  background: transparent;
  border-bottom: 2px solid #719e19;
  color: #719e19;
  height: 47px;
}

.top-nav-section .top-nav-right {
  text-align: right;
}

.top-nav-section .top-nav-right .links li a {
  cursor: pointer;
  padding: 0 1.2rem;
  position: relative;
}

@media (min-width: 992px) and (max-width: 1366px) {
  .top-nav-section .top-nav-right .links li a {
    padding: 0 .5rem;
  }
}

.top-nav-section .top-nav-right .links li:last-child a {
  padding-right: 0;
}

.top-nav-section .top-nav-right .links .badge-top {
  font-weight: 700;
  letter-spacing: 0;
  top: 6px;
  z-index: 99;
}

.top-nav-section .top-nav-right .links .language-switch-content + svg {
  height: 5px;
  width: 8px;
}

.top-nav-section .active > a,
.top-nav-section .active > a:focus,
.top-nav-section .active > a:hover,
.top-nav-section a:focus,
.top-nav-section a:hover {
  background: transparent;
}

html[lang="ar"] [dir="rtl"] .top-nav-section .top-nav-right .links li:last-child a {
  padding-left: 0;
  padding-right: 1.5rem;
}

html[lang="ar"] [dir="rtl"] .top-nav-section .top-nav-right .links li:last-child a:hover {
  cursor: pointer;
}

html[lang="ar"] [dir="rtl"] .top-nav-section .top-nav-left .link-icon-wrapper .link-icon {
  left: -20px;
  right: auto;
}


@media (min-width: 992px) {
  .main-menu-desktop .navbar-default {
    height: 90px;
    top: 48px;
  }
}

.main-menu-desktop .navbar-default {
  background-color: #fff;
  border: none;
  box-shadow: 0 1px 8px 0 rgb(0 0 0 / 15%);
  height: 56px;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  transition: all .25s ease-in-out;
  width: 100%;
  z-index: 12;
}

.main-menu-desktop .navbar-default .navbar {
  border: 0;
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .main-menu-desktop .navbar-default .logo-container {
    display: -ms-flexbox;
    display: flex;
  }
}

.main-menu-desktop .navbar-default .logo-container {
  display: block;
  width: 100%;
}

.main-menu-desktop .nav-wrap {
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
}

.main-menu-desktop .navbar-default {
  background-color: #fff;
  border: none;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .15);
  height: 56px;
  position: fixed;
  text-transform: uppercase;
  top: 0;
  transition: all .25s ease-in-out;
  width: 100%;
  z-index: 12;
}

@media (min-width: 992px) {
  .main-menu-desktop .navbar-default {
    height: 90px;
    top: 48px;
  }
}

.main-menu-desktop .navbar-default .navbar {
  border: 0;
  margin-bottom: 0;
}

.main-menu-desktop .navbar-default .logo-container {
  display: block;
  width: 100%;
}

@media (min-width: 992px) {
  .main-menu-desktop .navbar-default .logo-container {
    display: -ms-flexbox;
    display: flex;
  }
}

.main-menu-desktop .navbar-default .logo-container .navbar-header {
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  float: none;
  height: 56px;
  justify-content: center;
  transition: all .25s ease-in-out;
}

@media (min-width: 992px) {
  .main-menu-desktop .navbar-default .logo-container .navbar-header {
    float: left;
    height: 90px;
  }
}

.main-menu-desktop .navbar-default .logo-container .navbar-header a {
  margin-bottom: -5px;
  transition: all .25s ease-in-out;
  width: 86px;
}

@media (min-width: 992px) {
  .main-menu-desktop .navbar-default .logo-container .navbar-header a {
    transition: all .25s ease-in-out;
    width: 150px;
  }
}

.main-menu-desktop .navbar-default .logo-container .navbar-header a img {
  height: auto;
  margin-left: 3.7rem;
  margin-top: -5px;
  width: 86px;
}

@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .main-menu-desktop .navbar-default .logo-container .navbar-header a img {
    margin-left: 1.7rem;
  }

  .hamburger {
    margin-left: 14px;
  }
}

@media only screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .main-menu-desktop .navbar-default .logo-container .navbar-header a img {
    margin-left: 1.7rem;
  }
}

@media (min-width: 992px) {
  .main-menu-desktop .navbar-default .logo-container .navbar-header a img {
    margin-left: 2.7rem;
    transition: all .25s ease-in-out;
    width: 140px;
  }
}

.main-menu-desktop .navbar-default .navbar-links {
  font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif;
}

.main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav > li > a {
  color: #6b6b6b;
  cursor: pointer;
  font-size: 1rem;
  height: 90px;
  line-height: 90px;
  padding: 0;
  padding-right: 23px;
  transition: all .25s ease-in-out;
}

@media (min-width: 1248px) {
  .main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav > li > a {
    padding-right: 1.5rem;
  }
}

.main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav > li > a:hover {
  color: #6b6b6b;
}

@media (-ms-high-contrast: none) {
  .main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav > li > a {
    font-size: 14px;
    padding-right: 1rem;
  }

  .main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav > li > a ::-ms-backdrop {
    font-size: 14px;
    padding-right: 1rem;
  }
}

@media (-ms-high-contrast: none) and (min-width: 1248px) {
  .main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav > li > a {
    font-size: 16px;
    padding-right: 23px;
  }
}

.main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav > li.active > a {
  background-color: transparent;
  color: #719e19;
}

.main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav li:last-child a {
  padding-right: 0;
}

.main-menu-desktop .navbar-default .user-loged-in {
  font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif;
}

.main-menu-desktop .navbar-default .user-loged-in ul.navbar-right {
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  width: 100%;
}

@media (min-width: 992px) {
  .main-menu-desktop .navbar-default .user-loged-in ul.navbar-right {
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-right: -12px;
  }
}

.main-menu-desktop .navbar-default .user-loged-in ul.navbar-right > li > a {
  align-self: center;
  color: #6b6b6b;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 90px;
  padding: 0 12px;
  transition: all .25s ease-in-out;
}

@media (min-width: 1248px) {
  .main-menu-desktop .navbar-default .user-loged-in ul.navbar-right > li > a {
    padding: 0 1.5rem;
  }

  .main-menu-desktop .navbar-default .user-loged-in ul.navbar-right > li > a::after {
    right: -5px;
  }
}

@media (min-width: 992px) {
  .main-menu-desktop .navbar-default .user-loged-in ul.navbar-right > li:last-child > a {
    padding-right: 12px;
  }
}

@media (min-width: 992px) {
  .main-menu-desktop .navbar-default .user-loged-in ul.navbar-right .search-link a {
    border-left: 1px solid #f1f1eb;
  }
}

.main-menu-desktop .navbar-default .user-loged-in ul.navbar-right .search-link a svg {
  height: 1.5rem;
  width: 1.5rem;
}

.main-menu-desktop .navbar-default.fixedNav {
  height: 56px;
}

.main-menu-desktop .navbar-default.fixedNav .navbar-links .nav.navbar-nav li a {
  height: 56px;
  line-height: 56px;
}

.main-menu-desktop .navbar-default.fixedNav .user-loged-in ul.navbar-right > li > a {
  line-height: 56px;
}

.main-menu-desktop .navbar-default.fixedNav .logo-container .navbar-header {
  height: 56px;
}

.main-menu-desktop .navbar-default.fixedNav .logo-container .navbar-header a,
.main-menu-desktop .navbar-default.fixedNav .logo-container .navbar-header a svg {
  transition: all .25s ease-in-out;
  width: 86px;
}

[lang="ar"] [dir="rtl"] .main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav > li > a {
  padding-left: 23px;
  padding-right: 0;
}

@media (min-width: 1248px) {
  [lang="ar"] [dir="rtl"] .main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav > li > a {
    padding-left: 1.5rem;
  }
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #e7e7e7;
}

@media (min-width: 768px) {
  .navbar-nav {
    margin-right: 0 !important;
  }
}

@media (min-width: 768px) {
  .navbar-left {
    float: left !important;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
    float: left;
    margin: 0;
  }
}


.nav {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

ol,
ul {
  margin-bottom: 12.5px;
  margin-top: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 1248px) {
  .main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav > li > a {
    padding-right: 1.5rem;
  }
}

.main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav > li > a {
  color: #6b6b6b;
  cursor: pointer;
  font-size: 1rem;
  height: 90px;
  line-height: 90px;
  padding: 0;
  padding-right: 23px;
  transition: all .25s ease-in-out;
}

.sub-account-menu-wrap {
  display: none;
  position: absolute;
}

.navbar-nav li:hover a + .sub-account-menu-wrap {
  display: block !important;
}

.sub-account-menu-wrap .sub-account-menu {
  background: #fff;
  border-radius: 0 0 4px 4px;
  border-top: 3px solid #719e19;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  margin-left: -1.5rem;
  min-width: 254px;
  padding: 1.2rem 1.5rem 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

ol,
ul {
  margin-bottom: 12.5px;
  margin-top: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sub-account-menu-wrap .sub-account-menu li a {
  color: #6b6b6b;
  display: block;
  -ms-flex-pack: left;
  font-size: .875rem;
  height: auto !important;
  justify-content: left;
  letter-spacing: .6px;
  line-height: 1.43 !important;
}

a,
a:hover {
  text-decoration: none;
}

@media (min-width: 768px) {
  .navbar-nav > li {
    float: left;
  }
}

.nav > li,
.nav > li > a {
  display: block;
  position: relative;
}


// Mobile Menu CSS Start
.main-menu-mobile.sticky {
  background: #fff;
}

.main-menu-mobile {
  background-color: #000000bd;
  display: none;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  top: -100%;
  transition: all .2s ease-in-out;
  z-index: 10;
}

@media (min-width: 1248px) {
  .hidden-lg {
    display: none !important;
  }
}

.main-menu-mobile.sticky .visible_menu > .panel-group:first-child {
  margin-bottom: 4rem;
}

.main-menu-mobile .panel-group {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .main-menu-mobile .menu-account,
  .main-menu-mobile .panel-group {
    width: 768px;
  }
}

.main-menu-mobile .panel-group .panel {
  background-color: #f7f8f4;
  border: 0;
  box-shadow: none;
}

.panel-group .panel {
  border-radius: 0;
  margin-bottom: 0;
}

.panel-default {
  border-color: #e2e1da;
}

.panel {
  background-color: #f1f1eb;
  border: 1px solid transparent;
  border-radius: 0;
  box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
  margin-bottom: 25px;
}

@media (min-width: 768px) {
  .main-menu-mobile .menu-account,
  .main-menu-mobile .panel-group {
    width: 768px;
  }
}

.main-menu-mobile .panel-group {
  margin-bottom: 0;
}

.main-menu-mobile .panel-group .panel {
  background-color: #f7f8f4;
  border: 0;
  box-shadow: none;
}

.main-menu-mobile .panel-group .panel + .panel {
  margin-top: 0;
}

.main-menu-mobile .panel-group .panel-heading {
  background-color: #fff;
  padding: 0 1rem;
}

.main-menu-mobile .panel-group .panel-heading .panel-title {
  align-items: flex-start;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  height: 3.5rem;
  justify-content: center;
  margin: 0;
  position: relative;
}

.main-menu-mobile .panel-group .panel-heading .panel-title a {
  color: #6b6b6b;
  font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif;
  font-size: .875rem;
  text-transform: uppercase;
}

.main-menu-mobile .panel-group .panel-heading .panel-title a.active {
  color: #719e19;
}

.main-menu-mobile .panel-group .panel-heading .panel-title .arrow_accordion {
  align-items: flex-end;
  background: transparent;
  border-right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  height: 3.5rem;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

.main-menu-mobile .panel-group .panel-heading .panel-title .arrow_accordion::after {
  border: solid #353738;
  border-width: 0 1px 1px 0;
  content: "";
  display: block;
  line-height: 1;
  padding: 5px;
  position: absolute;
  right: 3px;
  top: 50%;
  -webkit-transform: translateY(-20%) rotate(-135deg);
  transform: translateY(-20%) rotate(-135deg);
  transition: all .3s ease-in-out;
  width: 11px;
}

.main-menu-mobile .panel-group .panel-heading .panel-title .arrow_accordion.collapsed::after {
  -webkit-transform: translateY(-80%) rotate(45deg);
  transform: translateY(-80%) rotate(45deg);
}


.main-menu-mobile .panel-group .panel-collapse .panel-body {
  padding: 0 0 0 2rem;
}

.main-menu-mobile .panel-group .panel-collapse .panel-body .item_sub-menu {
  color: #6b6b6b;
  display: block;
  font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif;
  font-size: .875rem;
  padding: 1.5rem 0;
  text-transform: uppercase;
}

.main-menu-mobile .panel-group .panel-collapse .panel-body .item_sub-menu.active {
  color: #719e19;
}

.main-menu-mobile .panel-group.panel-footer-wraper {
  background-color: #f7f8f4;
  position: relative;
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel-body {
  border-top: 0 !important;
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel {
  width: 75%;
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel .panel-heading {
  background-color: transparent !important;
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel-collapse a,
.main-menu-mobile .panel-group.panel-footer-wraper .panel-default a {
  color: #353738 !important;
  font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
  font-size: 11px !important;
  letter-spacing: 2px;
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel-collapse .arrow_accordion::after,
.main-menu-mobile .panel-group.panel-footer-wraper .panel-default .arrow_accordion::after {
  padding: 2.4px;
  width: 6px;
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel-languange {
  border-left: 1px solid #f1f1eb;
  font-family: Neotech-medium, GE SS Two, Arial, sans-serif;
  height: 3.5rem;
  padding-left: 2rem;
  position: absolute;
  right: .875rem;
  top: 0;
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel-languange a {
  color: #353738;
  display: inline-block;
  font-weight: 300;
  margin-top: 12px;
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel-languange a .lang-change {
  float: right;
  margin-left: .75rem;
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel-languange a .lang-change svg {
  height: .3rem;
  width: .5rem;
}

.hamburger {
  float: left;
  margin-left: 20px;
}


.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #f7f8f4 !important;
}

// .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
//     border-top: 1px solid #ddd;
// }
.panel-body {
  padding: 16px;
}

.panel-default > .panel-heading {
  background-color: #e2e1da;
  border-color: #e2e1da;
  color: #242424;
}

.panel-group .panel-heading {
  border-bottom: 0;
}

.panel-title {
  font-size: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.panel-heading > .dropdown .dropdown-toggle,
.panel-title {
  color: inherit;
}

.collapse {
  display: none;
}

.panel-group .panel {
  border-radius: 0;
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .hamburger {
    float: none;
  }
}

.hamburger .line {
  background-color: #2b2e2c;
  display: block;
  height: 1px;
  margin: 6px auto;
  transition: all .3s ease-in-out;
  width: 24px;
}

.main-menu-desktop .navbar-default.fixedNav .logo-container .navbar-header a,
.main-menu-desktop .navbar-default.fixedNav .logo-container .navbar-header a svg {
  transition: all .25s ease-in-out;
  width: 86px;
}

@media (min-width: 992px) {
  .main-menu-desktop .navbar-default .logo-container .navbar-header a {
    transition: all .25s ease-in-out;
    width: 150px;
  }
}

.main-menu-desktop .navbar-default .logo-container .navbar-header a {
  margin-bottom: -5px;
  transition: all .25s ease-in-out;
  width: 86px;
}

.main-menu-mobile.mob-visible {
  display: block;
  padding-top: 56px;
  top: 0;
  width: 100%;
}

.sub_menu_mobile {
  padding: 0 1rem;
}

.hamburger.is-active .line:first-child {
  transform: translateY(7px) rotate(45deg);
}

.nav-footer-inline-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 2 2 100%;
  flex: 2 2 100%;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 2rem;
}

.nav-footer-inline-wrapper .nav-footer-wrapper {
  max-height: 59px;
  min-height: 59px;
}

.nav-footer-inline-wrapper .nav-footer-wrapper:first-child {
  max-height: 229px;
  min-height: 229px;
}

.nav-site-switch {
  align-items: center;
  color: #353738;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  font-size: .7rem;
  letter-spacing: 2px;
  padding: 1.25rem 1rem;
  text-transform: uppercase;
}

.hamburger.is-active .line:nth-child(3) {
  transform: translateY(-7px) rotate(-45deg);
}

.hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

@media only screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 3) {
  .hidden-xs {
    margin-left: 3rem;
  }
}

*[lang="ar"] *[dir="rtl"] .top-nav span.language-switch-content {
  font-size: .6875rem;
}

.top-nav span.language-switch-content {
  font-family: GE SS Two, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 100;
  letter-spacing: 0;
}

//lang nav
ul {
  .language {
    display: block;
    list-style: none;
    padding-right: 28px;
    position: relative;
    text-transform: uppercase;

    a {
      font-size: $font11;

      &::after {
        border-style: solid;
        border-width: 1px 1px 0 0;
        content: "";
        display: inline-block;
        height: 0.8em;
        left: 7em;
        padding-right: 0;
        position: absolute;
        top: 16px;
        transform: rotate(135deg);
        vertical-align: top;
        width: 0.8em;
      }

      &.open {
        &::after {
          top: 1.95em;
          transform: rotate(-45deg);
        }
      }
    }

    .arabic-lang-content {
      font-family: GE SS Two, Arial, sans-serif;
      font-size: $font16;
      font-weight: 100;
      letter-spacing: 0;

      &::after {
        height: 0.5em;
        left: 4em;
        width: 0.5em;
      }

      &.open {
        &::after {
          top: 1.35em;
          transform: rotate(-45deg);
        }
      }
    }
  }

  .language-menu {
    background-color: $sand-white;
    display: none;
    left: -30px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 48px;
    width: 150px;
    z-index: 999;

    li {
      display: inline-block;
      padding: 10px;
      text-transform: uppercase;
      width: calc(100% - 45px);

      a {
        color: $almost-black;
        font-size: $font11;
        height: 20px;
        padding: 2px !important;

        &::after {
          display: none;
        }

        &:hover {
          color: $main-green;
        }
      }

      .arabic-lang-content {
        font-family: GE SS Two, Arial, sans-serif;
        font-size: $font16;
        font-weight: 100;
        letter-spacing: 0;
      }
    }
  }
}
