.top-nav-section {
    height: 48px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: Lato,GE SS Two,Roboto,Arial,sans-serif;
    .container{
        max-width: 1224px;
        margin-right: auto!important;
        margin-left: auto!important;
        padding:0 12px!important;
    }
}

.top-nav,
.top-nav.fixedNav {
    position: fixed;
    width: 100%;
    transition: all .3s ease-in-out;
    transition: .3s;
}

.top-nav {
    background-color: #f1f1eb;
    text-transform: uppercase;
    border: 0;
    margin-bottom: 0;
    z-index: 1030;
    top: 0;
    min-height: 48px;
    left: 0;
    right: 0;
}


.top-nav-section #top-nav-cart-img,
.top-nav-section .links svg {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    transform: translateZ(0)
}
.top-nav-section .links li a img {
    margin-left:10px;
}
.top-nav-section .links li {
    display: inline-block
}

.top-nav-section .links li a {
    padding: 0 1rem
}

.top-nav-section .top-nav-left .links a {
    font-weight: 800;
    height: 47px;
}

@include respond-to-min-max($desktop-wide, $desktop) {
    .top-nav-section .links li a {
        padding: 0 1rem;
    }
}

.top-nav a {
    display: inline-block;
    width: 100%;
    height: 48px;
    font-size: .6875rem;
    letter-spacing: .18181818em;
    color: #353738;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}


.top-nav-section .links li a svg {
    stroke: #353738
}

.top-nav-section .links li a .link-icon-wrapper {
    position: relative
}

.top-nav-section .links li a .link-icon-wrapper .link-icon {
    position: absolute;
    top: -8px;
    right: -20px;
    min-width: 14px;
    min-height: 14px;
    height: 14px;
    width: 14px
}

.top-nav-section .top-nav-left .links a {
    font-weight: 800;
    height: 47px
}

.top-nav-section .top-nav-left .links .active>a,
.top-nav-section .top-nav-left .links .active>a:hover,
.top-nav-section .top-nav-left .links a:hover {
    background: transparent;
    border-bottom: 2px solid #719e19;
    color: #719e19;
    height: 47px
}

.top-nav-section .top-nav-right {
    text-align: right
}

.top-nav-section .top-nav-right .links li a {
    padding: 0 toRem(24);
    position: relative;
    cursor: pointer
}

@include respond-to-min-max($desktop-wide, $desktop) {
   .top-nav-section .top-nav-right .links li a {
        padding: 0 toRem(24px);
    }
}

.top-nav-section .top-nav-right .links li:last-child a {
    padding-right: 0;
}

.top-nav-section .top-nav-right .links .badge-top {
    top: 6px;
    z-index: 99;
    letter-spacing: 0;
    font-weight: 700
}

.top-nav-section .top-nav-right .links .language-switch-content+svg {
    width: 8px;
    height: 5px
}

.top-nav-section .active>a,
.top-nav-section .active>a:focus,
.top-nav-section .active>a:hover,
.top-nav-section a:focus,
.top-nav-section a:hover {
    background: transparent
}

html[lang=ar] [dir=rtl] .top-nav-section .top-nav-right .links li:last-child a {
    padding-left: 0;
    padding-right: 1.5rem
}

html[lang=ar] [dir=rtl] .top-nav-section .top-nav-right .links li:last-child a:hover {
    cursor: pointer
}

html[lang=ar] [dir=rtl] .top-nav-section .top-nav-left .link-icon-wrapper .link-icon {
    left: -20px;
    right: auto
}



@media (min-width: 992px) {
    .main-menu-desktop .navbar-default {
        height: 90px;
        top: 48px;
    }
}

.main-menu-desktop .navbar-default {
    top: 0;
    position: fixed;
    height: 56px;
    width: 100%;
    background-color: $white;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 1px 8px 0 rgb(0 0 0 / 15%);
    transition: all .25s ease-in-out;
    z-index: 12;
}

.main-menu-desktop .navbar-default .navbar {
    border: 0;
    margin-bottom: 0;
}

@media (min-width: 992px) {
    .main-menu-desktop .navbar-default .logo-container {
        display: -ms-flexbox;
        display: flex;
    }
}

.main-menu-desktop .navbar-default .logo-container {
    width: 100%;
    display: block;
}

.main-menu-desktop .nav-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center
}

.main-menu-desktop .navbar-default {
    top: 0;
    position: fixed;
    height: 56px;
    width: 100%;
    background-color: #fff;
    text-transform: uppercase;
    border: none;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, .15);
    transition: all .25s ease-in-out;
    z-index: 12
}

@media (min-width:992px) {
    .main-menu-desktop .navbar-default {
        height: 90px;
        top: 48px
    }
}

.main-menu-desktop .navbar-default .navbar {
    border: 0;
    margin-bottom: 0
}

.main-menu-desktop .navbar-default .logo-container {
    width: 100%;
    display: block
}

@media (min-width:992px) {
    .main-menu-desktop .navbar-default .logo-container {
        display: -ms-flexbox;
        display: flex
    }
}

.main-menu-desktop .navbar-default .logo-container .navbar-header {
    height: 56px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    float: none;
    transition: all .25s ease-in-out
}

@media (min-width:992px) {
    .main-menu-desktop .navbar-default .logo-container .navbar-header {
        height: 90px;
        float: left
    }
}

.main-menu-desktop .navbar-default .logo-container .navbar-header a {
    width: 86px;
    transition: all .25s ease-in-out;
    margin-bottom: -5px
}

@media (min-width:992px) {
    .main-menu-desktop .navbar-default .logo-container .navbar-header a {
        width: 150px;
        transition: all .25s ease-in-out
    }
}

.main-menu-desktop .navbar-default .logo-container .navbar-header a img {
    width: 86px;
    height: auto;
    margin-left: 3.7rem;
    margin-top: -5px;

    @include respond-to-max($phone) {
      margin-left: toRem(27);
    }
}

@media only screen and (device-width : 375px) and (device-height : 812px) and (-webkit-device-pixel-ratio : 3) {
    .main-menu-desktop .navbar-default .logo-container .navbar-header a img {
        margin-left: 1.7rem;
    }

    .hamburger {
        margin-left: 14px;
    }
}

@media only screen and (device-width : 360px) and (device-height : 640px) and (-webkit-device-pixel-ratio : 3) {
    .main-menu-desktop .navbar-default .logo-container .navbar-header a img {
        margin-left: 1.7rem;
    }
}

@media (min-width:992px) {
    .main-menu-desktop .navbar-default .logo-container .navbar-header a img {
        width: 140px;
        transition: all .25s ease-in-out;
        margin-left: 2.7rem;
    }
}

.main-menu-desktop .navbar-default .navbar-links {
    font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif
}

.main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li>a {
    height: 90px;
    line-height: 90px;
    padding: 0;
    padding-right: 23px;
    transition: all .25s ease-in-out;
    color: #6b6b6b;
    cursor: pointer;
    font-size: 1rem
}

@media (min-width:1248px) {
    .main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li>a {
        padding-right: 1.5rem
    }
}

.main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li>a:hover {
    color: #6b6b6b
}

@media (-ms-high-contrast:none) {
    .main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li>a {
        font-size: 14px;
        padding-right: 1rem
    }

    .main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li>a ::-ms-backdrop {
        font-size: 14px;
        padding-right: 1rem
    }
}

@media (-ms-high-contrast:none) and (min-width:1248px) {
    .main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li>a {
        font-size: 16px;
        padding-right: 23px
    }
}

.main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li.active>a {
    color: #719e19;
    background-color: transparent
}

.main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav li:last-child a {
    padding-right: 0
}

.main-menu-desktop .navbar-default .user-loged-in {
    font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif
}

.main-menu-desktop .navbar-default .user-loged-in ul.navbar-right {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0
}

@media (min-width:992px) {
    .main-menu-desktop .navbar-default .user-loged-in ul.navbar-right {
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin-right: -12px
    }
}

.main-menu-desktop .navbar-default .user-loged-in ul.navbar-right>li>a {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-item-align: center;
    align-self: center;
    color: #6b6b6b;
    line-height: 90px;
    transition: all .25s ease-in-out;
    padding: 0 12px
}

@media (min-width:1248px) {
    .main-menu-desktop .navbar-default .user-loged-in ul.navbar-right>li>a {
        padding: 0 1.5rem
    }

    .main-menu-desktop .navbar-default .user-loged-in ul.navbar-right>li>a:after {
        right: -5px
    }
}

@media (min-width:992px) {
    .main-menu-desktop .navbar-default .user-loged-in ul.navbar-right>li:last-child>a {
        padding-right: 12px
    }
}

@media (min-width:992px) {
    .main-menu-desktop .navbar-default .user-loged-in ul.navbar-right .search-link a {
        border-left: 1px solid #f1f1eb
    }
}

.main-menu-desktop .navbar-default .user-loged-in ul.navbar-right .search-link a svg {
    width: 1.5rem;
    height: 1.5rem
}

.main-menu-desktop .navbar-default.fixedNav {
    height: 56px
}

.main-menu-desktop .navbar-default.fixedNav .navbar-links .nav.navbar-nav li a {
    height: 56px;
    line-height: 56px
}

.main-menu-desktop .navbar-default.fixedNav .user-loged-in ul.navbar-right>li>a {
    line-height: 56px
}

.main-menu-desktop .navbar-default.fixedNav .logo-container .navbar-header {
    height: 56px
}

.main-menu-desktop .navbar-default.fixedNav .logo-container .navbar-header a,
.main-menu-desktop .navbar-default.fixedNav .logo-container .navbar-header a svg {
    width: 86px;
    transition: all .25s ease-in-out
}

[lang=ar] [dir=rtl] .main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li>a {
    padding-right: 0;
    padding-left: 23px
}

@media (min-width:1248px) {
    [lang=ar] [dir=rtl] .main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li>a {
        padding-left: 1.5rem
    }
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #e7e7e7;
}

@media (min-width: 768px) {
    .navbar-nav {
        margin-right: 0 !important;
    }
}

@media (min-width: 768px) {
    .navbar-left {
        float: left !important;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;
    }
}


.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 12.5px;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media (min-width: 1248px) {
    .main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li>a {
        padding-right: 1.5rem;
    }
}

.main-menu-desktop .navbar-default .navbar-links .nav.navbar-nav>li>a {
    height: 90px;
    line-height: 90px;
    padding: 0;
    padding-right: 23px;
    transition: all .25s ease-in-out;
    color: #6b6b6b;
    cursor: pointer;
    font-size: 1rem;
}

.sub-account-menu-wrap {
    position: absolute;
    display: none;
}

.navbar-nav li:hover a+.sub-account-menu-wrap {
    display: block !important;
}

.sub-account-menu-wrap .sub-account-menu {
    background: #fff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    min-width: 254px;
    border-top: 3px solid #719e19;
    padding: 1.2rem 1.5rem 0;
    margin-left: -1.5rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
    margin-bottom: 0;
}

ol,
ul {
    margin-top: 0;
    margin-bottom: 12.5px;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sub-account-menu-wrap .sub-account-menu li a {
    font-size: .875rem;
    -ms-flex-pack: left;
    justify-content: left;
    display: block;
    color: #6b6b6b;
    line-height: 1.43!important;
    height: auto!important;
    letter-spacing: .6px;
}

a,
a:hover {
    text-decoration: none;
}

@media (min-width: 768px) {
    .navbar-nav>li {
        float: left;
    }
}

.nav>li,
.nav>li>a {
    position: relative;
    display: block;
}


// Mobile Menu CSS Start
.main-menu-mobile.sticky {
    background: #fff;
}

.main-menu-mobile {
    display: none;
    top: -100%;
    position: fixed;
    left: 0;
    overflow-y: auto;
    height: 100%;
    z-index: 10;
    transition: all .2s ease-in-out;
    background-color: #000000bd;
}

@media (min-width: 1248px) {
    .hidden-lg {
        display: none !important;
    }
}

.main-menu-mobile.sticky .visible_menu>.panel-group:first-child {
    margin-bottom: 4rem;
}

.main-menu-mobile .panel-group {
    margin-bottom: 0;
}

@media (min-width: 768px) {

    .main-menu-mobile .menu-account,
    .main-menu-mobile .panel-group {
        width: 768px;
    }
}

@include respond-to-max($tablet) {
      .main-menu-mobile .panel-group {
        width: toRem(735);
    }
}

@include respond-to-max($phone) {
      .main-menu-mobile .panel-group {
        width: toRem(335);
    }
}

.main-menu-mobile .panel-group .panel {
    border: 0;
    box-shadow: none;
    background-color: #f7f8f4;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
}

.panel-default {
    border-color: #e2e1da;
}

.panel {
    margin-bottom: 25px;
    background-color: #f1f1eb;
    border: 1px solid transparent;
    border-radius: 0;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
}


.main-menu-mobile .panel-group {
    margin-bottom: 0
}

.main-menu-mobile .panel-group .panel {
    border: 0;
    box-shadow: none;
    background-color: #f7f8f4
}

.main-menu-mobile .panel-group .panel+.panel {
    margin-top: 0
}

.main-menu-mobile .panel-group .panel-heading {
    background-color: #fff;
    padding: 0 toRem(10);
}

.main-menu-mobile .panel-group .panel-heading .panel-title {
    height: 3.5rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
    margin: 0
}

.main-menu-mobile .panel-group .panel-heading .panel-title a {
    font-size: .875rem;
    color: #6b6b6b;
    text-transform: uppercase;
    font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif;
}

.main-menu-mobile .panel-group .panel-heading .panel-title a.active {
    color: #719e19
}

.main-menu-mobile .panel-group .panel-heading .panel-title .arrow_accordion {
    position: absolute;
    top: 0;
    right: 0;
    height: 3.5rem;
    width: 100%;
    border-right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: start;
    align-items: flex-end;
    -ms-flex-pack: center;
    justify-content: center;
    background: transparent
}

.main-menu-mobile .panel-group .panel-heading .panel-title .arrow_accordion:after {
    content: "";
    display: block;
    width: 11px;
    right: 3px;
    border: solid #353738;
    border-width: 0 1px 1px 0;
    padding: 5px;
    position: absolute;
    line-height: 1;
    transform: translateY(-20%) rotate(-135deg);
    -webkit-transform: translateY(-20%) rotate(-135deg);
    top: 50%;
    transition: all .3s ease-in-out
}

.main-menu-mobile .panel-group .panel-heading .panel-title .arrow_accordion.collapsed:after {
    transform: translateY(-80%) rotate(45deg);
    -webkit-transform: translateY(-80%) rotate(45deg)
}


.main-menu-mobile .panel-group .panel-collapse .panel-body {
    padding: 0 0 0 2rem;
}

.main-menu-mobile .panel-group .panel-collapse .panel-body .item_sub-menu {
    display: block;
    text-transform: uppercase;
    font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif;
    color: #6b6b6b;
    padding: 1.5rem 0;
    font-size: .875rem
}

.main-menu-mobile .panel-group .panel-collapse .panel-body .item_sub-menu.active {
    color: #719e19
}

.main-menu-mobile .panel-group.panel-footer-wraper {
    position: relative;
    background-color: #f7f8f4
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel-body {
    border-top: 0 !important
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel {
    width: 75%
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel .panel-heading {
    background-color: transparent !important
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel-collapse a,
.main-menu-mobile .panel-group.panel-footer-wraper .panel-default a {
    font-size: 11px !important;
    letter-spacing: 2px;
    color: #353738 !important;
    font-family: Lato, GE SS Two, Roboto, Arial, sans-serif
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel-collapse .arrow_accordion:after,
.main-menu-mobile .panel-group.panel-footer-wraper .panel-default .arrow_accordion:after {
    width: 6px;
    padding: 2.4px
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel-languange {
    padding-left: 2rem;
    border-left: 1px solid #f1f1eb;
    font-family: Neotech-medium, GE SS Two, Arial, sans-serif;
    position: absolute;
    top: 0;
    height: 3.5rem;
    right: .875rem
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel-languange a {
    margin-top: 12px;
    display: inline-block;
    font-weight: 300;
    color: #353738
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel-languange a .lang-change {
    margin-left: .75rem;
    float: right
}

.main-menu-mobile .panel-group.panel-footer-wraper .panel-languange a .lang-change svg {
    width: .5rem;
    height: .3rem
}

.hamburger {
    float: left;
    margin-left: toRem(20);

    @include respond-to-max($tablet) {
      margin-left: toRem(4);
    }

    @include respond-to-max($phone) {
      margin-left: toRem(14);
    }

}


.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #f7f8f4 !important;
}

// .panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
//     border-top: 1px solid #ddd;
// }
.panel-body {
    padding: 16px;
}

.panel-default>.panel-heading {
    color: #242424;
    background-color: #e2e1da;
    border-color: #e2e1da;
}

.panel-group .panel-heading {
    border-bottom: 0;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
}

.panel-heading>.dropdown .dropdown-toggle,
.panel-title {
    color: inherit;
}

.collapse {
    display: none;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0;
}

@media (min-width: 992px) {
    .hamburger {
        float: none;
    }
}

.hamburger .line {
    width: 24px;
    height: 1px;
    background-color: #2b2e2c;
    display: block;
    margin: 6px auto;
    transition: all .3s ease-in-out;
}

.main-menu-desktop .navbar-default.fixedNav .logo-container .navbar-header a,
.main-menu-desktop .navbar-default.fixedNav .logo-container .navbar-header a svg {
    width: 86px;
    transition: all .25s ease-in-out;
}

@media (min-width: 992px) {
    .main-menu-desktop .navbar-default .logo-container .navbar-header a {
        width: 150px;
        transition: all .25s ease-in-out;
    }
}

.main-menu-desktop .navbar-default .logo-container .navbar-header a {
    width: 86px;
    transition: all .25s ease-in-out;
    margin-bottom: -5px;
}

.main-menu-mobile.mob-visible {
    top: 0;
    padding-top: 56px;
    display: block;
    width: 100%;
}


.main-menu {
	z-index: 12;
	top: 46px;
	position: fixed;
	height: 80px;
	padding: 10px 0;
	width: 100%;
	background-color: $white;
	text-transform: uppercase;
	border: none;
	border-bottom: 1px solid #f1f1eb;
	box-shadow: 0 2px 10px 0 hsla(0, 0%, 67%, .2)
}

.main-menu.menu-compact .cart-button {
	display: block
}

.main-menu h3.page_title {
	font-size: 1rem;
	text-transform: capitalize;
	font-weight: 600;
	margin: 0 0 8px
}

@media (max-width:991px) {
	.main-menu h3.page_title {
		margin-bottom: 6px
	}
}

.main-menu .default-text {
	font-size: .75rem;
	text-transform: none;
	line-height: 1
}

.main-menu .default-text strong {
	color: #353738
}

.main-menu .cart-button {
	display: none
}

.main-menu .navbar-right li {
	padding: 0 10px
}

.main-menu .navbar-right li:last-child {
	padding-right: 0
}

.main-menu .navbar-right .user-menu-mobile .dropdown>a {
	padding: 15px 5px;
	text-align: center
}

.main-menu .navbar-right .user-menu-mobile>.open>a,
.main-menu .navbar-right .user-menu-mobile>.open>a:focus,
.main-menu .navbar-right .user-menu-mobile>.open>a:hover {
	background-color: $white;
	color: #555;
	padding: 15px 5px
}

.main-menu .navbar-right .user-menu-mobile .dropdown-menu {
	float: right;
	background-color: $white
}

.main-menu .navbar-right .user-menu-mobile .dropdown-menu .dropdown-header,
.main-menu .navbar-right .user-menu-mobile .dropdown-menu>li>a {
	padding: 5px 10px
}

.main-menu .navbar-right .user-menu-mobile .dropdown-menu>li>a:focus,
.main-menu .navbar-right .user-menu-mobile .dropdown-menu>li>a:hover {
	background-image: none
}

.main-menu .etisalat-logo-img {
	width: auto;
	height: 55px;
	margin-bottom: 0
}

.main-menu .price-wrapper {
	color: #353738;
	padding-top: 5px;
	text-transform: capitalize;
	white-space: nowrap
}

.main-menu .price-wrapper .price {
	line-height: 1rem
}

.main-menu .price-wrapper .small {
	line-height: normal
}

.main-menu .default-section-title h3 {
	font-size: 1rem;
	line-height: 1.2rem;
	font-weight: 600;
	padding: 16px 0 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	width: 100%;
	margin: 0;
	text-transform: none
}

.main-menu .navbar-nav>li>a {
	color: #353738;
	font-size: .75rem;
	padding: 14px 3px 12px;
	font-weight: 500;
	letter-spacing: .25px;
	margin-right: 24px;
	text-transform: uppercase;
	line-height: 1;
	border-bottom: 2px solid $white
}

.main-menu .navbar-nav>li>a:hover {
	background-color: transparent;
	border-bottom: 2px solid #719e19
}

@media (max-width:991px) {
	.main-menu .navbar-nav>li>a:hover {
		border-bottom: 2px solid $white
	}
}

.main-menu .navbar-nav>li>a:focus {
	background-color: transparent
}

.main-menu .navbar-nav>.active>a {
	border-bottom: 2px solid #719e19!important
}

.main-menu .navbar-nav>.active>a,
.main-menu .navbar-nav>.active>a:focus,
.main-menu .navbar-nav>.active>a:hover {
	background-color: transparent
}

.main-menu .navbar-nav>.active>a>.disabled>a,
.main-menu .navbar-nav>.active>a>.disabled>a:focus,
.main-menu .navbar-nav>.active>a>.disabled>a:hover {
	color: #ccc;
	background-color: transparent
}


[lang=ar] [dir=rtl] .main-menu .navbar-nav {
	float: right
}

[lang=ar] [dir=rtl] .main-menu .navbar-nav>li>a {
	margin-right: 0;
	margin-left: 24px
}

[lang=ar] [dir=rtl] .main-menu .navbar-nav.navbar-right {
	float: left!important
}

[lang=ar] [dir=rtl] .main-menu .navbar-nav.navbar-right li:first-child {
	float: right
}

[lang=ar] [dir=rtl] .main-menu .navbar-nav .default-section-title .pull-left {
	float: right!important
}

@media (max-width:991px) {
	.main-menu .mob-icon svg {
		width: 24px;
		height: 24px
	}
	[lang=ar] [dir=rtl] .main-menu .navbar-nav>li>a {
		margin-left: 16px
	}
}

@media (max-width:991px) {
	body.js-fixed-nav {
		margin-top: 100px
	}
	.main-menu {
		top: 0;
		position: fixed
	}
	.main-menu .default-sub-title {
		display: none
	}
	.main-menu .default-section-title {
		display: block
	}
	.main-menu.menu-compact {
		height: 70px
	}
	.main-menu.menu-compact .etisalat-logo-img {
		height: 40px
	}
	.main-menu.menu-compact .default-sub-title {
		display: block
	}
	.main-menu.menu-compact .default-section-title,
	.main-menu.menu-compact .navbar-header {
		display: none
	}
	.main-menu.menu-compact .navbar-nav li {
		display: inline-block
	}
	.main-menu.menu-compact .navbar-nav li a {
		padding: 0 10px 16px
	}
	.main-menu.menu-compact .navbar-collapse.collapse {
		padding: 0;
		white-space: nowrap
	}
	.main-menu.menu-compact .nav-bar-wrapper {
		width: 100%
	}
	.navbar-collapse.collapse {
		display: block!important;
		height: auto!important;
		padding-bottom: 0;
		overflow: visible!important;
		border: 0;
		padding: 10px 0 0
	}
	.etisalat-logo-img {
		height: 40px!important
	}
	.main-menu .default-section-title h3 {
		font-size: .875rem;
		white-space: normal;
		overflow: auto;
		text-overflow: unset;
		width: auto;
		padding: 0;
		letter-spacing: 0
	}
	.main-menu .default-section-title .mob-icon {
		padding: 0 5px;
		width: 40px;
		text-align: right
	}
	.main-menu .default-section-title .mob-icon svg {
		width: 24px;
		height: 24px
	}
	.main-menu .navbar-nav {
		margin: 6.25px 0
	}
    .default-sub-title {
		margin: 1rem 0 0;
		font-size: .9rem;
		line-height: 1.3rem
	}
}
.sub_menu_mobile {
    padding: 0 1rem;
}

.hamburger.is-active .line:first-child {
    transform: translateY(7px) rotate(45deg);
}

.nav-footer-inline-wrapper {
    -ms-flex: 2 2 100%;
    flex: 2 2 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-top: 2rem
}

.nav-footer-inline-wrapper .nav-footer-wrapper {
    max-height: 59px;
    min-height: 59px
}

.nav-footer-inline-wrapper .nav-footer-wrapper:first-child {
    min-height: 229px;
    max-height: 229px
}

.nav-site-switch {
    font-size: .7rem;
    text-transform: uppercase;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    letter-spacing: 2px;
    color: #353738;
    padding: 1.25rem 1rem;
    line-height: toRem(17);
}

.hamburger.is-active .line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.hamburger.is-active .line:nth-child(2) {
    opacity: 0;
}

@media only screen and (device-width : 1024px) and (device-height : 1366px) and (-webkit-device-pixel-ratio : 3) {
    .hidden-xs {
        margin-left: 3rem;
    }
}

*[lang="ar"] *[dir="rtl"] .top-nav span.language-switch-content {
    font-size: .6875rem;
}

.top-nav span.language-switch-content {
    font-size: 1rem;
    font-weight: 100;
    font-family: GE SS Two,Arial,sans-serif;
    letter-spacing: 0;
}

//lang nav
ul {
	.language
     {
		list-style: none;
        text-transform: uppercase;
		display: block;
		padding-right: 28px;
		position: relative;
        a {
            font-size: $font11;
            
         &:after{
            border-style: solid;
            border-width: 1px 1px 0 0;
            content: "";
            display: inline-block;
            height: 0.8em;
            left: 7em;
            top: 16px;
            position: absolute;
            transform: rotate( 135deg);
            vertical-align: top;
            width: 0.8em;
            padding-right: 0;
        }
         &.open {
           &:after {
             top: 1.95em;
            transform: rotate(-45deg);
            }
	    }
    }
    .arabic-lang-content{
        font-size: $font16;
        font-weight: 100;
        letter-spacing: 0;
        font-family: GE SS Two,Arial,sans-serif;
        &:after{
            left: 4em;
            width: 0.5em;
            height: 0.5em;
        }
        &.open {
            &:after {
              top: 1.35em;
             transform: rotate(-45deg);
             }
         }
    }
}
        
    .language-menu {
        display:none;
		text-align: center;
		left: -30px;
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		top: 48px;
		width: 150px;
		z-index: 999;
		background-color: $sand-white;

        li {
            text-transform: uppercase;
            display: inline-block;
            padding: 10px;
            width: calc(100% - 45px);
                a {
                    color: $almost-black;
                    font-size:$font11;
                    padding: 2px!important;
                    height: 20px;
                        &:after{
                             display: none;
                         }
                        &:hover{
                            color: $main-green;
                        }
                 }
                 .arabic-lang-content{
                    font-size: $font16;
                    font-weight: 100;
                    letter-spacing: 0;
                    font-family: GE SS Two,Arial,sans-serif;
                }
             }	
        }
    }

    
html[lang=ar] [dir=rtl] .top-nav-section.top-nav a {
	font-size: .6875rem
}

html[lang=ar] [dir=rtl] .top-nav-section.top-nav #top-nav-cart-img,
html[lang=ar] [dir=rtl] .top-nav-section.top-nav .top-nav .links svg {
	margin-left: 0;
	margin-right: 10px
}

html[lang=ar] [dir=rtl] .top-nav-section.top-nav .top-nav-right #top-nav-arrow-img {
	left: 0;
	right: auto
}

html[lang=ar] [dir=rtl] .top-nav-section .top-nav-right {
	text-align: left
}

.top-nav-section {
	font-family: Lato,GE SS Two,Roboto,Arial,sans-serif;
	height: 48px
}

.top-nav-section #top-nav-cart-img,
.top-nav-section .links svg {
	width: 24px;
	height: 24px;
	margin-left: 10px;
	transform: translateZ(0)
}

.top-nav-section .links li {
	display: inline-block
}

.top-nav-section .links li a {
	padding: 0 1rem
}


.top-nav-section .links li a svg {
	stroke: #353738
}

.top-nav-section .links li a .link-icon-wrapper {
	position: relative
}

.top-nav-section .links li a .link-icon-wrapper .link-icon {
	position: absolute;
	top: -8px;
	right: -20px;
	min-width: 14px;
	min-height: 14px;
	height: 14px;
	width: 14px
}

.top-nav-section .top-nav-left .links a {
	font-weight: 800;
	height: 47px
}

.top-nav-section .top-nav-left .links .active>a,
.top-nav-section .top-nav-left .links .active>a:hover,
.top-nav-section .top-nav-left .links a:hover {
	background: transparent;
	border-bottom: 2px solid #719e19;
	color: #719e19;
	height: 47px
}

.top-nav-section .top-nav-right {
	text-align: right
}

.top-nav-section .top-nav-right .links li a {
	padding: 0 toRem(24);
	position: relative;
	cursor: pointer
}

@include respond-to-min-max($desktop-wide, $desktop) {
	.top-nav-section .top-nav-right .links li a {
		padding: 0 toRem(24);
	}
}

.top-nav-section .top-nav-right .links li:last-child a {
	padding-right: 0
}

.top-nav-section .top-nav-right .links .badge-top {
	top: 6px;
	z-index: 99;
	letter-spacing: 0;
	font-weight: 700
}

.top-nav-section .top-nav-right .links .language-switch-content+svg {
	width: 8px;
	height: 5px
}

.top-nav-section .active>a,
.top-nav-section .active>a:focus,
.top-nav-section .active>a:hover,
.top-nav-section a:focus,
.top-nav-section a:hover {
	background: transparent
}

html[lang=ar] [dir=rtl] .top-nav-section .top-nav-right .links li:last-child a {
	padding-left: 0;
	padding-right: 1.5rem
}

html[lang=ar] [dir=rtl] .top-nav-section .top-nav-right .links li:last-child a:hover {
	cursor: pointer
}

html[lang=ar] [dir=rtl] .top-nav-section .top-nav-left .link-icon-wrapper .link-icon {
	left: -20px;
	right: auto
}

@media (max-width:1247px) {
	.top-nav-section .top-nav-right .links {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: end;
		justify-content: flex-end
	}
}

@media (max-width:1247px) {
	.top-nav-section .top-nav-right .links li a .text {
		display: none
	}
}

[lang=ar] [dir=rtl] .top-nav-section #top-nav-cart-img,
[lang=ar] [dir=rtl] .top-nav-section .links svg {
	margin-left: 0;
	margin-right: 10px
}
.fixed-config-section .top-nav-section.top-nav {
	display: none
}

.top-nav.fixedNav {
	top: -1px;
	left: 0;
	z-index: 9000
}

.top-nav .top-nav-main-row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.top-nav .top-nav-channel {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: start;
	justify-content: flex-start
}

.top-nav .top-nav-language {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: end;
	justify-content: flex-end
}

.top-nav a {
	display: inline-block;
	width: 100%;
	height: 48px;
	font-size: .6875rem;
	letter-spacing: .18181818em;
	color: #353738;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: center;
	justify-content: center
}

.top-nav .text-right a {
	-ms-flex-pack: end;
	justify-content: flex-end
}

.top-nav .text-center a {
	-ms-flex-pack: center;
	justify-content: center
}

.top-nav .active>a,
.top-nav .active>a:focus,
.top-nav .active>a:hover,
.top-nav a:focus,
.top-nav a:hover {
	color: #353738;
	transition: all .3s ease-in-out;
	transition: .3s
}

.top-nav #top-nav-store-img {
	width: 14px;
	height: 18px;
	margin-left: 10px
}

.top-nav #top-nav-cart-img,
.top-nav svg {
	width: 24px;
	height: 21px;
	margin-left: 10px
}

.top-nav #top-nav-arrow-img {
	transform: rotate(90deg);
	width: 5px;
	height: 9px;
	margin-left: 10px;
	position: absolute;
	top: 43%;
	right: 10%
}

.top-nav span.language-switch-content {
	font-size: 1rem;
	font-weight: 100;
	font-family: GE SS Two, Arial, sans-serif;
	letter-spacing: 0
}

.top-nav span.badge-top {
	width: 1.31rem;
	height: 1.31rem;
	background-color: #719e19;
	color: $white;
	border-radius: 50%;
	line-height: 1.31rem;
	position: absolute;
	top: 0;
	left: 50%;
	letter-spacing: 2px;
	margin-left: .3rem;
	text-align: center
}

.top-nav .align-cart a>div:first-child {
	margin-right: -10px
}

.top-nav .align-cart a>div:first-child span {
	float: right
}

.top-nav .align-cart a>div:nth-child(2) {
	padding-top: 5px
}


html[lang=ar] [dir=rtl] .top-nav span.language-switch-content {
	font-size: .6875rem
}

html[lang=ar] [dir=rtl] .top-nav a {
	font-size: .875rem
}

html[lang=ar] [dir=rtl] .top-nav span.badge-top {
	right: 50%;
	left: auto;
	margin-right: .15rem;
	margin-left: 0;
	top: .25rem
}
.default-sub-title p {
	font-size: 1.125rem;
	margin: 2rem 0 0;
	line-height: 1.75rem
}

.default-sub-title p,
.default-text {
	color: $steel-grey;
	@include font-family-Neotech-ge;
}
.default-text {
	font-size: .875rem;
	line-height: 1.2rem
}
@media (max-width:768px) {
    .overview-section .default-sub-title p {
		line-height: 20px;
		margin-top: 1.4rem;
		margin-bottom: 1rem;
		font-size: 14px
	}
}

.default-section-title {
	position: relative;
	overflow: hidden;
	color: #353738;
	@include font-family-Neotech;
	letter-spacing: .5px;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	text-transform: none
}

.default-section-title,
.default-section-title h3 {
	line-height: 2.25rem;
	margin: 0;
	text-transform: capitalize
}

.default-section-title .learn-more {
	right: 1.5rem
}

.default-section-title.with-b-b {
	padding-bottom: 1rem;
	border-bottom: 1px solid #edeee6
}
[lang=ar] [dir=rtl] .default-section-title {
	@include font-family-Neotech-ge;
	line-height: 2.5rem
}

[lang=ar] [dir=rtl] .default-section-title .learn-more {
	left: 1.5rem;
	right: auto
}

[lang=ar] [dir=rtl] .main-menu .default-section-title h3 {
	line-height: 1.25rem
}

.overview-section .default-section-title h3 {
	margin: 0
}

.overview-section .overview-wrapper {
	position: relative;
	overflow: hidden
}

.overview-section .overview-wrapper .mobile-features {
	margin-top: 3.5625rem;
	min-height: 515px!important
}

.overview-section .overview-wrapper .mobile-features.collapse {
	display: block;
	overflow: hidden;
	height: 515px!important;
	position: relative
}

.overview-section .overview-wrapper .mobile-features.collapse.in {
	height: auto!important
}

.overview-section .overview-wrapper .mobile-features .mobile-feature {
	border-bottom: 1px solid #e2e1da;
	margin: 1.5rem 0
}

.overview-section .overview-wrapper .mobile-features .mobile-feature .default-title {
	margin-bottom: 1rem
}

.overview-section .overview-wrapper .mobile-features .mobile-feature .default-text {
	padding-right: 83px
}

.overview-section .overview-wrapper .mobile-features .mobile-feature:last-child {
	border: 0
}

.overview-section .overview-wrapper .mobile-features .mobile-feature .media-right .media-img {
	width: 10rem;
	height: 10rem
}

.overview-section .overview-wrapper .mobile-features .mobile-feature .media-right .media-img img.media-object {
	width: 100%;
	cursor: default
}
[lang=ar] [dir=rtl] .overview-section .overview-wrapper .mobile-features .mobile-feature .default-text {
	padding-right: 0;
	padding-left: 83px
}
@media (max-width:768px) {
    .overview-section .overview-wrapper .mobile-features .mobile-feature {
		margin: 1rem 0
	}
	.overview-section .overview-wrapper .mobile-features .mobile-feature .default-title {
		font-size: 1rem;
		line-height: 1.5
	}
    .overview-section .default-section-title .btn-text.view-more {
		position: static
	}
}
@media (max-width:991px) {
    .default-section-title {
		font-size: 1.25rem;
		line-height: 1.5rem;
		letter-spacing: normal
	}
	.default-section-title h3 {
		font-size: 1.25rem;
		letter-spacing: .5px;
		line-height: 24px;
		margin: 0
	}
}

.price-wrapper {
	font-family: Neotech, Roboto, Arial, sans-serif
}

.price-wrapper{ 
	.small {
	font-size: .75rem;
	line-height: 1;
	line-height: 1rem
	}
}

.price-wrapper .price {
	font-size: 2rem;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	line-height: 1;
	color: #353738
}

.price-wrapper .price .currancy {
	margin-left: 3px
}

.price-wrapper .price .small {
	padding-left: 4px
}
.price-wrapper .price .vat {
	color: $steel-grey
}
[lang=ar] [dir=rtl] .price-wrapper {
	text-align: right;
	@include font-family-Neotech-ge;
}

[lang=ar] [dir=rtl] .price-wrapper .price .currancy {
	margin-right: 3px;
	margin-left: 0
}

[lang=ar] [dir=rtl] .price-wrapper .price .small {
	padding-right: 4px;
	padding-left: 0
}
@media (max-width:768px) {
    .price-wrapper .small {
		line-height: 12px
	}

	.price-wrapper .price {
		font-size: 1.6rem!important
	}
}

.main-menu-desktop .navbar-default .logo-container .navbar-header a svg {
	width: 86px;
	height: auto
}

@media (min-width:992px) {
	.main-menu-desktop .navbar-default .logo-container .navbar-header a svg {
		width: 140px;
		transition: all .25s ease-in-out
	}
    [lang=ar] [dir=rtl] .main-menu-desktop .navbar-default .user-loged-in ul.navbar-right .search-link a {
		border-right: 1px solid #f1f1eb
	}
    [lang=ar] [dir=rtl] .main-menu-desktop .navbar-default .user-loged-in ul.navbar-right>li>a {
		padding-left: 0;
		padding-right: 1.5rem
	}
}

[lang=ar] [dir=rtl] .main-menu-desktop .navbar-default .user-loged-in ul.navbar-right .search-link a {
	border-left: unset
}

.sub-account-menu-wrap .sub-account-menu li {
    padding-bottom: 1.5rem;
}


.sub-account-menu-wrap .sub-account-menu li.active a,
.sub-account-menu-wrap .sub-account-menu li a:focus,
.sub-account-menu-wrap .sub-account-menu li a:hover {
	color: #719e19
}

.user-loged-in .sub-account-menu-wrap .sub-account-menu {
	margin-left: 0;
	min-width: 236px
}

.user-loged-in .logedin-user {
	position: relative;
	margin-right: 1.5rem
}

.user-loged-in .logedin-user>a {
	background-color: transparent!important
}

.user-loged-in .logedin-user>a:after {
	content: "";
	display: block;
	width: 8px;
	height: 8px;
	right: -13px;
	border: solid #353738;
	border-width: 0 1px 1px 0;
	padding: 5px;
	position: absolute;
	line-height: 1;
	transform: translateY(-80%) rotate(45deg);
	-webkit-transform: translateY(-80%) rotate(45deg);
	top: 50%;
	transition: all .3s ease-in-out
}

.user-loged-in .logedin-user.active>a {
	color: #719e19!important
}

.user-loged-in .logedin-user.active>a:after {
	border-color: #719e19;
	transform: translateY(-20%) rotate(-135deg)
}
[lang=ar] [dir=rtl] .user-loged-in .logedin-user {
	margin-right: 0;
	margin-left: 1.5rem
}

[lang=ar] [dir=rtl] .user-loged-in .logedin-user>a:after {
	left: -6px;
	right: auto
}
[lang=ar] [dir=rtl] .user-loged-in .sub-account-menu-wrap .sub-account-menu {
	margin-right: 0
}

.main-menu-mobile.sticky .panel-footer-wraper {
	position: fixed!important;
	width: 100%;
	bottom: 0
}

.main-menu-mobile.sticky .panel-footer-wraper .panel-title {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center!important;
	align-items: center!important;
	-ms-flex-pack: start!important;
	justify-content: flex-start!important;
	-ms-flex-direction: row!important;
	flex-direction: row!important
}

.main-menu-mobile.sticky .panel-footer-wraper .panel-title a:first-child {
	padding-right: 20px
}

.main-menu-mobile.sticky .secondary-menu .panel-heading .panel-title a {
	font-size: 11px;
	color: #353738;
	line-height: 13px;
	letter-spacing: 2px;
	@include font-family-Neotech-ge;
}

.main-menu-mobile .badge-top {
	width: 1.31rem;
	height: 1.31rem;
	background-color: #719e19;
	color: $white;
	border-radius: 50%;
	line-height: 1.31rem;
	position: absolute;
	left: 7rem;
	text-align: center;
	padding: 0;
	top: 15px;
	z-index: 99;
	letter-spacing: 0;
	font-weight: 700;
	padding-left: 0!important
}

.main-menu-mobile .menu-account {
	background-color: $white
}

.main-menu-mobile .menu-account .menu-account-link {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	font-size: 11px;
	text-transform: uppercase;
	padding: 1rem 4px;
	color: #353738;
	letter-spacing: 2px;
	@include font-family-lato();
}

.main-menu-mobile .menu-account .menu-account-link svg {
	height: 1.25rem;
	width: 1.25rem
}

.main-menu-mobile .menu-account .menu-account-link span {
	padding-left: 0.5rem
}

.hamburger:hover {
	cursor: pointer
}


[lang=ar] [dir=rtl] .main-menu-mobile.sticky .panel-footer-wraper .panel-title a:first-child {
	padding-right: 0;
	padding-left: 20px
}
[lang=ar] [dir=rtl] .main-menu-mobile .menu-account .menu-account-link span {
	padding-left: unset;
	padding-right: 1.25rem
}

[lang=ar] [dir=rtl] .main-menu-mobile .menu-account .menu-account-link span.badge-top {
	right: 7rem;
	padding-right: 0!important;
	left: auto
}
[lang=ar] [dir=rtl] .main-menu-mobile .panel-group .panel-collapse .panel-body {
	padding-left: auto;
	padding-right: 2rem
}
[lang=ar] [dir=rtl] .main-menu-mobile .panel-group .panel-heading .panel-title .arrow_accordion:after {
	right: auto;
	left: 3px
}

[lang=ar] [dir=rtl] .main-menu-mobile .panel-group.panel-footer-wraper .panel-languange {
	left: .875rem;
	right: auto;
	border-left: 0;
	border-right: 1px solid #e2e1da;
	padding-left: auto;
	padding-right: 2rem
}

[lang=ar] [dir=rtl] .main-menu-mobile .panel-group.panel-footer-wraper .panel-languange .lang-change {
	margin-left: 0;
	margin-right: .75rem;
	float: left
}
[lang=ar] [dir=rtl] .hamburger {
	float: left
}

[lang=ar] [dir=rtl] .main-menu-mobile {
	width: 100%
}
@keyframes e {
	0% {
		width: 0
	}
	to {
		width: 100%
	}
}

.fixed-config-section {
	margin-top: 0!important
}



.fixed-config-section .navbar-default {
	top: 0
}

.fixed-config-section .affix {
	top: 56px;
	width: 100%
}

@media (min-width:1248px) {
	.top-nav-left .links li:last-child a {
		padding-right: toRem(16);
	}
	[lang=ar] [dir=rtl] .top-nav-left .links li:last-child a {
		padding-right: toRem(16);
		padding-left: 0
	}
}
