$primary-color: #2199e8;
$secondary-color: #777;
$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #ec5840;
$light-gray: #f3f3f3;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
$darkblack: #000;

// added for location
$almost-black: #353738;
$legend-color: #333;
$link-color: #7da830;
$link-hover-decoration: underline;

// ** Link hover decoration.

$white: #fff;
$pre-color: #ff6908;
$pink: #fb193f;
$red: #b3170c;
$error-red: #be1218;
$alert-red: #fdeeef;
$global-width: 496px;
$global-width-small: 95%;
$global-gutter: 16px;
$body-background: $light-gray;
$container-background: $white;
$global-font-color: $black;
$body-font-family: tahoma, geneva, sans-serif;
$global-padding: 16px;
$global-margin: 16px;
$global-radius: 3px;
$global-rounded: 500px;
$global-breakpoint: $global-width + $global-gutter;

// added for location
// Font Sizes
$base-font-size: 16px;
$font-size-base: 14px;

// ** Unit-less `line-height` for use in components like buttons.
$line-height-base: 1.4286; // 20/14
// ** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.

// === Shared nav styles
$nav-link-padding: 10px 15px;
$gray-base: #919192;
$dark-gray: #242424;
$dark-sand-brown: #393c3a;
$sand-brown: #c1b792;
$sand-white: #f1f1eb;
$black-grey: #3c485e;
$grey-bottom: #e6e6e6;
$gray-primary: #5a637c;
$grey-select: #aaa;
$green-btn: #5f8515;
$main-green: #769a2f;
$grey-secondary: #ccd3e6;
$nav-blue: #202e4d;
$blue-secondary: #2a5082;
$blue-grey: #e3e3ed;
$font-family-base: 'Georgia, "Times New Roman", Times, serif';
$screen-ms: 541px;
$screen-xs: 414px;

// * chat bot bg clor
$chatboatbg: #719e19;
$chatbotgray: #fbfbfb;

// **Font size
$font10: 0.625rem;
$font11: 0.6875rem;
$font12: 0.75rem;
$font14: 0.875rem;
$font16: 1rem;
$font18: 1.125rem;
$font20: 1.25rem;
$font21: 1.3125rem;
$font23: 1.438rem;
$font24: 1.5rem;
$font25: 1.563rem;
$font26: 1.625rem;
$font28: 1.75rem;
$font30: 1.875rem;
$font32: 2rem;
$font36: 2.25rem;
$font40: 2.5rem;
$font48: 3rem;
$font64: 4rem;
