$primary-color: #2199e8;
$secondary-color: #777777;
$success-color: #3adb76;
$warning-color: #ffae00;
$alert-color: #ec5840;
$light-gray: #f3f3f3;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$black: #0a0a0a;
//added for location
$almost-black:#353738;
$legend-color: #333;
$link-color:  #7da830;
$link-hover-color: darken($link-color, 15%);
$link-hover-decoration: underline;
//** Link hover decoration.

$white: #ffffff;
$pre-color: #ff6908;
$global-width: 496px;
$global-width-small: 95%;
$global-gutter: 16px;
$body-background: $light-gray;
$container-background: $white;
$global-font-color: $black;
$body-font-family: Tahoma, Geneva, sans-serif;
$global-padding: 16px;
$global-margin: 16px;
$global-radius: 3px;
$global-rounded: 500px;
$global-breakpoint: $global-width + $global-gutter;

//added for location
// Font Sizes
$base-font-size: 16px;
$font-size-base: 14px;
//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px
//=== Shared nav styles
$nav-link-padding: 10px 15px;
$gray-base:           #919192;;
$nav-link-hover-bg:  lighten($gray-base, 93.5%);
$dark-gray:           #242424;
$dark-sand-brown:     #393c3a;
$sand-brown:          #c1b792;
$sand-white:          #f1f1eb;
$black-grey:  #3c485e;
$grey-bottom: #e6e6e6;
$gray-primary:          #5A637C;
$font-family-base: 'Georgia, "Times New Roman", Times, serif';

$screen-ms: 541px;
$screen-xs: 414px;
//* chat bot bg clor

$chatboatbg: #719e19;
$chatbotgray: #fbfbfb;

//**Font size
$font11:0.6875rem;
$font12: 0.75rem;
$font14: 0.875rem;
$font16: 1rem;
$font18: 1.125rem;
$font26: 1.625rem;
$font32: 2rem;
$font40: 2.5rem;
$font24: 1.5rem;
$font21: 1.3125rem;
$font20: 1.25rem;
$font28: 1.75rem;
$font10: 0.625rem;
$font30: 1.875rem;
$font64:4rem;