<template data-sly-template.introTile="${ @ container,properties}">
    <section class="intro-text-2column">
        <div class="container">
            <!-- content box end-->
            <div class="row intro-text-wrapper">
                <div class="col-sm-10">
                    <div class="content-wrapper">
                        <div class="row">
                            <div class="col-md-6" data-sly-repeat="${container.items}" data-sly-resource="${item.name  @ decorationTagName='div'}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>