<template data-sly-template.testimonialTile="${ @ container,properties}">
<div data-digital-component="TESTIMONIAL_QUOTE_DIGITAL" class="testimonial-quote-wrapper ${properties.backgroundColor}">    
    <div class="container">  
        <div data-sly-test="${properties.tileTitle}" class="row">
            <div class="col-sm-12">
                <div class="ed-headings-2-0 top-heading">
                    <h2 data-sly-element="${properties.titleType}">${properties.tileTitle}</h2>
                </div>
            </div>
        </div>
        <div class="relative">        
            <div class="bg"></div>
            <div class="${!wcmmode.edit ? 'swiper-container quote-slider' : '' }">
                <div class="${!wcmmode.edit ? 'swiper-wrapper' : '' }">
                    <div class="${!wcmmode.edit ? 'swiper-slide' : ''}" data-sly-repeat="${container.items}" data-sly-resource="${item.name  @ decorationTagName='div'}"></div>
                </div>
            </div>
            <div data-sly-test="${!wcmmode.edit}" class="swiper-btn-wrapper">
                <div class="relative">
                    <div class="swiper-button-next"></div>        
                    <div class="swiper-pagination swiper-pagination-bullets"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            </div>            
        </div>            
    </div>   
</div>
</template>