//component st css
.mainaccordion {
  padding: 20px;
  background-color: $white-color;
  font-size: toRem(20);

  &::before {
    content: " - ";
    border-radius: 50%;
    display: table-cell;
    padding: 5px;
    right: 9px;
    position: relative;
    width: 12px;
    height: 10px;
    vertical-align: top;
    color: $greyish-white;
    font-size: toRem(21);
    text-align: center;
    line-height: 12px;
    font-weight: 100;
  }
  .cmp-accordion__item {
    position: relative;
    border-bottom: 1px solid;
    border-color: $greyish-white;
    margin-bottom: 20px;
    &::last-child {
      border-bottom: 0;
    }
  }
  .cmp-accordion__button {
    position: relative;
    border: 0;
    padding: 0.5rem 0;
    background: 0;
    color: inherit;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    display: block;
    width: 100%;
    text-align: left;
  }
  p {
    padding-left: 25px;
    margin-top: 0px;
    margin-bottom: 4px;
    color: $oslo-gray;
    font-family: $fontfamily-book;
    font-size: toRem(16);
    line-height: 22px;
  }
  .cmp-accordion {
    display: block;
    margin: 0;
    padding: 0;
  }
  .cmp-accordion__header {
    margin: 0;
    padding-top: 5px;
  }
  .cmp-accordion__title {
    min-height: 25px;
    padding-top: 4px;
    padding-left: 10px;
    font-weight: 100;
    font-size: toRem(18);
    line-height: 22px;
    color: $light-purple;
    font-family: $fontfamily-book;
    &::before {
      content: " + ";
      border-radius: 50%;
      display: table-cell;
      background: $light-purple;
      padding: 5px;
      right: 9px;
      position: relative;
      width: 11px;
      height: 10px;
      vertical-align: top;
      color: $white-color;
      font-size: toRem(21);
      text-align: center;
      line-height: 12px;
      font-weight: 100;
    }
    &::hover {
      color: $color-white-light;
    }
  }
  .cmp-accordion__panel {
    &--hidden {
      display: none;
    }
    &--expanded {
      display: block;
    }
  }
}


.section-roaming {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 12px;
}
.section-reservecredit {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 12px;
}
.section-takaful {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 12px;
}
.graybg table:nth-of-type(1) th {
  background-color: $bg-white;
  color: $table-gray;
}
.graybg table thead th {
  background-color: $bg-white;
  color: $table-gray;
}
.graybg table td,
.section-subscription2 table th {
  border: 1px solid $light-white;
  .purple table:nth-of-type(1) th {
    text-align: left;
  }
}
.signifierPlusIcon .cmp-accordion {
  padding: 0 20px;
}
.signifierPlusIcon .cmp-accordion__title {
  padding-left: 10px;
  font-weight: 100;
}
.signifierPlusIcon .cmp-accordion__item {
  margin-bottom: 20px;
}
.signifierPlusIcon .cmp-accordion__item:last-child {
  border-bottom: 0;
}
.signifierPlusIcon .cmp-accordion__title::before {
  padding: 4px;
}
.cmp_list_bdr ul {
  li {
    border-bottom: 1px solid $greyish-white;
    padding-top: 6px;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
}
.cmp_center_block {
  margin: 0 auto;
  max-width: 1024px;
  float: none !important;
  padding: 40px 10px 10px 10px;
}
.cmp_bullet_list {
  margin-bottom: 20px;
  li {
    padding-bottom: 10px;
  }
}
.cmp_circle_list li {
  padding-bottom: 10px;
  color: $oslo-gray;
  list-style-position: inside;
  list-style: unset;
  margin-left: 20px;
}
.gutter {
  margin-top: 80px;
}

table td,
.purple table th {
  border: 1px solid $light-white;
  border-top: none;
}

.purple table td,
.purple table th {
  width: 50%;
}

table:nth-of-type(1) th {
  background-color: $color-violet;
  color: $white-color;
}
table thead th span {
  display: block;
  padding: 12px;
}

.section-faq-accordion {
  .cmp-container {
    clear: both !important;
  }
  margin: 0 auto;
  max-width: 1024px;
  padding: 40px 0 10px 10px;
  float: none !important;
  clear: both !important;
}

.signifierPlusIcon .cmp-accordion {
  padding: 0 20px;
}

.grey h1 {
  padding-top: 0;
}

[rowspan] {
  vertical-align: middle;
}
//component en

.container_max {
  max-width: 1024px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

.container_full {
  width: 100%;
}

.text_pt16 {
  font-size: toRem(16);
}

.text_pt20 {
  font-size: toRem(20);
}

@media (min-width: 992px) {
  .width50 {
    width: 50%;
    margin-top: 20px;
  }
}

.width100 {
  width: 100%;
}

.width50 li {
  border-bottom: 1px solid $greyish-white;
  padding-bottom: 5px;
}
.width50 li:last-child {
  border-bottom: none !important;
}

.width100 li {
  border-bottom: 1px solid $greyish-white;
  padding-bottom: 5px;
}
.width100 li:last-child {
  border-bottom: none !important;
}

/* 1st section class*/

.section_overview {
  padding-top: 38px;
  padding-bottom: 20px;
}

.page_space {
  padding-bottom: 6px;
  padding-top: 6px;
}

.section_overview h1 {
  padding-bottom: 6px;
}

.section_overview h2 {
  margin-bottom: 14px;
}

.secondary_lead {
  font-size: toRem(18);
  margin-top: 16px;
  margin-bottom: 35px;
}

/*2nd section classes*/

.section_charges {
  padding-top: 38px;
}

.grey {
  background-color: $smoke-white;
}

.cmp_banner_hgt .cmp-container {
  height: 400px;
}

.none td,
.none th {
  border: 0 !important;
}

@media (min-width: 320px) and (max-width: 767px) {
  footer #main-footer {
    margin: 2rem;
  }
}
.accordion.signifierNoIcon.cmp_center_block {
  padding-top: 0px;
}

.accordion.signifierPlusIcon.cmp_center_block {
  padding-top: 10px;
}
.cmp-accordion__item:last-child {
  border-bottom: none;
  margin-bottom: 30px;
}

.cmp_center_block {
  #section-overview .cmp-text h1 ~ p {
    font-size: toRem(20);
    margin: 0px;
  }
}
.cmp_center_block {
  #section-overview .cmp-text {
    h1 ~ p:last-child {
      font-size: toRem(20);
      line-height: 1.33333;
    }
    h1 ~ p:nth-child(4) {
      margin-top: 1rem;
      font-size: toRem(18);
    }
    h2 {
      margin-bottom: 0px;
    }
  }
}

.cmp-container {
  div#section-charges {
    .cmp-text h1 + p {
      font-size: toRem(20);
    }
  }
  #section-subscription {
    .cmp-text h2 + p {
      font-size: toRem(20);
    }
    .cmp-text h1 + p {
      font-size: toRem(20);
    }
  }
}
@media (min-width: 992px) {
  ul.width50 p {
    margin: 0px;
  }
}

.cmp-container {
  #section-overview .width50 {
    b {
      font-family: $fontfamily-bold;
      font-weight: bold;
    }
    li {
      padding: 5px 0;
    }
  }
}
.cmp-container {
  #section-overview ul.width50 p:first-child {
    margin: 0;
    font-family: $fontfamily-bold;
    font-weight: bold;
  }
}
.cmp-container {
  #section-charges p b {
    font-family: $fontfamily-bold;
  }
}
.cmp-container {
  #section-fivesimcombopacks,
  #section-fivecallingcard,
  #section-reservecredit {
    .width100 li {
      padding-bottom: 0px;
    }
    .width100 p {
      margin: 6px;
    }
  }
}
.cmp-container {
  #section-takaful {
    p b {
      font-family: $fontfamily-bold;
    }
    .width100 li {
      padding: 6px 0;
      font: 1em/1.5 sans-serif;
    }
  }
}
.cmp-container {
  #section-contact-us p {
    font-size: toRem(20);
    margin: 5px 0 0 0;
  }
}
.cmp-container {
  #section-mobileinternet,
  #section-reservecredit,
  #section-fivesimcombopacks {
    h2 {
      margin-top: 14px;
    }
  }
}
.cmp-container {
  #section-reservecredit h2:first-child {
    margin-top: 0px;
  }
}
.cmp-container {
  #section-subscription h1 {
    padding-top: 0px;
  }
}

.cmp-container {
  #section-fivecallingcard th.t33 {
    padding: 12px !important;
  }
}

.cmp-container{
#section-subscription .lead+.cmp_circle_list li{
  padding-bottom: 0px;
}
}

.cmp-container{
  #section-roaming, #section-charges{
    table:first-of-type th {
      background-color: $color-violet !important;
      color: $white-color;
    }
  }
}

.cmp-container{
  #section-reservecredit table thead th {
    padding: 12px !important;
  }
}

p .lead {
  font-size: toRem(20);
}

ul .ul_padding {
  li {
    padding-bottom: 0px;
  }
}

.cmp_circle_list .lead {
  li {
    padding-bottom: 0px !important;
  }
}

.signifierNoIcon {
  span.cmp-accordion__title {
    font-weight: 100;
  }
  .cmp-text,
  p {
    color: $oslo-gray;
  }
}
