.purple table thead th {
  color: $color-violet;
}
.graybg table thead th {
  background-color: $color-white-lightest;
  color: $color-violet;
}
.purple table td,
.purple table th {
  border: 1px solid $light-white;
  border-top: none;
}
.purple table th span.header {
  color: $white-color;
  background-color: $color-violet;
  display: block;
  padding: 10px;
}

.pinkbg table td {
  width: 50%;
}

.pinkbg table:nth-of-type(1) th {
  background-color: $pinkbg-pink;
  color: $white-color;
}
.pinkbg table thead th {
  background-color: $bg-white;
  color: $table-gray;
}
.pinkbg table td,
.pinkbg table th {
  border: 1px solid $light-white;
  border-top: none;
}

.gray_table {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 12px;
}
.gray_table table:nth-of-type(1) th {
  background-color: $bg-white;
  color: $table-gray;
}
.gray_table table td,
.section-subscription2 table th {
  border: 1px solid $light-white;
  border-top: none;
}
.gray_table table thead th {
  background-color: $bg-white;
  color: $table-gray;
}
.graybg table thead th {
  background-color: $bg-white;
  color: $table-gray;
}
.graybg table td,
.graybg table th {
  border: 1px solid $light-white;
  border-top: none;
}
table thead th {
  padding: 0 !important;
  border: 1px solid $light-white;
}

.graybg table:nth-of-type(1) th {
  background-color: $bg-white;
  color: $table-gray;
}
.graybg table thead th {
  background-color: $bg-white;
  color: $table-gray;
}
.graybg table td,
.section-subscription2 table th {
  border: 1px solid $light-white;
  .purple table:nth-of-type(1) th {
    text-align: left;
  }
}

table td,
.purple table th {
  border: 1px solid $light-white;
  border-top: none;
}

.purple table td,
.purple table th {
  width: 50%;
}

table:nth-of-type(1) th {
  background-color: $color-violet;
  color: $white-color;
}
table thead th span {
  display: block;
  padding: 12px;
}
