// *************************************
// Features with tabs
// *************************************
.features-section {
  min-height: 525px;
  max-height: 525px;
  position: relative;
  background: $sand-white-50;
  @media (max-width: $screen-sm-max) {
    >.container >.row >.col-xs-12 {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  @media (min-width: $screen-md) {
    max-height: 420px;
    min-height: 420px;
    margin-top: 20px;
  }
  &:before, &:after {
    @media (min-width: $screen-md) {
      content: "";
    //   background: url(/en/system/wst/assets/img/features/background-pattern.svg) no-repeat; //fix needed
      background-size: contain;
      height: 420px;
      position: absolute;
      width: 420px;
      opacity: .15;
      top: 0;
      z-index: 0;
    }
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
    transform: rotate(180deg);
  }
  .features-icons-links {
    margin-bottom: 0;
    @media (min-width: $screen-md) {
      margin-bottom: 2rem;
    }
  }
  .feature-detail-wrap {
    position: relative;
    padding-top: 4rem;
    @media (min-width: $screen-md) {
      padding-top: 102px;
    }
    h3 {
      margin: 0;
      font-size: 26px;
      line-height: 33px;
      margin-top: 17px;
      margin-bottom: 1.5rem;
      color: $almost-black;
      @media (min-width: $screen-md) {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 3.2rem;
      }
    }
    .heading-mini {
      margin-top: 2.1rem;
      display: none;
      @media (min-width: $screen-lg) {
        display: block;
      }
    }
  }
  .feature-img-wrap {
    height: 290px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 2rem;
    @media (min-width: $screen-md) {
      margin-top: -20px;
      height: 460px;
    }
    img {
      height: 100%;
    }
  }

  .nav.nav-pills {
    position: absolute;
    z-index: 7;
    top: 1.5rem;
    @media (min-width: $screen-md) {
      top: 64px;
    }
    li {
      a {
        font-size: 12px;
        font-weight: bold;
        color: $breadcrumb-color;
        padding: 0 2.1rem 1.1rem;
        text-transform: uppercase;
        // font-family: font-family-base; // fix needed
        letter-spacing: 2.18px;
        &:hover {
          background: transparent;
          color: $brand-primary;
        }
      }
      &.active {
        a {
          color: $brand-primary;
          background: transparent;
          border-bottom: 2px solid $brand-primary;
        }
      }
    }
  }
  .tab-pane {
    >div {
      > div{
        z-index: 1;
      }
    }
  }
  &.bg-dark {
    background: linear-gradient(45deg,#1d1d1d,#292929);
    color: $white;
    .feature-detail-wrap {
      p, h3 {
        color: $white;
      }
    }
    .nav {
      li a {
        color: $white;
      }
    }
  }
}


.feature-outside-wrapper {
  overflow: hidden;
  height: 600px;
  max-height: 600px;
  @media (min-width: $screen-md) {
    max-height: 460px;
    height: 460px;
  }
}