<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
   <div class="main-container">
      <div class="responsive-img-wraper">
         <sly data-sly-test.customLink="${properties.imageLink}" data-sly-use.commonlinkmodel="${'com.etisalat.core.models.CommonLinkModel' @link=customLink}"/>
         <a data-sly-unwrap="${!properties.imageLink}" href="${commonlinkmodel.link}" target="${properties.linkBehavior == 'opennewwindow'?'_blank':'_self'}">
         <img  srcset="${properties['image414px/fileReference']} 414w, ${properties['image768px/fileReference']} 768w,${properties['image1024px/fileReference']} 1024w ,${properties['image1366px/fileReference']} 1366w,${properties['image1440px/fileReference']} 1440w,${properties['image1920px/fileReference']} 1920w" src="${properties['image1920px/fileReference']}" class="img-responsive lazyloaded" alt="${properties.imageAltText}">
         </a>
      </div>
   </div>
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = !resource.hasChildren}"></sly>