<template  data-sly-template.benefitsgrid="${ @ container,properties}">
   <sly data-sly-set.itemsDisplay="${properties.numberOfItems}"></sly>

   <div class="benefit-section-4-0" data-sly-set.itemsDisplay="${properties.numberOfItems}">
      <div class="container">
         <div data-sly-test="${properties.tileTitle}" class="benefits-main-title">
            <h2 data-sly-element="${properties.titleType}">${properties.tileTitle}</h2>
         </div>

         <div class="top">
            <div class="tiles">
               <!--/* benefits Start */-->
               <div class="benefit-tile" data-sly-repeat="${container.items @ begin = 1, end = properties.numberOfItems}" data-sly-resource="${item.name  @ decorationTagName=wcmmode.edit ? 'div' : ''}"></div>
               <!--/* benefits End */-->
            </div>
         </div>
      </div>

      <div data-sly-test="${container.items.size > properties.numberOfItems}" class="benefits-view-more">
         <a class="btn-text btn-green view-more collapsed" data-toggle="collapse" href="#${container.id}" role="button" aria-expanded="false" aria-controls="${container.id}">
            <span data-sly-test="${properties.seeAllTitle}" class="show-more">${properties.seeAllTitle}</span>
            <span data-sly-test="${properties.hideAllTitle}" class="show-less">${properties.hideAllTitle}</span>
         </a>
      </div>

      <div class="bottom collapse" id="${container.id}" aria-expanded="false">

         <div class="tiles">

            <!--/* benefits Start */-->
            <div class="benefit-tile" data-sly-repeat="${container.items @ begin > properties.numberOfItems, end = container.items.size}" data-sly-resource="${item.name  @ decorationTagName=wcmmode.edit ? 'div' : ''}"></div>
            <!--/* benefits End */-->

         </div>
      </div>
   </div>
</template>