<template  data-sly-template.promocard="${ @ properties}">
 <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 pull-right-ar">
                 <sly data-sly-resource="${'par0' @ resourceType='etisalat/components/container'}"> </sly>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                 <sly data-sly-resource="${'par1' @ resourceType='etisalat/components/container'}"> </sly>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                 <sly data-sly-resource="${'par2' @ resourceType='etisalat/components/container'}"> </sly>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <sly data-sly-resource="${'par3' @ resourceType='etisalat/components/container'}"> </sly>
            </div>
        </div>
 </div>
</template>