<template data-sly-template.iconpartnerlogo="${ @ properties,imageViewportModel}">
    <div class="box-card" data-sly-test="${imageViewportModel.sixViewportContent || imageViewportModel.fourViewportContent || imageViewportModel.threeViewportContent || properties.fileReference}">
        <div class="p-logo">
            <div class="cover" data-sly-test="${properties.viewPortLayout != '1-viewport'}">
                <sly data-sly-resource="${resource @ resourceType='etisalat/components/imageetisalatviewport'}"></sly>
            </div>
            <sly data-sly-test="${properties.viewPortLayout == '1-viewport'}" data-sly-resource="${resource @ resourceType='etisalat/components/imageetisalatviewport'}"></sly>
        </div>
    </div>
</template>
