.device-bestseller-dynamic {
  .nv-device-header {
    height: 15rem;
    padding: 1.5rem;
    position: relative;
    text-align: center;

    img {
      max-height: 100%;
      max-width: 100%;
    }

    &.nv-sm {
      height: 11.25rem;
      padding: 12px;
    }
  }

  .nv-special-offer {
    background-color: #ff8000;
    border-radius: 0.25rem;
    color: #fff;
    font-family: Neotech-medium, "GE SS Two", Arial, sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.25px;
    line-height: 0.75rem;
    padding: 0.5rem 0.675rem;
    z-index: 1;
  }
}
