<div class="row cmp_btn" data-sly-list.multifieldObj="${resource.getChildren}">
   <div data-sly-test="${multifieldObj.name == 'storeitems'}">
      <div class="cmp_btn" data-sly-list.gsItems="${multifieldObj.getChildren}">
         <div class="cmp_store_btn wow fadeInUp" data-wow-delay="0.2s" >
            <!-- Store Btn -->
            <a href="${gsItems.btnLink}">
               <i class="${gsItems.icon}"></i>
               <p class="mb-0">
                  <span>${gsItems.btnDesc}</span>${gsItems.btnTitle}
               </p>
            </a>
         </div>
      </div>
   </div>
</div>