.cmp-experiencefragment--footer-1{
    padding: 128px 0 0;
    position: relative;

    &::before {
        background: $white-color url(../resources/images/footer-bg.png) no-repeat;
        background-position: left bottom;
        background-size: contain;
        bottom: 0;
        content: '';
        display: block;
        height: 100%;
        left: 50%;
        position: absolute;
        transform: translateX(-50%);
        width: 100vw;
    }

    @include respond-to-max($tablet) {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 48px;
    }

    >.cmp-container {
        margin: 0 auto;
        max-width: 1140px;
        position: relative;

        >.aem-Grid {
            .container {
                &:first-child {
                    margin-bottom: 132px;

                    @include respond-to-max($tablet) {
                        margin-bottom: 48px;
                    }

                    .cmp-text {
                        h2 {
                            color: $black-color;
                            font-size: 36px;
                            font-weight: bold;
                            padding: 10px 0;
                            position: relative;
                
                            &::before {
                                background-color: $light-gray;
                                border-radius: 1px;
                                content: "";
                                display: block;
                                height: 2px;
                                left: 0;
                                position: absolute;
                                top: 0;
                                width: 80px;
                            }

                            @include respond-to-max($tablet) {
                                font-size: 20px;
                                padding: 16px 0;
                                text-align: center;

                                &::before {
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                            }
                        }
                
                        p {
                            font-size: 20px;
                            font-weight: normal;
                            line-height: 1.75;
                            letter-spacing: 0.5px;
                            color: $black-color;

                            @include respond-to-max($tablet) {
                                font-size: 12px;
                                letter-spacing: 0.3px;
                                text-align: center;
                            }
                        }
                    }
                }

                &:last-child {
                    border-top: 1px solid $light-gray;
                    padding: 48px 0;

                    ul {
                        display: flex;
                        justify-content: flex-end;
                        list-style: none;
                        
                        li {
                            margin-left: 32px;

                            a {
                                font-size: 16px;
                                font-weight: 500;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: normal;
                                letter-spacing: 0.4px;
                                text-align: right;
                                color: $link-color;
                            }
                        }

                        @include respond-to-max($tablet) {
                            justify-content: flex-start;
                            li {
                                margin: 0 32px 0 0;
                            }
                        }
                    }
                    @include respond-to-max($tablet) {
                        padding: 48px 0 16px;
                    }
                }
            }
        }
    }
}

.cmp-experiencefragment--footer-2 {
    padding: 128px 0 0;

    @include respond-to-max($tablet) {
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 48px;
    }

    >.cmp-container {
        margin: 0 auto;
        max-width: 1140px;

        >.aem-Grid {
            border-top: 1px solid $light-gray;
            padding: 48px 0;

            ul {
                display: flex;
                justify-content: flex-end;
                list-style: none;
                
                li {
                    margin-left: 32px;

                    a {
                        font-size: 16px;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: 0.4px;
                        text-align: right;
                        color: $link-color;
                    }
                }

                @include respond-to-max($tablet) {
                    justify-content: flex-start;
                    li {
                        margin: 0 32px 0 0;
                    }
                }
            }
            
            @include respond-to-max($tablet) {
                padding: 48px 0 16px;
            }
        }
    }
}