.cmp-experiencefragment--header {
  left: 0;
  padding: 32px 15px 20px;
  position: fixed;
  top: 0;
  transition: all 0.4s ease-out;
  width: 100%;
  z-index: 99;

  &.cmp-experiencefragment--sticky {
    padding-top: 20px;
    &::before {
      background: $white-color;
      box-shadow: 0 23px 38px 0 rgba(0, 0, 0, 0.09);
    }

    nav {
      .menu {
        li a {
          color: $link-color;
        }
      }

      .menu__icon {
        .hamburger {
            background: $hamburger-blue;
          
          &::before,
          &::after {
            background: $hamburger-blue;
          }
        }
      }
    }

    @include respond-to-max($tablet) {
      padding-bottom: 10px;
      padding-top: 10px;

      .logo--sticky {
        max-width: 42px;
      }
    }
  }

  &::before {
    background: $blue-gradient;
    content: '';
    display: block;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    transition: all 0.4s ease-out;
    width: 100vw;
  }

  .container {
    padding: 0;
  }
  .cmp-container {
    margin: 0 auto;
    max-width: 1140px;
    padding: 0;
  }

  .logo {
    position: relative;
    max-width: 108px;

    @include respond-to-max($tablet) {
      max-width: 50px;
    }

    &--sticky {
      display: none !important;
      max-width: 77px;
      position: relative;
    }
  }
}

