
            <nav>
                <input class="menu__checkbox" type="checkbox" role="Menu" aria-label="Menu" aria-controls="navigation" aria-haspopup="true" id="menu">
                <label class="menu__icon" for="menu"><span class="hamburger"></span></label>
                <ul class="menu" role="menuitem">
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                </ul>
            </nav>
       