<sly>
   <div data-sly-use.model = "com.etisalat.core.models.GenericListModel"></div>
   <h2 class="return-link">${properties.title}</h2>
   <ul data-sly-list.items="${model.GenericListObj}">
      <li>
         <img src=${items.thumbnail}>

<h3>${items.title}</h3>

  <sly data-sly-test= "${properties.showDate}">

          ${'MMM dd,yyyy' @ format=items.offTime}

    </sly>
         <sly data-sly-test= "${properties.showDescription}">
            <p>${items.description}</p>
         </sly>
         <sly>
            <a class="button" href="${items.path @ extension = 'html'}">${properties.viewall}</a>
         </sly>
         <div class="left-menu-title ${currentPage.path == items.path ? 'highlight' : ''}">
            <a href="${items.path @ extension='html'}">${items.title}</a>
         </div>
      </li>
   </ul>
</sly>