<sly>
   <div data-sly-use.model = "com.etisalat.core.models.GenericListModel"></div>
   <sly data-sly-test= "${properties.showtitle}">
      <h2 class="return-link">${properties.title}</h2>
   </sly>
   <div data-sly-test="${properties.title}" class="offer-title">
      <p>${items.title}</p>
   </div>
   <ul data-sly-list.items="${model.genericListObj}">
      <li>
         <img src=${items.thumbnail}>
         <sly data-sly-test= "${properties.showDescription}">
            <p>${items.description}</p>
         </sly>
         <sly data-sly-test= "${properties.showDate}">
            <div class="date">${'DD/MM/YY' @ format=items.offTime}</div>
         </sly>
         <a class="button" href="${items.path @ extension='html'}">${properties.viewall}</a>
         <div class="left-menu-title ${currentPage.path == items.path}">
            <a href="${items.path @ extension='html'}">${items.title}</a>
         </div>
      </li>
   </ul>
</sly>


