<div data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-panelcontainer="${wcmmode.edit && 'Promotional tile'}"
     data-placeholder-text="${wcmmode.edit && 'Please update Global Footprint tile' @ i18n}">

  <sly
      data-sly-call="${templates.placeholder @ isEmpty = !properties.fileReference && !properties.title && !properties.preTitle}">
  </sly>

  <div class="current-promotions-box">
    <div class="icon-wrap">
      <span class="icon-with-bg">
        <div
            data-sly-resource="${resource @ resourceType='core/wcm/components/image/v2/image', wcmmode='disabled'}">
        </div>
      </span>
    </div>
    <div class="title-wrap" data-sly-element="${properties.titleType}">
      ${properties.countryTitle}
    </div>
    <div class="learn-more-wrap">



    
    </div>
  </div>
</div>