
// main-menu and top-nav
$sub-menu-gray:         #ebebeb;
$cart-count-black:      #353738;
$slight-gray:           #edeee6;
$white-gray:            #fbfbfb;
$list-gray:             #9fa0a1;
$light-water-gray:      #e3e5f1;
$nav-black:             #1c1d1e; 
$nav-item-black:        #979797;
$dark-gray2:            #606060;
$white-gray1:           #fafaf4;
$dark-gray:             #6f6c70;
$cust-select:           #ccc;
$select-focus:          #c9f3ef;
$btn-focus:            #2ab7a9;

$gray-primary:          #5A637C;
$green-primary:         #7da830;
$grey-secondary:        #ccd3e6;
$black-secondary:       #2d2f31;
$blue-secondary:        #007aff;
$grey-brass:            #9CA1B0;
$grey-warning:          #ffebd9;
$grey-select:           #aaa;
$green-btn:             #5f8515;
$brown-stroke:          #787878;
$cream-brown:           #e2e2e2;







//*Link Arrow border
$arrow-border : #b2b2b2;

//font color
$paracolor: #767676;

