// sm
$phone: 576px;
$phone-min: 575px;

// md
$tablet: 768px;
$tablet-min: 767px;

// lg
$desktop: 992px;
$desktop-min: 991px;
$screen-lg: 1200px;

// xl
$desktop-wide: 1248px;
$desktop-wide-min: 1247px;

// xl-min
$desktop-large: 1360px;
$custom-width-tab: 767px;
