.hero-banner-placeholder {
  background: $light-grey;

  // Hero Banner 4.0 placeholder heights
  &.herobanner-wst {
    height: 554px;

    @media (min-width: 768px) {
      height: 600px;
    }

    @media (min-width: 992px) {
      height: 500px;
    }
  }

  // Hero Images variations placeholder heights [Hero Banner Old variations]
  &.links-banner {
    height: 560px;
  }

  &.iframe-banner {
    height: 250px;

    @media (min-width: 992px) {
      height: 500px;
    }
  }

  &.block-chain-ends {
    height: 250px;

    @media (min-width: 992px) {
      height: 500px;
    }
  }

  &.banner-page-navigation {
    height: 500px;
  }

  &.call-to-action-banner {
    height: 412px;

    @media (min-width: 992px) {
      height: 363px;
    }
  }

  &.medium-banner {
    height: 200px;

    @media (min-width: 992px) {
      height: 363px;
    }
  }
}

.hero-banner-section.herobanner-wst,
.hero-image-section.hero-images-variation {
  display: none;
}
