$blue-color: #2199e8;
$gray-color:#eff4ff;
$white-color:#fff;
$link-color:#1640a2;
$black-color:#1d1d1e;
$orange-color:#ff9600;
$light-blue-color: #007bff;
$light-gray:#e5eaf4;

$light-gray:#898b8f;
$global-gutter: 16px;
$body-background: $light-gray;
$container-background: $white-color;
$global-font-color: $black-color;


//**Font size
$font11:0.6875rem;
$font12: 0.75rem;
$font14: 0.875rem;
$font16: 1rem;
$font18: 1.125rem;
$font20: 1.25rem;