//Container padding
@media screen and (max-width: 767px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}
.product-grid-text-section {
  &.product-recommend-text {
    .common {
      margin-top: 0;
    }
    .media-cta-4-price .price,
    .media-cta-4-price .vat-wrap {
      display: block;
    }
    .media-cta-4-price .price .value {
      padding-right: 0;
    }
    .media-cta-4-price .vat-wrap {
      margin-top: 0;
      height: auto;
    }
    .btn {
      width: 100% !important;
      height: toRem(48) !important;
    }
    .btn-green {
      background-color: $main-green !important;
    }

    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      display: inline-block;
      border-radius: 100%;
      background: #000;
      opacity: .2;
      padding-top: 0;
    }

    .container {
      padding-left: 0;
      padding-right: 0;
      > div.row {
        padding-left: 0;
        padding-right: 0;
      }
    }
    @media (min-width: 1200px) {
      .container {
        width: 1224px !important;
        padding-left: 12px !important;
        padding-right: 12px !important;
      }
    }
    @media (min-width: 992px) {
      .container {
        width: 976px;
      }
    }
    
    @media (min-width: 768px) {
      .container {
        width: 756px;
        padding-left: 0;
        padding-right: 24px;
      }
    }
  }
}

 
//Filter
.recomended-product-filter {
  .filter-compare-sort-section {
    @media (min-width: 992px) {
      justify-content: flex-start;
    }
    justify-content: end;
    a {
      @media (min-width: 992px) {
        text-align: left;
        cursor: default;
      }
      line-height: 22px;
      font-weight: 500;
      margin-bottom: 24px;
      cursor: pointer;
      text-decoration: none;
      img,
      svg {
        position: relative;
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-right: 4px;
        vertical-align: middle;
      }
    }
  }
  .responsive-filters {
    .show-in-mobile-view-only {
      display: flex;
      flex-direction: column;
      height: 85%;
      justify-content: space-between;

      .apply-reset-section {
        @media (min-width: 992px) {
          display: none;
        }
        display: block;
        .filter-close {
          display: block;
          position: relative;
          margin-right: 0px;
          &:before {
            display: none;
          }
        }
      }
    }
    &.mobileViewActive {
      .filter-compare-sort-section {
        @media (min-width: 992px) {
          display: none;
        }
        .filter-close {
          &::before {
            display: none;
          }
          svg {
            width: 10px;
            height: 10px;
          }
        }
      }
    }
    .category-list-wrap {
      ul {
        li {
          &.active {
            > .checkboxes-wrap {
              label {
                font-weight: bold;
                color: #353738;
              }
            }
          }
          input[type="radio"]:checked + label:before,
          .radio-wrap input[type="radio"]:checked + label:before {
            background-image: url(../../assets/img/wst-icons/icon-checkbox-selected.png) !important;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }

  .category-list-wrap ul li:nth-child(n+7) {
    display: block;
  }

}
  
//Bussiness Cover
.software-bussiness-cover {
  @media (min-width: 992px) {
    padding: 32px 0px;
  }
  @media (max-width: 767px) {
    padding-left: 4px;
    padding-right: 4px;
  }
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 24px 0px;
  background: linear-gradient(
    45.17deg,
    rgba(113, 158, 25, 0.1) 0%,
    rgba(113, 158, 25, 0) 100%
  );
  .wst-main-headings {
    h4 {
      margin-bottom: 8px;
      @media (max-width: 991px) {
        font-size: 20px;
        line-height: 25px;
      }

      //    @media(min-width: 992px){
      //     font-size: 28px !important;
      //     line-height: 34px !important;
      //    }
    }
  }
  .paragraph-styling {
    .p2 {
      p {
        margin-bottom: 0px;
        color: #848789;
        @media (max-width: 991px) {
          font-size: 12px !important;
          line-height: 16px !important;
        }
        // @media(min-width: 992px){
        //     font-size: 16px !important;
        //     line-height: 24px !important;
        // }
      }
    }
  }
  svg,
  img {
    @media (min-width: 992px) {
      height: 122px;
      width: 140px;
    }
    position: absolute;
    right: 0px;
    top: 0px;
    content: "";
    height: 72px;
    width: 76px;

    // background: linear-gradient(34.21deg, #719E19 0%, #FFFFFF 100%);
  }
}

//Product Without Logo
.product-wrapper {
  .swiper-pagination {
    @media (min-width: 992px) {
      display: none;
    }
    position: relative;
    margin-top: 32px;
    .swiper-pagination-bullet-active {
      opacity: 1;
      background: #719e19;
    }
  }
  &.product-col-3 {
    display: grid;
    grid-gap: 16px;
    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 992px) {
      grid-gap: 24px;
      grid-template-columns: repeat(3, 1fr);
    }
    .product-card-box {
      .content-wrapper {
        .content {
          .third-action-wrapper {
            @media (min-width: 1025px) {
              margin: 0 50px;
            }
          }
        }
      }
    }
  }
  &.product-col-4 {
    display: grid;
    grid-gap: 16px;
    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 992px) {
      grid-gap: 24px;
      grid-template-columns: repeat(4, 1fr);
    }
    .product-card-box {
      .content-wrapper {
        .content {
          .third-action-wrapper {
            @media (min-width: 1025px) {
              margin: 0 24px;
            }
          }
        }
      }
    }
  }
  .product-card-box {
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
    .img-wrap {
      //mobiile screen
      height: 186px;
      background-color: #719e190d;
      position: absolute;
      top: 0;
      width: 100%;
      border-radius: 8px 8px 0 0;
      overflow: hidden;
      z-index: 0;

      @media (min-width: 992px) {
        height: 210px;
        background-color: #719e191a;
      }
      img,
      svg {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
      }
    }
    .content-wrapper {
      position: relative;
      z-index: 10;
      .content {
        .product-special-offer {
          //mobiile screen
          border-radius: 0 0 8px 8px;
          background-color: #ffcb00;
          width: 133.79px;
          color: #353738;
          font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
          font-size: 10px;
          font-weight: bold;
          letter-spacing: 2px;
          line-height: 14px;
          text-align: center;
          display: none;
          padding: 9px 24px;
          position: absolute;
          left: 50%;
          top: 0px;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          transform: translateX(-50%);

          @media (min-width: 992px) {
            width: 162px;
            font-size: 12px;
            line-height: 16px;
            padding: 8px 24px;
          }
        }
        .product-head {
          h3 {
            //mobiile screen
            color: #353738;
            font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif;
            font-size: 18px;
            letter-spacing: 0;
            line-height: 23px;
            text-align: center;
            margin: 48px 24px 8px;
            height: 46px;

            @media (min-width: 992px) {
              margin: 48px 24px 16px;
              line-height: 25px;
              height: 50px;
              font-size: 20px;
            }
          }
        }
        .price-and-action {
          .media-cta-4-price {
            //mobiile screen
            // padding-bottom: 8px;
            padding-bottom: 16px;

            // @media(min-width: 768px){
            //     padding-bottom: 16px;
            // }

            .price {
              text-align: center;
              .value,
              .aed {
                display: inline-block;
              }
              .value {
                //mobiile screen
                color: #353738;
                font-family: Neotech-medium, GE SS Two, Roboto, Arial,
                  sans-serif;
                font-size: 24px;
                letter-spacing: 0;
                line-height: 30px;
                font-weight: bold;

                @media (min-width: 992px) {
                  line-height: 40px;
                  font-size: 32px;
                }
              }
              .aed {
                //mobiile screen
                color: #353738;
                font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
                font-size: 12px;
                letter-spacing: 1.71px;
                line-height: 14px;
                font-weight: bold;

                @media (min-width: 992px) {
                  letter-spacing: 0;
                  font-size: 14px;
                }
              }
            }
            .vat-wrap {
              .vat {
                //mobiile screen
                color: #353738;
                font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
                font-size: 12px;
                letter-spacing: 0;
                line-height: 14px;
                display: block;
                text-align: center;

                @media (min-width: 992px) {
                  margin-top: 2px;
                  font-size: 14px;
                }
              }
            }
          }
        }
        .third-action-wrapper {
          margin: 0 24px;
        }
        .product-text {
          //mobiile screen
          //padding: 28px 16px 30px 16px;
          padding: 24px 16px;

          // @media(min-width: 992px){
          //     padding: 24px 16px;
          // }
          p {
            //mobiile screen
            color: #848789;
            font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 20px;
            text-align: center;
            margin: 0px;

            @media (min-width: 992px) {
              font-size: 16px;
            }
          }
        }
        .product-list-text {
          //mobiile screen
          padding: 0px 8px;
          ul {
            padding: 0px;
            li {
              padding: 16px 28px;
              color: #353738;
              font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
              font-size: 14px;
              letter-spacing: 0;
              line-height: 20px;
              border-bottom: 1px solid rgba(164, 167, 169, 0.4);
              position: relative;
              &::before {
                background-image: url("/assets/img/product-card/prod-circle-icon.svg");
                background-repeat: no-repeat;
                height: 15px;
                width: 15px;
                border-radius: 100px;
                content: "";
                left: 0px;
                position: absolute;
                margin-right: 16px;
                margin-top: 3px;
                line-height: 14px;
                text-align: center;
              }
              &.list-strick {
                text-decoration: line-through;
                &::before {
                  content: "";
                  color: #be1218;
                  background-image: url("/assets/img/product-card/product-close-icon.svg");
                  background-repeat: no-repeat;
                }
              }
            }
          }
        }
        .prod-default {
          display: none;
        }
        .anchor-more {
          text-align: center;
          padding-right: 1.5rem;
          position: relative;
          display: flex;
          justify-content: center;
          margin-bottom: 24px;
          span {
            position: relative;
            padding-right: 15px;
            color: #353738;
            font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
            font-size: 14px;
            letter-spacing: 2px;
            line-height: 20px;
            &:before {
              transform: translateY(-80%) rotate(45deg);
              -webkit-transform: translateY(-80%) rotate(45deg);
              right: 3px;
              border: solid #353738;
              border-width: 0 1px 1px 0;
              padding: 2.7px;
              content: "";
              position: absolute;
              line-height: 1;
              transition: all 0.3s ease-in-out;
              top: 12px;
            }
            &.less {
              display: none;
            }
          }
          &.active {
            span {
              &::before {
                transform: translateY(-80%) rotate(-135deg);
                -webkit-transform: translateY(-80%) rotate(-135deg);
                top: 14px;
              }
            }
          }
        }
        .product-include-app {
          .product-include-app-inner {
            border-radius: 0 0 8px 8px;
            background-color: #f2f2f24d;
            padding: 32px 24px 20px 24px;
            display: none;
            h3 {
              color: #3c3f40;
              font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
              font-size: 16px;
              letter-spacing: 0;
              line-height: 19px;
              text-align: center;
              padding-bottom: 24px;
              margin: 0px;
            }
            .app-box {
              display: flex;
              flex-wrap: wrap;
              text-align: center;
              .product-app {
                padding-bottom: 24px;
                .app-name {
                  color: #353738;
                  font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
                  font-size: 14px;
                  letter-spacing: 0;
                  line-height: 20px;
                  text-align: center;
                  span {
                    display: block;
                  }
                  img,
                  svg {
                    display: block;
                    margin: 8px auto;
                  }
                }
              }
            }
            &.service-include {
              padding: 0px 24px 32px 24px;
            }
          }
        }
      }
    }
    &.with-buttelt {
      height: auto;
      .content-wrapper {
        .content {
          .product-list-text {
            display: block;
          }
          .prod-default {
            padding: 8px 0px 32px;
            display: block;
          }
        }
      }
    }
    &.offer {
      .img-wrap {
        background-color: #ff80001a;
      }
      .content-wrapper {
        .content {
          .product-special-offer {
            display: block;
          }
          .price-and-action {
            .third-action-wrapper {
              .btn-green {
                background-color: #ff8000;
                border-color: #ff8000;
                &:hover,
                &:focus {
                  // background-color: #5f8515;
                  // border-color: #5f8515;
                }
              }
            }
          }
        }
      }
    }
  }
}

// Product With Logo

.product-wrapper-logo {
  &.product-col-3 {
    display: grid;
    grid-gap: 16px;
    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 992px) {
      grid-gap: 24px;
      grid-template-columns: repeat(3, 1fr);
    }
  }
  &.product-col-4 {
    display: grid;
    grid-gap: 16px;
    @media (min-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 992px) {
      grid-gap: 24px;
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .product-logo-card-box {
    flex: 1 0 0%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 8px;
    background-color: #ffffff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    .product-logo {
      //mobile screen
      padding: 24px 24px 16px 24px;
      position: relative;

      @media (min-width: 992px) {
        padding: 24px 24px 24px 24px;
      }

      .img-wrap {
        //mobile screen
        position: relative;
        height: 80px;
        border: 1px solid #f2f2f2;
        border-radius: 4px;

        @media (min-width: 992px) {
          height: 121px;
        }

        svg,
        img {
          max-height: 100%;
          max-width: 85%;
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
      .most-popular {
        //mobile screen
        position: absolute;
        left: 50%;
        z-index: 10;
        top: 12px;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        transform: translateX(-50%);
        border-radius: 4px;
        background-color: #ffcb00;
        width: 134px;
        color: #353738;
        font-family: Lato;
        padding: 4px;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 2px;
        line-height: 14px;
        text-align: center;
        display: none;

        @media (min-width: 992px) {
          width: 149px;
          line-height: 16px;
          font-size: 12px;
        }
      }
    }
    .content-wrapper {
      //mobile screen
      padding: 0 24px 0px 24px;
      flex: 1 1 auto;
      .content {
        flex-grow: 1;
        .product-head {
          //mobile screen
          color: #353738;
          font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif;
          font-size: 20px;
          letter-spacing: 0;
          line-height: 25px;
          margin: 0px;
          margin-bottom: 8px;

          @media (min-width: 992px) {
            font-size: 24px;
            margin-bottom: 16px;
            line-height: 30px;
          }
        }
        .product-description {
          //mobile screen
          color: #848789;
          font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
          font-size: 12px;
          letter-spacing: 0;
          line-height: 16px;
          margin-bottom: 16px;

          @media (min-width: 992px) {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 40px;
          }
        }
      }
    }
    .content-footer {
      .product-price-wrapper {
        //mobile screen
        padding: 0 24px 16px 24px;

        @media (min-width: 992px) {
          padding: 0 24px 24px 24px;
        }

        .from {
          //mobile screen
          color: #6f7273;
          font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
          font-size: 12px;
          letter-spacing: 0;
          line-height: 15px;
          margin-bottom: 4px;

          @media (min-width: 992px) {
            line-height: 17px;
            font-size: 14px;
            margin-bottom: 0px;
          }
        }
        .price {
          color: #719e19;
          .price-value {
            //mobile screen
            color: #719e19;
            font-family: Neotech-medium, GE SS Two, Arial, sans-serif;
            font-size: 20px;
            letter-spacing: 0;
            line-height: 25px;

            @media (min-width: 992px) {
              line-height: 40px;
              font-size: 32px;
            }
          }
          .price-currency {
            //mobile screen
            color: #719e19;
            font-family: Lato;
            font-size: 10px;
            letter-spacing: 0;
            line-height: 12px;

            @media (min-width: 992px) {
              font-size: 0.875rem;
              line-height: 17px;
            }
          }
        }
        .price-vat {
          //mobile screen
          color: #6f7273;
          font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
          font-size: 12px;
          letter-spacing: 0;
          line-height: 15px;
          margin-top: 4px;

          @media (min-width: 992px) {
            line-height: 17px;
            margin-top: 5px;
            font-size: 14px;
          }
        }
      }
      .btn {
        //mobile screen
        color: #ffffff;
        font-family: Lato;
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 4px;
        line-height: 18px;
        text-align: center;
        border-radius: 0 0 8px 8px;
      }
    }
    &.offer {
      .product-logo {
        .most-popular {
          display: block;
        }
      }
    }
  }
}
.product-wrapper-logo .product-logo-card-box {
  display: none;
}

.office-productivity {
  .wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    @media (min-width: 768px) {
      flex-direction: row;
    }

    .content {
      @media (min-width: 768px) {
        width: 336px;
      }
      @media (min-width: 992px) {
        width: 486px;
      }
      left: 0px;
      width: 100%;

      background-color: #fff;
      box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.2);
      .office-productivity-box {
        background-color: #ffffff;
        position: relative;
        z-index: 100;
        padding: 24px 16px;
        @media (min-width: 768px) {
          padding: 40px 24px;
        }
        @media (min-width: 992px) {
          padding: 40px;
        }
        .btn {
          @media (min-width: 992px) {
            width: 242px;
          }
        }
      }
    }
    .img-wrap {
      @media (min-width: 768px) {
        width: 463px;
        height: 328px;
        position: absolute;
      }
      @media (min-width: 992px) {
        width: 792px;
      }
      position: relative;
      right: 0px;
      height: 180px;
      width: 100%;
      background-color: #243b51;
      svg,
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.product-wrapper-inner {
  .wst-main-headings {
    h5 {
      @media (min-width: 992px) {
        line-height: 24px;
        margin-bottom: 8px;
      }
      line-height: 25px;
      margin-bottom: 14px;
    }
  }
  .paragraph-styling {
    .p2 {
      p {
        @media (min-width: 992px) {
          line-height: 24px !important;
          margin-bottom: 24px !important;
        }
        margin-bottom: 16px !important;
      }
    }
  }
  .swiper-container {
    padding-bottom: 10px;
  }
  .product-grid-text-section {
    &.plans {
      > .container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
    }
  }
}

.most-recommended-products {
  .swiper-wrapper.common {
    @media (min-width: 992px) {
      display: grid;
      grid-gap: 24px;
      grid-template-columns: repeat(3,1fr);
    }
  }
}

*[lang="ar"] {
  *[dir="rtl"] {
    .responsive-filters.mobileViewActive {
      .filter-close {
        right: initial;
        left: 0;
        margin: 0 0 0 1rem;
      }
    }
    .software-bussiness-cover {
      svg,
      img {
        transform: rotate(270deg);
        left: 0px;
        right: auto;
      }
    }

    .product-wrapper {
      .product-card-box {
        .content-wrapper {
          .content {
            .product-list-text {
              ul {
                li {
                  &:before {
                    left: auto;
                    right: 0px;
                    margin-right: 0px;
                    margin-left: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
  