.smart-home-elife-slider {
  .nv-card-contentLeft {
    padding-left: 0;
    @include respond-to-max($tablet - 1) {
      padding-right: 0;
    }
    @include rtlBlock() {
      padding-right: 0;
    }
  }

  .nv-card-contentRight {
    padding-right: 0;
    @include rtlBlock() {
      padding-left: 0;
    }
    .swiper-scrollbar {
      @include respond-to-min($tablet) {
        left: 1.5% !important;
      }
      width: 97% !important;
    }
  }

  .main-text-section {
    padding: 1.5rem 0;
    @include respond-to-min($desktop) {
      padding: 3rem 0;
    }

    .main-text-action-wrapper {
      .btn-text.btn-green {
        @include respond-to-max($desktop - 1) {
          font-size: $font12;
          &::before {
            padding: 2.6px;
          }
        }
        @include rtlBlock() {
          @include font-family-lato;
          letter-spacing: 2px !important;
          &::before {
            right: auto;
            left: -20px;
            transform: translateY(-50%) rotate(135deg);
          }
        }
      }
    }

    .paragraph-styling {
      .p1 p {
        color: $gray-text-color;
      }
      ul {
        @include rtlBlock() {
          margin-right: 1rem;
          margin-left: 0;
        }
        li {
          @include rtlBlock() {
            padding-left: 0;
            padding-right: 1.5rem;
          }
        }
      }
    }
  }
  .swiper-container-slider {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .swiper-slide {
    text-align: left;
    height: auto;
    @media (min-width: 540px) {
      padding: 0 12px;
    }
  }
  .main-text-section {
    .wst-main-headings {
      margin-bottom: 24px;
    }
  }

  .price-vat .old-price {
    display: none;
  }
  .offer {
    .price-vat .old-price {
      display: inline-block;
    }
  }

  .special-offers {
    position: absolute;
    top: 2px;
    font-size: 0.75rem;
    font-family: Neotech-medium, GE SS Two, Arial, sans-serif;
    background-color: #ff8000;
    letter-spacing: 0.25px;
    color: #fff;
    line-height: 0.75rem;
    font-weight: 500;
    left: 1.5rem;
    padding: 8px 10px;
    border-radius: 0 0 4px 4px;
    z-index: 9;
  }

  .home-slider-controls {
    position: relative;
    height: 44px;
    @media (max-width: 991px) {
      display: none;
    }
    .prev,
    .next {
      cursor: pointer;
      position: absolute;
      top: 0;
      width: 44px;
      height: 44px;
      display: flex;
      align-items: center;
      border-radius: 100%;
      line-height: 44px;
      box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.08);
      &.swiper-button-disabled {
        background: #fff;
        cursor: not-allowed;
        &:after {
          transform: rotate(-224deg);
          border: solid #719e19;
          left: 15px;
        }
      }
      &:after {
        content: "";
        display: block;
        width: 12px;
        /* right: 3px; */
        border: solid #ffffff;
        border-width: 0 2px 2px 0 !important;
        padding: 7px;
        position: absolute;
        line-height: 1;

        /* -webkit-transform: translateY(-20%) rotate(-135deg); */
        /* top: 50%; */
        transition: all 0.3s ease-in-out;
        margin-right: 36px;
        /* background: red; */
        margin: 0;
        left: 9px;
      }
    }
    .next {
      background: #719e19;
      left: 68px;
      &:after {
        border: solid #ffffff;
        transform: rotate(-45deg);
      }
      &.swiper-button-disabled {
        &:after {
          transform: rotate(-45deg);
          left: 9px;
        }
      }
    }
    .prev {
      background: #719e19;
      &:after {
        border: solid #ffffff;
        transform: rotate(-224deg);
        left: 15px;
      }
    }
  }
}

*[lang="ar"] {
  *[dir="rtl"] {
    .smart-home-elife-slider {
      .special-offers {
        left: auto;
        right: 1.5rem;
      }
      .nv-card {
        text-align: right;
      }
    }

    .smart-home-elife-slider .home-slider-controls .next:after {
      border: solid #fff;
      transform: rotate(-224deg);
      left: 15px;
    }
    .smart-home-elife-slider .home-slider-controls .next.swiper-button-disabled:after {
      border: solid #719e19;
      left: 15px;
      transform: rotate(-224deg);
    }
    .smart-home-elife-slider .home-slider-controls .next {
      left: auto;
      right: 68px;
    }

    .smart-home-elife-slider .home-slider-controls .prev:after {
      border: solid #ffffff;
      transform: rotate(-45deg);
      left: 9px;
    }
    .smart-home-elife-slider .home-slider-controls .prev.swiper-button-disabled:after {
      transform: rotate(-45deg);
      border: solid #719e19;
      left: 9px;
    }
  }
}
