/* stylelint-disable*/

.default--bg {
  .context-navigation {
    padding-top: toRem(56);
    padding-bottom: toRem(56);
  }
}

.context-navigation {
  //margin-bottom: 100px; please use spacer classes
  @include respond-to-max($tablet) {
    margin: 0 0 20px 0;
  }

  &.more-value {
    //margin: 100px 0px; please use spacer classes
    @include respond-to-max($tablet) {
      margin: 0 0 20px 0;
      & > .pt-100 {
        padding-top: 40px;
      }
    }
  }

  &.two-col-static,
  &.one-col-static,
  &.three-col-static {
    .row-tiles-table.row {
      display: flex;
      align-items: center;
      justify-content: center;

      @include respond-to-max($tablet) {
        display: block;

        .swiper-slide {
          margin-bottom: 40px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }

  &.with-bg {
    background-color: $module-bg-color;
    padding: 3.5rem 0;
  }

  .content-detail {
    h3 {
      font-size: 2rem;
      color: $almost-black;
      font-weight: 400;
      margin: 0;
      margin-bottom: 1.5rem;

      @include respond-to-max($tablet) {
        font-size: 26px;
        line-height: 33px;
        margin-bottom: 1rem;
      }
    }

    p {
      margin-bottom: 50px;
      color: $paracolor;
      font-size: 1rem;
      line-height: 1.5rem;
      @include font-family-lato;
      text-align: center;

      @include respond-to-max($tablet) {
        margin-bottom: 1.5rem;
      }
    }

    @include respond-to-min($tablet) {
      > h3 {
        margin-bottom: 125px;
      }
      > h3 + p {
        margin-top: -100px;
      }
    }
  }

  .view-accessories {
    padding: 0 1rem;
    margin-top: 2.5rem;
    display: none;

    @include respond-to-max($custom-width-tab) {
      display: block;
    }
  }

  .swiper-container {
    &.destroyed {
      @include respond-to-max($tablet) {
        .table-swiper-button-prev,
        .table-swiper-button-next {
          display: none;
        }

        .swiper-wrapper {
          display: block;

          .swiper-slide {
            margin-bottom: 40px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  &.no-icon {
    padding: 60px 0 80px 0;

    & > h3 {
      margin: 0 0 90px 0;
    }
  }

  .swiper-slide,
  .swiper-wrapper {
    transform-style: inherit;
  }
}

.bg-cards {
  position: relative;

  .swiper-slide {
    background: transparent;
  }
}

.context-navigation-cards {
  &.context-navigation-swiper2 {
    .justify-center {
      justify-content: center;

      .swiper-slide {
        width: auto;
      }
    }
  }

  .row-tiles-table {
    position: relative;

    .swiper-container {
      .swiper-slide {
        @include respond-to-min-max($desktop-min, $tablet) {
          padding-left: 50px;
          padding-right: 50px;
        }
      }
    }

    .table-swiper-button-next {
      @media (max-width: 768px) {
        right: 1rem !important;
      }

      @media (min-width: 768px) {
        right: 0 !important;
      }

      @media (min-width: 1024px) {
        right: -1rem !important;
      }

      @media (min-width: 1248px) {
        right: 0 !important;
      }

      @media (min-width: 1366px) {
        right: -1rem !important;
      }
    }

    .table-swiper-button-prev {
      @media (max-width: 768px) {
        left: 1rem !important;
      }

      @media (min-width: 768px) {
        left: 0 !important;
      }

      @media (min-width: 1024px) {
        left: -1rem !important;
      }

      @media (min-width: 1248px) {
        left: 0 !important;
      }

      @media (min-width: 1366px) {
        left: -1rem !important;
      }
    }

    .table-swiper-button-next,
    .table-swiper-button-prev {
      bottom: 30%;
      width: 1.3rem;
      height: 1.3rem;

      svg {
        stroke: $dark-gray;
      }
    }
  }
}

.bring-value-card-wrapper {
  justify-content: center;
  .bring-value-card {
    max-width: 19.375rem;

    .btn-text {
      font-size: 14px;

      &:before {
        padding: 3.5px;
        right: -20px;
      }
    }

    .heading {
      height: 32px;
      margin-bottom: 1rem;
    }

    .heading + a.btn-text {
      display: inline-block;
      margin-top: 0.5rem;
    }

    .description {
      height: 54px;
      margin-bottom: 1rem;

      @include respond-to-max($tablet) {
        height: 24px;
        margin-bottom: 1.5rem;
      }
    }

    .bring-value-card-icon {
      width: 4.4375rem;
      height: 4.4375rem;
      margin: auto;
      margin-bottom: 2.2rem;
      display: block;

      @include respond-to-max($tablet) {
        margin-bottom: 1.65rem;
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }

    h4 {
      font-size: 1.5rem;
      margin-bottom: 0.65rem;
      margin-top: 0px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $almost-black;
    }

    p {
      color: $steel-grey;
      font-size: 0.875rem;
      line-height: 24px;
      margin: 0;

      @include respond-to-max($tablet) {
        margin-bottom: 1.5rem;
      }
    }

    &.full-width {
      max-width: none;

      p {
        font-size: 1rem;
      }

      strong {
        font-size: 1rem;
      }
    }
  }
}

.no-icon.left-align {
  .bring-value-card-wrapper {
    justify-content: left;
    text-align: left;
    padding: 0;
  }
}

//mobile
@include respond-to-max($tablet) {
  .bring-value-card-wrapper {
    justify-content: center;
    .bring-value-card {
      max-width: 100%;
    }
  }
}

//mobile
@media (max-width: 1024px) {
  .context-navigation-cards {
    &.context-navigation-swiper2 {
      .justify-center {
        justify-content: start;

        .swiper-slide {
          width: auto;
        }
      }
    }
  }
}

.context-navigation-cards .swiper-wrapper .swiper-slide:nth-child(1n + 4) {
  @media (max-width: 767px) {
    display: none;
  }
}

*[lang="ar"] {
  *[dir="rtl"] {
    .bring-value-card-wrapper .bring-value-card .bring-value-card-icon {
      direction: ltr;
    }
  }
}
