<sly data-sly-use.imageViewportModel="com.etisalat.core.models.ImageViewportModel"  
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
     data-sly-set.viewports = "${imageViewportModel.sixViewportContent || imageViewportModel.fourViewportContent || imageViewportModel.threeViewportContent || properties.fileReference}">        
	<div class="promo-grid-tile-4-0 expo-tile expo-tile__${properties.expoPromoTilevariation} promo-grid-popup bg-overlay-promo bg-lighter-filler">
	  <div class="cover">
	    <sly data-sly-resource="${resource @ resourceType='etisalat/components/imageetisalatviewport'}"></sly>
	  </div>
	  <div class="grid-content darkBg">
	    <a data-sly-test="${properties.expoPromoCTATitle}" class="btn-text learn-more hidden-xs">
	      <span>${properties.expoPromoCTATitle}</span>
	    </a>
	    <h1>${properties.expoPromoTitle}</h1>
	  </div>
	  <div class="grid-content-back darkBg">		  
		    <a class="btn-text learn-more hidden-xs">
		      <span>${properties.ctatext}</span>
		    </a> ${properties.text @ context='html'}		  
	  </div>
	</div>
</sly>
<sly data-sly-test=${wcmmode.edit} data-sly-call="${templates.placeholder @ isEmpty = !viewports}"></sly>