<template data-sly-template.expoPromoModal="${ @ component,properties}">	
	<sly data-sly-test="${properties.tileLinkBehavior == 'openmodalwindow'}">	 
	  <div class="tile-connectivity-popup pop-up" id="${component.id}">
	    <div class="" role="document">
	      <div class="modal-content">	       
	          <sly data-sly-use.closebuttonTemplate="/apps/etisalat/components/button/closebutton.html" 
	               data-sly-call="${closebuttonTemplate.close}"></sly>
	          <sly data-sly-resource="${resource @ resourceType='core/wcm/components/experiencefragment/v1/experiencefragment', wcmmode='disabled'}"></sly>	        
	      </div>
	    </div>
	  </div>
	</sly>
</template>