/* stylelint-disable*/
.intro-text-2column {
  .container {
      @media (max-width:767px) {
          padding-left: 16px;
          padding-right: 16px;

          .row [class^="col-"] {
              padding-left: 16px;
              padding-right: 16px;
          }

          .row {
              margin-left: -16px;
              margin-right: -16px;
          }
      }
  }

  @media (min-width: $screen-md-min) {
      padding: 64px 0;
  }

  position: relative;
  padding: 48px 0;
  overflow: hidden;

  .intro-text-wrapper {
      @media (min-width: $screen-md-min) {
          margin-top: 24px;
      }

      display: flex;
      justify-content: center;

      .col-two {
          @media (min-width: $screen-sm-min) {
              gap: 24px;
          }

          @media (max-width: $screen-sm-min) {
              column-count: 1;
          }
      }
  }

  .ed-headings-2-0 {
      margin-bottom: 16px;
  }

  .ed-subheadings-2-0 {
      margin-bottom: 16px;
  }

  .ed-paragraph-2-0 {
      margin-bottom: 16px;
  }

  .ed-subheadings-2-0 {
      h5 {
          font-weight: 500;
      }

  }
}
