src/main/content/jcr_root/apps/etisalat/clientlibs/clientlib-site
src/main/content/jcr_root/apps/etisalat/clientlibs/clientlib-dependencies
src/main/content/jcr_root/apps/etisalat/clientlibs/clientlib-careers
src/main/content/jcr_root/apps/etisalat/clientlibs/clientlib-dynamic-modules
src/main/content/jcr_root/apps/etisalat/clientlibs/clientlib-etisalat
src/main/content/jcr_root/apps/etisalat/clientlibs/clientlib-ewallet
src/main/content/jcr_root/apps/etisalat/clientlibs/clientlib-fivemobile
src/main/content/jcr_root/apps/etisalat/clientlibs/clientlib-futurenow
src/main/content/jcr_root/apps/etisalat/clientlibs/clientlib-global
src/main/content/jcr_root/apps/etisalat/clientlibs/clientlib-gochat
src/main/content/jcr_root/apps/etisalat/clientlibs/clientlib-hiuapp
src/main/content/jcr_root/apps/etisalat/clientlibs/clientlib-corecomponent
src/main/content/jcr_root/apps/etisalat/clientlibs/clientlib-base
