<template data-sly-template.rightArrow="${ @ properties}">
   <!-- Control Arrows for carousel-->
   <div class="next right0">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
         <g fill="none" fill-rule="evenodd">
            <rect width="48" height="48" fill="#000" fill-rule="nonzero" opacity=".2" rx="24"></rect>
            <g>
               <path d="M0 0H24V24H0z" transform="matrix(-1 0 0 1 36 12)"></path>
               <g stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M.511 5.28L17.462 5.28M5.281 10.369L.5 5.281 5.588.5"
                        transform="matrix(-1 0 0 1 36 12) translate(3 7)"></path>
               </g>
            </g>
         </g>
      </svg>
   </div>
</template>
<template data-sly-template.leftArrow="${ @ properties}">
   <!-- Control Arrows for carousel-->
   <div class="prev left0 swiper-button-disabled">
      <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48">
         <g fill="none" fill-rule="evenodd">
            <rect width="48" height="48" fill="#000" fill-rule="nonzero" opacity=".2" rx="24"></rect>
            <g>
               <path d="M0 0H24V24H0z" transform="translate(12 12)"></path>
               <g stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                  <path d="M.511 5.28L17.462 5.28M5.281 10.369L.5 5.281 5.588.5"
                        transform="translate(12 12) translate(3 7)"></path>
               </g>
            </g>
         </g>
      </svg>
   </div>
</template>
<template data-sly-template.leftAngle="${ @ properties}">
   <!-- Control Arrows for carousel-->
   <div class="next right0 next-with--topcarousel">
      <svg width="28" height="28" viewBox="0 0 32 64" version="1.1" xmlns="http://www.w3.org/2000/svg" data-bearing="e" style="transition: all 200ms ease-in-out 0s;">
         <path fill="none" stroke="#000" stroke-width="5" stroke-linecap="round" d="M6,7 L26,30 C27,31 27,32 26,33 L6,57" style="transition: all 200ms ease-in-out 0s;"></path>
      </svg>
   </div>
</template>
<template data-sly-template.rightAngle="${ @ properties}">
   <!-- Control Arrows for carousel-->
   <div class="prev left0 swiper-button-disabled prev-with--topcarousel">
      <svg width="28" height="28" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
         <path fill="#000" stroke="#000" stroke-width="5" stroke-linecap="round" d="M351,9a15,15 0 01 19,0l29,29a15,15 0 01 0,19l-199,199l199,199a15,15 0 01 0,19l-29,29a15,15 0 01-19,0l-236-235a16,16 0 01 0-24z"></path>
      </svg>
   </div>
</template>