<template  data-sly-template.threeViewport="${ @ imageViewport}">
    <source data-sly-test="${imageViewport.retinaImage414px1x && !imageViewport.retinaImage414px2x}" 
          srcset="${imageViewport.retinaImage414px1x}" media="(max-width: 414px)">
    <source data-sly-test="${!imageViewport.retinaImage414px1x && imageViewport.retinaImage414px2x}" 
          srcset="${imageViewport.retinaImage414px2x}" media="(max-width: 414px)">
    <source data-sly-test="${imageViewport.retinaImage414px1x && imageViewport.retinaImage414px2x}" 
          srcset="${imageViewport.retinaImage414px1x} 1x, ${imageViewport.retinaImage414px2x} 2x" media="(max-width: 414px)">
    <source data-sly-test="${imageViewport.retinaImage768px1x && !imageViewport.retinaImage768px2x}" 
          srcset="${imageViewport.retinaImage768px1x}" media="(max-width: 768px)">
    <source data-sly-test="${!imageViewport.retinaImage768px1x && imageViewport.retinaImage768px2x}" 
          srcset="${imageViewport.retinaImage768px2x}" media="(max-width: 768px)">
    <source data-sly-test="${imageViewport.retinaImage768px1x && imageViewport.retinaImage768px2x}" 
          srcset="${imageViewport.retinaImage768px1x} 1x, ${imageViewport.retinaImage768px2x} 2x" media="(max-width: 768px)">
    <source data-sly-test="${imageViewport.retinaImage992px1x && !imageViewport.retinaImage992px2x}" 
          srcset="${imageViewport.retinaImage992px1x}" media="(max-width: 992px)">
    <source data-sly-test="${!imageViewport.retinaImage992px1x && imageViewport.retinaImage992px2x}" 
          srcset="${imageViewport.retinaImage992px2x}" media="(max-width: 992px)">
    <source data-sly-test="${imageViewport.retinaImage992px1x && imageViewport.retinaImage992px2x}" 
          srcset="${imageViewport.retinaImage992px1x} 1x, ${imageViewport.retinaImage992px2x} 2x" media="(max-width: 992px)"> 
   <img data-sly-test="${imageViewport.retinaImage992px1x && !imageViewport.retinaImage992px2x}" 
        src="${imageViewport.retinaImage992px1x}" class="${!wcmmode.edit ? 'cover' : ''} lazyloaded" 
        alt="${imageViewport.threeViewPortAltText || true}">
   <img data-sly-test="${!imageViewport.retinaImage992px1x && imageViewport.retinaImage992px2x}" 
        src="${imageViewport.retinaImage992px2x}" class="${!wcmmode.edit ? 'cover' : ''} lazyloaded" 
        alt="${imageViewport.threeViewPortAltText || true}">
   <img data-sly-test="${imageViewport.retinaImage992px1x && imageViewport.retinaImage992px2x}" 
        src="${imageViewport.retinaImage992px2x}" class="${!wcmmode.edit ? 'cover' : ''} lazyloaded" 
        alt="${imageViewport.threeViewPortAltText || true}">
</template>