<template  data-sly-template.fourViewport="${ @ imageViewport}">
    <source data-sly-test="${imageViewport.retinaImage414px1x && !imageViewport.retinaImage414px2x}" 
          srcset="${imageViewport.retinaImage414px1x}" media="(max-width: 414px)">
    <source data-sly-test="${!imageViewport.retinaImage414px1x && imageViewport.retinaImage414px2x}" 
          srcset="${imageViewport.retinaImage414px2x}" media="(max-width: 414px)">
    <source data-sly-test="${imageViewport.retinaImage414px1x && imageViewport.retinaImage414px2x}" 
          srcset="${imageViewport.retinaImage414px1x} 1x, ${imageViewport.retinaImage414px2x} 2x" media="(max-width: 414px)">
    <source data-sly-test="${imageViewport.retinaImage540px1x && !imageViewport.retinaImage540px2x}" 
          srcset="${imageViewport.retinaImage540px1x}" media="(max-width: 540px)">
    <source data-sly-test="${!imageViewport.retinaImage540px1x && imageViewport.retinaImage540px2x}" 
          srcset="${imageViewport.retinaImage540px2x}" media="(max-width: 540px)">
    <source data-sly-test="${imageViewport.retinaImage540px1x && imageViewport.retinaImage540px2x}" 
          srcset="${imageViewport.retinaImage540px1x} 1x, ${imageViewport.retinaImage540px2x} 2x" media="(max-width: 540px)">
    <source data-sly-test="${imageViewport.retinaImage768px1x && !imageViewport.retinaImage768px2x}" 
          srcset="${imageViewport.retinaImage768px1x}" media="(max-width: 768px)">
    <source data-sly-test="${!imageViewport.retinaImage768px1x && imageViewport.retinaImage768px2x}" 
          srcset="${imageViewport.retinaImage768px2x}" media="(max-width: 768px)">
    <source data-sly-test="${imageViewport.retinaImage768px1x && imageViewport.retinaImage768px2x}" 
          srcset="${imageViewport.retinaImage768px1x} 1x, ${imageViewport.retinaImage768px2x} 2x" media="(max-width: 768px)">
    <source data-sly-test="${imageViewport.retinaImage1440px1x && !imageViewport.retinaImage1440px2x}" 
          srcset="${imageViewport.retinaImage1440px1x}" media="(max-width: 1440px)">
    <source data-sly-test="${!imageViewport.retinaImage1440px1x && imageViewport.retinaImage1440px2x}" 
          srcset="${imageViewport.retinaImage1440px2x}" media="(max-width: 1440px)">
    <source data-sly-test="${imageViewport.retinaImage1440px1x && imageViewport.retinaImage1440px2x}" 
          srcset="${imageViewport.retinaImage1440px1x} 1x, ${imageViewport.retinaImage1440px2x} 2x" media="(max-width: 1440px)"> 
   <img data-sly-test="${imageViewport.retinaImage1440px1x && !imageViewport.retinaImage1440px2x}" 
        src="${imageViewport.retinaImage1440px1x}" class="${!wcmmode.edit ? 'cover' : ''} lazyloaded" 
        alt="${imageViewport.image1440PXAltText ? imageViewport.image1440PXAltText : ''}">
   <img data-sly-test="${!imageViewport.retinaImage1440px1x && imageViewport.retinaImage1440px2x}" 
        src="${imageViewport.retinaImage1440px2x}" class="${!wcmmode.edit ? 'cover' : ''} lazyloaded" 
        alt="${imageViewport.image1440PXAltText ? imageViewport.image1440PXAltText : ''}">
   <img data-sly-test="${imageViewport.retinaImage1440px1x && imageViewport.retinaImage1440px2x}" 
        src="${imageViewport.retinaImage1440px2x}" class="${!wcmmode.edit ? 'cover' : ''} lazyloaded" 
        alt="${imageViewport.image1440PXAltText ? imageViewport.image1440PXAltText : ''}">
</template>