<template  data-sly-template.sixViewport="${ @ imageViewport}">
    <source data-sly-test="${imageViewport.retinaImage414px1x && !imageViewport.retinaImage414px2x}" 
          srcset="${imageViewport.retinaImage414px1x}" media="(max-width: 414px)">
    <source data-sly-test="${!imageViewport.retinaImage414px1x && imageViewport.retinaImage414px2x}" 
          srcset="${imageViewport.retinaImage414px2x}" media="(max-width: 414px)">
    <source data-sly-test="${imageViewport.retinaImage414px1x && imageViewport.retinaImage414px2x}" 
          srcset="${imageViewport.retinaImage414px1x} 1x, ${imageViewport.retinaImage414px2x} 2x" media="(max-width: 414px)">
    <source data-sly-test="${imageViewport.retinaImage768px1x && !imageViewport.retinaImage768px2x}" 
          srcset="${imageViewport.retinaImage768px1x}" media="(max-width: 768px)">
    <source data-sly-test="${!imageViewport.retinaImage768px1x && imageViewport.retinaImage768px2x}" 
          srcset="${imageViewport.retinaImage768px2x}" media="(max-width: 768px)">
    <source data-sly-test="${imageViewport.retinaImage768px1x && imageViewport.retinaImage768px2x}" 
          srcset="${imageViewport.retinaImage768px1x} 1x, ${imageViewport.retinaImage768px2x} 2x" media="(max-width: 768px)">
    <source data-sly-test="${imageViewport.retinaImage1024px1x && !imageViewport.retinaImage1024px2x}" 
          srcset="${imageViewport.retinaImage1024px1x}" media="(max-width: 1024px)">
    <source data-sly-test="${!imageViewport.retinaImage1024px1x && imageViewport.retinaImage1024px2x}" 
          srcset="${imageViewport.retinaImage1024px2x}" media="(max-width: 1024px)">
    <source data-sly-test="${imageViewport.retinaImage1024px1x && imageViewport.retinaImage1024px2x}" 
          srcset="${imageViewport.retinaImage1024px1x} 1x, ${imageViewport.retinaImage1024px2x} 2x" media="(max-width: 1024px)">
    <source data-sly-test="${imageViewport.retinaImage1336px1x && !imageViewport.retinaImage1336px2x}" 
          srcset="${imageViewport.retinaImage1336px1x}" media="(max-width: 1336px)">
    <source data-sly-test="${!imageViewport.retinaImage1336px1x && imageViewport.retinaImage1336px2x}" 
          srcset="${imageViewport.retinaImage1336px2x}" media="(max-width: 1336px)">
    <source data-sly-test="${imageViewport.retinaImage1336px1x && imageViewport.retinaImage1336px2x}" 
          srcset="${imageViewport.retinaImage1336px1x} 1x, ${imageViewport.retinaImage1336px2x} 2x" media="(max-width: 1336px)">
    <source data-sly-test="${imageViewport.retinaImage1440px1x && !imageViewport.retinaImage1440px2x}" 
          srcset="${imageViewport.retinaImage1440px1x}" media="(max-width: 1440px)">
    <source data-sly-test="${!imageViewport.retinaImage1440px1x && imageViewport.retinaImage1440px2x}" 
          srcset="${imageViewport.retinaImage1440px2x}" media="(max-width: 1440px)">
    <source data-sly-test="${imageViewport.retinaImage1440px1x && imageViewport.retinaImage1440px2x}" 
          srcset="${imageViewport.retinaImage1440px1x} 1x, ${imageViewport.retinaImage1440px2x} 2x" media="(max-width: 1440px)">
    <source data-sly-test="${imageViewport.retinaImage1920px1x && !imageViewport.retinaImage1920px2x}" 
          srcset="${imageViewport.retinaImage1920px1x}" media="(max-width: 1920px)">
    <source data-sly-test="${!imageViewport.retinaImage1920px1x && imageViewport.retinaImage1920px2x}" 
          srcset="${imageViewport.retinaImage1920px2x}" media="(max-width: 1920px)">
    <source data-sly-test="${imageViewport.retinaImage1920px1x && imageViewport.retinaImage1920px2x}" 
          srcset="${imageViewport.retinaImage1920px1x} 1x, ${imageViewport.retinaImage1920px2x} 2x" media="(max-width: 1920px)"> 
   
   <sly data-sly-set.lazyLoading="${properties.disableLazyLoading || properties.sling:resourceType == 'etisalat/components/etisalatherobanner' ? '' : 'lazy'}"/>
   <img loading="${lazyLoading}" data-sly-test="${imageViewport.retinaImage1920px1x && !imageViewport.retinaImage1920px2x}" 
        data-sly-set.imageSrcPath="${imageViewport.retinaImage1920px1x}" 
	    data-sly-use.commonModal="${'com.etisalat.core.models.CommonLinkModel' @link=imageSrcPath}" 
        src="${imageViewport.retinaImage1920px1x}" class="${!wcmmode.edit ? 'cover' : ''} lazyloaded ${commonModal.assetSVGImage ? 'inline-svg__icon' : ''}" 
        alt="${imageViewport.sixViewPortAltText || true}">
   <img loading="${lazyLoading}" data-sly-test="${!imageViewport.retinaImage1920px1x && imageViewport.retinaImage1920px2x}" 
        data-sly-set.imageSrcPath="${imageViewport.retinaImage1920px2x}" 
	    data-sly-use.commonModal="${'com.etisalat.core.models.CommonLinkModel' @link=imageSrcPath}" 
        src="${imageViewport.retinaImage1920px2x}" class="${!wcmmode.edit ? 'cover' : ''} lazyloaded ${commonModal.assetSVGImage ? 'inline-svg__icon' : ''}" 
        alt="${imageViewport.sixViewPortAltText || true}">
   <img loading="${lazyLoading}" data-sly-test="${imageViewport.retinaImage1920px1x && imageViewport.retinaImage1920px2x}" 
        data-sly-set.imageSrcPath="${imageViewport.retinaImage1920px2x}" 
	    data-sly-use.commonModal="${'com.etisalat.core.models.CommonLinkModel' @link=imageSrcPath}" 
        src="${imageViewport.retinaImage1920px2x}" class="${!wcmmode.edit ? 'cover' : ''} lazyloaded ${commonModal.assetSVGImage ? 'inline-svg__icon' : ''}" 
        alt="${imageViewport.sixViewPortAltText || true}">
</template>