// breadcrumb
.cmp-breadcrumb {
  &__item,
  &-link {
    letter-spacing: toRem(2);
    line-height: toRem(15);
    margin-right: calc(#{$margin-step-1}-5px);
    padding-right: calc(#{$padding-step-1}-2px);
    text-transform: uppercase;

    @include font-family-lato;
  }

  &__item {
    color: $gray-fill;

    &:hover {
      text-decoration: underline;
    }

    &-link {
      &::after {
        border: solid $arrow-border-green;
        border-width: 0 $border-step-1 $border-step-1 0;
        content: "";
        display: inline-block;
        height: 0.55em;
        position: absolute;
        top: toRem(39);
        width: 0.55em;

        @include rtl(transform, rotate(-45deg), rotate(135deg));
      }
    }
  }
}

// starter-header
.starter-header {
  padding: $padding-step-3 !important;

  @include respond-to-min($desktop) {
    padding: calc(#{$padding-step-3} + 1px) calc(#{$padding-step-4} - 2px) !important;
  }

  .list-breadcrumb {
    display: none;
    margin-bottom: $margin-step-2;

    @include respond-to-min($desktop) {
      display: block;

      .cmp-text {
        p {
          color: $gray-fill;
          font-size: $font12;
          letter-spacing: toRem(2);
          line-height: toRem(15);
          text-transform: uppercase;

          @include font-family-lato;

          &:hover {
            text-decoration: underline;
          }

          .cmp-link__arrow {
            font-size: $font12;
            margin-right: calc(#{$margin-step-1}-2px);
            padding-right: calc(#{$padding-step-1}-2px);
            padding-top: calc(#{$padding-step-0} + 2px);
          }
        }
      }
    }
  }

  .breadcrumb {
    background-color: transparent;
    border-radius: $border-radius-step-0;
    margin-bottom: $margin-step-2;
    padding: $padding-step-0;
  }

  h3 {
    margin-bottom: $margin-step-0;
  }

  .old-price {
    background-color: $orange;

    @include respond-to-min($desktop) {
      margin-left: toRem(22);
      margin-right: 0;
    }
  }

  .secondary-header1 {
    margin-top: $margin-step-1;
  }

  @include respond-to-min($desktop) {
    .cmp-text {
      h3 {
        .text--orange_tag,
        .text--green {
          font-size: $font32;
          line-height: toRem(40);
          margin-left: toRem(22);
          margin-top: toRem(8);

          .body-copy4 {
            margin-left: toRem(-15);
          }
        }
      }

      p {
        .font--small {
          float: right;
          font-size: $font14;
          margin-top: toRem(2);
        }
      }
    }
  }

  .cmp-button--width_100 {
    margin-top: toRem(18);
    min-width: toRem(180);
    width: auto;

    @include respond-to-min($desktop) {
      margin-left: toRem(28);
    }
  }

  @include rtlBlock {
    .float-right {
      float: right !important;
    }
  }
}
