<template data-sly-template.mobile="${ @ properties,meganavigation}">
 <!-- Mobile Menu Start-->
<div class="main-menu-mobile etisalat-carrier hidden-lg hidden-md sticky">
 <div id="store_locator_mobile_link" class="sub_menu_mobile visible_menu">
   <div class="panel-group container" 
        data-sly-test="${!meganavigation.megaNavigationItems.isEmpty}" 
	    data-sly-list.navItems="${meganavigation.megaNavigationItems}" 
	    id="accordion_menu" role="tablist" aria-multiselectable="true">
	  <div class="panel panel-default row">
	     <div class="panel-heading" role="tab" id="heading-4">
            <h5 class="active panel-title collapsed">
              <a id="dtsecondlevelmenumob-${navItemsList.count}" class="${navItems.active}" href="${navItems.navigationLinkTo}"
                title="${navItems.navigationAltText}">${navItems.navigationLabel}</a>
              <div class="arrow_accordion collapsed" role="button" data-toggle="collapse" data-parent="#accordion_menu"
                href="#collapse-${navItemsList.count}" aria-expanded="false" aria-controls="collapse-${navItemsList.count}">
              </div>
            </h5>
          </div>
          <div data-sly-test="${!navItems.subNavigationList.isEmpty}" 
                data-sly-list.subItems="${navItems.subNavigationList}"
                id="collapse-${navItemsList.count}" 
                class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-4"
                aria-expanded="false" style="height: 0px;">
            <div class="panel-body col-xs-12">
              <a class="item_sub-menu" href="${subItems.subNavLinkTo}" title="${subItems.subNavTitle}">${subItems.subNavLabel}</a>              
            </div>
          </div>	     	     
	  </div>
    </div>
     <!-- For Revamp Menu Group Link -->
    <div class="nav-footer-inline-wrapper" style="">
      <sly data-sly-test="${meganavigation.topNavigationResource}" 
           data-sly-use.topnavObj="${meganavigation.topNavigationResource.path}"
           data-sly-list.topItems="${topnavObj.listChildren}">
         <ul class="nav-items nav-level-1 nav-footer-wrapper nav-footer-wrapper-inline">
             <li data-sly-test="${topItems.name == 'topnavlinks'}" 
                 data-sly-list.topItemsList="${topItems.listChildren}" 
                 class="nav-item nav-footer" style="display: block;">
                 <a class="nav-inline-link nav-site-switch" 
                    href="${topItemsList.link @ extension = 'html'}">${topItemsList.label}</a>
              </li>
          </ul>
     </sly>
    </div>
   <!-- For Revamp Menu Group Link  end-->
   
  </div>
</div>
<!-- Mobile Menu End-->
</template>