<template data-sly-template.xfmobile="${ @ properties,meganavigation}">
<!--main menu mobile version: starts  -->
<nav class="nav-drill">
  <ul data-sly-test="${!meganavigation.utilityNavItems.isEmpty}" 
	  data-sly-list.utilityItems="${meganavigation.utilityNavItems}" class="nav-items nav-level-1">
      <li class="nav-item highlighted nav-expand">
         <a class="nav-link" href="#">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="nav-link-icon replaced-svg">
                <g fill="none" fill-rule="evenodd" stroke="#242424" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M22.5 12c0 5.8-4.701 10.5-10.5 10.5S1.5 17.8 1.5 12C1.5 6.201 6.201 1.5 12 1.5S22.5 6.201 22.5 12h0z"></path>
                    <path d="M15.904 8.26c0 2.157-1.748 3.905-3.904 3.905-2.156 0-3.904-1.748-3.904-3.904 0-2.157 1.748-3.904 3.904-3.904 2.156 0 3.904 1.747 3.904 3.904h0zM14.726 11.355s4.14 1.538 4.14 8.518M9.274 11.355s-4.14 1.538-4.14 8.518"></path>
                </g>
            </svg>
            <span class="accountName">${utilityItems.navigationLabel}</span>
          </a>
          <ul class="nav-items nav-expand-content">
            <li class="nav-item">
              <a class="nav-link nav-back-link" href="#">main menu</a>
            </li>
            <li>
              <ul>
                <li class="accountName nav-item-heading">
                  ${utilityItems.navigationLabel}
                </li>                
                 <li data-sly-test="${!utilityItems.subNavigationList.isEmpty}" 
			         data-sly-list.subItems="${utilityItems.subNavigationList}" class="nav-item">
                  <a class="nav-link" href="${subItems.subNavLinkTo}">
                   ${subItems.subNavLabel}
                  </a>
                 </li>

               <li class="nav-item loggedInActions hidden"><a class="nav-link logoutAction" href="#">Sign Out</a></li>
              </ul>
            </li>
          </ul>
     </li>
  <li class="nav-spacer spacer-32"></li>
  </ul>

 <ul class="nav-items nav-level-1">
    <li data-sly-test="${!meganavigation.megaContainerItems.isEmpty}"
		data-sly-repeat.navItems="${meganavigation.megaContainerItems}" class="nav-item nav-expand">
        <a class="nav-link nav-expand-link" href="#">
		<img  src="${navItems.navImagePath}"/> ${navItems.navigationLabel}</a>
         <ul class="nav-items nav-expand-content">
		  <li class="nav-item">
              <a class="nav-link nav-back-link" href="#"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="12px" height="12px" viewBox="26 26 12 12" enable-background="new 26 26 12 12" xml:space="preserve" class="nav-link-icon replaced-svg"><g><path fill="#554D56" d="M28.85,36.725c-0.3,0.301-0.3,0.766,0,1.051c0.286,0.3,0.75,0.3,1.05,0l5.25-5.25   c0.3-0.301,0.3-0.765,0-1.051l-5.25-5.25c-0.3-0.3-0.765-0.3-1.05,0c-0.3,0.286-0.3,0.75,0,1.05L33.575,32L28.85,36.725z"></path></g></svg>main menu</a>
          </li>
		  <li>
		      <ul data-sly-test="${!navItems.containerSubMenuList.isEmpty}" 
	              data-sly-repeat.subMenuItems="${navItems.containerSubMenuList}">
                    <li class="nav-item-heading">
                        ${subMenuItems.navTitle}
                    </li>
                    <li data-sly-test="${!subMenuItems.fixedItems.isEmpty}" 
							data-sly-repeat.subFixedItems="${subMenuItems.fixedItems}" class="nav-item">
                        <a class="nav-link" href="${subFixedItems.navigationLink}">
                         ${subFixedItems.navigationTitle}
                        </a>
                    </li>
			   </ul>

		   </li>
           <ul>
               <li class="mega-dropdown-mob-promotion">
                  <div class="menu-promotion-wrapper">
					 <div data-sly-list.promoObj="${navItems.containerPromotionList}" class="tiles-wrapper">
						<div class="tile">
						   <div class="cover">
							  <img src="${promoObj.fileReference}" loading="lazy" class="cover lazyloaded" alt="m-menu-new-freedom-en-377x325">          
						   </div>
						   <div class="tile-content-wrapp">
							  <div class="content">
								 <h4>${promoObj.title}</h4>
								 <a href="${promoObj.link}" class="btn-text learn-more">
								 <span class="">${promoObj.text}</span>
								 </a>
							  </div>
						   </div>
						</div>
					 </div>
				  </div>
                </li>
              </ul>		
              <ul  data-sly-test="${!navItems.containerFooterMenuList.isEmpty}" 
				  data-sly-list.footerMenuItems="${navItems.containerFooterMenuList}" class="nav-expand-footer">
			   <li data-sly-test="${!footerMenuItems.fixedItems.isEmpty}"  
                   data-sly-list.items="${footerMenuItems.fixedItems}"   
                    class="nav-item"><a href="${items.navigationLink}">${items.navigationTitle}</a></li>
			 </ul>			  
		 </ul>
    </li>
</ul>


</nav>
<!--main menu mobile version: ends-->
</template>