#about.cmp-container {
  @extend .container-block;
  text-align: center;
  h2 {
    @include respond-to-min($desktop) {
      padding-top: 100px;
    }
    &:after {
      content: "";
      display: block;
      background: $blue-color;
      height: 4px;
      width: 80px;
      margin-top: 15px;
      margin-left: calc(50% - 40px);
    }
  }
}

.cmp_box_shadow {
  transition-duration: 800ms;
  clear: both;
  margin-bottom: 15px;
  min-height: 270px;
  @include respond-to-min($tablet) {
    clear: none;
    margin-bottom: 0;
  }
  @include respond-to-max($tablet) {
    margin: 10px 0;
    width: 100%;
  }
  :hover {
    box-shadow: 0 10px 90px rgb(0 0 0 / 8%);
  }
  .cmp-text {
    position: relative;
    padding: toRem(72) toRem(8);
    width: 100%;
    border: 0.13rem solid $shade-white;
    border-radius: toRem(10);
    margin: 0;
    display: block;
    min-height: 270px;
    font-family: $font-family;
    width: 100%;

    @include respond-to-min($tablet) {
      width: 90%;
      clear: none;
      margin-bottom: 15px;
    }
  }
  h4 {
    padding-bottom: 15px;
    margin-bottom: 15px;
  }
}

@media screen and (max-device-width: 1600px) and (orientation: landscape) {
  body {
    border: 2px solid red;
  }
  .hiuapp_pink-rotate-bg .cmp-image {
    display: none;
  }
}
