#about.cmp-container {
  @extend .container-block;

  h2 {
    @include respond-to-min($desktop) {
      padding-top: 100px;
    }
    &:after {
      content: "";
      display: block;
      background: #5b32b4;
      height: 4px;
      width: 80px;
      margin-top: 15px;
      margin-left: calc(50% - 40px);
    }
  }
}

.cmp_box_shadow {
  transition-duration: 800ms;
  clear: both;
  margin-bottom: 15px;
  min-height: 270px;
  @include respond-to-min($tablet) {
    clear: none;
    margin-bottom: 0;
  }
  :hover {
    box-shadow: 0 10px 90px rgb(0 0 0 / 8%);
  }
  .cmp-text {
    position: relative;
    padding: toRem(72) toRem(8);
    width: 100%;
    border: $font2 solid $shade-white;
    border-radius: toRem(10);
    margin: 0;
    display: block;
    min-height: toRem(256);
    font-family: $font-family;
    width: 100%;

    @include respond-to-min($tablet) {
      width: 96%;
      clear: none;
      margin-bottom: 0;
    }
  }
  h4 {
    padding-bottom: $padding-small;
    margin-bottom: $padding-small;
  }
}
