.hiuapp_lightblue-rotate-bg {
  background: $grey-color;
  background-image: -webkit-linear-gradient(75deg, $grey-color 50%, $white 45%);
  position: relative;
  z-index: 1;
  background-position: bottom center;
  background-size: cover;
  margin-top: toRem(150);
  padding-right: 0;
  padding-left: 0;
  @include respond-to-max($tablet) {
    padding-top: toRem(60);
    padding-bottom: 100px;
  }
  @include respond-to-min($desktop) {
    padding: 100px 0;
    padding-top: toRem(100);
    padding-bottom: toRem(100);
  }
  > .cmp-container:nth-child(1) {
    @extend .container-block;
  }
  .cmp-image__image {
    max-width: 100%;
  }
  .cmp-text {
    h2 {
      @include respond-to-min($desktop) {
        font-size: toRem(45);
        margin-bottom: toRem(45);
      }
      @include respond-to-max($tablet) {
        font-size: toRem(30);
        margin-bottom: 30px;
      }
    }
  }
}
