header {
  background: $pink-color;
  position: fixed;
  top: 0;
  z-index: 99;
  .cmp-experiencefragment--header {
    .container {
      padding: 0;
    }
    .cmp-container {
        @extend .container-block;
        padding: 0;
      .logo {
        font-size: toRem(72);
        font-weight: 700;
        color: $white-color;
        line-height: 1;
        display: inline-block;
        font-family: "Cabin", sans-serif;
        
        @include respond-to-max($tablet) {
          font-size: toRem(40);
        }
        @include respond-to-min($desktop) {
          padding: 20px 0 10px 0;
        }
      }
    }
  }
}
