.hiuapp_lightblue_bg,
.hiuapp_terms {
  background: linear-gradient(to left, $pink-color, $shade-pink);
  padding: 50px 0px;
  .cmp-container:first-child {
    @extend .container-block;
  }
  .hiuapp_teaser_ctn {
    .cmp-teaser__content {
      position: relative;
      .cmp-teaser__pretitle {
        font-size: toRem(36);
        color: $white;
      }
      p {
        color: #fff;
      }
      .cmp-teaser__action-container {
        position: absolute;
        top: 0;
        right: 0;

        .cmp-teaser__action-link {
          @extend .btn;
        }
      }
    }
  }
}

.buttonstore {
  margin-top: 2.75rem;
}

.cmp_btn {
  display: flex;
  .cmp_store_btn {
    border: 1px solid $table-border-color;
    background-color: $white;
    padding: 15px 30px;
    border-radius: toRem(6);
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    margin-right: toRem(20);
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        color: #47425d;
        font-size: toRem(24);
        margin-right: toRem(15);
        transition-duration: 500ms;
      }
      p {
        font-size: 16px;
        line-height: 1;
        transition-duration: 500ms;

        span {
          font-size: 12px;
          display: block;
        }
      }
    }
    &:hover {
      background-color: #db4f74;
      color: #fff;
      cursor: pointer;

      p,
      i {
        color: #fff;
      }
    }
  }
}

.hiuapp_termspage .hiuapp_pink-rotate-bg {
  background-image: -webkit-linear-gradient(-80deg, #db4f74 65%, #fff 0);
  height: 350px;
  position: relative;
  z-index: 1;
  background-position: bottom center;
  background-size: cover;

  .cmp-text{
    float: none!important;
    @extend .container-block;
  }
  .cmp-teaser h1 {
    font-size: 3.25rem;
    margin-bottom: 30px;
    margin-left: 0;
    margin-top: -20px;
  }

  .cmp-container p {
    color: #fff;
    line-height: 1.4375rem;
    margin: 18px 36px 18px 0;
    padding: 0;
  }

  h3,
  h4 {
    color: #000;
    display: inline-block;
    font-weight: 400;
    line-height: 1.2;
    margin: 25px 0 15px;
  }

  h3 {
    border-bottom: 2px solid #db4f74;
    font-size: 2em;
  }
}
