.hiuapp_terms {
  background: linear-gradient(to left, $pink-color, $shade-pink);
  padding: 50px 0px;
  .cmp-container:first-child {
    @extend .container-block;
  }
  .teaser {
    @include respond-to-max($phone) {
      text-align: center;
    }
    .cmp-teaser__content {
      position: relative;
      .cmp-teaser__pretitle {
        font-size: toRem(36);
        color: $white;
      }
      .cmp-teaser__description {
        @include respond-to-min($phone) {
          margin: 10px 0 20px 0;
        }
        p {
          color: #fff;
          margin-bottom: 15px 0 20px 0;
        }
      }
      .cmp-teaser__action-container {
        @include respond-to-min($phone) {
          position: absolute;
          top: 0;
          right: 0;
        }
        @include respond-to-max($desktop) {
          top: 30px;
        }
        .cmp-teaser__action-link {
          @extend .btn;
        }
      }
    }
  }
}

.buttonstore {
  margin-top: 2.75rem;
}

.cmp_btn {
  display: flex;
  @include respond-to-max($phone) {
    flex-direction: column;
    .cmp_store_btn{
      margin-bottom: 10px;
    }
  }
  .cmp_store_btn {
    border: 1px solid $table-border-color;
    background-color: $white;
    padding: 15px 30px;
    border-radius: toRem(6);
    box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
    margin-right: toRem(20);
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      i {
        color: #47425d;
        font-size: toRem(24);
        margin-right: toRem(15);
        transition-duration: 500ms;
      }
      p {
        font-size: 16px;
        line-height: 1;
        transition-duration: 500ms;

        span {
          font-size: 12px;
          display: block;
        }
      }
    }
    &:hover {
      background-color: #db4f74;
      color: #fff;
      cursor: pointer;

      p,
      i {
        color: #fff;
      }
    }
  }
}

// Terms page
.hiuapp_termspage {
  @extend .footer-boxshadow;
  .section-banner{
    min-height: auto;
  }
  .hiuapp_pink-rotate-bg {
    background-image: -webkit-linear-gradient(-80deg, #db4f74 60%, #fff 40%);
    height: 350px;
    position: relative;
    z-index: 1;
    background-position: bottom center;
    background-size: cover;
    min-height: 350px;

    .cmp-teaser {
      top: 100px;
      h1 {
        font-size: toRem(50);
        margin: 0;
      }
      p {
        color: #fff;
        margin: 18px 36px 18px 0;
      }
    }
  }
  .cmp_container_block {
    @extend .container-block;
    float: none !important;
    h3 {
      border-bottom: 2px solid #db4f74;
      font-size: 2em;
    }

    h3,
    h4 {
      color: #000;
      display: inline-block;
      font-weight: 400;
      line-height: 1.2;
      margin: 25px 0 15px;
    }
    p{
      margin-bottom: 15px;
    }
  }
}
