<sly data-sly-use.tileModel="com.etisalat.core.models.TileModel" 
   data-sly-use.templates="core/wcm/components/commons/v1/templates.html">
      <div class="row">
         <div class="col-md-12 col-lg-10 col-lg-offset-1 col-lg-offset-right-1 news-item">
            <a href="${properties.ctalink}">
               <div class="row">
                  <div data-sly-test="${properties['image/fileReference']}" class="col-xs-5 col-md-4 col-lg-4 news-img">
                     <sly data-sly-resource="${tileModel.tileImageResource @ resourceType='core/wcm/components/image/v2/image', wcmmode='disabled'}"></sly>                     
                  </div>
                  <div class="col-xs-7 col-md-8 col-lg-8 news-text">
                     <h4 data-sly-test="${properties.ctatext}">${properties.ctatext}</h4>
                     <label class="date">${properties.articleDate} ${'MMM, dd yyyy' @ format=properties.articleDate}</label>
                     <div data-sly-test="${properties.ctaDesc}">
                        ${properties.ctaDesc @ context='html'}
                     </div>
                  </div>
               </div>
            </a>
         </div>
      </div>
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = !properties['image/fileReference']}"></sly>