<sly data-sly-use.templates="core/wcm/components/commons/v1/templates.html"
    data-sly-use.imageViewportModel="com.etisalat.core.models.ImageViewportModel"
    data-sly-use.tileModel="com.etisalat.core.models.TileModel" />
<sly data-sly-test="${properties.tileLinkBehavior != 'youtubemodalwindow'}">
    <a href="${tileModel.tileCTALinkSameWindow}"
        target="${properties.tileLinkBehavior == 'opennewwindow'?'_blank':'_self'}">
        <div class="techsupport-slidebox">

            <sly
                data-sly-test="${imageViewportModel.sixViewportContent || imageViewportModel.fourViewportContent || imageViewportModel.threeViewportContent || properties.fileReference}">
                <div class="cover" data-sly-test="${properties.viewPortLayout != '1-viewport'}">
                    <sly data-sly-resource="${resource @ resourceType='etisalat/components/imageetisalatviewport'}">
                    </sly>
                </div>
                <sly data-sly-test="${properties.viewPortLayout == '1-viewport'}"
                    data-sly-resource="${resource @ resourceType='etisalat/components/imageetisalatviewport'}"></sly>
            </sly>
            <h3 data-sly-test="${properties.tileTitle}" data-sly-element="${properties.titleType}">
                ${properties.tileTitle}</h3>
            <div class="overlay"></div>
        </div>
    </a>
</sly>

<sly data-sly-test="${properties.tileLinkBehavior == 'youtubemodalwindow'}">

    <div class="techsupport-slidebox">
        <!--Modal youtube link  -->
        <a href="#" class="youtube-video-link"></a>
        <!-- Modal start -->
        <div class="youtube-popup-container modal fade techSupportVideo" id="techSupportVideo_1" role="dialog"
            style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <iframe width="560" height="315" src="${properties.tileyoutubelink}" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
        <!-- Modal end -->
        <sly
            data-sly-test="${imageViewportModel.sixViewportContent || imageViewportModel.fourViewportContent || imageViewportModel.threeViewportContent || properties.fileReference}">
            <div class="cover" data-sly-test="${properties.viewPortLayout != '1-viewport'}">
                <sly data-sly-resource="${resource @ resourceType='etisalat/components/imageetisalatviewport'}"></sly>
            </div>
            <sly data-sly-test="${properties.viewPortLayout == '1-viewport'}"
                data-sly-resource="${resource @ resourceType='etisalat/components/imageetisalatviewport'}"></sly>
        </sly>
        <h3 data-sly-test="${properties.tileTitle}" data-sly-element="${properties.titleType}">${properties.tileTitle}
        </h3>
        <div class="overlay"></div>
    </div>
    </a>
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = !properties.tileTitle}"></sly>