/* stylelint-disable*/
.media-and-text-with-cta-2-0 {
  padding: 64px 0;
  @media (max-width: 991px) {
    padding: 48px 0;
  }

  .products-grid {
    &.with-cta {
      .media-and-text-product {
        .img-cover {
          overflow: hidden;
          position: relative;
          height: 370px;
          @media (max-width: $screen-sm-max ) {
            height: 146px;
            margin: 0 4px;
          }
          svg{
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
          img.cover {
              position: absolute;
              left: -9999px;
              right: -9999px;
              top: -9999px;
              bottom: -9999px;
              margin: auto;
              min-width: 100%;
              min-height: 100%;
          }
        }
        .content-box {
          @media (max-width: $screen-sm-max) {
            padding: 24px 4px 0 4px;
            height: auto;
          }
          .ed-headings-2-0 {
            margin: 0 0 16px 0;
            h2{
              font-size: 28px;
              line-height: 42px;
              font-weight: 500;
            }

            @media (max-width: $screen-sm-max) {
              margin: 0 0 24px 0;
              text-align: center;
            }
          }
          .ed-paragraph-2-0 {
            margin-bottom: 24px;
            line-height: 24px;
            @media (max-width: $screen-sm-max) {
              margin-bottom: 32px;
              color: #626366;
              text-align: center;
            }
          }
          .ed-buttons-wrapper{
            .primary-btn{
              line-height: 42px;
              height: 42px;
              text-transform: capitalize;
              cursor: pointer;
            }
          }
        }
      }
    }
    }
  }
