nav {
  position: absolute;
  width: 100%;
  z-index: 3;
  width: 100%;
  left: 0;
  .menu__icon {
    cursor: pointer;
    display: block;
    float: right;
    position: relative;
    margin: toRem(10) toRem(​20) 0 0;
    user-select: none;
    outline: none;
    background: transparent;
    top: toRem(10);
    right: toRem(10);
    @include respond-to-min($desktop) {
      display: none;
    }
    ::selection {
      background: none;
    }
    .hamburger {
      background: $white-color;
      display: block;
      height: toRem(2);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: toRem(30);
      margin-right: toRem(10);
      z-index: 1;
      // margin-top: toRem(19);
      &::before,
      &::after {
        background: $white-color;
        content: "";
        display: block;
        height: 100%;
        position: absolute;
        width: 100%;
      }
      &::before {
        top: toRem(8);
      }
      &::after {
        top: toRem(-8);
      }

      &.hamburger--close {
        background: transparent;
        height: toRem(30);
        width: toRem(30);

        &::before{
          background: rgba(0,0,0,0.15);
          border-radius: toRem(50);
          height: toRem(4);
          top: 0;
          transform: rotate(-45deg);
        }
        &::after {
          background: rgba(0,0,0,0.15);
          border-radius: toRem(50);
          height: toRem(4);
          top: 0;
          transform: rotate(45deg);
        }
      }
    }
  }
  .menu {
    display: none;
    background-color: $white-color;
    text-align: center;
    top: toRem(45);
    position: relative;

    @include respond-to-max($desktop) {
      width: 100%;
      padding: toRem(15);
    }

    li a {
      color: $white-color;
      font-family: $font-Quicksand;
      font-size: toRem(18);
      font-weight: 500;
      opacity: 0.6;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      padding-right: toRem(5);
      padding-left: toRem(5);
      letter-spacing: 0.47px;
      text-align: right;
      text-decoration: none;
      display: block;
      &:hover {
        color: $blue-color;
        transition-duration: 500ms;
      }
    }

    
    @include respond-to-max($tablet) {
      display: block;
      height: 100%;
      right: -100%;
      position: fixed;
      top: 0;
      transition: all 0.4s ease-out;
      width: toRem(300);

      &.active {
        right: 0;
      }

      li {
        display: block;
        margin-left: toRem(20);

        a {
          font-size: toRem(23);
          color: $black-color;
          padding: 0.5rem 0 !important;
          font-weight: 800 !important;
          text-align: left;
        }
      }
    }
  }

  &.nav--overlay {
    &::before {
      background: rgba(0,0,0, 0.5);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
    }
  }
}

.menu__checkbox {
  opacity: 0;
  display: none;
}

@include respond-to-min($desktop) {
  nav a:hover {
    color: $white-color;
  }
  nav {
    position: static;
    .menu {
      display: block;
      background: none;
      clear: none;
      max-height: none;
      margin-right: toRem(15);
      margin-top: toRem(15);
      float: right;
      padding: 0;
      top: 0;
      li {
        float: left;
        margin-left: toRem(20);

        a {
          padding: toRem(8) toRem(5);
          border: 0;
          font-size: toRem(18);
          color: $white-color;
          background-color: transparent;
          border: none;
          display: block;
        }
      }
    }
  }
}
