.welcome-terms {
  padding: 64px 0 32px;
  position: relative;

  &::before {
    background: linear-gradient(106deg, #1640a2 16%, #1b1464 78%);
    bottom: 0;
    content: "";
    display: block;
    height: calc(100% + 130px);
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    transition: all 0.4s ease-out;
    width: 100vw;
  }

  .terms-main-text {
    padding-left: 80px;
    position: relative;

    h2 {
      color: #fff;
      font-size: 44px;
      font-stretch: normal;
      font-weight: 7000;
      letter-spacing: 1.15px;
      line-height: normal;
      margin-bottom: 8px;
    }

    h4 {
      color: #fff;
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 0.45px;
      line-height: 1.94;
      margin-bottom: 8px;
    }
  }
}

.content-body {
  padding-bottom: 2rem;
  padding-left: 80px;

  .lead {
    h2 {
      color: #1d1d1e;
      font-size: 36px;
      font-weight: bold;
      letter-spacing: 0.9px;
      line-height: normal;
      margin-bottom: 2rem;
      margin-top: 2rem;
    }

    p {
      color: #1d1d1e;
      font-family: Roboto, sans-serif;
      font-size: 20px;
      font-weight: normal;
      letter-spacing: 0.5px;
      line-height: 1.75;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 767px) {
  .welcome-terms {
    padding: 32px 0 16px;

    &::before {
      height: calc(100% + 90px);
    }

    .terms-main-text {
      padding: 0 15px;

      h2 {
        font-size: 26px;
      }

      h4 {
        font-size: 12px;
      }
    }
  }

  .content-body {
    padding: 0 15px 2rem;

    .lead {
      h2 {
        font-size: 22px;
        margin-bottom: 1.5rem;
        margin-top: 1rem;
      }

      p {
        font-size: 14px;
      }
    }
  }
}
