.terms-and-condition {
  padding: 62px 0;
  position: relative;

  &::before {
    background: #1640a2;
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 100vw;
  }
}

.terms-and-condition-text {
  h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.75px;
    line-height: normal;
    margin-bottom: 8px;
  }

  p {
    color: #fff;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.4px;
    line-height: normal;
  }
}

.terms-and-condition-btn {
  text-align: right;

  .btn {
    background: #ff9600;
    border-color: #ff9600;
    border-radius: 10px;
    box-shadow: 0 15px 25px 0 rgb(2 28 78 / 33%);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 20px 40px;

    &:hover {
      background: #fff;
      color: #ff9600;
    }
  }
}

@media screen and (max-width: 767px) {
  .terms-and-condition {
    padding: 30px 0;
  }

  .terms-and-condition-text {
    text-align: center;

    h2 {
      font-size: 20px;
      letter-spacing: 0.5px;
    }

    p {
      font-size: 12px;
      letter-spacing: 0.3px;
      line-height: 1.46;
    }
  }

  .terms-and-condition-btn {
    .btn {
      border-radius: 6px;
      font-size: 14px;
      margin-top: 16px;
      padding: 12px 40px;
      width: 100%;
    }
  }
}
