<template data-sly-template.productWithLogo="${ @ carousel,properties}">
 <div class="product-grid-text-section plans more-info-wrapper product-with-logo-text" data-component="cmp-recommended-product-cards">
  <div class="container">
    <div class="row">
      <div data-sly-test="${properties.productFilterEnabled}" class="col-lg-3 col-md-3">
        <sly data-sly-use.productFilterTemplate="productfilter.html" data-sly-call="${productFilterTemplate.filter @ carousel=carousel,properties=properties}"></sly>
      </div>      
     <div data-sly-set.colClass="${carousel.items.size > 2 ? '9' : '6'}" 
          class="col-xs-12 col-md-${properties.productFilterEnabled ? colClass : '12'}" data-sly-test="${carousel.items && carousel.items.size > 0}">
     
	 <div class="product-wrapper-inner">
        <div class="wst-main-headings">
          <h5 data-sly-element="${properties.mainTitleStyle}">${properties.mainProductTitle}</h5>
        </div>
        <div class="paragraph-styling">
          <div class="p2"> ${properties.mainProductDesc @ context='html'} </div>
        </div>
        <div class="products-with-logo-cards">
          <div class="common product-wrapper-logo product-col-3">                          
            <sly data-sly-list.item="${carousel.items}">              
                <sly data-sly-resource="${item.name @ decorationTagName=wcmmode.edit ? 'div' : ''}" id="${item.id}"></sly>             
            </sly>
          </div>
        </div>
      </div>   
	  
    </div>
  </div>
  </div>
  <sly data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/newpar',
            appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}" data-sly-test="${wcmmode.edit || wcmmode.preview}"></sly>
 </div>
</template>