/* stylelint-disable*/
.cq-Editable-dom .non-action-boxes-4-0 .nab-wrapper .action {
  display: none !important;
}

.non-action-boxes-4-0 {
  &.has-bg {
    background-color: $module-bg-color;
  }

  &.flipped {
    .nab-wrapper {
      .nab-content,
      .promo-content {
        order: 2;

        @include respond-to-min($tablet) {
          margin-right: 0;
        }
      }

      .nab-image {
        order: 1;

        @include respond-to-min($tablet) {
          margin-right: toRem(24);

          @include rtlBlock {
            margin-left: toRem(24);
            margin-right: 0;
          }
        }
      }
    }
  }

  .paragraph-styling {
    p {
      margin-bottom: toRem(16);

      @include respond-to-min($desktop) {
        margin-bottom: toRem(24);
      }
    }

    @include rtlBlock {
      b,
      b span {
        font-weight: bold;
      }
    }
  }

  .clickable-area.pointer {
    cursor: pointer;
  }

  .nab-wrapper {
    display: flex;
    flex-direction: column;

    @include respond-to-min($tablet) {
      flex-direction: row;
    }

    .nab-content,
    .promo-content {
      position: relative;

      @include respond-to-min($tablet) {
        margin-right: toRem(24);
      }

      @include respond-to-max($custom-width-tab) {
        order: 2;
      }
    }

    .nab-image {
      position: relative;
      height: toRem(258);
      width: 100%;

      @include respond-to-min($tablet) {
        width: 50%;
      }

      @include respond-to-min($desktop) {
        height: toRem(270);
      }

      @include respond-to-max($custom-width-tab) {
        order: 1;
        margin-bottom: toRem(16);
      }

      div.cover {
        border-radius: toRem(4);
      }

      .icon {
        width: toRem(64);
        height: toRem(64);

        @include respond-to-min($tablet) {
          width: toRem(74);
          height: toRem(74);
        }

        @include respond-to-min($desktop) {
          width: toRem(64);
          height: toRem(64);
        }

        svg,
        img {
          width: toRem(64);
          height: toRem(64);

          @include respond-to-min($tablet) {
            width: toRem(74);
            height: toRem(74);
          }

          @include respond-to-min($desktop) {
            width: toRem(64);
            height: toRem(64);
          }
        }
      }
    }

    .nab-content,
    .promo-content {
      padding-bottom: toRem(32);
      width: 100%;

      @include respond-to-min($tablet) {
        width: 50%;
      }
    }

    .action {
      position: absolute;
      bottom: toRem(8);
      line-height: toRem(20);

      .link {
        text-transform: uppercase;
        letter-spacing: toRem(2);
        font-size: $font14;
        padding-right: toRem(20);
        position: relative;
        line-height: 1.43;

        &:hover {
          text-decoration: underline;
          color: $main-green;
        }

        &:before {
          border: solid $main-green;
          border-width: 0 toRem(1) toRem(1) 0;
          padding: toRem(3.5);
          content: "";
          position: absolute;
          line-height: 1;
          top: 37%;
          transform: translateY(-50%) rotate(45deg);
          transition: all 0.3s ease-in-out;
          right: 0;
        }
      }

      a {
        @include respond-to-min($desktop) {
          width: auto;
        }
      }

      .read-less {
        display: none;
      }

      .read-more {
        display: inline-block;
      }

      &.expanded {
        .read-more {
          display: none;
        }

        .read-less {
          display: inline-block;

          &:before {
            transform: translateY(5%) rotate(225deg);
          }
        }
      }
    }

    .hidden-paragraph {
      display: none;
    }
  }

  .youtube-popup-container {
    position: fixed;
    z-index: 1062;
    left: 0;

    @include respond-to-max($desktop-min) {
      left: 0;
      top: 0;
    }

    .modal-dialog {
      width: 80%;
      top: 5%;
      margin: 0 auto;

      @include respond-to-min($desktop) {
        top: 7%;
      }

      .modal-content {
        height: toRem(500);
        border: 0;

        @include respond-to-min($desktop) {
          height: toRem(720);
        }

        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  // youtube video link
  .youtube-video-link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.container-fix__width,
.container-fix__fluid {
  &.default--bg {
    .non-action-boxes-4-0 {
      padding: toRem(16) 0;
    }
  }
}

.container-fix__width {
  .non-action-boxes-4-0,
  .non-action-boxes-two-cols-4-0 {
    @include respond-to-max($custom-width-tab) {
      .container {
        padding-left: toRem(16) !important;
        padding-right: toRem(16) !important;
      }
    }
  }
}

// promo - non-actionable boxes - variation
.promo-non-actionable-box {
  .nab-wrapper {
    padding-bottom: 0;

    .promo-content {
      padding-bottom: 0;

      @include respond-to-min($tablet) {
        padding-right: 8.333333%;
        width: 41.66666667%;
      }

      &.nab-content {
        padding-bottom: toRem(32);
      }
    }

    .nab-image {
      @include respond-to-min($tablet) {
        height: 368px;
        width: 58.33333333%;
      }
    }
  }
}

// media cta variation
.nab-media-cta {
  .cmp-teaser {
    padding: 0 toRem(12);

    h4 {
      @include respond-to-max($desktop-min) {
        margin-bottom: toRem(12) !important;
      }
    }

    @include respond-to-max($custom-width-tab) {
      padding: 0 toRem(16);
    }

    &__content {
      padding-bottom: 0;
    }

    &__title {
      color: $almost-black;
    }
  }

  .image-right,
  .image-left {
    .cmp-teaser {
      &__image,
      .img-static {
        margin-left: 0 !important;
        margin-right: 0 !important;
        padding-left: toRem(12);

        @include respond-to-max($desktop-min) {
          padding: 0;
        }

        @include rtlBlock {
          padding-left: 0;
          padding-right: toRem(12);

          @include respond-to-max($desktop-min) {
            padding: 0;
          }
        }
      }

      img {
        padding-left: 0;

        @include rtlBlock {
          padding-right: 0;
        }
      }
    }

    .cmp-teaser__content {
      padding-right: toRem(64);

      @include respond-to-max($desktop-min) {
        padding: 0;
      }

      @include rtlBlock {
        padding-left: toRem(64);
        padding-right: 0;

        @include respond-to-max($desktop-min) {
          padding: 0;
        }
      }

      .cmp-teaser {
        &__pretitle {
          color: $gray-text-color;
          font-size: $font12;
          letter-spacing: toRem(4);
          line-height: toRem(26);
          margin: 0 !important;
          margin-bottom: toRem(6) !important;
          margin-top: toRem(12) !important;
          padding: 0;

          @include respond-to-max($phone) {
            letter-spacing: toRem(3.9);
          }
        }

        &__description {
          p {
            color: $gray-text-color;
            font-size: $font16;
            line-height: toRem(26);
            margin-bottom: toRem(8);

            @include respond-to-max($desktop) {
              font-size: $font14;
            }
          }
        }
      }
    }
  }

  .image-left {
    .cmp-teaser {
      &__image,
      .img-static {
        margin: 0;
        padding-left: 0;
        padding-right: toRem(12);

        @include respond-to-max($desktop-min) {
          padding: 0;
        }

        @include rtlBlock {
          padding-left: toRem(64);
          padding-right: 0;

          @include respond-to-max($desktop-min) {
            padding: 0;
          }
        }
      }

      &__content {
        padding-left: toRem(64);
        padding-right: 0;

        @include respond-to-max($desktop-min) {
          padding-left: 0;
        }

        @include rtlBlock {
          padding-right: toRem(64);
          padding-left: 0;

          @include respond-to-max($desktop-min) {
            padding: 0;
          }
        }
      }
    }
  }
}

// two cols variations
.non-action-boxes-two-cols-4-0 {
  padding: toRem(16) 0;

  &.has-bg {
    background-color: $module-bg-color;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;

    @include respond-to-min($desktop) {
      flex-direction: row;
    }

    .content {
      width: 100%;
      margin-bottom: toRem(24);

      @include respond-to-min($desktop) {
        width: 33.3%;
        margin-right: toRem(24);
        max-width: toRem(384);

        @include rtlBlock() {
          margin-left: toRem(24);
        }
      }

      ol {
        @include rtlBlock() {
          margin-left: 0;
          margin-right: toRem(28);
        }
      }

      .paragraph-styling {
        .p1 li,
        .p2 li,
        .p3 li,
        .p4 li {
          color: $gray-text-color !important;
        }
      }
    }

    .two-cols-wrapper {
      width: 100%;

      @include respond-to-min($desktop) {
        width: 66.7%;
      }

      display: grid;
      grid-gap: toRem(16);
      row-gap: toRem(36);
      grid-template-columns: repeat(auto-fill, minmax(toRem(288), 1fr));

      @include respond-to-min($desktop) {
        grid-gap: toRem(24);
        row-gap: toRem(44);
        grid-template-columns: repeat(auto-fill, minmax(toRem(270), 1fr));
      }

      .non-action-boxes-4-0 {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 0;

        .nab-wrapper {
          display: flex;
          flex-direction: column;

          .nab-content {
            order: 2;
            margin: 0;
            width: 100%;
          }

          .nab-image {
            width: 100%;
            order: 1;
            margin-bottom: toRem(16);
            height: toRem(218);
            position: relative;

            @include respond-to-min($tablet) {
              height: toRem(258);
              margin-bottom: toRem(24);
            }

            @include respond-to-min($desktop) {
              height: toRem(224);
            }

            div.cover {
              border-radius: toRem(4);
            }

            .icon {
              width: 64px;
              height: 64px;
              @media screen and (min-width: 768px) {
                width: 74px;
                height: 74px;
              }
              @media screen and (min-width: 992px) {
                width: 64px;
                height: 64px;
              }

              svg,
              img {
                width: 64px;
                height: 64px;
                @media screen and (min-width: 768px) {
                  width: 74px;
                  height: 74px;
                }
                @media screen and (min-width: 992px) {
                  width: 64px;
                  height: 64px;
                }
              }
            }
          }

          img,
          .cmp-image__image {
            width: auto;
          }
        }
      }
    }
  }
}

/************************************************
guidelines for main headings h1 to h6
*************************************************/
.non-action-boxes-4-0,
.context-navigation-4-0,
.non-action-boxes-two-cols-4-0,
.cta-with-main-text-4-0,
.media-cta-text-4-0,
.testimonial-module {
  .ul-list-cms {
    ul,
    ol {
      li {
        ul,
        ol {
          padding-left: toRem(0);

          @include rtlBlock() {
            padding-right: toRem(0);

            li {
              padding-right: toRem(24);
            }
          }
        }
      }
    }
  }
}

.non-action-boxes-4-0,
.non-action-boxes-section,
.context-navigation-4-0,
.non-action-boxes-two-cols-4-0,
.cta-with-main-text-4-0,
.media-cta-text-4-0,
.testimonial-module {
  .paragraph-styling {
    .p1,
    .p2,
    .p3,
    .p4 {
      p {
        color: $gray-text-color;
        @include font-family-lato();

        @include rtlBlock() {
          font-weight: 300;
        }
      }
    }
  }
}

// Accessibility
.acc-blue,
.acc-black {
  .non-action-boxes-4-0 {
    background-color: $black;

    .nab-wrapper {
      .nab-image div.cover {
        border: toRem(1) solid $white;
      }

      .action .link:before {
        border-color: $white;
      }
    }
  }

  .wst-secondary-headings {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $white !important;
    }
  }
}

.acc-blue {
  .non-action-boxes-4-0 {
    background-color: $blue4;
  }
}

.acc-yellow {
  .non-action-boxes-4-0 {
    background-color: $black;

    .nab-wrapper {
      .nab-image div.cover {
        border: toRem(1) solid $yellow-light;
      }

      .action .link:before {
        border-color: $yellow-light;
      }
    }
  }

  .wst-secondary-headings {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $yellow-light !important;
    }
  }
}

// arabic language
*[lang="ar"] {
  *[dir="rtl"] {
    @include respond-to-min($tablet) {
      .non-action-boxes-4-0 .nab-wrapper .nab-content,
      .non-action-boxes-4-0 .nab-wrapper .promo-content,
      .non-action-boxes-4-0.fliped .nab-wrapper .nab-image {
        margin-right: 0;
        margin-left: toRem(24);
      }

      .promo-non-actionable-box {
        .nab-wrapper {
          .promo-content {
            padding-right: 0;
            padding-left: 8.333333%;
            width: 41.66666667%;
          }
        }
      }
    }

    @include respond-to-min($desktop) {
      .non-action-boxes-two-cols-4-0 .content-wrapper .content {
        margin-left: toRem(24);
        margin-right: 0;
      }
    }
  }
}
