.how-to-subscribe {
  &__title {
    color: $steel-grey;
    font-family: Lato, "GE SS Two", Roboto, Arial, sans-serif;
    font-size: toRem(12);
    font-stretch: normal;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 1.33;
    margin: 0;
    margin-bottom: 1rem;
    text-transform: uppercase;

    @include respond-to-min($desktop) {
      font-size: 1rem;
      line-height: 1.5;
      margin-bottom: toRem(8);
    }
  }

  &__container {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;

    @include respond-to-min($desktop) {
      margin-bottom: 0;
      margin-top: 1rem;
    }
  }

  &__icon {
    height: toRem(40);
    margin-right: 1rem;
    width: toRem(40);

    @include respond-to-min($desktop) {
      height: toRem(48);
      width: toRem(48);
    }

    svg,
    img {
      height: toRem(40);
      width: toRem(40);

      @include respond-to-min($desktop) {
        height: toRem(48);
        width: toRem(48);
      }
    }
  }

  &__content {
    h3 {
      color: $almost-black;
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: normal;
      line-height: 1.5;
      margin: 0;

      @include respond-to-min($desktop) {
        font-size: toRem(20);
        line-height: 1.4;
      }
    }

    p {
      color: $steel-grey;
      font-family: Lato, "GE SS Two", Roboto, Arial, sans-serif;
      font-size: toRem(12);
      letter-spacing: normal;
      line-height: 1.33;
      margin: 0;

      @include respond-to-min($desktop) {
        font-size: toRem(14);
        line-height: 1.43;
      }
    }
  }
}
