.contact-us-2-0 {
  @media (min-width: $screen-md-min) {
    padding: 40px;
    margin: 96px 0px;
  }

  margin: 64px 0px;
  padding: 40px 16px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;

  .contact-us-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .content-wrapper {
      @media (min-width: $screen-md-min) {
        width: 58.33333333%;
      }

      .ed-headings-2-0 {
        margin-bottom: 16px;

        h3 {
          font-size: 32px;
          line-height: 40px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          font-weight: 600;
        }
      }

      .ed-paragraph-2-0 {
        @media (min-width: $screen-md-min) {
          margin-bottom: 0px;
        }

        margin-bottom: 24px;
      }
    }

    .contact-btn-wrapper {
      @media (min-width: $screen-md-min) {
        width: auto;
      }

      z-index: 4;
      width: 100%;
    }
  }
}
