
@import 'variables';
@import 'base';
@import '../components/**/**/*.scss';
@import './styles/*.scss';
@import './styles/**/*.scss';

@font-face {
    font-family: 'GothamRounded-Bold';
    src: url('../resources/fonts/GothamRounded-Bold.eot');
    src: url('../resources/fonts/GothamRounded-Bold.eot?#iefix') format('embedded-opentype'),
    url('../resources/fonts/GothamRounded-Bold.woff') format('woff'),
    url('../resources/fonts/GothamRounded-Bold.ttf') format('truetype'),
    url('../resources/fonts/GothamRounded-Bold.svg#GothamRounded-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamRounded-Book';
    src: url('../resources/fonts/GothamRounded-Book.eot');
    src: url('../resources/fonts/GothamRounded-Book.eot?#iefix') format('embedded-opentype'),
    url('../resources/fonts/GothamRounded-Book.woff') format('woff'),
    url('../resources/fonts/GothamRounded-Book.ttf') format('truetype'),
    url('fonts/GothamRounded-Book.svg#GothamRounded-Book') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GothamRounded-Light';
    src: url('../resources/fonts/GothamRounded-Light.eot');
    src: url('../resources/fonts/GothamRounded-Light.eot?#iefix') format('embedded-opentype'),
    url('../resources/fonts/GothamRounded-Light.woff') format('woff'),
    url('../resources/fonts/GothamRounded-Light.ttf') format('truetype'),
    url('../resources/fonts/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}


$font-family-regular:           'GothamRounded-Book';
$font-family-Light:             'GothamRounded-Light';
$font-family-bold:              'GothamRounded-Bold';

$font-family-base:              $font-family-regular !default;

:root {
  --blue: #1e90ff;
  --white: #ffffff;
}



/*FONT and COLOR*/
h1{font-family: 'GothamRounded-Book', "Helvetica Neue", sans-serif; font-size: 40px; color: #231F20;}
h2{font-family: 'GothamRounded-Bold', "Helvetica Neue", sans-serif; font-size: 20px; color: #B9D532; line-height:25px}
p{color: #8C9092; font-family: 'GothamRounded-Book', "Helvetica Neue"; font-size: 16px; line-height:22px}
p.lead{font-size: 20px}
p.secondary-lead{font-size: 18px; margin-bottom:35px}
th{font-family: 'GothamRounded-Bold', "Helvetica Neue", sans-serif;}
td{font-family: 'GothamRounded-Book', "Helvetica Neue", sans-serif;}
a{color: #9978B5; font-family: 'GothamRounded-Book', "Helvetica Neue", sans-serif; text-decoration: none;}
a:hover{color:#ccc; text-decoration:none}
a, a:hover, a:active, a:focus {outline:0}
