// fix for spacing issue in case hero image has call to action and config section
.hero-image-section {
  &.hero-image-add {
    ~ .config-section-wrap {
      @include respond-to-max($desktop) {
        margin-top: 70px;
      }
    }
    ~ .config-section-wrap ~ .config-section-wrap {
      @include respond-to-max($desktop) {
        margin-top: 0;
      }
    }
    ~ .config-section-wrap {
      &.add-links {
        @include respond-to-max($desktop) {
          margin-top: -168px;
        }
      }
    }
  }
}
// fix the config-section on top and hide topbar
.fixed-config-section {
  margin-top: 0 !important;
  .top-nav-section.top-nav {
    display: none;
  }
  .navbar-default {
    top: 0;
  }

  .main-mega-menu-desktop .mega-menu-navbar-default {
    top: 0;
  }
  .affix {
    top: 90px;
    width: 100%;
    position: fixed;
    z-index: 1;
    @media (max-width: 991px) {
      top: 56px;
    }
  }
  header + * {
    margin-top: 183px;
    @include respond-to-max($tablet) {
      margin-top: 113px;
    }
  }
}
#fixed-wrapper {
  @include respond-to-max($tablet) {
    position: fixed;
    top: auto !important;
    right: 0;
    z-index: 9;
    bottom: 12.5px;
    padding: 0 1rem;
  }
}
.links-wrapper {
  position: absolute;
  top: toRem(25);
  right: 0;
  z-index: 9;
  @include respond-to-max($tablet) {
    right: 0;
    width: 100%;
    top: toRem(-160);
    position: relative;

    .hero-links-secton > .container-fluid > .row > .col-xs-12 {
      padding: 0;
    }
  }

  @include respond-to-max($desktop-min) {
    .col-xs-12 {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }

  .hero-links-secton {
    @include respond-to-min($desktop) {
      max-width: toRem(486);
      min-height: toRem(96);
      min-width: toRem(450);
    }
  }
}

.hero-links-secton ul {
  width: 100%;
  height: toRem(102);
  box-shadow: 0 toRem(2) toRem(10) 0 hsla(0, 0%, 67%, 0.2);
  background-color: $main-green;
  border-radius: toRem(5);

  @include respond-to-min($tablet) {
    height: toRem(96);
  }

  li {
    display: table-cell;
    width: 1%;
    position: relative;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 64px;
      svg {
        width: 26px;
        height: 26px;
        stroke: $white;
        g {
          stroke: $white;
        }
      }

      span {
        display: none;
      }
    }
    &:after {
      border-right: 1px solid $white;
      content: "";
      top: 55%;
      transform: translateY(-50%);
      height: 50px;
      position: absolute;
      @include respond-to-max($tablet) {
        height: 24px;
      }
    }
  }
}

@include respond-to-max($desktop) {
  .hero-links-secton {
    ul {
      li {
        a {
          height: 84px;
          flex-direction: column;
          text-align: center;
          color: $white;
          font-weight: 700;
          font-size: 10px;
          @include font-family-Neotech-ge;
          text-transform: uppercase;
          span {
            line-height: 1.2;
            margin-top: 10px;
            display: block;
            width: 80%;
          }
          svg {
            width: 26px;
            height: 26px;
            stroke: $white;
            g {
              stroke: $white;
            }
          }
        }
      }
      &:after {
        top: 52px;
      }
    }
  }
}

.hero-links-secton ul li:first-child:after {
  display: none;
}

.hero-links-secton #icon--pay {
  height: 32px;
  width: 32px;
  margin-top: -6px;
}

.hero-links-add {
  .hero-links-secton {
    ul li {
      &:after {
        display: flex;
      }
      &:first-child {
        &:after {
          display: none;
        }
      }
    }
  }
}

.hero-links-secton.show-span {
  ul {
    li {
      a {
        height: 96px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
        text-align: center;
        color: $white;
        font-weight: bold;
        font-size: 8px;
        @include font-family-lato;
        text-transform: uppercase;

        p {
          line-height: 1.5;
          margin-top: toRem(10);
          display: block;
          width: 66%;
          letter-spacing: toRem(0.8);
          @include respond-to-min($desktop) {
            width: 85%;
          }
          *[lang="ar"] *[dir="rtl"] & {
            width: 54%;
          }

          @media (min-width: 768px) and (max-width: 769px) {
            width: 40%;
          }
        }
      }
    }
  }
}

.config-section-column .hero-links-secton.show-span {
  ul {
    li {
      a {
        p {
          width: 37%;
        }
      }
    }
  }
}

*[lang="ar"] {
  *[dir="rtl"] {
    .config-section-wrap {
      .links-wrapper {
        left: 0;
        right: auto;
      }
      .simplebar-wrapper {
        padding-left: $padding-step-4;
        padding-right: $padding-step-2;
        @include respond-to-max($phone) {
          padding-left: $padding-step-2;
        }
      }
      .page-nav {
        li {
          padding-right: 0;
        }
      }
    }
  }
}
