
// Font family for all heading
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: $almost-black;
  font-weight: 400;
  line-height: 1.3;

  @include font-family-Neotech;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $almost-black;
  letter-spacing: 0;

  *[lang="ar"] *[dir="rtl"] & {
    text-align: right;
  }
}



@media (max-width: 770px) {
  h1 {
    font-size: 2rem;
    letter-spacing: 0;
  }

  h2 {
    font-size: 1.875rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 1.25rem;
  }

  h6 {
    font-size: 1rem;
  }

  .body-standard,
  .body-standard p {
    font-size: .875rem;
  }

  .body-small,
  .body-smallest,
  .body-smallest p,
  .body-small p {
    font-size: .75rem;
  }
}

@media (min-width: 769px) {
  h1 {
    font-size: 3.375rem;
    letter-spacing: 0;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.75rem;
  }

  h5 {
    font-size: 1.5rem;
  }

  h6 {
    font-size: 1.25rem;
  }

  .body-standard,
  .body-standard p {
    font-size: .875rem;
  }

  .body-small,
  .body-smallest,
  .body-smallest p,
  .body-small p {
    font-size: .75rem;
  }
}


h1,
h2,
h3 {
  // margin-top: 25px;
  margin-bottom: 12.5px;
}


h4,
h5,
h6 {
  margin-bottom: 12.5px;
  margin-top: 12.5px;
}

//heading en


.cmp-container_fullwidth {
  left: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  position: relative;
  right: 50%;
  width: 100vw;
}

.absCenter {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
