.cta-benefits.two-col div.cover,
.media-cta-section.two-col div.cover {
  position: relative;
}

.cta-benefits {
  background-color: transparent;
  padding: 0;
}

.cta-benefits.two-col .cta-heading,
.media-cta-section.two-col .cta-heading {
  text-align: center;
}

.media-cta-section .media-cta-photo .sass {
  display: none !important;
}
.media-cta-section ~ .modal-backdrop.fade.in {
  display: block;
  background-color: #00000091;
}

.learn-more-link .btn-text {
  letter-spacing: 2px;
}

.cta-benefits,
.media-cta-section {
    padding: 40px 0;

    @media (min-width: 992px) {
        padding: 4rem 0;
    }
    .media-cta-wrapper {
        @media screen and (min-width: 768px) {
            display: flex;
        }
        .text-left {
            @include rtlBlock() {
                text-align: right;
            }
        }
        .learn-more-link {
            .btn-modal {
                .moreg {
                    font-size: inherit;
                    letter-spacing: inherit;
                }
            }
        }
    }
    &.two-col {
        div.cover {
            position: relative;
        }

        .cta-heading {
            text-align: center;
        }

        .media-cta-wrapper {
           
            @media (max-width: 991px) {
                margin-bottom: 1.5rem;
            }


            >div {
                @media (min-width: 992px) {
                    max-height: 428px;
                    min-height: 428px;
                }
            }

            .media-cta-photo {
                @media (min-width: 992px) {
                    height: 428px;
                }
            }
        }

        .learn-more-link {
            @media (min-width: 992px) {
                bottom: 40px;
            }
        }
    }

    &.no-bg {
        background-color: transparent;
    }

    .cta-heading {
        font-size: 2rem;
        margin-bottom: 2rem;
        line-height: 40px;
        color: $almost-black;
        margin-top: 0;

        @media (max-width: 767px) {
            font-size: 1.5rem;
            text-align: center;
        }
    }

    .media-cta-container {
        background: $white;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }

    .media-cta-wrapper {
        p {
            color: #767676 !important;
            font-size: 14px;
            line-height: 19px;
            @include font-family-lato;
        }

        h4 {
            @media (max-width: 767px) {
                font-size: 18px;
                font-weight: bold;
                color: #353738;
                @include font-family-lato;
            }
        }

        .media-cta-photo {
            border-radius: 4px 4px 0 0;
            padding: 0 !important;

            @media (min-width: 992px) {
                border-radius: 4px 0 0 4px;
                padding-right: 12px !important;
                padding-left: 0 !important;
                @include rtlBlock() {
                    padding-right:0 !important;
                    padding-left: 12px !important;
                    border-radius: 0 4px 4px 0;
                }
            }
            .cmp-image__image {
                position: absolute;
                left: -9999px;
                right: -9999px;
                top: -9999px;
                bottom: -9999px;
                margin: auto;
                min-width: 100%;
                min-height: 100%;
            }
        }

        .body-standard {
            padding: 1rem 1rem 4rem;
            @media (min-width: 992px) {
                padding: 1.5rem 4rem 2.5rem 12px !important;
                @include rtlBlock() {
                    padding: 24px 12px 16px 64px !important;
                }
            }
           
            h4 {
                margin-bottom: 1.4rem;
                @include font-family-Neotech;
                color: $almost-black;

                @media (max-width: 991px) {
                    margin-bottom: 1rem;
                    @include font-family-lato;
                    font-weight: 700;
                    font-size: 18px;
                }
            }
            ol {
                list-style: decimal;
                margin-left: toRem(28);

                @include rtlBlock() {
                    margin-right: toRem(28) !important;
                    margin-left: 0;
                }
                li {
                    padding-left: toRem(12);
                    
                    @include rtlBlock() {
                        padding-left: 0;
                        padding-right: toRem(12);
                    }
                }
            }
            ul {
                margin-left: toRem(16);
                list-style-position: inside;
                padding-left: 0;

                @include rtlBlock() {
                    margin-right: toRem(16);
                    margin-left: 0;
                    padding-right: 0;
                }
                li {
                    padding-left: toRem(24);
                    position: relative;

                    @include rtlBlock() {
                        padding-left: 0;
                        padding-right: toRem(24);
                    }

                    &::before {
                        content: "";
                        width: toRem(4);
                        height: toRem(4);
                        border-radius: 50%;
                        background-color: $gray-text-color;
                        display: block;
                        position: absolute;
                        left: 0;
                        top: toRem(10);

                        @include rtlBlock () {
                            left: auto;
                            right: 0;
                        }
                    }
                }
            }
            ol,
            ul {
                font-size: toRem(14);
                margin-bottom: toRem(16);
                color: $gray-text-color;

                @include rtlBlock() {
                    margin-right: toRem(16);
                    margin-left: 0;
                }

                li {
                    margin-bottom: toRem(4);
                    line-height: toRem(24);
                    color: $gray-text-color;
                    &:last-child {
                        margin-bottom: 0;
                    }

                    @include rtlBlock() {
                       padding-right: toRem(24);
                       padding-left: 0; 
                    }

                    a {
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        &.col-reverse {
            @media (min-width: 768px) {
                flex-direction: row-reverse;
            }
            .media-cta-photo {
                border-radius: 4px 4px 0 0;

                @media (min-width: 992px) {
                    border-radius: 0 4px 4px 0;
                    padding-right: 0!important;
                    padding-left: 12px !important;

                    @include rtlBlock() {
                        border-radius: 4px 0 0 4px;
                        padding-left: 0 !important;
                        padding-right: 12px !important;
                    }
                }
                
            }

            .body-standard {
                @media (min-width: 992px) {
                    padding-left: 1.5rem !important;
                    padding-right: 4rem !important;
                    @include rtlBlock() {
                        padding: 24px 24px 16px 0 !important;
                    }
                }
            }

            .learn-more-link {
                left: 1.5rem;
                @include rtlBlock() {
                    .btn-text {
                        @media (min-width: 992px) {
                            padding-right: 12px;
                        }
                    }
                }
                
            }
        }
    }

    .youtube-popup-container {
        position: fixed;
        z-index: 1062;
        left: 0;

        @include respond-to-max($desktop-min) {
        left: 0;
        top: 0;
        }

        .modal-dialog {
        width: 80%;
        top: 5%;
        margin: 0 auto;

        @include respond-to-min($desktop) {
            top: 7%;
        }

        .modal-content {
            height: toRem(500);
            border: 0;

            @include respond-to-min($desktop) {
            height: toRem(720);
            }

            iframe {
            width: 100%;
            height: 100%;
            }
        }
    }
  }

  // youtube video link
  .youtube-video-link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cta-benefits-section,
.media-cta-section {
    >.container {
        @media (max-width: 991px) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }
}
 
.media-cta-wrapper {
    .learn-more-link {
        position: absolute;
        left: 12px;
        bottom: 1.25rem;

        @media (max-width: 991px) {
            bottom: 2rem;
            left: 1rem !important;
        }

        a {
            font-size: 14px;

            &:before {
                padding: 3.5px;
                right: -20px;
            }

            @media (max-width: 991px) {
                font-size: 12px;

                &:before {
                    padding: 2.85px;
                }
            }
        }
    }
}

.media-cta-container {
    background-color: $sand-white;

    &.media-cta-container-wh {
        background-color: $white;
    }

    &.media-cta-container-gr {
        background-color: $light-sand-brown;
    }
}

.media-cta-section .media-cta-wrapper .media-cta-photo {
    height: 240px;
}

.tile-box-1-column {
    .media-cta-section .cta-heading {
        font-size: 1.2rem;
        margin-bottom: 1rem;
        text-align: left;
        @include font-family-lato();
        font-weight: 700;
        letter-spacing: 0;
    }
    .media-cta-section .media-cta-wrapper .media-cta-photo {
        height: 250px;
        @include respond-to-max($desktop) {
           height: 210px;
        }
    }

    .media-cta-section .media-cta-wrapper {
        .col-xs-12,
        .col-xs-12.media-cta-photo { 
            padding: 0 !important;
        }
        
        .row {
            margin: 0 !important;
        }

        .learn-more-link {
            left: auto;
            @include respond-to-max($desktop) {
              bottom: 1.25rem;
            }
        }
    }
        
    .media-cta-section .media-cta-wrapper .body-standard {
        padding: toRem(16) toRem(16) toRem(40) !important;

        @include respond-to-min($desktop) {
            padding: toRem(24) !important;
        }

        @include respond-to-max($desktop) {
            min-height: 170px;
        }

        .col-xs-12 {
            & > *:first-child {
                font-size: toRem(18);
                @include font-family-Neotech();
                @include single-line-ellipsis();
                margin-bottom: toRem(8);
                line-height: toRem(24);
                font-weight: 400;

                @include respond-to-min($desktop) {
                    margin-bottom: toRem(16);
                    line-height: toRem(35);
                    font-size: toRem(28);
                }
            }

            p {
                margin-bottom: toRem(12.5);
                line-height: toRem(20);
                @include respond-to-min($desktop) {
                    line-height: toRem(22);
                }
            }
        }
    }
}
.media-cta-wrapper {
    position: relative;
    flex-wrap: wrap;
    display: flex;

    &>div {
        min-height: 150px;
    }



    .media-cta-photo {
        background-color: $white;
        height: 250px;
        overflow: hidden;

        >.simple-image {
            display: block;
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;

            >img {
                max-width: 100% !important;
                max-height: 90% !important;
                height: auto !important;
                width: auto !important;
                margin: 0 !important;
                padding: 0 !important;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            >img {
                left: 0;
                transform: translate(0, -50%);
            }

            >img.cover-left {
                left: auto;
                right: 0;
            }
        }

        >.cover {
            display: block;
            position: relative;
            top: 0;
            left: 0;

            img.cover {
                max-height: inherit !important;
                max-width: inherit !important;
                padding: 0 !important;
            }
        }


        .video-container {
            position: absolute;
        }

        .video-container {
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            overflow: hidden;

            .video-controls-media-cta {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                cursor: pointer;
                display: -ms-flexbox;
                display: flex;
                -ms-flex-pack: center;
                justify-content: center;
                -ms-flex-align: center;
                align-items: center;
            }
        }

        video {
            position: absolute;
            z-index: 0;
        }

        video.fillIt,
        video.fillItW {
            width: 100%;
            height: auto;
        }

        video.fillItH {
            height: 100%;
            width: auto;
        }

        .video-controls {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            svg {
                height: 3.75rem;
                width: 3.75rem;
            }
        }
    }

    .h3,
    h3 {
        font-size: 1.25rem;
        margin-top: 0;
        margin-bottom: 1.7rem;
        padding-top: 0;
    }

    .h4,
    h4 {
        margin-top: 0;
        margin-bottom: 1.7rem;
        padding-top: 0;
    }


}
@media (min-width: 992px) {
    .media-cta-section {
        &.two-col {
            .media-cta-wrapper {
                .body-standard {
                    padding: 42px 24px 0 12px;
                }
            }
        }
    }
}



[lang="ar"] [dir="rtl"] .media-cta-section .learn-more-link {
  left: 0;
  right: 12px;
}