// notifications as a module
.digital-notifications-wrapper {
  .notifications-body {
    @include respond-to-min($desktop) {
      margin-top: -1px;
    }

    .description {
      margin-top: 8px;
    }

    ul {
      margin-top: 8px;
    }

    a.btn {
      margin-bottom: 0;
      margin-top: 16px;
      min-width: 180px;
      width: auto;
    }
  }
}
