.dynamic-device-tile {
    .cmp__bg-cards_product-grid {
        .bg-cards {
            .device-card.tile-table {
                .tile-card {
                    .tiles-box-title{
                        h2 {
                            color: inherit;
                            font-weight: 300;
                        }
                    }
                    .tile, .detail-price-new {
                        @include rtlBlock() {
                            text-align: right;
                        }
                    }
                    .smile-points {
                        font-size: 1rem;
                        font-weight: 700;

                    }
                }
            }
        }

    }
}