//Start
.cmp_genric__list_etisalat {
  ul {
    align-items: flex-start;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 12px;
    padding-right: 12px;
    text-align: left;
    width: 100%;

    li {
      flex: 0 0 24.333333%;
      padding-bottom: 50px;
      padding-top: 0;

      @media (max-width: 767px) {
        flex: 0 0 100%;
      }

      @media (min-width: 768px) and (max-width: 800px) {
        flex: 0 0 48.333333%;
      }

      *[lang="ar"] *[dir="rtl"] & {
        text-align: right;
      }

      h5 {
        color: $almost-black;
        font-size: 24px;
        font-weight: 500;
        font-weight: 500;
        line-height: 32px;
        margin-bottom: 16px;

        @media (min-width: 992px) {
          margin-top: 38px;
          width: 80%;
        }
      }

      .left-menu-title a {
        color: $almost-black;
        font-size: 24px;
        font-weight: 500;
        font-weight: 500;
        line-height: 32px;
        margin-bottom: 16px;

        //font-family: Neotech-medium,GE SS Two,Roboto,Arial,sans-serif;
        @include font-family-Neotech-ge;
      }

      img {
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        height: 46px;
        margin-bottom: 24px;
        width: 46px;
      }

      p {
        //font-family: Bariol,GE SS Two,Arial,sans-serif;
        @include font-family-Bariol;
      }

      a.button {
        color: $main-green;
        font-size: 14px;
        font-size: 12px;
        letter-spacing: 2px;
        line-height: 20px;
        min-width: 180px;
        padding-right: 12px;
        position: relative;
        text-transform: uppercase;
        width: auto;

        &::before {
          border: solid $main-green;
          border-width: 0 1px 1px 0;
          content: "";
          line-height: 1;
          padding: 3.25px;
          position: absolute;
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-50%) rotate(-45deg);
          transition: all .3s ease-in-out;
        }

        &:hover {
          color: $main-green;
          text-decoration: underline;
        }
      }
    }
  }
}

.cmp_genric__list_etisalat_variation1 {
  ul {
    align-items: flex-start;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 12px;
    padding-right: 12px;
    text-align: center;
    width: 100%;
    //font-family:Lato,GE SS Two,Roboto,Arial,sans-serif;
    @include font-family-lato();

    li {
      align-items: center;
      flex: 0 0 24.333333%;
      justify-content: center;
      padding-bottom: 50px;
      padding-top: 0;

      @include respond-to-min($desktop) {
        padding-top: calc(#{$padding-step-3} + 1px);
      }

      @include respond-to-max($desktop) {
        flex: 0 0 48.333333%;
        margin-bottom: 40px;
      }

      *[lang="ar"] *[dir="rtl"] & {
        text-align: right;
      }

      h5 {
        color: $steel-grey;
        display: block;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 1.75px;
        line-height: 1.4rem;
        margin-bottom: 16px;
        min-height: 46px;
        text-transform: uppercase;
      }

      .left-menu-title a {
        color: $steel-grey;
        display: block;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 1.75px;
        letter-spacing: 2px;
        line-height: 1.4rem;
        min-height: 46px;
        text-transform: uppercase;
        width: 87%;
      }

      p {
        display: none;
      }

      img, svg {
        display: -webkit-inline-box;
        height: 45px;
        margin-bottom: calc(#{$margin-step-2});
        position: relative;
        right: 4px;
        width: 45px;

        @include respond-to-min($desktop) {
          height: 64px;
          margin-bottom: calc(#{$margin-step-2} + 4px);
          width: 64px;
        }
      }
    }
  }
}

.genric-container {
  .text {
    *[lang="ar"] *[dir="rtl"] & {
      float: right;
    }
  }
}

