.hero-image-section div.cover {
  max-height: 250px;
}

@media (min-width: 992px) {
  .hero-image-section div.cover {
    max-height: inherit;
  }
}

.hero-image-section.medium div.cover {
  max-height: 200px;
}

@media (min-width: 992px) {
  .hero-image-section.medium div.cover {
    max-height: 363px;
  }
}
@media (max-width: 991px) {
  .hero-image-section.has-action div.cover {
    max-height: 324px;
  }
  .hero-image-section.has-action .hero-images-call-to-action-section {
    top: 240px;
  }
  .hero-image-section.has-action .hero-details {
    margin-top: 80px;
  }
}

.hero-image-section.hero-video div.cover {
  max-height: 250px;
}

@media (min-width: 992px) {
  .hero-image-section.hero-video div.cover {
    max-height: 500px;
  }
}

@media (max-width: 576px) {
  .hero-image-section div.cover video {
    width: 100%;
  }
}

.hero-image-section {
  width: 100%;
  min-height: 500px;
  height: 500px;
}

.hero-image-section .hero-over-title {
  letter-spacing: 0.215em;
}

.hero-image-section .hero-content {
  font-size: 0.875rem;
}

.hero-image-section .hero-content span {
  width: 65%;
  display: block;
  margin: 0 auto;
}

.hero-image-section .hero-upper-title {
  font-size: 2.25rem;
  @include font-family-Neotech-ge;
  margin-bottom: 0.6875rem;
}

.hero-image-section .hero-swiper-button-next,
.hero-image-section .hero-swiper-button-prev {
  width: 1rem;
  height: 2rem;
  background: hsla(0, 0%, 100%, 0);
  margin: 0;
  transform: translateY(-50%);
  z-index: 2;
  top: 50%;
  position: absolute;
  cursor: pointer;
}

.hero-image-section .hero-swiper-button-next svg,
.hero-image-section .hero-swiper-button-prev svg {
  stroke: $black;
  width: 1rem;
  height: 2rem;
}

.hero-image-section .hero-swiper-button-next {
  right: 1.25rem;
}

.hero-image-section .hero-swiper-button-prev {
  left: 1.25rem;
}

.hero-image-section.bg-dark .hero-swiper-button-next svg,
.hero-image-section.bg-dark .hero-swiper-button-prev svg {
  stroke: $white;
}

.hero-image-section .swiper-slide {
  text-align: center;
  font-size: 1.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $black;
  background-color: $white;
}

.hero-image-section .swiper-slide > .cover {
  top: 0;
  left: 0;
  z-index: 1;
  height: 500px;
  overflow: hidden;
}

.hero-image-section .swiper-slide > .container {
  margin: 0;
  z-index: 3;
}

.hero-image-section .swiper-slide > .container-fluid {
  margin: 0;
  width: 100%;
}

.hero-image-section .swiper-slide.bg-dark {
  color: $white;
}

.hero-image-section .swiper-slide .section-title {
  position: relative;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.hero-image-section .swiper-slide .price-tag {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem 1.8rem 1rem;
  background-color: rgba(255, 128, 0, 0.8);
}

.hero-image-section .swiper-slide .price-tag .detail-info-wrap-pricetag > div {
  color: $white;
}

.hero-image-section .swiper-slide h2 {
  letter-spacing: 0;
  font-size: 2.1875rem;
  margin-top: 0;
}

.hero-image-section .swiper-slide h2:first-child {
  margin-top: 0;
}

.hero-image-section .swiper-slide h2:last-child {
  margin-bottom: 1.625rem;
}

.hero-image-section .swiper-slide p {
  position: relative;
}

.hero-image-section .swiper-slide p.hero-content {
  position: relative;
  @include font-family-Neotech-ge;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.2rem;
}

.hero-image-section .swiper-slide .bg-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: transparent;
  opacity: 0;
}

.hero-image-section.hero-links-add {
  height: 560px;
  overflow: hidden !important;
  margin-bottom: -50px;
}

.hero-image-section .hero-details {
  position: absolute;
  top: 300px;
  height: 186px;
  text-align: left;
  width: 100%;
  left: 0;
}

.hero-image-section .hero-details .hero-heading-small {
  font-size: 1rem;
  @include font-family-Neotech-ge;
  color: #919192;
  letter-spacing: 1.75px;
  font-weight: 700;
  line-height: 1rem;
  margin: 0;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.hero-image-section .hero-details .hero-heading-big {
  font-size: 2.1rem;
  @include font-family-Neotech;
  color: #353738;
  line-height: 28px;
  margin: 0;
  margin-bottom: 0.5rem;
}

.hero-image-section .hero-details .hero-description {
  font-size: 18px;
  line-height: 26px;
  color: #353738;
  @include font-family-Neotech-ge;
}

.hero-image-section .hero-details a.btn,
.hero-image-section .hero-details button.btn {
  max-width: 100%;
}

.hero-image-section .bg-dark .hero-details .hero-description,
.hero-image-section .bg-dark .hero-details .hero-heading-big,
.hero-image-section .bg-dark .hero-details .hero-heading-small {
  color: $white;
}

.hero-image-section .swiper-pagination {
  top: 256px;
  bottom: unset !important;
}

.hero-image-section.swiper-container .hero-swiper-button-next,
.hero-image-section.swiper-container .hero-swiper-button-prev {
  right: 2rem;
  width: 48px;
  height: 48px;
  background: rgba(0, 0, 0, 0.42);
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  display: none;
}

.hero-image-section.swiper-container .hero-swiper-button-next svg,
.hero-image-section.swiper-container .hero-swiper-button-prev svg {
  width: 1rem;
  height: 1rem;
  stroke: $white;
}

.hero-image-section.swiper-container .hero-swiper-button-prev {
  right: auto;
  left: 2rem;
}

.hero-image-section .swiper-pagination-bullet-active {
  background-color: #719e19;
}

.hero-image-section.medium {
  min-height: 200px;
  height: 100%;
  position: relative;
  z-index: 8;
}

.hero-image-section.medium swiper-slide > .cover {
  height: 100%;
}

.hero-image-section.medium .swiper-slide {
  width: 100%;
}

.hero-image-section.hero-video {
  height: 100%;
}

.hero-image-section.hero-video .swiper-pagination {
  top: 256px;
  bottom: auto !important;
}

.hero-image-section.hero-video .swiper-slide .hero-heading-big {
  font-size: 26px;
  line-height: 33px;
}

.hero-image-section.hero-video .swiper-slide .hero-description {
  margin-bottom: 0;
  color: #919192;
}

.hero-image-section.hero-video .swiper-slide .hero-description ~ .btn,
.hero-image-section.hero-video .swiper-slide .hero-description ~ .wst-price-tag {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.hero-image-section.hero-video .video-wrapper {
  margin-bottom: 1rem;
}

.hero-image-section.hero-video .video-wrapper .play-video {
  font-size: 14px;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
  @include font-family-Neotech-ge;
  position: relative;
}

.hero-image-section.hero-video .video-wrapper .play-video img,
.hero-image-section.hero-video .video-wrapper .play-video svg,
.hero-image-section.hero-video .video-wrapper .play-video svg path,
.hero-image-section.hero-video .video-wrapper .play-video svg polygon {
  stroke: #719e19;
  width: 18px;
  height: 18px;
  position: absolute;
  right: -32px;
  top: -2px;
}

.hero-image-section.hero-video .video-wrapper .play-video:hover {
  text-decoration: underline;
}

.hero-image-section.hero-video .swiper-pagination ~ .hero-swiper-button {
  background: hsla(0, 0%, 100%, 0.4);
}

.hero-image-section.hero-video .swiper-pagination ~ .hero-swiper-button svg {
  stroke: #b2b2b2;
}

.hero-image-section.hero-video .swiper-pagination ~ .hero-swiper-button.hero-swiper-button-prev svg {
  transform: translateY(0) rotate(-180deg);
}

.hero-image-section.hero-video .swiper-pagination.bg-dark ~ .hero-swiper-button {
  background: rgba(0, 0, 0, 0.42);
}

.hero-image-section.hero-video .swiper-pagination.bg-dark ~ .hero-swiper-button svg {
  stroke: $white;
}

.hero-image-section .wst-price-tag .bottom-part,
.hero-image-section .wst-price-tag .top-part {
  color: #6f7273;
  font-size: 14px;
  line-height: 22px;
  @include font-family-Neotech-ge;
}

.hero-image-section .wst-price-tag .main-part {
  display: flex;
  align-items: baseline;
}

.hero-image-section .wst-price-tag .main-part .price {
  font-size: 2rem;
  line-height: 40px;
  @include font-family-Neotech;
  color: #719e19;
  margin-right: 10px;
}

.hero-image-section .wst-price-tag .main-part .tag {
  color: #719e19;
  @include font-family-Neotech-ge;
  font-size: 14px;
  line-height: 17px;
}

[lang="ar"] [dir="rtl"] .hero-image-section.hero-video .swiper-slide .video-wrapper .play-video {
  padding-right: 2rem;
}

[lang="ar"] [dir="rtl"] .hero-image-section.hero-video .swiper-slide .video-wrapper .play-video svg {
  right: 0 !important;
}

[lang="ar"] [dir="rtl"] .hero-image-section .wst-price-tag .main-part .price {
  margin-right: 0;
}

@media (min-width: 320px) {
  .hero-image-add .hero-images-call-to-action-section {
    left: unset;
  }
}
@media (max-width: 411px) {
  .business .hero-image-section img.cover {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .hero-image-section .hero-details {
    top: auto;
    height: auto;
    display: block;
    width: inherit;
    position: relative;
    left: auto;
  }
  .hero-image-section .hero-details .hero-heading-small {
    margin-bottom: 1rem;
  }
  .hero-image-section .hero-details .hero-heading-big {
    margin-bottom: 1rem;
    font-size: 54px;
    line-height: 64px;
  }
  .hero-image-section .hero-details a.btn,
  .hero-image-section .hero-details button.btn {
    min-width: 180px;
    width: auto;
  }
  .hero-image-section.swiper-container .hero-swiper-button-next,
  .hero-image-section.swiper-container .hero-swiper-button-prev {
    display: flex;
  }
  .hero-image-section .hero-details .c-center {
    text-align: center;
  }
  .hero-image-section .hero-details .c-center .wst-price-tag .top-part {
    text-indent: -80px;
  }
  .hero-image-section .hero-details .c-center .wst-price-tag .main-part {
    text-align: center;
    justify-content: center;
  }
  .hero-image-section.medium {
    min-height: 363px;
    height: 363px;
  }
  .hero-image-section.medium swiper-slide > .cover {
    height: 363px;
  }
  .hero-image-section.medium .hero-images-call-to-action-section {
    top: 50px;
  }
  .hero-image-section.medium .hero-details + .hero-images-call-to-action-section {
    top: 120px;
  }
  .hero-image-section.hero-video {
    height: 500px;
    min-height: 500px;
  }
  .hero-image-section.hero-video .swiper-slide .hero-heading-big {
    font-size: 54px;
    line-height: 64px;
  }
  .hero-image-section.hero-video .swiper-slide .hero-description {
    color: #353738;
    font-size: 14px;
    line-height: 22px;
  }
  .hero-image-section.hero-video .video-wrapper {
    margin-bottom: 10px;
  }
  .hero-image-section.hero-video .video-wrapper .play-video img,
  .hero-image-section.hero-video .video-wrapper .play-video svg,
  .hero-image-section.hero-video .video-wrapper .play-video svg path,
  .hero-image-section.hero-video .video-wrapper .play-video svg polygon {
    top: -3px;
    width: 20px;
    height: 20px;
  }
  .hero-image-section.hero-video .swiper-slide.bg-dark .video-wrapper .play-video {
    color: $white;
  }
  .hero-image-section.hero-video .swiper-slide.bg-dark .video-wrapper .play-video svg,
  .hero-image-section.hero-video .swiper-slide.bg-dark .video-wrapper .play-video svg path,
  .hero-image-section.hero-video .swiper-slide.bg-dark .video-wrapper .play-video svg polygon {
    stroke: $white;
  }
  .hero-image-section.hero-video .bg-dark .hero-details .hero-description,
  .hero-image-section.hero-video .bg-dark .hero-details .wst-price-tag .bottom-part,
  .hero-image-section.hero-video .bg-dark .hero-details .wst-price-tag .price,
  .hero-image-section.hero-video .bg-dark .hero-details .wst-price-tag .tag,
  .hero-image-section.hero-video .bg-dark .hero-details .wst-price-tag .top-part {
    color: $white;
  }
  [lang="ar"] [dir="rtl"] .hero-image-section .wst-price-tag .main-part .price {
    margin-right: 0;
  }
  [lang="ar"] [dir="rtl"] .hero-image-section .hero-details .c-center .wst-price-tag .top-part {
    text-indent: -62px;
  }
}
@media (max-width: 991px) {
  .hero-image-section.medium .hero-details {
    top: 0;
    height: 100%;
    margin-top: 200px;
    position: relative;
  }
  .hero-image-section.medium .hero-details .hero-heading-big {
    margin-top: 24px;
  }
  .hero-image-section.medium .swiper-slide .hero-heading-big {
    color: #353738;
    font-size: 22px;
  }
  .hero-image-section.medium .swiper-slide .hero-description {
    font-size: 14px;
    color: #6f7273;
  }
  .hero-image-section.hero-image-add {
    min-height: 412px;
  }
  .hero-image-section.hero-video,
  .hero-image-section.hero-video .swiper-wrapper {
    height: auto;
  }
  .hero-image-section.hero-video .hero-details {
    margin-top: 290px;
    top: 0;
    height: 100%;
    position: relative;
  }
  .hero-image-section.hero-video .swiper-slide .hero-details {
    display: none;
  }
  .hero-image-section.hero-video .swiper-slide-active .hero-details {
    display: block;
  }
  .hero-image-section .bg-dark .hero-details .hero-heading-big,
  .hero-image-section .bg-dark .hero-details .hero-heading-small {
    color: #353738;
  }
  .hero-image-section .bg-dark .hero-details .hero-description {
    color: #919192;
  }
  .hero-image-section.hero-image-add ~ .config-section-wrap {
    margin-top: 70px;
  }
  .hero-image-section.hero-image-add ~ .config-section-wrap ~ .config-section-wrap {
    margin-top: 0;
  }
  .hero-image-section.hero-image-add ~ .config-section-wrap.add-links {
    margin-top: -168px;
  }
}
@media (-ms-high-contrast: none), screen and (-ms-high-contrast: active) {
  .hero-image-section .swiper-slide > .cover {
    z-index: 0;
  }
}
@media (max-width: 768px) {
  .hero-image-section .swiper-slide > .container {
    width: 100%;
  }
}

.hero-images-call-to-action-section {
  text-align: left;
  padding: 0 12px;
  width: 100%;
  display: none;
}

.hero-images-call-to-action-section .call-to-action-box {
  height: 146px;
  border-radius: 5px;
  background-color: #719e19;
  padding: 1.3rem;
  position: relative;
}

.hero-images-call-to-action-section .call-to-action-box .heading {
  font-size: 1.25rem;
  color: $white;
  margin: 0;
  margin-bottom: 12px;
  letter-spacing: 0;
}

.hero-images-call-to-action-section .call-to-action-box .description {
  font-size: 14px;
  font-family: Lato, Roboto, GE SS Two, Arial, sans-serif;
  color: #afcd74;
  line-height: 18px;
  margin-bottom: 1rem;
}

.hero-images-call-to-action-section .call-to-action-box .btn-text {
  color: $white;
  position: absolute;
  bottom: 1.1rem;
}

.hero-images-call-to-action-section .call-to-action-box .btn-text:before {
  padding: 3px;
  border: solid $white;
  border-width: 0 1px 1px 0;
}

.hero-image-add .hero-images-call-to-action-section {
  display: block;
  position: absolute;
  top: 170px;
  right: 0;
  left: 0.5rem;
  z-index: 9;
}
[lang="ar"] [dir="rtl"] .hero-images-call-to-action-section {
  text-align: right;
}

[lang="ar"] [dir="rtl"] .hero-images-call-to-action-section .btn-text {
  right: 2.5rem;
}

.hero-image-add .swiper-slide .hero-images-call-to-action-section {
  display: block;
}

.hero-image-add .hero-details {
  top: 360px;
}

.hero-image-add.dynamic-content .swiper-slide {
  display: block;
}

.hero-image-add.dynamic-content .swiper-slide .cover + .container {
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.hero-image-add.dynamic-content .swiper-slide .cover + .container .hero-details {
  z-index: 9999;
}

.hero-image-add.dynamic-content .swiper-slide .cover + .container .row {
  width: 100%;
}

.hero-image-add.dynamic-content .hero-details + .hero-images-call-to-action-section {
  top: 230px;
}

.hero-image-add.has-action .bg-dark .hero-details .hero-description,
.hero-image-add.has-action .bg-dark .hero-details .hero-heading-big {
  color: $white !important;
}
@media (min-width: 992px) {
  .hero-images-call-to-action-section .call-to-action-box {
    max-width: 384px;
    height: 160px;
  }
  .hero-image-add .hero-images-call-to-action-section {
    top: 190px;
  }
  .hero-image-add .hero-images-call-to-action-section .call-to-action-box {
    float: right;
    min-width: 384px;
  }
  .hero-image-add .swiper-slide .cover + div {
    position: relative;
  }
  .hero-image-add .hero-details {
    top: auto;
  }
  [lang="ar"] [dir="rtl"] .hero-image-add .hero-images-call-to-action-section .call-to-action-box {
    float: left;
  }
  .swiper-container .swiper-slide h2:last-child {
    margin-bottom: 8.4rem;
  }
  .swiper-container .swiper-slide a.btn {
    margin-bottom: 3.5rem;
    margin-top: 1.875rem;
  }
  .swiper-container .swiper-slide a.btn.btn-promo {
    bottom: 0;
  }
  .swiper-container .swiper-slide h2.promo-heading {
    margin-top: 7rem;
  }
}
@media (min-width: 768px) {
  .swiper-container .swiper-slide h2:last-child {
    margin-bottom: 3rem;
  }
  .swiper-container .swiper-slide a.btn {
    margin-top: 0;
    margin-bottom: 1.875rem;
  }
  .swiper-container .swiper-slide h2 {
    font-size: 3.4375rem;
    @include font-family-Neotech-ge;
    font-weight: 300;
  }
  .swiper-container .swiper-slide h2.promo-heading {
    margin-top: 3rem;
    font-size: 3.2rem;
  }
  .swiper-container .swiper-slide h2 .arabicTitle {
    letter-spacing: 0 !important;
    font-size: 2.6rem;
    display: inline-block;
    margin-bottom: 20px;
  }
  .swiper-container .swiper-slide h2:last-child {
    margin-bottom: 5.8rem;
  }
  .swiper-container .swiper-slide .section-title {
    position: absolute;
    padding-top: 0;
    top: 3.125rem;
  }
  .swiper-container .swiper-slide .price-tag {
    padding: 1rem 2rem 1.5rem;
  }
  .swiper-container .swiper-slide a.btn {
    margin-bottom: 0;
    margin-top: 1.875rem;
  }
  .swiper-container .swiper-slide a.btn.btn-promo {
    line-height: 1.6rem;
    font-size: 1rem;
    padding: 1rem;
    height: 5rem;
    bottom: -6rem;
    @include font-family-Neotech-ge;
  }
  .swiper-container .hero-content {
    font-size: 1rem;
  }
  .swiper-container .hero-upper-title {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }
  .swiper-container .hero-swiper-button-next,
  .swiper-container .hero-swiper-button-next svg,
  .swiper-container .hero-swiper-button-prev,
  .swiper-container .hero-swiper-button-prev svg {
    width: 2.1875rem;
    height: 4.25rem;
  }
  .swiper-container .hero-swiper-button-next {
    right: 2.25rem;
  }
  .swiper-container .hero-swiper-button-prev {
    left: 2.25rem;
  }
}
@media (min-width: 1248px) {
  .swiper-container .swiper-slide h2 {
    font-size: 5rem;
  }
  .swiper-container .swiper-slide h2:last-child {
    margin-bottom: 5rem;
  }
  .swiper-container .hero-content {
    font-size: 1.25rem;
  }
  .swiper-container .hero-upper-title {
    font-size: 2.25rem;
  }
  .swiper-container .hero-swiper-button-next,
  .swiper-container .hero-swiper-button-next svg,
  .swiper-container .hero-swiper-button-prev,
  .swiper-container .hero-swiper-button-prev svg {
    width: 2.875rem;
    height: 5.625rem;
  }
  .swiper-container .hero-swiper-button-next {
    right: 4.625rem;
  }
  .swiper-container .hero-swiper-button-prev {
    left: 4.625rem;
  }
  [lang="ar"] [dir="rtl"] .swiper-container .swiper-slide h2 {
    font-size: 5.625rem;
  }
}
@media (max-width: 768px) {
  .swiper-container .swiper-slide .section-title {
    margin-top: 4rem;
  }
  .swiper-container .swiper-slide .price-tag {
    margin-right: 0;
  }
  .swiper-container .hero-upper-title {
    font-size: 1.25rem;
  }
  .swiper-container .hero-swiper-button-next svg,
  .swiper-container .hero-swiper-button-prev svg {
    stroke-width: 0.25rem;
  }
}
[lang="ar"] [dir="rtl"] .swiper-container .swiper-slide .price-tag {
  left: 0;
  right: auto;
}
