  /* -----------------------------------------
    Styles: Main Text 4-0 update
  ----------------------------------------- */
  .main-text-4-0 {
    padding: 16px 0;
    &.has-bg {
      background-color: $module-bg-color;
    }
  }
  
  .main-text-grid-4-0 {
    padding: 16px 0;
    &.has-bg {
      background-color: $module-bg-color;
    }
    @media screen and (max-width: 767px) {
      .container {
        padding-left: 4px;
        padding-right: 4px;
      }
    }
  
    .main-text-action-wrapper {
      margin-top: 16px;
      margin-bottom: 20px;
    }
  
    .grid-wrapper {
      // display: flex;
      // flex-direction: row;
      // flex-wrap: wrap;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
      grid-gap: 24px;
      justify-content: space-between;
      row-gap: 32px;
      @media screen and (min-width: 768px) {
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        row-gap: 32px;
      }
      @media screen and (min-width: 992px) {
        grid-template-columns: repeat(auto-fill, minmax(383px, 1fr));
        row-gap: 32px;
      }
      .grid-tile {
        display: flex;
        flex-direction: column;
        &:nth-child(1n+4) {
          @media screen and (max-width: 767px) {
            display: none;
          }
        }
        // display: flex;
        // flex-direction: column;
        // width: 100%;
        // margin-bottom: 36px;
        // padding-right: 0;
        
        
        // @media screen and (min-width: 768px) {
        //   width: 50%;
        //   padding-right: 24px;
        //   &:nth-of-type(2n) {
        //     padding-right: 0;
        //   }
        // }
        // @media screen and (min-width: 992px) {
        //   width: 33.3%;
        //   &:nth-of-type(2n) {
        //     padding-right: 24px;
        //   }
        //   &:nth-of-type(3n) {
        //     padding-right: 0;
        //   }
        // }
        .persondetails {
          display: flex;
          flex-direction: column;
          @include respond-to-min($tablet) { 
            height: 100%;
          }
        }
        .person-details {
          display: flex;
          margin-bottom: 16px;
          align-items: center;
    
          .icon {
            width: 46px;
            height: 46px;
            margin-right: 14px;
            @media screen and (min-width: 992px) {
              margin-right: 16px;
            }
            img , svg {
              width: 46px;
              height: 46px;
            }
          }
          .person {
            .name {
              margin: 0;
              font-size: 20px;
              line-height: 1.4;
              letter-spacing: normal;
              color: $almost-black;
              margin-bottom: 4px;
              @media screen and (min-width: 992px) {
                font-size: 24px;
                line-height: 1.33;
              }
            }
            .designation {
              margin: 0;
              font-size: 12px;
              line-height: 1.33;
              color: $almost-black;
              @include font-family-lato; 
              @media screen and (min-width: 992px) {
                font-size: 14px;
                line-height: 1.43;
              }
            }
          }
        }
        .description {
          margin-bottom: 16px;
          flex: 1 1 auto;
          @media screen and (min-width: 992px) {
            margin-bottom: 24px;
          }
          p {
            margin: 0;
            font-size: 14px;
            line-height: 1.43;
            color: $gray-text-color;
            @include font-family-lato;
            @media screen and (min-width: 992px) {
              font-size: 16px;
              line-height: 1.5;
            }
          }
        }
        .action {
          height: 20px;
          font-size: 14px;
          .link {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-size: 12px;
            list-style: 1.33;
            padding-right: 8px;
            position: relative;
            
            @media screen and (min-width: 992px) {
              font-size: 14px;
              line-height: 1.43;
              padding-right: 12px;
            }
            &:hover {
              text-decoration: underline;
              color: $main-green;
            }
            &:before {
              border: solid $main-green;
              border-width: 0 1px 1px 0;
              padding: 2.6px;
              content: "";
              position: absolute;
              line-height: 1;
              top: 50%;
              transform: translateY(-20%) rotate(-135deg);
              transition: all .3s ease-in-out;
              -webkit-transform: translateY(-50%) rotate(-45deg);
              right: 0;
              @media screen and (min-width: 992px) {
                padding: 3.25px;
               }
            }
          }
          a {
            @media screen and (min-width: 992px) {
              min-width: 180px;
              width: auto;
            }
          }
        }
      }
    }
  
    
  }
  
  
  .main-text-4-0 {
    &.main-text-section-two-col {
      .two-cols {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 768px) {
          //margin-top: 1.5rem;
          flex-direction: row;
        }
        .main-text-section {
          display: flex;
          flex-direction: column;
          .main-text-content-wrapper {
            flex: 1 1 auto;
          }
        }
      }
      
      .main-text-section {
        margin-top: 1.5rem;
        .wst-main-headings {
          margin-bottom: 12px;
          @media screen and (min-width: 992px) {
            margin-bottom: 16px;
          }
        }
        @media screen and (min-width: 768px) {
          margin-right: 24px;
          margin-top: 0;
          width: 50%;
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
  
  /* -----------------------------------------
  main-text-slider - 4 - 0 
  ----------------------------------------- */
  .main-text-slider-4-0 {
    position: relative;
    overflow: hidden;
  
    &.has-bg {
      padding: 16px 0;
      background-color: $module-bg-color;
    }
  
    &.three-only {
      .prev,
      .next,
      .scrollbar,
      .load-more  {
        display: none;
      }
    }
    
    @media screen and (max-width: 767px) {
        .container {
          padding-left: 16px;
          padding-right: 16px;
        }
    }
    .container {
        position: relative;
    }
  
    .main-text-action-wrapper.load-more {
      margin-top: 36px;
    }
  
    
  
  
    .wst-main-headings {
      h2,h3,h4,h5,h6,.h7,.h8 {
          margin-bottom: 12px;
          @media (min-width: 992px) {
              margin-bottom: 24px;
          }
      }
    }
    .paragraph-styling p,
    .paragraph-styling ol, ul {
        margin-bottom: 16px;
        @media (min-width: 992px) {
            margin-bottom: 24px;
        }
    }
  
    .third-action-wrapper {
      @media (max-width: 992px) {
        width: 100%;
      }
      .btn {
        margin: 0 !important;
      }
    }
  
    .slides-wrapper {
      @media screen and (max-width: 991px) {
        display: grid;
        grid-gap: 36px 32px;
        grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
      }
      .paragraph-styling {
        flex: 1 1 auto;
      }
      .swiper-slide {
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: flex-start;
        background-color: transparent;
        @media (min-width: 992px) {
          padding-left: 12px;
          padding-right: 12px;
        }
      }
    }
  
    .prev,
    .next {
        display: none;
        &:hover {
            cursor: pointer;
        }
        @media (min-width: 1248px) {
            display: block;
            position: absolute;
            top: 42%;
            z-index: 9;
            width: 48px;
            height: 48px;
            svg, img {
                width: 48px;
                height: 48px;
            }
        }
        &.swiper-button-disabled {
          &:hover {
            cursor: auto;
            opacity: .5;
          }
        }
    }
    
    .next {
        right: -60px;
    }
    .prev {
        left: -60px;
    }
      .scrollbar  {
        margin-top: 36px;
        margin-bottom: 0;
        position: relative;
        bottom: 0;
        z-index: 99999;
        height: 4px;
        @media (max-width: 991px) {
          display: none;
        }
        @media (min-width: 1248px) {
          display: none;
        }
        .swiper-scrollbar-drag {
            background: #719e19;;
        }
    }
  
    &.left-align {
      .slides-wrapper {
        .swiper-slide {
          text-align: left; 
          align-items: flex-start;
        }
      }
    }
  
    @media (max-width: 767px) {
      .slides-wrapper .swiper-slide:nth-child(1n+4) {
        display: none;
      } 
    }
  }
  
  // arabic language
  *[lang="ar"] {
    *[dir="rtl"] {
      .main-text-grid-4-0 .grid-wrapper .grid-tile .person-details .icon {
        margin-right: 0;
        margin-left: 14px;
        @media (max-width: 767px) {
          margin-right: 0;
          margin-left: 16px;
        }
      }
  
      .main-text-grid-4-0 .grid-wrapper .grid-tile .action .link {
        padding-right: 0;
        padding-left: 20px;
        &:before {
          right: auto;
          left: 0;
          transform: translateY(-50%) rotate(135deg);
        }
      }
  
      .main-text-slider-4-0 .next {
        right: auto;
        left: -60px;
        transform: rotate(180deg);
      }
        .main-text-slider-4-0 .prev {
          left: auto;
          right: -60px;
          transform: rotate(180deg);
      }
  
  
      .main-text-slider-4-0.left-align {
        .slides-wrapper {
          .swiper-slide {
            text-align: right;
          }
        }
      }
    }
  }
  