//card1

.need-help-section {
  margin-bottom: toRem(70);
  .container {
    @include respond-to-max($desktop) {
      padding-left: $padding-step-2;
      padding-right: $padding-step-2;
        width: auto !important;
    }
  }
  .need-help-row {
    display: block;
    @include respond-to-min($desktop) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .need-help-content {
    @include respond-to-max($desktop) {
      margin-bottom: $padding-step-5;
    }
    .btn {
      border-width: toRem(1);
      @include respond-to-min($desktop) {
        max-width: toRem(180);
      }
    }
    h2 {
      font-size: $font26;
      margin: $margin-step-0;
      margin-bottom: $margin-step-2;
      line-height: toRem(33);
      color: $almost-black;
      @include respond-to-min($desktop) {
        font-size: $font34;
        line-height: toRem(42);
      }
    }
    p {
      color: $steel-grey;
      font-size: $font16;
      line-height: 1.6rem;
      margin-bottom: $margin-step-3;
    }
  }
  .need-help-icons {
    text-align: center;
    @include respond-to-max($desktop) {
      margin-bottom: $margin-step-5;
    }
    img,
    svg {
      width: toRem(45);
      height: toRem(45);
      margin-bottom: $margin-step-2;
     
      @include respond-to-min($desktop) {
        width: toRem(64);
        height: toRem(64);
        margin-bottom: toRem(20);
      }
    }
    .heading-sub {
      color: $steel-grey;
      font-size: $font14;
      line-height: 1.4rem;
      font-weight: bold;
      text-transform: uppercase;
      display: block;
      letter-spacing: toRem(1.75);
      min-height: toRem(46);
      @include respond-to-min($desktop) {
        font-size: $font16;
        letter-spacing: toRem(2);
      }
    }
  }
}

//help2

.need-help-4-0 {
  &.has-bg {
    padding: $padding-step-2 $padding-step-0;
    background-color: $module-bg-color;
  }
  @include respond-to-max($tablet) {
    .container {
      padding-left: $padding-step-2 ;
      padding-right: $padding-step-2 ;
    }
  }

  .row {
    @include respond-to-min($tablet) {
      display: flex;
      align-items: center;
    }
  }

  .third-action-wrapper.action-btn-default a,
  .third-action-wrapper.action-link a {
    @include respond-to-min($tablet) {
      min-width: toRem(180);
      width: auto;
    }
  }

  .help-otions {
    display: grid;
    grid-gap: toRem(36);
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    @include respond-to-min($phone) {
      grid-gap: toRem(46) toRem(24);
      grid-template-columns: repeat(auto-fill, minmax(206px, 1fr));
    }
    @include respond-to-min($tablet) {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    @include respond-to-min($desktop) {
      display: flex;
      grid-gap: 0;
    }
    .opton {
      flex: 1;
      justify-content: center;
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      .wst-main-headings {
        h2,
        h3,
        h4,
        h5,
        h6,
        .h7,
        .h8 {
          margin-bottom: $margin-step-0;
        }
      }
      .icon {
        width: toRem(48);
        height: toRem(48);
        margin-bottom: $margin-step-2;
        svg,
        img {
          width: toRem(48);
          height: toRem(48);
        }
      }
    }
  }

  .paragraph-styling {
    ol,
    ul,
    p {
      margin-bottom: $margin-step-3;
    }
    ol li {
      color: $dark-gray;
      padding-left: toRem(12);
    }
  }

  .wst-main-headings {
    h2,
    h3,
    h4,
    h5,
    h6,
    .h7,
    .h8 {
      margin-bottom: $margin-step-2;
    }
  }
}
