.popover-content {
    padding: 0;

    p {
        padding-bottom: 0;
        max-height: 230px;
        overflow: hidden;
    }

    .popover-dots {
        background: transparent;
        border: 0;
    }
}

.popover {
    &.in {
        padding: 14px;
    }
}
