/************************************************
general third action link
*************************************************/
.third-action-wrapper {
  &.action-link {
    line-height: 20px;
    .link {
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: $font12;
      padding-right: $padding-step-1;
      line-height: 16px;
      position: relative;
      cursor: pointer;
      @include respond-to-min($desktop) {
        font-size: $font14;
        padding-right: toRem(12);
        line-height: toRem(20);
      }
      @include rtlBlock() {
        font-weight: get-font-weight("light");
        @include font-family-lato();
        letter-spacing: 0 !important;
      }
      &:hover {
        text-decoration: underline;
        color: $main-green;
      }
      &:before {
        border: solid $main-green;
        border-width: $border-step-0 $border-step-1 $border-step-1 $border-step-0;
        padding: toRem(2.6);
        content: "";
        position: absolute;
        line-height: 1;
        top: 50%;
        transform: translateY(-20%) rotate(-135deg);
        transition: all 0.3s ease-in-out;
        -webkit-transform: translateY(-50%) rotate(-45deg);
        right: 0;
        @include respond-to-min($desktop) {
          padding: 3.25px;
        }
        @include rtlBlock() {
          transform: translateY(-50%) rotate(135deg);
          -webkit-transform: translateY(-50%) rotate(135deg);
          left: 0;
          right: auto;
        }
      }
      @include rtlBlock() {
        padding-right: $padding-step-0;
        padding-left: toRem(20);
      }
    }
  }
  &.transparent {
    .btn-transparent {
      background-color: transparent;
      color: $white;
    }
  }
  &.action-link,
  &.action-btn-default,
  &.action-btn-green,
  &.action-btn-orange {
    a {
      @include respond-to-min($desktop) {
        min-width: toRem(180);
        width: auto;
      }
    }
  }
  &.action-btn-default {
    .btn {
      height: toRem(50);

      @include rtlBlock() {
        @include font-family-lato();
        letter-spacing: 0 !important;
      }
    }
  }
}