.default-section-title {
  position: relative;
  overflow: hidden;
  color: $premium;
  //font-size: 1.75rem;
  line-height: 2.25rem;
  margin: 0;
  @include font-family-Neotech;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: initial;

  h3 {
    // line-height: 1;
    margin: 0;
    line-height: 2.25rem;
  }

  .learn-more {
    right: 1.5rem;
  }

  &.with-b-b {
    padding-bottom: 1rem;
    border-bottom: 1px solid #edeee6;
  }
  &.with-des {
    //font-size: 2rem;
    h3 {
      font-size: 2rem;
    }
    .flag {
    }
    .des {
      @include font-family-lato;
      color: #848789;
      font-size: 1.25rem;
    }
  }
}

.sacondary-title,
.sacondary-title h4 {
  position: relative;
  overflow: hidden;
  color: $almost-black;
  font-family: Lato, "GE SS Two", Roboto, Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: 900;
  letter-spacing: 2px;
  line-height: 0.875rem;
  padding: 1rem 0;
  text-transform: uppercase;
  margin: 0;
}

.sacondary-title h5 {
  position: relative;
  overflow: hidden;
  color: $almost-black;
  font-family: Lato, "GE SS Two", Roboto, Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.875rem;
  padding: 1rem 0;
  text-transform: none;
  margin-bottom: 0;
  padding-bottom: 0;

  @include respond-to-max($desktop - 1) {
    .sacondary-title h5 {
        font-size: .875rem;
        margin: 0;
        padding: 0;
      }
  }
}

.sacondary-title h4 {
  padding: 0;
}



*[lang="ar"] *[dir="rtl"] {
  .default-section-title {
    font-family: "Neotech-medium", "GE SS Two", Arial, sans-serif;
    line-height: 2.5rem;

    .learn-more {
      left: 1.5rem;
      right: auto;
    }
  }
}
