.truncate-tooltip {
    .truncate-tooltip__description{
        position: relative;
        padding: 0;
        p {
            padding-bottom: 0;
            max-height: 230px;
            overflow: hidden;
        }
        .popover-dots {
            background: transparent;
            border: 0;
        }
    }

    .popover {
        width: 100%;
        @include rtlBlock(){
            transform: translateX(45%)
        }
        &.in {
            padding: 14px;
        }
    }
}
