@mixin box-shadow {
  background: $white;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  border-radius: 4px;
}
@mixin arrow-after-link {
  border: solid $arrow-border;
  border-width: 0 1px 1px 0;
  content: "";
  display: inline-block;
  height: 0.45em;
  position: absolute;
  right: 0;
  top: 1em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
}

@mixin font-family-lato {
  font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
}

@mixin font-family-lato-withoutge {
  font-family: Lato, Roboto, Arial, sans-serif;
}
@mixin font-family-Neotech {
  font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif;
}

@mixin font-family-Neotech-ge {
  font-family: Neotech-medium, "GE SS Two", Arial, sans-serif;
}

@mixin font-family-Neotech-roboto {
  font-family: Neotech, Roboto, Arial, sans-serif;
}

@mixin font-family-Bariol {
  font-family: Bariol, GE SS Two, Arial, sans-serif;
}

//*Break Points

// 320px — 480px: Mobile devices
@media (max-width: 480px) {
}
$screen-sm-max: 480px;

// 481px — 768px: iPads, Tablets
@media (max-width: 768) {
}
$screen-md-max: 768px;

// 769px — 1024px: Small screens, laptops
@media (max-width: 1024px) {
}
$screen-lg-max: 992px;

// 1025px — 1200px: Desktops, large screens
@media (max-width: 1200px) {
}
$screen-xl-max: 1200px;

// 1201px and more —  Extra large screens, TV
@media (max-width: 1201px) {
}
$screen-xxl-max: 1201px;

// 320px — 480px: Mobile devices
@mixin sm {
  @media (max-width: #{$screen-sm-max}) {
    @content;
  }
}

// 481px — 768px: iPads, Tablets
@mixin md {
  @media (max-width: #{$screen-md-max}) {
    @content;
  }
}

// 769px — 1024px: Small screens, laptops
@mixin lg {
  @media (max-width: #{$screen-lg-max}) {
    @content;
  }
}

// 1201px and more —  Extra large screens, TV
@mixin xl {
  @media (max-width: #{$screen-xl-max}) {
    @content;
  }
}

@mixin xxl {
  @media (max-width: #{$screen-xxl-max}) {
    @content;
  }
}

//common property for image
@mixin context-nav-img {
  background-repeat: no-repeat;
  height: 4rem;
  width: 4rem;
  display: block;
  margin: auto;
  margin-top: 15px;
}

@mixin box-shadow {
  background: $white;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
  border-radius: 4px;
}

@mixin link-arrow {
  border: solid $arrow-border;
  border-width: 0 1px 1px 0;
  content: "";
  display: inline-block;
  height: 0.45em;
  left: 9rem;
  position: relative;
  top: 0.6em;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.45em;
}

@mixin font-family-lato {
  font-family: Lato, GE SS Two, Roboto, Arial, sans-serif;
}

@mixin font-family-Neotech {
  font-family: Neotech-medium, GE SS Two, Roboto, Arial, sans-serif;
}

@mixin font-family-Neotech-ge {
  font-family: Neotech-medium, "GE SS Two", Arial, sans-serif;
}

@mixin font-family-Neotech-roboto {
  font-family: Neotech, Roboto, Arial, sans-serif;
}

@mixin font-family-Bariol {
  font-family: Bariol, GE SS Two, Arial, sans-serif;
}

//common property for image
@mixin context-nav-img {
  background-repeat: no-repeat;
  height: 4rem;
  width: 4rem;
  display: block;
  margin: auto;
  margin-top: 15px;
}

//common css for btn
@mixin primary-btn {
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  color: #353738;
  background-color: #fff;
  text-align: center;
  padding: 0 0.5rem;
  border-radius: 4px;
  border-width: 1px;
  width: auto;
  border-color: #151515;
  outline: 0;
  font-weight: 700;
}
@mixin secondary-button {
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  text-align: center;
  padding: 0 0.5rem;
  border-radius: 4px;
  border-width: 1px;
  width: auto;
  outline: 0;
  font-weight: 700;
  line-height: 3rem;
  letter-spacing: 0.14285714em;
  display: inline-block;
}

@mixin truncate($truncation-boundary) {
  max-width: $truncation-boundary;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*@inculde
.test{  
    @include truncate(40px);
 }
 */

//media query
@mixin respond-to-max($width) {
  @media screen and (max-width: $width) {
    @content;
  }
}

@mixin respond-to-min($width) {
  @media screen and (min-width: $width) {
    @content;
  }
}
//@include respond-to-min($tablet){ }
//@include respond-to-max($tablet){ }

// Clearfix

@mixin clearFix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }
  & {
    *zoom: 1;
  }
}

//container st
/* .container{
    @include clearFix();
    .column{ float: left;}
} */

@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}
/* @include push--auto() */

@mixin pseudo($display: block, $pos: absolute, $content: "") {
  content: $content;
  display: $display;
  position: $pos;
}
/* @include pseudo() */

@mixin input-placeholder {
  &.placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }

  &::-webkit-input-placeholder {
    @content;
  }
}
/* @include input-placeholder() */

@mixin align-image($position) {
  img {
    object-position: $position;
  }
}
/* @include align-image() */

//font size PX into REM
@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}
/*h1 { @include fontSize(32px); } */

@function toRem($value) {
  $remValue: ($value / 16) + rem;
  @return $remValue;
}

// .box {
//     width: toRem(400);
//     height: toRem(400);
// }
