/*contact us rte start*/


@include respond-to-max($tablet){
.contact-us-wrap .contactus-text ul {
    margin-bottom: 10px;
}
}
@include respond-to-max($desktop){
.contact-us-wrap .contactus-text ul li {
    padding-bottom: 15px;
}
}
@include respond-to-max($desktop-wide){
.contact-us-wrap .contactus-text ul li {
    padding-bottom: 20px;
}
}

.contact-us-wrap .contactus-text ul li {
    color: $gray-primary;
    font-size:$font20;
    line-height: 26px;
    padding-bottom: 30px;
}
.contact-us-wrap .contactus-text ul li b {
    display: inline-block;
    width: 100%;
    clear: both;
    font-weight: 700;
}
