
footer .cmp-button__text{
	display:none;
}
footer .button{
	max-width: 44px;
}

.cmp-button__icon--fa {
	color:#3c485e;
    display: inline;	
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    font-size: 18px;
    height: 30px;
    width: 30px;
    line-height: 40px;
    font-weight: 500;
    border-radius: 3px;
    margin-right: 10px;
    margin-top:30px;
    font: normal normal normal 14px/1 FontAwesome;
}
.cmp-button__icon--fa:hover{
	
	color: #fff;
}
footer{
	text-align:center;
}

footer ul{
	width: 100%;
    max-width: 444px;
    margin-left: auto;
    margin-right: auto;
}
footer ul li{
	display: inline;
	list-style-type:none;
	float:left;
}
footer ul li:last-child a{
	border:0;
}
footer ul li a {
    border-right: none;
    border-left: none;
    color: #3c485e;
    font-size: 16px;
    line-height: 18px;
    padding: 0 14px;
    letter-spacing: 0;
}
footer ul li a:hover{
    color: #616b1e;
    text-decoration: underline;
}

footer .cmp-container{
	max-width: 100%;
    width: 444px;
    text-align: center;
    margin: 0 auto;

}
footer .social-links{
    margin-top: 30px;
}
////e-wallet footer

footer .social-links li a img, footer .social-links li a svg {
    height: 30px;
    width: 30px;
}
