// Neat Overrides
$column:rem(90);
$gutter:rem(60);
$grid-columns: 12;
$max-width:rem(1200);

// Screen widths using PX to EM conversion
$sm-screen:rem(320);
//Changed width as per SITE-7188
$sm-screen-end:rem(1023);

$md-screen:rem(720);
$md-screen-end:rem(959);

$lg-screen:rem(1024);
$lg-screen-end:rem(1199);

$xl-screen:rem(1200);

/* setting custom grid counts */
/* $bp-xs: new-breakpoint(max-width $sm-screen 4); */

$bp-mobile: new-breakpoint(max-width $sm-screen-end);
$bp-desktop: new-breakpoint(min-width $lg-screen);

$bp-xs: new-breakpoint(max-width $sm-screen);

$bp-sm: new-breakpoint(min-width $sm-screen);
$bp-sm-md: new-breakpoint(min-width $sm-screen max-width $sm-screen-end);
$bp-sm-lg: new-breakpoint(min-width $sm-screen max-width $sm-screen-end);
$bp-sm-xl: new-breakpoint(min-width $sm-screen max-width $lg-screen-end);

$bp-md: new-breakpoint(min-width $md-screen);
$bp-md-lg: new-breakpoint(min-width $md-screen max-width $md-screen-end);
$bp-md-xl: new-breakpoint(min-width $md-screen max-width $lg-screen-end);

$bp-lg: new-breakpoint(min-width $lg-screen);
$bp-lg-xl: new-breakpoint(min-width $lg-screen max-width $lg-screen-end);

$bp-xl: new-breakpoint(min-width $xl-screen);

