//Start for location
body{
  font-family: Bariol,GE SS Two,Arial,sans-serif;
}

p{
  font-family: Bariol,GE SS Two,Arial,sans-serif;
}
.container_location {
  padding-right: 15px!important;
  padding-left: 15px!important;
}  


.container {
    width: 100%;
    max-width: 100%!important;
    margin: 0!important;
    padding:0!important;
}  
// .row > *{
// 	width: 100%!important;
// }
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:after, .row:before {
  content: " ";
  display: inline-block;
}
.form-group {
  margin-bottom: 15px;
  width:100%;
}
.help-wrap {
  padding: 100px 0px;
  text-align: center;
  @media (max-width: 767px) {
    padding: 65px 0px;
  }
  h3 {
      margin: 0px;
    margin-bottom: 30px;
    line-height: 42px;
  }
  p {
      margin-bottom: 0px;
      font-size: 24px;
      line-height: 30px;
  }
}
.bg-grey-light {
    background-color: #FBFBFC;
}
.pagination-wrap {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;

  ul {
    text-align: center;
    display: inline-block;
    li {
      display: inline-block;
      float: left;
      .swiper-pagination-bullet {
        color: #73932e !important;
        font-size: 16px!important;
        font-weight: 700!important;
        line-height: 18px!important;
        text-align: center!important;
        border-radius: 100%!important;
        width: 48px!important;
        height: 48px!important;
        display: inline-block!important;
        box-sizing: border-box!important;
        padding-top: 17px!important;
      }
      a {
        color: #73932E;
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        text-align: center;
        border-radius: 100%;
        width: 48px;
        height: 48px;
        @media (max-width: 414px) {
          width: 38px;
          height: 38px;
        }
        display: inline-block;
        box-sizing: border-box;
        padding-top: 17px;
        &:hover {
          background-color: #F3F5F9;
        }
        &.active {
        color: #5A637C;
        
        }
      }
      &.active {
        color: #5A637C;
        padding: 0px 0px 20px 0px !important;
        a {
          color: #5A637C;
        }
      }
    }
  }
}
.news-detail {
  padding-bottom: 100px;
  @media (min-width: 1025px) and (max-width: 1400px) {
    padding-top: 35px;
  }
  h1 {
    line-height: 66px;
    margin-bottom: 30px;
    @media (max-width: 767px) {
      font-size: 40px;
      line-height: 48px;
    }
  }
  .date {
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 500;
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .quoted {
    padding-right: 30%;
    margin-bottom: 35px;
    margin-top: 15px;
    @media (min-width: 1240px) {
      padding-right: 15%;
    }
    @media (max-width: 1024px) {
      padding-right:5%;
    }
    @media (max-width: 991px) {
      padding-right:0;
    }
    p {
      font-size: 40px;
      font-style: italic;
      line-height: 48px;
      @media (max-width: 767px) {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
  small {
    font-size: 14px;
    font-style: italic;
    line-height: 22px;
    margin-top: 40px;
    display: block;
  }
}
.offer-detail {
  padding-top: 45px;
  @media (max-width: 1024px) {
    padding-top: 0px;
  }
  h1 {
    line-height: 66px;
    margin-bottom: 30px;
    @media (max-width: 768px) {
      font-size: 40px;
      line-height: 48px;
    }
  }
  .date {
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 35px;
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }
  .returnlink {
    font-size: 24px;
    line-height: 24px;
  }
  .terms {
    padding: 35px 0px 20px 0px;
    padding-right: 15%;
    @media (max-width: 736px) {
      padding: 0;
      padding-top: 10px;
    }
  }
  h3 {
    color: #5A637C;
    line-height: 40px;
    margin-bottom: 20px;
  }
  ol {
    list-style: decimal;
    color: #5A637C;
    font-family: Bariol;
    font-size: 18px;
    line-height: 24px;
    margin-left: 20px;
    padding: 0;
    li {
      padding-left: 10px;
      margin-bottom: 20px;
    }
  }
}
.contact-us-wrap {
  padding-top: 40px;
  padding-bottom: 100px;
  .contactus-text {
    ul {
      @media (max-width: 736px) {
        margin-bottom:10px;
      }
      li {
        color: #5A637C;
        font-size: 20px;
        line-height: 26px;
        padding-bottom: 30px;
        @media (max-width: 1024px) {
          padding-bottom: 20px;
        }
        @media (max-width: 991px) {
          padding-bottom: 15px;
        }
        b {
          display: inline-block;
          width: 100%;
          clear: both;
          font-weight: bold;
        }
        span {
          br {
            @media (max-width: 991px) {
              display:none;
            }
            @media (max-width: 736px) {
              display:block;
            }
          }
        }
      }
    }
  }
}
//location

.locateus-filters {
  background: #F5F6F7;
  padding: 40px;
  float: left;
  width: 100%;
  margin-top: 20px;
  @media (max-width: 778px) {
    padding: 25px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .nav-tabs {
    border: none;
    .active {
      padding: 0 20px 12px 20px;
      
      
    }
    & > li {
      margin-bottom: 0;
      border:none;
      a {
        font-weight: 500;
        color: #5A637C;
        font-size: 24px;
        //line-height: 24px;
        text-align: center;
        border: none;
        background: transparent !important;
        padding: 0;
        //margin-right: 20px;
        outline: none;
      //   &.hover {
            
      //   }
      }
     
      &.active {
        &> a {
          color: #5A637C;
          border: none;
          border-bottom: 2px solid #5A637C;
          padding-bottom: 15px;
          font-weight: bold;
          outline: none;
          &:focus,&:hover {
            color: #5A637C;
            background: transparent;
            border-bottom: 2px solid #5A637C;
            outline: none;
          }
        }
      }
    }
  }
  .searchlocation {
    border: 1px solid #ccd3e6;
    border-radius: 4px;
    background-color: #fff;
    color: #8b91a3;
    font-size: 24px;
    line-height: 26px;
    height: 80px;
    width: 100%;
    padding: 10px 10px 10px 65px;
    background-repeat: no-repeat;
    background-image: url(../resources/images/search-white.png);
    background-position: left 28px center;
    margin: 25px 0px 0px 0px;
   
    @media (max-width: 768px) {
        padding-right: 20px!important;
        padding-left: 50px;
        font-size: 1rem;
        background-position: left 20px center;
        height: 64px;
    }
  }
  .checkbox-group {
    float: left;
    .form-group {
      margin-bottom: 0;
    }
  }
  .currentlocation {
    float: right;
    @media (max-width: 1180px) {
      margin-bottom:15px;
    }
    .form-group {
      margin-bottom: 0;
    }
    a {
      color: $link-color!important;
      text-decoration: none!important;
    
      &:hover,
      &:focus {
        color: $link-hover-color!important;
        text-decoration: none !important;
        background-color: transparent;
      }
  }
  }

.topnav-swiper-container{
  .custom-checkbox {
  height: 64px;
  width: 188px;
  border: 1px solid #CCD3E6;
  border-radius: 4px;
  background-color: #FFFFFF;
  padding: 0;
  margin: 0;
  cursor: pointer;
  position: relative;
  margin-right: 12px;
  &:last-child {
    margin-right:0;
    margin-bottom: 0px;
  }
  @media (max-width: 900px) {
    width: 178px;
    margin-right: 18px;
  }
  @media (max-width: 736px) {
    width: 100%;
    margin-right: 0px;
    margin-bottom:15px;
  }
  svg,img {
    float: left;
    max-width: 56px;
    max-height: 56px;
    margin-top: 5px;
    margin-left: 5px;
  }
  span {
    float: left;
    color: #3C485E;
    font-size: 20px;
    letter-spacing: 0.25px;
    line-height: 22px;
    font-weight: 500;
    margin-top: 20px;
  }
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkbox-cus {
    position: absolute !important;    
    right: 15px;
    height: 20px;
    width: 20px;   
    
  }
  [type=radio]:not(:checked) + span:after, [type=radio]:not(:checked) + span:before {    
    border: 1px solid #D1D2D1!important;
 }
  [type=radio] + span:after, [type=radio] + span:before {
    content: "";
    position: absolute;
    left: 4px;
    bottom: 0;    
    width: 20px;
    height: 20px;
    z-index: 0;
    border-radius: 48%;
  }
  [type=radio].with-gap:checked + span:after, [type=radio]:checked + span:after {
    background:none!important;
    background-image: url(../resources/images/icon_checkbox_radio_selected_dark_64.png)!important;
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: center;
    border: none;
    left: 0;
    bottom: 0;    
    width: 20px;
    height: 20px;
    
}

  input:checked ~ .checkbox-cus {
    background-image: url(../resources/images/icon_checkbox_radio_selected_dark_64.png);
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: center;
    border: none;
  }
}
}
}
.current-location {
  float: right;
  svg,img {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 10px;
    g {
      stroke-width: 2;
    }
  }
}
.locateus-autocomplete .ui-menu-item-wrapper {
  padding: .3rem .5rem;
  border-top: 1px solid $grey-bottom !important;
}
.mapview-wrap {    
  border:none;
  .pagination-wrap {
    text-align: left;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    .swiper-pagination{
      position: initial;
      width: auto;
    }
    .pager {
      display: -ms-flexbox;
      display: flex;
      margin-top: 12.5px;
      width: 70%;
      justify-content: space-between;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.3;
      color: $black-grey;
     
    }
    .pager-arrows {
      position: relative;
      height: inherit;
      width: 25%;
      color: #909192;
      letter-spacing: 1.2px;
      position: relative;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
    }
    .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
      background-image: url('../resources/images/icon_arrow_left_dark_64.svg')!important;
    }
    .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
      background-image: url('../resources/images/icon_arrow_right_dark_64.svg')!important;
    }
  }
}
.locate-us-content {
    margin-top: 25px;
    float:left;
    width: 100%;
    .active {
      float:none;
    }
    .result-main-container {
      //width: auto;
    }
    .address-list {
      padding: 20px;
      padding-bottom: 10px;
      @media (max-width: 1024px) {
        padding-right:0;
      }
      @media (max-width: 991px) {
        padding-right:20px;
      }
      li {
        color: #7da830;
        font-size: 28px;
        font-weight: 700;
        line-height: 24px;
        margin-top: 0;
        cursor: pointer;        
        padding: 0px 0px 20px 0px;        
        margin-bottom: 20px;        
        border-bottom: 2px solid #719E19;       
        .active {
          border-bottom: 2px solid #719E19;
          
        }
        h5 {
          color: #7DA830;
          font-size: 28px;
          font-weight: bold;
          line-height: 24px;
          margin-top: 0px;
          margin-bottom: 10px;
          cursor: pointer;
          label {
            color: #9CA1B0;
            font-size: 16px;
            font-weight: bold;
            letter-spacing: 0.27px;
            line-height: 18px;
            text-align: right;
            margin: 0;
            float: right;
            margin-top: 5px;
          }
        }
        b {
          color: #3C485E;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 0.25px;
          line-height: 22px;
        }
        .num {
          color: #3C485E;
          font-size: 16px;
          letter-spacing: 0.2px;
          line-height: 16px;
          display: block;
          clear: both;
          width: 100%;
          margin: 10px 0px 5px 0px;
        }
        p {
          color: #3C485E;
          font-size: 16px;
          letter-spacing: 0.2px;
          line-height: 24px;
          margin: 0;
          margin-top: 10px;
          .closed {
            font-size: 16px;
            letter-spacing: 0.2px;
            line-height: 18px;
            color: #A5AAB8;
          }
        }
      }
      &.swiper-container-map{
        height: 750px;
        overflow: hidden;

      }
      .result-item-container {
        &.swiper-slide{
          height: auto !important;
        }
      }
    }
    .listview-wrap {
      .address-list {
        padding: 0 20px;
        overflow: hidden;
        li {
          h5 {
            color: #3C485E;
          }
         
        }
      }
    }
    .map-wrap {
      @media (max-width: 1024px) {
        padding-left:35px;
      }
      @media (max-width: 991px) {
        padding-left:15px;
      }
      iframe {
        width: 100%;
        height: 760px;
      }
      height: 760px;
      #store-locator-map{
        height: 100%;
      }
    }
}
.listview-wrap {
}

.hidden-sm {
  @media (max-width: 991px) {
    display:none !important;
  }
}

.pac-container {
  margin-top: 0;
  > .pac-item {
    padding: 12px 4px;
    &:last-child{
      padding-bottom: 0;
    }
    .pac-icon {
      margin-right: 1.5rem;
      margin-left: 1.5rem;
    }
    span {
      font-size: 1rem;


    }

    .pac-item-query {
      color: $almost-black;
      +span{
        margin-left: 3.6rem !important;
      }
    }
  }
}
.more-details-box{
  min-width: 15rem;
  max-width: 17rem;
  .header-name{
    h4{
          font-size: 1.2rem;
    }
    font-size: 1rem;
    font-family: $font-family-base;
    font-weight: 700;
    line-height: .88;
    color: #3c485e;
  }
  .contact-info-no{
    font-size: 1rem;
  }
}
.loader-disable-screen {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.loader-disable-screen .loader {
  width: 100%;
  height: 100%;
}
.loader-disable-screen .loader svg {
  width: 100%;
}
//mobile
@media (max-width:768px) {
  .locateus-filters {
    .searchlocation{
      padding-right:25px!important;
    }
  }

  .locate-us-content{
    .active {
      border:0;
    }
    .map-wrap{
      height:500px
    }
    .address-list li {
      h5 {
        font-size: 24px;
        margin-bottom: 5px;
      }
      b {
        font-size: 16px;
        line-height: 16px;
      }
       p {
        margin-top: 5px;  
        }
      }
    }
  }
