.ewalletnews {
  padding-bottom: 15px;
  padding-top: 20px;

  @include respond-to-min($desktop-wide) {
    width: toRem(1210);
  }

  .news-item {
    padding-bottom: 50px;

    @include respond-to-max($phone) {
      padding-bottom: 40px;

      .row {
        display: block;
      }
    }

    .news-img {
      @include respond-to-max($desktop-wide) {
        padding-right: 30px;

        @include rtlBlock() {
          padding-right: 15px;
        }
      }

      @include respond-to-max($tablet) {
        padding-right: 0;

        @include rtlBlock() {
          padding-right: 15px;
        }
      }

      @include respond-to-max($phone) {
        margin-bottom: 20px;
        min-width: 100%;
        padding-right: 15px;
      }

      img {
        border-radius: 4px;
        height: auto;
        max-width: 100%;
        width: 100%;
      }
    }

    .news-text {
      @include respond-to-max($desktop-wide) {
        padding-left: 0;
      }

      @include respond-to-max($tablet) {
        padding-left: 25px;
      }

      @include respond-to-max($phone) {
        min-width: 100%;
        padding-left: 15px;
      }

      h4 {
        color: $gray-primary;
        font-size: $font30;
        margin-bottom: 5px;
        margin-top: 0;

        @include respond-to-max($phone) {
          font-size: $font25;
        }
      }

      .date {
        clear: both;
        color: $gray-primary;
        display: inline-block;
        font-size: $font18;
        font-weight: 500;
        line-height: toRem(20);
        margin-bottom: toRem(15);
        text-transform: uppercase;
      }

      p {
        color: $gray-primary;
        line-height: toRem(25);
        margin-bottom: 0;

        @include respond-to-max($tablet) {
          line-height: toRem(24);
        }
      }
    }
  }

  a {
    &:hover {
      .news-text {
        h4 {
          color: $link-color;
        }
      }
    }
  }

  @include respond-to-min($desktop-wide) {
    .col-md-12,
    .col-lg-10 {
      width: 100%;
    }

    .col-lg-offset-1 {
      margin-left: 0;
    }
  }

  @include respond-to-min($desktop-wide-xl) {
    .col-lg-10 {
      width: 83.3333%;
    }

    .col-lg-offset-1 {
      margin-left: 8.3333%;
    }

    .col-lg-offset-right-1 {
      margin-right: 8.3333%;
    }
  }
}
