.swiper-container {
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  z-index: 1;

  .visible-xs {
    display: none;

    @include respond-to-max($phone) {
      display: block;
    }
  }

  .swiper-wrapper {
    box-sizing: content-box;
    display: flex;
    height: 100%;
    position: relative;
    transition-property: transform;
    width: 100%;
    z-index: 1;

    @include respond-to-min($tablet) {
      transform: translate3d(0, 0, 0) !important;
    }
  }

  .swiper-slide {
    flex: 0 0 auto;
    flex-shrink: 0;
    height: 100%;
    margin-right: 25px;
    position: relative;
    width: 100%;

    &:nth-child(3n) {
      margin-right: 0;
    }

    @include respond-to-max($phone) {
      margin-right: 0;
      max-width: toRem(310);
    }

    @include respond-to-min-max($desktop-min, $tablet) {
      max-width: 31.05%;
    }

    @include respond-to-min-max($desktop-wide, $desktop) {
      max-width: 31.36%;
    }

    @include respond-to-min($desktop-wide) {
      max-width: 32.5%;
    }
  }
}
