.ewallet_success {
	padding-bottom: 130px;
	text-align: center;
	a {
		margin-top: 50px;
		text-transform: uppercase;
		transition: all .3s ease-in-out;
		text-align: center;
		padding: .75rem .5rem;
		border-radius: 4px;
		border-width: 1px;
		width: 100%;
		outline: 0;
		font-weight: 700;
		color: $link-color;
		background-color: $white;
		border: 1px solid $link-color;
		width: 318px;
		height: 57px;
		line-height: 28px;
		margin-top: 40px;
		font-size: $font16;
		display: inline-block;
		text-decoration: none;
	}
	a:hover {
		text-decoration: none;
		color: $link-color;
	}
	a:focus {
		outline: 0;
		color: $white;
		background-color: $green-btn;
		border-color: $green-btn;
	}
	img {
		height: 165px;
		width: 165px;
		margin: 16px 16px 10px 16px;
	}
	p {
		margin: 0 0 13px;
		line-height: 30px;
	}
	h2 {
		line-height: 54px;
		margin-bottom: 20px;
		margin-top: 35px;
		margin-left: 0px;
		margin-right: 0px;
	}
}

@include respond-to-min($tablet){
	.ewallet_success {
		.cmp-text {
			p {
				padding: 0 25%;
			}
		}
	}
} 

@include respond-to-min($tablet){
	.ewallet_success {
		h2 {
			line-height: 42px;
			font-size: $font36;
		}
	}
}

@include respond-to-min($tablet){
	.ewallet_success {
		a {
			max-width: 100%;
		}
	}
}