@import "variables";
@import "./utils";
@import "z-index";
@import "spacing";
@import "typography";

$Neotech-medium: suiss,' GE SS Two', Roboto, Arial, sans-serif;
$Lato: suiss,' GE SS Two', Roboto, Arial, sans-serif;


// *[lang="ar"] {
*[dir="rtl"] {
  * {
    @include font-family-GE-SS-TWO;
    font-weight: 300;
    letter-spacing: 0 !important;
  }
}


// @mixin rtlBlock() {
//   [dir="rtl"] & {
//     @content;
//   }
// }





%container {
  float: none !important;
  margin: 0 auto;
  padding: 0 toRem(16) !important;

  @include respond-to-min($tablet) {
    padding: 0 toRem(12) !important;
    width: toRem(756) !important;
  }

  @include respond-to-min($desktop) {
    width: toRem(976) !important;
  }

  @include respond-to-min($desktop-wide) {
    width: toRem(1224) !important;
  }
}
