@import "variables";
@import "./utils";
@import "z-index";
@import "spacing";
@import "typography";

%container {
  float: none !important;
  margin: 0 auto;
  padding: 0 toRem(16) !important;

  @include respond-to-min($tablet) {
    padding: 0 toRem(12) !important;
    width: toRem(756) !important;
  }

  @include respond-to-min($desktop) {
    width: toRem(976) !important;
  }

  @include respond-to-min($desktop-wide) {
    width: toRem(1224) !important;
  }
}
