<template  data-sly-template.billSummaryReport="${ @ billModel,properties}">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.all @ categories='cmp.crx.billing.explainer'}" />
 </sly>
<div id="${properties.reportCard}" class="billing-report-card-preview" data-bill-explainer="${billModel.stepsData}">
  <div class="exp-report-wrapper exp-bill-summary zooming">
    <div class="exp-logo-report">
      <img src="/content/dam/etisalat/cx-billing/assets/img/explainer/etisalat_eng_logo.png" alt="">
    </div>

    <div class="exp-report-header">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-2">
          <h2>Abdelaziz Muhammd Hejaziss</h2>
          <div class="row ptb-10" id="Step-1">
            <div class="exp-focus-step">
              <span>1</span>
            </div>
            <div class="col-xs-6">
              <p>Mobile number <span>056831740</span></p>
            </div>
            <div class="col-xs-6">
              <p>Bill issue date <span>01 Nov 2018 </span></p>
            </div>
          </div>
          <div class="row ptb-10" id="Step-2">
            <div class="exp-focus-step">
              <span>2</span>
            </div>
            <div class="col-xs-6">
              <p>Bill number <span>INV124567890</span></p>
            </div>
            <div class="col-xs-6">
              <p>Bill Period <span>01 Oct 2018 - 31 Oct 2018 </span></p>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="promo-small-02 exp-report-invoice">
      <div class="row no-gutter">
        <div class="content-section">
          <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="row" id="Step-3">
              <div class="exp-focus-step">
                <span>3</span>
              </div>
              <span class="lbl">Tax INVOICE</span>
              <div class="detail-info-wrap detail-info-wrap-pricetag">
                <div class="detail-price-new">
                  <div class="main-part">
                    <div dir="ltr" class="price">2,803,02 </div>
                    <small>AED
                      <i>incl 5% VAT</i>
                    </small>
                  </div>
                </div>
              </div>
              <h5>PAY BEFORE 15 NOV 2018</h5>

            </div>

            <div class="row" id="Step-5">
              <div class="exp-focus-step">
                <span>5</span>
              </div>
              <div class="exp-autopay-info">
                <div class="exp-autopay-icon">
                  <span>
                    <svg>
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#ac-autopay-card"></use>
                    </svg>
                  </span>
                </div>
                <div class="exp-autopay-text">
                  <p>This account has autopay
                    <span>(card ending ****8889 expiry 10/21).</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="exp-pay-online" id="Step-4">
          <div class="exp-focus-step">
            <span>4</span>
          </div>
          <h4>PAY ONLINE</h4>
          <a href="#">www.etisalat.ae/quickpay</a>
        </div>

      </div>
    </div>

    <div class="exp-premium-postpaid">
      <div class="relative" id="Step-6">
        <div class="exp-focus-step" id="startHereBtn">
          <span>6</span>
        </div>
        <h2>Premium Postpaid Flexi 500

        </h2>
        <h5>Contract Period: 07 Aug 2017 - 07 Aug 2019</h5>
      </div>


      <div class="exp-premium-postpaid-summary">
        <h3>Bill Summary</h3>
        <div class="list" id="Step-7">
          <div class="exp-focus-step">
            <span>7</span>
          </div>
          <p>Plan, Add-ons & Device rentals</p>
          <span>880.00 <small>AED</small></span>

        </div>

        <div class="list" id="Step-8">
          <div class="exp-focus-step">
            <span>8</span>
          </div>
          <p>Plan, Add-ons & Device rentals</p>
          <span>880.00 <small>AED</small></span>

        </div>

        <div class="list" id="Step-9">
          <div class="exp-focus-step">
            <span>9</span>
          </div>
          <p>Plan, Add-ons & Device rentals</p>
          <span>880.00 <small>AED</small></span>

        </div>

        <div class="list" id="Step-10">
          <div class="exp-focus-step">
            <span>10</span>
          </div>
          <p>Plan, Add-ons & Device rentals</p>
          <span>880.00 <small>AED</small></span>

        </div>

        <div class="list" id="Step-11">
          <div class="exp-focus-step">
            <span>11</span>
          </div>
          <p>Plan, Add-ons & Device rentals</p>
          <span>880.00 <small>AED</small></span>

        </div>
        <div class="list" id="Step-12">
          <div class="exp-focus-step">
            <span>12</span>
          </div>
          <p>Plan, Add-ons & Device rentals</p>
          <span>880.00 <small>AED</small></span>

        </div>

        <div class="list exp-current-month-summary">
          <h4>Current month charges (including VAT)</h4>
          <span>2.783.02<small>AED</small></span>

        </div>

        <div class="list" id="Step-13">
          <div class="exp-focus-step">
            <span>13</span>
          </div>
          <p>Plan, Add-ons & Device rentals</p>
          <span>880.00 <small>AED</small></span>

        </div>

        <div class="list" id="Step-14">
          <div class="exp-focus-step">
            <span>14</span>
          </div>
          <p>Plan, Add-ons & Device rentals</p>
          <span>880.00 <small>AED</small></span>

        </div>


        <div class="list exp-current-month-summary" id="Step-15">

          <h4>Remaining amount from your pevious bills (including VAT 5%)
            <div class="exp-focus-step">
              <span>15</span>
            </div>

          </h4>
          <span>2.783.02<small>AED</small></span>

        </div>

        <div class="list exp-grand-month-summary" id="Step-16">

          <h3>Grand Total <div class="exp-focus-step">
              <span>16</span>
            </div>
          </h3>
          <div class="detail-info-wrap detail-info-wrap-pricetag">
            <div class="detail-price-new">
              <div class="main-part">
                <div dir="ltr" class="price">2,803.02</div>
                <small>AED
                  <i>incl 5% VAT</i>
                </small>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>


    <div class="exp-footer">
      <img src="/content/dam/etisalat/cx-billing/assets/img/explainer/exp-report-footer.png" alt="">
    </div>

  </div>

</div>
</template>