<template  data-sly-template.billHistoryReport="${ @ billModel,properties}">
 <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css"
	href="https://www.etisalat.ae/en/system/b2c/assets/fonts/googlefonts/googlefonts.css">
 <sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html">
  <sly data-sly-call="${clientlib.all @ categories='cmp.crx.billing.explainer'}" />
 </sly>
 <div id="${properties.reportCard}" class="billing-report-card-preview" data-bill-explainer="${billModel.stepsData}">
	<div class="exp-report-wrapper exp-bill-usage zooming">
		<table id="Table_01" width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td colspan="2">

					<img src="/content/dam/etisalat/cx-billing/assets/img/explainer/281723634_01.png" alt="">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<img src="/content/dam/etisalat/cx-billing/assets/img/explainer/281723634_02.png" alt="">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<img src="/content/dam/etisalat/cx-billing/assets/img/explainer/281723634_03.png" alt="">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<img src="/content/dam/etisalat/cx-billing/assets/img/explainer/281723634_04.png" alt="">
				</td>
			</tr>
			<tr>
				<td colspan="2" id="Step-1">
					<div class="exp-focus-step">
						<span>1</span>
					</div>
					<img src="/content/dam/etisalat/cx-billing/assets/img/explainer/281723634_05.png" alt="">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<img src="/content/dam/etisalat/cx-billing/assets/img/explainer/281723634_06.png" alt="">
				</td>
			</tr>
			<tr>
				<td id="Step-2">
					<div class="exp-focus-step">
						<span>2</span>
					</div>
					<img src="/content/dam/etisalat/cx-billing/assets/img/explainer/281723634_07.png" alt="">
				</td>
				<td id="Step-3">
					<div class="exp-focus-step">
						<span>3</span>
					</div>
					<img src="/content/dam/etisalat/cx-billing/assets/img/explainer/281723634_08.png" alt="">
				</td>
			</tr>
		</table>
	</div>
</div>
</template>