<sly data-sly-use.billModel="com.etisalat.core.models.BillExplainerModel" 
     data-sly-use.templates="core/wcm/components/commons/v1/templates.html"> 
  <p class="paragraph" data-sly-test="${properties.sectionTitle}">${properties.sectionTitle}</p>
  <div data-report-type="${properties.reportCard}" data-bill-explainer="${billModel.stepsData}">
     <sly data-sly-test="${properties.reportCard && properties.reportCard == 'total-usage-summary'}"
	        data-sly-use.totalUsageTemplate="total-usage-summary.html"
	        data-sly-call="${totalUsageTemplate.totalUsageReport}">      
	 </sly>
	 <sly data-sly-test="${properties.reportCard && properties.reportCard == 'bill-history'}"
	        data-sly-use.billHistoryTemplate="bill-history.html"
	        data-sly-call="${billHistoryTemplate.billHistoryReport}">      
	 </sly>  
	 <sly data-sly-test="${properties.reportCard && properties.reportCard == 'bill-summary'}"
	        data-sly-use.billSummaryTemplate="bill-summary.html"
	        data-sly-call="${billSummaryTemplate.billSummaryReport}">      
	 </sly>    
  </div>
</sly>
<sly data-sly-call="${templates.placeholder @ isEmpty = !properties.reportCard}"></sly>
