
 <sly data-sly-test.customLink="${properties.cardLink}" data-sly-use.commonlinkmodel="${'com.etisalat.core.models.CommonLinkModel' @link=customLink}"/>


	   <sly data-sly-test="${properties.promoTilevariation == 'textonly'}"
	        data-sly-use.TextOnlyTemplate="textonly.html"
	        data-sly-call="${TextOnlyTemplate.TextOnly @ properties=properties , commonlinkmodel=commonlinkmodel}">      
	   </sly>    
	    <sly data-sly-test="${properties.promoTilevariation == 'twocolsleftright'}"
	        data-sly-use.TwoColsLeftRightTemplate="twocolsleftright.html"
	        data-sly-call="${TwoColsLeftRightTemplate.TwoColsLeftRight @ properties=properties,commonlinkmodel=commonlinkmodel}">      
	   </sly> 
	   <sly data-sly-test="${properties.promoTilevariation == 'twocolsleftrightsmall'}"
	        data-sly-use.TwoColsLeftRightSmallTemplate="twocolsleftrightsmall.html"
	        data-sly-call="${TwoColsLeftRightSmallTemplate.TwoColsLeftRightSmall @ properties=properties,commonlinkmodel=commonlinkmodel}">      
	   </sly> 
        <sly data-sly-test="${properties.promoTilevariation == 'twocolsleftrightflipped'}"
	        data-sly-use.TwoColsLeftRightFlippedTemplate="twocolsleftrightsmallflipped.html"
	        data-sly-call="${TwoColsLeftRightFlippedTemplate.TwoColsLeftRightSmallFlipped @ properties=properties,commonlinkmodel=commonlinkmodel}">      
	   </sly> 
 <sly data-sly-test="${properties.promoTilevariation == 'twocolsupdown'}"
	        data-sly-use.TwoColsUpDownTemplate="twocolsupdown.html"
	        data-sly-call="${TwoColsUpDownTemplate.TwoColsUpDown @ properties=properties,commonlinkmodel=commonlinkmodel}">      
	   </sly> 

 <sly data-sly-test="${properties.promoTilevariation == 'videowithbg'}"
	        data-sly-use.videoTemplate="videowithbg.html"
	        data-sly-call="${videoTemplate.VideoWithBg @ properties=properties,commonlinkmodel=commonlinkmodel}">      
	   </sly> 

 <sly data-sly-test="${properties.promoTilevariation == 'textwithbgimg'}"
	        data-sly-use.textWithImgTemplate="textwithimg.html"
	        data-sly-call="${textWithImgTemplate.TextWithImg @ properties=properties,commonlinkmodel=commonlinkmodel}">      
	   </sly> 

 <sly data-sly-test="${properties.promoTilevariation == 'withgradientpurplebg'}"
	        data-sly-use.textWithPurpleTemplate="withgradientpurplebg.html"
	        data-sly-call="${textWithPurpleTemplate.WithGradientPurpleBg @ properties=properties,commonlinkmodel=commonlinkmodel}">      
	   </sly>

<sly data-sly-test="${properties.promoTilevariation == 'withsolidbg'}"
	        data-sly-use.textWithSolidBgTemplate="withsolidbg.html"
	        data-sly-call="${textWithSolidBgTemplate.WithSolidBg @ properties=properties,commonlinkmodel=commonlinkmodel}">      
	   </sly>
