<template  data-sly-template.TextWithImg="${ @ properties,commonlinkmodel}">
<div class="promo-grid-tile-4-0 with-image">
    <a href="${commonlinkmodel.link}" target="${properties.linkBehavior == 'opennewwindow'?'_blank':'_self'}" class="link-cover"></a>
    <div class="promo-img">
        <div class="cover">
            <picture data-sly-use.viewPortObj="${resource.path}">
               <sly data-sly-list="${viewPortObj.listChildren}">
                  <source data-sly-test="${item.fileReference}" srcset="${item.fileReference}" media="(max-width: ${item.media})">
               </sly>
               <sly data-sly-list="${viewPortObj.listChildren}">
                  <sly data-sly-test="${item.media == '992px'}">
                     <img src="${item.fileReference}" class="cover" alt="${item.altText}">
                  </sly>
               </sly>
            </picture>
        </div>
    </div>
    <div class="promo-content">
        <div class="content-only">
            <div class="wst-secondary-headings">
                <h4>${properties.promopretitle}</h4>
            </div>
            <div class="wst-main-headings">
                <h4>${properties.promotitle}</h4>
            </div>

<div class="paragraph-styling ul-list-cms">
                <div class="p2">
                   <p>${properties.jcr:description @context='html'}</p>
                </div>
            </div>
        </div>
        <div class="third-action-wrapper action-btn-default">
            <a href="${commonlinkmodel.link}" target="${properties.linkBehavior == 'opennewwindow'?'_blank':'_self'}" class="btn btn-default ripple-effect">${properties.promoCTATitle}</a>
        </div>
    </div>
</div>
</template>
