<template  data-sly-template.TextOnly="${ @ properties, commonlinkmodel}">
   <div class="promo-grid-tile-4-0 text-only">
      <a data-sly-test="${properties.cardLink}" href="${commonlinkmodel.link}" target="${properties.linkBehavior == 'opennewwindow'?'_blank':'_self'}" class="link-cover"></a>
      <div class="promo-content">
         <div class="content-only">
            <div data-sly-test="${properties.promopretitle}" class="wst-secondary-headings">
               <h4>${properties.promopretitle}</h4>
            </div>
            <div data-sly-test="${properties.promotitle}" class="wst-main-headings">
               <h4>${properties.promotitle}</h4>
            </div>
            <div data-sly-test="${properties.jcr:description}" class="paragraph-styling ul-list-cms">
               <div class="p2">
                  <p>${properties.jcr:description @context='html'}</p>
               </div>
            </div>
         </div>
         <div data-sly-test="${properties.cardLink}" class="third-action-wrapper action-btn-default">
            <a href="${commonlinkmodel.link}" target="${properties.linkBehavior == 'opennewwindow'?'_blank':'_self'}" class="btn btn-default ripple-effect">${properties.promoCTATitle}</a>
         </div>
      </div>
   </div>
</template>