<template  data-sly-template.TwoCols="${ @ properties,commonlinkmodel,imageViewportModel}">
   <div class="promo-grid-tile-4-0 ${properties.twoColVariation}">
      <a data-sly-test="${properties.cardLink}" href="${commonlinkmodel.link}" target="${properties.linkBehavior == 'opennewwindow'?'_blank':'_self'}" class="link-cover"></a>
      <sly
         data-sly-use.ImageTemplate="image.html"
         data-sly-call="${ImageTemplate.Image @ properties=properties , commonlinkmodel=commonlinkmodel ,imageViewportModel=imageViewportModel}">      </sly>
      <div class="promo-content">
         <div class="content-only">
            <div data-sly-test="${properties.promopretitle}" class="wst-secondary-headings">
               <h4>${properties.promopretitle}</h4>
            </div>
            <div data-sly-test="${properties.promotitle}"  class="wst-main-headings">
               <h3 data-sly-test="${properties.twoColVariation == 'two-cols-up-down'}">${properties.promotitle}</h3>  
                <h5 data-sly-test="${properties.twoColVariation != 'two-cols-up-down'}">${properties.promotitle}</h5>
            </div>
            <div data-sly-test="${properties.jcr:description}" class="paragraph-styling ul-list-cms">
               <div class="p2">
                  <p>${properties.jcr:description @context='html'}</p>
               </div>
            </div>
         </div>
		 
		 <sly data-sly-set.link="${properties.ctaStyle == 'btn-text learn-more' 
                                  || properties.ctaStyle == 'link btn-text btn-green learn-more' ? 'link' : ''}"/>
         <sly data-sly-set.defaultButton="${properties.ctaStyle == 'btn btn-default' ? 'action-btn-default' : ''}"/>
         <sly data-sly-set.transparentButton="${properties.ctaStyle == 'btn btn-default btn-transparent' ? 'action-btn-default transparent' : ''}"/>
         <sly data-sly-set.greenButton="${properties.ctaStyle == 'btn btn-green' ? 'action-btn-green' : ''}"/>
         <sly data-sly-set.orangeButton="${properties.ctaStyle == 'btn btn-orange' ? 'action-btn-orange' : ''}"/>
         <sly data-sly-set.ctaStyleNotAuthored="${!properties.ctaStyle ? 'action-link' : ''}"/>
		 
         <div data-sly-test="${properties.cardLink}" class="third-action-wrapper ${ctaStyleNotAuthored} ${defaultButton} ${link} ${transparentButton} ${greenButton} ${orangeButton}">
            <a href="${commonlinkmodel.link}" target="${properties.linkBehavior == 'opennewwindow'?'_blank':'_self'}" class="${properties.ctaStyle ?  properties.ctaStyle : 'link'}">${properties.promoCTATitle}</a>
         </div>
      </div>
   </div>
</template>