<sly data-sly-use.elifeAddonsTile="com.etisalat.core.models.ElifeAddonsTileModel" data-sly-use.templates="core/wcm/components/commons/v1/templates.html" />

${elifeAddonsTile.backgroundColor} ${elifeAddonsTile.brandText} ${elifeAddonsTile.productTitle} ${elifeAddonsTile.productPrice} ${elifeAddonsTile.productOldPriceText} ${elifeAddonsTile.productOldPrice} ${elifeAddonsTile.productCurrency}
${elifeAddonsTile.vatInclude} ${elifeAddonsTile.availabilityButtonText} ${elifeAddonsTile.availabilityButtonLink} ${elifeAddonsTile.buyNowAltText}

<sly data-sly-call="${templates.placeholder @ isEmpty = !elifeAddonsTile.brandText}"></sly>
