.anamarati-plans {
  &.buynow-modal {
    .nv-row {
      flex-direction: row;
    }

    .nv-modal-close {
      svg {
        position: static;
      }
    }

    .nv-modal-content {
      padding: toRem(24) 0;

      @include respond-to-min($desktop) {
        padding: toRem(48) 0;

        .nv-modal-header {
          padding-bottom: toRem(30);
        }
      }

      .nv-title-gray {
        color: $steel-grey;
        line-height: 1.6;
      }

      .nv-section-sub-title {
        color: $steel-grey;
        line-height: toRem(24);
      }
    }

    .container {
      @include container();
    }
  }
}
