.anamarati-plans {
  &.buynow-modal {
    .nv-row {
      flex-direction: row;
    }

    .nv-modal-close {
      svg {
        position: static;
      }
    }

    .nv-modal-content {
      padding: toRem(24) 0;

      @include respond-to-min($desktop) {
        padding: toRem(48) 0;

        .nv-modal-header {
          padding-bottom: toRem(30);
        }
      }

      .nv-title-gray {
        color: $steel-grey;
        line-height: 1.6;
      }

      .nv-section-sub-title {
        color: $steel-grey;
        line-height: toRem(24);
      }

      .migrate-to-plan {
        @include respond-to-min($desktop) {
          border-left: 1px solid $cream-brown;

          @include rtlBlock() {
            border-left: none;
            border-right: 1px solid $cream-brown;
          }
        }
      }
    }

    .container {
      @include container();
    }
  }

  &.benefits-modal {
    &.nv-modal.right-modal {
      .nv-modal-dialog {
        .nv-modal-content {
          height: 100%;
          overflow-x: hidden;
          overflow-y: auto;
          padding-left: 0;
          padding-right: 0;

          .nv-modal-title {
            margin-top: 0;
          }
        }

        .nv-modal-header {
          border-bottom: 1px solid $dark-overlay;
          margin: 0 0 1.5rem;
          padding: 0 0 1rem;

          @include respond-to-min($desktop) {
            margin: 0 0 rem;
            padding: 0 0 1.5rem;
          }
        }

        .nv-modal-body {
          overflow: visible;
          padding: 0;
        }

        .nv-bg-colors {
          border-radius: 8px;
          display: inline-block;
          font-size: 12px;
          font-weight: 700;
          line-height: 1.33;
          padding: 1px 0.5rem;

          @include respond-to-min($desktop) {
            border-radius: 16px;
            font-size: 14px;
            line-height: 1.43;
          }
        }
      }
    }
  }
}
